[2017-02-13 08:02] #9742 closed

[2017-02-13 08:07] brettsmason commented on #9713
@christianmagill Thanks for raising this issue. Do you see any use cases where you might want to keep the transition? My initial reaction is we could remove it as I cant see it being needed.

[2017-02-13 08:16] brettsmason commented on #9719
@IamManchanda I'm going to close this if you don't mind, as I think #9736 covers this too, and that covers all the prototyping features.

[2017-02-13 08:16] #9719 closed

[2017-02-13 08:32] IamManchanda commented on #9719
Yup exactly ! @brettsmason

[2017-02-13 08:35] IamManchanda commented on #9607
@brettsmason closing this also as #9736 (#9738) covers this too, which covers all the prototyping features.

[2017-02-13 08:35] #9607 closed

[2017-02-13 09:45] AdamBarnwell opened #9773 "Abide max & min attributes"
Was min/max added to Abide's number validation (#4059)? It's supported by HTML5 validation, so it seems like Abide should handle it also.

It was also mentioned as being part of #4710 but never implemented. Is it possible to have it implemented?

[2017-02-13 09:48] jagexAllstar commented on #9773
Agreed this would be very very useful to have. Currently I have to regex pattern around this problem

[2017-02-13 12:41] IamManchanda commented on #9682
@brettsmason ..... is this under radar? ....  I mean no labels ?

[2017-02-13 12:54] brettsmason commented on #9682
@IamManchanda Yes I'm sure its planned. The plan I think is to port missing parts over from Apps, though I guess this probably wont happen until 7.0 (though I'm not sure).

[2017-02-13 14:16] brettsmason commented on #8433
From looking at the codebase this looks like it should of been fixed so I'm going to close this.
If you are still having issues however please reopen! 😄

[2017-02-13 14:16] #8433 closed

[2017-02-13 14:28] christianmagill commented on #9713
I'm fine with removing it, as long as it doesn't effect transitions when opening and closing regularly

[2017-02-13 15:08] IamManchanda commented on #9682
i think for this, the label should be **vintage feature request** ..... lol :smile:

[2017-02-13 20:27] marvinhuebner opened #9775 "Button-Group mixin with $buttongroup-spacing variable"
Sometimes it is helpful to create is own button-group. With the usage from the `include button-group()` mixin this is already possible, but sometimes there is a need for more or less button-space. The mixin takes the global `$buttongroup-spacing`, so there is no possibility to pass his own spacing to the mixin.

It would be great to have this feature implemented.

[2017-02-13 22:17] CGTS commented on #9767
Anyone have any ideas how to implement something like this in the interim?

[2017-02-14 00:10] noerjeffries opened #9776 "[The Grid] Block Grids & Display:none"
#### How to reproduce this bug:

1. Set up a [Block Grid](https://foundation.zurb.com/sites/docs/grid.html#block-grids) as shown in the example [here](https://foundation.zurb.com/sites/docs/grid.html#block-grids).
2. Add a style="display:none;" attribute to the first "column" div (or a visibility class that would result in that div being hidden).
3. Notice how, when that div is hidden, its row has

[2017-02-14 14:18] mrcasals opened #9778 "Dropdown menu on Chrome is not handling links properly"
#### How to reproduce this bug:

1. Install Chrome. I could reproduce this in Chrome Android and Chrome Mac
1. Visit http://foundation.zurb.com/sites/docs/dropdown-menu.html
1. If on desktop, open developer tools and emulate a mobile device
1. Go down to the Horizontal Menu example.
1. Click item `Item 1A`

On Firefox, URL is changed to http://foundation.zurb.com/sites/docs/dropdown-menu.html#Item

[2017-02-14 15:18] IamManchanda commented on #9778
Probable Duplicate of #9774, #9691, #9652, #7129, #7143 ( & many other )

and most probably already fixed in #9546 ( develop branch )

[2017-02-14 15:27] IamManchanda commented on #9776
Although a bug, but the way code is written in block grids , this is bound to happen

[code]

[2017-02-14 15:30] IamManchanda commented on #9776
Friendly advice: Use flexbox => https://codepen.io/IamManchanda/pen/QdYJYb

http://foundation.zurb.com/sites/docs/flexbox.html

[2017-02-14 16:01] IamManchanda commented on #9775
Looks logical to me, created a PR for the same #9779

[2017-02-14 16:03] noerjeffries commented on #9776
Thanks Harman! Flexbox seems like a better solution. I'll go ahead and close this issue!

[2017-02-14 16:03] #9776 closed

[2017-02-14 16:04] IamManchanda commented on #9776
Yup Noah .... flexbox is a better one
because then with flexbox code becomes

[code]

[2017-02-14 16:31] IamManchanda commented on #9767
poke @kball => http://jsfiddle.net/Z7P5L/4/

[2017-02-14 16:40] CGTS commented on #9767
Thanks I'll take a look at this.

[2017-02-14 17:22] orangedaisy commented on #9765
What about using the `.title-bar` component on small screens? [CodePen example](http://codepen.io/reverendgeneral/pen/PWVLzB).

[2017-02-14 17:33] IamManchanda commented on #9765
Nah @orangedaisy menu's are generally for main navbar

If you ask me, Things like sidebar's/tabs shouldn't be like navbar!

[2017-02-14 17:48] orangedaisy commented on #9765
@IamManchanda - It is entirely case-dependent.

The `.title-bar` isn't inherently reserved for a "main navbar," and can readily be styled to fit any context. You could change the background color and use a different icon, for example, and it would appear nearly identical to a select element.

I'm not sure adding more code and complexity is a good idea here, especially when Foundation already has a

[2017-02-14 18:14] IamManchanda commented on #9765
Sorry @orangedaisy but i disagree with you .... because its still giving that navigation feeling
and i dont like that navigation thing in sidebars/tabs

I personally will instead use [Responsive accordion tabs](http://foundation.zurb.com/sites/docs/responsive-accordion-tabs.html) if Responsive Select Menu Tabs doesn't get the nod ahead

[2017-02-14 18:17] IamManchanda commented on #9767
Special Note: This functionality should be added in both ..... tabs and accordions ( and of course responsive accordion tabs also )

[2017-02-14 18:47] orangedaisy commented on #9765
@IamManchanda did you see my updated [CodePen](http://codepen.io/reverendgeneral/pen/PWVLzB)?

![tabs-1](https://cloud.githubusercontent.com/assets/8375612/22943604/1bd9ee02-f2bc-11e6-931d-a78a07d8d8e3.png)
![tabs-2](https://cloud.githubusercontent.com/assets/8375612/22943605/1bdd0128-f2bc-11e6-835e-2451033dfc25.png)

I'm not understanding your concerns about "navigation feeling." The `.title-bar`

[2017-02-14 19:20] IamManchanda commented on #9765
Select menu and nav menu is two different concept altogether when we talk  mobile

![screenshot_2017-02-15-00-44-21](https://cloud.githubusercontent.com/assets/4970624/22944818/fb77fe36-f317-11e6-82b2-73076dc6ff71.png)

![screenshot_2017-02-15-00-40-11](https://cloud.githubusercontent.com/assets/4970624/22944843/0f8b7664-f318-11e6-83b8-98e113af8fa6.png)

[2017-02-14 19:22] orangedaisy commented on #9765
They're different components, yes. I'm not arguing that. I _am_ arguing that the behavior is so wildly different that we can't reuse existing components. In both cases, you're performing exactly the same actions.

[2017-02-14 21:51] colin-marshall commented on #9673
Thanks for the updates @anselmdk. We're actually rewriting sticky for 6.4 so I think we'll probably just end up closing this issue but I'll wait for @kballl to weigh in on it first.

[2017-02-14 22:00] colin-marshall commented on #9748
@guci0 can you redo your example with the attribute `data-sticky-on="large"` please?

[2017-02-15 14:19] jmsfwk opened #9782 "Reveal is not closed by pressing Space"
Space does not trigger a Reveal to close on Firefox Developer Edition 53.0a2 (2017-02-11) (64-bit).

#### How to reproduce this bug:

1. Create a Reveal with a Close Button
2. Focus on the Close Button
3. Press <kbd>Space</kbd>

#### What should happen:

Reveal should close and return focus to the element focused before the Reveal was opened.

#### What happened instead:

The Reveal stays open and

[2017-02-15 16:02] jellisii opened #9783 "[Abide] requiredCheck() does not return a boolean as expected."
#### How to reproduce this bug:

1. Have an abide form with an arbitrary input.
2. Fire `$('#form').foundation('requiredCheck', $('#input'));`

#### What should happen:

The code indicates it should return a boolean.

#### What happened instead:

The code returns the form object in its entirety.

#### Test case:

https://codepen.io/jellisii/pen/MJxGGv

Please note that this may be a misunderstandi

[2017-02-16 10:26] phifa opened #9785 "uncollapse class does not take additional gutters into account"
#### How to reproduce this bug:

[code]

#### What should happen:

On `large` breakpoint, I would expect to have normal padding (from the `$grid-column-gutter` map).

#### What happened instead:

But instead I get the no padding, from the `small-collapse` class.

#### Test case:

Here everything works, as expected.
https://codepen.io/ncoden/pen/qqvpQj

But as soon as you add another gutter variabl

[2017-02-16 10:46] phifa opened #9786 "Feature Proposal: Space Mixing"
I built a mixin that I use all the time, and I wanted to share this. Maybe something like this can be an integrated helper mixin? The idea behind it is simple: I often find myself in the situation, where I need spacing, this can be padding, margin or simple left, right positioning. And very often I wanted this spacing to be dependent on my current gutter.

I am not an expert in scss, so I would we

[2017-02-16 12:57] IamManchanda commented on #9786
Duplicate to #9607

Infact,
Pending PR ( Prototype Mode ) =>  #9738 ( #9736 )

But i am happy you raised it ,
but please note ( as it should ) that prototype mode is not enabled by default
as everyone don't wants it!
But you can customize that easily.

[2017-02-16 13:18] phifa commented on #9786
@IamManchanda this has nothing to do with prototyping.

[2017-02-16 15:55] IamManchanda commented on #9786
Oh yeah .... i just read that title .... so what's your motive then ?

[2017-02-16 16:44] IamManchanda commented on #9675
https://jonsuh.com/hamburgers/

[2017-02-16 17:36] canterberrie commented on #9325
Hey, this is going to be fixed in a PR for fixing button group spacing. You can see the commit here: https://github.com/zurb/foundation-sites/commit/22f33f072dcbbd33d2dfc03d476a4fc00acafeb6#diff-d0689b3f481699857ae2680a820ff6aaR39

[2017-02-16 19:11] christianmagill opened #9787 "Context option for Magellan and Sticky"
I have multiple full height panels in my layout which have overflow set for vertical scrolling when necessary.

I want to use a magellan based sticky navigation for the left side content panel, but since sticky and magellan are based on the main scrollbar this fails to work.

It would be very useful to have a context option like Waypoints:
http://imakewebthings.com/waypoints/api/context-option/

T

[2017-02-16 19:20] davicho opened #9788 "motion-ui bug on orbit carousel"
#### How to reproduce this bug:

This is exactly what my problem is:

1. Visit: [F6 Orbit](https://foundation.zurb.com/sites/docs/orbit.html) on mobile (must be a mobile device not, resized desktop window)
2. Go to any Orbit slide
3. Swipe (left/right) the slide WHILE motioning up or down (may take several swipes to trigger error below)

#### What should happen:
The slide should go to the next sli

[2017-02-16 21:07] renwalker opened #9789 "Responsive Accordion Tabs: data-multi-expand & is-active class"
#### How to reproduce this bug:
Start with tab markup. Added data-multi-expand="true" option.
`<ul class="tabs" id="demoTabs" data-responsive-accordion-tabs="accordion medium-tabs" data-multi-expand="true">`

#### What happened:
- On small screen, when you open multiple accordions, 'is-active' classes gets added (as expected).
- When resizing to a medium up screen, 'is-active' classes remain on ta

[2017-02-17 02:45] huytrq commented on #9748
Same.
I added the attribute `data-sticky-on="large"`. It works well on the desktop but not correct on small and medium.

[2017-02-17 03:01] markau opened #9790 "NuGet package for foundation-sites is missing scss/_vendor folder"
#### How to reproduce this bug:

1. Use NuGet package manager to install foundation-sites
2. Look in the scss folder and note absence of a _vendor subfolder

#### What should happen:

The scss folder should contain a _vendor subfolder

#### What happened instead:

There is no _vendor subfolder

[2017-02-17 05:33] logopogo opened #9791 "[Equalizer] Image Src ulr parameter interference"
#### How to reproduce this bug:

1. Create markup for a standard Equalizer setup

#### What should happen:
Images left alone or given more consideration.

#### What happened instead:
Elements are Equalized fine, however Foundation seems to be adding a random 13 digit number as a url parameter to any image src url within the parent 'data-equalizer' element.
Generally this might be fine unless your

[2017-02-17 07:05] IamManchanda commented on #9791
yeah => //placehold.it/600x400?1487314976469

[2017-02-17 10:46] phifa commented on #9786
This is a helper mixin. Let's say for example you have a footer and you want it to have a margin-top that corresponds with the overall gutter spacing of the site (double it). Also it should have padding-top and padding-bottom, that corrosponds with the current gutter. This is how this mixin can help then:

[code]

## results in this css

[code]

[2017-02-17 15:31] denisahac commented on #9789
Though your reasoning is correct, that only the active element should have the **is-active** class on medium up breakpoints in this scenario. However to preserve the state when you're going back to small screen size, the classes should not be removed.

And I believe to achieve the desired effect without having the extraneous **is-active** class added on multiple elements when only a single element

[2017-02-17 17:02] brondsem commented on #8893
Point 3 (flex grid example of 12/6/4 and 12/6/8 not going to full 12 on small) is still an issue, I think.  The previous comment explains all the details.  I ran into this on my own work, and then looked at the docs and the docs were misleading.

[2017-02-17 22:30] dragthor commented on #9783
This works:

[2017-02-17 22:39] dragthor commented on #9783
I am seeing this in your CodePen:

Uncaught ReferenceError: We're sorry, 'requiredCheck' is not an available method for this element.

[2017-02-17 22:54] dragthor commented on #9790
I am not seeing this problem.  Did you run anything (npm start or npm test:javascript or test:css) ?

![capture](https://cloud.githubusercontent.com/assets/156634/23086209/c8d435fc-f539-11e6-9b87-b2afdbf38559.PNG)

[2017-02-17 22:55] dragthor commented on #9782
Unsure about this request.  Fairly sure that Zurb 5.x did not have this behavior.

[2017-02-17 23:58] dragthor commented on #9791
This should be fixed now - https://github.com/zurb/foundation-sites/commit/efcb12ff9f9ffeb470894bae4182b47dfe45fde3

I recommend closing this issue.

[2017-02-18 00:52] jmsfwk commented on #9782
When used with a callout Close Button is activated by <kbd>Space</kbd>.

https://codepen.io/jmsfwk/pen/ggJogd

[2017-02-18 01:37] #9791 closed

[2017-02-18 05:50] IamManchanda commented on #9782
Yes callout's have these ..... i feel like this should be there in modal close too considering accessibility!

[2017-02-18 12:53] tw42 commented on #9741
This bug appears when dropdown trigger is close to the right edge of the window. In this case dropdown pane gets .left class and positions incorrectly.

http://codepen.io/tw42/pen/dNEvOJ

[2017-02-18 13:00] dragthor commented on #8839
You were using http://alvarotrigo.com/fullPage/ with an orbit?  Do you have a CodePen?

[2017-02-18 20:40] paxperscientiam opened #9793 "Suggestion: some delegation for helping with larger development efforts"
Hello,

So, it seems that there are some major alterations to the grid system under consideration. Considering the size of this task, I think it would be good if there were a bit of delegation.

I definitely want to get my hands dirty, but it is unclear what the progress is on that front.

[2017-02-18 23:30] paxperscientiam opened #9794 "Ease migration of SASS configuration -- simple proof of concept inside"
An idea I floated a while back, pertained to the relative difficulty of migrating one's SASS configuration files across major releases of Foundation for Sites.

Consider the following:
Goal:
* One builds with Foundation for Sites SASS assets.
* One migrates from the v6.2 to the v6.3 codebase.

Obstacles to successful migration:
* Finding and removing deprecated variables and such in one's current

[2017-02-19 04:07] IamManchanda commented on #9794
I personally like this... Please create PR... if you ask me

[2017-02-19 05:20] paxperscientiam commented on #9794
Thanks for your reply @IamManchanda

Coding specifics aside, you think the approach is good from a UX stance? Any thoughts how best to indicate deprecated variable value types? Perhaps some pseudo (or real!) code examples?

[2017-02-19 11:17] IamManchanda commented on #9794
Tag @ncoden coz i feel he is the right person to answer you on this !

[2017-02-19 13:26] BrittiaGuiriec opened #9795 "Styling dropdown menu in F6 with pure CSS (no SASS)"
[Impossible to post on forum : deleted as if spam... :( ]

I'm new on F6 and trying to figure out how to customize dropdown menu with pure CSS (no SASS : almost every post I found was dealing with Sass...).

#### How to reproduce this "bug":

1. Step one

I've put a top-bar + dropdown menu on a website

2. Step two

Can't find how to modify : dropdown width & dropdown border

#### What should happ

[2017-02-19 13:28] IamManchanda commented on #9793
1. #9569 As of v6.4, Full Grids rework is under progress
2. #9591 As of near future, Foundation is moving to flexbox only ( dropping IE9 ) and infact is been more and so decided .... On my latest memories #9776 proves that why it will be a great move.
3. #9699 As of v7, Margin grids ( calc based grids ) is under consideration.
Some of its benefit => https://github.com/zurb/foundation-sites/issues/

[2017-02-19 13:47] IamManchanda commented on #9795
@BrittiaGuiriec We need to look at your code to see the issue ....

Consider adding your code to codepen
Foundation without flexbox => http://codepen.io/IamManchanda/pen/vgemXR
Foundation with flexbox => http://codepen.io/IamManchanda/pen/xgXdRq

[2017-02-19 14:19] IamManchanda commented on #8479
Its so unfortunate that due to MR IE,
Things like [Picture tag](http://caniuse.com/#search=picture) and [srcset](http://caniuse.com/#search=srcset) can't get a go till now and we have to use something interchange!

[2017-02-19 16:37] BrittiaGuiriec commented on #9795
Update :

- Round corners solved
- Dropdown items width : solved

But, impossible to get rid of box border of dropdown, over and around 1st level item (generated by js plugin ?). Have found this selector while playing a while with inspector, but does'nt work (tried border : none and box-sizing : content-box, none worked, even with !important)

li.has-submenu.is-dropdown-submenu-parent.is-down-arro

[2017-02-19 17:26] paxperscientiam commented on #9793
Great references -- thanks for sharing!

[2017-02-19 18:06] BrittiaGuiriec commented on #9795
Same issue with Google Chrome : there is a blue line surrounding all item menu (1st item + sub-menu) on over. With Firefox (pict. above), there is a white line.

Here's a pict of the issue under Chrome...http://www.aht.li/3026939/pb-dropdown4.png

[2017-02-20 11:35] snoopdouglas opened #9796 "Don't reload as well as stream changes to watched Sass in the ZURB template"
#### How to reproduce this bug:

1. Create a new Foundation for Sites project with the ZURB template
2. `npm start`
3. Change a watched stylesheet

#### What should happen:

Changes should be streamed to the browser without a full reload

#### What happened instead:

The browser fully reloads the page

#### Pull request:

I've created a [PR for the ZURB template](https://github.com/zurb/foundation

[2017-02-20 12:45] kyledesousa87 commented on #9679
Hi could you show me how you included the js file in the app.js folder in src directory, i installed the Slick carousel via bower install and got the scss files to import but how does one add the js file so I can init my js function for the carousel. your guide would be awesome

[2017-02-20 13:08] jinch commented on #9679
These are more third party component questions than Foundation so it may be better to reference their source demo files directly (http://kenwheeler.github.io/slick/). In regard to my setup though, the below JS is how I implemented in my app.js file.

/*START SLICK CAROUSEL*/
$(document).ready(function(){
  $('.related_products').slick({
	  dots: true,
	  infinite: false,
	  speed: 300,
	  slidesTo

[2017-02-20 13:30] kyledesousa87 commented on #9679
Hi jinch, thanks for the speedy response, but dont you also have to do //=require ('slick.js'); in the app.js file or do you call the external js slick files in the Html before body tag, the problem im having is loading the bower js files in the Dist folder the one for productions

[2017-02-20 13:44] jinch commented on #9679
You would call that in the HTML. Honestly, it's been awhile since I had to do this and I used the SASS compiler to load mine so the setup was a bit different but in general you are correct. If you call the slick.js directly on your HTML page you should be fine. Really best to download their demo and inspect the code they used.

Make sure your paths to the files are correct but if you look at their

[2017-02-20 14:07] kyledesousa87 commented on #9679
I was hopeing to call the js files all in one file in the app.js file then minify that with gulp, but if foundation needs to call it externally ill do so, thanks for all the help, cheers

[2017-02-20 15:41] brettsmason commented on #9794
@paxperscientiam Thanks for raising this!
Your approach sounds interesting - I'd definitely like to see it explored further, as you are right, it is an issue with every release.

I think @kball would have an opinion on this too - I'm not sure if any other solutions have been flagged for this issue or not.

[2017-02-20 15:43] orangedaisy commented on #9795
Looks like [`outline`](https://developer.mozilla.org/en-US/docs/Web/CSS/outline) might be the property you need to change.

[2017-02-20 15:49] BrittiaGuiriec commented on #9795
Yes it is, indeed ! :) I found it yesterday evening...

a{outline : none;}

Even tried a{outline: hidden;} but there is still a border around active first level links.

Update : border : solved

I'll post my HTML+CSS code in my repositories if it can help other people with accurate selectors...

[2017-02-20 16:21] IamManchanda commented on #9793
welcome @paxperscientiam ..... you may close this now.

[2017-02-20 16:45] dlewand691 commented on #8016
I am also seeing this issue. Menu links get the active class on click, but not when section scrolls into place.

[2017-02-20 17:58] brettsmason commented on #9793
I actually think we should keep this open for now as I think it might need discussing some more. You are right in that it should be clearer what's being worked on and how others could help.

@IamManchanda thanks for proving the links by the way :)

[2017-02-20 18:02] IamManchanda commented on #9793
ohk dok ,,,,,, keep it open then :smile:

[2017-02-20 18:40] IamManchanda commented on #9793
@paxperscientiam But i must say if you are looking to volunteer.... #9487 can be a good headstart
and with the assignee of that @ncoden absent these days .... i think you should take that up if you are looking to, which i think you are ( https://github.com/zurb/foundation-sites/pull/9487#issuecomment-266176863 ) ...

[2017-02-20 19:12] paxperscientiam commented on #9794
OK folks, I'm going to explore more. I'll keep on this thread for further input. As well, keep an eye on this for further developments.

[2017-02-20 22:26] paxperscientiam commented on #9794
[Here](https://github.com/paxperscientiam/migrate-config/blob/master/migvar) I have a rough solution that works with BSD cut and sed; and a solution that works with GNU cut and sed.

It's probably not the fastest solution. So, if someone knows of a faster incantation, please lemme know.

In the mean time, I press on with the next goal (see updated OP).

[2017-02-21 04:46] cranst opened #9797 "abide validation not working for iOS"
I have a form that I'm working on with Foundation and Abide. I was testing all on desktop to get the form ready, but decided to test Android and iOS. I'm glad I did because I found that iOS treated the form as if Abide was not even there. Submitted without validation. Android and desktop all tested just fine.

submit this form on mobile (iOS) and the form will submit regardless of validity
http://

[2017-02-21 06:31] maclein commented on #9484
been facing the same issue. i'm using foundation sass through the cli so it's the latest version (6.3.0) and the dropdown menu items are not clickable on my mobile phone. the `data-close-on-click-inside="false"` solution mentioned by @memoht worked as a temporary fix for now.

[2017-02-21 10:54] BartHuis commented on #9508
@ncoden I downloaded the most recent version with the settings untouched, only copied to an own folder. getting the following too:
` error  in ./resources/projectname/assets/sass/app.scss

Module build failed:
  $rgba: red($color), green($color), blue($color);
        ^
      Argument `$color` of `red($color)` must be a color

Backtrace:
        node_modules/foundation-sites/scss/util/_color.scss:

[2017-02-21 11:09] MProG opened #9798 "[Right-to-Left Support] Page is invisible"
#### How to reproduce this bug:

1. In rails 5.0.1 application i add dir="rtl" lang="ar" to html tag.(i try only on local machine)
2. Open application in chrome or opera neon browser(in safari all work fine)

#### What should happen:
User should see page.
#### What happened instead:
Sometimes(more then 50% times) page is invisible. But all links are avaliable. Browser consloe hasn't any errors.
Wh

[2017-02-21 11:43] SassNinja opened #9799 "[Improvement] dropdown position configuration"
I like the framework's dropdown component. But very often its configuration is much to limited for me and I can't use it. The main issue in my eyes is the limited position configuration.

On the one hand I think it's inappropriate to bind the horizontal position to a float class (I have to use a custom float-none class if I don't need the float but only the position). On the other hand (much more

[2017-02-21 13:26] maclein commented on #8828
@kball using the latest version of foundation. the FOUC issue on the orbit plugin has not been resolved by #9317

[2017-02-21 13:50] IamManchanda commented on #9798
can you attach screenshots .... also i would need to check out your code @MProG

[2017-02-21 16:40] IamManchanda opened #9800 "[Mixins] Font Face Mixin"
I want to add a mixin called **font-face** within http://foundation.zurb.com/sites/docs/sass-mixins.html

[code]

Usage

[code]

cc / @brettsmason @rafibomb @kball on whether i should do a **PR** or not !

[2017-02-21 17:24] IamManchanda opened #9801 "[Mixins] Background Gradient"
I want to add a mixin called **background-gradient** within http://foundation.zurb.com/sites/docs/sass-mixins.html

[code]

Usage:

[code]

cc / @brettsmason @rafibomb @kball on whether i should do a **PR** or not !

[2017-02-21 18:43] jellisii commented on #9783
I'm not seeing what you're indicating with the uncaught reference.  In both Chromium and Firefox on Ubuntu, I'm getting back the jQuery form object, which is what I don't expect.

From the documentation at http://foundation.zurb.com/sites/docs/abide.html:

It's my understanding that `$('#element')` is the form to which abide is attached.  Is this a wrong statement?

[2017-02-22 02:00] IamManchanda commented on #9795
You may close it now if your issue is resolved

[2017-02-22 06:39] paxperscientiam commented on #9793
I will likely start a new thread for this, but here is an example of a relatively opinionated template for a newspaper "app". I very much agree with @ncoden on #9569 wrt to "modularization."

This has the potential to really clean up markup if HTML5 semantic elements are leveraged and encouraged.

[newspaper](https://github.com/paxperscientiam/foundation-sites/tree/newspaper-example)

[2017-02-22 13:08] MProG commented on #9798
@IamManchanda http://g.recordit.co/s2x2aWlPn2.gif This is gif with behavior.
<img width="625" alt="2017-02-22 16 06 44" src="https://cloud.githubusercontent.com/assets/8362820/23212709/020de5c4-f919-11e6-9d6e-8a90c72b37d5.png"> and scss
<img width="302" alt="2017-02-22 16 07 54" src="https://cloud.githubusercontent.com/assets/8362820/23212724/1ceb22e4-f919-11e6-840e-d32a36bbcf17.png">

[2017-02-22 14:55] randmanrjr commented on #8156
This appears to still be broken in 6.3.0. The fix from mlang38 fixed this for me.

[2017-02-22 15:00] IamManchanda commented on #8156
@randmanrjr Then go ahead and make a PR !
=> https://akrabat.com/the-beginners-guide-to-contributing-to-a-github-project/

[2017-02-22 15:15] rebelrebel82 commented on #7446
+1 same

[2017-02-22 15:16] rebelrebel82 commented on #7446
Some help would be very appreciated

[2017-02-22 17:25] orangedaisy commented on #9801
Be more explicit with your properties. A gradient is a `background-image`, not just `background`. Likewise, the fallback color should use `background-color`.

h/t https://csswizardry.com/2016/12/css-shorthand-syntax-considered-an-anti-pattern/

[2017-02-22 17:31] paxperscientiam commented on #9569
With due deference to PR #9487, here is an example of a relatively opinionated template for a newspaper "app". I very much agree with @ncoden wrt to "modularization."

This has the potential to really clean up markup if HTML5 semantic elements are leveraged and encouraged. I cannot help but think that if Foundation for Sites is geared towards _designers_ that the required markup should be as simpl

[2017-02-22 17:53] IamManchanda commented on #9801
Sorry i followed this => https://www.w3schools.com/csS/css3_gradients.asp

Is this what you want @orangedaisy

[code]

[2017-02-22 18:17] orangedaisy commented on #9801
Yes, those would be the correct properties.

I wonder though, is this a valuable mixin to have? What if I want a circle radial gradient from the bottom left? Or a linear gradient with 6 colors on a 78 degree slant? The `linear-` and `radial-gradient` values already take a lot more values than you have here, and use the same syntax.

So in order to get the same output as this:
[code]
you'd just use

[2017-02-22 18:26] IamManchanda commented on #9801
@orangedaisy .... I tend to agree with you .... i will go ahead and close this

Btw i hope you think different for this though => #9800

[2017-02-22 18:26] #9801 closed

[2017-02-23 12:29] dbelieves opened #9805 "safari flex bug fix"
`.row:after, .row:before {content: " ";}`
does not work for safari
`.row:after, .row:before {content: normal;}`
works

http://stackoverflow.com/questions/34250282/flexbox-safari-bug-flex-wrap

[2017-02-23 12:33] dbelieves commented on #9805
please incorporate them in new fixes.
thanks.

[2017-02-23 14:51] ycrepeau opened #9806 "Documentation page issue with iPad in horizontal orientation"
The title says it all. When using an iPad to view the documentation (http://foundation.zurb.com/sites/docs/), the right hand side bar moves to the left when I scroll down (enough to hide the first &lt;hr/>).

![image](https://cloud.githubusercontent.com/assets/6821466/23263839/68d4c338-f9ad-11e6-82b1-229a4560ecb6.png)

[2017-02-23 15:01] ycrepeau commented on #9806
Same behaviour with: Safari, Google Chrome and Firefox.
With Opera mini and Brave, the element does not slides down.

[2017-02-23 15:22] RamanCool commented on #9800
This is a Very Nice Mixin.

[2017-02-23 17:14] IamManchanda opened #9807 "Javascript Technical Update: ECMAScript 2016+ in Firefox"
https://blog.mozilla.org/javascript/2017/02/22/ecmascript-2016plus-in-firefox/

Source: [FrontEnd Daily](https://twitter.com/FrontEndDaily/status/834780217537347588), Mozilla Blog!

[2017-02-23 21:36] Barrakkuda commented on #8221
I also encountered this problem. I'm implementing Foundation 6 in a Magento 1.14 site... Magento uses Prototype.js. The drilldown menu does not work as expected because Prototype.js picks up on a Foundation  "hide" event that is triggered when closing a sub menu item.

[2017-02-24 01:08] julian-rare commented on #7445
nope, still broken in 6.3.0

[2017-02-24 03:00] IamManchanda commented on #9807
https://v8project.blogspot.in/2017/02/high-performance-es2015-and-beyond.html

[2017-02-24 07:58] ompmega commented on #9805
I had the exact same issue and it was because I was including both normal grid and flex grid within the styles.scss file. If you're using sass, try commenting out the normal grid, so that you're only using one or the other, not both.

"The standard grid and flex grid use some of the same classes, namely .row and .column, and don't play nice together. If you want to use both in the same project, we

[2017-02-24 08:05] dbelieves commented on #9805
I am fetching both foundation and foundation-flex from cdnjs.
so there is nothing i can do. i used the fix by overriding it.

[2017-02-24 10:08] BartHuis commented on #9508
@ncoden When using the CLI and using the files that produces, it works. zo i think there's something wrong with the npm installed version? i copied the settings file from the vendor folder as explained in: https://laracasts.com/discuss/channels/elixir/zurb-foundation-6-and-laravel-53/replies/190310

[2017-02-24 10:12] IamManchanda commented on #9805
@dbelieves
You should only fetch one file b/w these two

css/foundation.css
css/foundation-flex.css

[2017-02-24 15:17] brianbier opened #9809 "Foundation Email API"
Hi I love foundation for emails.
Do they have an api I can use to inline my html email styles?

[2017-02-24 15:18] brianbier commented on #9809
Sorry wrong place.

[2017-02-24 15:18] #9809 closed

[2017-02-24 15:18] brianbier opened #9810 "Inline email API"
Hi I love foundation for emails.
Do they have an api I can use to inline my html email styles?

[2017-02-24 15:21] IamManchanda commented on #9810
http://foundation.zurb.com/emails/docs/sass-guide.html

[2017-02-24 15:21] IamManchanda commented on #9810
http://foundation.zurb.com/emails/docs/sass-guide.html#inlining

[2017-02-24 15:26] brianbier commented on #9810
@IamManchanda  Thanks for the advice. I remember seeing this option but I am building a specific program and all i want to do is POST to their server and get the inline html. Do you know if this is possible?

[2017-02-24 15:34] IamManchanda commented on #9810
Sorry but I am not into javascript ( still learning ) .... Poke @kball

But still as far and as much i know ..... foundation email uses **gulp** to inline the html
( Though not 100% sure )

[2017-02-24 15:34] dasanra commented on #9508
@BartHuis In our case the problem was that we used some Foundation 6.2 files as base configuration (like the _settings.scss and the app.scss)
So if any of them use some deprecated methods, like `foreground()` in our case, it will throw an error like the one you are having.
So I think you should look on your custom .scss if you are still using any deprecated function and you should update it to the

[2017-02-24 15:49] BartHuis commented on #9508
@dasanra no, totaly fresh copy of all 6.3 files

[2017-02-24 18:53] ramonchito2 opened #9811 "Dropdown Menu parent link ON DESKTOP, takes two clicks to clickthrough"
#### How to reproduce this bug:

1. Setup default dropdown menu (vertical or horizontal)
2. While hovering over the dropdown menu and children are displaying, try clicking on the parent link
3. After nothing happens, click a second time and notice how the link now works.

#### What should happen:
Link should be clickable on the first try
#### What happened instead:
Parent link has to be clicked tw

[2017-02-24 21:27] jellisii commented on #9783
I think I've sorted this out for myself.  Apologies.

[2017-02-24 21:27] #9783 closed

[2017-02-25 09:10] iamrobert commented on #8016
I was finding that magellan wasn't adding the data-events="scroll" in my code. So - I manually added it to and it now fires.

`<ul class="vertical menu" data-magellan id="magellan" data-events="scroll">`

[2017-02-25 15:31] davePlug commented on #8139
in 6.3.0 seems like the problem is back

[2017-02-25 15:59] denisahac commented on #9800
Not all fonts supports various formats. So any ability to specify the type of formats would be awesome.

[2017-02-25 17:41] IamManchanda commented on #9800
and the best thing can be used for both webfonts and icon fonts!
Proper maintenance @denisahac @RamanCool

[2017-02-25 18:00] IamManchanda commented on #9800
You are right @denisahac  ..... I agree with you
How about

[code]

[2017-02-26 17:36] christianmagill opened #9813 "Feature request "hide-if-no-js" and "show-if-no-js" visibility classes."
Since Foundation will remove a "no-js" class if set on the html tag, a visibility classes for hiding and showing elements based on JavaScript availability could be easily added.

This would be useful for flashes of unstyled content before Javascript is initialized.

[code]

[2017-02-26 18:10] IamManchanda commented on #9813
I have to say i like it what you want, but that 2nd css, `display: block !important;` i guess!

[2017-02-26 18:13] IamManchanda commented on #9813
Here's what i feel the write way to go with it about

[code]

Spl note: I purposely changed those classes name => `.hide-js-element` , `.show-js-element`

[2017-02-26 18:19] christianmagill commented on #9813
Your suggestion for the "show-js-element" class would never hide it in the first place.

Additionally it presupposes that the element to be display "block"

[2017-02-26 18:21] IamManchanda commented on #9813
i am getting confused ..... @christianmagill !
Can you elobrate what you are looking for!

[2017-02-26 18:32] IamManchanda opened #9814 "[Flexbox]Sass Mixin for flex grow/shrink - Prototyping Mixins!"
Inspiration => https://github.com/twbs/bootstrap/issues/21944

But hey no need for classes, just Sass Mixins will be enough btw :sweat_smile:

Simple example,

[code]

[2017-02-26 18:51] IamManchanda commented on #9814
Thinked about it and i think there should be css also, but not much though ...

[code]

This way this will only add four classes `flex-grow-0` to `flex-grow-3`
but will also give the developer a chance to modify it to more if he needs it thanks to `$flex-grow-count`!

[2017-02-26 22:57] rocbar opened #9815 "[Abide] URL and Domain Patterns Failed on local Web Server"
#### How to reproduce this bug:

1. Step one
Use your online doc sample code at http://foundation.zurb.com/sites/docs/abide.html
2. Step two
Go to form field: URL Pattern
3. Step three
Enter: http://localhost/

#### What should happen:
Should pass URL or domain validation for localhost
#### What happened instead:
Failed
#### Test case:
The same HTML sample code tested on my local web server also f

[2017-02-27 08:49] phifa commented on #9483
I really love the $header-styles map!! Can we do the same thing for paragraph? Or some way to set the paragraph font size for small devices in the settings file? Also still, font-weight, color, etc. would be fantastic if we'd get them into the map :) !! feedback? thoughts?

[2017-02-27 11:02] palaniichukdmytro commented on #9508
how to use last version 6.2.4 in bower, after updation all media queries are not working well. How can I use 6.2.4 version insead

[2017-02-27 11:06] palaniichukdmytro commented on #9467
How to roll back in my bower.json to 6.2.4 , cause the media queries are not working

[2017-02-27 13:29] Deckluhm commented on #9807
Not sure I understand what this issue is about? Is that a "feature" request?

[2017-02-27 13:40] Deckluhm commented on #9810
Note that this is not a forum / place to ask for help (plus this is the Foundation for Sites repository, not the [Foundation for Emails one](https://github.com/zurb/foundation-emails)). If you need help, please use the [Foundation forum](http://foundation.zurb.com/forum).

That said, you can find more information about inlining (and more generally the Foundation for Emails stack) here: http://foun

[2017-02-27 14:10] dragthor commented on #9813
I guess this feature is trying mimic Modernizr?

[2017-02-27 14:16] phifa commented on #9785
Anybody feeling the same way? not?

[2017-02-27 14:23] agoradesign commented on #9788
I can confirm this bug. It happened to me too recently. And it seems, that it is not restricted to mobile devices, as my colleague also saw it on Desktop Firefox browser - but on a mobile devices, it seems to happen more frequently.

I can confirm that there's a relation to Motion UI. I wanted to inspect it in Firebug. The disappearing slide had the 'mui-leave-active' class set. As soon as I have

[2017-02-27 14:29] christianmagill commented on #9813
@IamManchanda,

I'm just looking for two classes that set the visibility based on whether JavaScript has been loaded or not.

Like other visibility classes in Foundation the hide class would hide the element when the condition is met, and the show class would hide the element until the condition was met.

@dragthor Modernizr will also remove "no-js" class, but is more used to identify browser feat

[2017-02-27 14:53] DaSchTour commented on #9813
@christianmagill I've seen this approach very often in the last month but always with very dangerous implications. I would assume, that nobody creates pages that work without JS anymore.

The approach of hiding not bootstrapped elements often leads to very ugly re-layouting if not done for the whole page which leads to a blank page until all scripts are loaded which may make the user feel like the

[2017-02-27 15:18] jellisii commented on #9815
There's a potential workaround for your problem in #9180

[2017-02-27 15:57] christianmagill commented on #9813
@DaSchTour Since they are classes that can be applied selectively, I see them as a tool that can be used, rather than a prescription for how to handle elements that are not yet bootstrapped.

To your point though, I find myself most often using the classes to hide submenu dropdowns before initialization.

[2017-02-27 17:32] 7oot opened #9816 "pagination-container mixin uses $global-radius instead of the $radius parameter"
#### What should happen:

Trying to set the link border-radius for pagination be it through the pagination-container mixin or by changing the default $pagination-radius should style the links with the desired radius.

#### What happened instead:

Pagination links always have the $global-radius, since it's directly used inside pagination-container instead of the mixin's $radius parameter.

[2017-02-27 18:15] IamManchanda commented on #9807
A kind of alhough already under radar #9438
Basically is a simple update on firefox's 100% compatibility to es2016+ !

That i wanted foundation communtiy to to let know !

[2017-02-27 18:33] merlinpatt opened #9817 "Clip is Deprecated"
According to MDN, `clip` is currently deprecated, and they recommend to use `clip-path` instead. `clip` is currently used in the `element-invisible` mixin which defines the `show-for-sr` class.

`clip`: https://developer.mozilla.org/en-US/docs/Web/CSS/clip
`clip` use in Foundation: https://github.com/zurb/foundation-sites/blob/master/scss/util/_mixins.scss#L185
`clip-path`: https://developer.mozil

[2017-02-27 22:30] Deckluhm commented on #9817
The MDN [`clip-path` page](https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path) also states:

Because this technology's specification has not stabilized, check the compatibility table for usage in various browsers. Also note that the syntax and behavior of an experimental technology is subject to change in future versions of browsers as the specification changes.

Plus the overall [browser

[2017-02-28 00:06] klihelp opened #9818 "Review magellan offset feature"
Maybe add offset feature to each link individually.

Example:
Sticky topbar, which not initially on top, contains magellan menu.
eg. some links doesn't need offset if topbar not sticky yet.

[2017-02-28 05:57] IamManchanda commented on #9817
Why not use it like this for time being

[code]

Source: [CSS Tricks](https://css-tricks.com/almanac/properties/c/clip/)

[2017-02-28 15:59] zerodahero commented on #9810
I'm in the midst of a PHP project, so we're using https://github.com/Dreamvention/inky-premailer which works quite well for our purposes.

[2017-02-28 17:05] Payam93 opened #9820 "compiled sass file with Koala, not working properly!"

[2017-02-28 18:54] kball commented on #9772
@rafibomb can you take a look at this?

[2017-02-28 20:55] kossmann commented on #8174
I've discovered the same issue, any news on that?

[2017-02-28 21:15] #9775 closed

[2017-02-28 21:21] kball commented on #9767
@CGTS are you taking a look at this? Otherwise maybe @Owlbertz can take a look, as he's our keyboard expert

[2017-02-28 21:22] kball commented on #9673
Let's not close in case until we have the 6.4 rewritten in case someone wants to submit a patch fix for this.

[2017-02-28 21:36] kball commented on #9786
Curious what some of our more designy folks think of this @jnemeth @tdhartwick @brettsmason @andycochran

[2017-02-28 21:39] kball commented on #9789
@denisahac I'm not sure I agree with the preservation... because if you preserve multiple opens within the accordion, but then in tabs you change which one is open, what happens to that original state?

Regardless, it seems like a little more logic is required here.  @designerno1 - you did the Responsive Accordion/Tabs implementation... what do you think is the correct behavior in this situation?

[2017-02-28 21:42] kball commented on #9782
@sethkane @Owlbertz as our accessibility experts, what do you think?

[2017-02-28 21:46] kball commented on #9794
I think the problem statement is accurate, and having a migration script like this is a great idea! I'd be interested in exploring other ways of dealing with settings as well... in particular, I'm wondering about the downsides of having the default settings all (or mostly) be commented out, with you only uncommenting the ones you want to change.

Thoughts @ncoden @rafibomb ?

[2017-02-28 21:52] kball commented on #7548
Fixed in #9763.

[2017-02-28 21:52] #7548 closed

[2017-02-28 21:55] kball commented on #9796
Thanks @snoopdouglas! Just merged that updated.

[2017-02-28 21:55] #9796 closed

[2017-02-28 21:56] kball commented on #9679
If you're using the ZURB stack you can add the slick files to the javascript and scss pieces of `config.yml` and they will get auto-concatenated into the app.js

[2017-02-28 21:59] kball commented on #9799
I agree that dropdown could definitely use an update... do you want to take this on? Happy to consider a much more sass-based approach than the current as well... the current approach uses JS to do a lot that I think could probably be done with SCSS.

[2017-02-28 22:20] CGTS commented on #9767
@kball Unfortunately, I wouldn't be much use with javascript. I'd be happy to help test it.

[2017-02-28 22:25] designerno1 commented on #9789
hm ok, maybe in that case save the accordion multiple open state, and maybe we can define a openTabOnMultiple option and if this is defined open that tab otherwise open first tab???

[2017-02-28 22:47] sethkane commented on #9782
It depends on how you are using the close element in the HTML.

If it is a <a href> then space bar does not natively using the space bar to trigger an event.
If you are using a <button> then the space bar has a native binding for that trigger.

The W3C has these guidelines for Modals https://www.w3.org/TR/wai-aria-practices/#dialog_modal

From the two examples given in this thread it appears that

[2017-03-01 05:15] Knight-Yoshi opened #9821 "failed to @extend "%reveal-centered""
When using just this in 6.3.1:
[code]
I get this error:
[code]

It only doesn't complain when I add this after it:
[code]

[code]

[2017-03-01 05:44] Knight-Yoshi opened #9822 "Reveal Overlay Class"
The reveal overlay class can't be changed? It uses a static string. Kind of defeats the purpose of using your own modal overlay class.

https://github.com/zurb/foundation-sites/blob/develop/js/foundation.reveal.js#L85

[2017-03-01 07:15] Owlbertz commented on #9767
Hi,
it seems like the there is a something odd with preventing the default action using space. I will have a look at this.

[2017-03-01 09:27] phifa commented on #9786
One occurrence where I use it literally every time, is when I use cards in the block grid. Since they have full width, their spacing to the left and right is normal gutter spacing. But the margin bottom spacing is different. With the space() mixin I get margin bottom spacing for each breakpoint just like gutter, so cards have same spacing to the left and right and bottom.

Also where I use it ofte

[2017-03-01 14:33] jitens opened #9823 "Dropdown submenus close on touch scroll gesture"
#### How to reproduce this bug:

1. Trigger Item 1 menu dropdown
2. Move down / touch gesture down the page

Bug occurs in both 6.3.0 and 6.3.1 Foundation versions

#### What should happen:
The submenu should stay open, otherwise if the submenu is larger than the viewport the submenu items aren’t reachable.

#### What happened instead:
The submenu closes after moving down / touch gesture down the

[2017-03-01 14:41] IamManchanda commented on #9823
Sorry i am unable to reproduce ...can you specify which device your are using!

[2017-03-01 14:48] jitens commented on #9823
Hi I have tested it on iPad Pro iOS 10 using BrowseStack.

[2017-03-01 14:53] jack-fdrv opened #9824 "Close all other opened off canvas elements if we open new one"
#### How to reproduce this bug:

I have menu, each element open canvas element.
When I click on menu item 1 it show me the sub menu (of-canvas block), when I click on menu item 2, it show one more of-canvas but it doesn't close the other one, opened of-canvas.

#### What should happen:

Should hide other opened of-canvas elements.

#### What happened instead:

It just show 2 in the same time.

[2017-03-01 15:05] IamManchanda opened #9825 "Please Update pens! [6.3.1]"
I have made the updated pens!

[code]

cc / @kball @rafibomb

[2017-03-01 15:14] mlang38 commented on #9585
After giving up and trying to remove sticky behavior, I realize that the shown bug was revealed by the #9298 PR but wasn't introduced by it, and actually comes from my own css. Sorry

[2017-03-01 15:14] #9585 closed

[2017-03-01 15:49] Deckluhm commented on #9825
Just do a PR on the [.github/ISSUE_TEMPLATE.md](https://github.com/zurb/foundation-sites/blob/develop/.github/ISSUE_TEMPLATE.md) file.

[2017-03-01 15:55] IamManchanda commented on #9825
Thanks @Deckluhm .... i didn't knew buddy!

[2017-03-01 15:58] SassNinja commented on #9799
Yes, I'll try to work on this asap.
But talking about more sass-based: do have something particular in mind?

I've seen the whole positioning is done via JS (absolute) instead of CSS that is relative to the dropdown toggle button. But on the other hand this allows more flexibility in the markup since the button mustn't wrap the dropdown pane...
Did you mean this or something else?

[2017-03-01 16:52] kball commented on #8828
ok reopening based on @maclein's comment. @maclein can you provide an example?

[2017-03-01 18:06] IamManchanda commented on #9790
@kball please close this as it seems **Invalid** to me

[2017-03-02 10:38] markau commented on #9790
Sorry to raise the issue and not respond @dragthor, @IamManchanda, @kball

I just reproduced the issue.  Here are the steps:

- Visual Studio 2015 update 3
- Windows 10 x64
- Create new ASP.NET MVC solution (.NET framework - i.e. v4.5.2)
- Open Nuget Package Manager for solution
- Search for foundation
- Install this package:

![image](https://cloud.githubusercontent.com/assets/3004849/23503443/bf

[2017-03-02 12:11] dragthor commented on #9790
I will look into this when I get into the office. I have a similar
environment.

On Mar 2, 2017 5:38 AM, "Mark Andrews" <notifications@github.com> wrote:

[2017-03-02 15:11] dragthor commented on #9790
@markau You are correct the `_vendor` folder does not appear.  Even when I manually add the folder, SASS things still do not work correctly - even with VS.NET Web Essentials.  Sorry, there is not a decent integrated experience with Visual Studio.  And its not specific to Zurb Foundation.

We have always built & used Foundation outside (cmd line and/or VS Code) of Visual Studio, then used the outpu

[2017-03-02 18:03] fchengpc opened #9829 "Reinit magellan plugin after DOM update"
what is the correct way to reinit magellan after DOM being dynamically updated.

Using Foundation 6.3.1.

already try following:
 - Foundation.reInit(['magellan'])

[2017-03-02 20:39] Deckluhm commented on #9829
Can you provide a CodePen reproducing the issue?

`Foundation.reInit` is supposed to be the way to do what you want: http://foundation.zurb.com/sites/docs/javascript.html#adding-content-to-plugins

[2017-03-02 21:54] fchengpc commented on #9829
i did try following >>> `Foundation.reInit($('[data-magellan]'));` but still having same issue.

[2017-03-02 23:19] markau commented on #9790
It was the only issue I have faced - once I got over the confusion and realised the problem, I downloaded the `_vendor` folder from the repo and everything worked from there: I am building foundation.css from sass with `node-sass` via `npm` script. Sweet!

I don't know how nuget packages are built - it might just be an oversight in there.

[2017-03-03 10:48] nerdyglasses opened #9830 "Tooltip only accepts one offset direction"
I have prepared a jsFiddle. It ignores the `hOffset` attribute:
https://jsfiddle.net/gambo/khhxdd9e/

It shouldn't only accept EITHER `hOffset` OR `vOffset` based on its direction.

If the user of that tooltip decides to add an offset, then it's probably due to a reason. I don't think this should be something the tooltip lib should decide.

That's the code that is preventing me from setting it:
ht

[2017-03-03 11:20] nerdyglasses commented on #9830
https://github.com/zurb/foundation-sites/pull/9831

[2017-03-03 12:35] tymothytym opened #9832 "A disabled .hollow button style not consistent when hovered over"
#### To reproduce:

1. Add classes `button disabled hollow` to a button element e.g. `<button type="button" class="button hollow disabled" id="mybutton">Save</button>`
2. Hover over button with the mouse

Or

1. Add classes `button hollow` to a button element and the attribute `disabled` e.g. `<button type="button" class="button hollow" id="mybutton" disabled>Save</button>`
2. Hover over button wi

[2017-03-03 13:17] tymothytym commented on #9832
Can be fixed by changing the `button-disabled` mixin in `scss/components/_button.scss` to:

[code]

[2017-03-03 13:21] sashabeep commented on #9484
Referencing the same error on android firefox and chrome with 6.3.0
```data-close-on-click-inside="false"```
changes nothing

[2017-03-03 13:38] sashabeep commented on #9484
Added custom handler for parent menu items
[code]

[2017-03-03 16:05] samsch opened #9833 "Palet colors required with get-color"
The docs suggest that you can remove any $foundation-palette color except for primary. However, _global.scss uses get-color for all 5 defaults without checking that they exist (except a check for primary). So foundation fails to compile when $foundation-palette has colors removed, since get-color throws if a color doesn't exist.

I did not specifically test each color, but it definitely failed wit

[2017-03-03 17:06] IamManchanda commented on #9833
cc / @DaSchTour @natewiebe13

[2017-03-03 17:12] frankangelone opened #9834 "Off-Canvas Menu Focus - Handicap Accessibility"
In the example provided, I have two links that would open an `off-canvas` menu when clicked. If I click the first link (called "Quick Links"), the menu opens, but when I click tab (testing that the application is handicap accessible), the focus goes to my second link (called "Info For") rather than the first list item in the "Quick Links" menu.  I'm assuming the example below may not be valid for

[2017-03-03 18:22] IamManchanda commented on #9834
cc / @sethkane @Owlbertz

[2017-03-03 18:31] IamManchanda commented on #9832
The difference in v6.3.0 and 6.3.1 happened here first of all => #9648

You are correct, i will look into it!

[2017-03-03 19:26] IamManchanda commented on #9832
@tymothytym i have created a PR #9835 .... Is this what you wanted ?

[2017-03-03 19:31] #9668 closed

[2017-03-03 19:59] aldees opened #9836 "[Button] $offset SASS parameter"
$offset parameter is not used in the button-dropdown mixin

This does not change the left margin of the arrow to .4em:
@include button-dropdown($color: $dark-gray, $offset: .4em)

[2017-03-03 20:56] fchengpc commented on #9829
https://codepen.io/captaincook/pen/mWEdqW

is related to this >> https://github.com/zurb/foundation-sites/issues/8016

[2017-03-04 10:27] Owlbertz commented on #9834
Hi @frankangelone if you could re-create your website in a CodePen (you can use [this template](http://codepen.io/Owlbertz/pen/WpxoGr?editors=1000) I'll be happy to have a look.

[2017-03-04 17:08] IngoVals opened #9837 "Flex-align mixin assumes the direction to be row."
Using this mixin according to documents can get confusing and frustrating. It seems the mixin assume the flex direction is always *row* (or reverse row) and as such doesn't work properly in a *column* direction.

`justify-content` and `align-items` both are relevant to the direction of flow. So justify content is the X axis (right or left) when using row, but if using column it becomes the Y axis

[2017-03-04 17:43] IngoVals commented on #9837
Can't find out if I can automatically include SASS files into codepen so I just created the rsult of using these mixins.

[Codepen](https://codepen.io/ingovals/pen/GWqEaM)

[2017-03-04 19:42] jmathur5 commented on #7923
@Saifadin can you please create a codepen of your working code. I am having the exact same issue and and can't seem to get it working. Thank you so much!

[2017-03-04 21:04] gramila commented on #5551
@jamieshark I am having this issue with my top-bar dropdown. It is not closing when I click on regular links on the menu. I am using foundation 6.

[2017-03-05 08:15] christhekeele opened #9838 "Hollow button defaults to primary color"
#### How to reproduce this bug:

1. Override the default `$button-background` with the intention of changing what a palette-less `class="button"` looks like
2. Switch to default `$button-fill: hollow;` or simply make a palette-less `class="hollow button"`

#### What should happen:

The palette-less hollow button should be styled with your default `$button-background` color.

#### What happened ins

[2017-03-05 10:50] tymothytym commented on #9832
@IamManchanda thanks, that looks good!

[2017-03-05 11:21] IamManchanda commented on #9832
@tymothytym i think you should reopen this untill that PR merges.... as this will get close automatically once that's get merged!

[2017-03-05 18:52] Vuurvlieg opened #9841 "Disabled buttons with tooltip doesn't work"
When the "disabled" attribute is added to a button, the tooltip won't display (or won't display correctly).
Check [this example](https://jsfiddle.net/yfgLyp4f/)

[2017-03-05 19:44] tymothytym commented on #9832
Sorry, pressed the wrong button...

[2017-03-05 21:41] jinch opened #9842 "Patch v6.3.1 Update?"
Hi, I just tried updating my foundation 6.3 site to the v6.3.1 patch via terminal. Unfortunately, I was not able ~ error message ~ (nothing to update). Does anyone know how I may be able to patch the 6.3 build of an existing site? Is there a new way to do this?

[2017-03-06 02:18] chrismanderson opened #9843 "Unable to disable color contrast warning in 6.3.0"
My deploy and CI logs are flooded with warnings about color contrast ratios with no way that I can see of how to disable them. I understand the value in having accessible color choices, but these logs make it difficult to debug real issues. Not only that, the warning itself isn't that intuitive.

[code]

I have to trace line numbers way up the foundation project and even then it's really tough to

[2017-03-06 10:18] Saifadin commented on #7923
@jmathur5 Sure, the final solution was, that I waited for document.ready and called it out of the controller.

See: http://codepen.io/Saifadin/pen/xqEZXO

[2017-03-06 10:54] MProG opened #9844 "[Forms] Incorrect select aligment on rtl chrome"
foundation 6.3.0 , chrome
Dropdown list for 'rtl' style format align incorrect. List align by begin of text.
Expected result(now this is result only for situation when i don't select any variant):
<img width="730" alt="2017-03-06 13 48 40" src="https://cloud.githubusercontent.com/assets/8362820/23606960/1bddbb5a-0274-11e7-9d15-04315ba068c7.png">
Current result:
<img width="1321" alt="2017-03-06 13

[2017-03-06 15:30] brettsmason commented on #9843
@chrismanderson I agree on this - it can be a bit overwhelming. I think a variable needs to be added to disable the warnings if set to false, as unfortunately you don't always have a choice in what colours to use (at least I don't anyway).

I think the variable should should make the warnings enabled by default, but should be easy to turn them off.

Could you try this for me here: https://github.c

[2017-03-06 15:32] brettsmason commented on #9842
@jinch How have you installed Foundation - via Bower or NPM? Will need some more details to be able to help.

[2017-03-06 15:44] brettsmason commented on #9817
I agree with @Deckluhm on this - [browser support is just not there](http://caniuse.com/#search=clip-path) for this to be the default. I'm also not sure what benefit having both would be to be honest.

I'm leaning towards closing this - what do you think @kball?

[2017-03-06 15:47] brettsmason commented on #9816
@7oot You are correct - this line needs changing: https://github.com/zurb/foundation-sites/blob/develop/scss/components/_pagination.scss#L116

Did you want to submit a PR to fix this?

[2017-03-06 15:53] brettsmason commented on #9795
This looks like it has been solved so closing this. Re-open if you have any problems.

[2017-03-06 15:53] #9795 closed

[2017-03-06 15:57] brettsmason commented on #9810
As others have said this should really be posted on the Foundation forum or the [Foundation for Emails](https://github.com/zurb/foundation-emails) repo. Hopefully the above comments should of answered your question though, so I'm going to close this!

[2017-03-06 15:57] #9810 closed

[2017-03-06 16:00] brettsmason commented on #9820
@Payam93 We are going to need full details of how you have everything setup etc in order to be able to help. Please can you provide more information?

[2017-03-06 16:04] jinch commented on #9842
Initially, I used the terminal to install v6.2 (foundation new). Then I had to manually update that to v6.3 as there was no clear method. I read on the foundation forum if you changed the changed the dependency in bower.json to "foundation-sites": "~6.3.0" you can force the update.

This worked for 6.2 --> 6.3 but now the 6.3.1 update does not work either for me.
_____________

It may be a differe

[2017-03-06 16:09] brettsmason commented on #9842
@jinch setting the version to `~6.3.0` if I'm not mistaken will only install that specific version.
You need to set it to`^6.3.0` which will allow you to installed newer versions (version 6.3.0 or newer). Then from the terminal run `bower update` - this should update to 6.3.1.

[2017-03-06 16:11] IamManchanda commented on #9816
@7oot follow this if you want to know how to do a PR

https://akrabat.com/the-beginners-guide-to-contributing-to-a-github-project/

and here is the solution for that above line brett mentioned!
simply change to,

[code]

[2017-03-06 16:14] brettsmason commented on #9816
@IamManchanda Thanks for linking to that. It should actually be `border-radius: $radius;` as we are setting `$radius: $pagination-radius` within the mixin 😄

[2017-03-06 16:15] IamManchanda commented on #9817
i tend to concur with @brettsmason

[2017-03-06 16:18] chrismanderson commented on #9843
Yup that works, though I had to nest the loops (because apparently false && false in SASS is true??).

[code]

[2017-03-06 16:21] IamManchanda commented on #9800
@brettsmason ... can you help me here a bit here
I want to basically provide ability to customize the ability to specify the type of formats

Example

[code]

How can i go about it buddy ??

[2017-03-06 16:23] IamManchanda commented on #9816
Oops sorry i didn't see the arguments ... my mistake @brettsmason :smile:

[2017-03-06 17:04] jinch commented on #9842
@brettsmason  - Thank you! That worked :)

Do you know if the 6.3 settings.scss or the app.scss files have changed with this update? Did those files automatically update when i did the (bower update)?

Sorry for all the questions... also wondering if this update addressed some of the off-canvas bugs? In particular... [#9696](https://github.com/zurb/foundation-sites/issues/9696) and even more criti

[2017-03-06 17:05] frankangelone commented on #9834
@Owlbertz Here's a link to the CodePen: [http://codepen.io/anon/pen/PpNPLa](url)

You'll see a "Quick Links" and "Info For" button on the page.  After you click "Quick Links, click the tab key.  You'll notice that focus doesn't immediately go to the "library" link in the menu and instead goes to the "Info For" button first.  As you click tab, the focus eventually goes to the "library" link in the

[2017-03-06 18:31] kball commented on #9483
@karland @ncoden Thoughts on the request by @phifa ?

[2017-03-06 19:35] karland commented on #9483
@phifa I am glad, that you like the $header-style-map.

Actually, I think you have a good point. $header-styles could well be generalised into $style, where an extra line would be added. Is this what you suggest? I do not like the idea of adding color, though.

[code]

[2017-03-06 19:56] jefsnare commented on #9263
@shtalinberg I would suggest turning off overlay with `data-overlay="false"` and adding your own overlay by listening to `open.zf.reveal` and remove the overlay by listening to `closed.zf.reveal`.

[2017-03-06 20:05] natewiebe13 opened #9845 "Flex Grid Column Widths Not Restricted"
#### How to reproduce this bug:

1. Using the flex grid, add an item that is wider than the max width
2. The column is now wider than the max width

#### What should happen:

The column should be restricted by the max width

#### What happened instead:

The column was as large as the item. Related to: https://stackoverflow.com/questions/34934586/white-space-nowrap-and-flexbox-did-not-work-in-chrom

[2017-03-06 20:15] brettsmason commented on #9842
@jinch Great glad that worked.

According to the [patch notes for 6.3.1](https://github.com/zurb/foundation-sites/releases/tag/6.3.1) there were no migration notes, so I dont think there were any changes to `settings.scss`.

#9696 was fixed with the update, however the sticky issue is actually a bit more complicated. A rewrite of sticky is in the works that will solve the issue.

[2017-03-06 20:49] git-hubber opened #9847 "Foundation 6 tooltips problem"
The default tooltip (mousever) seems to be killing other event handlers I have on the element (especially mousedown event). I could understand this to be the case if I was using the onclick tooltips, but don't see why this would/should be happening on mouseover/hover triggered tooltips. My existing mousedown event isn't firing, but it does when I remoive the data-toolip attribute.

#### How to rep

[2017-03-06 20:53] jinch commented on #9842
@brettsmason - Very cool / thanks again for the help and info.

I'm very eager to see how that sticky icky is resolved. My site navigation is dependent so currently on hold for a solution. I'll keep an eye on that thread and if need be find a workaround if that is something further down the line. This will be a great addition if and when the kinks are worked out.

Regardless, kudos to you and team

[2017-03-06 21:01] brettsmason commented on #9842
@jinch from my understanding sticky will be using the `position: sticky` functionality in newer browsers along with a polyfill that allows it to work on older browsers.

I'll close this now if you dont mind, but feel free to open another issue if you have problems, and keep an eye out for updates!

[2017-03-06 21:01] #9842 closed

[2017-03-06 22:56] phifa commented on #9483
Yes brilliant. And why not have font weight, text transform etc. in there?

[2017-03-06 23:39] designerno1 commented on #9789
can we establish what should happen in the cases oh multiExpand? @zurb/yetinauts

[2017-03-07 07:09] shtalinberg commented on #9263
Thanks, I'll try

[2017-03-07 07:26] jefsnare commented on #9263
@kball Agree with that, could we close this issue?

[2017-03-07 11:36] alokpant commented on #9633
Tab content div ids { id="panel1d"} in example are same for all div. Also anchor are targeting to same element {href="#panel1d"}

[code]

should be:

[code]

Thank you for awesome framework.

[2017-03-07 13:08] focusedonfit commented on #9788
I can confirm this too on desktop with a site I'm working as well. It happens if you click the next slide button and move your mouse at the same time

[2017-03-07 13:49] jmathur5 commented on #7923
Thank you!!!!! @Saifadin

[2017-03-08 06:17] ricardo-lewis commented on #9790
@markau How did you download the _vendor folder from this repo? It's not there.

[2017-03-08 06:40] markau commented on #9790
@ricardo-lewis, I updated my comment with the link for others' reference. Cheers.

[2017-03-08 09:47] phifa opened #9851 "Foundation Zurb Template empty /scss folder gets copied into /dist folder"
Title says it all. Set up a new project, foundation new and foundation watch. The dist folder gets an empty scss folder, among all the other ones needed (css, js, etc.). Just a small bug, nothing big, just a bit annoying. can someone confirm? btw. i am on windows.

[2017-03-08 10:14] Deckluhm commented on #9851
You should open this issue on the [Foundation CLI repository](https://github.com/zurb/foundation-cli).

[2017-03-08 11:15] phifa commented on #9851
done
https://github.com/zurb/foundation-cli/issues/47

[2017-03-08 12:29] git-hubber commented on #9847
Here is the simple codepen:
https://codepen.io/anon/pen/QpGRXj

[2017-03-08 14:08] git-hubber opened #9852 "Foundation 6 tooltip cursor"
Is it possible to re-introduce the scss variable back into settings:
$has-tip-cursor-type

I don't like that the 'help' cursor is now hardcoded and somewhat 'forced' upon us.

when I override it as 'inherrit' with my own .has-tip class,it has very mixed results, especially in FF with links with tooltips.

[2017-03-08 18:22] sanderblue commented on #9843
+1

I'm also seeing this and would like the ability to suppress the warnings.

[2017-03-08 22:18] paxperscientiam commented on #9837
@IngoVals it seems that some of the complexity of working with flexbox was abstracted away. However, as you indicate, it's not quite "there" yet.

A "wrapper" mixin that leverages existing flex mixins would act as a layer of abstraction that could make designing easier.

It is much easier to conceptualize a Cartesian "grid".

Last point, IMO, it makes no difference if a mixin allows for 3 or 10 va

[2017-03-08 23:28] IngoVals opened #9854 "Missing gutters on selectors for flex-grid-layout mixin"
I'm assuming you are supposed to use this mixin somwhat like this.

[code]

However .item does not get the usual gutter padding and I can't really see a obvious option to add it in through mixins.

I guess we can solve it this way

[code]

But it isn't really obvious.

Should we add gutters to the selector in the original mixin or add and gutter parameter to it?

[2017-03-08 23:57] coleh33 opened #9855 "SASS Compile Error In typography.scss"
I am having an issue with compiling SASS using node-sass and all NPM with no bower.  It appears the issue is within the `@include foundation-typography;` file as when I remove that include everything works.  The error is listed below.  Using Foundation version 6.3.1 and Node SASS version 4.5.0

`{
  "status": 1,
  "file": "node_modules/foundation-sites/scss/util/_unit.scss",
  "line": 129,
  "colu

[2017-03-09 08:41] sanderha opened #9856 "expanded columns not taking up all the space"
#### How to reproduce this bug:

1. Create .row.expanded
2. create .small-12.large-7.columns and .small-12.large-5.columns

#### What should happen:
Split the columns perfectly into the width of container

#### What happened instead:
1px of whitespace is leftover on the right side of the columns.

If I then change the large-5 max-width and flex properties from
[code]
to
[code]
Then the tiny whites

[2017-03-09 09:53] Yimiprod opened #9857 "6.3.1 grid breaking change flex-grid .column.row"
Since 6.3.1 making a columns as a row has a breaking change.
[code]

With this example, the div `.is-broken` will have this selector match:

[code]

This break the layout, making the block not acting has a flexbox anymore.

[2017-03-09 10:00] Yimiprod commented on #9857
Found the origin of the bug : https://github.com/zurb/foundation-sites/commit/1ba48826511ad60476d68bacd0e7e301c125e9fd

[2017-03-09 10:44] IamManchanda commented on #9857
cc @kball

[2017-03-09 10:46] IamManchanda commented on #9856
Please provide test case,

You can fork these below codepen's to provide a test case.

6.3.0
- [CodePen with Foundation 6.3.0 and MotionUI](http://codepen.io/IamManchanda/pen/vgemXR)
- [CodePen with Foundation 6.3.0, Flexbox grid and MotionUI](http://codepen.io/IamManchanda/pen/xgXdRq)

6.3.1
- [CodePen with Foundation 6.3.1 and MotionUI](http://codepen.io/IamManchanda/pen/LWGZxR)
- [CodePen with

[2017-03-09 10:47] IamManchanda commented on #9852
Can you provide a test case

You can fork these below codepen's to provide a test case.

6.3.0
- [CodePen with Foundation 6.3.0 and MotionUI](http://codepen.io/IamManchanda/pen/vgemXR)
- [CodePen with Foundation 6.3.0, Flexbox grid and MotionUI](http://codepen.io/IamManchanda/pen/xgXdRq)

6.3.1
- [CodePen with Foundation 6.3.1 and MotionUI](http://codepen.io/IamManchanda/pen/LWGZxR)
- [CodePen wit

[2017-03-09 10:52] IamManchanda commented on #9847
Hmmn.... and the bug still exists with the latest version!
Code pen with 6.3.1 => http://codepen.io/IamManchanda/pen/MpJqOq

[2017-03-09 13:17] klihelp opened #9858 "How to reset Magellan barOffset after initialization?"
How to reset Magellan barOffset after initialization?
Tried these, but not working:
- setting  Foundation.Magellan.defaults.barOffset = offset
setting $element data-bar-offset
- Foundation.reInit(magellan) not updating to the new value
- $element.foundation('destroy'), then $element.foundation()  neither

[2017-03-09 14:16] klihelp commented on #9858
Quick fix:

[code]

[2017-03-09 14:41] jinch opened #9859 "OFFCANVAS v6.3 - position:fixed + width:100%?"
I came across a new issue today with the latest Foundation v6.3.1 using (position:fixed) and (width:100%).

If you wrap your rows and columns in a div and give that div a position:fixed + width:100% you will run into a problem on mobile. If you open an off-canvas menu from the left, the open menu will push that fixed position div over hiding its right most column.

This only happens on mobile (tes

[2017-03-09 15:55] agoradesign commented on #9788
Does anyone has an idea how to fix this? This bug is so tricky because it's really **hard to reproduce it on desktop browsers**, therefore nearly impossible to debug.

On the other side, **it's definitely a critical bug** imho, as it **makes Orbit more or less unusable**, as this happens randomnly but too often, especially on mobile devices. As already mentioned, the only workaround ist to disable

[2017-03-09 16:10] agoradesign commented on #9788
I don't know, if it helps, but I can at least list a few measures, that did NOT work for me at all:

- data-swipe="false"
- removing line 303 of foundation.orbit.js (in function changeSlide): if (/mui/g.test($curSlide[0].className)) { return false; }

[2017-03-09 16:17] bsmedhabib opened #9860 "[Foundation6] Undefined mixin 'exports'"
_a-button.scss:.Undefined mixin 'exports'

when : grunt clean build
Foundation 6 + grunt

//code
$include-html-a-button-classes: $include-html-classes !default;

@include exports("a-button") {
...

[2017-03-09 17:12] Deckluhm commented on #9860
Probably just me but... can you explain more in details your issue?

What do you try to achieve? What is your code?

[2017-03-09 17:31] jtoliver opened #9861 "F6 Modal link in Dropdown"
For some reason, an anchor tag with the data-open attribute will not open a modal in a dropdown menu. I can open the modal in the web console using $(ID).foundation('open'); I'm trying to stick with just using data-attributes. Am I missing something?

[2017-03-09 22:23] Deckluhm commented on #9852
@IamManchanda: there is no "test case" to provide here since it's a feature request.

@git-hubber: not sure what the current policy on SASS variables is (if there is one?) but I think it's pretty safe to say that you can open a PR for this.

[2017-03-10 00:03] jinch commented on #9859
There may be more to this than just a fixed positioned / width problem : /

I tested just the off-canvas and noticed that when triggered (on mobile) it will push out the off-canvas-content but does not properly adjust the width. This also seems to have created scrolling problems (left off-canvas is not fully scrollable). This also breaks the (data-content-scroll="false") attribute as after you ope

[2017-03-10 12:50] jinch commented on #9859
So I found a solution if anyone runs into this.

Apparently adding the optional [.off-canvas-wrapper](http://foundation.zurb.com/sites/docs/off-canvas.html#wrapper) will resolve the width problem on mobile.

I think this should be required as opposed to an optional setting as a result. It's the only thing I could find that corrects the width when viewed on mobile.

Here it is the [EXAMPLE](http://

[2017-03-10 13:33] magveda opened #9863 "6.3.1 Off-canvas is opening when scrolling the page"
I have this problem in Linux using Google Chrome Version 56.0.2924.87 (64-bit)

![image](https://cloud.githubusercontent.com/assets/674574/23797008/7376766a-05a6-11e7-9ef6-f12e02ddbc52.png)

#### How to reproduce this bug:

1. go to http://foundation.zurb.com/sites/docs/
2. scrol the page using mouse wheel or browser scrollbar

#### What should happen:

The page should scroll without any Off-canva

[2017-03-10 14:12] jinch commented on #9824
I would like this feature as well but unfortunately, I think this is the default behavior. It would be great if that can be built in on future updates but I think we may have to find our own work around for this. Maybe working in some javascript to disable the trigger button if off-canvas is open? If I come across a solution I will post.

[2017-03-10 16:37] christianmagill opened #9865 "Error generating breakpoint classes when changing smallest breakpoint"
#### How to reproduce this bug:

1. Step one

[code]

2. Step two
Compile

#### What should happen:
It should work

#### What happened instead:

Errors compiling

`null was passed to rem-calc(), which is not a number.`

[code]

I have also tried removing xxsmall from $breakpoint-classes, but it does not resolve the issue. Doesn't compile properly until I remove both xxsmall and xsmall, which defea

[2017-03-10 16:59] chrishammered commented on #9047
Has this been fixed yet? I am working on a blog that is using ajax to load the next post once the user has reached the bottom of each post, and within each post there are two sticky sidebars. On the first post (the one the page loads onto), sticky works great; but once the next post is loaded, sticky doesn't work for the ajax'd content. If I scroll back up to the first post, sticky is still workin

[2017-03-10 17:53] christianmagill commented on #9865
Figured out the issue... I had to also change the grid-column-gutter to reflect xxsmall as the smallest size.

[2017-03-10 18:56] jinch commented on #9824
I'm not that great at Jquery and I am sure there is a more efficient way to do this but see if you can amend the below code to your needs.

This should continually check if a "offCanvaLeft" has the class "is-open" applied to it and disable another button with your unique ID. Change this around as you see fit and if anyone has a better way to go about this, please share.

`/*START DISABLE BUTTON*/

[2017-03-11 06:54] Nimce opened #9866 "Native meters example doesn't work on chrome"
#### How to reproduce this bug:

1. Open Chrome (I use version 56.0.2924.87 at the moment)
2. Navigate here: http://foundation.zurb.com/sites/docs/progress-bar.html#native-meter
3. Watch as the 3 native meters are all grey, instead of with colors.
4. Open another browser (for example, Firefox).
4. Navigate to the same URL, notice the native meters work as expected.

#### What should happen:
Native

[2017-03-11 14:45] IamManchanda commented on #9865
Please close the issue if its resolved!

[2017-03-11 14:47] #9865 closed

[2017-03-11 14:49] IamManchanda commented on #9863
Can't reproduce

Using Google chrome 56.0.2924.87
OS: Linux ( Ubuntu )

![cant-reproduce1](https://cloud.githubusercontent.com/assets/4970624/23824179/c6de527c-0697-11e7-87bb-174982f1cd14.png)

[2017-03-11 14:53] IamManchanda commented on #9852
Yeah but i was requesting a test case of the feature only!

[2017-03-11 15:21] IamManchanda opened #9867 "[Cards] Card Headers, Footers & Background Variants"
Inspiration
- https://mdbootstrap.com/components/panels/ => **HEADER AND FOOTER**
- https://mdbootstrap.com/components/panels/ => **BACKGROUND VARIANTS**

**Required Classes**

~~`.card-primary`, `.card-header-primary`, `.card-footer-primary` etc~~

**Update**: After some research, i think this below classes will be better

`.card.primary`, `.card-divider.primary` etc

Similar codebase to
- http:/

[2017-03-11 17:49] IamManchanda commented on #9866
Yup was able to reproduce ...

@kball I confirm this is a bug !

[2017-03-11 18:25] IamManchanda commented on #9851
@phifa Please close this one!

[2017-03-12 07:51] IamManchanda commented on #9867
@DaSchTour @brettsmason
Please let me know, on where it can be added
Normal classes or disabled by default [Prototype utilities](https://github.com/zurb/foundation-sites/pull/9738) ??

Coz in both situation, i have the code ready to push!

[code]

[2017-03-12 09:03] IamManchanda commented on #9866
**Eureka, Found the issue**
@Nimce This is the line where its happening => [Line 40](https://github.com/zurb/foundation-sites/blob/develop/scss/forms/_meter.scss#L40)

Thanks to autoprefixer (gulp-autoprefixer), this is generating the below code

[code]

and ` -webkit-appearance: none;` is causing the issue
Refer => http://stackoverflow.com/a/38892123/3301436

![webkit-appearance-meter](https://cl

[2017-03-12 14:57] glen-84 opened #9869 "Dropdown pane width not correct when floating the trigger to the right"
#### How to reproduce this bug:

(see test case)

#### What should happen:

The pane (of the right-aligned dropdown) should be 300px wide.

#### What happened instead:

It's 100% in width.

#### Test case:

http://codepen.io/glen-84/pen/RpVqjB

[2017-03-12 15:05] IamManchanda commented on #9869
I dont think we can solve this or foundation has to do anything with it ....

Reason ... There is only difference b/w these two buttons => `float-right`
Float right is a helper class which only does this

[code]

I dont think that this can be solved, Width is getting added automatically by the browser but maybe its just me!

[2017-03-12 15:10] glen-84 commented on #9869
@IamManchanda The Foundation JS is setting the pane's `left` and `width` CSS properties, among others.

[2017-03-12 15:14] IamManchanda commented on #9869
Can you be a little brief @glen-84 ?

{{ As i said i might be wrong!  }}

[2017-03-12 15:17] glen-84 commented on #9869
I don't know what you mean.

[2017-03-12 15:20] IamManchanda commented on #9869
I meant if you have a brief on how to solve this, then please provide!

[2017-03-12 15:39] magveda commented on #9863
The problem is gone after removing the Chrome Plugin "Smooth Scrolling"

[2017-03-12 15:39] #9863 closed

[2017-03-12 15:45] IamManchanda commented on #9863
Great @magveda, Happy that we could help!

[2017-03-12 20:44] grapto commented on #7835
Both of these methods will initialize abide if you dynamically add a new form, but if you add new fields inside an existing form, none of them works. If you run foundation in a form with existing abide you will get a warning from foundation. And if you destroy foundation in this form and rerun it, nothing changes.
If you add new fields in a form with abide, you just have to run Foundation.reInit('

[2017-03-13 06:26] IamManchanda opened #9870 "[Abide] URL Pattern not taking **www** into account"
URL Pattern only takes **http** and **https** into account
but there should be a way to add most common **www** into account

#### How to reproduce this bug:

**1. Step one**
Create a test case similar to
http://codepen.io/IamManchanda/pen/MpoaJY

**2. Step two**
Go to URL Pattern field

**3. Step three**
Type **www.facebook.com**

**4. Step four**
Press on that dreaded **Submit** Button

#### Wha

[2017-03-13 10:44] MProG commented on #9798
@IamManchanda can you reproduce?

[2017-03-13 14:04] IamManchanda commented on #9867
**Update**:
Had some research and here's what i found ( missing ports from Apps )
http://foundation.zurb.com/apps/docs/#!/card => Additional Options

[2017-03-13 15:28] phifa commented on #9851
sure.

[2017-03-13 15:28] #9851 closed

[2017-03-13 15:32] phifa commented on #9047
@chrishammered no fix so far. i recommend using another library, http://stickyjs.com/ for example. Your site sounds interesting, would be cool to see the page once its launched.

[2017-03-13 15:58] Yanchek99 opened #9871 "6.3.0 Advanced top-bar with flex-box enabled causes the responsive-menu to render to the right"
#### How to reproduce this bug:
adjust configuration to enable global flexboxes and import required flex box classes in sass.
Add the advanced top bar menu example per the docs. http://foundation.zurb.com/sites/docs/top-bar.html

#### What should happen:
the top-bar-left container should align to left and the top-bar-right should align to right.

#### What happened instead:
the top-bar-left contai

[2017-03-13 16:44] IamManchanda commented on #9798
@MProG zip ( or google drive ) me your code  please ??
and yeah with a little instructions on installation ( as i use Php Laravel  for backend )

I Might be able to solve as its a frontend issue than of rails .... so i might be able to reproduce and solve it around!

[2017-03-13 17:04] madbeyk opened #9872 "Tooltips not show in reveal for touch devices"
Tooltip in Reveal - Foundation 6.3.1
It works nicely for mouse hover, it's not working for touch.

On touch there is some error in calculation of width of tooltip
_setPosition() in foundation.tooltip.js returns negative number for width,

I have removed overflow:hidden from @mixin foundation-reveal {html.is-reveal-open, html.is-reveal-open body} as a workaround ...

[2017-03-13 17:15] IamManchanda commented on #9871
First of all i confirm this as a bug,

Moreover,
`#responsive-menu` is getting cold as its inheriting `display: block`

I changed that and its now the left topbar now came from top to left of right topbar
But as you can see still not solved as it should be
=> http://codepen.io/IamManchanda/pen/QpgQWM

cc / @ncoden @brettsmason

[2017-03-13 17:23] IamManchanda commented on #9872
Created a test case for your bug
http://codepen.io/IamManchanda/pen/xqrYQb

If you solved it and have a workaround, please create a pull request
Here is the guide => https://akrabat.com/the-beginners-guide-to-contributing-to-a-github-project/

[2017-03-13 17:33] IamManchanda commented on #9870
Basically looking for a combo of [domain and url pattern](https://github.com/zurb/foundation-sites/blob/develop/js/foundation.abide.js#L547-L549)

because with a domain patern its opposite situation => http://codepen.io/IamManchanda/pen/pewLvY
I think we need a combo pattern of both domain and url !

[2017-03-13 18:06] jtoliver commented on #9861
Awe...nobody wants to answer me question...

[2017-03-13 18:24] IamManchanda commented on #9861
@jtoliver.... Even google gave microsoft 90 days...  please give us some time :D ( Just kidding)

Please provide test case ?
Here is the codepen from which you can fork => https://github.com/zurb/foundation-sites/pull/9827

[2017-03-13 18:39] jtoliver commented on #9861
My apologies, after creating a codepen http://codepen.io/anon/pen/OpgZoy I realized that case works here. So i'm going to do some more debugging in my application to see what is up. I'm sure my syntax is correct. I might need to check my version or have some other js getting in the way.

[2017-03-13 19:25] Yanchek99 commented on #9871
@IamManchanda adjusted the custom styling for the #responsive-menu to include `flex: auto;` which seems to give it proper alignment now.  Perhaps this is a valid fix?
[code]

[2017-03-13 21:24] DaSchTour commented on #9833
I guess the old variables that create the error could be removed or need's protection by a map has key guard. This variables were used before $foundation-palette was introduced. So best would be to remove them as they are obsolete and should not be used internally anymore.

[2017-03-14 04:50] chrishammered commented on #9047
@phifa thanks for the suggestion. I decided to just roll my own sticky, since none of the plugins I looked at were able to meet my needs. So far it's coming along nicely and it should be live in the next week or so. I will share a link once it goes live. :)

[2017-03-14 07:38] ompmega commented on #9857
Don't have a .row and a .columns together
[code]

[2017-03-14 07:59] IamManchanda commented on #9871
@Yanchek99 Yup updated my [pen](http://codepen.io/IamManchanda/pen/QpgQWM) and you are right

Would you like to create a PR for this ??
Here is the guide => https://akrabat.com/the-beginners-guide-to-contributing-to-a-github-project/

[2017-03-14 10:34] Brouilles opened #9873 "Foundation & Isotope - accordion animate bug"
#### How to reproduce this bug:

1. Open the last accordion of the list
2. When recalculating the isotope layout

#### What should happen:
The accordion should open with the animation like the others present above it.

#### What happened instead:
It opens at once, without the animation it should have. The problem only happens when the JavaScript code `down.zf.accordion` is present.

##### JavaScri

[2017-03-14 11:10] IamManchanda commented on #9873
@Brouilles Created a Test case with your code
=> http://codepen.io/IamManchanda/pen/KWvVwp

Seems like incomplete test case,
so please fork it and complete it so that we can help !

[2017-03-14 11:10] Deckluhm commented on #9873
Can you provide a [CodePen](https://codepen.io/ncoden/pen/oYVpMe) that reproduces the issue?

That's probably not related but the way you use the accordion component is... weird!

You should have:
- Only one `<ul class="accordion" data-accordion>`
- Multiple `<li class="accordion-item is-active" data-accordion-item>` inside

[2017-03-14 12:04] Brouilles commented on #9873
Hello,
Thanks for you answer, this is not my code, this is the code of my client. My performance concerned only to make Isotope expand its space. I can not afford to publish more code, the rest being confidential...

Thank you for your time!

[2017-03-14 13:16] Deckluhm commented on #9873
We don't need your real code, just something that reproduces what you consider a bug.

That said, I don't think this is actually a Foundation issue (neither an Isotope one), you probably just misunderstand how to use them together.

[2017-03-14 14:25] jellisii opened #9874 "Input group title and textarea not same height"
#### How to reproduce this bug:

Create an input group using a textarea as the `input-group-field`

#### What should happen:

Textarea and label should be the same height

#### What happened instead:

Label is taller than the textarea

#### Test case:

https://codepen.io/jellisii/pen/zZdNrY

[2017-03-14 14:31] jellisii commented on #9874
It helps to take a BR out of the thing...  I've been staring at this too long.

[2017-03-14 14:31] #9874 closed

[2017-03-14 16:07] fchengpc commented on #9858
@klihelp  is here a way to reset the plugin?

[2017-03-14 17:50] IamManchanda commented on #9814
Same goes for Flex Shrink

[2017-03-14 19:40] IamManchanda opened #9875 "[Foundation Future] Discussion on Grid's Future ( Flex/Float/Spec - Margin/Padding )"
https://github.com/zurb/foundation-sites/wiki/Project-Roadmap#other-things-to-investigateschedule

CSS Grids has landed a week back first in [firefox](https://rachelandrew.co.uk/archives/2017/03/07/css-grid-lands-in-firefox-52/), and then in [chrome](https://blog.chromium.org/2017/02/chrome-57-beta-css-grid-layout-improved.html), [safari](https://developer.apple.com/library/prerelease/content/rele

[2017-03-14 19:41] IamManchanda commented on #9875
https://rachelandrew.co.uk/archives/2016/03/30/should-i-use-grid-or-flexbox/

[2017-03-14 22:17] gmclelland opened #9876 "[Kitchen Sink] Accordion doesn't work"
#### How to reproduce this bug:

1. Click on the second accordion item on http://foundation.zurb.com/sites/docs/kitchen-sink.html

#### What should happen:
The accordion should open

#### What happened instead:
Nothing happens

[2017-03-15 02:00] ashussen commented on #7770
Here is the quick fix I found.

[code]
This will allow the parent link to be **clickable on the second attempt.**

**Details**:
1st click - Open the accordion
2nd click  - Open the link

It is natural response for everyone to try clicking it second time, if the first attempt is not working.

**Drawback**:
User cannot close the accordion in which acceptable in my case

[2017-03-15 07:49] MitchellGeere commented on #8582
Yeah, same issue for me.

[2017-03-15 07:55] IamManchanda commented on #8582
This is exactly why Margin grids makes a case! ( #9699 )

[2017-03-15 12:42] orangedaisy commented on #9875
The prevailing advice seems to be to *not* co-opt CSS Grid into frameworks like this (emphasis mine):

&mdash; http://jensimmons.com/post/feb-28-2017/benefits-learning-how-code-layouts-css

[2017-03-15 13:26] DaSchTour commented on #9875
@orangedaisy very good point. Grid should really be used as the base layout for a page and inside this grid rows and columns from foundation can work very nice. Even with flexbox I'm not sure if there is any need for grids anymore. There are a lot of flexbox features that are very hard to put into css-classes by using foundation-flexbox grid it's only possible to use a very small part of flexbox.

[2017-03-15 14:39] Yanchek99 commented on #9871
@IamManchanda I can but I am not sure what should be included in this PR.  Looking through the scss it doesn't look like id selectors are used.   Do we need some kind of generic selector to get potential containers inside the top bar?  I don't think the following would be accepted.
[code]

[2017-03-15 15:17] glen-84 commented on #9344
I'm going to use this for now:

[code]

I'm not sure why Foundation uses explicit heights for text inputs.

[2017-03-15 16:15] IamManchanda commented on #9875
@DaSchTour :+1: :+1: :+1: :+1: ....... A trillion :+1:

One dimensional Layout => Flexbox
Two dimensional Layout => CSS Grids

@orangedaisy  =We are talking advanced layouts here, we should not create classes, Infact there are so many properties, there is no way we can create classes,
I feels Sass Mixins are the best way to go about.
For example,

[code]

[2017-03-15 16:25] IamManchanda commented on #9871
cc @ncoden

My 2 cents,
You are seeing it as a id selector , but how i see it is

[code]

The problem lies that default css rules is giving `div` a `display: block`
What we can do here is

https://github.com/zurb/foundation-sites/blob/develop/scss/_global.scss
[code]

[2017-03-15 16:33] IamManchanda commented on #9875
Tagging you @corysimmons because Looking at this [Feature Queries](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/CSS_Grid_and_Progressive_Enhancement#Using_feature_queries) example by mozilla,

I have got one deep question in mind,
Can there be a combo of something like { **Calc Grids + Feature Queries + CSS Grids** }

[2017-03-15 18:05] orangedaisy commented on #9875
@IamManchanda Creating mixins like this is, I'm sorry to say, a fool's errand. You're just recreating the browser's built-in functionality. How is that helpful?

[2017-03-15 18:11] IamManchanda commented on #9875
@orangedaisy ohk so what's best way out according to you ?

[2017-03-15 18:25] orangedaisy commented on #9875
@IamManchanda Not doing it at all? It doesn't matter what you do &ndash; classes, mixins, functions, etc &ndash; you're just going to be increasing complexity and recreating something the browser already does. It's like that gradient mixin from a couple of weeks ago: the browser already does this. There's no need to make it more complicated.

[2017-03-15 18:28] klihelp commented on #9858
@fchengpc
see above;
[code]

[2017-03-15 18:34] IamManchanda commented on #9875
ohk @orangedaisy

But i have my two cents on it!
Deep down in my head, I have a thing that coming to my mind

So, I will wait for @corysimmons comment for the same

Reason:
https://github.com/corysimmons/postcss-ant#what-about-grid-spec

[2017-03-15 18:44] orangedaisy commented on #9875
You _should not_ be trying to recreate the Grid spec. I don't understand what any of this has to do with Cory's postcss plugin.

[2017-03-15 23:48] NubSoup opened #9878 "6.3.1 Flex-Grid nested row issue with where content blows out page even with overflow hidden."
Hey guys, after upgrading from 6.3.0 to 6.3.1 i am unable to fix a nested row issue i have around the new style added of " .row:not(.expanded) .row { max-width:none} ". This is causing

#### How to reproduce this bug:

1. Create layout with nested rows
2. Add content in parent with overflow hidden that has larger width window.
3. See things break

#### What should happen:
Overflow hidden should be

[2017-03-16 06:02] zycbob commented on #9788
This works on Foundation sites 6.2.4 and failed on 6.3.0 - 6.3.1

[2017-03-16 09:47] ali-hellani commented on #9843
+1

[2017-03-16 09:56] DaSchTour commented on #9843
Because of this issue I also tried to convince developers of sass, libsass, node-sass and so on to think about something like log levels in sass. But that didn't work at all 😞

[2017-03-16 11:06] MProG opened #9879 "[Close Button] Incorrect button aligment"
Foundation 6.3.0
In right to left format 'X' button aligment is incorrect for chrome.
`
.alert.callout data-closable=""
  p You can so totally close this!
  button.close-button aria-label=("Dismiss alert") data-close="" type="button"
    span aria-hidden="true"  &times;
`

Actual result
![image](https://cloud.githubusercontent.com/assets/8362820/23993490/cd5d4866-0a51-11e7-92af-9bedba6cefcd.png)

[2017-03-16 13:53] mtjepson opened #9880 "Outlook 2010 v14.0.7177.5000 width issue"
In Outlook 2010 v14.0.7177.5000 on installed on 32 bit PC's there seems to be a width issue. Outlook ignores the set px based width which allows all nested tables set to 100% to expand to fit the Outlook viewing window.

#### How to reproduce this bug:

Open a template in Outlook 2010 v14.0.7177.5000

#### What should happen:

Contents within tables set at 100% should only expand to fit the contai

[2017-03-16 14:19] joeldavuk commented on #9805
I experienced this I am using Sass and have the following setup:
`//@include foundation-grid;
@include foundation-flex-grid;`

If the above is correct this problem is still in the latest version (6.3.0)

[2017-03-16 14:34] dwt47 commented on #9788
I believe this is the same bug I'm getting where if the window is being resized while the orbit is transitioning, the slide that transitioned out will break the Orbit the next time it shows up. From what I've been able to test, the 'transitionend'/'webkitTransitionEnd' event isn't firing at all on the element transitioning **out**, so the 'mui-leave' classes aren't being removed appropriately. Thi

[2017-03-16 15:21] dwt47 commented on #9788
I found a workaround fix, for anyone who's interested:

in `foundation.orbit.js`'s `_setWrapperHeight` method, add a check to make sure the slide isn't animating before line 141 `$(this).css({'position': 'relative', 'display': 'none'});`. This was causing slides to hide before completing their transition out, which was stopping `transitionend` from triggering and leaving the `mui-leave` classes.

[2017-03-16 15:45] Deckluhm commented on #9880
This is the Foundation for Sites repository, you should reopen this issue in the [Foundation for Emails repo](https://github.com/zurb/foundation-emails).

And please provide some code that reproduces the issue, it helps a lot!

[2017-03-16 18:01] IamManchanda commented on #9875
@orangedaisy coz i have followed his work!!!

https://corysimmons.com/

[2017-03-16 18:47] IamManchanda commented on #9876
Thanks for reporting .... Created a PR #9882

[2017-03-16 21:16] Deckluhm commented on #9880
Issue reopened [here](https://github.com/zurb/foundation-emails/issues/732).

This one can be closed.

[2017-03-16 21:59] gccumber commented on #5551
@jamieshark Same as @gramila - but to be more specific, on mobile. It doesn't seem reasonable to me that when users click on a regular <a> link, that menu should stay open. same as what @nkoren described on Oct. 20 (above).

[2017-03-17 03:16] corysimmons commented on #9875
If you want I can do a grid with a setting so developers serving different audiences can pick and choose based on their needs. For instance, if you don't need centering or equal height, you should use float just for browser support.

`$grid-type` could take:

- `float`
- `inline-block`
- `flexbox`
- `grid-layout`

I think something that makes my [postcss-ant](https://github.com/corysimmons/postcss

[2017-03-17 07:41] IamManchanda commented on #9875
Yes excited and two **version** **7**

1. Game of Thrones Season **7**
2. Foundation for sites **7**

@corysimmons To let you know, we are dropping [IE9 ](https://github.com/zurb/foundation-sites/issues/9591#issuecomment-277500217) ...

**My 2 cents**

What maybe great as a fallback to **CSS Grids** i feel would be `Calc` combined with `feature queries` because both have almost similar browser sup

[2017-03-17 07:49] IamManchanda commented on #9875
I don't know ... to be advanced is very important but i love sass so its hard and emotional for me to comment on.... will tag @kball on answering this !

[2017-03-17 15:07] corysimmons commented on #9875
I should be explicit. When I say "IE9+", I don't mean "We need to support IE9 guys!"

Flexbox is full of bugs and no one seems to care about an old browser user (0.5%?) here and there. But those small percentages of users missing support add up quick and you end up with a broken site for something like 5% of users.

So when I say "IE9+", I'm just pointing out that it'd work in 99.9% of browsers se

[2017-03-17 18:43] RLHawk1 commented on #7802
Any update on this?

[2017-03-17 20:11] IamManchanda commented on #9878
Here is the issue

[code]

[2017-03-17 21:01] NubSoup commented on #9878
@IamManchanda Sorry if i wasn't clear, but that is the issue i was referring to in the opening statement. I'm calling it out as a bug for layouts with content that need widths larger than container and overflow hidden. They just don't work with the max-width: none.

I couldn't find a work around using the class's available, because as long as you have a row in a row, it has no max-width.

[2017-03-20 11:03] adrianwhite opened #9883 "Equalizer does not work with >1 item in each column"
I'm not really sure if this is a bug or a instead feature request and I'm actually trying do do something Equalizer cannot do.

#### How to reproduce this bug:

1. Use Basic example from http://foundation.zurb.com/sites/docs/equalizer.html
2. Add more than one item of example `.callout` markup in each column

#### What should happen:

Equalizer should still work, producing similar visual layout as

[2017-03-20 16:12] gpspake opened #9884 "subtree: true in eventsListener method is causing conflict"
I've submitted a [post](http://foundation.zurb.com/forum/posts/51612-change-in-63-eventslistener-breaks-jquery-transition-equalizer) about this on the Foundation Forum but not as many people will see it there and we're moving forward with a hard coded fix for this problem so I wanted to get it over here in case it is a genuine bug (and not just my crappy code 😉 ) .

#### How to reproduce this bug:

[2017-03-21 13:24] mk1sml commented on #9811
I am having almost the same issue. Currently on Microsoft Edge touch screen device, the submenu items do not work correctly when clicked.

Example can be viewed at https://www.bakusa.com

[2017-03-21 14:40] gpspake commented on #9883
Ok, it took me a minute but I see what you mean.
If you are equalizing elements in a single row across multiple columns, adding more than one item to the _first_ column breaks equalizer for the whole row. However, if you add more items to the second or third columns, elements across all columns are equalized as expected. This is true even if you move `data-equalizer data-equalize-on="medium"` to a

[2017-03-21 15:12] adrianwhite commented on #9883
Cheers for taking a look @gpspake.

You are correct. Though there is one more thing that is probably more a feature request. I would have expected the elements with the same offset-top value to have the same height.
http://foundation.zurb.com/sites/docs/equalizer.html#equalize-by-row

I do not think the current implementation can handle that as, as far as I can tell, it groups elements before appl

[2017-03-21 16:26] mrYakamoto opened #9886 "nesting rows inside expanded row"
#### How to reproduce this bug:

1. Step one
create a div with class 'row expanded'

2. Step two
nest a div with class 'row' inside and then another div with class 'row' inside of that one.

3. Step three
observe that content doesn't align.

#### What should happen:
users should have ability to expand rows nested inside of expanded rows to full width of previous row.

#### What happened instead:
p

[2017-03-21 17:19] gpspake commented on #9883
I thought about mentioning that but I didn't want to clutter up my response.
This issue identifies an apparent bug but you also bring up a potentially valuable feature request. I would keep the two separate.

Your codepen examples all equalize to a single height (the bug is concerned with this scenario). If you want to equalize to multiple heights in the the same container, you have two options: r

[2017-03-21 17:33] gpspake commented on #9886
You can use `.collapse` on rows to get rid of that padding 😄
[codepen](http://codepen.io/gpspake/pen/zZWNWj)
[collapse docs](http://foundation.zurb.com/sites/docs/grid.html#collapse-uncollapse-rows)

[2017-03-21 17:38] gpspake commented on #9873
@Brouilles Is this something that worked properly in previous versions and stopped working in 6.3? And if so, do you have the ability to make changes to the foundation js the site is using (even if it's minified)?

[2017-03-21 19:19] GriceTurrble opened #9888 "Top-bar dropdown menus show underneath a callout."
#### How to reproduce this bug:

1. Download a fresh copy of Foundation 6.3.1, including all components and flex grid.
2. In the example `index.html` file, add the following just below the `<body>` tag:

    <div data-sticky-container>
      <div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
        <div class="top-bar-title">
          <span data-responsive-toggle="r

[2017-03-21 20:35] adrianwhite commented on #9883
I understand about not wanting to clutter your response.
I'll move the feature request to a new issue.
Is there anything more you need from me regarding the bug covered in this issue?

[2017-03-21 21:13] adrianwhite opened #9889 "Equalize heights of items into "rows" across multiple columns"
Discussion was initially on #9883 with @gpspake

I have multiple items of differing type/category (news, events, blog posts) I want to list in columns to maintain their association. I want to add equalizer to the parent row and have the items in the columns (probably with data-equalizer-watch) have the same height as the tallest item that has the same offsetTop. Or a simpler explanation: the first

[2017-03-22 17:21] dimstar commented on #8221
The only way around this was to rename `hide.zf.[whatever obj]` to `hideMe.zf.[whatever obj]`. I know this isn't a best solution, but it works.

I am on magento 2.1.5 (which doesn't use prototype anymore, yay!) but I have to deal with a legacy extension which still does dip into the legacy-build.js (prototype.js).

[2017-03-22 18:13] IamManchanda commented on #9875
You nailed it but most bugs are only there in flexbox because people wanna use flexbox for two dimensional layouts.

[2017-03-22 19:01] corysimmons commented on #9875
People use flexbox for everything. It'd work if there weren't so many bugs, but the bugs _are_ there, and they get worse as you nest and the more things you try to do with it.

I'm speaking from real-world experience walking into a dozen sites that were about to launch. The client reviewed them on Safari (version was less than a year old) and opened dozens of requests to fix various things. As I f

[2017-03-23 06:26] soulcreate opened #9890 "Nesting style error on 6.3.1"
I check version 6.3.1 and have error on use this code:
[code]
and error is:
[code]
It necessary for [wysiwyg redactor from imperavi](https://imperavi.com/redactor/) for backend editing site.
For version 6.2 work all right!

[2017-03-23 16:34] gpspake opened #9892 "Sticky component doesn't honor data-sticky-on attribute"
#### How to reproduce this bug:

1. Create a layout with sticky elements in accordance with the [sticky component examples in the docs](http://foundation.zurb.com/sites/docs/sticky.html)
2. Set `data-sticky-on="large"` attribute on sticky elements

#### What should happen:
elements should only be sticky on large and all dom manipulations associated with the sticky component should not be applied o

[2017-03-23 16:56] gpspake commented on #9890
Hard to say without more info but you may need to add the paths to those sassy-list files to your your gulpfile so sass knows where to look for those files. It's probably looking for those files using some relative path and not finding it because of the way you're importing foundation, there.
so something like:
[code]
(I could be wrong tho 😉 )

[2017-03-23 17:16] gpspake commented on #9888
Well, the root cause is a z-index issue. It seems that the z-index for `.sticky` is explicitly set to 0 (not sure why) when the element is fixed which, I guess, applies to the entire nav. There's no z-index set for callout but, as you pointed out, that [relative positioning](https://css-tricks.com/almanac/properties/z/z-index/) kicks in and ends up getting priority somehow.
Two ways I was able to

[2017-03-23 18:18] satyajit11 commented on #9888
z-index is causing issue here ".top-bar ul " doesn't have z-index just add this it'll solve this issue
.top-bar {
    z-index: 1;
}

[2017-03-23 18:29] satyajit11 commented on #9886
you can use row instead of column in your code to get rid of space

<div class="row expanded outer">
  <div class="row">
    <h2>Expanded Row</h2>
    <div class="row">
      <div class="row">
        <h3>nested row</h3>
          <div class="row">
            <div class="row">
              <h4>second nested row</h4>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

[2017-03-23 18:43] GriceTurrble commented on #9888
Yes, putting `z-index: 1` on `.top-bar` fixed the issue on my side, as well.

[2017-03-23 18:48] satyajit11 commented on #9878
use this class="row expanded page-wrapper" instead class="row page-wrapper"

[codepen](http://codepen.io/satyajit11/pen/yMELmb?editors=1000)

[2017-03-23 18:57] gpspake commented on #9886
@satyajit11 You get the same [result](http://codepen.io/gpspake/pen/jBKEVm?editors=1100) if you just delete the .columns divs that you changed, so changing them to .row is redundant. It also results in the same problem with using `collapse`; you lose your outer padding in the nested expanded rows.

[2017-03-23 19:03] gpspake commented on #9888
I wonder, though, if modifying the sticky component would be more appropriate as that seems to be what's causing the issue. Top-bar probably doesn't need a z-index to be set explicitly. The fact that top bar happens to be the component that sticky was used on here is coincidental; the same issue could likely occur in other components that are set to sticky as long as that z-index is explicitly set

[2017-03-23 19:24] satyajit11 commented on #9886
try this it will fix padding issue
[codepen](http://codepen.io/satyajit11/pen/PpaoyM?editors=1000)

<div class="row expanded outer">
  <div class="column">

    <h1>Expanded Row</h1>
    <div class="row expanded">
      <div class="column">
        <h2>nested row</h2>
          <div class="row expanded">
            <div class="column">
              <h3>nested expanded row</h3>
            </div>

[2017-03-23 21:53] gpspake commented on #9886
@satyajit11 That looks like a different use case. He wants to nest expanded rows in a contained row in an expanded row but, if you do so, the outer padding isn't applied to the nested expanded rows.
In your example, which is correct albeit for a different use case, all of the nested rows are expanded to full width.

[2017-03-24 11:10] adrianwhite commented on #9883
I've been looking at this issue and I think I have found the culprit.
https://github.com/zurb/foundation-sites/blob/develop/js/foundation.equalizer.js#L164
When you have more than 1 item in the first column `_isStacked` will return true as the first two items are stacked. This makes `_reflow` return false so Equalizer does nothing.

[2017-03-24 11:46] adrianwhite commented on #9889
I have created a rather naive solution that is probably quite sub-optimal:
https://gist.github.com/adrianwhite/9e80759b9e425479e6ae00c897f48d38#file-foundation-equalizer-js-L186
This requires `data-equalize-by-row="true"` and  `data-equalize-on-stack="true"` options and probably `data-equalize-on="[breakpoint]"` if columns are stacked at smaller breakpoints as it'll run unnecessarily. The equaliza

[2017-03-24 13:09] dragthor commented on #9892
Are these working correctly for you:

`Foundation.MediaQuery.is("medium")`

`Foundation.MediaQuery.is("large")`

[2017-03-24 19:02] ercmert opened #9894 "Accordion Example is not working."
Your “Accordion” example component on your kitchen sink page is not working. I’m on a Mac with the current version of Chrome.

http://foundation.zurb.com/sites/docs/kitchen-sink.html

[2017-03-24 19:12] dragthor commented on #9894
Pull request https://github.com/zurb/foundation-sites/pull/9882 fixes this.

Dupe of https://github.com/zurb/foundation-sites/issues/9876

[2017-03-24 19:25] IamManchanda commented on #9894
@ercmert i think you should close this buddy ... cheers .... thanks a lot for reporting though!!

[2017-03-24 21:28] gpspake commented on #9892
@dragthor in what context? Everything's working fine with the exception, it seems, of the `data-sticky-on` attribute listed in the docs. If you set `data-sticky-on` to `large`, then the sticky component should only manipulate the element on large screens and greater but, as the codepen demonstrates, it continues to make changes to the dom on smaller screens. So to answer your question to the best

[2017-03-24 23:22] ivancp opened #9895 "Pagination doesn't work properly"
Hello,
I'm using Foundation 6.3.1, according to documentation the pagination have disable status using class 'disabled', but when I try remove I have estrange behavior.
#### How to reproduce this bug:

1. Use the regular sample in http://foundation.zurb.com/sites/docs/pagination.html
2. Remove the 'disabled' from `<li>` with 'pagination-previous' and add 'disabled' to `<li>` with 'pagination-next'

[2017-03-25 07:06] soulcreate opened #9897 "$body-font-color bad value?"
I set in _settings.scss color of text:
[code]
But have error:
[code]
What I do wrong?

[2017-03-25 12:07] IamManchanda commented on #9897
my reply a bit off topic but if you want to use nearby [#878787](http://www.colorhexa.com/878787)
then you should use `$dark-gray` for `$body-font-color` instead which is [#8a8a8a](http://www.colorhexa.com/8a8a8a)

[2017-03-25 19:14] IamManchanda opened #9898 "Foundation 7: CSS Architecture (Suggestion/Proposal) - ITCSS + SMACSS"
https://github.com/zurb/foundation-sites/wiki/Project-Roadmap#70-november-2017

Hmmn.. 2 weeks back @ncoden introduced me to an [organized css world](https://csswizardry.com/2015/08/bemit-taking-the-bem-naming-convention-a-step-further/) and had some good amount of research about these types of organized architecture's and now .... i am proposing this below for foundation 7 and i will be very happ

[2017-03-25 19:23] RamanCool commented on #9898
Nice and according to me that **Theme** part can help build something like [Bootswatch](https://bootswatch.com/) type within foundation itself only.

[2017-03-25 19:24] BicanMarianValeriu opened #9899 "Row > Column > * > Row : Wrong Margins"
#### How to reproduce this bug:
[code]
I have this HTML

#### What should happen:
The child row should have margin auto. This happens only on flexbox.
#### What happened instead:
Second row floats to left.
#### Test case:

https://codepen.io/wecodeart/pen/ryrjRj

[2017-03-25 19:31] tonystar commented on #9645
You definitely should check this out: https://github.com/tonystar/float-label-css!

[2017-03-25 22:26] greg-raven opened #9900 "[Kitchen Sink] Page does not validate"
#### How to reproduce this bug:

1. Open page in BBEdit
2. Check syntax
3. View syntax errors

#### What should happen:

You should get a dialogue box that says "no syntax errors">

#### What happened instead:

Line 368: Value “exampleHelpText” for id attribute of element “<p>” must be unique.
Line 353: ID or Name value “exampleHelpText” was previously used here.
Line 465: Value “panel1d-heading”

[2017-03-26 04:52] IamManchanda commented on #9899
Although not released in latest foundation but this is already solved in `develop` branch
( attaching screenshot below too of local testing too )
Thanks for reporting though!

Dupe of #9729 & fixed in #9730

@BicanMarianValeriu ... i would request to close this if your issue is resolved!

--------------------------------------------------------------------------------------------------------------

[2017-03-26 07:07] #9899 closed

[2017-03-26 07:15] BicanMarianValeriu opened #9901 ".shrink Behaviour on nested column.row on flexbox 6.3.1"
#### How to reproduce this bug:

[code]

#### What should happen:
Shrink should "shrink" the column

#### What happened instead:
Column is expanded to full width

#### Test case:

Here is with Foundation Flexbox 6.3.1
Change the CSS to 6.3.0 and see how it worked!

https://codepen.io/wecodeart/pen/KWBZRm

[2017-03-26 07:16] BicanMarianValeriu commented on #9901
Also resize the window for small screens to see what I'm talking about.

[2017-03-26 12:35] IamManchanda commented on #9898
Here is an another thing to consider
=> **BEMIT** by another **Harry**

Hereby, i also would like to propose below types of convention for V7 ...

[code]

**Source**:
- https://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/
- https://csswizardry.com/2015/08/bemit-taking-the-bem-naming-convention-a-step-further/

-------------------------------------------------------------------

[2017-03-26 15:02] IamManchanda commented on #9645
@tonystar - Good deed needs no permission!

https://akrabat.com/the-beginners-guide-to-contributing-to-a-github-project/

[2017-03-26 22:41] Deckluhm commented on #9897
That's not an error, just a warning. Basically this warning just tells you that the contrast between your font color and your background color isn't high enough for optimal readability.

Unless you can't change colors (e.g. imposed by client), you should care about this warning because it improves accessibility and more generally UX.

[2017-03-27 12:17] vikks opened #9902 "drilldown-menu auto-height conflict with dynamic back button."
hi,
i am trying to implement a dymanic back link(i.e., display the parent-link of the opened submenu instead of the standard static link with '< back' text).

[code]
This is the hack i am using to achive the dynamic back button.
[code]
Event with  the  above hack "open.zf.drilldown" event does not fire when the page loads with an already active menu-item.

Is there something much cleaner to achiev

[2017-03-27 15:02] Geddo opened #9903 "[Dropdown Menu] latest Chrome doesnt fire top links"
#### How to reproduce this bug:
1. Install latest Chrome 57.0.2987.110 (64-bit)
2. Go to http://foundation.zurb.com/sites/docs/dropdown-menu.html
3. Click on the top-nav links on the right (Showcase, develop etc.)

#### What should happen:
Top links should be fired (as they do in Chrome 56)

#### What happened instead:
nothing, you have to double-click the link to fire the event

#### Test case:
h

[2017-03-27 15:05] phifa commented on #9903
same here... all my foundation sites have this issue now. is this a chrome bug?

[2017-03-27 15:12] Geddo commented on #9903
afaik Foundation has this double-click feature built-in for mobile devices to show submenus with the first "tap" AND the possibility to click on the top menu-links with another "tap" - but that should accutally only be enabled for mobile devices ;-)

[2017-03-27 17:16] ShintaroNippon opened #9904 "Orbit Foundation not working in mobile"
I have settled the orbit in foundation slider, but in mobile
the image gets blocked for down and up, is not possible to scroll down and up in mobile
in top of the image of slider, i'm using this code

[code]

i'm using this foundation code

`  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/js/foundation.min.js"></script>`

Any help is welcome... thanks in adv

[2017-03-27 17:35] ShintaroNippon commented on #9904
already solved i update the plugin

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>

sorry
thanks by understanding

[2017-03-27 18:18] sunnymesa opened #9905 "[Abide] checkbox validation is not working"
#### How to reproduce this bug:

1. Step one
    click "submit" button, to show error
2. Step two
    enter all the required field shown in error, but in checkbox, do not click the red highlighted checkbox, click "submit" it will still show error
3. Step three
    then click the red highlighted checkbox, submit then would work.
#### What should happen:
    click any checkbox should make error disa

[2017-03-27 18:54] defuzer opened #9906 "Gmail application iOS/Android"
I just added to outlook 2016 sample template: order.html

And see what happens with space between text (Order details). Only on GMAIL app.
![unnamed](https://cloud.githubusercontent.com/assets/1432683/24372838/9a729082-132f-11e7-97f8-9516a1cc2093.jpg)

[2017-03-27 21:52] npapazian opened #9907 "Foundation Sites Gulp Error"
I pulled down a copy of this repo (https://github.com/zurb/foundation-sites.git) and am getting a gulp error trying to run the project. I installed all the node packages, but when I go to run npm start, the gulp task starts but errors out after about 5 seconds. It seems to be the 'docs:all' task that is the culprit, but I can't figure out what is wrong.

**Steps to reproduce:**
1. Clone this repo

[2017-03-28 12:11] IamManchanda commented on #9906
Seems like this regarding foundation for emails

If yes then please close this and move the issue to https://github.com/zurb/foundation-emails

[2017-03-28 14:16] #9904 closed

[2017-03-28 14:26] adrianwhite commented on #9889
Yeh. Ignore that Gist. It is a very silly implementation.

[2017-03-28 15:24] #9906 closed

[2017-03-28 15:29] stephane-r opened #9909 "Create new instance Asynchronous"
Hi community :)

I would like programmatic use sticky component but asynchronous.
If i run new instance synchronously, the component has been init :

`const sticky = new Foundation.Sticky($('.sticky'));`

But with setTimeout, sticky component isn't init :

[code]

Do you know if is problem with configuration or a bug ?

Thank you community !

#### Test case:

- [CodePen with Foundation 6.3.0](http

[2017-03-28 16:38] gpspake commented on #9889
Thoughts on this.
I believe this is a valid feature request and I can think of some good use cases for it. I also think that it's probably viable.

In the context of doing fancy stuff with equalizer, I've found that an important question to ask is "are we equalizing to a single height or Multiple heights?" Most of the time, we're going to be equalizing to a single height i.e. the tallest item bein

[2017-03-28 19:18] dragthor opened #9910 "[V5] Topbar Chrome Js Error"
We' ve been seeing this issue in Chrome consistently over the past 15 days.

![v5chrome-error](https://cloud.githubusercontent.com/assets/156634/24422970/6af2d462-13c9-11e7-942a-db07d5d6458a.PNG)

Chrome breakdown:

![v5chrome](https://cloud.githubusercontent.com/assets/156634/24422940/4d13ffb6-13c9-11e7-9be4-effc5e75254f.PNG)

It can be difficult to reproduce, but if you reload a page with a `top

[2017-03-28 19:22] dragthor commented on #9910
Chrome 57.0.2987 released around the same time.

[2017-03-29 08:30] chanwhab opened #9912 "Drilldown opens child menu without transition at mobile when flexbox on, sometime freeze."
#### How to reproduce this bug:
The transition i referred is the animation of menu sliding in/out when clicked.

ver 6.3.1
1. flexbox ON
2. put a simple drilldown menu
3. click to open -> child menu opens with no transition
4. click back -> parent menu opens with transition
occasionally it will freeze as well.

#### What should happen:
both should have transition

#### What happened instead:
openi

[2017-03-29 09:07] mmieluch opened #9913 "[Tabs] Incorrect use of aria-hidden attribute"
Visibility of individual tabs is controlled by leveraging the value of the `aria-hidden` attribute. In the current version (`6.3.0`) a tab content container is visible only if it has a `aria-hidden="false"` attribute, which represents an incorrect use of a boolean attribute.

According to the [spec](https://www.w3.org/TR/html5/infrastructure.html#boolean-attributes) all of these should be interpre

[2017-03-29 09:45] stephane-r opened #9914 "[Orbit] locked after a few slide on iPad only"
Hi community,

I see a bug on Orbit slider, only on **iPad (iOS 10.0.2 (14A456))**, Safari and Chrome browser latest version.

When i slide to the last item and i back to left, the carousel is hide and locked.

I've get a bug screenshot from Orbit Foundation Doc  :

![img_0010](https://cloud.githubusercontent.com/assets/4712791/24448429/712ee392-1474-11e7-88b9-1e6a285c0e2c.jpg)

#### How to reprod

[2017-03-29 14:13] jzatt commented on #9843
+1

Option to disable the warning would be ideal!

[2017-03-29 16:24] IamManchanda commented on #9633
Solved in #9882 ( #9876 )

[2017-03-29 16:38] IamManchanda commented on #9512
any updates on this @ncoden @kball

Moreover i think should be also labelled as "Feature request"

[2017-03-29 16:46] IamManchanda commented on #9194
Been adressed again #9882
( sad that this above PR by @karland wasn't merged till date )

[2017-03-29 16:50] MProG opened #9917 "[Accordion] Button line incorrect"
Rails 5, foundation 6.3, chrome 56.0.2924.87 (64-bit)

http://codepen.io/MProG/pen/mWQeoB

I added button grope at content
`  .accordion-content data-tab-content=''
    .button-group.tiny
      = link_to t('post.button.reject'), post_path(model, state: :rejected), method: :put, class: "button alert"
      = link_to t('post.button.read_source'), link, class: "button"`

This variant work fine. But w

[2017-03-29 16:53] IamManchanda commented on #9917
@MProG

Please provide test case ?
Here is the codepen from which you can fork => #9827

[2017-03-29 16:57] IamManchanda commented on #9912
@idolab sorry but i am unable to reproduce!

[2017-03-29 17:02] IamManchanda commented on #9914
@LeG3nDz
Seems like that this is a,

Dupe of #9788,
PR open at #9881

[2017-03-29 17:22] MProG commented on #9917
@IamManchanda Sorry i cant't reproduce this bug. But found other. Incorrect bottom line http://codepen.io/MProG/pen/mWQeoB

[2017-03-29 17:22] sanderblue commented on #9843
The PR above has been approved so we're in waiting mode at the moment for this option to be merged into Foundation's develop branch.

[2017-03-29 19:17] rheaton commented on #7913
@gakimball Hi! I upgraded to 6.3.1, which I includes the fix you mentioned in `grid-column-unposition`, but it doesn't handle removing the classes added to the last child.

The style still applied:
[code]

A codepen showing what happens if you attempt to uncenter:
http://codepen.io/rheaton/pen/MpzeaB

Anyway, I can solve the problem with pushing since I want an even number of columns on small for

[2017-03-29 23:26] TheCodingSmith opened #9918 "Requiring external module babel-register module.js:471 throw err;"
#### How to reproduce this bug:
1. On Windows 10
2. Open Bash in root directory
3. Run `npm start`
#### What should happen:

It should run the server

#### What happened instead:

$ npm start

[17:30:11] Requiring external module babel-register
module.js:471
    throw err;
    ^

Error: Cannot find module './fs.js'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._

[2017-03-29 23:28] TheCodingSmith commented on #9918
To note.
The server was running fine. I made a change in my src/data/**.json file, reloaded the server and got this.
I since then have done a `git checkout .` and I still get this error. Nothing else has changed.

[2017-03-30 06:11] IamManchanda commented on #9917
@MProG Solution for this is easy if you happy to use [flexbox](http://caniuse.com/#search=flexbox)
=> http://codepen.io/IamManchanda/pen/gmQXVo

Simply use `align-right` instead of `float-right` in this case

After all, browser usage of IE9 now is less than 0.25% then why not use flexbox ( https://github.com/zurb/foundation-sites/issues/9591#issuecomment-277500217 )

[2017-03-30 07:37] MProG commented on #9917
@IamManchanda Thanks

[2017-03-30 07:37] #9917 closed

[2017-03-30 08:28] IamManchanda commented on #9917
@MProG Glad i could help you!

[2017-03-30 10:54] tschaka1904 opened #9919 "Foundation 6 Sticky element in Angular2"
#### How to reproduce this bug:
I'm using Foundation 6.2.4. I'm trying to make Foundations Sticky work in my Angular2 application.  I struggle with the Sticky element in general. What I have is this:
### Component Template
[code]
It might be important to say that wrapperDiv is loaded directly and has no ngIf condition in it's parents.
In my component I use this in my ngAfterViewInit:
### Component

[2017-03-30 14:08] maximov001 commented on #9633
It is NOT!
Look here: [http://foundation.zurb.com/sites/docs/kitchen-sink.html](http://foundation.zurb.com/sites/docs/kitchen-sink.html)
Same errors in the source code, example is nor working.

[2017-03-30 14:27] Geddo commented on #9903
same problem in 58.0.3029.41 beta (64-bit) :-(

[2017-03-30 15:21] IamManchanda commented on #9633
@maximov001 i have corrected my above comment, sorry if you misread me
What i mean is that i have opened a PR solving this

Though zurb is a design company but please note that foundation framework is an open source project maintained by developers (like me and you) around the globe so its hard to get things done within a timeline.
But,
We are still sorry as this should have been fixed early fwiw!

[2017-03-30 18:33] jkmcrg commented on #7342
Absolutely glorious - I did not forget a dash - & was still getting this error. Adding a transition time fixed it. Real glad you goofed up y'all helped me out! :)

[2017-03-30 20:06] SevenEcks commented on #7386
Use 'script-loader!jquery' now instead of just 'script!jquery'.

[2017-03-30 21:27] darinronne commented on #9169
I am having a similar issue. I am using the Foundation 6 ZURB Template.

I do have $global-flexbox: true;
and in app.scss "foundation-grid" is commented out and "foundation-flex-grid" is un-commented, as is "foundation-flex-classes".

These are the styles for a row in the Development CSS:
`.row {
    max-width: 85.71429rem;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-flex;

[2017-03-30 23:01] grantcarthew commented on #7386
As a reference, checkout [vue-foundation](https://github.com/hal0gen/vue-foundation). It is for Vuejs also however you can just reference the foundation portions of the config.

[2017-03-31 05:10] #9918 closed

[2017-03-31 05:10] IamManchanda commented on #9169
cc / @ben-eb

[2017-03-31 06:09] phifa commented on #9903
it is the same in firefox: try the top bar here: http://foundation.zurb.com/

[2017-03-31 06:44] ben-eb commented on #9169
@IamManchanda Try excluding autoprefixer from the transforms, with this options object -  `{autoprefixer: false}`. 😄

[2017-03-31 11:37] idolab commented on #9912
Maybe ignore the freeze part first. But did you notice the?missing of tranistion in animation of child menu?

I have tested all safari amd chrome browser

[2017-03-31 13:40] darinronne commented on #9169
That worked. Thanks. I added that to my gulpfile.babel.js file.

`.pipe($.if(PRODUCTION, $.cssnano({autoprefixer: false})))`

Seems like this should be the default setting. What's the point of specifying Autoprefixer compatibility if cssnano just removes it?

[2017-03-31 14:29] ben-eb commented on #9169
@darinronne I'm changing this behaviour in the next major release, it is a known issue. :smile:

https://github.com/ben-eb/cssnano/issues/252

[2017-03-31 15:38] jellisii commented on #9638
I have a working implementation of orbit in accordion.  It's clunky, but I'm unsure how to use the mutation observer properly as of yet.

On initial page render, set all accordion items with `.is-active`.  Have a method of flagging which items you want to stay open.  I'm using `.default-expanded`.  This will render the tab open and allow orbit to init properly when you fire `$(document).foundation

[2017-03-31 16:57] artursopelnik opened #9920 "Interchange (destory/update/reInit)"
What's up with destory method?
[foundation-sites/js/foundation.interchange.js | line 176
](https://github.com/zurb/foundation-sites/blob/develop/js/foundation.interchange.js)
I try to (reInit/update) my interchange with `Foundation.reInit` but it also fails. What are the possibilities?

[2017-04-01 14:42] Geddo commented on #9903
True, but Firefox ESR (45) is not affected btw. Anyway here is a fix for my problem (thansk to Phifa):
`var navButton = $('.nav__dropdown .is-dropdown-submenu-parent a');
navButton.on('click', function() {
   if (whatInput.ask() === 'mouse') {
      var myLink = $(this).attr("href");
      window.open(myLink,"_self");
  }
});
`

[2017-04-01 15:44] bgarrant opened #9921 "Global Flexbox enabled breaks Topbar 'top-bar-right' class"
When I enable `$global-flexbox: true;` in my settings file, my Topbar is breaking alignment.  The `top-bar-right` class requires a div with `top-bar-left` before it to align to right properly.

[code]
Is this a bug?

[2017-04-01 16:18] IamManchanda commented on #9921
cc / @ncoden @brettsmason !
Test case => http://codepen.io/IamManchanda/pen/PpVZMd

[2017-04-01 16:39] bgarrant commented on #9921
Thanks @IamManchanda .  Any fix you know of?

[2017-04-01 17:35] IamManchanda opened #9922 "Against #9596: System Font Stacks @font-face"
This affirmation is against (my own affirmation) #9596 which was merged here => #9644

https://css-tricks.com/snippets/css/system-font-stack/#article-header-id-2

Biggest benefit of the below code i feel is that designers/developers can use this in **simple css** instead of using sass for such tasks,
and thus can be used in css-only projects also!

[code]

Please Note that @jonathantneal's full ex

[2017-04-01 17:52] IamManchanda commented on #9921
@bgarrant i tagged other sass/css guys only coz was unable to solve myself (maybe due to lack of my current knowledge of flexbox)
Unless would have created a PR for a fix in no time :sweat_smile:

[2017-04-01 17:56] bgarrant commented on #9921
$IamManchanda Thanks.  I tried a few ways as well with no success.  Adding the empty div is only way other than disabling global flex which I do not want to do.

[2017-04-02 14:52] IamManchanda commented on #9922
https://jonathantneal.github.io/system-font-css/

[2017-04-02 20:44] CGTS opened #9924 "Reinitialize Plugin after PJAX load"
I have a reveal modal that contains a menu. When I click on a menu item it loads a new page using BarbaJS . The problem is the page loads, but the reveal stays open. When I close it, it won't reopen. I tried to trigger a close on a new page load but I get an error message. I've used the following:

[code]

I also tried

[code]

Both times I get the following error:

[code]

When I try to reinitial

[2017-04-03 15:57] brettsmason commented on #9921
@bgarrant can you try adding `margin-left: auto;` to `.top-bar-right`?
If I understand correctly, that should make it display correctly.

[2017-04-03 16:02] bgarrant commented on #9921
That does work but why is that needed?  I can;t find that in the docs anywhere?

[2017-04-03 16:04] bgarrant commented on #9921
This fixes it: `<div class="top-bar-right" style="margin-left: auto;">`

[2017-04-03 16:04] IamManchanda commented on #9921
Yup this should be by default => http://codepen.io/IamManchanda/pen/VpReOb

[2017-04-03 16:06] IamManchanda commented on #9921
@bgarrant .... Can you create a PR ? .... if not i will do it for you buddy!

[2017-04-03 16:07] bgarrant commented on #9921
@IamManchanda I am in a meeting like all day.  Can you add that for me?  I really appreciate it.  Thanks for all your help @IamManchanda and @brettsmason !

[2017-04-03 16:10] bgarrant commented on #9921
had a typo above.  Corrected it

[2017-04-03 16:20] IamManchanda commented on #9921
Done!! @bgarrant

[2017-04-03 16:26] bgarrant commented on #9921
Thank you @IamManchanda !

[2017-04-03 18:40] IamManchanda commented on #9807
Closing this now.... I hope this technical update ringed a bit of bells!

[2017-04-03 18:40] #9807 closed

[2017-04-03 20:29] kball commented on #9813
I don't see us using this broadly, but am open to this as a set of utilities. @christianmagill do you want to submit a PR?

[2017-04-03 20:35] kball commented on #9822
Fixed in #9840. Will be in 6.4

[2017-04-03 20:35] #9822 closed

[2017-04-03 20:37] kball commented on #9767
@Owlbertz I'm inclined to go with your opinion... Do you want to implement?

[2017-04-03 20:38] kball commented on #9786
@phifa I think we have a way to handle this for block grid... but still curious what @tdhartwick @brettsmason @andycochran and @jnemeth think of this.

[2017-04-03 21:23] kball commented on #9484
@sashabeep are you seeing this in 6.3.1? I believe @sinspiral's PR addressed this

[2017-04-03 21:25] kball commented on #9836
@canterberrie do you want to take a crack at this one?

[2017-04-03 21:27] CGTS commented on #9924
I got the reveal to close by reinitializing foundation:

[code]

of course now that it is re-initializing `foundation` I get a message like this:
``
Tried to initialize accordion-menu on an element that already has a Foundation plugin.
[code]

[2017-04-03 21:33] #9838 closed

[2017-04-03 21:36] CGTS commented on #9767
I just spoke with a guy at here at work who is a [VA Trusted Tester](https://www.dhs.gov/trusted-tester) (pending) and he says either solution will pass the VA's accessibility testing (it tends to be more strict). He prefers the first solution though (arrow nav on tabs).

[2017-04-03 21:37] kball commented on #9844
This is kind of bizarre... @abdullahsalem you've done a lot of RTL, any idea what is going on here? Can you take a crack at this?

[2017-04-03 21:38] kball commented on #9817
Agreed. Closing

[2017-04-03 21:38] #9817 closed

[2017-04-03 21:39] kball commented on #9800
@rafibomb do you want to jump in on this one?

[2017-04-03 21:41] kball commented on #9816
@7oot were you interested in doing a PR for this? If not, I have a couple other folks in mind to direct a good beginner issue like this to

[2017-04-03 21:45] #9845 closed

[2017-04-03 21:49] kball commented on #9789
Hmm... interesting. So I think it doesn't make sense to have a true "Multiopen" case for tabs, but it might make sense to let you configure either it to either show first in the list or the most recently opened.

We might be making this too complex; I think this is largely an edge case and the important thing is to make sure we dont' end up in a broken state... The simplest case is taking the firs

[2017-04-03 22:54] rafibomb commented on #9821
It's not clear what you're trying to accomplish but using a Sass placeholder without @extend would not work.

I would expect this works better

[code]
but i have success doing this

[code]

[2017-04-03 23:01] #9825 closed

[2017-04-04 01:51] SammyB commented on #7802
+1

[2017-04-04 04:43] IamManchanda commented on #9875
Poke @kball @rafibomb!

[2017-04-04 04:54] IamManchanda commented on #9867
Poke @kball.... Awaiting reply kev!

[2017-04-04 06:17] LGT4 opened #9928 "search when nothing found"
When the search widget entry leads to nothing found  https://domain.com/?s=nothing  then the search widget should not display.  Otherwise you end up with 2 search boxes.

[2017-04-04 06:21] IamManchanda commented on #9928
@LGT4 Test case please.
You can fork from these below pens for creating a test case

- [CodePen with Foundation 6.3.1 and MotionUI](http://codepen.io/IamManchanda/pen/LWGZxR)
- [CodePen with Foundation 6.3.1, Flexbox grid and MotionUI](http://codepen.io/IamManchanda/pen/zZrBEv)

[2017-04-04 06:27] IamManchanda commented on #9587
closing this as added here #9636

[2017-04-04 06:27] #9587 closed

[2017-04-04 06:40] sashabeep commented on #9484
@kball 6.3.0, 6.3.1 not yet tested without my custom handler.
Facing the problem on touchscreen laptop, now i can't access to this machine

[2017-04-04 11:58] phifa commented on #9924
see https://github.com/zurb/foundation-sites/issues/9047

[2017-04-04 12:47] Deckluhm commented on #9928
What "search widget" are you talking about?

[2017-04-04 12:50] IamManchanda commented on #9928
yup @Deckluhm even i am confused :D

[2017-04-04 13:32] Luckyfella73 commented on #7913
I just came across the same problem, like @rheaton suggested I was able to solve it with the push classes.

Inspecting the code in chromes console it looks like the property `clear: both;` set by `medium-centered` has to be overwritten in the class `large-uncentered`. At least in my case the problem disappears when unchecking `clear: both;` set by `medium-centered` in the console.

[2017-04-04 13:54] maximov001 commented on #9633
@IamManchanda - I understand the point and I really appreciate the great work of everyone involved in the Foundation project! I do hope this kitchensink example error will be fixed sooner than later - it is kind of a showcase - everyone wishing to explore the Foundation comes there and it is just not right that this particular part is broken...
Keep up the good work!

[2017-04-04 16:31] #9263 closed

[2017-04-04 16:38] kball commented on #7923
Trying to figure out the state of this issue... it looks like the issue of overriding values was resolved, and the remaining issue was enabling foundation after an angular render, is that correct?  Can we close this?

[2017-04-04 16:42] kball commented on #9790
CC @ncoden and @abdullahsalem we need to figure out/fix this `_vendor` issue certainly for 6.4

[2017-04-04 16:47] kball commented on #9855
@coleh33 What does your settings file look like? digging through the backtrace it looks like something's going wrong calculating the header definitions...

cc @brettsmason @karland

[2017-04-04 16:57] #9843 closed

[2017-04-04 16:57] kball commented on #9859
@brettsmason what are your thoughts on this?

[2017-04-04 18:07] brettsmason commented on #9859
@jinch thanks for reporting this and finding a solution.
I'm not sure if we should make the wrapper required or not, as its not always needed, but it depends on your configuation etc. I agree though that it will iron out a lot of potential issues people may have.

@kball I'd be happy to make it required if you are.

[2017-04-04 18:24] kball commented on #9859
@rafibomb what do you think?

[2017-04-04 20:08] kball commented on #9852
@git-hubber or @Deckluhm would either of you like to submit a PR?

[2017-04-04 21:23] kball commented on #9833
cc @andycochran

[2017-04-04 21:27] kball commented on #9857
The revert was done because that change introduced broken behavior for contents of row.

Generally speaking, I don't think `.row > .row.columns` makes sense... proper use would be either `.row.columns > .row` or `.row > .columns > .row.columns`.

Broadly this is a place where a simpler grid structure would help. cc @brettsmason @ncoden @rafibomb

[2017-04-04 21:30] LGT4 commented on #9928
see attached.  The no results template has a search bar.  It duplicates the right side bar search widget.  There is no need for a search bar in the no results template.

[Search Results for “something real” – FoundationPress.pdf](https://github.com/zurb/foundation-sites/files/894576/Search.Results.for.something.real.FoundationPress.pdf)

[2017-04-04 21:34] kball commented on #9871
Moving all divs to display flex is a very very large hammer and not what we want. And broadly, we should always target classes for styles, not elements or ids, for specificity reasons.

You can get the menu to behave as you want by giving it a `.flex-container` class... I'm not sure if there is actually a bug here or responsive nav in flex mode simply needs a better example. @rafibomb what do you

[2017-04-04 21:44] kball commented on #9879
Looks like we are missing an rtl mode for `close-button`. @MProG would you like to put together a PR for this? I suspect you should be able to handle this simply by adding a check for `$global-text-direction` around this location: https://github.com/zurb/foundation-sites/blob/develop/scss/components/_close-button.scss#L11

You can see an example of the approach here: https://github.com/zurb/founda

[2017-04-04 21:54] kball commented on #9805
@joeldavuk Can you show more of your scss setup and maybe upload the css you're generating? I've just dug through this again and am not seeing any obvious ways other than including both grids to run into this...

For more context, these after properties are being applied by the clearfix mixin, which is only applied to rows in the float grid, not in the flex grid

[2017-04-04 22:10] kball commented on #9876
Fixed in #9329

[2017-04-04 22:10] #9876 closed

[2017-04-04 22:14] #9880 closed

[2017-04-04 22:24] kball commented on #9883
@adrianwhite would you like to submit a PR to fix this issue? :)

[2017-04-04 22:27] kball commented on #9884
So I believe subtree was set to true for the new mutation observer code... but @coreysyms would be interested in your thoughts here.

[2017-04-04 22:43] Deckluhm commented on #9928
FoundationPress isn't a ZURB project.

Here is the repository you are looking for: https://github.com/olefredrik/FoundationPress

[2017-04-04 22:45] kball commented on #9889
So this is interesting... does it make sense to generalize even further and have equalizer understand the concept of sets?

This would not pre-assume you're using a grid, and also allow you to do some interesting responsive behaviors, where you e.g. only equalizing the columns on small and medium but in sub-sets on e.g. medium up.  Using the same grid example for simplicity, and tentatively borrow

[2017-04-04 22:48] kball commented on #9888
Definitely odd. @colin-marshall, you've looked at sticky a fair amount... what do you think?

[2017-04-04 22:52] Deckluhm commented on #9928
Issue reopened [here](https://github.com/olefredrik/FoundationPress/issues/970).

This one can be closed.

[2017-04-05 00:05] kball commented on #9890
cc @ncoden

[2017-04-05 00:11] kball commented on #9878
The core issue is that you are including a row inside a row without any columns. This is not defined behavior... if you add a '<div class="columns"> between `.page-wrapper .row` and `#main-container` it works

[2017-04-05 00:13] kball commented on #9878
See this codepen which is the "broken" one adjusted with proper markup as mentioned above: http://codepen.io/kball/pen/jBRrxM

Closing this as invalid

[2017-04-05 00:13] #9878 closed

[2017-04-05 01:03] NubSoup commented on #9878
@kball,
Thanks, i was under the impression that i could have multiple rows in a row to be able to define different types of layout without having to create to many extra html elements.

[2017-04-05 07:59] IamManchanda commented on #9633
@maximov001 This is fixed now
http://foundation.zurb.com/sites/docs/kitchen-sink.html#accordion
Sorry for the delay.

[2017-04-05 08:48] IamManchanda commented on #9913
Thanks .... created a PR fixing this #9916

[2017-04-05 08:52] mmieluch commented on #9913
Nice work, cheers!

[2017-04-05 17:07] gpspake commented on #9438
Just jumping in here to throw [rollup.js](https://rollupjs.org/) in to the convo as a possible alternative to Webpack. Webpack is still the dominant _new-hotness_ in terms of bundlers but, considering V7 might take a while, it might warrant some consideration based on this [thread](https://twitter.com/Rich_Harris/status/849362885197385728). It looks like it's already being used by Vue, Ember, Prea

[2017-04-05 17:42] IamManchanda commented on #9438
Well coincidentally just out from bundling video of both rollup and webpack by @JeffreyWay
https://laracasts.com/series/es6-cliffsnotes

and i also liked rollup more ... specially with buble!
But that comparison chart is very low down ..... so much boots to fill!

[2017-04-05 18:03] gpspake commented on #9438
Good call. JW Rocks and that series is great (and free if you don't have a sub). Definitely recommend watching.

[2017-04-05 19:03] IamManchanda commented on #9875
**Update**: When i created this thread ... browser support was mere 6% ( including that ms grid )
**22 days** and now its **37%** .... Now that's a real push!!!!!
( Expect it soon to go 20 more aka when people update Chrome 56)

**Concern**: IE/Edge, Mobile browsers (Android webview, Opera mini, UC, Samsung)

Source: http://caniuse.com/#feat=css-grid

[2017-04-05 19:05] jerturowetz commented on #9892
Same issue here as described above.  Imma pour into the JS but might be in way over my head.

@gpspake know if there are js 'hooks' or some kind of Foundation guideline for isolating JS issues or error reporting?

[2017-04-05 19:25] glen-84 commented on #9875
@IamManchanda Microsoft have started work on updating their implementation. ([source](https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/6514853-update-css-grid))

[2017-04-05 20:09] andycochran commented on #9555
Looks like this was fixed by @hikouki in #9747?

[2017-04-05 20:33] andycochran commented on #8508
@ncoden It looks like you resolved this in https://github.com/zurb/foundation-sites/pull/8528?

[2017-04-05 20:35] andycochran commented on #8508
Although, there's no mention of `.gutter-{size}` in the docs.

[2017-04-05 20:40] corysimmons commented on #9875
👋

[2017-04-06 06:49] simoazzo commented on #8849
For me, it is not working.

I set `<div class="business-listing-outer-container" data-equalizer data-equalize-on="medium">`
but on mobile still watching.

[2017-04-06 08:46] adrianwhite commented on #9883
Now I am reconsidering as to whether this is a bug.
Is this not what `data-equalize-on-stack="true"` is for? `_isStacked` will return true as the first two items are stacked so use `data-equalize-on-stack="true"` in combination with `data-equalize-on="medium"` if equalization on small viewports is not desired.
So far as I can tell that produces the desired result: http://codepen.io/adrianwhite/pen

[2017-04-06 09:06] joeldavuk commented on #9805
Here's the scss and css output.

`@import "fonts";
@import "settings";
@import 'motion-ui';
@import 'foundation';

//some global styles
body {
  overflow-x: hidden;
}
img,a,* {
  //Removes the focus ring around an element when a mouse input is detected.
  @include disable-mouse-outline;
}
body .reveal-fixed {
  position:fixed;
  top:50%!important; /* override inline style injected from JS */
  lef

[2017-04-06 15:19] andycochran commented on #9833
When I A11y'd the color palette, I added this warning statement to the docs, knowing that removing default colors could cause errors:

That was for the sake of components erroring, but it doesn't account for those internal global vars. However, those vars are unnecessary if you also remove them from your settings file (as the warning statement advises). So maybe the fix is to make the internal var

[2017-04-06 15:53] RLHawk1 opened #9932 "onImagesLoaded results in images loading multiple times"
#### How to reproduce this bug:

1. Use equalizer or something that uses an onImagesLoaded callback with images
2. If not seeing the bug, enable network throttling and disable cache

#### What should happen:
Images in a page should only be loaded once.

#### What happened instead:
onImagesLoaded is using the following code to detect when images have loaded:
[code]

The problem is that when that's

[2017-04-06 16:16] kball commented on #9894
This has been fixed

[2017-04-06 16:16] #9894 closed

[2017-04-06 16:20] kball commented on #9895
Looking at the example, test case posed, I believe this is an error in the markup... the issue is in the placement of the links. When you remove disabled, you need to add the link inside, and when you add disabled you should remove it.  See this updated fiddle: https://jsfiddle.net/zbo5usaw/

[2017-04-06 16:20] #9895 closed

[2017-04-06 17:08] Vuurvlieg commented on #9555
To be honest I really don't like  a11y-compliant colors at the moment but https://github.com/zurb/foundation-sites/pull/9747 will help a lot, so thanks!

[2017-04-06 17:27] IamManchanda commented on #9438
Hmmn @gpspake .... but this advancement is no1 on the task list for 6.4 and in may-june infact
https://github.com/zurb/foundation-sites/wiki/Project-Roadmap#64-tentative-date-may

So i don't see rollup very soon though buddy!

[2017-04-06 19:09] andycochran commented on #9555
@Vuurvlieg Yeah, I wouldn't say I like the colors either; they're not the prettiest. We debated the default color palette for quite a while, trying to get it right. But we were determined to meet WCAG 2.0 level AA [contrast requirements](http://webaim.org/resources/contrastchecker/) out of the box. What we landed on was changing the old palette as little as possible to meet AA. I'd love to see som

[2017-04-06 22:19] kball commented on #9897
Closing this as it is not a bug - a recent PR added the ability to disable this warning as well, see: https://github.com/zurb/foundation-sites/pull/9853

That PR will be in 6.4

[2017-04-06 22:19] #9897 closed

[2017-04-06 22:19] Mojtaba-Reyhani opened #9934 "What is the cause of difference between “Complete” version and “Custom version” with “All Foundation Components”?"
Is there any difference between `"Complete"` version (In the top section close to the "Essential", "Custom" and "Sass" link) and `"Customize Foundation/custom version"` with `"All Foundation Components"`in [Foundation download page][1]?<br>

See below images:<br>
[![enter image description here][2]][2]<br>
 **With**:<br>
[![enter image description here][3]][3]<br>

I want to download the latest ve

[2017-04-07 06:40] DaSchTour commented on #9438
@gpspake before using rollup.js just use JSPM which is build ontop of rollup.js as I understood ist. But more important just some thoughts about Webpack. As I've seen Webpack add's additional syntax to SCSS and even needs some special behavior when using TypeScript. That's the reason why webpack failed in my search for a bundler, because the development ist determined by the bundler. Migration to

[2017-04-07 11:24] denisahac opened #9935 "Foundation Docs - Sticky Search Bar"
Well, to start, though it might not be a big deal for most users of the framework. But, I find it very difficult to navigate when I'm at the bottom at the page(e.g. Sass reference/Javascript reference section), then I'm about to look for a plugin options or something that is on another page(In this case, I know what Sass component/Javascript module to look for).

It would be very helpful if the se

[2017-04-07 15:12] CGTS commented on #9924
Thanks. I've decided not to move forward with Barba for now so ill close this.

[2017-04-07 15:12] #9924 closed

[2017-04-07 15:20] IamManchanda commented on #9935
+1

[2017-04-07 16:12] 7oot commented on #9816
@kball sorry for not answering sooner. feel free to forward the issue to whomever you want. thanks for asking :)

[2017-04-07 16:43] IamManchanda commented on #9816
@kball sorry for interupting but ......

@Vuurvlieg would you like to take this up as a good head start ??
https://akrabat.com/the-beginners-guide-to-contributing-to-a-github-project/

[2017-04-08 08:11] phifa commented on #9924
@cgts may I ask why? Because I wanted to try it out, since it is vanillajs without dependencies. And the Ajax issue with foundation has nothing to do with barba or smoothstate.

[2017-04-08 20:11] ltenzil opened #9937 "Foundation 6 not working with Pizza"
Please check zurb/pizza#43
I dont know whether the issue is with Foundation 6 or Pizza. So i created in both places.
Thank you guys

[2017-04-09 07:34] IamManchanda opened #9938 "[Component Request] Add missing List Groups!"
We miss this component => https://v4-alpha.getbootstrap.com/components/list-group/

[2017-04-09 13:45] IamManchanda commented on #9618
@kball @ncoden @DaSchTour @Deckluhm
I might be off topic but i think we should seriously consider **[Tether](http://tether.io/)**

I mean just look at this PR https://github.com/twbs/bootstrap/pull/22264 and [changes](https://github.com/twbs/bootstrap/pull/22264/files)
Demo => http://jsbin.com/lijalowata/edit?html,output

[2017-04-09 14:10] IamManchanda opened #9939 "[Feature/Mainly Docs Update] Hamburger Menu - Desktop (Add support)"
Not fully sure whether a feature request or just a docs update

But,
Hamburger menu's are becoming more popular than ever!

and I think this should not cause big trouble coz thanks to @brettsmason,
We have a very good [offcanvas](http://foundation.zurb.com/sites/docs/off-canvas.html)!
and yes this [mixin](http://foundation.zurb.com/sites/docs/sass-mixins.html#hamburger) too

----------------------

[2017-04-09 15:53] IamManchanda commented on #9438
@kball i think you should poll again
coz i am pretty sure.... typescript will be more adopted now
Moreover whoever is polling in the way of ES6 is somewhat arguably polling in favour of typescript!

I also think that we should look to switch to typescript!
Moreover Typescript is supported very well in all these three top JS Frameworks
1. Angular 2 & Angular 4 (ofcourse)
2. [React](https://www.type

[2017-04-09 16:27] IamManchanda opened #9940 "[Query] Gulp - Why don't we use gulp auto loader"
Looking at the code,
I wonder, why don't we use [Gulp Auto Loader](https://www.npmjs.com/package/gulp-load-plugins) ?

I think code should be as leaner as it can get,
so why dont we use it?
Is there any specific reasons around it ??

[2017-04-09 17:56] Vuurvlieg commented on #9816
@IamManchanda Yes, I don;t know how Github works, just created a account to report bugs. When I have time I will read that document, thanks.

[2017-04-09 19:55] sveetch commented on #9892
Same issue here, set `data-sticky-on` to `large` but the plugin still set a value to css property "height" on small and medium media queries.

[2017-04-10 01:22] catchlightWeb commented on #6312
Thanks so much for this!

[2017-04-10 11:44] IamManchanda commented on #6312
Dupe of #9587
& Added in #9636
Expected to be released around v6.4

[2017-04-10 13:11] CGTS commented on #9924
@phifa There was nothing wrong with Barba. I know very little javascript and had a limited amount of time to push this project out. I found that I was running into issues like modal windows being re-added (without being removed) whenever they were used. I'm sure these issues could have easily been overcome by anybody who know JS, I just didn't have the time to come up to speed.

I would definitely

[2017-04-10 14:00] orangedaisy commented on #9938
How is this "missing"? Foundation hasn't had this component, afaik.

Why does Foundation have to have feature-parity with Bootstrap?

[2017-04-10 14:01] orangedaisy commented on #9939
Popular != useful. What do we gain by hiding the sidebar navigation?

[2017-04-10 14:09] #9832 closed

[2017-04-10 16:03] andycochran commented on #9483
I think the motivation behind `$header-styles` is the need for differing layouts (size & white space) at various screen sizes. It seems less likely (e.g.) that an `<h2>` needs to be bold/red at one screen size and italic/blue at another. If I'm understanding `$header-styles` correctly, maybe it isn't the most semantic name? However, I do understand the desire for responsive type styles. I'm just n

[2017-04-10 16:20] andycochran commented on #9786
I'd use this mixin. Similar use cases are why I added the `grid-column-margin` mixin for bottom margins on block grid columns w/ the `.column-block` class — which could be reworked to use this same method.

[2017-04-10 17:20] IamManchanda commented on #9938
@orangedaisy That is not what i am talking about

The reason i added this request because this group component of a component

We have:
- Buttons & Button Group
- Input & Input Group
- Lists & ____ ??

Also,
We have accordions too => http://foundation.zurb.com/sites/docs/accordion.html#all-closed
of which codebase can be used

[2017-04-10 17:39] IamManchanda commented on #9938
**How i detected this?**
Well I am doing a Angular 4 course at [udemy](https://www.udemy.com/the-complete-guide-to-angular-2/learn/v4/) .... although the course uses bootstrap but i challenged myself to use foundation instead
and there i am making a recipe book app
and this is used there in ShoppingListComponent & RecipeListComponent
where data is outputted to a list group ( design )

As there was

[2017-04-10 18:29] IamManchanda commented on #9939
Hamburger menu is widely used these days even in desktop sites

For example
http://citruslabsthemes.com/themes/janus/home-hidden-menu.html
http://demos.creative-tim.com/rubik-agency

[2017-04-10 19:14] IamManchanda commented on #9832
@tymothytym This is fixed now .... most probably 6.3.2 buddy
and yeah sorry for creating the bug ( but believe me i had no idea about it :smile: )

[2017-04-11 02:27] orangedaisy commented on #9939
That doesn't answer the question.

This isn't a marketing site; it's a documentation site. Having all of the navigation links visible gives the user a sense of the size and complexity of the project, as well as immediate access to any items they need. Hiding these items wouldn't improve the user experience; in fact, forcing the user to open a large menu _and_ wait for an animation to complete befo

[2017-04-11 02:46] orangedaisy commented on #9938
i had to make my own component for the same!
And that is why i said that "We miss this component" and asked for the feature

It's okay to make additions in personal projects, you know. Foundation doesn't need to have a version of every conceivable UI component.

Lists are already groups.

[code]

If you absolutely have to have a list group, the general idea can be achieved with the existing card c

[2017-04-11 05:30] IamManchanda commented on #9939
@orangedaisy That open close menu is requested at outside of the core => motion ui ..... These animation's  doesn't have to do anything with foundation core!

[2017-04-11 11:11] mitja-p opened #9945 "Dropdown causing horizontal scrollbar"
#### How to reproduce:
1. Add a dropdown on the right side of the webpage (float:right will do)
2. Open and close it
3. Resize to smaller width

On smaller browser width sometimes even default dropdown position causes a horizontal scrollbar.

#### Example (borrowed from another issue):
http://codepen.io/tw42/pen/dNEvOJ
1. Just resize to smaller width and notice the empty space on the right.
2. Cli

[2017-04-11 12:49] mitja-p commented on #9945
Another side effect. When opening the dropdown, the dropdown gets moved to multiple positions to find a position that fits the available space. However on Android (also desktop Chrome in mobile development mode) this causes the page to scroll up. You can try manually settings dropdown element left value to 1500px and then 10px and see the effect.

[2017-04-11 15:26] Moonbase59 opened #9946 "No {{{{raw}}}} in Foundation for Sites 6.3.1?"
I need to use a [W3 Data Provider](https://www.w3schools.com/w3css/w3data_home.asp) and thus some variables like {{firstname}} {{lastname}} _unparsed_ by Panini (so `w3data.js` kann fill them in later).

In src/pages/index.html I tried:
[code]

but the parsed result becomes
[code]

Is there no `{{{{raw}}}}` in Foundation for Sites 6.3.1 or am I making some stupid mistake?

---

I _can_ of course u

[2017-04-11 16:17] IamManchanda commented on #9939
@orangedaisy i want to clear misconception .... i am not asking for a docs update to have a hamburger menu on desktop ..... No!!! I am sorry if you misunderstood that!

I am asking for a feature request for hamburger menu on desktop
The examples i showed you is for the foundation framework (and motion ui)
not for foundation docs!

[2017-04-11 18:24] orangedaisy commented on #9939
Gotcha.

So are you talking specifically about an off-canvas menu that takes up 100% of the screen width and height?

[2017-04-11 18:32] IamManchanda commented on #9939
@orangedaisy Not really (Though i would like ) .... but forget the third example for time being

What my focus is first two
1. In my first example, there is hamburger menu which open normal top bar
=> http://citruslabsthemes.com/themes/janus/home-hidden-menu.html
=> Normal Top bar, obviously is already there ... what we are lacking is an hamburger menu to open close

2. In my second example , ther

[2017-04-11 20:05] sebastian-marinescu commented on #9789
+1

[2017-04-11 20:54] orangedaisy commented on #9939
I believe Foundation already has all the necessary pieces for you to put this together without creating something brand new.

What you need for your first example isn't strictly a "hamburger menu," you need the [Toggler](http://foundation.zurb.com/sites/docs/toggler.html), a [Menu](http://foundation.zurb.com/sites/docs/menu.html), a hamburger icon, and a close icon. That's it.

For the second, the

[2017-04-11 21:36] orangedaisy commented on #9939
Couldn't resist doing the first example. http://codepen.io/reverendgeneral/pen/zwOLyG?editors=1000

[2017-04-12 08:11] IamManchanda commented on #9939
@orangedaisy that's why i said it is mainly a docs update ( by which i meant that docs needs to be updated on how to do it )

Also, i have dived deeper already .... i know we have these bits and pieces of this already covered and primarily a docs update!

[2017-04-12 18:06] Deckluhm commented on #9946
That's not clear in the Handlebars documentation but the `raw` helper isn't built-in (even if there is some example in the docs).

You have 2 options:
- Register the `raw` helper you want: http://handlebarsjs.com/block_helpers.html#raw-blocks
- Use a `\` just before your variable: http://handlebarsjs.com/expressions.html#escaping

The 1st option is better if you want to escape many variables while

[2017-04-13 08:25] Yimiprod commented on #9857
I not sure then why use `.row.columns` in that case, since i though using `.row` should behave has a flex container and not a block.
I do understand why it work like this with the grid based on float tho.
Like ompmega said, then i'll not use them together, and deep nest my dom.

[2017-04-13 10:13] wgstjf commented on #9688
@JeremyEnglert - same issue at my end.  Did you get any further with this?

Cheers,

Will

[2017-04-13 10:42] samuelmc commented on #9042
I've added a third option, 'auto', as default value for data-alignment so the option 'left' can be used to force the alignment left. (#9950)

[2017-04-13 10:54] sanjay-russmediatech opened #9951 "Foundation 5.2.2 : TypeError: Cannot read property 'css' of undefined"
Hello,
I'm posting an error for old version so, first of allow me please.
My foundation version is 5.2.2.
I have implement reveal in my project and find a very weird issue. Some time I got the TypeError: Cannot read property 'css' of undefined. Refer the attached screenshot
![error](https://cloud.githubusercontent.com/assets/7358566/25001935/51e1962c-2065-11e7-8fc7-aeba3850ad02.png). Because of th

[2017-04-13 11:04] Deckluhm commented on #9951
You need to provide more than screenshot if you want people to help you.

Can you reproduce the error in a CodePen?

[2017-04-13 11:18] sanjay-russmediatech commented on #9951
@Deckluhm Thanks for your suggestion but its a intermediate error. It's not reproduce every time thats why I attached screen. Please allow me. I'll try to make codepan as you suggest but not sure it reproduce over there.

[2017-04-13 11:19] samuelmc commented on #9688
The .opens-left and .opens-right classes are set by the dropdown menu plugin in js. It's the same issue as #9042
With pull request #9950 you'll be able to use data-alignment="left" to force the alignment left.

[2017-04-13 11:28] Deckluhm commented on #9951
@sanjay-russmediatech if you isolate the code and can't reproduce the error, that might be a sign that the error is in your code (not a bug in Foundation).

That's why lot of open-source projects ask for reproduction steps (or even better, CodePen / JSFiddle).

[2017-04-13 13:15] IamManchanda commented on #9951
@sanjay-russmediatech Sanjay bhai, Just fork these from below codepen's and reproduce

- [CodePen with Foundation 6.3.1 and MotionUI](http://codepen.io/IamManchanda/pen/LWGZxR)
- [CodePen with Foundation 6.3.1, Flexbox grid and MotionUI](http://codepen.io/IamManchanda/pen/zZrBEv)
We unfortunately can't help you with screenshots!

Also if its not a bug related with foundation itself,
The [Foundatio

[2017-04-13 13:23] Deckluhm commented on #9951
@IamManchanda the issue is about Foundation 5.2.2, not 6.3.1.

[2017-04-13 13:24] IamManchanda commented on #9951
Yeah @Deckluhm i have updated my comment .... didn't notice at first !

[2017-04-13 14:35] wgstjf commented on #9688
Thanks for the quick response on that.  Will take a look.

Cheers,

Will

[2017-04-13 16:42] scottsawyer commented on #9892
I am also having this issue, when I set data-sticky-on="medium", when on a mobile sized screen, the plugin runs, but sets a top value of 10015.6px ( about the height of my screen ).  This pushed the <div> to the bottom of my page, and I get classes add:
"sticky is-anchored is-at-bottom"

If I set data-sticky-on="small", it is sticky and works as expected on mobile, but I really don't want a sticky

[2017-04-13 17:05] nathanp commented on #9484
@kball @sashabeep 6.3.1 has fixed this issue for me.

[2017-04-13 17:30] andycochran opened #9952 "[Grid] Uncentering columns breaks their float"
How to replicate:
- At the medium breakpoint, two columns that total > 12 and are both centered
- At the large breakpoint, these columns total ≤ 12 and are both uncentered
- The `.large-uncentered` class does not allow columns to float, as the `.medium-centered` class still applies `float:none;` and `clear:both;`

https://codepen.io/andycochran/pen/mmyyzj

[2017-04-13 17:31] michaelwayneharris87 opened #9953 "[Accordion Menu] Page scrolls when opening accordion with space bar"
#### How to reproduce this bug:

1. Navigate to a collapsed accordion tab
2. Press the space bar to open the tab

#### What should happen:
The page should not scroll

#### What happened instead:
The page scrolls

#### Test case:

http://foundation.zurb.com/sites/docs/accordion-menu.html

[2017-04-13 22:24] Yanchek99 opened #9955 "[6.3.1] Menu that is vertical will not align-center with flexbox"
#### How to reproduce this bug:

1. Ensure flexbox is enabled
2. Create a menu with the following classes .vertical and .align-center

#### What should happen:
Vertical Menu should be center aligned.

#### What happened instead:
Vertical Menu is aligned to the left

#### Test case:

http://codepen.io/anon/pen/eWmdJq

[2017-04-14 00:55] IamManchanda commented on #9953
Yup i confirm this is a bug with accesibility
cc / @Owlbertz

[2017-04-14 01:01] IamManchanda commented on #9955
@Yanchek99 Are you talking
http://codepen.io/IamManchanda/pen/OmPbeM

[2017-04-14 01:10] IamManchanda commented on #9955
and there are other option too => http://codepen.io/IamManchanda/pen/OmPWPN

[2017-04-14 01:26] Yanchek99 commented on #9955
@IamManchanda Yes this is what I was looking for.  However I would expect these to be work with foundation-sites out of the box. It seems that all the aligns are failing for vertical menus (ex. align-center, align-right.)

[2017-04-14 01:29] IamManchanda commented on #9955
Yeah this would .... dont worry @Yanchek99 .... **I am taking this up!**

[2017-04-14 01:41] IamManchanda commented on #9955
Also @Yanchek99
Here is the codepen on how to go about it right now on align-right as you mentioned untill this is added up
=> http://codepen.io/IamManchanda/pen/pPvRwL

{ **Sorry I wont be able to take this up right now at the moment .... but will create a patch soon** }

[2017-04-14 03:57] sanjay-russmediatech commented on #9951
@Deckluhm @IamManchanda Thanks. I'll try to reproduce in codepan and let you update. I also check in my codebase that if something wrong with my code.

[2017-04-14 09:45] phildittrich commented on #8394
Just had this issue with Foundation 6.3 and could not get it to work with `.foundation()` or `.foundation('_calc', true);`. Only way was to call `$(window).trigger('load.zf.sticky');`.

[2017-04-14 14:32] Owlbertz commented on #9953
True, that should not happen. PR is up.

[2017-04-14 17:07] klihelp commented on #9858
Good this going to be resolved:)

[2017-04-14 17:39] JeremyEnglert commented on #9952
Here is a super rough way of fixing this, although, we may be able to make this a bit more generic so it applies to all of these types of instances. I'll give it a shot if we think this is a good path to go down.

[code]

[2017-04-14 19:00] JeremyEnglert commented on #9939
It's documented here: http://foundation.zurb.com/sites/docs/responsive-navigation.html#responsive-toggle

"By default, the title bar will be visible on small screens, and the Menu hides. At the medium breakpoint, the title bar disappears, and the menu is always visible. This breakpoint can be changed with the data-hide-for attribute in HTML, or the hideFor setting in JavaScript."

[2017-04-14 19:02] #9928 closed

[2017-04-14 19:03] orangedaisy commented on #9939
The off-canvas component also already functions exactly as shown in the provided example. http://foundation.zurb.com/sites/docs/off-canvas.html

[2017-04-14 19:33] JeremyEnglert commented on #9952
This is probably a bit better.

[code]

[2017-04-14 21:10] AidamUnlimited commented on #9658
Hey, I had the same problem. After couple of hours of googling I tried to wrap it in an extra .row > .small-24.column and it worked!

So final markup here:
[code]

[2017-04-14 22:02] joeyfigaro opened #9957 "Drilldown Menu doesn't have any 'before-x-happens' events"
#### How to reproduce this bug:
1. Attempt to watch for `before-x-happens` events
2. Cry

#### What should happen:
Should be able to watch for `before-x-happens` events e.g. `$(x).on('before.open.zf.drilldown')`

#### What happened instead:
Component doesn't support `before-x-happens` events

#### Test case:
Ran into someone trying to style this navigation so the submenus didn't span the entire wi

[2017-04-14 22:16] AidamUnlimited commented on #9658
Experiment with min-width: 0; to parent .column, or even parent > parent .column

[2017-04-15 00:20] IamManchanda commented on #9939
Ohk great @JeremyEnglert @orangedaisy

[2017-04-15 00:20] #9939 closed

[2017-04-15 01:48] IamManchanda commented on #9953
Great buddy @Owlbertz

[2017-04-15 03:51] corysimmons commented on #9699
I noticed you guys were tossing around the idea of some sort of isometric grid markup for Sites and Apps.

Apps needs padding grids or else scrollbars don't nest well (overlap).

Sites could use margin grids, but the difference in the markup/styles for Sites and Apps would make it not worth it.

---

You should really just make it all Grid Layout spec...

Foundation is popular enough that it would

[2017-04-15 11:39] IamManchanda commented on #9645
Poke @kball - With new building blocks out ... please take a decision on this ?
Shall i forward this to building blocks ??

[2017-04-16 12:49] IamManchanda commented on #9646
To anyone concerned .... moving this to building blocks!

[2017-04-16 12:49] #9646 closed

[2017-04-16 18:49] IamManchanda commented on #9699
Sorry but you might not know ,
Foundation for apps is a depreciated project...
Extinct now @corysimmons

[2017-04-16 20:32] corysimmons commented on #9699
Ah, bummer. It's layout system is the most interesting I've seen in a long time. gl with your grid work guys. 👋

[2017-04-17 16:05] kball commented on #9699
@corysimmons There is an effort in progress to bring the grid/layout system from Apps into Sites... it was started and gotten pretty far but then the owner started a new gig so it's looking for an owner... would you be interested in taking it on? https://github.com/zurb/foundation-sites/pull/9487

[2017-04-17 17:53] dlewand691 opened #9959 "Dropdown-pane internal content delayed hiding causing flicker"
When using a dropdown-pane (not dropdown menu) the content is not getting hidden immediately when clicking off of the panel. It stays visible for a split second before hiding. I'm attaching an animated gif to show what is happening.

Has anyone experienced this before? Is there a fix? I'm not doing anything out of the ordinary with positions, displays, etc. Just following the examples in the docs.

[2017-04-17 18:50] corysimmons commented on #9699
@kball I'll look into it if I get some time.

[2017-04-17 19:12] dlewand691 commented on #9959
FIXED: Had a transition property on my <a> tags in SASS. Fixed and works perfect.

[2017-04-17 19:12] #9959 closed

[2017-04-17 19:39] IamManchanda commented on #9946
@Moonbase59 is this fixed your issue ??

[2017-04-17 20:35] kball commented on #9912
I can reproduce the issue in the codepen on mobile safari. Lets see if we can take a look for 6.4/6.3.2

[2017-04-17 20:39] kball commented on #9903
I'm confused... the links mentioned above show on hover in desktop, and don't show at all on mobile... can you clarify what you're seeing and how to reproduce?

[2017-04-17 20:42] kball commented on #9924
@cgts without having a repro case it's hard to say for certain, but my guess is that since you were targeting globally `[data-reveal]`, you were also getting some reveal elements from the NEW page that had not yet been initialized, and that is why you were seeing the error.

[2017-04-17 20:45] #9921 closed

[2017-04-17 20:46] kball commented on #9767
@Owlbertz can you take a pass on this?

[2017-04-17 20:48] kball commented on #9821
Interesting... so if I'm understanding correctly the issue is that the @reveal-modal-width mixin does not work.  We should fix this. Lets take a look for 6.4

[2017-04-17 20:50] kball commented on #7802
I think the right answer here is probably to make Abide more specific... you should be able to point each element to its' error label, with fallback to the "default" magic finding.

[2017-04-17 20:53] kball commented on #9859
ping @rafibomb ^^

[2017-04-17 20:54] kball commented on #9878
@NubSoup there are definitely some complexity/verbosity issues with the current grid system. @brettsmason is working on a new grid system that should be simpler.

[2017-04-17 21:01] kball commented on #9633
Closed by https://github.com/zurb/foundation-sites/pull/9329

[2017-04-17 21:01] #9633 closed

[2017-04-17 21:01] kball commented on #9194
Clsoed by https://github.com/zurb/foundation-sites/pull/9329

[2017-04-17 21:01] #9194 closed

[2017-04-17 21:13] kball commented on #8508
@andycochran can you verify if this is working and perhaps add to the docs?

[2017-04-17 21:21] kball commented on #9875
I tend to agree that CSS grid will need to be opt-in for a while, however I think we should make it easy to adopt... We've got a draft of a CSS-grid based version of the base Foundation grid in progress that we'll use as a stopgap for 6.4, but we really should be discussion not if to use grid bot rather what the world will look like when grid is widely enough supported.

Broadly speaking, I think

[2017-04-17 21:31] IamManchanda commented on #9875
In one word => Bloat

[2017-04-17 21:31] kball commented on #9883
Well... if not a bug I think what has happened is you've gotten into a limitation of how Equalizer was being thought about... I think i twas just being though of as things side by side, and stacking would by default mean you were on a small screen... perhaps really the future here is the generalization being discussed in https://github.com/zurb/foundation-sites/issues/9889

If so, perhaps you can

[2017-04-17 21:33] kball commented on #9875
@IamManchanda possibly... but the question I'd ask is... do grid systems need to be as complex and encompassing as they tend to be today, or should we be thinking of grids more like components that can be contained and mixed and matched?

[2017-04-17 21:37] kball commented on #9932
Good catch. Would you like to take a crack at fixing this @RLHawk1?

[2017-04-17 21:39] corysimmons commented on #9875
Output wouldn't be bloat, but asking people to memorize more settings is just [cruel](https://github.com/zurb/foundation-sites/blob/develop/scss/settings/_settings.scss).

I still think you guys are in the unique position to [force grid layout on vendors](https://codepen.io/corysimmons/pen/OmPqop) so **everyone** can be done with layout obfuscations forever. I'll rename my 1st born to "Zurb".

[2017-04-17 21:40] kball commented on #9555
Closing based on the above conversation, but would also love a PR with a better default palette that still meets WCAGT 2.0 level AA

[2017-04-17 21:40] #9555 closed

[2017-04-17 21:45] IamManchanda commented on #9875
Sorry but its too early .... for me best solution would be to delay foundation 7 to  early-mid 2018 so that the grid gets good browser support and we can implement one solution grid system!
What do you guys think ??

[2017-04-17 21:46] corysimmons commented on #9875
Honestly at this point, I'd just make a simple [flexbox grid](http://flexboxgrid.com/). Maybe spice it up with some ratio-sizing mixin.

[2017-04-17 21:51] kball commented on #9875
I actually tend to agree for the base case... @brettsmason is working on a simple flexbox grid... Brett  is http://codepen.io/brettsmason/pen/RKMbZG the latest example of what you've been playing with?

[2017-04-17 22:19] corysimmons commented on #9875
That's the one...

God I hate padding grid markup. Adding bg color to a row: `row > cell-with-bg > row > cells`

@IamManchanda Can you give me a thumbs up on this comment?

[2017-04-17 22:21] corysimmons commented on #9875
@kball @brettsmason I'll make you guys a ratio-sizing mixin thing if I get a chance. Or I could pseudo-code it and you could implement it however you'd like. It'd make your grid unique without ruffling feathers.

[2017-04-18 00:02] kball commented on #9438
Hey folks - I fell behind on this project for a while due to other projects, but digging into it again this week to get it back on track for the 6.4 release. A couple notes:

1. The majority of the work involved in this is independent of webpack or module bundler of choice, but is really around refactoring the modules to work in a bundler environment AT ALL.

2. I'm using webpack for our internal

[2017-04-18 07:15] Owlbertz commented on #9767
Sorry for the late response, I made a PR addressing this issue. Please have a look and check if the behavior works as intended, @CGTS.

[2017-04-18 07:51] brettsmason commented on #9875
@kball Sorry for the delay,  I'm away at the moment. So to be honest I haven't progressed anything with the grid, mainly due to lack of feedback on stuff so not knowing what direction to take.

I agree with @corysimmons on a lot of what he said. I've been looking into margin based grids recently and like the idea, but not sure how it would go down with users who have been using padding for so long

[2017-04-18 09:18] DaSchTour commented on #9438
I've taken a short look into this and started a branch to try some TypeScript refactoring.
https://github.com/zurb/foundation-sites/compare/develop...DaSchTour:typescript
It works quite well and it looks like it could work quite well without even breaking backward compatibility.

[2017-04-18 13:32] corysimmons commented on #9875
Both options suck and always have.

I think a good test of how complicated/hard-to-use a grid is, is to apply various background colors to things—specifically rows.

Here's how I'd do margin: https://codepen.io/corysimmons/pen/eWpVBN
Let me know how you'd do it with padding.

[2017-04-18 15:37] IamManchanda commented on #9951
@sanjay-russmediatech any updates ??

[2017-04-18 16:57] kball commented on #9438
Interesting... it actually looks very similar in approach to the ES2016 WIP I have... I just rebased relative to develop here: https://github.com/zurb/foundation-sites/compare/develop...move-to-webpack. If you skip past all of the parts focused on generating distfiles into the actual source changes, there's a great deal of similarity.

@DaSchTour with the typescript approach, can we generate the "

[2017-04-18 17:05] kball commented on #9786
Interesting... so refactoring the block grid approach to essentially use a mixin like this, and leaving the mixin as an available helper sounds like a winner. @phifa would you like to submit a PR for this?

[2017-04-18 17:23] andycochran commented on #9555
If anyone wants to search for a better default palette, I made this tool that spits out variations of background colors and indicates which of those meet AA requirements and with which text color.

https://andycochran.github.io/foundation-a11y-palette-picker/

If you run it locally, you can give it any palette and text colors.

[2017-04-18 17:46] kball commented on #9953
Fixed with #9956

[2017-04-18 17:46] #9953 closed

[2017-04-18 17:49] kball commented on #9952
Sigh... feels like we're going down the specificity rabbit hole... @ncoden do you have any better ideas for how to address this?

[2017-04-18 17:51] kball commented on #9957
+100%

@coreysyms I know at some point you were interested in auditing the event lifecycle and improving it... is that still on your radar?

[2017-04-18 17:53] kball commented on #9658
Interesting... adding max-width: 100% to `.column` in flex mode appears to resolve... @brettsmason any reason you can think of why that would be a bad idea?

[2017-04-18 17:56] kball commented on #9645
I think this (and many more form patterns like it) belong as building blocks. :)

[2017-04-18 17:56] #9645 closed

[2017-04-18 18:05] kball commented on #9767
Fixed via #9960 going with the first solution (arrow nav on tabs)

[2017-04-18 18:05] #9767 closed

[2017-04-18 18:15] kball commented on #9946
Going to close this as it is a panini/handlebars issue rather than Foundation, but let us know if you continue to struggle with it.

[2017-04-18 18:15] #9946 closed

[2017-04-18 18:15] DaSchTour commented on #9438
@kball I'm not quite sure about that. But I think that it will not be that easy. Will have to check and try.

[2017-04-18 18:17] kball commented on #9438
@DaSchTour k... I'm going to keep plowing forward with the ES2016 approach for now, but especially given how similar it looks I think moving to TypeScript for e.g. 6.5 might make sense.

[2017-04-18 18:26] kball commented on #9907
This is odd... maybe a windows issue? @abdullahsalem can you take a look?

[2017-04-18 18:31] Deckluhm commented on #9907
I wasn't able to reproduce the error on Linux (same version of Node / NPM).

[2017-04-18 18:33] kball commented on #9870
URL is not valid without http or https... perhaps a more general solution would be to allow logical combinations of validatons? e.g. domain OR url ?

[2017-04-18 18:34] kball commented on #9867
Hmm.. this seems reasonable. @brettsmason @rafibomb what do you think?

[2017-04-18 18:35] npapazian commented on #9907
Seems to be working for me now.  I'll close it.

[2017-04-18 18:35] #9907 closed

[2017-04-18 18:39] kball commented on #9857
`.row` behaves as a flex container by default in flex mode... `.columns` do not behave as a flex container by default in flex mode. The reason for the latter is there are a number of things that don't behave as expected out of the box within a flex container.

Either way we go, `.row.container` will violate some set of expectations, but changing it to flex container broke *more* ;).

  Potentially

[2017-04-18 18:39] #9857 closed

[2017-04-18 18:53] IamManchanda commented on #9870
Yup combination is what i want .... is this possible right now ?? @kball

[2017-04-18 18:57] kball commented on #9870
Nope. Do you want to implement it? ;)

[2017-04-18 19:02] #9913 closed

[2017-04-18 19:25] DaSchTour commented on #9438
@kball just my 2 cents, but I really don't like default exports. You can do a lot of strange things with default exports, something like `import Reveal from "./foundation.accordion";` so I would suggest to use named exports. Especially when defining Interfaces together with a class this makes the import a lot nicer.

[2017-04-18 20:07] andycochran opened #9961 "Refactor button-hollow-style()"
Per discussion in #9739, refactor `button-hollow-style()` mixin to accept transparent borders so that `.clear` buttons do not need their own mixin.

[2017-04-18 20:36] IamManchanda commented on #9551
What need to be done with this ??
It can be a great building block

but global animation and motion-ui was being discussed so what's the current take?

[2017-04-18 22:08] kball commented on #9656
@canterberrie can you take a look?

[2017-04-18 22:17] kball commented on #9662
@canterberrie can you add this for 6.4?

[2017-04-18 22:18] kball commented on #9649
@tdhartwick can you take a look at this?

[2017-04-18 22:20] kball commented on #9672
Lets remove it for 6.4, and add a migration note.

[2017-04-18 22:28] #9603 closed

[2017-04-18 22:42] kball commented on #9901
@canterberrie can you take a look at this?

[2017-04-18 22:43] kball commented on #9836
Actually I think this might be a good one for @LaurelBCodin

[2017-04-18 22:54] kball commented on #9438
That's a really good point @DaSchTour, I'll make the update. Any other feedback/improvements you recommend?

[2017-04-18 23:32] kball commented on #9438
@DaSchTour update made... definitely would additional feedback.

[2017-04-18 23:47] kball commented on #9821
Ah interesting. I think the issue is that the placeholder is actually only *defined* within the foundation-reveal mixin... and within a breakpoint check at that...  that's clearly a bug, it makes any mixin referencing it only usable within that mixin...

I think the fix is probably as simple as moving the placeholder out into global scope in `scss/components/_reveal.scss`. @Knight-Yoshi would you

[2017-04-19 03:23] rafibomb opened #9962 "[Docs] document .card-divider flex mode"
ref https://github.com/zurb/foundation-sites/pull/9743 Document that in flex mode - .card-divider is a flex parent allowing you to use flex helper classes.

[2017-04-19 04:23] sanjay-russmediatech commented on #9951
@IamManchanda I tried in codpan and there is no issue with foundation. It may be due to a older version of jquery used in my project but, thanks for your help. I'm closing this issue.

[2017-04-19 04:23] #9951 closed

[2017-04-19 08:18] DaSchTour commented on #9438
@kball for the first step I think this is enough. I personally always use `export class`, `export function` and so on. But that's a mater of taste. As I've seen the abstract plugin class I would love to make the move from this state to TypeScript. I think it's worth to take a look into the usage of `this` and `_this` and where arrow functions should be used. But I think this should be done in a fu

[2017-04-19 08:19] BicanMarianValeriu commented on #9901
Found a problem here:
[code]

[2017-04-19 08:52] phifa commented on #9786
sure, how and where would be the right place for this?

[2017-04-19 10:19] siddharthashok commented on #9934
![screen shot 2017-04-19 at 3 46 25 pm](https://cloud.githubusercontent.com/assets/3031704/25175175/72c7c512-2517-11e7-89ed-02a255714108.png)

@Mojtaba-Reyhani Custom version is based on the settings and components you have selected in the form http://foundation.zurb.com/sites/download.html/#customizeFoundation

[2017-04-19 11:23] brettsmason commented on #9875
@corysimmons Yeah that's a lot like a simple CodePen I put together when experimenting with ideas, and I agree is nice. What are your thoughts on including the margin on one side (left)? eg: https://codepen.io/brettsmason/pen/jmWVNe

The main reason being there is no overflow then if the grid is the full width of the browser window.

I'd really like the grid to be based on a simple selection of mi

[2017-04-19 13:33] corysimmons commented on #9875
Single-side margins are less flexible than double side, but, yes, they are really clean.

You _need_ to know how many elements are going to go in a row. Here's an example: https://codepen.io/corysimmons/pen/GmoWGr?editors=1100

I've fought to use the single-side gutter for a long time (Jeet, Lost) because it made more sense than doing some weird overhanging negative-margin stuff. But it has a lot

[2017-04-19 13:49] brettsmason commented on #9875
Thanks, that's helpful and I hadn't thought about things like Masonry use etc. Sounds like double-sided should be what we stick with on that front.

In terms of background colour for rows/columns - the only way is with extra markup as far as I know, eg https://codepen.io/brettsmason/pen/ZKQKEZ

What would you say are the negatives of using a margin based approach? I'm sold on it, but just want to

[2017-04-19 14:08] corysimmons commented on #9875
Add `body { padding: 30px; }`. Notice the `springgreen` overhanging (i.e. not flush with cells as expected).

---

Negatives of dub-guts (what I'm calling them now because it sounds like a cool zombie name) are  it does some negative-margin stuff which can cause overhang issues, but the worst thing is nesting. You did it in your codepen (nesting a cell, just to nest a row).

I've found people don'

[2017-04-19 14:39] brettsmason commented on #9875
Ah OK great - I see the problem with that now 👍

My main aim would be to get rid of the madness that is the current nested, overly specific classes, and get away from things like this: https://github.com/zurb/foundation-sites/issues/995

@kball @rafibomb what do you think? I guess it could potentially be a breaking change, but we have never shied away from moving things forward.

I'd propose that

[2017-04-19 14:47] corysimmons commented on #9875
Fair enough, and tbh, Foundation probably shouldn't even abstract Grid Layout's API.

---

To do the margin stuff, you'd need some control over gutter on a global, and per-row basis, via a mixin.

[2017-04-19 14:55] brettsmason commented on #9875
Yeah agreed - I think people should be encouraged to learn the API, no need to get involved 👍
I'll get together what I've done so far and get it online somewhere for you to see, assuming its given the go ahead.

[2017-04-19 16:32] kball commented on #9901
@BicanMarianValeriu a row that is also columns is currently very deliberately set to display block. See the discussion here: https://github.com/zurb/foundation-sites/issues/9857#issuecomment-294941227

[2017-04-19 16:48] billyromano commented on #8544
The `gulp-touch` plugin works like a charm. I'm surprised gulp has this type of issue still to this day. It's been frustrating with a recent project between .NET and Front End devs.

[2017-04-19 16:48] kball commented on #9786
Hmm... @andycochran @brettsmason what do you think? If we were going to create a space helper that could be used to do spacing in any direction in values relative to the gutters, where should it live? In utils?

Looking forward, would it make sense to use this underlying helper to create our grid gutters as well?

[2017-04-19 16:59] #8199 closed

[2017-04-19 16:59] kball commented on #9875
@brettsmason I'm down with breaking change, but prefer we go through a deprecation cycle to do it, so that we don't completely block folks who want to upgrade but need more time.
A tentative proposal would look something like this:

1. We create the new margin-based flex grid as an independent mixin using a 'zf-' namespace (we want to move all of our SCSS to namespacing anyway)
2. We make the new

[2017-04-19 17:05] brettsmason commented on #9875
@kball ok thanks, I think that makes sense.

And what about the margin based approach? Foundation has always used padding so it would be a fairly big shift.

[2017-04-19 17:07] #9866 closed

[2017-04-19 17:13] IamManchanda commented on #9875
Yes fairly big shift but that's ohk with an Avanced and bold framework like foundation!

[2017-04-19 17:13] kball commented on #9875
As mentioned above - big shifts are fine with me if they move us in the right direction and we give folks a path and adjustment period.

That said, I'd be interested in some of the opinions of more SCSS & design focused folks like @gakimball @tdhartwick @jnemeth @andycochran @ncoden

[2017-04-19 17:19] IamManchanda commented on #9699
Closing this in an effort to keep one issue per enhancement
Hope that's not an issue with you guys

Discussion moved here => **[[Foundation Future] Discussion on Grid's Future ( Flex/Float/Spec - Margin/Padding )](https://github.com/zurb/foundation-sites/issues/9875)**

[2017-04-19 17:19] #9699 closed

[2017-04-19 21:16] blazebarsamian opened #9964 "$color-pick-contrast documentation enhancement suggestion"
I'm just wondering if there was a reason why `$base` was excluded from the example code?

I feel like it would be helpful to display how the code needs to be written with `$base` included. It was a little confusing to me at first and I'm sure I'm not the only one who was unclear.

I would change:
[code]
to:
[code]

Also, maybe this is overkill but I don't think it would hurt to define `$base` in t

[2017-04-19 23:12] kball commented on #9438
An initial PR has landed at #9965! @DaSchTour and @gakimball would love your reviews & feedback, as well as anyone else who would like to take a look.