[2016-04-19 15:31] rockstarwebdesign commented on #7038
Total fail. Can't even start the app.

[2016-04-19 15:41] acarnwath opened #8631 "[Equalizer] Documentation: Events do not have uppercase letters"
Documentation claims that `preequalizedRow` and `postequalizedRow` are fired, when in fact it is `preequalizedrow` and `postequalizedrow` (all lowercase).

Code:

[code]

[code]

[code]

[2016-04-19 16:05] acarnwath commented on #8502
Just filed #8631 for a similar issue with Equalizer

[2016-04-19 17:24] Davidrl1000 commented on #8596
No I am not using any template, I am building my own template

[2016-04-19 19:58] designerno1 commented on #8617
just added a PR #8633

[2016-04-19 20:32] colin-marshall commented on #8627
What browser/operating system does this appear the worst on? I tried in Chrome and Safari on Mac and couldn't reproduce.

[2016-04-19 20:48] colin-marshall commented on #8620
@rafibomb while we're on the topic of CodePen, I have a related suggestion. There are quick-add dropdown boxes in the CSS and JS settings of a pen. There is an option to quick-add Foundation CSS, but there is no Foundation option on JS page of the settings. Since JS is required for the majority of Foundation's components, it seems awkward to not also have it as a quick-add option in the JS section

[2016-04-20 00:15] simonrcodrington commented on #8620
Hi @rafibomb thanks for that. That file was pretty much all I needed for my pens. I'll just have to manually copy this link into each of my pens.

I'd be keen on seeing the flex-grid offered as a dropdown option on CodePen, but I guess it would be up to them as to what quick options they allow.

Cheers

[2016-04-20 05:23] colin-marshall opened #8636 "[Sticky] Error destroying plugin when no anchor is set in options"
I was having a look at the sticky plugin tonight and started to write the unit test for the constructor function of the plugin. I was able to get the test passing without issue. After each test the destroy method is used, and that shows as failing:

[code]

**To reproduce:**
1. Create sticky container & element
2. Destroy it
3. Check console and see this message:
   `TypeError: 'undefined' is not

[2016-04-20 08:16] barzev commented on #8627
Windows 7+, Chrome. You have to scroll up fast and steady. No issues with IE and Firefox.

[2016-04-20 08:28] heliohm opened #8637 "[Visibility Classes] data-hide-for medium not working for title-bar + top-bar"
**Setup**

Foundation v6.2.1 (foundation-rails)
Firefox (latest)
Chrome (latest)
Ubuntu 15.10

**Description**

While reproducing the Foundation 5 top bar as described in a Zurb University lesson [1] I see that when a link is clicked (to e.g. "/" with screen size > medium, the following happens:

* Both the title bar and top bar is shown stack on top of each other. Refreshing the page makes it app

[2016-04-20 09:18] simongcc opened #8638 "About the Orbit Slide Direction"
Foundation Version: 6.2

I write customized function to change slide so I use
$('#element').foundation('changeSlide', isLTR, chosenSlide, idx);

I think isLTR read is Left to Right, but inside the code in foundation.orbit.js.
Line 279:

[code]

That's means, if isLTR == true, direction in is from Right and dirOut is to Left
It seems the direction is negated. Am I correct?

[2016-04-20 09:51] denisahac commented on #8637
You need to make sure you referenced the foundation.js file and call the `$(document).foundation()`. If you're sure you included those files then make sure the path are correct.

[2016-04-20 10:06] HGeist opened #8639 "[Sticky] Errors in Sticky Plugin Documentation"
Hello ZURB Team,

i got stuck on a little error in your documentation for the Sticky plugin. In the Javascript Event Reference the names of the events in the left column of the table are turned around. It is "unstuckfrom.zf.sticky" instead of "sticky.zf.unstuckfrom.zf" and "stuckto.zf.sticky" instead of "sticky.zf.stuckto".

Also, it was hard to get that you have to add a namespace in order to mak

[2016-04-20 12:45] heliohm commented on #8637
Forgot to include reference above:
[1]https://zurb.com/expo/lessons/how-to-re-create-top-bar-with-foundation-6

[2016-04-20 13:57] denisahac commented on #8637
I can't reproduce the issue you're experiencing. Try checking the browser network tab for some missing resources if there's any.

[2016-04-20 15:05] wneessen commented on #8294
Any updates?

[2016-04-20 15:52] sethkane commented on #8549
I am going to check this out later this week.  I will keep you all posted.

[2016-04-20 16:08] deepfriedmind opened #8641 "[Accordion] `$accordion-content-color` is defined but never used"
It seems the variable `$accordion-content-color` isn't used anywhere throughout Foundation 6.2.1, so changing it in the settings doesn't actually do anything.

[2016-04-20 16:42] denisahac commented on #8641
Yes you're right. Upon checking the foundation [accordion](https://github.com/zurb/foundation-sites/blob/develop/scss/components/_accordion.scss) component the `$accordion-content-color` variable on line number 39 isn't used anywhere in the file.

Based on the name of the variable, it should be a declaration inside the accordion-content mixin

[code]

[2016-04-20 16:46] Owlbertz commented on #8602
@denisahac While analyzing this, where you able to find the root cause in the Foundation code? If you, do you mind opening a PR for that?

[2016-04-20 18:38] designerno1 commented on #8624
i reopen this
also calling
[code]
results in the error
in codepen not every time but on normal sites more often
http://codepen.io/designerno1/pen/mPKzaK

[2016-04-20 18:47] denisahac commented on #8624
@designerno1 What's the error? What do you expect to happen after calling `$('#accordion-test').foundation('destroy');`?

[2016-04-20 18:50] heliohm commented on #8637
Update zip file attachment, asset folder contained letter "|" which caused it not to show in Windows.

I just tested the contents of the zip file on Win 7 (Chrome + IE11) and the example works perfectly fine here. It seems to be an issue on Ubuntu only for now.

[2016-04-20 18:51] designerno1 commented on #8624
[code]
i expect to destroy the plugin without an error

[2016-04-20 19:04] designerno1 commented on #8624
ok i addressed the issue
setting data-slide-speed="2000"
to something big causes the trigger function in slideUp(0) called by destroy to generate the error because in destroy the $element is cleaned up and then the trigger function on slideUp callback the $element is null
https://codepen.io/designerno1/pen/GZGYPB

[2016-04-20 19:24] adamplabarge commented on #8255
thank you andycochran - adding the babel plugins to package.json resolved this issue for me

[2016-04-20 20:13] Silvester20 opened #8643 "6.2.1 - Abide fails with radio button after resetting form"
1. Create a abide form with a radio-group with all of the radio's required which is preffered by W3.
  ( or at least 1 )
2. Fill in the form correctly and submit the form. Now abide says form is valid.
3. Reset the form.
4. Fill in the form correctly and submit the form again.

**What did you expect to happen?**
The form is valid so "formvalid.zf.abide" should be triggered

**What happened instead

[2016-04-21 00:20] colin-marshall opened #8645 "[Sticky] Transitions when adjusting height"
@gehasia you recently introduced commit https://github.com/zurb/foundation-sites/commit/26e716e404f4408f194b614114a88a9f4c93f3b7. I think the lines about transitions have messed up the behavior in the sticky-nav example at the bottom of the Sticky docs. The transition is now jerky and the offset is messed up too. You can only see the bug in local docs, so compare to the live version of the [Sticky

[2016-04-21 02:59] phoenixgao commented on #8629
Or, should I report this on motion-ui instead?

[2016-04-21 03:15] spud commented on #7770
I was hoping to use the accordion plugin to handle a hierarchy browsing interface for an administrative backend, where each "row" was a whole series of content: title, template, status, edit button, delete button. The edit and delete buttons need to click through to their various actions, the title needs to click through to a display template **and** the row might need to reveal a sub-menu of chil

[2016-04-21 06:29] gehasia commented on #8645
Hi, i've done some more work on it last week, and changed the way container resizing is fired up. But I didn't PR for it yet.
I'll try to test it against the sticky-nav at the bottom of the sticky docs tomorrow (i won't be there for today) and try to debug it quickly.
Does something like an option to activate/deactivate the container resize automation seems reasonable to introduce too (autoresizeC

[2016-04-21 08:58] DaSchTour commented on #7758
As I found this by searching for TypeScript in Foundation Context. I think by shifting to TypeScript Foundation for Sites and for Apps could benefit better and the usage with Angular 2 would be easier. Maybe it also would make sense to have something like Foundation Core (maybe even Core Style and Core JS/TS?) which is then extended to Foundation for Sites and Foundation for Apps. Just some crazy

[2016-04-21 09:54] lubobill1990 commented on #7868
What's the reason to remove .medium and .xlarge?

[2016-04-21 11:29] barzev commented on #8627
Resolved in the following way:

`body { -webkit-transform: translate3d(0, 0, 0);`

[2016-04-21 11:29] #8627 closed

[2016-04-21 12:10] phifa opened #8647 "Button Group child-selector via mixin not working"
`@include button-group('.group__item');` does not work. Children must have always `.button`. But the docs say that this should work: http://foundation.zurb.com/sites/docs/button-group.html#button-group

[2016-04-21 12:23] denisahac commented on #8647
Use `@include button-group($child-selector: '.group__item');` instead.

[2016-04-21 12:45] koernchen02 opened #8648 ".top-bar-left and .top-bar-right don't have the width attribute set to auto on medium & larger screens anymore"
**How can we reproduce this bug?**

1. I did an `bower update` and got `foundation-sites#6.0.6 bower_components/foundation-sites`
2. I ran gulp
3. My distributed files don't respect mediaqueries for my topbar sections (.top-bar-left and .top-bar-right ) anymore. The width of both of the elements stays 100% which makes them stack one underneath the other. The css compiled on http://foundation.zurb.

[2016-04-21 13:18] denisahac commented on #8648
Please use the latest version of ZF which is v6.2.1 instead of 6.0.6.

[2016-04-21 13:40] denisahac commented on #8602
@Owlbertz  This only exists according this his desired feature(Making a mega-submenu) which takes up the whole width of the parent container.

Since he modified the width of the `.dropdown-pane` to 100% to take up the whole space. No problem with any default ZF Dropdown implementation.

[2016-04-21 13:42] koernchen02 commented on #8648
Thanks for pointing that out... I'm new to bower etc. and thought that a project created with the foundation-cli would always update against "latest". Doing that manually introduces further problems but this issue is of course pointless know!

Anyways... @denisahac thanks for the quick reply!!!

[2016-04-21 13:42] #8648 closed

[2016-04-21 14:24] ix-xerri commented on #6921
I'm having the same issue.
I use dropdown, and dropdown requires global.
While i'm compiling with gulp the same error is thrown.

[2016-04-21 17:14] mhair commented on #8573
@colin-marshall : I checked all of those things prior, and again just verified, including that the specific file mentioned in the clean:javascript task was there...it is. Plus I did an npm install del --save-dev just for good measure. Any other ideas?

[2016-04-21 17:20] sethkane commented on #7904
@LayZeeDK This issue was merged into the develop branch if you want to check it out.

[2016-04-21 19:14] N3los commented on #7252
Hey,

i tryed all the possible answers found and nothing helps. My problem is i get flashes of dropdowns cause i use off canvas for mobile.

Anyone knows how to fix this?

Ty!

[2016-04-21 19:31] andycochran commented on #8447
@abdullahsalem Fair point. But that perspective certainly devalues the function of Button Groups that don't have any radius. Hmm… 

I've been working on a write-up, trying to sort this all out:
http://codepen.io/andycochran/pen/reJRro

(My next step: take an inventory of every function that Button Groups & Menus have/need in order to assess a rewrite.)

[2016-04-21 19:51] Owlbertz commented on #8628
Thanks for reporting this. Could you check on how this interferes with #7548 (and the issues that link to this one)? Reveal and scrolling on mobile, especially iOS, was always a bummer. Your solution seems pretty simple, so if you can confirm this works and fixes your issue as well as the one(s) mentioned above, we're happy to see a PR!

[2016-04-21 20:20] Owlbertz commented on #8638
LTR refers to [the orientation of your site](http://foundation.zurb.com/sites/docs/rtl.html) and not to the plugin in particular. Maybe that's what seems wrong to you?

[2016-04-21 20:50] sethkane commented on #8549
@rafibomb I just tested this in Chrome, Safari and Firefox and here is what I found:

Safari there are no issue but you need to understand that safari default doesn't allow for navigating links via the "Tab" key by default.  If you are on a mac try using option + tab and you can navigate all focusable objects like I did in this video: https://www.dropbox.com/s/tqkhgid7fadwqdf/zurb-accordion.mov?dl

[2016-04-21 20:57] andycochran commented on #8588
I'm all for making this change:

<img width="294" alt="screen shot 2016-04-21 at 4 56 39 pm" src="https://cloud.githubusercontent.com/assets/409279/14724056/1228891a-07e2-11e6-9a66-8d2158508fea.png">

But I don't know the reasons why Normalize is hardcoded.

[2016-04-21 21:02] meganedesigns commented on #7759
@gakimball Any status on Joyride for Foundation 6?

[2016-04-21 21:06] Owlbertz commented on #8622
So here's what I found out. I guess the issue you encounter happens because when Foundation is loaded, the components are initialized via the `!function($){}(jQuery)` wrapper, but since jQuery is not there yet it fails to load.
An easy way to get around is is to wrap the whole Foundation JavaScript into one big AMD wrapper, which takes care of defining jQuery itself, so I you would notneed your `j

[2016-04-21 21:44] designerno1 commented on #7252
can you all with problems please post example codes or pens?

[2016-04-21 21:46] andycochran commented on #8556
Just works if you add this:

[code]
Maybe `display:none` is the wrong way to go for tabs?

[2016-04-21 21:48] ainsophical commented on #7252
[Just check a majority of the templates](http://foundation.zurb.com/templates-previews-sites-f6/news-magazine.html)
hit refresh a couple times and you'll see it.

[2016-04-21 21:56] merlinpatt commented on #6944
@gakimball Is this something that could be brought into v6?

[2016-04-21 22:06] designerno1 commented on #7252
@ainsophical
don't know exactly but the templates seems to be an older version
var FOUNDATION_VERSION = '6.0.0';
and in the css file i found nothing to no-js
maybe thats the problem i check the template with a 6.2.1 local, tommorow

[2016-04-21 22:10] designerno1 commented on #7252
@ainsophical
ok i checked the template agains a newer version and then i got no flicker
the only flicker i see is the alt text from the loading images ;-)
so please update your Foundation Version

[2016-04-21 22:18] ainsophical commented on #7252
`var FOUNDATION_VERSION = '6.2.0';`

[2016-04-21 22:40] adamplabarge commented on #7327
Seems like it is still an issue to me.  Using foundation-sites and 6.2.1.

zurbchris - at least update the documentation on this page (http://foundation.zurb.com/sites/docs/javascript.html) to say what is REQUIRED

Between getting gulp babel working and this, serious a frustrating experience integrating foundation-sites into a project.

[2016-04-21 22:50] EFXPROMedia commented on #8602
I have not had time enough to shred the script to find whats the problem so far looks alright but I can say a few other functionalities it lacks but its already built on F5:

- inherit the parent size example if it is inside a row> large-12 columns. it should automatically center and get the parent width, this would lessen code for sizing mega menus on fast production.

- Close on orientation devi

[2016-04-21 22:52] colin-marshall commented on #7759
@meganedesigns: @kball & @rafibomb are now the people to contact about this.

[2016-04-22 04:12] colin-marshall commented on #8645
@gehasia Thanks for the quick response. I am working on a fix for #8435 that is different from the suggested solutions. This may be the same thing you are trying to achieve.

I was going to see what people think about adding an option to Sticky, named something like `staticHeight` which defaults to `true`. If it's set to the `true`, Sticky will get the height of the `.sticky` element right before

[2016-04-22 07:50] designerno1 opened #8651 "[NEW FEATURE] ResponsiveAccordionTabs plugin"
# ResponsiveAccordionTabs

Please give me your opinion:
http://codepen.io/designerno1/full/eZjdJV/
### Features
- [x] Responsive settings `"breakpoint-plugin"`
- [x] Converts Tabs markup to Accordion and vice versa
- [x] Converts Accordion markup to Tabs and vice versa
- [x] correct opened Panel stays open through resize
- [x] Custom linkClass and panelClass supported (data-attributes supported)
-

[2016-04-22 09:57] Silvester20 commented on #8651
Totally awesome!. I would like to see this as plugin.

[2016-04-22 11:15] succli opened #8652 "[Dropdown] Dropdown absolutely doesn't work"
Tried to make a dropdown to my site, but after I click on the button nothing happens. In Chrome's Developer Tools I see JS is triggered, but the is-open class is missing. I copied the one of the documentation examples to see if I'm mistaking something. Still not works.

The version is the newest 6.2.1.

[2016-04-22 12:10] iFarmGolems commented on #8622
I understand. Thank you for your response and effort!

[2016-04-22 12:59] andycochran commented on #8651
Rad!

[2016-04-22 13:57] bergschrat commented on #8652
For me the foundation.css was broken, which is in the download (Complete download and Essential download). I have the foundation.css replaced by foundation.min.css, now it works. See:
http://www.ringelrose.de/anni/kromis.html

[2016-04-22 14:25] andycochran commented on #8652
@succli Could you link to an example of it not working? Can you replicate the problem in a codepen?

[2016-04-22 15:49] rediris opened #8653 "Foundation grid centering fails on .column:last-child"
**How can we reproduce this bug?**
Using `large-centered` or `medium-centered` on `columns`:

[code]

**What did you expect to happen?**
Each `column` with a `*-centered` class applied should be centered.
**What happened instead?**
The `:last-child` floated right instead.
**Test case:**
Observe and weep:
- [CodePen with Foundation 6](http://codepen.io/rediris/pen/rerGgO)

[2016-04-22 17:57] colin-marshall commented on #8651
This is sweet! Here's a few thoughts at first glance:
- I think the name "Responsive Accordion Tabs" is easier to pronounce than "Responsive Tabs Accordion"
- Is this something that could be done without adding a plugin? Would it be better if you could just add the `data-responsive-settings` attribute to any Tabs or Accordion and have it work, without changing anything else?
- Add JS unit tests an

[2016-04-22 18:06] designerno1 commented on #8651
@colin-marshall
1. ok i could rename the plugin
2. i think about it if it is possible
3. added
4. my custom data-link-class and data-panel-class have no styling only to test if it works ou can toggle tabs so it works only no styling

[2016-04-22 18:11] colin-marshall commented on #8637
Are there any errors in the console? If they're both appearing at the same the JavaScript is probably not functioning in the browser like it's supposed to. Test some other components that require javascript (accordions for example) and see if they function normally. Interesting that this is only happening on Ubuntu.

Have you tried moving all the scripts to just before the closing body tag?

[2016-04-22 18:37] andycochran commented on #8653
This is a specificity issue.

This:
[code]
trumps this:
[code]

We don't wanna do something as crude as `float: none !important;` (although it'd work). I think the fix here might be to make the last-child class even more specific:

[code]

[2016-04-22 18:41] gehasia commented on #8645
@colin-marshall  I made some videos to show different behaviors.
In each videos, i start by scrolling down and up with a mouse-click on the scroll bar. Then i scroll down and up with the mouse wheel. The sticky-container background is set to red, and the sticky element is the nav bar with black background. I made videos because i think it's more explicit than tons of textual explanations (in bad e

[2016-04-22 18:46] rediris commented on #8653
That's a great idea.

[2016-04-22 18:47] brettsmason commented on #8651
Really great work! This is a feature I really miss from Foundation 4 (panels) so I'd like to see this get added. It feels very much like the responsive navigation too which is a good thing.

[2016-04-22 20:02] mikejoyceio commented on #5392
Using [jQuery's .one() method](http://api.jquery.com/one/) resolves this issue for me.

[code]

The  .one() method is identical to  .on(), except that the handler is unbound after its first invocation.

[2016-04-22 20:36] andycochran commented on #7315
@r3wt Can you recreate this in a codepen? I can't seem to. Maybe it's no longer an issue?

[2016-04-22 21:03] andycochran commented on #7372
@jimthegit You should use `data-toggle=""` instead of `data-open=""`.

[2016-04-22 21:03] #7372 closed

[2016-04-22 21:07] designerno1 commented on #8590
add a ```novalidate``` attribute to the form element and it works fine for me

[2016-04-22 22:03] gehasia commented on #8645
Here is my PR if you can have a look.
https://github.com/zurb/foundation-sites/pull/8658

I can add some option to enable/disable this behavior if needed.

[2016-04-23 07:39] Owlbertz commented on #8651
Looks good :+1:.  I almost think this should be part of of F6 core, just like the Responsive Menu thingy.

[2016-04-23 07:51] brettsmason commented on #8651
Yep agreed I'd prefer it to make it directly into core :thumbsup:

[2016-04-23 08:35] heliohm commented on #8637
There is indeed a warning in the Chrome console:
" Tried to initialize responsive-menu on an element that already has a Foundation plugin".

Setting a breakpoint here in the JS shows that element causing the warning is ul.menu.dropdown.vertical.medium-horizontal.

Not sure what I have done wrong but will look more into it.

[2016-04-23 10:42] featherbelly commented on #7627
Any pointers as to how you "picked it apart". I'm about to do the same thing... Want to use as much of the built in Foundation goodness as possible...

[2016-04-23 13:55] COLABORATI opened #8659 "[Off-canvas] async loading of f6 js makes media queries unreliable, was: menu for small shows on all screens"
I am using the zurb site template with the unfortunate and premature foundation 6 release.

The off-canvas javascript seems to have some problems, currently I am not sure what exactly is wrong, however I have a small site with an off-canvas menu that does work in development environment (`npm start`) but always shows the mobile version when compiled for production (`npm run build`).

The generated

[2016-04-23 14:01] COLABORATI commented on #8659
I now setup a fresh foundation 6 zurb template just to see how the generated production javascript looks, and there are many ```Cannot call a class as a function``` strings on top of the built app.js. I did not do a deep dive into babel rabbitholes but having this multiple times on top of a minified javascript does not look healthy. If this is completely ok, it would be great to have an explanatio

[2016-04-23 14:32] LayZeeDK commented on #7904
Thank you for making progress, @sethkane. However, I don't have access to a Mac anymore.

[2016-04-23 15:01] COLABORATI commented on #8659
A little correction, but that does not make anything better: it is not like always the small screen version is showing up on large screens, it is more some kind of randomness involved - after a few reloads the large screen menu appears, but then after another click on a link in that menu for some mystical reason the small screen top bar is shown again. Yes, I am deleting the browser cache (setting

[2016-04-23 15:16] COLABORATI opened #8660 "[Off-canvas] Example Code in Documentation has FOUC problems - not usable"
Searching for the solution for #8659 I am going through everything from zero.

The [example](http://zurb.com/building-blocks/top-bar-with-off-canvas) linked from the off-canvas documentation comes with a FOUC problem. This is not acceptable.

You just can not publish an example with such a heavy FOUC problems and say "people, look, this is how it is done!". This is a serious problem, not an aside,

[2016-04-23 17:03] jontro commented on #8590
@designerno1 are you sure about this? We have the novalidate in our form (missed it in my example). As you can see in findFormError it will look in the parents if it doesnt find a sibling element, which incorrectly selects the "form-error" class attached to the other input

[2016-04-23 18:04] COLABORATI opened #8661 "[JavaScript] Setting of default values like described in docs does not work."
in app.js I want to do this:
[code]
but I get a compilation error:
[code]

The setting of default values does not seem to work like described in the docs.

[2016-04-23 18:44] designerno1 commented on #8590
@jontro
you are right now i see the error, i try to debug

[2016-04-23 18:52] colin-marshall commented on #7620
**Update:** Shout out to @DanPurdy, @bgriffith, and the @sasstools team for their hard work to finish and release v1.6 of sass-lint. I just added 1.6 to my node-sass-lint branch and lots of files that were throwing fatal errors are now being linted. We're still experiencing fatal errors with 6 of our files, so I'm going to hold off on merging my branch until we can get the rest of those linting.

[2016-04-23 19:05] designerno1 commented on #8590
@jontro
ok only thing i see at the moment is to wrap the second input in an element like a label tag
[code]

[2016-04-23 19:21] colin-marshall commented on #8573
@mhair I'm running out of ideas. Have you tried installing a Node version manager? There's a few for Windows. It allows you to have multiple installs of different versions of Node and switch between them. I would suggest trying this and see if having isolated Node installations with a version manager makes something "work" that wasn't before.

Here's what looks like the most popular one:
https://g

[2016-04-23 19:37] COLABORATI commented on #8659
I re-checked the actual html and scss and everything is ok, I can not see any problems. Again, in development mode everything is perfect, but the production build generates a bad result. Yes, the uncss step is already disabled.

I changed the title to better emphasize what this issue is about. Actually, these are two issues, one is that the off-canvas js code does not seem to survive a production

[2016-04-23 20:05] colin-marshall commented on #8659
@COLABORATI sorry for the issues you are having. The goal for 6.3 is to have unit tests for all the components, so although they're currently missing, unit tests are at the top of the priority list. I don't know if there were any plans for unit tests in the templates, but I will keep that in mind once we get the unit tests for the components completed.

Please provide me with an example of the mar

[2016-04-23 20:38] colin-marshall commented on #8660
What browser and OS are you using? I see no FOUC. Only the small nav shows on the small breakpoint, and only the desktop nav shows from medium and up.

The only thing that doesn't load right away for me is the placeholder image below the navigation bar, but that is normal and has nothing to do with FOUC.

[2016-04-23 21:53] COLABORATI commented on #8659
OK, this is something that can drive anybody crazy, unbelievable.

I commented out the things that happen during a production build in the gulpfile. Then I reactivated, run build, tested, and so on, many times in micro-steps. Checked break-point usage, all css classes, etc.

Maybe it is not something that has to do with code minifiers, I am not sure but here is one more observation: there is one m

[2016-04-23 22:27] IAmEddieDean commented on #8661
That's how variables are assigned in html attribute values. You need to use camelCased values here, so:
[code]

[2016-04-23 22:42] colin-marshall commented on #8659
@COLABORATI thanks for looking into it further, please let me know what you find when you have time to look at it some more. And rest assured, more examples in the docs, better docs, and visual tests are also priorities for 6.3.

I responded to your FOUC issue and am awaiting reply.

As for that `Cannot call a class as a function` that appears repeated at the top of the minified file, that is done

[2016-04-23 23:09] colin-marshall commented on #8661
Thanks @IAmEddieDean! Glad to see you're still around Chris.

Marking this as resolved.

[2016-04-23 23:09] #8661 closed

[2016-04-23 23:56] designerno1 opened #8662 "[off-canvas] close callback function from docs missing"
cb as described in docs missing `optional cb to fire after closure`
open and toggle has no cb but event,trigger
close has no event, trigger.

maybe we should unify those functions to `(event, trigger, cb)`

[2016-04-24 01:07] colin-marshall commented on #8612
@dragthor I think in the near future they are planning on revisiting Foundation 5 to fix some bugs for a 5.5.5 release. Obviously there are more pressing issues with v6 at the moment. We will consider this once it's time to revisit v5. Thanks!

[2016-04-24 04:01] colin-marshall commented on #8645
@gehasia thanks for your work in getting the PR up for me to check out. Do you think you could turn that sticky topbar example you were using in your videos to a visual test in the `test/visual/sticky/` directory?

Please pull in the latest commits from develop to get a visual test I made (https://github.com/zurb/foundation-sites/commit/209e9e2d97516e34a78da5007465a33094f36998) so you can check th

[2016-04-24 04:24] colin-marshall commented on #8435
@iammichiel @lukejoyce thanks for the solutions! The problem I found with both of those was that a sticky element with `height: auto` will lose its height when it becomes unstuck because of `position: absolute`.

If you have a minute, please check out my PR #8663 to see a visual test I added, along with a new option called `staticHeight` that helps with the sticky element losing its height. I will

[2016-04-24 06:55] abdullahsalem commented on #8447
Thank you very much @andycochran, you did a great work on that [codepen](http://codepen.io/andycochran/pen/reJRro).

I am really not sure if the assumption of multiple lines should be considered in such this component, but I currently don't think so. Therefore, I might choose either option B or C, but I would prefer C if the multiple-lines is accidentally happened.

[2016-04-24 08:07] gehasia commented on #8660
What an agressive bug report !!!!!
I'm pretty sure you're seing a FOUC where it's a normal behavior:
Small size -> drilldown menu
Widen the window, reaching the medium breakpoint and replace with a dropdown menu
Continue to widen, and the ZURB left toolbar will appear, toolbar wich is "off example" but which will size down the main content thus resizing it under small breakpoint -> It will fire th

[2016-04-24 10:36] EduardoAC opened #8664 "Error on the title-bar spacing set up for menu-icon"
**How can we reproduce this bug?**
1. Step one
2. Step two
3. Step three

**What did you expect to happen?**
Icon spacing should be handle for the same variable for margin-left and margin-right
**What happened instead?**
You defined $tile-icon-spacing only for left side, no option of right margin without broke titlebar structure

[code]

**Test case:**
Put a menu-icon inside a button

[code]

Give

[2016-04-24 16:51] gehasia commented on #8645
I've merged your code in my repo https://github.com/gehasia/foundation-sites/commit/afa536f3180eabd92b20029c355b40f67658a80d and made the visual test page + minor bugfix https://github.com/gehasia/foundation-sites/commit/68575a603b9f3dbc04923037dc652cc96751b79a

and everything seems to be ok, both seems to work flawlessly. I honestly don't know in which order you can merge the whole stuff because

[2016-04-24 17:20] gehasia commented on #8645
Another thing,

i tried to just add
`css['display'] = 'inline-table';`

in
 `  _removeSticky(isTop) {
...
css['left'] = '';
css['display'] = 'inline-table';
...
}

instead of your patch, and it seems to do the trick your are resolving with your patch but without the need to add an option (staticHeight). Maybe it's not a good solution to add those kind off inline css, but it's a one liner which is

[2016-04-24 17:39] colin-marshall commented on #8660
@gehasia that's the only thing that I can see that looks "off" with this example, but I'm not sure if that's even what @COLABORATI is referring to. I wouldn't consider that FOUC.

[2016-04-24 21:25] jontro commented on #8590
Yeah. That's why I reported the bug ;) The problem was finding out why it behaved this way, might be good to update the documentation in case this behaviour is intended / hard to fix

[2016-04-25 08:05] tonister opened #8665 "[Slider] Snaps to right"
**How can we reproduce this bug?**
1. Open the zurb foundation Slider docs http://foundation.zurb.com/sites/docs/slider.html.
2. Test on the first slider demo on the page by draggig the slider to the right edge  smoothly.
3. At the last 5-ish mm's test dragging slightly left and right and notice the slider "snaping" to the right edge.

**What did you expect to happen?**
I expected to be able to dr

[2016-04-25 08:16] MaximeLassalleHub opened #8666 "[Slider] Slider bug for mobile devices"
This is the error generated when moving the slider with a mobile device/emulator on the official page
http://foundation.zurb.com/sites/docs/slider.html.

Uncaught TypeError: Failed to construct 'MouseEvent': Please use the 'new' operator, this DOM object constructor cannot be called as a function. foundation.js?hash=713d87598a296bc947803d4689f71045:127

[2016-04-25 08:34] tonister commented on #8665
The same behaviour can be observed on the vertical sliders bottom edge.

[2016-04-25 10:25] tonister commented on #8665
An update, the slider value seems to be related to the actual width of the element, the wider it is the higher the value it snaps from is.

[2016-04-25 11:17] homamghassemy commented on #8577
I have the same problem. I upgraded from 6.2 to 6.2.1 and all my application which has too many pages failed to render as it supposed to. now I am going to change all nesting structures.
I had used nesting with float grid and flex grid in foundation for sites 6.2

[2016-04-25 11:40] Owlbertz commented on #8666
There is an open PR #8449. Maybe you can pull that down and give some feedback so this will finally been merged.

[2016-04-25 15:22] COLABORATI commented on #8659
Ok, today I sprinkled a few ```console.log``` into some ```foundation.*.js``` files. I basically put a logger after every variable assignment or initialization, the output is easy understandable when you know the code (I am sure there are more elegant methods).

Would you like to please take a look at [Line 30 in foundation.util.mediaQuery.js](https://github.com/zurb/foundation-sites/blob/develop/

[2016-04-25 15:24] COLABORATI commented on #8659
BTW I have no clue why that output for the selector is _changing_ between requests.

[2016-04-25 15:47] anaelChardan opened #8667 "Jquery-cookie block the installation of Foundation v5"
**How can we reproduce this bug?**

1. Bower install
2. See that the dependency : "jquery-cookie" https://github.com/carhartl/jquery-cookie.git does not respond

**What did you expect to happen?**

Installation works great

**What happened instead?**

It's blocked by the Jquery-Cookie dependency

[2016-04-25 15:52] COLABORATI commented on #8659
OK, so this ```$('.foundation-mq').css('font-family');``` seems to be the place for transporting the defined breakpoints - but it is a bad hack. For some reason the browser seems to add ```Times New Roman``` to that selector - do not ask my why, maybe this depends on some user settings, it just seems to do so from time to time. Of course the assumption about that string is wrong then and so the wh

[2016-04-25 16:11] moettinger commented on #8667
Same here.

[2016-04-25 16:15] mjacksonw commented on #8667
Same here

[2016-04-25 16:38] colin-marshall commented on #8660
@COLABORATI I'm going to close this issue, assuming the FOUC you are referring to has to do with the iframe width changing between breakpoints (not to be confused with Foundation's breakpoints inside the iframe) on the building blocks site. As @gehasia mentioned, this is because the left toolbar changes widths, which makes the iframe width change.

[2016-04-25 17:25] designerno1 commented on #8667
why not use https://github.com/js-cookie/js-cookie ?

[2016-04-25 17:30] moettinger commented on #8667
No longer having the issue on my end. Just started working again, randomly.

[2016-04-25 19:11] andycochran opened #8668 "Bloc Grid + Responsive Gutters"
It would be rad if `margin-bottom` on columns Block Grids used Responsive Gutter sizes. Then the space between rows would match the space between columns.

[2016-04-25 19:42] COLABORATI commented on #8659
One more thing:
- refresh with F5 key shows the wrong menu
- for some reason the media query key is set to ```Times New Roman``` (see console log above)
- putting ```$('.foundation-mq').css('font-family');``` in the JS console still outputs the expected value ```'small=0em&medium=40em&large=64em&xlarge=75em&xxlarge=90em'```

I guess that the underlying problem has something to do with the asynchro

[2016-04-25 19:51] colin-marshall commented on #8645
@gehasia thanks for looking into it and making the visual test.

I think your solution of `inline-table` keeps the height of the container between sticky states, but it also introduces a width issue. After it becomes unstuck the first time, the width decreases a little, causing a slight increase in height. I improved the callout anchors visual test on the develop branch so you can see it better.

[2016-04-25 20:01] kball commented on #8651
This feels coherent as something that makes sense in core to me.  @rafibomb what do you think?

[2016-04-25 20:03] #8643 closed

[2016-04-25 20:10] kball commented on #8447
Given how much of this is opinion based depending on the details of your app, I kind of wonder if it would be good enough to add a little tutorial on how to implement these either as custom classes or as extensions to the base classes.

One thing that gets lost sometimes is how much Foundation is intended to be just that - a foundation - not the be-all and end-all.  If we can give more guidance ab

[2016-04-25 20:13] andycochran commented on #8668
Something like:

[code]

[2016-04-25 20:21] heliohm commented on #8637
The problem goes away when turbolinks are removed from application.js. Turbolinks seems like it is having a lot of issues with Jquery and Foundation.

I didn't see the issue on Windows since I am simply opening the index.html file in Chrome which causes turbolinks.js to crash it seems.
On Ubuntu I am running the server at 127.0.0.1:3000 mapped to example.com with the /etc/hosts file.

[2016-04-25 20:59] anaelChardan commented on #8667
Yeah it works for me again too, it seems that it was a github problem :)

[2016-04-25 20:59] #8667 closed

[2016-04-25 21:04] #8637 closed

[2016-04-25 21:07] COLABORATI commented on #8660
Well, of course you should copy the code that is shown on that example page an test it in its own html file - there is a very clearly visible FOUC in all browsers I tested (Linux, Apple, Windows). This is not visible on the "Zurb University" Page where this example is presented.

[2016-04-25 21:44] COLABORATI commented on #8660
@gehasia: yes, I am really frustrated with Foundation 6, since it was released I stumble from one bug or problem to another, this would have been absolutely no problem at all if it was still in alpha or beta status - but releasing this as "production ready" is the thing here that makes me feel bad. Wasted many, many hours with pre-alpha quality code. Hopefully F 6.5 will be on a good way to releas

[2016-04-25 22:07] colin-marshall commented on #8660
@COLABORATI thank you for clarifying. Not sure why this doesn't happen on the Building Blocks site, but I was able to reproduce locally. The same code that is recommended for preventing FOUC of the responsive navigation will work here:

#### SCSS
[code]

#### CSS
[code]

@kball @rafibomb please add the above SCSS & CSS to building block: http://zurb.com/building-blocks/top-bar-with-off-canvas

We

[2016-04-25 22:31] rafibomb commented on #8668
hmmm, this makes sense but may be a bit prescriptive. I'll shoot around to some of the designers here!

[2016-04-25 22:45] KiraBialczynska opened #8669 "Expanded Button Group margin missing - foundation-rails (6.2.1.0) gem"
I'm using Foundation for Sites via ruby gem (foundation-rails (6.2.1.0))
After latest ugrade to 6.2.1 I noticed that Buttons Group margin calculation doesn't include -1px margin part.
Attached is a screenshot comparing my local file downloaded via gem and the one from Foundation sites website.
Any ideas how to solve that? I tried reinstalling gem, doesn't help.
![btn-group-margin](https://cloud.gi

[2016-04-26 02:54] colin-marshall commented on #8664
Thanks for the report! Fixed in https://github.com/zurb/foundation-sites/commit/ee8cda3dda3967c3d9e773c6cede684dc5d0f455.

[2016-04-26 03:26] colin-marshall commented on #8664
Reopening this to gather feedback. The padding is even now, but if you have a `.title-bar-title` next to the `.title-bar .menu-icon`, the title is now `.25rem` to the left (closer to the icon).

Should we add `.25rem` to the left margin of `.title-bar-title` to make up for this? I'm not sure if having the title closer to the icon would make the user more likely to touch the title on accident, when

[2016-04-26 10:29] edtownend opened #8670 "positionClass option is ignored by Tooltip"
this.options.positionClass is set to the value of _getPositionClass without checking for the prior existance of the option during init of Tooltip.

**How can we reproduce this bug?**

1. Set the positionClass option
2. It has no effect

**What did you expect to happen?**
The position should respect the positionClass option

**What happened instead?**
The position is regexed from the classname inst

[2016-04-26 11:21] designerno1 opened #8671 "[Equalizer] equalizeOnStack callout issue"
equalize on stack not working if watched in callout

as of:
https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/offsetTop
https://developer.mozilla.org/en-US/docs/Web/API/HTMLelement/offsetParent

[code]
`offsetTop ` is the value related to the offsetParent and because callout has `position: relative;` ist the offsetTop related to the callout in my case the same on the first and second

m

[2016-04-26 12:26] ncoden commented on #8625
@ericklarac Thanks for the issue, but *line numbers in `foundation.css`* isn't helping a lot. Can you give here the repeated elements ?

[2016-04-26 12:28] ericklarac commented on #8625
Yes, sorry. I'll text you back when I have my computer
On Tue, Apr 26, 2016 at 7:27 AM Nicolas Coden <notifications@github.com>
wrote:

[2016-04-26 12:30] ncoden commented on #6012
@rafibomb I think it is high time to close this issue

[2016-04-26 13:36] onedevteam opened #8672 "Submenu not working properly on small screen in foundation 6 wordpress theme"
I have this html created by wordpress:

[code]

On large screens, menu shows as it should be, but on smaller, when it folds, instead of showing under parrent menu item, submenu shows on the right side and goes out of screen.

Here is uploaded theme i'm working on: http://onedevteam.com/wptest/

How can i fix this?

[2016-04-26 14:22] denisahac commented on #8672
Please refer to the ZF official documentation for [Responsive Navigation](http://foundation.zurb.com/sites/docs/responsive-navigation.html)

[2016-04-26 15:57] brettsmason commented on #8672
Just to elaborate, on your menu that is within `top-bar-right` in your code you need to change `data-dropdown-menu` that you have currently to `data-responsive-menu="drilldown medium-dropdown"` but  change according to how you want it to work.

Also try looking at other Foundation themes - [Joints](https://github.com/JeremyEnglert/JointsWP) or [Croft](https://github.com/brettsmason/croft) to see h

[2016-04-26 16:00] brettsmason commented on #8668
I like the idea of keeping consistent margins on the block grid as I think this would be the most common aim, though I can think of some occasions I may not want to remove the margin on the last item.

[2016-04-26 16:17] gehasia commented on #8645
@colin-marshall
Yes it was working on firefox but not in chrome, i saw the bug you mentioned.
Your fix has some problems with  around 850px width windows (on chrome)
![chromebug](https://cloud.githubusercontent.com/assets/325276/14825536/a4e27a76-0bda-11e6-8bb6-64785d28a90f.png)
Also on firefox on small width :
![firefoxbug](https://cloud.githubusercontent.com/assets/325276/14825557/b7a6155a-0bda-

[2016-04-26 16:17] brettsmason commented on #8670
I'm hoping someone with more JS knowledge than me can help on this one, but thanks for the detailed report.

[2016-04-26 16:19] brettsmason commented on #8653
That looks good to me!

[2016-04-26 16:28] andycochran commented on #8668
I've realized that this style only makes sense for a grid that's visually a "Block Grid." But since the block grid from F5 has been merged into the main grid, there is no actual block grid. There's just shorthand for equal-width columns. And those shouldn't necessarily look like block grids.

So I just did this w/ some app-specific styles and a custom `.block-grid` class on the `.row`:

[code]

I

[2016-04-26 16:39] andycochran commented on #8653
@brettsmason I'll work on this, but just realized my fix doesn't address mobile first. 😞

[2016-04-26 17:05] andycochran commented on #8653
@brettsmason That fix gives us a selector for each breakpoint size. When what we actually need is one selector with a `:not` for each breakpoint. Do you know how I can get something like this?

[code]

[2016-04-26 17:30] andycochran commented on #8669
This was fixed in https://github.com/zurb/foundation-sites/commit/0a4f4ca7514ec8abfae07838ecab9b0a9d0c1a71. Should be included in the next patch.

[2016-04-26 17:43] andycochran commented on #8669
Actually, I'm reopening this 'cause this wasn't a specific bug that was fixed. However, I cannot replicate it locally. @KiraBialczynska, are you maybe using `$global-flexbox: true;` locally?

[2016-04-26 18:37] andycochran commented on #8672
The [Foundation Forum](http://foundation.zurb.com/forum) might also be a good place to seek this kind of help.

[2016-04-26 18:37] #8672 closed

[2016-04-26 18:56] andycochran commented on #7070
@aibrean Can you still reproduce this issue with the latest version? If so could you please make a [codepen](http://codepen.io/rafibomb/pen/xVVGOB) and reopen this issue?

[2016-04-26 18:56] #7070 closed

[2016-04-26 18:57] EduardoAC commented on #8664
@colin-marshall from my point of view you can go for either of the two options allow customize or the fix, you did right now as far is consistent with the rest of the code. I needed it clean up the styles on the icon without right the rest of the layout.

if you think spacing left and right is good it may be worth to put a mixing to define the margin to apply in general way. What do you think?

[2016-04-26 20:01] andycochran commented on #7235
Maybe we ditch `table-cell` for inline block. I'm doing a bit of work on Menus + Button Groups, and I'll see about closing this bug with that.

[2016-04-26 20:25] andycochran commented on #7396
I think this is an edge case. Closing. Can reopen if others think this feature necessary.

[2016-04-26 20:25] #7396 closed

[2016-04-26 20:29] andycochran commented on #7433
@tjhiggins Now that #7353 is closed, does that help with your PR? I'm going to close this for now. Please reopen if you'd like to submit that PR.

[2016-04-26 20:29] #7433 closed

[2016-04-26 20:34] andycochran commented on #7458
@kball You wanna take a stab at implementing @Larzans' workaround?

[2016-04-26 20:39] andycochran commented on #7491
@wgstjf I'm going to close this for now. Please reopen and provide a [CodePen](http://codepen.io/rafibomb/pen/xVVGOB) if this is still an issue with v6.2.1.

[2016-04-26 20:39] #7491 closed

[2016-04-26 20:44] SierraGolf opened #8677 "[DropDownMenu] _this.hide is not a function"
**How can we reproduce this bug?**

1. use version 6.1.2
2. open the drop down menu by hovering
3. force the menu to destroy and re-create e.g. by quickly opening a link on the top navigation outside of the drop down
4. the timeout function defined here: https://github.com/zurb/foundation-sites/blob/v6.1.2/js/foundation.dropdownMenu.js#L185 is called but the hide method does not exist on the objec

[2016-04-26 20:49] JeremyEnglert commented on #7842
Agree with @rafibomb. This type of functionality is a must with an off-canvas menu. Closing this for now.

[2016-04-26 20:49] #7842 closed

[2016-04-26 20:51] andycochran commented on #7308
This is not specifically an issue with Magellan. It's an issue with any page anchor and a sticky element: http://codepen.io/andycochran/pen/qZMJpE?editors=1100

[2016-04-26 21:00] KiraBialczynska commented on #8669
Hi Andy,
No I'm not. Actually I cannot find this setting in my _settings.scss. The case might be that although ruby gem updates the version of Foundation the locally linked files like _settings.scss and foundation_and_overrides.scss stay unchanged. After last update I added $foundation-palette manually. How should I approach this? Should I always get the latest _settings when updating Foundation?

[2016-04-26 21:01] JeremyEnglert commented on #7914
I'll update the docs with the correct event names.

[2016-04-26 21:04] KiraBialczynska commented on #8669
@andycochran adding $global-flexbox: true; fixed the problem. Please let me know how to approach changing settings and updating it to latest version? What would the best practice be?
Thanks!

[2016-04-26 21:09] kball commented on #7458
@andycochran the workaround isn't configurable, and I don't see a straightforward way to implement the general case alluded to by @gakimball but I can make sure 'slow' and 'fast' get applied to the overlay as well as the modal, and that should address most cases

[2016-04-26 21:12] JeremyEnglert commented on #7932
@berlindave, you may have better luck getting those questions answered on the Foundation Forum.

Closing this issue for now as the original issues have been addressed.

[2016-04-26 21:12] #7932 closed

[2016-04-26 21:16] JeremyEnglert commented on #7969
I was able to reproduce this issue. Sticky appears to have issues with the browser window being resized.

[2016-04-26 21:22] JeremyEnglert commented on #8009
@xfifix I'm having a hard time replicating this issue as I'm not sure I completely understand the problem.

If you could use the new issues template, that would be helpful: https://github.com/zurb/foundation-sites/blob/develop/.github/ISSUE_TEMPLATE.md

For now, I'm going to close this. Feel free to reopen it using the new template if you believe the issue still exists.

[2016-04-26 21:22] #8009 closed

[2016-04-26 21:26] JeremyEnglert commented on #8014
Looks like this was added to the documentation. Closing.

[2016-04-26 21:26] #8014 closed

[2016-04-26 21:27] JeremyEnglert commented on #8015
@guoni, I'm having issues reproducing this as well. For now, I'm going to close this.

However, if you want to reopen it using the new issues template, that would be extremely helpful: https://github.com/zurb/foundation-sites/blob/develop/.github/ISSUE_TEMPLATE.md

Thanks!

[2016-04-26 21:27] #8015 closed

[2016-04-26 21:29] #8671 closed

[2016-04-26 21:43] JeremyEnglert commented on #8047
Closing this out. This was address with what-input.

[2016-04-26 21:43] #8047 closed

[2016-04-26 22:08] #8624 closed

[2016-04-26 22:12] #8641 closed

[2016-04-26 22:16] #8562 closed

[2016-04-26 22:49] peckjon commented on #8047
@JeremyEnglert does this mean the outline will automatically *not* show when using mouse clicks?

[2016-04-26 23:27] JeremyEnglert commented on #8047
Correct.

Mouse clicks = no outline.

Keyword actions = visible outline.

[2016-04-26 23:36] peckjon commented on #8047
Awesome.  Thx.

[2016-04-27 00:29] gapple opened #8680 "AccordionMenu not accessible via VoiceOver on iOS"
**How can we reproduce this bug?**

1. Create an Accordion Menu

**What did you expect to happen?**
Menu is accessible via screen reader

**What happened instead?**
VoiceOver on iOS only reads "menu item" for each element, and not the text of the link within the list item.  The link is not accessible or clickable.

By using Foundation.Nest, `role="menuitem"` is added to all of the `li` elements wi

[2016-04-27 00:33] russelpryor opened #8681 "gulp hangs indefinitely after 'default'"
gulp hangs after 'default' indefinitely. Anyone else having this issue?

[code]

Reproduced:
1. Running foundation new
2. Starting new foundation site
3. Running foundation watch in the new site directory

[2016-04-27 05:59] greenlampmarketing opened #8682 "[Compatibility] IE11 - Nested Row"
Layout with nested rows brakes in IE11 (works in other browsers): complied app.css does not have a specified width for .row .row {}.
<div class="row">
<div class="row">
<div class="large-12 small-12 columns">...</div>
</div>
</div>

**How can we reproduce this bug?**

1. Step one
2. Step two
3. Step three

**What did you expect to happen?**

**What happened instead?**

**Test case:**

Give us a li

[2016-04-27 06:53] phifa commented on #8682
nested rows are illegal. please use `row > columns > row > columns`

[2016-04-27 06:56] FagnerMartinsBrack commented on #8667
This was probably related to https://github.com/js-cookie/js-cookie/issues/186

[2016-04-27 07:06] greenlampmarketing commented on #8682
​Wow! Every day I learn something new! Thanks for your help!​

<http://www.greenlamp.com.au>

* Alexei Domorev*

* m:* +61 430 128 433

* p:* +61 7 5641 1135

* e: **alexei.domorev@greenlamp.com.au <alexei.domorev@greenlamp.com.au>*

  *w*: *greenlamp.com.au* <http://greenlamp.com.au/>

On 27 April 2016 at 16:54, phifa <notifications@github.com> wrote:

[2016-04-27 10:00] pavelblazek opened #8684 "[Equalizer] wrong height"
**How can we reproduce this bug?**
1. I'm using Drupal CMS
2. have two divs - first with text, second with image with data-interchange
3. seems it takes longer to load the image so the height is set by first (smaller) div with text
4. the height of div with img is wrong - img overflows
5. if I use just img without the data-interchange the height is set correctly
6. the only difference is if I use

[2016-04-27 10:15] denisahac commented on #8684
Can you resubmit the correct CodePen/JSFiddle links.

[2016-04-27 10:23] brettsmason commented on #8681
@russelpryor Can you provide some more details.
What operating system are you running?
What version of Gulp are you using - `gulp -v` from the command line.

[2016-04-27 11:03] pavelblazek commented on #8684
http://codepen.io/pavelblazek/pen/YqObeW

It sets the height correctly when you resize the window, but not when it's loaded for the first time

[2016-04-27 11:30] andycochran commented on #8669
When you upgrade, there are sometimes crucial variables in the settings file. Not including those won't always break everything, but you can get undesired results. Part of upgrading Foundation is combing through your settings file. But you should note that setting flexbox to true drops support of certain browsers. Check the docs for more on that.

[2016-04-27 11:30] #8669 closed

[2016-04-27 11:57] brettsmason commented on #8501
This was due to a flex specific check not being present on the clearfix mixin. This was fixed [here](https://github.com/zurb/foundation-sites/commit/32910a6d9f177f2900eeee7dfa07a86936d5a08d) and a few other commits.

If you notice any flex specific properties cropping up in the latest version please re-open this.

[2016-04-27 11:57] #8501 closed

[2016-04-27 11:59] brettsmason commented on #8485
This has now been merged and will be in the next point release.

[2016-04-27 11:59] #8485 closed

[2016-04-27 12:35] designerno1 commented on #8684
check it without interchange = works
Issue related to interchange img, equalizer check for loaded img, interchange (img without src) `img.complete = true`
maybe adding a case to the foundation onImagesLoaded function?

[2016-04-27 12:58] russelpryor commented on #8681
@brettsmason here are a few more specifics...

OS: OS X v10.11.4

[code]

Basic Template is hanging up but not Zurb Templates.

[2016-04-27 14:51] rediris commented on #8156
This is still an issue with Foundation 6.2.1. This JS results in the `#sidebar` element disappearing from the markup entirely.

[code]

[2016-04-27 15:48] kball commented on #8680
@Owlbertz is this something you can look at?

[2016-04-27 15:49] Owlbertz commented on #8680
Yup

[2016-04-27 15:51] brettsmason opened #8685 "[select] Arrow overlapping text when container is floated"
**How can we reproduce this bug?**

1. Create a select input with decent length options
2. Float the container
3. The arrow will be covering the end of the option

[CodePen link](http://codepen.io/brettsmason/pen/EKdYrx)

I have worked out how to solve the issue. At the moment the arrow is in the main area and not the padded area. I suggest changing the select padding on the right (or left if RTL?

[2016-04-27 16:05] brianmickelson commented on #8016
Same issue for me using Panini and importing Markdown content

[2016-04-27 16:46] kball commented on #8666
Should be fixed as #8449 is merged.

[2016-04-27 16:46] #8666 closed

[2016-04-27 20:01] andycochran commented on #7308
I updated that [CodePen](http://codepen.io/andycochran/pen/qZMJpE?editors=1100) to show a quick fix. JavaScript could prepend a `span` to all anchors that are linked to from Menus.

[2016-04-27 20:03] kball commented on #8549
@rafibomb what do you think?  Can we close this issue?

[2016-04-27 20:04] kball commented on #8358
Closing based on lack of response.  If this is still an issue with the new codebase please reopen with details to reproduce.

[2016-04-27 20:04] #8358 closed

[2016-04-27 20:08] kball commented on #8365
Closed based on lack of response.  If you're still seeing this issue, please reopen with more info.

[2016-04-27 20:08] #8365 closed

[2016-04-27 20:10] sethkane commented on #8549
I think so ;-)

[2016-04-27 20:10] kball commented on #8170
Closing based on lack of response.  If you're still seeing this please reopen with info about how you are initializing the foundation javascript.

[2016-04-27 20:10] #8170 closed

[2016-04-27 20:14] kball commented on #8181
@andycochran is this something you could take a look at?  If not, assign back to me.  Thanks

[2016-04-27 20:22] kball commented on #8186
Not seeing this in the most recent version of the example, so going to close this.  Reopen if you're still seeing.

[2016-04-27 20:22] #8186 closed

[2016-04-27 20:24] kball commented on #8188
Closing based on last comment.

[2016-04-27 20:24] #8188 closed

[2016-04-27 20:26] andycochran commented on #8181
@SalahAdDin Could you possibly make a [CodePen](http://codepen.io/pen?template=NNyXxB) illustrating your issue?

[2016-04-27 20:26] kball commented on #8144
@owlbertz Are these issues something you can dig into?  If not please assign back to me.

[2016-04-27 20:28] kball commented on #8191
@colin-marshall @gehasia is this related to the sticky work you've been doing?

[2016-04-27 20:31] kball commented on #8195
Is this still an issue?  Did we determine it is a user css issue, or something that should get handled by foundation?

[2016-04-27 20:34] kball commented on #8215
@Lynda333 is this still an issue with 6.2.1?

[2016-04-27 20:38] colin-marshall commented on #8191
@kball this was not related, but I can definitely make some visual tests for this.

[2016-04-27 20:40] andycochran commented on #8682
What @phifa said. Closing this. 😉

[2016-04-27 20:40] #8682 closed

[2016-04-27 20:46] kball commented on #8221
I don't think we're going to rename all of the events... This kind of interaction with prototype.js is relatively low priority for us, but this is odd, and I suspect may be related to other dropdown positioning issues.  I'll take this, import the test case, and see what I can figure out.

[2016-04-27 20:47] siedentm commented on #8191
I was still planning to take a look at it but i've been short on time.

[2016-04-27 20:49] kball commented on #8224
I appreciate the code snippet, but I'm not 100% clear what the issue was and what you expected to happen, or which version of 6 you were using.  Going to close, if you're still seeing this with foundation 6.2.1 please reopen with the info requested here: https://github.com/zurb/foundation-sites/blob/develop/.github/ISSUE_TEMPLATE.md

[2016-04-27 20:49] #8224 closed

[2016-04-27 20:50] kball commented on #8227
@andycochran can you tackle this?

[2016-04-27 20:50] kball commented on #8234
@colin-marshall @gehasia  is this something you can look at in your work with sticky?

[2016-04-27 20:52] kball commented on #8237
Addressed in #8656.  This will be in 6.3

[2016-04-27 20:52] #8237 closed

[2016-04-27 20:53] kball commented on #8239
@andycochran are you still noodling on this?

[2016-04-27 20:54] kball commented on #8244
@JeremyEnglert can you tackle this?

[2016-04-27 20:56] JeremyEnglert commented on #8244
No problem. I'll replicate the issue to make sure it hasn't already been fixed and submit a PR if it hasn't.

[2016-04-27 21:06] brettsmason commented on #8195
From looking back over this the issue is adding `display: flex;` to a parent container causes `flex-video` not to display correctly. I'm not familiar with flexbox but @andycochran was what you mentioned above still valid? I know you were looking at flex video.

[2016-04-27 21:32] andycochran commented on #8227
@kball There's a style in `/node_modules/foundation-docs/scss/_page.scss` that conflicts with this fix.

[code]

How can I nix this?

[2016-04-27 21:36] kball commented on #8227
how does it conflict?

[2016-04-27 21:49] andycochran commented on #8227
@kball Actually, it's not a conflict with the fix. I'll go ahead and PR and the docs styles can be handled separately.

So, the fix is to only put the hover shadow on thumbnails that are links. The docs say the `.thumbnail` class can go on an `<a>` that wraps an `image`. And since the docs force thumbails to `display:block`, the `<a>` is the full-width of its container. However, the image it wraps

[2016-04-27 22:07] andycochran commented on #8227
@kball I think all of the `.docs-component .thumbnail` styles can be removed. They only center the thumbnails in the columns. That could be done with `.text-center`.

[2016-04-27 22:11] andycochran commented on #8239
Yeah, but I'll close it. It's not really a bug. More of a feature request w/ a splash of existentialism.

[2016-04-27 22:11] #8239 closed

[2016-04-27 22:15] andycochran commented on #8195
I think this was probably an edge case. Closing. We can reopen if someone runs into Edge + Responsive Embed issues again.

[2016-04-27 22:15] #8195 closed

[2016-04-27 22:53] colin-marshall commented on #8155
@SalahAdDin, I'm closing this issue because we don’t have a reproduceable case to test against. If this is still an issue, please reopen with the info requested here:
https://github.com/zurb/foundation-sites/blob/develop/.github/ISSUE_TEMPLATE.md

[2016-04-27 22:53] #8155 closed

[2016-04-27 22:56] colin-marshall commented on #8154
@dizzyluo, I'm going to close this issue. If you are still experiencing this problem, feel free to reopen the issue with the requested information (which compiler).

[2016-04-27 22:56] #8154 closed

[2016-04-27 23:03] colin-marshall commented on #8147
@jvanv @manolenso is this still an issue with the latest versions of Foundation?

[2016-04-27 23:06] kball commented on #8257
@andycochran what is your sense as to the current state of this?  Can we close this?

[2016-04-27 23:09] kball commented on #8259
@ncoden does this interact with the work you were doing in #8528?  Even if not, do you want to take a look at implementing something along the lines of what @flyingL123 suggested for a default?

[2016-04-27 23:13] kball commented on #8272
@JeremyEnglert or @andycochran do you have a good sense of what needs to be done for this?

[2016-04-27 23:15] designerno1 opened #8689 "[Drilldown Responsive Menu] destroy problem"
one('transitionend') gets fired after destroy and reinit

https://codepen.io/designerno1/full/VaEeYB/
open the first drilldown menu on small screen, then resize window to medium that dropdown menu gets applied (here the destroy calls _hideAll() this sets a one('transitionend')), but gets not fired.
now resize the window to small and click again the first drilldown menu. now the menu moves but the

[2016-04-27 23:16] kball commented on #8281
Looks like this is resolved.  Reopen if I'm wrong

[2016-04-27 23:16] #8281 closed

[2016-04-27 23:17] JeremyEnglert commented on #8272
I'm all for swapping out `table-cell` for `inline-block`.

I guess the question becomes: do we want to remove all instances of table-cell across the framework? @andycochran, thoughts?

[2016-04-27 23:18] #8289 closed

[2016-04-27 23:19] kball commented on #8283
@erutan are you still taking a look at this?

[2016-04-27 23:20] kball commented on #8292
@JeremyEnglert can you take a look at this?

[2016-04-27 23:21] erutan commented on #8283
Yeah, sorry I was traveling around Patagonia for a while, then jumping around on-site for a client and catching up with folk around California. I'm actually working on my fork of Foundation now, and will try to spend some time on it soon.

[2016-04-27 23:22] kball commented on #8298
@Owlbertz is this something you can take a look at?

[2016-04-27 23:23] kball commented on #8299
@brettsmason @andycochran @JeremyEnglert does this seem like a reasonable thing to do, or is this something that should happen at the application layer?

[2016-04-27 23:26] designerno1 commented on #8689
i allmost think the
`this._hideAll()` can be removed from destroy because all `is-active` class gets removed through destroy function, maybe replace it with `this.$element.trigger('closed.zf.drilldown');` to trigger that the menu gets closed as in the `this._hideAll()`

[2016-04-27 23:32] flyingL123 opened #8690 "Equalizer removes event listeners from element"
I'm not sure what I'm missing here, but how am I supposed to successfully bind to the `postequalized.zf.equalizer` equalizer event? The equalizer source code contains a `_pauseEvents()` method that contains the line:

    this.$element.off('.zf.equalizer resizeme.zf.trigger');

This removes any previously bound events. In other words, if I bind to the event, then initialize foundation, the event g

[2016-04-27 23:36] colin-marshall commented on #8136
@chitrag99 I'm closing this issue because we don’t have a reproduceable case to test against. If this is still an issue, please reopen with the info requested here:
https://github.com/zurb/foundation-sites/blob/develop/.github/ISSUE_TEMPLATE.md

[2016-04-27 23:36] #8136 closed

[2016-04-27 23:37] colin-marshall commented on #8135
@SalahAdDin I'm closing this issue because we don’t have a reproduceable case to test against. If this is still an issue, please reopen with the info requested here:
https://github.com/zurb/foundation-sites/blob/develop/.github/ISSUE_TEMPLATE.md

[2016-04-27 23:37] #8135 closed

[2016-04-27 23:37] colin-marshall commented on #8134
@SalahAdDin I'm closing this issue because we don’t have a reproduceable case to test against. If this is still an issue, please reopen with the info requested here:
https://github.com/zurb/foundation-sites/blob/develop/.github/ISSUE_TEMPLATE.md

[2016-04-27 23:37] #8134 closed

[2016-04-27 23:39] JeremyEnglert commented on #8030
@Baedda, thanks for reporting this. I think there are some data-options that will allow you to achieve the functionality you are looking for: http://foundation.zurb.com/sites/docs/off-canvas.html#js-options

For now, I'm going to close this - but feel free to reopen it using the new Issues Template: https://github.com/zurb/foundation-sites/blob/develop/.github/ISSUE_TEMPLATE.md

Thanks!

[2016-04-27 23:39] #8030 closed

[2016-04-27 23:52] colin-marshall commented on #8124
@yurimorini this appears to have been fixed in a recent update. When I bump the versions to 6.2.1 in your CodePen example it doesn't scroll halfway down the page when I close the reveal modal. Feel free to reopen the issue if there's still problems. Thanks!

[2016-04-27 23:52] #8124 closed

[2016-04-28 00:13] kball commented on #8316
@designerno1 can you take a crack at fixing this?

[2016-04-28 00:19] kball commented on #8323
@andycochran @JeremyEnglert @brettsmason What do ya'all think about this?

[2016-04-28 02:08] colin-marshall commented on #8114
@pymoza I'm closing this issue because we don’t have a reproducible case to test against. If this is still an issue, please reopen with the info requested here:
https://github.com/zurb/foundation-sites/blob/develop/.github/ISSUE_TEMPLATE.md

Thanks!

[2016-04-28 02:08] #8114 closed

[2016-04-28 02:13] SalahAdDin commented on #8134
Ok, thanks :+1:

[2016-04-28 02:17] SalahAdDin commented on #8135
Ok, thanks :+1:

[2016-04-28 03:02] Owlbertz commented on #8298
Yes.

[2016-04-28 03:38] colin-marshall commented on #8096
@MandiSaeteun I'm going through old issues and noticed you were assigned this one. Was there a reason for that or should we pass it off to somebody else? Thanks!

[2016-04-28 03:50] SalahAdDin commented on #8155
I'll test this issue again soon and if i have again, i'll say you guys, thanks :+1:

[2016-04-28 03:51] SalahAdDin commented on #8181
I'll try it and put here, thanks :+1:

[2016-04-28 04:29] colin-marshall commented on #8076
@therealbenhogan I'm closing this issue, feel free to reopen it if you are still having problems. Thanks!

[2016-04-28 04:29] #8076 closed

[2016-04-28 06:27] designerno1 commented on #8316
@kball in develop branch the line now is commented out with the hint
`// why is this line needed? Opening is handled by JS and this causes some ugly flickering when the sub is re-positioned automatically...`

[2016-04-28 06:27] #8316 closed

[2016-04-28 06:47] stianpr commented on #7373
I'm not sure this is the correct issue but having a `<button>` inside an `.input-group-button` with a large text will cause it to wrap, making the button much higher than the input field. I fixed this by adding `white-space:no-wrap` on the `<button>`. I think it's how the text for `<input>` buttons differ from a text node in ´<button>` in the case of wrapping due to width of the container. Hope th

[2016-04-28 08:35] ncoden commented on #8259
@kball Yes, it interact. I'll take a look :)

[2016-04-28 09:03] driekus77 commented on #7026
What about people who don't use Sass? Do I have to style the Rounded cornes myself?

[2016-04-28 09:21] brettsmason commented on #8681
@russelpryor Could you try updating your Global gulp version? On my system both versions are 3.9.1 so I wonder if that might be causing an issue? Also try clearing out your `node_modules` and running `npm install` again.

Let me know how that goes.

[2016-04-28 09:43] phifa commented on #7308
I changed the title of this issue to reflect more the nature of the problem. @andycochran does that makes sense?

[2016-04-28 10:35] denisahac commented on #7026
@driekus77 yes those folks who don't want to use SASS they have to override the component they'd like to have rounded radius.

[2016-04-28 10:45] andycochran commented on #7308
Ack! Sorry. I misunderstood the issue and derailed the conversation. Thanks for clarifying the issue with the title change.

[2016-04-28 10:51] andycochran commented on #7373
I do not think we should support button sizes within an input group. They should override any styles (default or size-specific) and match the input. @joshmedeski, any luck with that PR? Lemme know if you need assistance.

[2016-04-28 10:53] andycochran commented on #7373
@stianpr, did you mean a long amount of text or large sized text? Could you recreate the bug in a CodePen?

[2016-04-28 11:18] stianpr commented on #7373
@andycochran Here is an example: http://codepen.io/anon/pen/mPzRoG

[2016-04-28 11:39] brightonmike opened #8692 "DOMException"
**How can we reproduce this bug?**

1. Download the Zurb Template
2. Insert a JS component into page
3. Run Foundation Watch command

**What did you expect to happen?**

Javascript should work normally.

**What happened instead?**

No JS works. Attempting to run:

`$(document).foundation();`

Throws a DOM exception. This is pasted below:

`
$(document).foundation();
(program):1688 Uncaught DOMExce

[2016-04-28 11:43] abdullahsalem commented on #8302
Thanks, @ncoden!

[2016-04-28 11:56] brightonmike commented on #8692
I'm trying the good old removal of node_modules and npm install, but I've tried this on the same project recently so doubtful it will work.

[2016-04-28 12:14] ncoden commented on #8302
@abdullahsalem WTF! I never done that ! o.O

[2016-04-28 12:16] ncoden commented on #8259
@kball https://github.com/zurb/foundation-sites/pull/8693

[2016-04-28 12:48] russelpryor commented on #8681
@brettsmason Thanks for your quick replies on this. My progress below.

Attempt to update CLI gulp
[code]
... to attempt matching the local v `3.9.1`. Did not work. So I reinstalled...
`$ npm install gulp@3.9.1 -g --save`

And now have a good match
[code]

What is the best way to clear the node_modules? I've already tried a harsh method which seemed to work getting everything cleared... but did no

[2016-04-28 13:49] BenMorel opened #8694 "Hidden elements are visible in block grid"
I want to display only the first items of a long block grid, hiding the rest of the items until a button is clicked:

[code]

The user agent's default stylesheet, as well as normalize.css, have a rule such as:

[code]

It is, however, overridden by Foundation:

[code]

The end result is, **`hidden` elements are visible**.

Would you consider changing the rule to something like:

[code]

This could

[2016-04-28 13:54] BenMorel commented on #8694
Note: in the meantime, an easy fix is to override in turn Foundation in the website's stylesheet:

[code]

[2016-04-28 14:23] denisahac commented on #8694
Why not attach a `.hide` class in the `li` elements. And you don't need to worry about writing your overrides.

[2016-04-28 14:27] BenMorel commented on #8694
@denisahac `hidden` is not just a CSS rule, it has a [semantic meaning](https://davidwalsh.name/html5-hidden)!

[2016-04-28 15:46] Lynda333 commented on #8215
@kball - Yes it is.

[2016-04-28 16:05] brightonmike commented on #8692
Not sure what's going on, but now I get this:

`
foundation.core.js:189 TypeError: Cannot read property 'hash' of undefined(…)
`

I'm also now having browsersync problems. It refuses to work on html files, it only responds to changes of sass files.

This is using your zurb template.

I'm gonna be honest, I never had problems with the template until Babel came along. My non-babel projects from befo

[2016-04-28 16:21] huphtur commented on #7467
@rockstarwebdesign I got the CLI working by doing the following:
[code]

[2016-04-28 16:42] JeremyEnglert commented on #8149
Same as https://github.com/zurb/foundation-sites/issues/7831.

Closing this out as the other thread has a few potential solutions for a fix.

[2016-04-28 16:42] #8149 closed

[2016-04-28 16:47] JeremyEnglert commented on #8147
Looks like this was resolved in 6.2.0.

However, if the issue still exists, feel free to reopen this ticket using the new "Issues Template: https://github.com/zurb/foundation-sites/blob/develop/.github/ISSUE_TEMPLATE.md

Big thanks!

[2016-04-28 16:47] #8147 closed

[2016-04-28 16:53] JeremyEnglert commented on #8142
I'm not 100% sure this is a bug. As previously mentioned, getting this to work on mobile would be extremely tricky.

The responsive menu component allows you to use a more mobile friendly menu type on small screens. This seems like the best way to address the issue.

@brettsmason, @andycochran - thoughts? I'm leaning towards closing this.

[2016-04-28 16:57] JeremyEnglert commented on #8126
I'm not seeing the issue in the provided CodePen link - in fact, I don't see 'expanded' being used at all on that link.

I'm going to close this for now. But if you believe the issue still exists, feel free to open it using the new "Issues Template": https://github.com/zurb/foundation-sites/blob/develop/.github/ISSUE_TEMPLATE.md

Thanks!

[2016-04-28 16:57] #8126 closed

[2016-04-28 17:07] JeremyEnglert commented on #8121
@kreddenOnt, have you checked out the options available for Off-Canvas?

http://foundation.zurb.com/sites/docs/off-canvas.html#js-options

I think this may allow you to achieve the functionality you are looking for.

[2016-04-28 17:13] JeremyEnglert commented on #8109
Isn't this already possible?

http://foundation.zurb.com/sites/docs/sticky.html#js-options

If that doesn't fix your issue, can you reopen using the new "Issues Template"? That will help me replicate the issue.

https://github.com/zurb/foundation-sites/blob/develop/.github/ISSUE_TEMPLATE.md

[2016-04-28 17:13] #8109 closed

[2016-04-28 17:24] #7458 closed

[2016-04-28 17:28] andycochran commented on #8142
Agreed. Seems like an edge case.

[2016-04-28 17:33] brettsmason commented on #8142
I think the problem is more down to

[2016-04-28 17:35] #8142 closed

[2016-04-28 18:42] kball commented on #8215
@JeremyEnglert is this something you can look into?

[2016-04-28 18:43] kball commented on #8418
looks like this is not a bug but rather configuration.  Closing

[2016-04-28 18:43] #8418 closed

[2016-04-28 18:45] kball commented on #8422
Looks like this has been answered.  If not, please re-ask in the forum rather than on github: http://foundation.zurb.com/forum

[2016-04-28 18:45] #8422 closed

[2016-04-28 18:47] kball commented on #8339
@rafibomb do you have thoughts on this?

[2016-04-28 18:55] kball commented on #8344
The current behavior is deliberate (offset modal in the middle upper part of page) and matches Foundation 5 behavior.  You can explicitly set the vertical offset using a data-v-offset attribute.

[2016-04-28 18:55] #8344 closed

[2016-04-28 18:57] kball commented on #7373
With #8695 being merged, is this good to close?

[2016-04-28 19:00] kball commented on #8367
Can you explain which elements in that page are misbehaving in what way?  What would be most helpful would be adding an isolated testcase in the codepen

[2016-04-28 19:04] kball commented on #8346
This is still present in 6.2.1 for firefox.

[2016-04-28 19:49] brettsmason commented on #8681
@russelpryor Hmm have you tried creating a new project just out of interest? It could be one of those weird ones where starting again with a new project might help. If you could confirm if you have tried a new project that would be useful.

[2016-04-28 20:29] kball commented on #8484
It seems like the second one maybe should do something in the tabs-content mixin?  Maybe play around with using it there and see if the results make sense.  The first one looks like maybe it was intended for something similar to the way the button-group-expand mixin is used, but I don't see any evidence of code in that direction.

@andycochran I know you were looking at menus & button groups a lot

[2016-04-28 21:18] designerno1 commented on #8690
Same issue
http://codepen.io/marvinhuebner/pen/mPzrjN?editors=1111

[2016-04-28 21:53] andycochran commented on #8484
I like the idea of all expand classes using the same method. But I wonder about us going in circles with methods. We left `table-cell` for `inline-block` in one component, stopped using `float` in another, now they've all diverged. I wonder if one expand mixin could rule them all.

[2016-04-28 22:04] russelpryor commented on #8681
@brettsmason Yes indeed. My first post mentions the flow. It's **only** occurring on new projects at this point. Then again, most of my other projects have been using the Zurb Templates and not the vanilla Sites setup.

[2016-04-28 22:16] andycochran commented on #7373
Unfortunately, no. It's a separate issue which came up in this discussion. Button sizes still break the Input Group layout. 😞

[2016-04-28 22:43] joshmedeski commented on #7373
@andycochran I can match the button size with the input. I'll submit a PR within the next week 😸

[2016-04-28 23:13] kball opened #8697 "Multiple clicks on tooltip cause funky behavior."
**How can we reproduce this bug?**

1. Go to tooltip page in docs
2. Click on tooltip once.  Tooltip will open.
3. Click on same tooltip again without clicking anywhere else.  Tooltip will close.
4. Click on same tooltip again without clicking anywhere else.  Tooltip will not open.

**What did you expect to happen?**
3rd click should reopen tooltip

**What happened instead?**
Tooltip stayed closed

[2016-04-28 23:21] kball commented on #8451
I'm inclined to remove uncss, as we do enough with javascript applied classes that this is likely to always be error prone.  Thoughts @andycochran @rafibomb @brettsmason @colin-marshall @JeremyEnglert @designerno1?

[2016-04-28 23:43] JeremyEnglert commented on #8244
So this would be super easy to fix - but I guess it goes back to is it an actual bug or will some people want it to function like this? It doesn't look horrible. See attached.

I think a better solution would be something similar to how the responsive gutters work. `$callout-padding` could become a Sass map variable so padding sizes could be declared for specific breakpoints.

Or am I overthinking

[2016-04-28 23:46] kball commented on #8244
I think the defaults are probably not quite right for mobile, but I like the direction of moving to a responsive map-based appraoch.

[2016-04-28 23:47] JeremyEnglert commented on #8639
Thanks for the heads up! This is a duplicate of https://github.com/zurb/foundation-sites/issues/7914.

So I'm going to close for now.

[2016-04-28 23:47] #8639 closed

[2016-04-29 00:12] kball commented on #8463
Closing based on previous comment.  In 6.2.1 we include compiled versions of the individual javascript plugins in the dist folder.

[2016-04-29 00:12] #8463 closed

[2016-04-29 00:14] #8497 closed

[2016-04-29 01:33] andycochran commented on #8451
:+1: The framework inherently has ways to minimize the styles it outputs—e.g. components, mixins. I say remove it.

[2016-04-29 01:50] colin-marshall commented on #8451
I also say remove it, at least for now. Adding/removing this is pretty painless and we can revisit it later.

We could start keeping a list in the docs that tracks all of the classes that the framework adds after page load.

[2016-04-29 05:35] fndaily commented on #8451
I agree - UNCSS is theoretically great but still needs to mature some.

[2016-04-29 06:24] phifa commented on #8451
yeah but let's keep it on the bucket list. it's a great tool that should evetually find it's way into the foundation. or another idea would be to have it not included by default, only with an experimental parameter. e.g.: `foundation build --experimental` or sth like that.

[2016-04-29 06:30] colin-marshall commented on #8451
@phifa it could also be turned on/off through the `config.yml` file.

[2016-04-29 07:10] brettsmason commented on #8484
Its maybe worth exploring, though I think you might get into specificity issues, and you have borders on some things.

[2016-04-29 07:16] brettsmason commented on #8244
I'm happy with the idea of a Sass map if everyone agrees thats the correct approach. It adds more flexibility without too much more complication or code.

[2016-04-29 07:20] brettsmason commented on #8451
I also vote to remove it. I've never used it myself but it seems to create more problems than its worth (at least at the moment). Until we have a list like @colin-marshall suggested I'd get rid of it - maybe even have a section in the docs on adding it yourself?

[2016-04-29 08:17] snyde1 commented on #8451
Believe it or not, I've gotten so adept at adding ignore lines that I kinda
like having the reduction from it.

On Fri, Apr 29, 2016 at 3:20 AM, Brett Mason <notifications@github.com>
wrote:

[2016-04-29 10:44] cosmorogers commented on #6921
@ix-xerri I've just had a similar problem. It looks like something has been updated in the gulp npm packages somewhere and it is now using mixins with the same name in a different order. Have a look through your code for a mixin called "transition" and renamed it to something else.

[2016-04-29 10:49] nachtwandler commented on #8697
Hi,
in the foundation.tooltip.js is an if like this (line 267):
`if ((_this.options.disableHover || !_this.$element.attr('tabindex')) && !_this.isActive) {
     _this.show();
}`

I'm not shure, why theres a check for hover and tabindex inside the 'mousedown.zf.tooltip' event ?!
If disableHover is false, the tooltip will never show up on click.

[2016-04-29 12:36] brightonmike commented on #8692
I have tried downloading the zurb template through the CLI and as a zip, on multiple machines, and I get the same problem with browsersync.

The basic template seems unaffected. Perhaps my ticket would be best raised in the zurb template repo.

[2016-04-29 12:53] andycochran commented on #8244
:+1: Drop the large class, use a map for callout padding.

[2016-04-29 12:53] robertwalsh0 opened #8702 "Orbit example in Docs requires Motion UI which is not included in Foundation CSS CDN (Leads to confusion)"
Was helping a newbie learn to make websites and she had trouble getting Orbit to work because of unclear documentation.

She did the initial setup from the docs but the Orbit carousel wasn't working because it required the Motion UI CSS package (which as far as I could tell was not explicitly mentioned in the instructions on the [Foundation Installation Docs](http://foundation.zurb.com/sites/docs/

[2016-04-29 13:50] #8575 closed

[2016-04-29 13:50] #8586 closed

[2016-04-29 14:02] fndaily opened #8703 "if BrowserSync stops reloading - update your gulp.watch"
browser sync stops reloading today after the initial 1 or 2 reloads - for us this is happening on all projects and looks to be gulp-cli@0.4.0

for anyone else that runs runs into this - modify your watch task as follows:

old: ```gulp.watch('some/files/to/**/*.watch', gulp.series(sass, browser.reload));```

fix: ```gulp.watch('some/files/to/**/*.watch').on('change',gulp.series(sass, browser.reload

[2016-04-29 15:13] andycochran commented on #8257
Yup. I'm closing this. The conversation goes into the weeds a bit. But the main issue has been resolved. If the related stuff that came up continues to be a problem, we'll create new issues.

[2016-04-29 15:13] #8257 closed

[2016-04-29 15:28] andycochran commented on #8272
I'm actually not certain this is a bug. This is the case for every `.menu`, not just Top Bar. Responsive Navigation and the various menu patterns exists to solve this. Or, if your menu doesn't fit, maybe you're using the wrong kind of menu.

Gonna close this. However, I've been thinking a lot about how Button Groups (which behave as this issue requests, wrapping to multiple lines) and Menus work t

[2016-04-29 15:28] #8272 closed

[2016-04-29 16:00] andycochran commented on #8299
I understand the desire for responsive `.middle` labels. I think that's a 100% valid request. But I don't think it should be tied to the grid. That makes too many assumptions.

The `.middle` class could be reworked to be responsive. However, the class names could get ugly, e.g.:
[code]

How do you say, "not middle?"

Regardless, I don't think "middle" is even semantic—especially since the label do

[2016-04-29 16:00] kball commented on #8703
@fndaily would you like to submit a PR to the templates for this?

[2016-04-29 16:04] JeremyEnglert commented on #8451
In my opinion, UnCSS shouldn't be included in the framework. I'd rather see developers add it to their own build process so it can be configured per project.

We're setting up a lot of ignore lines under the assumption that everyone is going to use every JS component - which isn't true. Users should configure and setup UnCSS based on what components they are using on a project by project basis.

[2016-04-29 16:15] fndaily commented on #8703
@kball I think I did that correctly?

https://github.com/zurb/foundation-zurb-template/pull/36/commits/1deac3aa0e99661f73a5e250bda441811a5af0c4

[2016-04-29 16:23] kball commented on #8703
awesome, thank you.  I'm busy today so wont' be able to jump in and test until later, but we should be able to get that rolled out pretty shortly

[2016-04-29 16:35] brightonmike commented on #8703
This was the same issue I raised in a previous ticket. Thanks so much, your fix works for me too.

[2016-04-29 16:35] brightonmike commented on #8692
Fixed by #8703

[2016-04-29 16:35] #8692 closed

[2016-04-29 16:36] colin-marshall commented on #8244
Sounds like we're all in agreement on the map. I guess the next order of business would be to decide what should we set as the default padding for each breakpoint.

[2016-04-29 16:49] andycochran commented on #8244
Maybe small as-is, medium and large based off gutter sizes?

[code]

[2016-04-29 16:51] colin-marshall commented on #7680
Closing this since it has been implemented.

[2016-04-29 16:51] #7680 closed

[2016-04-29 17:21] colin-marshall commented on #7777
@eliotc1986 @christianmagill I'm going to close this issue. Feel free to reopen it if the problem still exists in v6.2 or later.

[2016-04-29 17:21] #7777 closed

[2016-04-29 17:23] colin-marshall commented on #7776
@Websitescity @tdhartwick I'm closing this issue until we have a reproducible case to test against. Please reopen with the info requested here:
https://github.com/zurb/foundation-sites/blob/develop/.github/ISSUE_TEMPLATE.md

[2016-04-29 17:23] #7776 closed

[2016-04-29 17:24] colin-marshall commented on #7774
@Silvester20 I'm closing this issue because we don’t have a reproducible case to test against. If this is still an issue, please reopen with the info requested here:
https://github.com/zurb/foundation-sites/blob/develop/.github/ISSUE_TEMPLATE.md

[2016-04-29 17:24] #7774 closed

[2016-04-29 17:27] colin-marshall commented on #7746
I'm closing this issue because we don’t have a reproducible case to test against. If this is still an issue, please reopen with the info requested here:
https://github.com/zurb/foundation-sites/blob/develop/.github/ISSUE_TEMPLATE.md

[2016-04-29 17:27] #7746 closed

[2016-04-29 18:02] colin-marshall commented on #8172
Closed in #8686. Thanks @svkarpovich!

[2016-04-29 18:02] #8172 closed

[2016-04-29 18:03] colin-marshall commented on #8335
Closed in #8686. Thanks @jyoakum-swx for the solution!

[2016-04-29 18:03] #8335 closed

[2016-04-29 18:07] andycochran commented on #8323
(Aside: It's a shame you can't make CodePen w/ settings like `$global-radius` changed.)

This is complicated by `$accordion-content-border`. I'll work on a fix.

[2016-04-29 18:23] colin-marshall opened #8705 "[Tooltip] Can't reopen clickable tooltip until focus is lost"
**Note:** You'll currently only see this in the develop branch.

**To reproduce:**
1. Go to Tooltip docs
2. Scroll to Tooltip Clicking secton
3. Click **tooltip will stay open** to open tooltip
4. Click **tooltip will stay open** again to close
5. Click **tooltip will stay open** a third time to try to reopen tooltip

**What did you expect to happen?**
Tooltip would reopen

**What happened instead

[2016-04-29 18:25] nachtwandler commented on #8705
Hi, isn't this the same problem as in #8697 ?

[2016-04-29 18:28] coreysyms commented on #8697
Im not sure the intended behavior is correct anyhow. The click should not close the tooltip if "hover" is the intended action, especially if the click is on the target tooltip span. If you hover and click the tip should stay open until you click the outside body, why should we expect to click click click, open and close, it's "hover" to activate, "click" to extend.

[2016-04-29 18:30] colin-marshall commented on #8705
@nachtwandler it sure is. I was going over a related PR where we mentioned opening a new issue for this but they didn't say it was already done. Thanks for pointing this out! Closing.

[2016-04-29 18:30] #8705 closed

[2016-04-29 18:37] nachtwandler commented on #8697
I don't know, which behavior is the right here. I would say "hover" is only an addition to the "click" open and close. There isn't more content to show and if the click does nothing, it "feels" broken.

[2016-04-29 18:39] coreysyms commented on #8697
Right, I'm saying we fix it to be open on hover, stay open on click, if you click the body (outside the span) it closes, if you click the span again the tip should just stay open, not close like it does now.

[2016-04-29 18:42] nachtwandler commented on #8697
Ok, got it. That sounds reasonable.

[2016-04-29 18:47] coreysyms commented on #8697
@zurb/yetinauts thoughts? Marking as feedback wanted

[2016-04-29 18:50] Owlbertz commented on #8697
Agree with you, that should be the desired behavior.

[2016-04-29 18:57] andycochran commented on #8323
@brettsmason Can you check my PR?

[2016-04-29 19:03] colin-marshall commented on #8697
@coreysyms I agree with you, and fwiw, that appears to be the default behavior used in Bootstrap.

[2016-04-29 19:21] andycochran commented on #8209
Awesome. Thanks for the feedback. Gonna close this now. But we'll keep it in mind for a future version of Toggler.

[2016-04-29 19:21] #8209 closed

[2016-04-29 20:45] colin-marshall commented on #8451
@JeremyEnglert what do you see as the downside of having extra ignore lines for components not in use on a project? It may add a little extra time to the build but UnCSS is only used in production and in an ideal situation you will only build once when doing production so the time added is negligible.

[2016-04-29 20:50] JeremyEnglert commented on #8451
It's not a huge deal, but it ends up almost defeating the purpose of UnCSS as you'll have a bunch of styles you aren't using.

For example, if I'm not using the topbar/menu, but UnCSS is setup to "ignore" these styles, my stylesheet is going to contain some of the menu styles even though I'm not using them.

It's a small issue. But something to consider.

[2016-04-29 20:59] colin-marshall commented on #8451
Maybe I'm misunderstanding how UnCSS works but I thought that it only removed styles. If it's set to ignore something that's not in your stylesheet initially, I figured nothing would happen. You're saying it actually adds in the stuff it's supposed to ignore if it's not there?

[2016-04-29 21:06] pdeffendol opened #8707 ""Standard" Reveal width doesn't match docs (Foundation 6)"
**How can we reproduce this bug?**

1. Build a Reveal modal using Foundation 6
2. View on a medium or larger screen width
3. See fixed 600px dialog

**What did you expect to happen?**

According to http://foundation.zurb.com/sites/docs/reveal.html#sizing the width of a medium+ Reveal dialog should be 80%.  This is what I expected coming from Foundation 5 as well.

**What happened instead?**

The w

[2016-04-29 21:06] JeremyEnglert commented on #8451
Maybe I'm confused as well. I assumed UnCSS removed all unused styles - except files that were ignored. So if a user doesn't specifically remove the unused components from the Sass imports, they're going to end up with some styles they don't need.

Foundation already makes it super easy to only import the styles you need. I think we should be stressing that instead of having users rely on UnCSS to

[2016-04-29 21:41] colin-marshall commented on #8451
I think your confusion is because with UnCSS we're talking about ignoring classnames, not ignoring files. You give UnCSS a stylesheet, a set of html pages, and a set of ignore rules. UnCSS will find all of the class names used in the html pages you gave it. It will then check that list against the classes in the stylesheet, and remove the classes that were not used in the html, unless they are on

[2016-04-29 22:07] snyde1 commented on #8451
My understanding is that it searches the rendered HTML for any use of each
class name and if it doesn't find one, it removes the class declaration.
This obviously becomes a problem when a class is dynamically added by
JavaScript and the declaration has been removed because the class is not
present in the static HTML.  I am not aware that it adds anything, only
removes things.

That being said, the

[2016-04-29 23:29] designerno1 opened #8708 "[Accordion] $accordion-content-color"
why $accordion-content-color is set to `$primary-color`
`$accordion-content-color: foreground($accordion-background, $primary-color);`
should it not be `$body-font-color`
`$accordion-content-color: foreground($accordion-background, $body-font-color);`
right now in the develop branch the accordion panel has a blue color and the accordion content also
#8646

and also should it not be $accordion-cont

[2016-04-29 23:47] designerno1 commented on #8708
@andycochran
i saw you are on the accordion scss 5 hour ago. can you also take a look on this?

[2016-04-30 00:02] designerno1 commented on #8707
in v6 there is currently no `medium` Reveal, so it falls back to the default width defined in settings
[code]
docs
[code]
the docs say `On medium-sized screens and larger, the width changes to 80%.` thats a little bit confusing

[2016-04-30 00:10] seanmavley commented on #7296
Yet, and yet, it never got added to the docs? I can't find the mention of adding the motion ui css to the orbit slider, at least not on the orbit slider:
http://foundation.zurb.com/sites/docs/orbit.html

[2016-04-30 00:44] seanmavley commented on #7296
Added clear indication on orbit slider page that motion-ui css file is required for proper working of orbit slider:
https://github.com/zurb/foundation-sites/pull/8710

[2016-04-30 00:50] seanmavley commented on #8702
Added a PR: https://github.com/zurb/foundation-sites/pull/8710

[2016-04-30 08:01] #8323 closed

[2016-04-30 09:04] heliohm opened #8711 "[Sass] _settings.scss - add !default to all variables for easier maintenance of custom styles"
When overriding Foundation default global style it seems the recommended way to do so is by editing _settings.scss.

This complicates things when you want to update Foundation and new variables exist in the new version due to new modules etc.

To simplify updating versions, I suggest the Sass !default keyword should be added to all variables.
This would make updating to a new version  as easy as a

[2016-04-30 10:06] Owlbertz commented on #8144
Seems like the issue is gone in the latest version somehow... I was not able to recreate it in my local version and also it is gone after updating the Pen to the current build-state: http://codepen.io/Owlbertz/pen/ZWmzbr.

[2016-04-30 10:16] Owlbertz commented on #8298
Should be fixed with #8712.
@zlatiborac can you pull this down and test?

[2016-04-30 10:33] Owlbertz commented on #8680
From my understanding the issue is that this is an accordion, but also a menu (yes - really!). I feel like in this case it is more important to reflect the functionality of an accordion in the markup, because it is crucial to know what items are expanded.
That means I would remove the `role="menuitem"`. And because the actual trigger for the tabs are the `a`s rather than the `li`s, I guess the who

[2016-04-30 10:53] gehasia commented on #8645
Ok here are the final PR :
https://github.com/zurb/foundation-sites/pull/8713
https://github.com/zurb/foundation-sites/pull/8714
https://github.com/zurb/foundation-sites/pull/8715

Doc + Test PR which need to be applied in order to test correctly :
https://github.com/zurb/foundation-sites/pull/8674

I close this one.

[2016-04-30 12:41] gehasia commented on #8427
Please provide **full** html+css code to reproduce the bug.
You tell rightbar is 369px wide, but the width will depend of your browser windows width, do you mean you fixed the column width ???

[2016-04-30 16:36] Owlbertz commented on #8677
Version 6.1.2 is outdated, please try updating to the latest 6.2.1.

[2016-04-30 17:02] Owlbertz commented on #8665
The issue comes from the ```halfOfHandle = this.$handle[0].getBoundingClientRect()[param] / 2,```; if you set that to `0` you can also select values like 99, which is not possible otherwise.
I understand that this part makes sense, because *theoretically* you need that to calculate the exact position, but it just works without that value. I think there is no one who just moves the slider (or click

[2016-04-30 19:56] sethkane commented on #8680
@Owlbertz @gapple There is a whole lot of ARIA going on in that component that might not be right. I will look into it deeper but I think we might want to rework it more more like this: https://www.w3.org/TR/wai-aria-practices/#accordion

If the intent of the clickable object is only to open and not go anywhere it shouldn't be an <a>

I would be happy to take a crack and make it more accessible ac

[2016-05-01 08:12] heliohm commented on #8711
Another almost just as simple option (which I ended up with) is to:

- Replace all @import 'settings' statements  with @import 'custom_settings'.
- In _custom_settings.scss, put @import 'settings' in the top and then override variables as needed.

[2016-05-01 08:12] #8711 closed

[2016-05-01 11:08] gehasia commented on #8636
Hi !
This is a duplicate of
https://github.com/zurb/foundation-sites/issues/8393

PR here
https://github.com/zurb/foundation-sites/pull/8719

[2016-05-01 15:01] #8685 closed

[2016-05-01 15:13] SierraGolf opened #8721 "cannot use foundation sites 6.2.1 with meteor 1.2.1"
**How can we reproduce this bug?**
1. `meteor create --release 1.2.1 foundation-test`
2. `cd foundation-test`
3. `meteor add zurb:foundation-sites`
4. `meteor`

**What did you expect to happen?**
The application to start.

**What happened instead?**

[code]

This does not happen if I try it with meteor 1.3.2.4.

[2016-05-01 15:13] SierraGolf commented on #8677
sadly I cannot try because of #8721

[2016-05-01 22:27] DaSchTour commented on #8409
Time to release 6.2.2 :stuck_out_tongue_winking_eye:

[2016-05-01 23:08] andycochran commented on #8427
If you can, please reproduce this in a [CodePen](http://codepen.io/rafibomb/pen/ZQEGog).

[2016-05-02 03:34] simongcc commented on #8638
LTR and RTL normally refer to website text orientation which I can see..
But in orbit plugin, as I tried by modifying the code, it seems to means the slide motion direction from.
It is to control where should the slide from, from left to right or from right to left.
And it seems the direction is just negated as opposed to the meaning of the variables.

[2016-05-02 06:42] phifa commented on #8451
I think all the issues I am having with UnCSS are comming from the fact that I am not using static html, but a content management system, http://typo3.org. So all my html templates are rendered via php and UnCSS is useless for me. Or am I getting this wrong? It seems as it is only valuable as long as you are working with static html. Right? @colin-marshall thanks for the hint. I uncommented it and

[2016-05-02 07:19] SierraGolf commented on #8677
I just went through the meteor upgrade (1.3.x) and I can confirm that the bug is fixed with 6.2.1.

[2016-05-02 07:19] #8677 closed

[2016-05-02 10:17] N3los commented on #7252
I was still having a problem on desktop with dropdowns flashing, i updated to 6.2.1 and it still flashed. Then i just added:

[data-responsive-menu] ul {
  display: none;
}

It does not flash anymore.

[2016-05-02 20:27] alanontheweb opened #8724 "[Accordion Menu] down and up fz.accordionmenu fire multiple times"
I provided this codepen with the latest foundation css and js included.

http://codepen.io/anon/pen/RaqyVY

Console.log outputs the message 16 times. It changes when I add data-slide-speed = "0" to 2 times. I'm expecting it to run once either way. Is this the intended behavior or is it a bug?

[2016-05-02 23:04] rockstarwebdesign commented on #7467
My rvm is somehow not working or not installed. Seems weird... do you know how can I solve that? Do I need to reinstall OS X again?

[2016-05-02 23:16] #8708 closed

[2016-05-03 02:35] flyingL123 opened #8725 "Magellan does not account for barOffset when setting active menu item"
If Magellan is applied using the `barOffset` option, the `_updateActive()` method does not account for this value when setting the active menu item. This is particularly noticeable when using a sticky menu because if you click on a menu item, you are scrolled to the appropriate section, but the menu item before the selected one will get the `active` class instead of the menu item for the section y

[2016-05-03 06:56] DaSchTour commented on #8417
Just want to through in some points into the discussion.

1. What about other module loaders? For example SystemJS?
2. Why not use TypeScript and have full modules and maybe an easy way to build Angular 2 Directives around it and move away from jQuery?

[2016-05-03 13:47] designerno1 opened #8727 "[Offcanvas] closed.zf.offcanvas should fire when animated"
closed.zf.offcanvas should fired wehen animation is finished
right now closed.zf.offcanvas fires immediately whenn closing starts

[2016-05-03 14:43] coreysyms commented on #8697
Ill take this and submit a PR

[2016-05-03 17:05] designerno1 opened #8729 "[off-canvas sticky] open off-canvas cause wrong sticky position"
https://codepen.io/designerno1/full/bpQZgL/

open off-canvas menu and scroll down sticky gets wrong position

i expect the sticky has right position

is there a way to prevent this, or reset sticky if off canvas opens?

[2016-05-03 17:10] coreysyms commented on #8697
Closing this in reference to PR https://github.com/zurb/foundation-sites/pull/8730 which should now correct the issue.

[2016-05-03 17:10] #8697 closed

[2016-05-04 02:21] COLABORATI commented on #8661
Ha! Thanks! Names...

[2016-05-04 03:14] COLABORATI commented on #8659
I was on the right track in my last session, but I had to stop just one step before finding the solution. Today I looked into this strange error again, styles, javascript and html everything ok, but I did this:
[code]
The error described above occurs only when the script is included with the ```async``` attribute!

Is it expected to assume that async inclusion naturally will break a css framework?

[2016-05-04 09:39] simongcc opened #8732 "mixin css-triangle() up and down is oppsed"
Foundation 6.2.1 SASS source

When I use
`@include css-triangle(rem-calc(8), $text-color, up);`
It generate downward arrow.
Expected: upward arrow

while I use
`@include css-triangle(rem-calc(8), $text-color, down);`
It generate upward arrow.
Expected: downward arrow

Left and Right is working as expected.
Many thanks.

[2016-05-04 13:41] COLABORATI commented on #8659
just change the issue title to better reflect what this is about behind the scenes...

[2016-05-04 16:35] #8298 closed

[2016-05-04 17:19] andrewjschmitt opened #8733 "Cmd + combo won't work on my page all of the sudden"
**How can we reproduce this bug?**
1. I have
2. No Clue
3. Or I Would Have
4. Troubleshot it
5. Already
6. Myself

**What did you expect to happen?** && **What happened instead?**

I've created an app with Django. So a lot of my pages load off the same template save a few customizations to a few pages. The cmd (or ctrl for windows) + combination keys, such as cmd+r to reload, all of the sudden one

[2016-05-04 17:40] Deckluhm commented on #8733
You should try to reproduce your issue using CodePen (or any similar service) because it often helps you to identify what is causing the issue.

In your case, it can show you that this is (or not) Django related. Or maybe you have an event handler that changes the behavior of some keys?

Last thing: is there any preprocessing on your assets, especially javascript files?

[2016-05-04 18:07] andrewjschmitt commented on #8733
So actually if I hit any key at all on the keyboard it throws "Component not defined!". What throws that error? And why would it be throwing it?

[2016-05-04 18:37] alanontheweb opened #8734 "[Dropdown] dropdown width as data-attribute"
Many times I want the width of the dropdown to match the parent anchor, and other times I want it to wildly differ depending on the content inside. Can you add a feature to customize the dropdown's width through a data-attribute, that defaults to the sass width when unconfigured?

[2016-05-04 22:06] designerno1 commented on #7827
seems to be fixed now in 6.2.1

[2016-05-04 22:06] #7827 closed

[2016-05-04 22:09] designerno1 commented on #7865
@zurb/yetinauts
anyone who could address this feature?

[2016-05-04 22:23] Lynda333 commented on #8588
+1 for updating Normalize.

[2016-05-04 22:24] designerno1 commented on #8594
seems to be fixed because wrapper now gets applied correct
#8679
but i don't like the height calc by max of one height

[2016-05-04 22:24] #8594 closed

[2016-05-04 22:26] designerno1 commented on #8662
@zurb/yetinauts
any thoughts?

[2016-05-04 23:24] joeyred opened #8736 "Zurb Template - Panini Gulp watch task gets stuck after first page reset & reload."
I've had this issue for a while with using the Zurb template and panini. It actually caused me to, for a while, simply bring in foundation via bower and write the `gulpfile.js` myself. However, for a recent project I decided to come back and try the Zurb template again since the 6.2 release of Foundation for Sites.

The one thing I am at least happy to say, is while as frustrating as the situation

[2016-05-05 00:07] simonlacey commented on #8736
i have the same issues you do, i copy and pasted your code, I still can't get paste the first reload unfortunately. wonder why.

[2016-05-05 01:35] fndaily commented on #8736
What happens if you change ```browserSync.reload``` to just ```browser.reload```?

[2016-05-05 01:51] Lynda333 opened #8737 "TypeError: Foundation.Keyboard is undefined?"
I'm using Reveal on a page and when it opens I see the following message:

    TypeError: Foundation.Keyboard is undefined
      Stack trace:
      i@http://www.example.com/js/ueber-mich/foundation.min.js:1:13145
      a.reflow/</<@http://www.example.com/js/ueber-mich/foundation.min.js:1:2397
      .each@http://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js:2:2859
      n.prototype.each@

[2016-05-05 02:06] zacharywenner commented on #8736
I'm having this same problem too. I downloaded Foundation 6 and it will reload my changes only once after `npm start`. In order to see changes, I have to exit out and 'npm start` again.

[2016-05-05 02:09] fndaily commented on #8736
For those browserSync reload fails - take a look at what we did here with the default ```gulp file.babel.js```
https://github.com/zurb/foundation-sites/issues/8703

view the PR:
https://github.com/fndaily/ee-foundation-6/commit/d090bc1e770e8ed93010dd1e86559676db5f0d9b#commitcomment-17308042

[2016-05-05 04:57] tbredin opened #8738 "Media object causes long horizontal scroll bar with `$global-flexbox: true;`"
Just adding a media object with `$global-flexbox: true;` causes a long horizontal scroll.

Seems like an easy fix, just needs

[code]

to change to

[code]

Here's a codepen that demonstrates the bug, with the suggested fix that I'm using at the moment.

http://codepen.io/tbredin/pen/VaqrZY

[2016-05-05 05:02] colin-marshall commented on #7865
@designerno1 I'm pretty sure you can do this already if you set the `data-top-anchor` of the sticky nav to `id-of-div-directly-above-sticky-nav:bottom`. I'll do some more investigation...

[2016-05-05 05:17] colin-marshall commented on #7865
@designerno1 this example is supposed to do what you are asking:
http://zurb.com/building-blocks/shrinking-sticky-navigation-menu-f6

It becomes unstuck too soon because of a bug, but if you resize the window to a different breakpoint it starts working like it's supposed to. If you could turn that building blocks example into a visual test that would that would be very helpful if you have time and

[2016-05-05 05:49] joeyred commented on #8736
The code I included is from a my own gulpfile. I use `browserSync` instead of `browser` as my variable. More out of habit than anything else. What I wrote was for the use of Panini on it's own and not for the Zurb template, however I thought that both important to show that there is a way to make it work, and that the code i provided could maybe help someone who knows the Zurb template's gulpfile

[2016-05-05 09:08] designerno1 commented on #7865
i created a pen to show what i mean:
https://codepen.io/designerno1/full/YqdYjv/

it's nearly what i'am looking for.
it gets stick if bottom of sticky reaches window bottom and stick until bottom sticky reaches bottom-anchor.
But then when you scroll up it gets sticky when bottom of sticky reaches window bottom,
But it should anchored until sticky top reach window top and then get sticky to window

[2016-05-05 13:41] simonlacey commented on #8736
fndally thank you so much!!! worked for me.

[2016-05-05 13:56] brettsmason commented on #8732
@simongcc I've just downloaded a fresh copy of 6.2.1 and up/down are working correctly for me.
Can you try with a fresh copy of 6.2.1 and see if it works?

[2016-05-05 13:58] brettsmason commented on #8738
@tbredin Thanks for the bug report.
The fix looks good to me, are you able to submit a PR to fix this?

[2016-05-05 14:13] brettsmason opened #8739 "[Media Object] stack-for-small doesn't work with flex grid"
When checking on issue [#8738](https://github.com/zurb/foundation-sites/issues/8738) I noticed the `stack-for-small` class is not working. This is because `flex-wrap: wrap;` is being applied to all breakpoints, not just small.

See [this codepen](https://github.com/zurb/foundation-sites/issues/8738) and add the `stack-for-small` class.

I'll sort out a PR to fix both these issues now.

[2016-05-05 14:22] brettsmason commented on #8738
Actually I just created a PR to fix this, but thanks for pointing out the issue :+1:

[2016-05-05 14:34] Owlbertz commented on #8734
Sounds like a nice idea for v6.3.

[2016-05-05 14:37] Owlbertz commented on #8727
I agree, according to [the standards](https://github.com/zurb/foundation-standards/blob/master/javascript.md#event-naming) it should be either `close.zf.offcanvas` when the animation starts and `closed.zf.offcanvas` or just the latter one, since this animation is not that complex.

[2016-05-05 15:18] brettsmason commented on #8707
I've just looked into this a bit more, and its caused by this in `_reveal.scss`
[code]
So the smallest breakpoint is always receiving the `.full` styling. Should this be the case or should the selected classes height be at least respected and maybe have a small gap left/right? I'd be interested to see what others opinions are on this @zurb/yetinauts

[2016-05-05 15:33] kovloq commented on #8724
Hi @alanontheweb yes,

I think it's a bug. I tried to solve the problem but still couldn't figure it out. The callback  function works in accordion. However it doesn't work in accordion menu.

Someone said [http://foundation.zurb.com/forum/posts/36958#comment_27867](http://foundation.zurb.com/forum/posts/36958#comment_27867) it worked, but don't how he did it.

[2016-05-05 15:34] pdeffendol commented on #8707
@brettsmason I was more expecting the default width of the Reveal to be a percentage, which is consistent with the named widths (.small, etc.).

[2016-05-05 15:47] brettsmason commented on #8702
Thanks to @seanmavley this docs fix has now been merged.

[2016-05-05 15:47] #8702 closed

[2016-05-05 16:20] fndaily commented on #8703
@kball - zurb/foundation-zurb-template@1deac3a

Should that PR have gone to a different branch? I didn't see a dev branch - only:

- Gulp4
- Master
- Patch-1
- Revert-34-v6.2.1
- v6.2.1

[2016-05-05 16:54] kball commented on #8428
Fixed by #8471, will be in 6.2.2

[2016-05-05 16:54] #8428 closed

[2016-05-05 17:01] #8738 closed

[2016-05-05 17:02] kball commented on #8739
Fixed by #8740

[2016-05-05 17:02] #8739 closed

[2016-05-05 17:16] Silvester20 commented on #8428
Amazing, a big thanks to @Owlbertz and ofourse @kball !

[2016-05-05 17:58] Owlbertz commented on #8737
Obviously the keyboard util is not part of the custom download. The configuration for the customizer is wrong as it misses the dependency for Reveal (see https://github.com/zurb/foundation-sites/blob/develop/customizer/config.yml#L170). I'll add that.

[2016-05-05 20:10] kball commented on #8460
@Owlbertz @crbranch with #8743 merged into 6.3, can we close this issue?

[2016-05-05 21:27] fndaily commented on #8703
This has been merged into the ```master```

[2016-05-05 21:27] #8703 closed

[2016-05-05 22:53] designerno1 commented on #8670
this works fine for me in the latest develop branch

[2016-05-05 23:57] #8724 closed

[2016-05-06 06:41] Owlbertz commented on #8460
From my understanding, yes.

[2016-05-06 07:57] Benboe commented on #7033
@colin-marshall  my bad! I think i was using old foundation5 code, it changed :-) thanks for checking!

But... it might be me.. but it seems can't enter any numeric values on the custom download page (for the 3 grid values)?

I'm using a macbook pro, tried with firefox and chrome..

the only work around is using firebug, updating the values that way

[2016-05-06 08:29] edtownend commented on #8670
Yep, fixed.

[2016-05-06 08:29] #8670 closed

[2016-05-06 09:13] brightonmike commented on #8736
https://github.com/zurb/foundation-sites/issues/8736#issuecomment-217081046

It works, I'd highly recommend you try it as I had the exact same issue as you and this fixed it for me.

[2016-05-06 09:17] abdullahsalem commented on #8123
**Note:** @anothergituser any multiaple words property should be separated by hyphen ` - `,so the property you mentioned should be written like this `data-auto-focus`, but not `data-autoFocus`.

According to the documentation, the purpose of this property `data-auto-focus` is

So putting that property on a *Tabs* component means that the window will scroll to the active pane, and I tested that and

[2016-05-06 11:44] crbranch commented on #8460
Looks good to me.  Thanks!

[2016-05-06 11:59] #8460 closed

[2016-05-06 12:45] Owlbertz commented on #8733
This issue occurs if you are using the Keyboard util in a component that is not correctly defined. Somehow the keys you press end up being processed by an event handler that leads to said message and will prevent the default action. If you can provide a link to your page I will have a look and sort that out.

[2016-05-06 14:53] robeasthope commented on #8325
I managed to fix this by renaming the default `.top-bar` class in the markup and including the component in the renamed class: `.header-bar { @include top-bar-container; }`.

I don't know why it fixes the issue however, presumably there is a bug in the default foundation settings?

[2016-05-06 14:57] karland opened #8749 "Running the tests under Windows works but only after physically copying the `assets` directory"
**How can we reproduce this bug?**

Just run `npm run test:visual` under Windows. in case you have this possibility.

**What did you expect to happen?**

I expected `.html`-files to have the correct asset paths

**What happened instead?**

The assets were not loaded, because the asset paths were either wrong or the assets were missing in the paths.

The asset path seems to be symlinked, which is n

[2016-05-06 15:40] brettsmason commented on #8749
Unfortunately you can't (as far as I'm aware) distribute a symbolic link on Windows, hence it doesn't work - see [this file](https://github.com/zurb/foundation-sites/blob/develop/test/visual/assets) (I'm a Windows user myself). However I just create a symbolic link myself. An easy way to do this on Windows is with [Link Shell Extension](http://schinagl.priv.at/nt/hardlinkshellext/linkshellextensio

[2016-05-06 15:54] brettsmason commented on #8749
Actually following this up looking at the BrowserSync docs I think it might be possible to set this up in the Gulp `test.js` file so paths work, though I'm not sure. I'll try and have a look.

[2016-05-06 17:29] bc-ian opened #8750 "JS not compiling correctly"
**How can we reproduce this bug?**
I am doing some more testing on this today as I work but right now its like this:
Using the zurb template for foundation when running foundation watch for the first time, everything works correctly. If I run the build everything works ok. But if I try to run foundation watch again it does not correctly compile the JS and I get this error in my app.js: `Uncaught R

[2016-05-06 20:18] Lynda333 commented on #7033
@Benboe - Changing the values works for me on Firefox and Chrome (using Windows 10).

[2016-05-07 06:37] conrman commented on #7386
I'm able to get Foundation 6 working with webpack if I use the scripts-loader via @timaschew's method. But I'm unable to specify the files I want explicitly. I have to include the entire JS library.

So, in short this works:

    import 'script!jquery'
    import 'script!what-input'
    import 'script!foundation-sites';

but this doesn't:

    import 'script!jquery'
    import 'script!what-input'

[2016-05-07 14:52] timaschew commented on #7386
does it help if you put the dropdown import to the end or change the order somehow?

[2016-05-07 16:36] conrman commented on #7386
@timaschew no, changing the order doesn't have any effect and still returns the same error: `foundation.core.js:189 TypeError: Cannot read property 'Feather' of undefined(…)`

[2016-05-07 18:59] colin-marshall commented on #8750
Have you tried deleting your `node_modules` directory, and then run `npm install && bower install`?

[2016-05-07 20:29] colin-marshall commented on #8749
@karland #8752 should fix this. I just removed the symlink and setup a route for the BrowserSync visual test server to point `/assets` on the server to the `_build/assets` directory. Please give it a whirl.

[2016-05-07 23:56] andrewjschmitt commented on #8733
@Owlbertz Thank you! I suspected that. The thing is I didn't include that plugin explicitly. So either it's being included by default or by accident I don't know. All I have done is initialize foundation `$(document).foundation();` and referenced the minified library. If you know of a way for me to effectively disable keyboard util I'm all ears.

[2016-05-08 01:04] #8749 closed

[2016-05-08 09:01] designerno1 opened #8753 "[git experts] cannot lock ref"
Hi i get the error from git when i pull or fetch from origin

[code]

looks to me as there is a `v5` and a `V5` and that makes problems on my win10 tortoise git machine?

[2016-05-08 18:05] colin-marshall commented on #8753
Must have happened recently since both branches are pretty much up to date with each other. I know @coreysyms has been doing some work on F5 and could probably shed some light on the situation.

[2016-05-08 19:58] danmitchell- commented on #7308
+1

[2016-05-08 20:35] Larmor27 opened #8754 "ZURB Template builds broken site"
**How can we reproduce this bug?**
1. Create a new foundation-site project using the zurb template via `foundation new`
2. Use [this file as layouts/default.html](https://jsfiddle.net/rapvq2rL/) and [this as index.html](https://jsfiddle.net/9q9vzp67/).
3. run `$npm run build` in the project folder

**What did you expect to happen?**
I expected to get a nice compressed build in the dist-folder.

**

[2016-05-09 00:31] bc-ian commented on #8754
Yeah this is an issue right now. Also trying to get help for the same thing here. https://github.com/zurb/foundation-sites/issues/8750

[2016-05-09 00:34] bc-ian commented on #8750
Yesterday i was able to get the first watch to work so I just left it running all day. The first build also worked. But then going foundation run again broke everything.

It looks like there are a few other people also having this problem.

I Have not tried deleting those folders yet but I might give it a go tomorrow if I cant get the first watch to work after deleting my dist again.

Hopefully so

[2016-05-09 01:36] fndaily commented on #8750
Hey guys - there have been quite a few updates to ```babel-plugin-es2015``` modules among others.
I'm curious if running ```npm update```  fixes your watch tasks?

[2016-05-09 01:36] fndaily commented on #8754
@Larmor27 - there have been quite a few updates to ```babel-plugin-es2015``` modules among others.
I'm curious if running ```npm update```  fixes your watch tasks?

[2016-05-09 08:04] Larmor27 commented on #8754
Hey @fndaily thank you for your input.

I ran `$ npm update` and directly afterwards `$ npm run build`. Unfortunately the built is still faulty, with the same error as described in my first post.

@bc-ian our problems seem related, altough my setup doesn't throw `Uncaught ReferenceError: $ is not defined`, neither do I encounter problems running watches. Curiously enough, my watch works perfectly

[2016-05-09 09:56] mlang38 opened #8756 "[Responsive Navigation] Open ResponsiveNavigation JS plugin to extension"
I have my own kind of menu and it would be great if ResponsiveNavigation could handle it too. Would it be possible to extract the [_MenuPlugins_](https://github.com/zurb/foundation-sites/blob/99738a34e5cba799b9c9058ae895c4c9c7dab250/js/foundation.responsiveMenu.js#L130) variable from the factory function to a configuration ? Or have some kind of registration ?

[2016-05-09 11:59] mwellner commented on #8561
Tested on IE 11.0.9600 (Windows 7), could not confirm the behavior. Works as expected.

[2016-05-09 13:55] LukePettway commented on #8561
I'm seeing that issue using IE11 on Browserstack. The menu button is used in fixed position which is based off the viewport, so I think it has to do with IE being strict about that positioning. I think Chrome has a few ways to work around that, which is why it works in it. Is it possible to do position absolute?

[2016-05-09 14:00] coreysyms commented on #8753
I've merged 2 PR's over the last week, using the online interface of github so I'm not sure but this google search popped up and seems like a logical explanation.

[2016-05-09 14:30] priedthirdeye commented on #7386
This is how I currently do it using Foundation 6.2.1

var foundation = require("babel!foundation-sites/js/foundation.core");
require('babel!what-input/what-input.js');
require("babel!foundation-sites/js/foundation.util.mediaquery.js");
require("babel!foundation-sites/js/foundation.util.nest.js");
require("babel!foundation-sites/js/foundation.util.box.js");
require("babel!foundation-sites/js/founda

[2016-05-09 14:55] Owlbertz commented on #8733
The Keyboard Util is required by many plugins because it adds necessary accessibility support by handling keyboard inputs (e.g. using arrow keys to navigate through menus). I highly recommend you to  use this library - not only because there is no way to easily disable its usage, but also because you would lose one of the reasons why this framework is so good (the accessibility that it provides).

[2016-05-09 15:00] Owlbertz commented on #8737
@Lynda333 So as you can see I added a PR that will cause the Customizer to correctly add the util to the download when Reveal or Slider are selected. If you need some quick solution you could add another plugin that includes this util (e.g. Slider). This will bloat up your code a bit, but allows you to move on with development.

[2016-05-09 17:50] karland commented on #8749
Well, thanks. I can confirm that this fixes it on my system too.

[2016-05-09 20:08] aviemet commented on #7831
The CSS fix above is not optimal becuase it doesn't prevent scrolling on the body.
I fixed this issue by adding right-padding to `body` equal to the width of the scrollbars using this snippet:
http://stackoverflow.com/a/22707309/1162844

The only issue with this is that I had to apply it to to my `nav` as well since it was fixed position. Not sure how this could be made a universal solution if use

[2016-05-09 22:29] andycochran commented on #7831
I think this "bug" might be too app-specific to fix.

[2016-05-10 01:08] Knight-Yoshi opened #8759 "Extending the Foundation Object"
So I'm using the extending the Foundation object (or trying to anyway) with my applications. However, when Foundation initializes each module the modules I add on to it are not initialized in the page.

The example for extending the Foundation object used on http://metroize.com/zurb-foundation-6-plugins/ does the same thing. I've looked at the foundation.core.js file and from what I can tell it ju

[2016-05-10 03:38] magiobus commented on #8580
I have the same problem trying to deploy to production, tried replacing the line but it didn't work, any suggestions?

[2016-05-10 04:12] colin-marshall commented on #8580
@Luckyfella73 sorry that I'm late on this. It looks like you made the pull request on your forked repo instead of on this repo. Please do the following:
- Push the `Luckyfella73-patch-1` branch to your fork on GitHub (again)
- Open https://github.com/zurb/foundation-sites/
- Click the "alert" towards the top of the page about opening a pull request based on the branch you just pushed to your fork

[2016-05-10 04:31] colin-marshall commented on #8580
@magiobus @Luckyfella73 are you guys using Ruby Sass?

[2016-05-10 05:05] magiobus commented on #8580
I'm using the latest versions:
gem 'sass-rails', '~> 5.0'
gem 'foundation-rails', '~> 6.2', '>= 6.2.1.0'

[2016-05-10 05:41] colin-marshall commented on #8580
@magiobus thanks for doing the pull request! Does it work for you now? Sounded like it made no difference for you upthread.

[2016-05-10 05:52] magiobus commented on #8580
Don't know cause I'm using foundation-rails gem

Is the foundation-rails gem updated with the develop branch of foundation-sites repo?
Or they have independent versions ?

The error only happens to me when I try to deploy to my server, in development is ok.

[2016-05-10 06:32] colin-marshall commented on #8580
No I do not believe those branches are up to date with each other. I think with every release of Foundation Sites the Rails gem is updated (not sure if manual or automated) but nothing happens between releases to the Rails gem.

For testing purposes can you just go into `vendor/assets/scss/components/_button-group.scss` and try to change it in there? I am not familiar with the Rails gem and have l

[2016-05-10 07:59] Luckyfella73 commented on #8580
@magiobus thanks for doing the pull request for me though I would have liked to do it by myself for the first time here on github ;)

@colin-marshall you asked for ruby and sass - so here is what my terminal says:
`ruby 2.0.0p648 (2015-12-16 revision 53162) [universal.x86_64-darwin15]`
`Sass 3.4.22 (Selective Steve)`

[2016-05-10 08:24] phifa opened #8761 "Settings Overwrite Feature"
For better updating procedure, I would like to have a "settings overwrite solution". I modified my app.scss file like this:

[code]

In my `_settings-overwrite.scss` I just put the changed variables.

[code]

This way, updating is super simple. I have a feeling though, that it is not 100% safe, as some variables in the `_settings.scss` file are directly inserted in other variables in the same file

[2016-05-10 13:11] pshoeg commented on #7548
I had the same issue. I tried adding !important to the top value for reveal on small screens:

[code]

It works like it's supposed to for me. I had to add some bottom padding as well, because the nav bar on the iPhone overlapped the content.

[2016-05-10 15:11] andycochran commented on #8761
If you wanna be able to easily update Foundation, it's not a bad idea to leave `_settings.scss` untouched. But if you put your custom variables in another file, including `_settings.scss` is unnecessary.

Your app doesn't need both `settings` and `settings-overwrite`. Since all variables are declared with `!default` in each component, you don't need to declare a single variable unless you want to

[2016-05-10 15:11] #8761 closed

[2016-05-10 15:16] andycochran commented on #8580
This is unnecessary since the `@if` has already been removed from the develop branch.

[2016-05-10 15:16] #8580 closed

[2016-05-10 15:59] emri99 commented on #7821
thx @designerno1 ;)

@gakimball : Should we expect this pull request to be merged ?

[2016-05-10 16:04] andycochran commented on #8283
Done. 😉

[2016-05-10 16:15] andycochran commented on #8339
Semantically, it makes more sense to remove `flex-grid.html` and keep `flexbox.html`. The Flex Grid is a flexbox mode component. All the various flexbox components should not be documented on a page about the grid.

[2016-05-10 16:17] andycochran commented on #8215
@Lynda333, could you make a [CodePen](http://codepen.io/rafibomb/pen/xVVGOB) reproducing this?

[2016-05-10 16:26] andycochran commented on #8694
I think the fix is to add `[hidden]` to the Visibility Classes:

[code]

[2016-05-10 16:35] colin-marshall commented on #8580
Thanks @andycochran!

[2016-05-10 17:33] kball commented on #8737
#8748 has been merged and deployed.  This should be resolved for new downloads.

[2016-05-10 17:33] #8737 closed

[2016-05-10 18:19] Owlbertz commented on #8759
Your plugin code looks good to me on the first glance. How does the code look that you use the plugin with exactly?

[2016-05-10 18:22] Owlbertz commented on #8144
@Silvester20 since you upvoted my last comment can I assume that you don't experience the issue anymore as well? If so I'd like to close this issue.

[2016-05-10 18:24] designerno1 commented on #7821
i think the feature will be in V6.3 Release

[2016-05-10 18:48] michaelvolz commented on #8250
@michaelscheel Nice fix, thank you.
I wonder if there is an easy way to only accept the touch toggle when it is just a short tap and not a long slide while scrolling the page. Any ideas?

[2016-05-10 20:08] bc-ian commented on #8750
running npm update did not fix it unfortunately. @fndaily
@colin-marshall npm -v returns:
[13:06:14] Requiring external module babel-register
[13:06:14] CLI version 1.2.1
[13:06:14] Local version 4.0.0-alpha.2

I have not tried deleting node_modules but I did update it, essentially the same thing right?

I am really confused now because the other day I got it to work upon deleting the dist and run

[2016-05-10 20:09] scudco commented on #8039
I'm experiencing this exact issue when Rails adds hidden inputs. I know the workaround works, but I think this issue ought to be re-evaluated.

The problem ultimately occurs in `Foundation.Abide.prototype.findFormError` because it simply traverses up to the hidden field's parent to find _all_ its `.form-error` elements. This parent element may contain any number of invalid fields with visible form

[2016-05-10 20:10] magiobus commented on #8580
It worked after all, I don't know why it showed that error, but after dealing with nginx in production, it succeed to compile foundation without errors. Misteries of the universe jeje.

Thanks! @andycochran @Luckyfella73  @colin-marshall

[2016-05-10 20:33] fndaily commented on #8750
@bc-ian I would definitely try removing the ```node_modules``` & ```bower_components``` dirs, starting over with a fresh install. This is starting to sound like either a (somehow) corrupted node_module or possibly even a permissions problem.

What's your platform - windows, mac?

Additionally, it won't hurt to add ```"babel-register": "^6.8.0",``` to your devDependencies in your ```package.json```

[2016-05-10 20:51] sdhull commented on #8039
This issue ought to be re-opened. If hidden inputs break abide then I'd call that a major, show-stopping bug.

IMO, hidden inputs should never be validated. It's not possible for users to modify their values (without js magic, and if you've implemented js magic to change hidden input values, then you could implement js magic to validate them or the visible controls as well).

Also, I agree that `[

[2016-05-10 21:04] sdhull commented on #8039
Furthermore, it appears that the [HTML5 spec indicates](http://w3c.github.io/html/sec-forms.html#hidden-state-typehidden) that `type='hidden'` fields [should not be validated](http://stackoverflow.com/a/6961433/495637).

[2016-05-10 21:33] mmjaeger opened #8766 "rem-calc warning"
I was wondering why margin: rem-calc(16px auto); issues a warning

[2016-05-10 21:55] daveromsey commented on #8766
[rem-calc](https://github.com/zurb/foundation-sites/blob/develop/scss/util/_unit.scss#L22) does not accept _auto_ as a parameter.

This will work though:  `margin: rem-calc(16px) auto;`

[2016-05-10 22:29] kball commented on #8039
I agree this should be reopened.  Hidden inputs should be ignored by Abide.

[2016-05-10 22:29] kball commented on #8039
@sdhull would you be able to submit a pull request to address this?

[2016-05-10 22:30] sdhull commented on #8039
@kball on it

[2016-05-11 01:33] tbredin opened #8768 "Button transition isn't configurable"
I noticed that there's no way to configure button background and color transitions. I recommend changing the hard-coded line in the `button-base` mixin to reference a variable with a sensible default.
Current:

[code]

Suggested change:

[code]

Furthermore, I'm not convinced on the default; a 0.25s animation on background / color I'd argue isn't entirely expected - this is especially prominent an

[2016-05-11 02:03] planetClaire commented on #7373
Changing $global-font-size also triggers this bug.

[2016-05-11 04:17] Knight-Yoshi commented on #8759
Yes, it looks good and it works. It just doesn't initialize with the rest of the modules loaded onto the Foundation object.

[code]

Once again though, while it works it does not initialize with the Foundation object using `$(document).foundation()` even though it exists. I can, however, invoke it with `new Foundation.YoutubeRedirect();` I can pass in either the form or the document wrapped in the

[2016-05-11 04:30] Owlbertz commented on #8759
So you have some element with an `data-youtube-redirect` attribute?

[2016-05-11 04:34] Knight-Yoshi commented on #8759
And that's what I was missing... Well now I feel a little silly. Lol.
Thanks for pointing that out though!

[2016-05-11 04:34] #8759 closed

[2016-05-11 05:04] stewhouston opened #8769 "Dropdown parameters allow only vOffset or hOffset, not both."
I'm not sure if this is by design, but coming from jQuery UI I find this incredibly restrictive.

Simply moving the menu up 7 pixels (data-v-offset="-7" or margin-top: -7px), seems like a herculean task as the absolute positioning calculated by JavaScript ignores CSS margins, and parameters bound to the element only work on the 'positionClass' axis.

Simple illustration: http://i.imgur.com/nM8uLqM

[2016-05-11 07:09] phifa commented on #8761
ahhhhhhhhh thanks @andycochran I will give it a try and uncomment the settings.scss in my app.scss.

[2016-05-11 07:41] phifa commented on #8761
I am running into problems with this config:

I uncommented my settings.scss and added just the settings_overwrite.scss. Now I get compile errors, since a lot variables are unknown. `$body-background: $black;` for example in my overwrite-file does not work, since the $black is defined in the settings file.

Interstingly I can get rid of the $black error, by re-declaring the variable in my overwrit

[2016-05-11 09:09] inou commented on #8681
Exactly the same problem here - totally fresh node, npm, gulp, foundation installation. OSX 10.11.4

[2016-05-11 09:41] telliott1 opened #8771 "Mobile menu not working with sticky header on mobile devices"
There seems to be a bug when you use both the mobile menu and sticky header together. The header is only sticky on large screens and above as I'm using the data options attribute. I've tested the mobile menu without using the sticky header and it works fine.

You can reproduce this bug by clicking on the menu icon, scrolling down the page, scrolling back to the top and then by closing the menu. Th

[2016-05-11 11:42] aldees opened #8772 "[Accordion] $accordion-content-color is not used"
The $accordion-content-color SASS variable is supposed to set the default text color of the tab content.   However, it is not actually be used in _accordion.scss

[2016-05-11 12:51] andycochran commented on #8761
Well, of course you can't use any variables that aren't declared. If you want to change a setting that effects other settings, you're gonna need to declare them all. This is why it's easier (best?) to simply use the existing `_settings.scss` file. Sure, you might have to avoid clobbering it when you update Foundation. But part of updating Foundation is combing through your settings to make sure yo

[2016-05-11 12:57] phifa commented on #8761
Right, and that process takes quite a bit of time. Why does overriding of the sass maps not work?

[2016-05-11 13:37] coreysyms commented on #8753
@zurb/yetinauts Can someone with more Github expertise look into this, there are 2 branches (lowercase v5) and (uppercase V5). Not sure if it has always been this way? But someone should make the call to kill one or the other right?

[2016-05-11 13:41] brettsmason commented on #8771
@telliott1 Could you [setup a CodePen](http://codepen.io/rafibomb/pen/xVVGOB) to show what the issue is please?

[2016-05-11 13:48] brettsmason commented on #8772
@aldees This has been fixed in a recent commit - you can see its now set [in the develop branch](https://github.com/zurb/foundation-sites/blob/develop/scss/components/_accordion.scss#L106). This will be included in the point release.

[2016-05-11 13:48] #8772 closed

[2016-05-11 14:44] brettsmason commented on #8754
@Larmor27 So it looks like 2 problems are occuring here. I have installed a fresh copy of the Zurb template and use the code you provided and I have managed to get it working.

The first problem about `Failed to load external module babel-register` seems to be fixed by running `npm install babel-register babel-preset-es2015 --save-dev`. Could you try this and tell me if it fixes that error? If so

[2016-05-11 15:16] joshmedeski commented on #7373
Quick update, I haven't set aside time to fully work out the bug. I'll keep @planetClaire's last comment in mind and do my best to thoroughly fix the bug.

[2016-05-11 15:28] daren8888 commented on #7252
I still have the same issue with the drop down menu flashing! Please help! www.sanjoselearningcenter.com.

I added [data-responsive-menu] ul { display: none; } AND tried adding .no-js class... but just like the Dec 11th 2015 comment from tsquez, it's not REAL clear where to add this tag.

can anyone help?

[2016-05-11 15:34] telliott1 commented on #8771
@brettsmason Would it be ok to provide you with the url of the site instead?

[2016-05-11 15:37] brettsmason commented on #8771
@telliott1 Yes that's fine, just we need more of an idea of what you are trying to do/what's going to help.

[2016-05-11 16:01] telliott1 commented on #8771
@brettsmason http://www.digital-dev.co.uk/on-site-recruitment

[2016-05-11 16:09] brettsmason commented on #8771
@telliott1 So I can't see an obvious problem whilst looking at the site.
Could you try and explain the problem a bit more. Is the on the large view or small/mobile view? Is this only when using sticky on the menu when setting the data attribute to small?

[2016-05-11 16:22] telliott1 commented on #8771
@brettsmason Were you viewing the site on a mobile?

[2016-05-11 16:24] rafibomb commented on #7252
@daren8888 Looks like the fix is in 6.2.1. You can update by running `npm update` in the project. The package.json file has the version number you are on.

[2016-05-11 16:28] #8603 closed

[2016-05-11 16:34] kball commented on #8039
Fixed in #8770.  Will be in 6.2.2

[2016-05-11 16:34] #8039 closed

[2016-05-11 16:37] #8628 closed

[2016-05-11 16:38] kball commented on #7548
I believe this was fixed, at least for iOS, in #8744.  This will be in the 6.2.2 release.

[2016-05-11 16:50] #8560 closed

[2016-05-11 16:52] kball commented on #8690
I believe this is fixed in #8690 which was merged, and will be in 6.2.2.  We'll be putting out a 6.2.2 release candidate later today so if you want to test with that and verify, that would be great.

[2016-05-11 16:52] #8690 closed

[2016-05-11 16:58] #8435 closed

[2016-05-11 17:03] #8393 closed

[2016-05-11 17:26] kball commented on #8629
Woah, that's an odd one.  I think it is a reveal bug, not a motion-ui issue.  I don't think we'll get to this for 6.2.2 but should definitely get it for 6.2.3

[2016-05-11 17:29] kball commented on #8495
I believe this was fixed in 6.2.1, please reopen if you're still running into it.

[2016-05-11 17:29] #8495 closed

[2016-05-11 18:36] #8396 closed

[2016-05-11 18:48] Silvester20 commented on #8144
No problems anymore, can be closed indeed. Thanks for the hard work you guys doing!

[2016-05-11 18:48] #8144 closed

[2016-05-11 18:49] keepitreal commented on #7758
For foundation users who aren't compiling their entire project with an es6 compiler, how should we be including foundation js dependencies? I noticed that there are a few `const`'s about the project. This, of course breaks in browsers that don't support es6 operators.

[2016-05-11 18:56] colin-marshall commented on #7758
@keepitreal there are pre-transpiled JavaScript components in the `dist` directory.

[2016-05-11 21:56] shoaibik commented on #8771
I checked it on real phone and also on Chrome device mode, i could not reproduce the issue.

[2016-05-12 08:34] Larmor27 commented on #8754
@brettsmason you are definitely on the right track there. First of all `npm install babel-register babel-preset-es2015 --save-dev` solves the error `Failed to load external module babel-register` when running build or watch.

Concerning the other bug, I'm sure now that UNCSS is destroying my builds. It deletes
- sticky-classes like .is-anchored
- reveal-related classes. If I use a reveal on my pag

[2016-05-12 09:52] telliott1 commented on #8771
@shoaibik How strange. I've checked it on multiple devices. I've attached some screenshots showing the problem.
![img_0352](https://cloud.githubusercontent.com/assets/12082063/15210738/a12b03a6-182f-11e6-8eb7-e7772a85e5b6.PNG)
![img_0353](https://cloud.githubusercontent.com/assets/12082063/15210739/a12e65c8-182f-11e6-8cb3-c6d0bea0af5d.PNG)
![img_0354](https://cloud.githubusercontent.com/assets/120

[2016-05-12 11:38] brettsmason commented on #8771
@telliott1 OK I've managed to replicate the problem on my phone now. Could you confirm if you have tried removing the sticky element completely so we know its definitely this that's the problem?

Also [6.2.2-rc1](https://github.com/zurb/foundation-sites/releases/tag/v6.2.2-rc1) was released yesterday which had a lot of sticky specific bug fixes included. It would be worth you trying it out and see

[2016-05-12 11:44] brettsmason commented on #8754
@Larmor27 That's good news that we are on the right track.

To remove UnCSS from the production build I think you only need to remove the following:
`.pipe($.if(PRODUCTION, $.uncss(UNCSS_OPTIONS)))` - line 87 in `gulpfile.babel.js`

There are also other traces, like `const { COMPATIBILITY, PORT, UNCSS_OPTIONS, PATHS } = loadConfig();` (remove UNCSS_OPTIONS) and it will be in the `package.json` but

[2016-05-12 12:09] shoaibik commented on #8771
I think I found the issue, the sticky plugin sets the height of `.sticky-container`, which it might not calculate correctly when menu is closed.

A quick work around is to set its height to auto on small screen.
[code]

[2016-05-12 13:40] telliott1 commented on #8771
@brettsmason As per my original post, I've tested the mobile menu without using the sticky header and it works fine. That's useful to know thank you.

@shoaibik That worked. I also had to change the absolute positioning on `.sticky` to static positioning for your code to work.

[2016-05-12 15:03] iammichiel commented on #8427
Yep, sure. Here is a link to a [Codepen](http://codepen.io/iammichiel/pen/WwmqmZ) illustrating the problem.

I can now go a little further in my explanation, when adding the .sticky behaviour, the right gutter is no longer displayed.

[2016-05-12 15:32] carlosms opened #8775 "[Tooltip] z-index issue inside a modal"
It looks like issue #5584 is again present in foundation 6.2.1

Tooltips are not visible when placed inside a modal. I updated the jsfiddle in #5584 for the latest version here:

https://jsfiddle.net/carlosms/43eocro9/

[2016-05-12 17:51] andycochran commented on #8427
@iammichiel, thanks for clarifying.

I actually just noticed this bug in the docs today. The sticky space images spill into the right gutter. This isn't visually evident because there's some bad markup. There are columns nested in a column without a row:

[code]
The problem is very evident if you remove that superfluous `<div class="columns small-12">`.

[2016-05-12 18:08] andycochran commented on #8427
@gehasia, you're good with .js and familiar with Sticky, right? Would you like to take a stab at fixing this? I'd love to see a PR.

[2016-05-12 18:11] gehasia commented on #8427
Sure, i'll try to have a look on it next week probably (as i'll be busy for few days) !

[2016-05-12 19:08] BryanBarrera commented on #7806
Is this supported yet? I'm using 6.2.1 but still can't use data-toggle to toggle more than 1 element.

[2016-05-12 21:02] llamsyneb opened #8780 "Stackable buttons (stacked-for-small button-group) are uneven when unstacked"
**How can we reproduce this bug?**

1. Create a div with class .button-group
2. Put at least two buttons in it (anchor tags with class .button)

**What did you expect to happen?**

I expected that the bottom of each button would be in line with the others when they are not stacked.
I believe that none of the buttons should have a bottom-border, but I'm not sure that's the right way to go.

**What

[2016-05-13 06:57] ghost opened #8781 "[Documentation suggestion] - Abide patterns"
I am missing the "Predefined Patterns" for abide in the docs for Foundation 6. The docs from Foundation 5 has a nice table off all the available patterns, so it would be nice to add this too for the F6 docs.

http://foundation.zurb.com/sites/docs/v/5.5.3/components/abide.html

[2016-05-13 10:32] maggo opened #8782 "[Sticky] Plugin does not work correctly when initialized in JS"
**How can we reproduce this bug?**
1. Create markup for sticky element
2. Initialize with `new Foundation.Sticky($element, options);`

**What did you expect to happen?**

Stickyness like when initialized by `$(document).foundation();`

**What happened instead?**

Classes and attributes get added but element doesn't stick at scroll

**Test case:**

https://jsfiddle.net/9L4bk6Le/

[2016-05-13 11:58] chrona opened #8784 "[Responsive Navigation] responsive menu not possible without plugins"
#8462  we have a normal menu without plugins:

[code]

If we wan't to make it responsive we have to give up our "normal" look for medium-up as foundation will always try to check which plugin we are using (even if I don't want one on larger screens).

[code]

I know there is a workaround by creating two lists with `show-for-medium`, etc. but i guess extending `data-responsive-menu` would be a bett

[2016-05-13 12:03] denisahac commented on #8782
Using `$(document).foundation();` alone doesn't get the desired results unless you properly specify the required data attributes.

I think `$(document).foundation();` is required before using `Foundation.Sticky(elem, options);` since the Sticky plugin has this option `data-sticky-on` which requires MediaQuery plugin which in turn extracts `$('foundation-mq').css('font-family');` values and does re

[2016-05-13 13:21] Larmor27 commented on #8754
@brettsmason Okay that did the trick. Here is what I did to get rid of all error-messages and all faulty behavior of foundation:

1. `npm install babel-register babel-preset-es2015 --save-dev` to fix `Failed to load external module babel-register`.

2. Delete `.pipe($.if(PRODUCTION, $.uncss(UNCSS_OPTIONS)))` from the gulpfile to disable UnCSS completely.

Everything else works fine now. Thank you

[2016-05-13 15:13] mbellet commented on #5910
I have the same issue in the same condition (Tested on Chrome and Opera) (But it doesn't happen each time that i refresh, sometimes work) are you planning to resolve this problem?
Version: Your V5 branch (Updated on 25/02/2016)

[2016-05-13 22:40] designerno1 opened #8787 "[Off Canvas Callout] Closable Callout inside of Offcanvas menu"
Closable Callout inside of Offcanvas menu causes offcanvas to close, not only the callout
https://codepen.io/designerno1/full/mPgBzQ/

[2016-05-14 07:25] huphtur commented on #8750
Experiencing the same problem. Did all the ^above updates. Watch still runs fine but a Build ends up with a ton of errors at the top of app.js:

![app js](https://cloud.githubusercontent.com/assets/469438/15266981/27458390-19b5-11e6-8e99-bb2e42e8ea68.png)

[code]

[2016-05-14 13:32] Ne-Ne opened #8790 "Togger - Responsive option [Feature Request]"
Hi All,

I would love to toggle gain added functionality to let the developer choose the specific `$breakpoints` in which the Toggler plugin would run.

Equalizer is already present, can we extend this into the Toggler plugin?

My current situation, I have data. Spread into a 2 column layout and each `.item` is 400px tall. When hitting the `small only` query I have used the toggle functionality th

[2016-05-15 05:06] Lynda333 commented on #8561
@LukePettway - Cannot use absolute positioning with the way the site is setup. This did work pre-6.2.1.

[2016-05-15 05:12] donomron commented on #7078
I'm facing with the same issue and I can not make a selection even with number keys. Is there any other way to select foundation packages through cli?

[2016-05-15 13:23] hylke94 commented on #8409
As shown in this [JSFiddle](https://jsfiddle.net/1wxvjq4o/2/), above 'fix' doesn't fix the issue completely. The alignment is somewhat better, but now they also align towards the middle...

The same for the second issue, alignment in a ['align-justify' row](https://jsfiddle.net/r9su0wh1/1/)...

[2016-05-15 19:59] OddenCreative commented on #8768
Been having this issue myself. Would be nice to have a single button class in the css output and not add in !important, which is lame. The alternative is to have fork the component and alter it.

[2016-05-15 23:35] DaSchTour commented on #8780
I guess this is caused by #8616
There was a margin-bottom: 0 introduced

[2016-05-16 00:18] andycochran commented on #8780
Eek! Sorry if my PR introduced this bug. I'll get it fixed… 

[2016-05-16 01:09] andycochran commented on #8780
Actually, this is not an issue in the `develop` branch. So the upcoming 6.2.2 patch should take care of it. Please reopen this issue if you can reproduce this after the next release.

[2016-05-16 01:09] #8780 closed

[2016-05-16 08:17] brettsmason opened #8791 "[Sticky] Sticky causing content below to "jump" on load"
I first reported this on Slack - sorry its taken me so long to write up the issue!
You can see what I mean here: http://recordit.co/4CMl1P4mJB

The markup is:

[code]

I discussed this with @andycochran on Slack - this is the full conversation:

[code]

This issue in summary seems to be coming from the sticky container height/absolute positioning, as setting the `sticky-container` height in my sty

[2016-05-16 10:18] slavanga opened #8792 "[Compatibility] Webkit prefixes missing"
The [docs](http://foundation.zurb.com/sites/docs/compatibility.html) state that foundation is compatible with Android Browser 2.3+ but prefixes for properties like ```border-box``` are missing.

[2016-05-16 14:11] brettsmason commented on #8754
@Larmor27 Brilliant thanks for confirming that this fixed your issues. I'll use this as a reference to hopefully get the templates fixed.

[2016-05-16 14:56] DaSchTour commented on #8792
I created a PR #8794
Android was added in a wrong way to the autoprefixer

[2016-05-16 20:32] Geczy commented on #8792
Autoprefixer?

[2016-05-16 20:44] rafibomb commented on #8792
autoprefixer is there but it could be solved by @DaSchTour 's PR. Thanks for the PR @DaSchTour !

[2016-05-16 20:44] #8792 closed

[2016-05-17 02:57] EddieGreen opened #8796 "Missing CSS for Forms Input"
Compiled latest SCSS. The following CSS appears missing from the compiled code but appears correctly in the documentation site:

[code]

Did someone nuke an include by mistake?

[2016-05-17 09:35] Baedda commented on #7770
Is here something going on? I would hope to see the suggested split button approach in the next release cause we really want to use the accordion menu in our project. We know that having split buttons is not the best approach for every project so giving the user the control to activate/disable this feature via config would be really nice.

In my opinion the visual separation (css) doesn´t need to

[2016-05-17 09:43] FynnZW commented on #8544
My workaround at the moment is using this additional gulp-plugin:
https://www.npmjs.com/package/gulp-touch
`npm install --save-dev gulp-touch`
and then calling it before the browser-reload:
[code]

[2016-05-17 11:19] brettsmason commented on #7770
@Baedda I'm still working on adding the accordion menu with split button. However my priorities have had to shift a bit to help with bug fixes etc. I do have a working version with the split button approach though, I just need some help with the keyboard navigation changes to make it work fully.

@Owlbertz Do you mind giving me a bit of assistance in finishing this maybe later this week if you hav

[2016-05-17 11:22] Owlbertz commented on #7770
@brettsmason Sure. For me end of the week (or even the weekend?) would fit best.

[2016-05-17 13:30] brettsmason commented on #7770
@Owlbertz No problem I'll try and sort out what I need to ask you in the next few days, but there's no rush at all, whenever you get a few minutes!

[2016-05-17 17:37] OddenCreative commented on #8768
I put this update into the development stream... here's hoping it makes it through... Otherwise, I have have a few sites that will require my fork...

[2016-05-17 17:55] christill opened #8797 "Sass build differs from dist css file"
I'm having some difficulty using 'off-canvas' on ios. After a while debugging it appears the css file is the issue.

The sass build I have is:

[code]

Using the above creates a different output to:
    https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.1/foundation.css

Whatever is in the difference is causing off canvas to not work on ios.

Thanks

[2016-05-17 19:07] designerno1 opened #8798 "[Grid] _settings.scss $breakpoint-classes"
changing the var

[code]

don't do anything on _build/assets/css/foundation.css
if i change it in _breakpoint.scss direct

[code]

output is generated

[2016-05-17 20:03] designerno1 commented on #8798
@zurb/yetinauts
can somebody confirm that?

[2016-05-18 08:01] EddieGreen opened #8800 "Documentation wrong for responsive top bar"
Documentation for responsive menu in top bar reads:

[code]

It should read:

[code]

To emulate the v5 Top bar, refine the code. This is the relevant portion of the markup:

[code]

[2016-05-18 08:30] piotr-radzikowski opened #8801 "[Sticky] "cb is not a function" on _calc run"
Hi, I have found bug of init _calc on sticky plugin for recalc sticky position.

example of invoke function:
[code]
then in console appear an error:
"Unhandled promise rejection TypeError: cb is not a function"

problem is in sticky plugin code of "_calc" function:
https://github.com/zurb/foundation-sites/blob/develop/js/foundation.sticky.js#L162
function _setSizes is init without callback functio

[2016-05-18 09:44] daniel-rikowski opened #8802 "$table-foot-background setting is ignored"
**How can we reproduce this bug?**

1. In `_settings.scss` assign a color to `$table-head-background`
2. Assign a **different** color to `$table-foot-background`
3. Create a table with a `thead` and a `tfoot` section.

**What did you expect to happen?**

Header and footer should have the two different colors assigned before.

**What happened instead?**

Header and footer have the same color: the h

[2016-05-18 13:07] travlos commented on #8333
Did you find any solution for this? I am facing the same problem using orbit slider inside an accordion,

[2016-05-18 14:54] isomis opened #8803 "Making off-canvas smooth with fixed header"
I have a problem with this url: [https://www.dutchbridge.nl/nl](url)

When you are in mobile view and you hit the menu button, the off canvas shows. The problem is that the header is fixed, so the header don't move smoothly to the right.

You see for example the logo jumping to the correct position. What kind of solution is possible?

[2016-05-18 18:03] jsilver951 commented on #8684
This is how I addressed this on a recent project.

`
$('*[data-equalizer] img').on('load', function() {
    new Foundation.Equalizer($("body"));
    // console.log("Equalizer after image loads");
});
`

[2016-05-18 18:13] fluxxus opened #8806 "Shouldn't the custom download contain only checked items?"
I went to download only the flex grid, checking only flex grid from all the available options.

Out of curiosity, why did the downloaded CSS contained normalize, type presets, animation classes?

I am not complaining, it is not hard to remove those styles and leave only the flex grid, but it would be much nicer if the downloaded package contained only the checked items.

[2016-05-18 18:36] colin-marshall commented on #8645
@gehasia did we forget to revert this?:
https://github.com/zurb/foundation-sites/blob/develop/js/foundation.sticky.js#L218

I'm still seeing the "jerky" transitions in the sticky docs for the sticky nav example.

[2016-05-18 19:49] colin-marshall commented on #8806
@Madebym normalize is a requirement for all Foundation components so it's included by default as a dependency on all customizer downloads. The point of customizer is so that you can select components and download a zip that allows you to be up and running right away.

The flex-grid, as far as I know, is not dependent on the animations classes so those do seem out of place in your download. #7033 i

[2016-05-18 19:52] colin-marshall commented on #7033
@kball: If I download only the flex-grid in the customizer with everything else unchecked I get the animation classes too. Is this a customizer bug or do these come standard in every customizer download? See #8806.

[2016-05-18 20:02] kball commented on #7033
@colin-marshall good question.  Looking at the template being used, it appears motion-ui transitions and animations are currently always being included, so this appears to be the intent. I'm not sure why - this seems like something that should be optional - So we could accept a PR that moved those from being a standard part of the template (see `SASS_TEMPLATE` variable in `customizer/lib/sass.js`)

[2016-05-18 20:54] ahmetabdi commented on #8333
Same just trying to call reflow on `document`

[2016-05-18 22:20] mparker11 opened #8810 "Accessibility issue with Dropdown"
I'm not able to make dropdown menus appear once focused on it with a screen reader, using any screen reader for Windows and Macs. I can reproduce it on the documentation site as well.

http://foundation.zurb.com/sites/docs/dropdown-menu.html

If you go to that page, and use the screen reader's mapped keys to navigate to the example dropdown menu, you'll see that on focus (when the screen reader re

[2016-05-18 22:43] dvolz opened #8811 "[Foundation for Sites] 1023px IE Breakpoint Bug"
**How can we reproduce this bug?**
1. Open IE 10 or 11 or Edge
2. Use foundation visibility classes
3. At 1023px wide you will see both `.hide-for-large` and `.show-for-large` classes.

**What did you expect to happen?**
Only one or the other to show up.

**What happened instead?**
Both showed up.

**Test case:**
http://codepen.io/penia/pen/yOdyeP

[2016-05-19 02:49] umphy opened #8812 "Nested reveal with data-multiple-opened="true" has wrong z-index"
**How can we reproduce this bug?**
1. Use the nested example from Foundation docs: http://foundation.zurb.com/sites/docs/reveal.html
2. Reverse the order in which the `divs` are defined
3. For the nested modal, add the attribute `data-multiple-opened="true"`

**What did you expect to happen?**

I expected the nested modal to appear on top of the first modal.

**What happened instead?**

The nested

[2016-05-19 05:49] umphy opened #8813 "label cursor: pointer"
**How can we reproduce this bug?**
1. Surround an `<input type="checkbox"/>` in a `<label>`

**What did you expect to happen?**

I expect when mouse hover over label text, the cursor will change to a pointer.

**What happened instead?**

The cursor did not change to a pointer.

**Test case:**

https://jsfiddle.net/mggnfpao/

[2016-05-19 07:39] qusqui21 opened #8814 "Reveal close when i use .replaceWith or .html (works on 6.1.2)"
Its strange error couse its only appear in some situation.
I have reveal, that on first click do
$(document.body).append(compiledHtml).foundation();
$('#divId').foundation('open');
on second, it do
$('#divId').replaceWith(compiledHtml).foundation();
and it close modal without any error, but the strange thing is that its only do it on 5/6 appends, with datapicker it reload normal. I can't use versi

[2016-05-19 12:49] shishircoolin commented on #8811
Hi @dvolz,
This happens as IE rounds off to to 2 decimal places. So for **@media screen and (min-width: 64em)**(1024px), IE calculates it rightly to 1024px and for **@media screen and (max-width: 63.9375em)**(1023px), IE truncates it to 2 decimal places only considering **max-width: 63.93em**(1022.88px). So when you are at 1023px there is no style applied on IE Browser. You can find more info over

[2016-05-19 15:01] dlewand691 opened #8815 "Wacky font-family spec'd"
Discovered this when using cssstats.com.

`.foundation-mq {
  font-family: "small=0em&medium=40em&large=64em&xlarge=75em&xxlarge=90em"; }`

Being used in these files:

- bower_components/foundation-sites/dist/foundation-rtl.css
- bower_components/foundation-sites/dist/foundation-flex.css
- bower_components/foundation-sites/dist/foundation.css

Should be set to what?

[2016-05-19 15:39] denisahac commented on #8815
Some of the Foundation javascript components rely on media query and since the custom media queries are generated using SASS it needs a way for the javascript to read the user defined MQ.

When you call the `$(document).foundation();` one of its objectives is to create a custom element with a class of `.foundation-mq` it then reads by `foundation.util.MediaQuery.js` to extract the breakpoints.

Se

[2016-05-19 15:53] denisahac commented on #8813
The problem with the later part when we implement the `cursor: pointer` is that the checkbox/radio is affected by the style. The default implementation is to only change the cursor of the label when the checkbox/radio is a sibling of the element.

How about we change the implementation a bit, instead of label we'll do custom cursor on the label and checkbox/radio input. What do you think?

[2016-05-19 17:13] dvolz commented on #8811
Thanks for the explanation @shishircoolin - that was super helpful. Hopefully they come up with a fix for this.

[2016-05-19 19:19] planetmalone commented on #8802
+1

[2016-05-19 19:58] cxj opened #8816 "[Responsive Navigation] First example fails on Safari 9.1.1"
**How can we reproduce this bug?**
1. Step one - view this page in Safari 9.1.1.
2. Step two - resize browser window smaller than larger.
3. Step three - see the problem.

**What did you expect to happen?**

Expected menu to change to vertical on small (it did) and then back to horizontal on large.

**What happened instead?**

Small window correctly has vertical menu, large window shows item 1 and

[2016-05-19 21:35] jellisii opened #8818 "[Switch] size does not match label when using input-group"
**How can we reproduce this bug?**
Use the switch with a input-group.

**What did you expect to happen?**
I expected the switch height to be the same as the label height.

**What happened instead?**
The above was not true.

**Test case:**
http://codepen.io/anon/pen/BKgdvR

[2016-05-19 23:08] umphy commented on #8813
Sure, I don't have any preference on how it's implemented as long as the behaviour is what's expected :)

[2016-05-20 02:33] weiserma opened #8819 "[Button Group] Stacked - when using stacked-for-small not stacked last button appears larger"
**How can we reproduce this bug?**

1. Goto http://foundation.zurb.com/sites/docs/button-group.html
2. large or medium screen

**What did you expect to happen?**

All buttons should appear the same height

**What happened instead?**

Last button has different color bottom border

**Test case:**

N/A

- [CodePen with Foundation 6 and MotionUI](http://codepen.io/rafibomb/pen/xVVGOB)
- [CodePen with

[2016-05-20 05:06] tbredin commented on #8768
Amazing! Looks great

[2016-05-20 10:26] carlosms opened #8822 "Foundation6 reInit with jQuery selector does not work for abide plugin"
**How can we reproduce this bug?**

1. Append a new required input to a form
2. Call reInit with a jQuery selector parameter, as documented here:
http://foundation.zurb.com/sites/docs/javascript.html#adding-content-to-plugins
3. Submit the form

**What did you expect to happen?**

The new required input should be invalid if it's empty

**What happened instead?**

The input is not validated

**Test

[2016-05-20 13:02] Madebym commented on #8806
@colin-marshall Yes, I get the point of customizer, that is why I wanted only the flex-grid.

One correction to my initial message, Normalize is included(I understand that it is a dependancy), there are no typography presets, but the animation classes are definitely there.

So, the only intruder are the animations.

[2016-05-20 17:33] jinch commented on #7252
Still not fixed... menu top-bar is still flashing 6.2.1 / the .no-js solution did not work for me either. Nothing but bad experience with F6 'ainsophical' hit the nail on the head. This frame work does not seam stable.

[2016-05-20 20:03] thisisblacksmith opened #8823 "data-equalizer-mq not functioning"
**How can we reproduce this bug?**

1. Use data-equalizer and data-equalizer-mq="medium-up" on the parent row and then data-equalizer-watch on child columns using the latest Foundation and Equalizer files

**What did you expect to happen?**

Height to stop being set on mobile.

**What happened instead?**

Nothing. Equalizer continues to set height, ignoring the -mq option

**Test case:**

http://c

[2016-05-20 20:51] designerno1 commented on #8823
according to the docs http://foundation.zurb.com/sites/docs/equalizer.html#js-options
have you tried `data-equalize-on="medium"` or `data-equalize-on-stack="false"`

[2016-05-20 22:17] thisisblacksmith commented on #8823
Yep that's it. Thanks. I was pulling data-equalizer-mq from Foundation 5.

[2016-05-20 22:17] #8823 closed

[2016-05-21 09:33] designerno1 commented on #8819
this should be fixed in #8445 in develop branch and in v6.2.2 coming soon

[2016-05-21 18:29] shlag3n opened #8824 "[Sticky] Doesn't calculate width and some other css properties properly at Opera"
Affected at least on Opera/9.80 (X11; Linux x86_64) Presto/2.12.388 Version/12.16
CSSStyleDeclaration doesn't support [] operator.

That means that lines like here - https://github.com/zurb/foundation-sites/blob/develop/js/foundation.sticky.js#L274:
`comp = window.getComputedStyle(this.$container[0]),
pdng = parseInt(comp['padding-right'], 10);`
will give us pdng = undefined.

To make it work it's

[2016-05-21 18:34] shlag3n opened #8825 "[Sticky] Wrong default value for data-check-every at documentation"
Default value for `data-check-every` is declared as 50 at http://foundation.zurb.com/sites/docs/sticky.html#js-options.html#js-options, but is -1 at plugin code.

[2016-05-21 21:15] Silvester20 opened #8826 "[Drilldown] - Back button in data-options not working?"
I was trying to convert an older [example](http://codepen.io/rafibomb/pen/mVwwRW) of @rafibomb from overriding the default to using data-options.

But maybe I did something wrong or there is a bug in changing the text of the back button **using data-options**. Can some take a look at the following codepen and tell me why it is not working?

http://codepen.io/anon/pen/jqgEGm

[2016-05-21 21:42] shlag3n opened #8827 "[MediaQuery] Doesn't initialize as it's supposed at Opera (Linux)"
**How can we reproduce this bug?**
1. Open any foundation (6.2) site at Opera (tested on Opera/9.80 (X11; Linux x86_64) Presto/2.12.388 Version/12.16)
2. Check value of `Foundation.MediaQuery.queries` and `$('.foundation-mq').css('font-family')` (where it's initialized from)

**What did you expect to happen?**
Extracted styles from `$('.foundation-mq').css('font-family')` should be like at other b

[2016-05-21 23:57] Joseluisblom opened #8828 "Fouc Orbit 6"
hi, i can see each image above others for a brief second when i reload my website using orbit, i'm using the same code of foundation docs, this: http://foundation.zurb.com/sites/docs/orbit.html

how can i avoid fouc in orbit? regards

[2016-05-22 05:28] denisahac commented on #8826
You're using the **data-options** in the wrong way, try the example configuration below, it should work.

`<ul data-back-button='<li class="js-drilldown-back"><a>Custom back text</a></li>'>`

[2016-05-22 06:27] isomis commented on #8803
anybody?

[2016-05-22 09:03] nachtwandler commented on #8803
Hi,
you could try to use the sticky plugin instead of position: fixed. Haven't tested, but maybe it works nicer with the offcanvas menu.

[2016-05-22 14:50] designerno1 commented on #8827
checket it in opera 37.0.2178.43 windows
there the media query is correct

[2016-05-22 14:52] Silvester20 commented on #8826
Thanks for the quick answer and providing the solution. Now it does work indeed!

[2016-05-22 14:52] #8826 closed

[2016-05-22 15:43] shlag3n commented on #8827
Cool, checked it on Mac - Opera 37.0.2178.43, Mac OS X 10.7.4 64-bit
The media query is correct too.

[2016-05-22 16:02] shlag3n commented on #8827
Opera/Opera Mini on Adnroid 4.4 is obviously fine too (used this - http://codepen.io/anon/pen/reXLyL to check it).
So it seems that this issue is only about Opera on Linux (tested on Ubuntu 14.04 64 bit), changed title accordingly.

[2016-05-22 17:51] designerno1 commented on #8822
Hi,
i think because you wan't to reInit the form you have to pass  the form to the reinit function because the plugin is on the form element
`Foundation.reInit($("[data-abide]"));`
https://jsfiddle.net/mLrcozak/3/

[2016-05-23 07:51] sickdaflip commented on #8221
+1

[2016-05-23 11:00] carlosms commented on #8822
You are right. It makes sense now that I see an example, but it wasn't obvious by reading the docs only.

Thank you!

[2016-05-23 11:00] #8822 closed

[2016-05-23 16:06] brettsmason commented on #8766
Closing this as it has been answered. Any problems though feel free to re-open this issue.

[2016-05-23 16:06] #8766 closed

[2016-05-23 16:12] brettsmason commented on #8815
As @denisahac kindly pointed out, this is created by the 'foundation.util.MediaQuery.js' and is used to list the breakpoints. Closing this as its been answered, but feel free to re-open if you have other issues.

[2016-05-23 16:12] #8815 closed

[2016-05-23 16:22] brettsmason commented on #8819
As @designerno1 pointed out this has been fixed in the develop branch and will be included in 6.2.2 due for release soon. I'll close this for now, but if you experience the issue after 6.2.2 please re-open this!

[2016-05-23 16:22] #8819 closed

[2016-05-23 16:27] brettsmason commented on #8816
@cxj Thanks for the bug report. Could you confirm which example it is you are seeing this on - is it the very first example below [here](http://foundation.zurb.com/sites/docs/responsive-navigation.html#responsive-menu)? (the one without any dropdowns etc).

[2016-05-23 17:28] denisahac commented on #8825
The inconsistency points out to this [line:443](https://github.com/zurb/foundation-sites/blob/develop/js/foundation.sticky.js#L443) of `foundation.sticky.js`. The docs generator reads the value in the **@example** while the hard-coded value for `checkEvery` is -1.

What value should be consider the default?

[2016-05-23 18:05] acarnwath opened #8832 "Magellan Default Documentation Incorrect"
The documentation for magellan states the following are the default values:
- data-animation-easing: ease-in-out
- data-deep-linking: true
- data-bar-offset: 25

However, based on the code (below), it appears as though those are example values and the values are in fact:
- data-animation-easing: 'linear'
- data-deep-linking: false
- data-bar-offset: 0

[code]

[2016-05-23 19:32] johnbacon opened #8833 "Fix input-group-label's border-radius when input-group-label is the last child"
Foundation properly applies border-radius to an `input-group-label` as the first child of `input-group-field`, but when `input-group-label` is the last child of `input-group`, no border-radius is applied.

Working properly as `:first-child`:
![](http://i.imgur.com/hI5ihF8.png)

Working improperly as `:last-child`:
![](http://i.imgur.com/wc3dFwS.png)

Intended behavior as `:last-child`:
![](http://

[2016-05-23 23:48] nbankzy commented on #8357
+1 facing the same issue, running on safari it works.

[2016-05-24 00:48] umphy opened #8834 "jQuery 3 support request"
This is not a bug, but a question / request.

Are there any plans in the near future to support jQuery 3 given that RC1 was just released recently? jQuery 3 has the same IE support (9+) as Foundation 6, so it would seem a good fit.

[2016-05-24 04:55] IamManchanda commented on #8834
+1

[2016-05-24 05:00] mrtpain opened #8835 "[Orbit] Orbit-Container, Orbit-Slide height"
**This can be reproduced by viewing any orbit slider on foundation 6.2.1**

**What I expect to happen**
As the browser window scales up and down, the aspect ratio of the slides and content should remain the same. Instead, the width scales perfectly and the height is set at whatever the document loaded at initially.

**What actually happens**
On document load, the height of the slider is added to t

[2016-05-24 08:02] DaSchTour commented on #8834
But I think this should be optional. For bigger projects it's not easy to move to jQuery 3.

[2016-05-24 13:07] krishkrush commented on #6521
Is there an update to this?  We are looking for the same feature to delay the time it takes before the menu appears on hover.

Cheers,

[2016-05-24 14:06] ahebrank commented on #6870
From my note on http://foundation.zurb.com/forum/posts/24414-offcanvas-not-working-in-ie11

In the F5 [off-canvas documentation](http://foundation.zurb.com/sites/docs/v/5.5.3/components/offcanvas.html#inner-wrap), they use a `<main>` semantic tag for the .inner-wrap container.  The problem is [IE11 doesn't fully support this tag](http://caniuse.com/#feat=html5semantic) (see note 2), so the fix is

[2016-05-24 14:30] hylke94 commented on #8413
Any progression on the list above? I need #8409 to be fixed soon...

[2016-05-24 15:40] dlewand691 commented on #8815
Ah, thanks for the clarification, I'll ignore.

[2016-05-24 15:43] antopossegithub opened #8836 "[Off-canvas] Fixed menu navigation"
Hi, I'm an italian webdesigner and I've this problem,

At present there is no way to fix this thing. I believe you need to create a useful command to resolve this thing, so you can choose whether to leave the menu as it is now, or to follow navigation
Give us a link to a CodePen or JSFiddle that recreates the issue.

Sorry for my english...

- [CodePen with Foundation 6 and MotionUI](http://codepe

[2016-05-24 15:49] antopossegithub commented on #7842
???

[2016-05-24 16:09] informaticphp commented on #8828
btw i'm using Flex grid

[2016-05-24 16:10] Joseluisblom commented on #8828
btw i am using Flex-grid

[2016-05-24 17:41] coachie opened #8837 "[Visibility Classes] ISSUE NAME HERE"
**How can we reproduce this bug?**
1. http://foundation.zurb.com/sites/docs/visibility.html states following:
   "_Visibility classes use !important to ensure they aren't overriden by more specific selectors. This is the only component in the framework that uses !important_."
2. http://foundation.zurb.com/sites/docs/drilldown-menu.html uses !important as well. Like:
   .is-drilldown li {
   displa

[2016-05-24 18:46] yeomann opened #8839 "Orbit JS didn't work in fullpage JS"
Orbit js is so buggy, First, upon using orbit js with fullpage js all worked in the start and everything was fine, until, I tried to resize the browser and play with responsiveness and then orbit container was gone :anger: Mind that i was doing this in win 10 chrome and was using FoundationPress template for wp. It was so frustrating. I couldn't see my slider. Whole slider was just fade away. One

[2016-05-24 18:56] danjames68 commented on #6148
Upgrading sass-rails to 5.0.1 worked for me.

[2016-05-24 19:00] yeomann opened #8840 "No sprites support in foundation environment a.k.a gulpfile"
I just wonder why foundation setup didn't include or come with built-in sprite support. Any chance you guys will include in future releases or?
By the way, if by chance anyone reading this i will show the code that i wrote and it is working for generating sprites and sccs/css
add following in your package.json
[code]
and this bit in foundation gulpfile.babel file
[code]
after doing all of this haz

[2016-05-24 19:09] superchap opened #8841 "[Top Bar] Foundation Site 6.2.1 NOT WORKING AS ADVERTISED"
**How can we reproduce this bug?**

1. CREATE index.html file and put in your code as follows ...

a) take your recommended code from here --> http://foundation.zurb.com/sites/docs/installation.html "HTML Starter Template"
(see 1st attached image: 'Github - Top Bar issue - 1 - HTML starter template code.jpg') and then

b) take your recommended from here --> http://foundation.zurb.com/sites/docs/to

[2016-05-24 19:40] tinyfly commented on #8057
@gakimball I can provide some details.

Here is the working css (un-minified version) for the arrow:

[code]

Here is the broken css (minified version):

[code]

[2016-05-24 20:18] micschk opened #8843 "dropdownMenu.js forceFollow docs incorrect & code not working"
The forceFollow option in foundation.dropdownMenu.js allows forcing links to be followed on touch devices (instead of opening their dropdown and being followed on second click).

The docs say it is FALSE by default, while it actually is TRUE by default (it's just not working).

forceFollow is never considered in the JS code because it is only checked on second click (after the first 'hasClicked'),

[2016-05-24 21:41] daren8888 commented on #7252
what's your site?

On Fri, May 20, 2016 at 10:34 AM, jinch <notifications@github.com> wrote:

--
Thank you!

Daren Barry
President

Web 4U Inc
PO Box 698
Capitola, CA 95010

(831) 854-2201 Office
(831) 607-8888 Cell

www.web4uinc.com
Web 4U Inc helps small to medium sized businesses use their website to
grow, save money, and increase profits. We combine excellent customer
service from start to fin

[2016-05-24 22:19] denisahac commented on #8841
I think the issue is not having the correct URL referenced to the `foundation.min.js`. As you can see in your directory structure the `foundation.min.js` is located in `js/vendor/` directory.

So the correct script for referencing the `foundation.min.js` is:

[code]

Instead of
[code]

Also, please check the **console tab** for any 404 resources that are related to **Foundation**.

I hope that hel

[2016-05-25 01:31] jinch commented on #7252
Hi Daren, the problem turned out to be (modernizr.js) witch is no longer needed in F6. Once i removed the .nojs hack worked for me.

[2016-05-25 01:47] daren8888 commented on #7252
Roger that! Ya I have to say the docs (what's required for F5 vs F6) aren't
really clear.... And why can't they stick all the JS in one file???? And...
Label it F6.0.5 or F6.1.x or F6.2.1?

Sent from my iPhone

On May 24, 2016, at 6:32 PM, jinch <notifications@github.com> wrote:

Hi Daren, the problem turned out to be (modernizr.js) witch is no longer
needed in F6. Once i removed the .nojs hack wo

[2016-05-25 02:47] superchap commented on #8841
Brilliant! Thank you SO MUCH!!!
I have to run, but will be back.

[2016-05-25 02:47] #8841 closed

[2016-05-25 07:27] matanster commented on #8043
That is a a pretty large example. Can anyone please elucidate, what is necessary for the button to close, apart from the trivial button definition in the html:

[code]

I am using foundation 6.2.1.

[2016-05-25 07:30] matanster commented on #7096
Well then, how does one make it "not static", but actually working? :)

[2016-05-25 12:21] nessthehero opened #8845 "Add setting variable for cite ::before content"
Can the content for the ::before for the cite element in typography/_base.scss be specified with a variable, so that we can set an override?

Yes, I can just change it easily in my CSS, but it'd be nice to just be able to set a variable and have the default style be what I want from the start.

[2016-05-25 12:45] darrensapalo commented on #7252
Removing modernizr.js fixed the desktop FOUC, and using the css styling code below fixed the responsive FOUC for me. Thanks @jinch !

[code]

[2016-05-25 12:58] misteryyy commented on #7759
Is there any update to this? :)

[2016-05-25 13:51] sujayjaju opened #8846 "[Slider] Two handle mode not initializing properly when data-start is not zero"
**How can we reproduce this bug?**
1. Set the data-start and data-end to 50 and 150
2. Set the initial data to these values as well

**What did you expect to happen?**
The gray fill bar is supposed to stretch till the end

**What happened instead?**
The gray fill bar stops mid way

**Test case:**
Checkout the code pen: http://codepen.io/sujayjaju/pen/EyYNZM

[2016-05-25 14:13] jgacuca567 opened #8847 "Create a Page, Showing how to prevent the import util error"
@rafibomb
@gakimball

I am requesting you create a page showing how to solve the error
[code]

I have seen this question on the forum multiple times and there seems to be no answer when installing with `bower`.

Please create an example page showing the steps that should be taken if that error occurs.

[2016-05-25 15:42] magic-77 opened #8848 "Error: argument `$list` of `nth($list, $n)` must not be empty"
Hi to all,
running into an issue i can't solve.

Doing an Import with
@import "foundation";
results with this Error Message

`Error: bower_components/foundation-sites/scss/util/_breakpoint.scss
Error: argument `$list` of `nth($list, $n)` must not be empty
        on line 23 of bower_components/foundation-sites/scss/util/_breakpoint.scss

   ----^`

I'm using a simple Gulp Workflow using "node-sass

[2016-05-25 15:42] tinyfly commented on #8057
Okay, I've narrowed it down to one of the cssnano options. Laravel's Elixir uses cssnano which it looks like that is what foundation-sites uses in their build setup too.

Set `mergeRules: false` to get the arrows to show properly once minified.

[2016-05-25 16:24] nicwinn opened #8849 "[Equalizer] data-equalize-on medium is not default"
**How can we reproduce this bug?**

1. Step one: Implement an equalizer row.
2. Step two: Add data attribute `data-equalize-on`

**What did you expect to happen?**
Since the default for `data-equalize-on` is `medium` I expect equalizer to not fire on `small` but wait for the `medium` breakpoint.
**What happened instead?**
Nothing changes. `small` continues to equalize.
**Hack**
Just as it is in th

[2016-05-25 18:22] cxj commented on #8816
Yes, that's the one (first example on page you linked).

[2016-05-25 18:49] johnbacon opened #8851 "[Input Group] Flexbox input group overflows the width of parent containers"
The flexbox input group overflows the width of any parent container that is smaller than the input group thinks it should be.

Desired behavior (`max-width: 120px;`):
![](http://i.imgur.com/r6MiI96.png)
Actual behavior (`max-width: 120px;`):
![](http://i.imgur.com/GbeQZlu.png)
Here is a Codepen that demonstrates the issue and includes a fix: http://codepen.io/johnbacon/pen/xOKdNG

The root cause i

[2016-05-25 18:53] johnbacon commented on #8833
After re-reading, I now notice the `Working properly as :first-child` example actually isn't applying the proper border-radius to the top-right and border-radius-top-bottom either.

[2016-05-26 14:05] Knight-Yoshi opened #8855 "Top Bar issues"
Seems using flexbox with the top bar has a little bit of an issue when resizing, once it's under 1100 the right bar starts to cover up links on the left that do not have a sub-menu

<img width="1072" alt="screenshot 2016-05-26 10 00 46" src="https://cloud.githubusercontent.com/assets/6134576/15577022/bfdbcfc0-2328-11e6-85fa-e6bdf30eb67d.png">
http://codepen.io/KnightYoshi/pen/VjZBBr

Around 860 th

[2016-05-26 14:27] Almodovar opened #8856 "Parnini pages and partial"

[2016-05-26 17:32] JU5TY opened #8857 "Block Grid Gutter"
In Foundation 6 you use the 'grid-layout' mixin for a block grid, but what controls the gutter? The child elements have no padding left or right?

This is my code:

[code]

[2016-05-26 20:06] #8856 closed

[2016-05-27 02:54] atilkan opened #8858 "Site is Down"
15 Mins. CloudFlare can't show it. They did not cache it probably.

[2016-05-27 03:06] kball commented on #8858
Rackspace has an outage at their entire DFW datacenter, and that is impacting the foundation docs and marketing sites.  We'll have them back up as soon as we can.

[2016-05-27 03:07] chrismacho commented on #7652
Nothing yet? ughhhhhh

[2016-05-27 03:17] jaysonbrown commented on #7652
@chrismacho ... hey, it doesn't have a call back but this works:

`
$(document).ready(function() {

	// Hash tab

	var link_tab = window.location.hash.substr(1);

	if (link_tab) {

		$('[data-tabs]').eq(0).foundation('selectTab', $('#'+link_tab));
	}

	// Select tab

	document.getElementById("tabs-mobile").onchange = function() {
    if (this.selectedIndex!==0) {
     tabs_selected = this.value;

[2016-05-27 03:19] jaysonbrown commented on #7652
Hey @chrismacho ... it doesn't have callbacks, but this works for me.

// Hash tab

var link_tab = window.location.hash.substr(1);

if (link_tab) {

	$('[data-tabs]').eq(0).foundation('selectTab', $('#'+link_tab));

}

// Select tab

document.getElementById("tabs-mobile").onchange = function() {
  if (this.selectedIndex!==0) {
   tabs_selected = this.value;
   $('[data-tabs]').eq(0).foundation('se

[2016-05-27 04:05] atilkan commented on #8858
Almost 2 hours. Still down.

[2016-05-27 04:08] atilkan opened #8859 "Responsive Table [scroll] shrinking"
Table width is shrinking after adding scroll class.

![capture](https://cloud.githubusercontent.com/assets/1254613/15597539/c202b8ca-23d9-11e6-9158-c6b762addd94.PNG)

[2016-05-27 08:07] brettsmason commented on #8858
Everything appears to be up and running again so closing this.

[2016-05-27 08:07] #8858 closed

[2016-05-27 08:11] brettsmason commented on #8859
@atilkan Can you provide a link to an example or a Codepen of this so we can take a better look?

[2016-05-27 08:34] brettsmason commented on #8848
@magic-77 Do you have a `$breakpoint` map in your `_settings.scss` file?
You should have something like this:

[code]
That error is basically saying your smallest breakpoint doesn't start at 0, but you have to include a breakpoint with a value of 0 for everything to work correctly.

If you can let me know and I can help further if needed.

[2016-05-27 08:52] brettsmason commented on #8847
@jgacuca567 Could you explain or link to an example forum topic with this issue?
I use Foundation with Bower and don't have a problem, but I'm happy to update the docs with an explanation if you could explain the issue some more.

Would showing an example Gulp task help here? All you should need to add to your Gulp Sass task is:

`includePaths: 'bower_components/foundation-sites/scss'`

But I coul

[2016-05-27 08:53] brettsmason commented on #8845
@nessthehero I agree with you on this. Could you put a PR together to fix this?
If not I'll see if I can put something together when I get time. Just let me know.

[2016-05-27 08:56] brettsmason commented on #8836
@antopossegithub I don't fully understand what you want to do. Is there any way you could link to example or explain in more detail so I can help out?

[2016-05-27 10:00] DaSchTour commented on #8845
If help is needed just tell me. I'll find some time to make a PR.

[2016-05-27 10:10] magic-77 commented on #8848
yes there is such a map. I just copied the Original _settings.scss into my Project Folder and included it.

    // --------------
    $breakpoints: (
       small: 0,
       medium: 640px,
       large: 1024px,
       xlarge: 1200px,
       xxlarge: 1440px,
    );
    $breakpoint-classes: (small medium large);

I'm using a custom Gulp Workflow like this

		  'bower_components/foundation-sites/scss

[2016-05-27 10:21] magic-77 commented on #8848
ok, got it.
I've mixed Foundation and Susy 2 Framework. So including Foundation Mixins before Susy will work for me now.

[2016-05-27 10:28] nessthehero commented on #8845
I will try to whip something up!

[2016-05-27 10:36] brettsmason commented on #8848
Great glad you got everything working :smile:

[2016-05-27 10:36] #8848 closed

[2016-05-27 11:37] brettsmason commented on #8857
@JU5TY So the `grid-layout` mixin is a simple mixin to just output the code needed to layout the elements in that number of columns, as you said it doesn't add any padding.

To do this you would probably need to write something like:
[code]
This is assuming you wanted to remove the left/right padding on the edge `li` elements, if not remove the `$behavior: nest` from the above code.

Does that hel

[2016-05-27 12:27] JU5TY commented on #8857
Thank you for your response @brettsmason.

That makes sense, although when I used your example the blocks stacked up full width, it only worked when I defined the grid-layout after assigning the columns to the list items (see below), does that seem right?

[code]

[2016-05-27 12:38] brettsmason commented on #8857
@JU5TY Hmm you are right actually after looking at the generated code.
The issue is `grid-col()` is outputting the widths as well as the padding, which you don't want. Ideally what you need in this situation is a `grid-col-gutter()` mixin that outputs just the gutters, but at the moment that doesn't exist (might be worth adding though).

Try something like this and let me know if this works correc

[2016-05-27 13:00] JU5TY commented on #8857
It does work, but not perfectly.

My medium gutter is set to the standard 30px.

When working correctly, I get 15px left and 15px right padding on each li, and a -15px left and -15px right padding on the ul.

Your latest example adds 30px left and 30px right padding to each li, the blocks aren't inline with the rest of the grid because it doesn't have the minus padding on the ul.

I could obviousl

[2016-05-27 13:32] brettsmason commented on #8857
@JU5TY Sorry my fault, I forgot to divide the gutter, it should of been:

[code]

You are right though that its a bit long winded. What do you think would be the best solution? I'm thinking a new option to the `grid-layout` mixin to include required padding.

[2016-05-27 14:40] antopossegithub commented on #8836
Yes :) I'm sorry for my English...it's not perfect!

So.... If you go here [http://foundation.zurb.com/sites/docs/off-canvas.html#multiple-menus](http://foundation.zurb.com/sites/docs/off-canvas.html#multiple-menus)
• click OPEN MENU LEFT
• you can see that the menu is fixed on top and for find it you must go on the top of the page.

I think it is a problem and the solution is to make sure that it

[2016-05-27 14:41] brettsmason commented on #8857
@JU5TY I've worked on adding an extra option to the `grid-layout` mixin as it sounded useful to others. It works by taking either a number/pixel value, or passing in the `$grid-column-gutter` as the value. This then gives you the same padding as columns. I'll try and get a PR up later - if you are able to test it that would be great.

[2016-05-27 15:08] brettsmason commented on #8836
@antonioparisi Great thanks for the explanation! :smile:
I was actually working on a way to change this a few days ago. Do you mean [like this?](http://codepen.io/brettsmason/pen/WxeeNO).

[2016-05-27 15:10] atilkan commented on #8858
Why this things happening? This is not the first time i come across.

[2016-05-27 15:30] antopossegithub commented on #8836
Thank you so much @brettsmason this is just what I needed.
😄😄😄😄😄

[2016-05-27 15:36] brettsmason commented on #8836
@antopossegithub Great!
I'll keep this open as I'll put a PR together to make it work like this in core.

[2016-05-27 15:49] atilkan commented on #8859
Here
http://codepen.io/atilkan/pen/jrOERy

[2016-05-27 15:50] rafibomb commented on #8849
Looks like there is a conflict of default settings.

<img width="811" alt="screen shot 2016-05-27 at 8 36 20 am" src="https://cloud.githubusercontent.com/assets/5652085/15613236/62a5a9e2-23e7-11e6-93c2-bad440fba4a5.png">

If you add `equalize-on-stack="false"` it should do it. And we'll change the default setting to reflect that to reduce this confusion.

[2016-05-27 17:27] JU5TY commented on #8857
Sounds great @brettsmason, kind of you.

[2016-05-27 19:45] waleedka commented on #8834
At the very least, Foundation should stop using deprecated functions. We tested jQuery 3.0RC on our site but got errors in Foundation because it's still using .load() event handlers that have been deprecated since jQuery 1.8.

https://api.jquery.com/category/deprecated/

[2016-05-27 20:34] peacechen opened #8861 "wrong repo -- delete me"
sorry wrong repo

[2016-05-28 02:30] Joseluisblom commented on #8828
please somone there? still can't solve the problem : (

[2016-05-28 12:56] davebatt commented on #7078
Maybe cli arrows work fine on a Mac but I haven't gotten them to work on PC. I was using git bash as my cli and nothing in the foundation setup worked other than enter, so all I could setup was a default foundation for sites project.

I found a solution: **use the default windows cli ( run > cmd)**. The arrows still dont allow me to select up and down but now I can select different options by typi

[2016-05-29 00:32] atilkan commented on #8859
Can you please remove the label "awaiting reply".

[2016-05-29 17:43] jaysonbrown commented on #7652
I really need to figure out callbacks, I use them too much in foundation 5. :(

[2016-05-30 08:29] brettsmason commented on #8859
@atilkan The only issue I can see is adding this class stops the table being 100% width. Is this the issue you are having? More detail would help.

[2016-05-30 08:50] atilkan commented on #8859
Yes, that is the issue.

[2016-05-30 15:02] Ne-Ne opened #8864 "Equalizer - No option for specific media queries"
Hi All,

Looking for a foundation solution, can we include support for 'only' breakpoints?

E.g.

[code]

This solution with give users the power to be specific range, in my case the page design needs to to be equal height for medium only. Large and small are completely different. The only solution is to use `!important` as an override which terrible to have to use..