[2016-11-11 17:35] kball commented on #7755
Off-canvas is being re-written for 6.3, would be good to see if this is addressed by #9357

[2016-11-11 17:37] kball commented on #7969
I believe this is connected to https://github.com/zurb/foundation-sites/issues/9047.  @colin-marshall when you take a look at that fix, can you check this one as well?

[2016-11-11 17:40] kball commented on #7821
This will be in v6.3, due out beginning of next month. You would implement by adding `data-auto-height="true"` to your drilldown menu.

[2016-11-11 17:40] #7821 closed

[2016-11-11 17:41] coreysyms commented on #9047
Marking this issue for the purposes of adding in a mutation event to Sticky, it won't fix all the issues, but it will give the plugin something to trigger off of. Tag #9320

[2016-11-11 17:46] memoht commented on #9293
@kball Just tested this out on my iOS devices and it appears to be working. Made sure to remove the workaround `"data-close-on-click-inside" => "false"` first. Thanks for your time and energy. Have a great day. LLAP +1

[2016-11-11 18:51] rafibomb commented on #9363
There is a slick hamburger mixin you can use for this: http://foundation.zurb.com/sites/docs/sass-mixins.html#hamburger

[2016-11-11 18:51] #9363 closed

[2016-11-11 20:46] andycochran commented on #8164
This is a great start, @brettsmason. Do you think it could be beneficial to abstract this function for purposes other than line height? Not sure what it might be used for. Might there might be a future case where we need to get a number based on a font-size? Maybe call it `unitless-value` instead of `unitless-line-height`. Maybe not; just a thought.

[2016-11-11 20:48] kball commented on #8768
#9025 has been merged, this issue can be closed.

[2016-11-11 20:48] #8768 closed

[2016-11-11 20:49] kball commented on #8754
I believe these have all been fixed in the latest versions of the template.

[2016-11-11 20:49] #8754 closed

[2016-11-11 20:50] kball commented on #8668
@andycochran were you going to take a look at this one?

[2016-11-11 20:52] kball commented on #8652
Closing this based on lack of response or repro case.  Please reopen if you are still running into this issue...

[2016-11-11 20:52] #8652 closed

[2016-11-11 21:21] andycochran commented on #8668
Yup. I was waiting on that fix for the responsive gutters regression. On it… 

[2016-11-11 21:39] andycochran commented on #8668
@ncoden Would you advise I use the following class instead of the nested, higher-specificity classes I proposed above?
[code]

[2016-11-11 23:07] kball commented on #8235
I believe this was resolved with https://github.com/zurb/foundation-sites/pull/9174

[2016-11-11 23:07] #8235 closed

[2016-11-11 23:53] Lindsor commented on #9285
@brettsmason Yeah changing it to min-height: 100% fixes the issue.

[2016-11-12 00:56] kball commented on #8665
I'm pretty confident this was fixed in 6.2.3, and I'm currently not able to reproduce, but if not please reopen.

[2016-11-12 00:56] #8665 closed

[2016-11-12 00:58] kball commented on #8664
@colin-marshall @EduardoAC what is the state of this? Did we come to a conclusion?

[2016-11-12 01:01] kball commented on #8577
closing based on the above conversatino.

[2016-11-12 01:01] #8577 closed

[2016-11-12 05:32] paxperscientiam commented on #9285
@Lindsor Defaulting to "auto" height can be problematic when images are involved; the height tends to "jump" to accommodate newly loaded images.

@brettsmason Putting aside the topic of offcanvas for the moment (just for the sake of putting together a minimally working example), using a height of 100% on short pages is problematic.

For example, using `min-height:100%` on `<main></main>` -- eg [th

[2016-11-12 05:33] sujayjaju commented on #9293
@kball Just for my reference, can you please point me to any docs on how to create a build to test? I should be able to contribute in a better way. I am new to the setup. Thanks!

[2016-11-12 08:44] metinglc commented on #7730
hi,

the problem continues in the last version.

my solution:
slider.js line 178

- dim = movement - (isNaN(handlePos) ? this.options.initialStart/((this.options.end-this.options.start)/100) : handlePos) + handlePct;
+ dim = movement - (isNaN(handlePos) ? ((this.options.end - this.options.initialStart) / 100) / ((this.options.end - this.options.start) / 100) : handlePos) + handlePct;

[2016-11-12 09:22] ncoden commented on #8668
@andycochran Yes.

.
.
.

*Thank you so much*.

[2016-11-12 10:17] brettsmason commented on #8164
@andycochran i actually thought about calling it 'unitless-calc'  to tie in with rem-calc. What do you think? If you reckon this is good to go I'll start putting everything together. What do you think about the base/global font size issue - introduce a new variable?

[2016-11-12 22:06] Lindsor commented on #9350
@losmicar @ncoden The pen provided uses foundation 6.2.1 the issue is is not present in 6.2.4
see:

http://codepen.io/Lindsor/pen/dOMRbv/

[2016-11-12 22:12] #9350 closed

[2016-11-12 22:23] Lindsor commented on #9292
@luisarriojas setting height to 100vh has a bug on android devices running chrome. The value of 100vh is different when scrolling up vs scrolling down because of the chrome menu drawer showing up. This makes the page "jump" and is super annoying.

[2016-11-12 22:25] Lindsor commented on #9285
@paxperscientiam I dont think im understanding the point of height: 100%. simply removing that completely seems to solve the issue and not introduce another bug.

[2016-11-12 23:03] andycochran commented on #8164
👍 `unitless-calc()`

[2016-11-12 23:10] andycochran commented on #8164
Doesn't this assume that the default font size of every browser is 16px?

[2016-11-13 02:34] Lindsor commented on #9352
Hey @happyimadesignr care to elaborate? The drilldown button links to within the same page within the dom so what would need to be pulled?

[2016-11-13 11:19] brettsmason commented on #8164
@andycochran So most of that code was taken from the `rem-calc` function which does the same. Seeing as thats how its already handled it I assumed this would be OK too. Also wondered if some of the checks should be extracted into their own smaller functions, but its probably OK as is.

[2016-11-13 18:14] colin-marshall commented on #9093
@ghost it is not a bug because what you are trying to accomplish is not currently how off-canvas was intended to be used.

As @andycochran mentioned, @brettsmason is refactoring off-canvas for v6.3 and this might be something you could accomplish with it, but he would have to speak on that.

[2016-11-13 18:23] brettsmason commented on #9093
@ghost I'd like to see if I can help with this. As has been said I have reworked off canvas and I think it's now a lot more flexible. I don't fully understand your issue yet, but I'll try and take a look at your demo and see it can be done in the new version.

[2016-11-13 19:35] brettsmason commented on #9093
@ghost @colin-marshall @andycochran turns out this is pretty easy in the new version (assuming I understood your demo).
Take a look here: http://brettmason.co.uk/offcanvas/9093/
It's not exactly right, but should give you an idea that the off canvas panels should work how you want them to.

[2016-11-13 20:00] brettsmason commented on #9285
@lindsor @paxperscientiam I cant comment too much on flexbox as I dont have much experience using it.
However the reason the html/body is set to 100% for off canvas is for a few reasons.

If the user has a shadow on the content (on by default) then you get a shadow appear underneath (see below). This could potentially be fixed by adding shadow to the off canvas panel as inset instead, though the e

[2016-11-13 22:46] colinmackinlay opened #9368 "[Drilldown] Submenus have stopped covering parent menus"
**How can we reproduce this bug?**

1. Create a 6 item menu
2. Create a 2 item submenu for item 1
3. Create a 1 item submenu for item 6

**What did you expect to happen?**
Submenu 1 or sub menu 6 should slide across and obscure whole of main menu. It behaves like this on codepen where foundation.min.css is 6.2.1

**What happened instead?**
Submenus obscure just part of main menu. You can end up wi

[2016-11-14 06:44] colin-marshall commented on #9093
@brettsmason that is sweet! Nice work!

[2016-11-14 13:12] karland commented on #8164
@brettsmason @andycochran Great stuff.

To test the end result, I have stated to think of how to produce a visual test for vertical ryhthm to see if all F6 elements eventually align to a vertical rhythm. However, I am not really sure how to deal with this in the current test environment. Currently none of the foundation visual test cases is generated on the fly. So, for the moment I have just come

[2016-11-14 16:26] simshaun opened #9370 "Broken "Tabs and URLs" example in develop branch's docs"
When working on #9369, I noticed this.. The example on Tabs -> Tabs and URLs is broken.

[2016-11-14 17:22] brettsmason commented on #9368
I can confirm this by creating a Pen: http://codepen.io/anon/pen/zoBKwE
@colinmackinlay If you could provide a Codepen of the issue next time that would be great.

[2016-11-14 17:55] Lindsor opened #9371 "Npm version old"
Hey guys,

more of a question / heads up.

I downloaded the latest version from npm and it doesnt have some of the fixes done a while back like the accordion title size but its there if you download from the site.

I was wondering if theres a reason? Or a release schedule for npm?

Thanks,

[2016-11-14 18:41] colinmackinlay commented on #9368
Thanks for taking the time to look @brettsmason. I didn't know how to change the css in codepen - I'll learn for next time!

[2016-11-14 18:46] brettsmason commented on #9368
@colinmackinlay no problems! I'll see if we can the default codepen changed too to the right version - @rafibomb

[2016-11-14 20:17] kball commented on #9371
Hi @Lindsor - the build for the download is slightly different than from npm (for example, the complete contains motion ui classes as well), but all of the fixes should be there... doing a check on a fresh npm install I don't see anything majorly off, can you highlight the exact issues you're seeing?  Also please make sure the version being installed by npm is in fact 6.2.4 (you can look inside th

[2016-11-14 20:26] kball commented on #9368
Looking into this.

[2016-11-14 21:24] kball commented on #8625
Closing this due to lack of reply. Please reopen if you have more info.

[2016-11-14 21:24] #8625 closed

[2016-11-15 00:33] kball commented on #9208
This has been implemented in #9324! Let me know if you run into any challenges or find things that feel missing.

[2016-11-15 00:33] #9208 closed

[2016-11-15 00:37] kball commented on #8256
I believe this has been resolved. Please reopen if you're still seeing issues.

[2016-11-15 00:37] #8256 closed

[2016-11-15 00:38] kball commented on #8292
Found this while triaging outstanding v6.3.  @andycochran do you have time to take a look?

[2016-11-15 00:40] kball commented on #8324
The dist components have been separated out, and as far as I know we've resolved the babel issues, so I believe this is closeable, but please reopen if you're still seeing problems.

[2016-11-15 00:40] #8324 closed

[2016-11-15 01:25] kball commented on #9368
This came from #8320... I think it will be addressed if we can get #9239 updated and merged. If @monosize doesn't end up having time to do that, I'll implement a quick fix for this instead.

[2016-11-15 07:06] jessepollak commented on #7386
I'm struggling with this issue as well. The `externals` solution didn't work for us!

[2016-11-15 10:39] iFarmGolems opened #9375 "Using Foundation 6 with requirejs"
Hello,

Is there a way to require foundation and get extended jquery along with Foundation variable?

My config file:

[code]

Thanks.

[2016-11-15 10:41] shtalinberg commented on #7386
In webpack.config

[code]

in  main.scss

[code]

React index.js  begin

[code]

I's work for us

[2016-11-15 11:03] ncoden opened #9376 "Inconsistency with error input background opacity"
In [scss/forms/_error.scss:46](https://github.com/zurb/foundation-sites/blob/a214c1b12f324ac84cce78908a68d37e1cae0621/scss/forms/_error.scss#L46), `@mixin form-input-error` (used by `.is-invalid-input` for the input error state) uses a partially transparent background.

This allows to use the `alter` color from the global color palette `$foundation-palette`, but it creates an inconsistency between

[2016-11-15 15:58] wgstjf opened #9378 "F6 Abide - force certain hidden field(s) to validate"
Hi guys,

Bit of a strange one this, not a bug, but instead trying override the default Abide behaviour.  I have some hidden fields such as the one below

[code]
These fields are auto-populated (via JS) based on a user's selection within a table of event classes.  I appreciate that the default behaviour of Abide is to ignore 'hidden' fields but is there any way to override this?  If not anyway to

[2016-11-15 16:49] brettsmason commented on #8164
@karland Sorry for the delay!

So firstly I have finally started work on this: https://github.com/brettsmason/foundation-sites/tree/vertical-rhythm

So far I have added the new map, and decided to add it in a format that matches the current setup. I also kept pretty much all your code as it was spot on - I just wrapped the values in `rem-calc` / `unitless-calc` where appropriate.

What I'm not sur

[2016-11-15 21:26] colin-marshall commented on #9047
@phifa have you tried this with v6.2.4? I noticed your example uses v6.2.1 and when I tried to reproduce with v6.2.4 it actually worked. If you wouldn't mind, could test with the latest version and confirm it works for you? Thanks!

[2016-11-15 22:54] kball commented on #9320
I'm going to take a look at this for slider and see if it will fix #8391

[2016-11-15 23:53] kball commented on #8391
So this isn't actually solved by adding the mutation observer, at least as currently instantiated, because in this case the parent is what is changing... we'd have to put an observer on every parent for hidden elements (see e.g. this pen: http://codepen.io/seantimm/pen/lDeCv/).  I think I see the reason this is failing though, so going to fix it as well as add the mutation observers.

[2016-11-16 00:04] kball commented on #8391
actually, I'm not sure the right way to fix this because it currently depends on dimensions that don't exist when the object is display: none; Do we think exposing `_reflow()` is sufficient and requiring the user to call it after unhiding?

[2016-11-16 00:32] colin-marshall commented on #7969
Closing this one out. I believe this was fixed in v6.2.2 by @gehasia. Feel free to reopen if you are still seeing this issue.

[2016-11-16 00:32] #7969 closed

[2016-11-16 00:33] colin-marshall commented on #9047
@phifa I'm actually going to close this for now because as far as I can tell it was resolved. Feel free to reopen if you can reproduce in 6.2.4. Thanks!

[2016-11-16 00:46] kball commented on #8791
I believe this was fixed by https://github.com/zurb/foundation-sites/pull/9298

[2016-11-16 00:46] #8791 closed

[2016-11-16 00:46] rlynjb opened #9380 "[Abide] ajax page reload issue for foundation 6"
Hi all,
So I followed the documentation for Abide version f6. Documentation can be found here: http://foundation.zurb.com/sites/docs/abide.html

After validation success, I want to submit my form via ajax to avoid page reload. I've used this

[code]

and I've added my ajax code inside

[code]

I've also defined by form with code below:
[code]

So what happens when form is submitted.. data goes thr

[2016-11-16 10:18] MaSchw commented on #9368
complement
Today i updated to firefox V50.0 and now drilldown menu don't work correct. All is showed as vertical list including the submenu. Explorer Edge work correct (but with the mentioned bug above).

[2016-11-16 11:40] justtobeok commented on #9047
Hey,
I hate to say it, but the problem seems to persist in 6.2.4.
I have setup an example here:
http://proflax-development.de/sticky-bug/

On first load it's all good, but after following the link at the top (revisiting the page and injecting the content in the main section) sticky is broken.
For test purposes, I have thrown in equalizer to verify the foundation call on the injected content is wor

[2016-11-16 14:02] diniscorreia commented on #9339
@kball oops! Took me a while, but just did.

[2016-11-16 15:43] Deckluhm commented on #9380
As described in [the same part of the documentation](http://foundation.zurb.com/sites/docs/abide.html#event-listener), you also need this event handler to prevent form from submitting:
[code]

[2016-11-16 17:03] coreysyms commented on #8391
I made some notes over on #9379, I believe that passing in proper CSS values on init() will fix this. You can see in @jspekken code pen that the "fill" bar does properly layout after being toggled from display none, it's the "handle" that needs to get that value as well.

[2016-11-16 17:06] kball commented on #8391
@coreysyms the tricky thing is that while fill can be a straight percentage based on value, the handle is "offset" by its size, which is determined by css and read by the JS... not sure how we can prefill that... we could do a 'rough guess' and not do the offset, but it will result in the layout being slightly different if its adjusted while the slider is hidden instead of visible.

[2016-11-16 17:55] kball commented on #9047
@colin-marshall based on the above I still believe relying on a one-off event handler to do some of the initialization is a mistake... I can see why it wants to run it again after full load, but maybe we can wrap that initialization in a function and call it both on init and then again in the handler?

[2016-11-16 18:25] karland commented on #8164
@brettsmason I have been working on the code, but cannot PR to your `brettsmason/foundation-sites/vertical-rhythm`-branch as this conflicts with my own fork `karland/foundation-sites`. @brettsmason @andycochran is it possible to make this a `zurb/foundation-sites/vertical-rhythm` branch?

[2016-11-16 18:28] brettsmason commented on #8164
@karland yes of course give me an hour to get home and I'll do that!

[2016-11-16 18:56] brandon-pereira opened #9385 "for:in loop not checking for own properties"
Step 1: Extend Array prototype
Step 2: Use interchange

**What did you expect to happen?**
Interchange works as expected.

**What happened instead?**
Interchange breaks.

Example of bug:
http://codepen.io/branclon/pen/bBwQLK?editors=1111

[2016-11-16 18:58] #9385 closed

[2016-11-16 18:58] brandon-pereira commented on #9385
Issue fixed in 6.2.4

[2016-11-16 19:14] paxperscientiam commented on #9292
@Lindsor Just curious, are you referring to `html,body{height:100vh}`?

[2016-11-16 19:17] colin-marshall commented on #9047
@kball I definitely agree and planned on changing that regardless. I just thought that this specific issue was resolved since I couldn't reproduce with 6.2.4 but obviously that isn't the case. I will make a visual test with @justtobeok's example and experiment later today.

@justtobeok thanks for testing and for the example! Very helpful.

[2016-11-16 20:11] brettsmason commented on #8164
@karland I've added the branch and pushed the changes I've made so far: https://github.com/zurb/foundation-sites/tree/vertical-rhythm

[2016-11-16 20:19] anselmdk commented on #9250
Finally following up on this (had to first figure out how to [add a pre-release via npm](https://docs.npmjs.com/files/package.json#github-urls)).
This looks great, see attached screenshot.

<img width="434" alt="screenshot 2016-11-16 21 16 19" src="https://cloud.githubusercontent.com/assets/1316533/20364138/48f31582-ac42-11e6-8440-26f1991e7dde.png">

(pringing https://github.com/zurb/foundation-si

[2016-11-16 21:29] karland commented on #8164
@brettsmason Excellent. Thank you. I have submitted a [PR #9386](https://github.com/zurb/foundation-sites/pull/9386).

 Now for the unitless-calc(), I am not sure, why your `unitless-calc()` would calculate unitless line-heights. This would mean that the `line-height` is relative to the font-size. I'd rather suggest to make line-heights in `rem`s. Or am I on the wrong track?

[2016-11-16 23:28] kball commented on #8391
Closing this as fixed based on #9379

[2016-11-16 23:28] #8391 closed

[2016-11-17 01:46] Lindsor commented on #9292
@paxperscientiam Yes. So android chrome factors in the url bar into the vh units. So

assume:

`screen size = 1000px`
`url bar = 100px`

When scrolling down the page the url bar disapears so the the value of `100vh` is:
`100vh = screen size = 1000px`

When scrolling up the page the url bar shows up so the value of `100vh` is:
`100vh = screen size + url bar = 1100px`

The switch from scrolling up /

[2016-11-17 07:29] jessepollak commented on #7386
After banging my head against the wall for hours, I finally figured out what was causing this issue for us. We were using both the `ProvidePlugin` and the `script-loader` at the same time. When we removed the following lines from our webpack config, it was resolved:

[code]

Hope this helps someone!

[2016-11-17 08:04] brettsmason commented on #8164
@karland Great I'll take a look later today at your PR.

The `unitless-calc` function was designed to return a unitless line height, as I believe this is the recommended way of giving a line height.

The function takes a base value (eg `$base-font-size`) plus a value you give it, and it returns the correct line height value based off those values. At the moment its set to `$global-font-size` as I

[2016-11-17 10:29] karland commented on #8164
@brettsmason Thanks. I understood the logic of the `unitless-calc()`, however, I struggled with the concept of how to apply it. This is why I believe we need the common test environment. Please let me know, if you get it to run.

My understanding of vertical-rhythm is that line-heights are always an integer multiple of a base-line-height across all elements. So an elements line-height does not dep

[2016-11-17 12:55] brettsmason commented on #8164
@karland Sorry I'm struggling for time as I'm going away for 3 days after today. However I'd still love to get this moving along and included in 6.3, though the deadline is next Thursday so we are pushing it a bit!
Do you have the available time to spend on it to get it into a good place? I can merge your PR into the `vertical-rhythm` branch if that will help the process.

I'm not sold on having l

[2016-11-17 17:49] andycochran commented on #8164
I'd stick with unitless line heights because of unforeseen inheritance issues. For now, we're just talking about adding `line-height` and `margin` to certain elements, we're not setting pixel-perfect vertical rhythm on every element. Right? I don't want to set the precedent of units on line heights. Child elements should compute their line heights based on their font size, as inherited values from

[2016-11-18 11:33] innowea opened #9390 "Dropdown Menu Hover Bug"
Hello,

After using Foundation 6 for around one month, I noticed couple of days ago a strange bug for Dropdown Menu. It happens just in certain situation: when hovering over menu items **faster than usual** and changing the focus on other menu items or other content on the site/browser.

It happens even on the Foundation 6 site, on Dropdown Menu page: http://foundation.zurb.com/sites/docs/dropdown

[2016-11-18 14:44] DaSchTour opened #9391 "Ship Typings with foundation-sites"
As the procedure for adding typings to DT is really time consuming you would like to suggest to ship typings for foundation within this package similar to moment.js
It's would be just adding the typings link to package.json
example: https://github.com/moment/moment/blob/develop/package.json

The currently best version can be found here: https://github.com/samvloeberghs/foundation-sites-typings

Wo

[2016-11-18 14:45] DaSchTour commented on #9086
Closing in favor of more specific change request #9391

[2016-11-18 14:45] #9086 closed

[2016-11-18 18:25] kball commented on #9320
Found a bug in drilldown menus (surfacing in responsive menus) that I believe mutation observers will fix.  Adding them.

[2016-11-18 19:31] kball commented on #8333
Hmm... looking at implementing a mutation observer on Orbit, and running into the challenge that Orbit is mucking with styles of its internal stuff all the time in ways that it doesn't necessarily make sense to react to.  We either need a way to distinguish between "internally" triggered mutations and external, or make the function that is triggered really smart in terms of what it checks on and d

[2016-11-18 20:00] rlynjb commented on #9380
it works!!! thanks you @Deckluhm

[2016-11-18 20:00] #9380 closed

[2016-11-18 20:53] webdevan commented on #9378
You can simply hide the input with CSS instead of making it type="hidden":
`<input type="text" class="hide" required><span class="form-error">Error message that is not hidden</span>`

[2016-11-18 22:02] webdevan commented on #9376
I always just over-write the error styles because of this, but I tend to agree that this is a bug that should get fixed. I also feel that the placeholder text (grey by default) contrasts better if it's red, and so I have created a PR: https://github.com/zurb/foundation-sites/pull/9393/files

[2016-11-18 23:54] karland commented on #8164
@brettsmason I am not sure about unitless-lineheights in the context of vertical-ryhthms. Maybe it just has not yet crossed my path. I have to think this over and play around with it.

In any case, I think we have made some good progress moving from `$header-sizes` to `$header-styles` and keeping the line-heights relative for the moment is good enough for me. In this case you can forget about my P

[2016-11-19 05:52] paxperscientiam commented on #9285
@brettsmason Hey, too tired to say, but perhaps #9394 might be of interest.

[2016-11-20 11:20] karland commented on #8164
@brettmason @andycochran I have played around with unitless lineheights and I am happy with this approach. I closed my previous PR and worked out an according [PR #9397](https://github.com/zurb/foundation-sites/pull/9397).

While I was working on this PR #9397, I discovered some other issues that I have also put in separate PRs: [PR #9396](https://github.com/zurb/foundation-sites/pull/9396) and [P

[2016-11-21 10:00] brettsmason commented on #9285
@paxperscientiam So in my latest commit I removed the 100% height declaration as I don't think its needed anymore for off canvas (further testing required though). Will that solve this issue or is a new class still required for your issue based on your PR?

[2016-11-21 13:05] #9376 closed

[2016-11-21 22:45] Yanchek99 commented on #8958
Just noticed the same issue documented here by @phifa. Just wanted to say I too would be interested in this as it does help clean up html output.

[2016-11-21 23:12] Yanchek99 commented on #8781
This looks like it has fixed just not deployed? See commit https://github.com/zurb/foundation-sites/commit/195cedd4cd7e09a9547d4475f7671456585425f8

[2016-11-22 13:26] theodorocaliari commented on #7759
+1 clearing and joyride permanently and stops cut off nice things in the foundation on every update... in the past is the orbit, ressurected in ver. 6, now are this 2 plugins... oh come on... our sites not can be updated if we use this resources and after foundation update they gone...

[2016-11-22 14:46] mauricemoss commented on #7143
Works fine on Desktop, but doesn't on Tablets. Submenu only disappears on item-click and nothing happens.

[2016-11-22 18:28] stljeff1 opened #9400 "[Dropdown] Code does not work out of the box"
The code you provide should work on my test web page as is. please provide more specific instructions on how to make this work OUT OF THE BOX

1. copy code from Foundation Docs onto test webpage containing all necessary Foundation assets
2. View webpage

**What did you expect to happen?**
for it to work as described in the documentation.

**What happened instead?**
absolutely nothing. (this happen

[2016-11-22 18:35] kball commented on #9400
So... it does work (you can test by pasting in either of those pens from the template), so I'm guessing that something else is going wrong.

Are you initializing the foundation javascript using

[code]

Perhaps you have an example somewhere that you can point us to to help you debug?

[2016-11-22 18:38] stljeff1 commented on #9400
its from your own documentation. Yes I am calling that

[2016-11-22 18:40] kball commented on #9400
I can tell you're frustrated, I'm sorry its not working, however saying "Its from your own documentation" isn't helping me solving your problem because it is working for me both in the documentation and in various examples and codepens copying and pasting.  If you could upload the *exact example* as you have implemented it either in a zipfile here or someplace online where I can take a look, I'd b

[2016-11-22 18:42] stljeff1 commented on #9400
Can you show me a code pen that shows the basic code that I need to make this to run?

[2016-11-22 18:43] kball commented on #9400
http://codepen.io/kball/pen/xRdOEz

[2016-11-22 18:50] stljeff1 commented on #9400
Thank you very much. That helps. I figured out that someone was loading the date picker plugin despite loading foundation.min.js.

Sorry for the frustration, but i always get caught with a frivolous bug like this when implementing foundation widgets, and I often find it difficult to debug by referencing the foundation docs

[2016-11-22 18:53] kball commented on #9400
@stljeff1 I'm glad that resolved it for you - can you help me understand what was the insight that finally caused the breakthrough, so we can try to reproduce it in the docs?  Or do you think having links to codepens with isolated examples from each of the docs pages would be helpful?

[2016-11-22 19:01] stljeff1 commented on #9400
[This link](http://stackoverflow.com/questions/22850510/foundation-zurb-dropdown-not-working) and the [Foundation Docs](http://foundation.zurb.com/sites/docs/javascript.html), along with the stripped down example you provided, allowed my to realize that including other widgets (like the Foundation DatePicker) will break when using the foundation.min.js include. With that knowledge, I discovered th

[2016-11-22 19:06] kball commented on #9400
Ah interesting... it looks like the Foundation DatePicker has not been updated for Foundation 6 (see https://github.com/najlepsiwebdesigner/foundation-datepicker/issues/154)... :( It would be nice if they called that out in their README.  If I have some time in the next week or two I'll see if I can put together a PR for them to bring it up for Foundation 6.

In the meanwhile, I'm going to close t

[2016-11-22 19:06] #9400 closed

[2016-11-22 19:09] kball opened #9401 "Reproduce docs examples in codepens"
It came up in #9400 that it is very helpful to be able to see examples of components in isolation.  We should reproduce each of the `in-docs` examples into a codepen and include a link next to the example.

[2016-11-23 00:11] kball commented on #9320
@coreysyms I noticed that the mutation observer implementation doesn't currently debounce... resulting in often getting lots of triggers all together.  Can you add that?

[2016-11-23 12:26] wgstjf commented on #9378
@webdevan great solution...now why didn't I think of that...? :-)

Thanks,

Will

[2016-11-23 15:58] tjhiggins opened #9404 "[Core] Foundation doesn't support obfuscation/mangling."
**How can we reproduce this bug?**

1. Compile foundation.js using  [uglify](https://www.npmjs.com/package/gulp-uglify).
2. Init a plugin like Dropdown and call destroy.

**What did you expect to happen?**
I'd expect the object to unregister the plugin when the destroy method is called.

**What happened instead?**
Destroy calls the `unregisterPlugin` method looks at the Function.name which when ma

[2016-11-23 21:14] nbeltran commented on #8812
i have the same problem. the solution that i found.
you need put second modal inside of first modal sample :

<p><a data-open="exampleModal2">Click me for a modal</a></p>

<div class="reveal" id="exampleModal2" data-reveal>
  <h1>Awesome!</h1>
  <p class="lead">I have another modal inside of me!</p>
  <a class="button" data-open="exampleModal3">Click me for another modal!</a>
  <button class="clos

[2016-11-24 19:07] RafaMelazzo opened #9406 "TypeError: this.handles.addTouch is not a function"
I have just made a custom download of the **Slider** control, but the console is logging the following:

`TypeError: this.handles.addTouch is not a function`

The doc lists the utilities libraries bellow as required, but as I found [here](https://github.com/zurb/foundation-sites/blob/develop/customizer/config.yml#L153), `touch` util is not included, and others not presented in the docs are...

- `

[2016-11-25 07:44] XmlmXmlmX opened #9408 "[Slider] Wrong slider-fill-width"
**How can we reproduce this bug?**

Create a [Two Handles Slider](http://foundation.zurb.com/sites/docs/slider.html#two-handles) like this example (```data-start``` and ```data-initial-start``` to ```1```,  ```data-end``` and ```data-initial-end``` to ```5```):

[code]

**What did you expect to happen?**

the ```.slider-fill```-element should be span between both handles.

**What happened instead?

[2016-11-25 08:22] XmlmXmlmX commented on #9192
@Owlbertz Your answer helped me 👍

[2016-11-25 17:43] mescuderocuu commented on #9313
Hi, which version of foundation are you using? i was seen this template: http://foundation.zurb.com/templates-previews-sites-f6/news-magazine.html and there the dropdowns work fine.

[2016-11-25 19:16] mpastas commented on #9281
Same here.

[2016-11-25 19:23] lspoor opened #9409 "Javascript Errors being thrown out in Safari"
So I'm getting the following errors:

<img width="1008" alt="screen shot 2016-11-25 at 19 23 04" src="https://cloud.githubusercontent.com/assets/1685176/20634062/9f04359c-b344-11e6-9ae5-2e12e37df6ad.png">

This is only appearing in Safari 9 on my Mac. It appears to be caused by all the foundation files. Has anybody else come across this?

[2016-11-25 19:29] lspoor commented on #7384
This is occurring for my on the latest version, any updates?

[2016-11-26 00:57] Snead commented on #9281
Yes, npm

[2016-11-26 09:29] lspoor commented on #9409
Apologies. You can view it on this site - http://exoticzoo.lspoor.co.uk

Sent from my iPhone

[2016-11-26 18:33] colin-marshall commented on #9281
@Snead @mpastas is it safe to assume you guys both installed babelify to your project using `npm install --save-dev babelify`?

[2016-11-26 20:20] Snead commented on #9281
Nope, I just used browserify which uses babelify as dependency yo convert the files

[2016-11-26 21:44] colin-marshall commented on #9281
@Snead looking at both browserify and grunt-browserify I do not see babelify listed as a dependency in `package.json`. Please run `npm install --save-dev babelify` and see if that makes a difference.

[2016-11-28 08:17] DaSchTour commented on #9409
After a short look on your app.js it looks like something with your line breaks is messed up because the file is full of /n
I guess it's more a problem of the tool you use to create the app.js or the way you serve it.

[2016-11-28 10:16] lspoor commented on #9409
Here's my gulpfile that compiles everything, is there any issues here?

[code]

[2016-11-28 12:00] h0r0man commented on #8975
It doesn't work with the latest jQuery 3.1.1 I made [this pen](http://codepen.io/horoman/pen/pNWzMX) to prove it.

[2016-11-28 12:49] DaSchTour commented on #8975
@h0r0man you are using 6.2.3 in your pen. Changing it to 6.2.4 fixes the errors.

[2016-11-28 15:40] wneessen commented on #8294
Well, seem like the Foundation team is not interessted in such stuff, so I will close this issue and basically just release it at FD list

[2016-11-28 15:40] #8294 closed

[2016-11-28 15:59] wneessen commented on #8294
Btw. the quickest workaround is:
https://gist.github.com/wneessen/d29586f96f9ee6f99a5b1712126c57b6

[2016-11-28 18:00] kball commented on #9406
Thanks for the bug report @RafaMelazzo - will try to get this fixed for you this week.

[2016-11-28 18:17] kball commented on #9408
This has been fixed in version 6.3 (I just confirmed using your testcase.)  The release candidate for 6.3 will be released this Thursday (12/1) with the final release scheduled for 12/15.

[2016-11-28 18:17] #9408 closed

[2016-11-28 18:18] kball commented on #9192
Closing based on the above conversation

[2016-11-28 18:18] #9192 closed

[2016-11-28 18:27] mpastas commented on #8554
Same here.

[2016-11-28 18:29] rvanlaak commented on #8554
How come that this isn't resolved yet? 😛 Seems a basic charset issue of these files to me.

[2016-11-28 18:43] daneclarkcollins commented on #8681
I'm having this exact problem, suddenly.

[2016-11-28 18:47] mpastas commented on #8554
:D I just noticed the issue. In my case I was using an 1.9 version of Ruby and no charset set. So I have updated it and executed:

`
sudo gem update --system
sudo gem install compass
`

[2016-11-28 18:55] kball commented on #9409
I'm looking into this and definitely somewhat confused... so it looks like webpack is putting everything together and evaling them... but when I copy out that eval into safari it works fine for me... I would definitely lean towards it being a webpack config issue but I'm not knowledgeable enough about webpack to tell you what it is.  @mrsweaters you're a webpack guru now, can you help out?

[2016-11-28 18:57] lspoor commented on #9409
Any ideas why the errors are only showing in specific browsers too? Let me know if you need to view anything else from my project code!

[2016-11-28 19:01] kball commented on #8681
What version of node are ya'all using?  We've seen issues with the 7.x series in a ton of different dependencies

[2016-11-28 21:16] baglio commented on #8681
I've recently updated to node version v6.9.1. Unfortunately I ran in the same issue.

[2016-11-28 22:16] rafibomb opened #9412 "[Build] Normalize should be a Bower Dependency in project and Templates"
Running 6.3 get's this error

[code]

Normalize needs to be added as a real dependency in the Foundation project. Also needs to be added to project templates
- zurb/foundation-sites-template
- zurb/foundation-zurb-template

[2016-11-28 22:18] rafibomb commented on #9412
@ncoden Are you able to look into this one?

[2016-11-28 23:36] stljeff1 opened #9414 "[Dropdown] Closing event does not fire when dropdown closes"
Using the following code, I have discovered the closeme.zf.dropdown event does not fire when the dropdown closes. Only when it opens.

			$(document).on('closeme.zf.dropdown', function () {
				console.log('closing...', arguments);

			});

I understand why it fires on open, because you want other dropdowns closed. But why does it not fire again when it actually closes? It should fire whenever the

[2016-11-28 23:38] #9349 closed

[2016-11-29 09:29] ncoden commented on #9412
I can, but not for now. Maybe next week. :/

[2016-11-29 16:36] tjhiggins commented on #9390
+1

[2016-11-29 21:25] XmlmXmlmX commented on #9408
Fine, thx.

[2016-11-29 22:55] getup8 commented on #7235
Came across this thread as I'm trying to understand why table-cell is used instead of inline-block (the latter seems more intuitive and like the right direction to go for menus; the default menu is actually pretty frustrating to use in simple cases where you want to set margins between things).  Is there another thread or ticket to change all Foundation menus to inline-block?  Is that something yo

[2016-11-29 23:26] oxyc opened #9417 "flex-grid columns are not wrapping on iOS 8"
**How can we reproduce this bug?**

1. Use Foundation v6.2.4
2. Create a flex grid with two columns which use `small-12`.
3. Look at the page with iPhone 6 and iOS 8

**What did you expect to happen?**

The columns are stacked on two separate rows.

**What happened instead?**

The columns are on the same row overflowing the page.

**Test case:**

http://codepen.io/anon/pen/woPKOZ

Foundation v6.2.

[2016-11-30 11:12] barrywoolgar opened #9418 "What happened to the 5.5.4 milestone?"
Hello, I've been waiting for 5.5.4 for quite some time (hoping for #8878 to get merged) but the milestone was removed a couple of days ago by @rafibomb . It appeared largely complete (see [cached copy here](https://webcache.googleusercontent.com/search?q=cache:p5i1mY-xhywJ:https://github.com/zurb/foundation-sites/milestone/23+&cd=1&hl=en&ct=clnk&gl=uk)) so even if no more progress is intended, can

[2016-11-30 12:38] DaSchTour commented on #9417
Duplicate of #9290

[2016-11-30 12:42] oxyc commented on #9417
Seems that is the cause yes. How come https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation-flex.min.css wasn't built with the autoprefixer options?

[2016-11-30 14:32] DaSchTour commented on #9417
Last 2 -> iOS 10 release -> no prefix for iOS 8

[2016-11-30 14:38] oxyc commented on #9417
Ah, sorry I missed the date on the commit you mentioned, I thought it was already in the release. Thanks.

[2016-11-30 14:38] #9417 closed

[2016-11-30 17:57] kball opened #9421 "Full menu rework"
We want to clean up the way menus work to make them much easier to customize, make them more consistently accessible, and easier to work with.

Opening this to collect related code snippets, prs, issues, and conversations.

Some initial items of interest are:

- https://github.com/zurb/foundation-sites/pull/9283 (temporarily reverted in https://github.com/zurb/foundation-sites/pull/9420).

- the d

[2016-11-30 18:13] andycochran commented on #7387
Closing this as #9319 will give v6.3 accessible colors! Woot.

[2016-11-30 18:14] andycochran commented on #9421
#7235

[2016-11-30 18:16] #9235 closed

[2016-11-30 18:20] getup8 opened #9422 "Reveal trigger link preventDefaults on return key but not on click"
https://jsfiddle.net/kekut502/

I expect the modal to take precedence over following the link, so a preventDefault() call.  Weirdly, it's called when you use the Return key to initiate the modal (see: <https://github.com/zurb/foundation-sites/blob/develop/js/foundation.reveal.js#L149>) but not when you click it.

Basically, if the user allows JS, I want the modal to be called, and if not, I want t

[2016-11-30 18:31] kball commented on #9287
Fixed in #9416

[2016-11-30 18:31] #9287 closed

[2016-11-30 18:34] #9341 closed

[2016-11-30 18:57] #9368 closed

[2016-11-30 20:02] impressivewebs opened #9424 "Inline `code` tags inside `a` tags have incorrect styling"
**How can we reproduce this bug?**

1. Put HTML `<code>` tags inside of a hyperink

**What did you expect to happen?**
Portions of a paragraph wrapped in  `<code>` tags that are inside links should appear like links.

**What happened instead?**
The portions of the paragraph wrapped in `<code>` tags do not appear like links.

**Test case:**

[Here is a CodePen demo using Foundation 6](http://codepe

[2016-11-30 20:51] brettsmason commented on #9421
So from my point of view, the main issues are:

- the default `.menu` class is too opinionated - things like padding should be left to modifier classes and specific component classes (dropdown, accordion etc) to add this sort of styling
- The specificity of the selectors makes it really difficult to override styles

A fairly brief attempt at seperating this can be seen here: http://brettmason.co.u

[2016-11-30 21:21] #8536 closed

[2016-11-30 21:30] #8668 closed

[2016-11-30 21:32] ncoden commented on #9421
My thoughts about menu : Your menu should with a structure exactly like `.menu > li > a` and with the default style. If you want something else, you're damn.

Things to avoid for the new menu:
- selecting elements by their tag
- mixing graphical and structural properties
- high specificity

[2016-11-30 21:35] rafibomb opened #9425 "[Grid] 6.3 - Factorize breakpoint list + breakpoint name"
Reference merged PR: https://github.com/zurb/foundation-sites/pull/9365

This is to factorize two mixins, using a mixin that handle the "breakpoint list + breakpoint name"

[2016-12-01 01:01] andycochran commented on #9425
@ncoden You seemed to have an idea for how to do this. If you don't have time, point me in the right direction?

[2016-12-01 01:20] andycochran commented on #9421
A few other gathered thoughts… 

- #8504 Menu item height should be the same as button height.

- How do we handle button/menu item radius in v6.4? There's been a lot of debate about radius on group vs radius on each button. #9031 "fixed" #8447 for v6.3. But I think the framework could/should support both cases. See also this [Codepen](http://codepen.io/andycochran/pen/reJRro) which also mentions

[2016-12-01 02:34] christianmagill commented on #8107
Here's what I wound up with

https://github.com/christianmagill/foundation--variant-gutter-classes

[2016-12-01 02:45] ncoden commented on #9425
@andycochran I'll take care of this issue tomorrow.

[2016-12-01 03:24] codymorgan commented on #7823
has there been any further conversation regarding this or did it get lost forever?

[2016-12-01 12:32] riisendk opened #9427 "Topbar - menu is stuck when mouseout event is triggered in a very specific way"
**How can we reproduce this bug?**

1. Hover over a menu item in the "topbar"
2. Trigger mouseout event by moving cursor in a 45 degree (or so) angel to the right (see video for exact direction)

**What did you expect to happen?**

The menu should disappear.

**What happened instead?**

The menu is stuck.

It appears that the bug has something to do with this line of code in foundation.dropdownMen

[2016-12-01 14:09] andycochran commented on #8107
@christianmagill Could you submit a pull request so we can see the diff?

[2016-12-01 14:12] christianmagill commented on #8107
Currently it is essentially a Sass mixin that overrides the defaults. I'm sure it could be better integrated but I'll have to find a minute to dig into how foundation builds the grid classes.

Here's the mixin

https://github.com/christianmagill/foundation--variant-gutter-classes/blob/master/scss/mixins.scss

[2016-12-01 17:09] kball commented on #7823
Thanks for tapping it @codymorgan.  Too late for 6.3, but lets revisit this for 6.4 @zurb/yetinauts

[2016-12-01 20:20] JeremyEnglert commented on #9421
A big part of Foundation 6 was cutting down on the amount of variables in the settings.scss file, however, navigation items are a great example of where having "a lot" of settings greatly improves ease of use.

As others have mentioned, it becomes quite the pain to override specific styles in a menu because they are very specific - to make this even more challenging, it's often hard to find the sp

[2016-12-01 20:31] brettsmason commented on #9292
Off canvas has been completely reworked for 6.3 and this issue should now be solved.
Release candidate is out today, witht he full release scheduled for the 15th December.

Closing this, but if you still have issues with 6.3 please re-open.

[2016-12-01 20:31] #9292 closed

[2016-12-01 20:33] brettsmason commented on #9285
@paxperscientiam as you know (thanks for your input!) off canvas has been completely reworked for 6.3 and this issue should now be solved.
Release candidate is out today, witht he full release scheduled for the 15th December.

Closing this, but if you still have issues with 6.3 please re-open.

[2016-12-01 20:33] #9285 closed

[2016-12-01 20:34] brettsmason commented on #9186
Off canvas has been completely reworked for 6.3 and this issue should now be solved as there is a new `overlap` transition option.
Release candidate is out today, witht he full release scheduled for the 15th December.

Closing this, but if you still have issues with 6.3 please re-open.

[2016-12-01 20:34] #9186 closed

[2016-12-01 20:35] brettsmason commented on #9064
Off canvas has been completely reworked for 6.3 and this issue should now be solved.
Release candidate is out today, witht he full release scheduled for the 15th December.

Closing this, but if you still have issues with 6.3 please re-open.

[2016-12-01 20:35] #9064 closed

[2016-12-01 20:39] brettsmason commented on #9013
Off canvas has been completely reworked for 6.3 and this issue should now be solved as there is a new variable to control the revealed z-index.
Release candidate is out today, with the full release scheduled for the 15th December.

Closing this, but if you still have issues with 6.3 please re-open.

[2016-12-01 20:39] #9013 closed

[2016-12-01 20:40] brettsmason commented on #8803
Off canvas has been completely reworked for 6.3 as well as sticky fixes so this should now be solved from my testing.
Release candidate is out today, with the full release scheduled for the 15th December.

Closing this, but if you still have issues with 6.3 please re-open.

[2016-12-01 20:40] #8803 closed

[2016-12-01 20:42] brettsmason commented on #8729
Sticky should now play nicely with off canvas with 6.3.
Release candidate is out today, with the full release scheduled for the 15th December.

Closing this, but if you still have issues with 6.3 please re-open.

[2016-12-01 20:42] #8729 closed

[2016-12-01 20:43] brettsmason commented on #8346
Off canvas has been completely reworked for 6.3 and this issue should now be solved.
Release candidate is out today, with the full release scheduled for the 15th December.

Closing this, but if you still have issues with 6.3 please re-open.

[2016-12-01 20:43] #8346 closed

[2016-12-01 20:45] brettsmason commented on #9249
Off canvas and sticky should now play nicely for 6.3, as off canvas has been rewritten.
Release candidate is out today, with the full release scheduled for the 15th December.

Closing this, but if you still have issues with 6.3 please re-open.

[2016-12-01 20:45] #9249 closed

[2016-12-01 20:48] brettsmason commented on #7755
Off canvas has been rewritten for 6.3, and this should work out of the box now - see [this visual test](https://github.com/zurb/foundation-sites/blob/develop/test/visual/offcanvas/absolute.html).
Release candidate is out today, with the full release scheduled for the 15th December.

Closing this, but if you still have issues with 6.3 please re-open.

[2016-12-01 20:48] #7755 closed

[2016-12-01 21:35] kball commented on #9047
Pushing this out to 6.3.1 unless we can confirm that it is fixed

[2016-12-01 21:36] kball commented on #8325
Unfortunately this is getting pushed out to 6.3.1

[2016-12-01 21:36] kball commented on #8413
We're making progress but some of these issues are still outstanding as we package up 6.3, moving the milestone out once again

[2016-12-01 21:39] kball commented on #7831
Pushing this out to 6.3.1, but I'm leaning towards the JS solution of disabling scrolling, enabled/disabled by an option... anyone have strong opinions for or against?

[2016-12-01 21:45] kball commented on #8340
It looks like the answer for this may involved the `gulp-plumber` plugin (https://www.npmjs.com/package/gulp-plumber).  Will dig into this in the template once we've got the 6.3 RC packaged up

[2016-12-01 21:47] kball commented on #7386
If I'm understanding this properly, there are workarounds, but moving Foundation to ES2016 true dependency management is the real fix.  This is a pretty large project, but I think important. We're about to release 6.3... I'd like to target this for version 6.4.

[2016-12-01 21:49] kball commented on #9339
Given the discussion happening in that PR, this is a loose thread in a very knotty ball of problems. I think this is going to slip out to 6.4 as a part of a full menu refactor.

[2016-12-01 22:06] #8908 closed

[2016-12-02 00:38] kball opened #9432 "Expanded responsive menu testing"
We should add visual tests (or docs tests) for responsive menu in the following currently untested cases:

- accordions as part of responsive menu
- autoHeight drilldown as part of responsive menu

Any others?  This might tie in to the rework in https://github.com/zurb/foundation-sites/issues/9421

[2016-12-02 06:15] SShrike commented on #7386
Maybe open a new issue for that? It would allow people to track the progress specific to the transition easier, under a title that reflects the intent.

[2016-12-02 15:09] andycochran commented on #8292
@kball Q: Is `$foundation-palette` still optional? Seems like that doesn't have to be the case since v6.3 is a minor version bump. Can we deprecate the old way of doing color variables now?

[2016-12-02 15:16] brettsmason commented on #8292
I'd agree with removing the old method too 👍

[2016-12-02 15:19] prahladmishra opened #9434 "[Starter Projects] Error when bower_components are outside project folder."
**How can we reproduce this bug?**

1. Create a folder in same pace as project i.e as a sibling of project folder eg. common
2. Move bower_components to this new folder
3. Change config.yml to use javascripts from "bower_components" in this new folder  eg change "bower_components/jquery/dist/jquery.js" to "../common/bower_components/jquery/dist/jquery.js"
4. run command "foundation watch" things w

[2016-12-02 15:42] andycochran commented on #8292
Let's not let the old method hang around until v6.4. 😬
It's now or then.

[2016-12-02 17:11] kball commented on #8292
Good point. There's actually a few things that have warnings that they'll be removed in 6.3 as well that we need to get through.  Lets include this along with those and any fixes for bugs we find into a second RC mid next week.

[2016-12-02 19:41] paxperscientiam commented on #9434
@prahladmishra Did you update your `.bowerrc` to reflect this change?

[2016-12-02 19:50] paxperscientiam commented on #9285
You're most welcome, @brettsmason ! That said, this flex issue was really only tangentially related to OCM, IIRC.

If I understand correctly, @kball indicated in PR #9434 that something to this effect is being worked on.

Gonna play around with 6.3 now!

[2016-12-02 22:07] prahladmishra commented on #9434
Tried that no success.. here is the change i tried in .bowerrc

{
  "directory": "../common/bower_components"
}

[2016-12-02 23:15] kball commented on #8292
so question - does getting rid of the old method mean getting rid of the helper variables `$primary-color`, etc?  Or getting rid of them from internal use but leaving the option to add them with `@include add-foundation-colors;` for your own use?  Or what were you thinking?

[2016-12-02 23:20] kball opened #9438 "Port Foundation's javascript modules to use ES2016 dependency management"
We want to bring Foundation's JavaScript dependency management up to 2016.

Some challenges will include:

* Some of the utilities are not well encapsulated
* We still need to generate code that will work for folks without a build system, just inline including the various components.

However, I think the benefits will far outweigh the costs.  Among other items, this should fix https://github.com/

[2016-12-02 23:25] kball commented on #9438
Not sure what the best way to track progress on this... does it make sense to break it down by component?

[2016-12-02 23:27] kball commented on #7386
@SShrike done here: #9438

[2016-12-03 02:09] geraldyeo commented on #9310
I am getting the same issue.

[2016-12-03 13:34] ncoden commented on #9412
Now `normalize-scss` is imported and compiled inside `foundation-sites` as a real dependency, I don't see what you mean by "needs to be added to project templates". `foundation-zurb-template` require `"foundation-sites": "~6.2.3"`, not the foundation's dependencies. 🤔

[2016-12-03 20:18] andycochran commented on #8292
Good question, @kball. The more I think about it, the more complicated it gets.

It looks like we're inconsistent in the way we're using color variables, e.g.:
- In `_error.scss` we use `$input-background-invalid: map-get($foundation-palette, alert) !default;`
- But in `_meter.scss` we use `$meter-fill-good: $success-color !default;`

We should be consistent in our default settings. It'd be nice i

[2016-12-03 20:22] brettsmason commented on #8292
@andycochran could we use the get-color function everywhere to make it a bit easier?

[2016-12-03 20:28] andycochran commented on #8292
What if, instead of using *every* color in `$foundation-palette`, components that looped through the palette had a list to determine which colors from the palette to use… 

[code]

[2016-12-04 01:42] paxperscientiam commented on #9434
Hm, you could try symlinking your common assets directory to your child projects.

I use symlinking to great effect, though not for asset sharing. I'm also not entirely clear on what your desired workflow is.

That said, say you have something like these:

`/path/to/common/source/bower_components/`
`/path/to/project1/source/`
`/path/to/project2/source/`

You could symlink like this:
[code]
Now, `/

[2016-12-04 09:58] ncoden opened #9440 "Bug -zf-each-breakpoint without small"
### What happens

This code:
[code]

Produce the following error
[code]

### Why

In `@mixin -zf-each-breakpoint` in [/scss/util/_mixin.scss:234](https://github.com/zurb/foundation-sites/blob/614d47210eaf17cbc0cf7421dabe4d1930aa2cf3/scss/util/_mixins.scss#L234):
[code]

But `$breakpoint-classes` is a list (by default: `(small, medium, large)`), not a map.

[2016-12-04 17:14] ncoden commented on #8638
Hi @simongcc, sorry for the late reply.

I agree with you. Left and Right are in the wrong order here. With LTR, `animInFrom${dirIn}` should be `Left` and `animOutTo${dirOut}` should be `Right`.

@Owlbertz I am right ?

[2016-12-04 17:20] #8636 closed

[2016-12-04 17:26] ncoden commented on #8596
Hi @Davidrl1000. Sorry for the late reply.

Do you still have this problem ?

[2016-12-04 17:28] Owlbertz commented on #8638
I don't know who built that, but I think the intention was:
- for LTR sites slides come in from right to left because that's how content is consumed in LTR cultures
- for RTL it's vice versa

I do agree that it is confusing and I tend to agree that you could say it's currently the wrong order.

[2016-12-04 17:32] ncoden commented on #8638
I understand. It's slides. Maybe we could add a comment here, because `dirIn = isLTR ? 'Right' : 'Left'` seems totally wrong at first.

[2016-12-04 18:35] ncoden commented on #8631
Fixed in https://github.com/zurb/foundation-sites/pull/9445

[2016-12-04 18:50] ncoden commented on #8880
Fixed in https://github.com/zurb/foundation-sites/pull/9446.

@ocularrhythm `_makeOverlay` is useful to keep the DOM stuff encapsulated and separated from the Reveal init logic.

[2016-12-04 20:14] ncoden commented on #9440
Fixed in https://github.com/zurb/foundation-sites/pull/9441

[2016-12-04 23:49] feeekkk commented on #9064
I also just bumped foundation to 6.2.4 and missing from the docs is that `keyboard` is a dependency of off canvas. Haven't checked out the 6.3.1 rc (it can't be installed via bower due to a bad tag..), but hope that is noted!

[2016-12-04 23:53] ncoden commented on #9349
At first, I did not understood the purpose of this line and had to git blame. A comment would be usefull, like at many places in the JS code :smile:.

[2016-12-05 00:41] ocularrhythm commented on #8880
I don't dispute the purpose or intention of the method, rather I was only curious about the points I originally made.

1. Why does an argument exist if it's not being used
2. Why create and return a variable, instead just return the jQuery element

Like so:
[code]

[2016-12-05 00:46] ncoden commented on #8880
@ocularrhythm
1. I don't know. There is no reason to keep an unused argument in Javascript, so it should be a mistake :)
2. You are right. I will return the JQuery element.

[2016-12-05 01:02] mediabeastnz commented on #9412
Is there a way to get around this to test?

When installing via npm and then compiling the SCSS I get an error saying it can't find the normalize file.

The path in `foundation.scss` has `@import "normalize";`. Which doesn't exist in that directory.

[2016-12-05 01:14] lipcanu opened #9448 "Gulp Server doesn't run the site"
I am trying to clone this repository. I did all the steps indicated with npm, using the `foundation new` command. After everything goes as planned (no errors) and I try to run either `npm start` or `foundation watch` I get this in the console:
![image](https://cloud.githubusercontent.com/assets/7142655/20870944/79768c28-ba90-11e6-8c06-9ac4740d1395.png)
and nothing in the browser for localhost:8000

[2016-12-05 01:21] ncoden commented on #9412
@mediabeastnz If you want to test the merged fix above, you can do:
[code]

But I think there is still a bug. `@import "normalize";` works for the compilation of `foundation.css` because the path to the dependency files `node_modules/normalize-scss/sass` is included in gulp. This shouldn't work with a project which include foundation partials...

[2016-12-05 01:39] ncoden commented on #9412
At least _partially_ fixed in https://github.com/zurb/foundation-sites/pull/9449.

[2016-12-05 09:55] brettsmason commented on #8414
This should now work correctly in version 6.3. The release candidate is currently out for testing, with the final version out in a few weeks.

Closing this, but if you have any issues with this in 6.3 please re-open.

[2016-12-05 09:55] #8414 closed

[2016-12-05 09:56] brettsmason commented on #8121
This should now work correctly in version 6.3 - the user should not be able to tab to the hidden panel. The release candidate is currently out for testing, with the final version out in a few weeks.

Closing this, but if you have any issues with this in 6.3 please re-open.

[2016-12-05 09:56] #8121 closed

[2016-12-05 09:57] brettsmason commented on #7497
This should now work correctly in version 6.3. We no longer force 100% height, and the wrappers have been cut down, so this should no longer be a problem.
The release candidate is currently out for testing, with the final version out in a few weeks.

Closing this, but if you have any issues with this in 6.3 please re-open.

[2016-12-05 09:57] #7497 closed

[2016-12-05 10:42] eksperimental opened #9451 "Inconsistency in variable names: topbar vs top-bar"
Hi Everyone,
first issue report here,
I just found inconsistent that you use "topbar" and "top-bar" to refer to the Top Bar component.

Pretty much it is a matter of renaming your setting variables.

[code]

I can contribute with a PR, i just need to be guided how to want to deprecate this and if you want to warn users when old-named variables are used

[2016-12-05 10:59] prahladmishra commented on #9434
@paxperscientiam but i would still have to keep multiple copy of bower_components. I was thinking to have just one copy of it and that will act more like library which no project will change. Project specific files will be in there respective folders. For example setting.scss will define project specific variables and when compiled it will make use of this common files and result in project specif

[2016-12-05 15:04] marcos-abreu commented on #9412
I'm also having the same problem when installing using `npm` (`npm install foundation-sites`) and trying to use my own scripts to compile the sass files.

[2016-12-05 15:41] Davidrl1000 commented on #8596
No @ncoden I don't having that problem anymore, thanks

[2016-12-05 15:42] #8596 closed

[2016-12-05 16:50] kball commented on #9412
so... I'm a little confused about this because

1. the current build is working for me... what am I doing differently?
2. this seems to overly subscribe how your dependencies are located - what happens if someone uses a custom node modules path, or is using bower instead of npm?  Paths should be a part of the build, not the src

[2016-12-05 16:50] kball commented on #9412
oops the above should be in the PR... fixing

[2016-12-05 17:47] michaelBenin opened #9455 "Documentation - missing mixin for grid-column-offset"
In the foundation-sites docs I'm not seeing any references to `@include grid-column-offset($o);` - only see examples of using classnames.

[2016-12-05 17:52] kball commented on #8292
@andycochran I like that idea... similar to how we use `$breakpoint-classes` yeah?

[2016-12-05 18:40] #8631 closed

[2016-12-05 18:46] #8880 closed

[2016-12-05 18:49] kball commented on #9448
@lipcanu sorry for the issue you're running into... can you let us know what versions of node & npm you are using?

[2016-12-05 18:53] #9425 closed

[2016-12-05 18:54] kball commented on #9451
@ncoden @andycochran @brettsmason what do y'all think?

[2016-12-05 19:03] andycochran commented on #8292
@kball Exactly how we use `$breakpoint-classes`. 😉

[2016-12-05 19:21] andycochran commented on #9451
I'm not sure this is a bug. But this is also the case for `accordionmenu` and `accordion-menu`, `buttongroup` and `button-group`, `closebutton` and `close-button`, `dropdownmenu` and `dropdown-menu`, `helptext` and `help-text`, `mediaobject` and `media-object`, `offcanvas` and `off-canvas` … where we use one word for SASS and two hyphenated words for CSS classes.

[2016-12-05 20:08] rlynjb opened #9456 "Links not opening on DropDown Menu Tablet and Mobile"
Hi all,
I am having an aissue with Foundation 6 Dropdown menu links on tablet and mobile, basically on Touch mode. On desktop, submenu links seem to work fine but on tablet and mobile, when I clicked on a submenu link, it doesn't seem to go through.

I used the default settings shown on F6 documentation. http://foundation.zurb.com/sites/docs/dropdown-menu.html

Not sure if I have to configure anyt

[2016-12-05 21:12] t3easy opened #9457 "Parent menu items shown up in drilldown menus"
**How can we reproduce this bug?**

1. Generate a drilldown menu with a submenu that has less menu items than the parent
2. open the submenu with lesser entries
3. parents are still sown

**What did you expect to happen?**
Parent menu items are unvisible.

**What happened instead?**
Parent menu items are visible.

It worked in 6.2.3 but broken in 6.2.4
Broken by https://github.com/zurb/foundation-

[2016-12-05 21:22] andycochran commented on #8292
I think we need to clarify what we mean by "requirements."

The [Global Styles > Colors](http://foundation.zurb.com/sites/docs/global.html#colors) docs say:

This isn't really accurate. If a color being "required" just means it's used by components, then Primary and Alert aren't any more required than Success or Warning. The only color that isn't used by component settings is Secondary. So is Seco

[2016-12-05 21:46] mortenson commented on #8016
I've run into this as well when creating Magellan menus dynamically in JS based on page content.

[2016-12-05 22:22] rlynjb commented on #9456
found the fix #9322

[2016-12-05 22:22] #9456 closed

[2016-12-06 01:22] lipcanu commented on #9448
npm: 4.0.3
node: 6.9.1
Should that be fine?
I recently updated both

[2016-12-06 01:32] lipcanu commented on #9448
Ok, I think I figured it out. It was just the basic template, not the zurb template, so it didn't have browser sync, even if I expected it to. Silly me :)

[2016-12-06 01:32] #9448 closed

[2016-12-06 06:07] andycochran commented on #8292
I just took a pass at addressing some of the stuff brought up here. #9459

I don't think we can simply get rid of the helper variables for color classes. They're very useful. And the idea of `get-color(key)` everywhere is an ugly breaking change.

I wonder if instead of hardcoding helper classes for each `$foundation-palette` color in `scss/_global.scss`, we could refactor the `@include add-founda

[2016-12-06 07:00] ncoden commented on #9451
If we have to be consistent now, I think we should move to `lisp-case`, because it is the CSS standard. However, the namespace and role of the class/variable/function/mixin can't be easily separated. This is related to the naming problem mentioned in Yetinauts/#18

[2016-12-06 10:51] ncoden commented on #9001
@ppKrauss Do you still have this bug ?

[2016-12-06 11:47] ncoden commented on #9269
@kball I am working on https://github.com/zurb/foundation-sites/pull/9452
What backwards incompatibility has been introduced ?

[2016-12-06 14:20] ncoden commented on #9457
Hi @t3easy,

This is a duplicate of https://github.com/zurb/foundation-sites/issues/9368, and has been fixed in https://github.com/zurb/foundation-sites/pull/9423.

[2016-12-06 14:42] ncoden commented on #9455
Documentation about Sass mixins and function can be found at the bottom of the page: http://foundation.zurb.com/sites/docs/grid.html#grid-column-offset. You also have a search bar just below the header.

However, there is no usage examples.

[2016-12-06 14:54] t3easy commented on #9457
Hi @ncoden,
thanks for the hint, your right!
I've added the min-height to my app.scss.
For general: is a v6.2.5 planed or do I have to switch to v6.3 if its out?

[2016-12-06 14:54] #9457 closed

[2016-12-06 15:06] ncoden commented on #9424
Hi @impressivewebs,

This is a beautiful example of why it is a bad idea to apply graphical CSS properties automatically. In some case, we don't want these properties to be applied, and it is very hard to remove them (poke @kball).

But I don't think it would be a good idea to add a special case (`a code`) above it to reset the unwanted property. It would not be clean, nor maintainable.

I would a

[2016-12-06 15:12] ncoden commented on #9457
The next release is `v6.3`, and there is no `v6.2.5` planed. I don't know why and I will talk about it to the rest of the team.

poke @kball @andycochran @brettsmason @colin-marshall

[2016-12-06 16:59] kball commented on #9269
@ncoden `gulp-cache-bust` changed the way they handle paths; I spent a while trying to get it working and didn't figure out the magic incantation. You're welcome to take another pass on it.

[2016-12-06 21:48] michaelBenin commented on #9412
Today we also ran into this. When is there going to be a release for this?

[2016-12-06 21:51] ncoden commented on #9412
@michaelBenin We are working on this. See https://github.com/zurb/foundation-sites/pull/9458

[2016-12-06 22:47] impressivewebs commented on #9424
@ncoden Yep, that sounds reasonable. I had a feeling you probably wouldn't want to use a descendant selector to correct this. The other option would be to apply the original inline code styles using `p>code`, so that way it's only immediate children of paragraphs, but I suspect you'd have the same maintainability issues there too, and it might not cover all cases correctly.

But I would lean towar

[2016-12-06 22:58] #9412 closed

[2016-12-06 23:05] #9440 closed

[2016-12-06 23:50] #8325 closed

[2016-12-07 02:11] ppKrauss commented on #9001
Hi @mikebe11  and @ncoden , thanks the reply.

I run again,

* at **fresh UBUNTU 16 LTS**: perfect (!),

*  at my UBUNTU... after `rm -r` and `git clone`, run with `npm install`... Many "WARN", "Testing binary", ... but ok, it is working.  <br/>`npm run test:sass`, "29 passing (26ms)";  `npm run test:javascript`  "179 passing (4s)  6 pending"; `npm run test:visual` ok, localhost working.

Thanks a

[2016-12-07 07:11] ncoden commented on #9001
I'm glad it works now. Warning are normal, somes dependencies are outdated. I am working on it in https://github.com/zurb/foundation-sites/pull/9452.

Can we close this issue ?

[2016-12-07 09:10] bechlokza opened #9464 "[Dropdown Menu] The data-options documentation is obsolete"

[2016-12-07 10:53] #9001 closed

[2016-12-07 11:00] ncoden commented on #9464
I checked.

At http://foundation.zurb.com/sites/docs/dropdown-menu.html#js-option (for `v6.2.4`), we can read:
- `data-click-open`, default `true`
- `data-force-follow`, default `false`

But in the code at https://github.com/zurb/foundation-sites/blob/v6.2.4/js/foundation.dropdownMenu.js#L362 (for `v6.4.2` and currently in `develop`):
- `clickOpen: false,`
- `forceFollow: true`

I've checked the t

[2016-12-07 11:00] amagdic opened #9466 "[Tooltip] won't show up in reveal"
if u use .tooltip in reveal, tip wont show

I manage to fix this with this CSS fix

body.is-reveal-open .tooltip {
    z-index: 10;
}

[2016-12-07 11:06] ncoden commented on #9455
@michaelBenin Is it still an issue ?

[2016-12-07 11:39] ncoden commented on #9466
Codepen: https://codepen.io/ncoden/pen/PbeaRg

![Preview](https://cloud.githubusercontent.com/assets/9939075/20965756/83d333cc-bc77-11e6-9d73-01fe211818ab.gif)

---

Duplicate of: #9122
Fixed in: #9165
Fix released in [v6.3.0-rc1](https://github.com/zurb/foundation-sites/releases/tag/v6.3.0-rc1)

[2016-12-07 16:48] ncoden commented on #9418
@kball

[2016-12-07 17:21] devanflaherty opened #9467 "Yarn or NPM install of Foundation-Sites doesn't include normalize.scss"
I'm using Yarn to handle all my dependencies.

Upon building my project with Yarn my install of foundation-sites said it couldn't find 'normalize.scss'.
My previous bower install didn't even include normalize.

Looking in the root of the 'foundation-sites' package in my 'node_modules' directory shows that '_normalize.scss isn't there. That's very odd because the main sass file 'foundation.scss' li

[2016-12-07 17:27] kball commented on #9467
This is my bad - accidentally published foundation 6.3.0-rc1 to npm without the `beta` tag.  This should be fixed now, but for now roll back to 6.2.4.

[2016-12-07 17:40] andycochran commented on #8292
I'm going to close this. Through #9459, the docs have been updated to clearly explain how colors work in v6.3.

[2016-12-07 17:40] #8292 closed

[2016-12-08 09:41] LeG3nDz opened #9470 "DropdownMenu click close on Mozilla"
**How can we reproduce this bug?**
When the DropdownMenu is open (on click only), i can't close this on second click with Mozilla (last version). It work on Chrome and IE (last version).

I've add ` data-disable-hover="true"` for enable click only. But don't work for close my submenu.

**Test case:**
[Codepen test case](http://codepen.io/LeG3nDz/pen/yVEgjP).

Maybe i need other data argument ?

[2016-12-08 10:08] ncoden commented on #9470
Hi @LeG3nDz,

What is your Foundation version ?
I tested with chrome (v54), it don't work neither. But it is expected: if you disable the open on Hover, you have to enable the open on Click. Add `data-click-open="true"` to your dropdown ([Codepen](https://codepen.io/ncoden/pen/gLKmMg)).

The documentation is incorrect about the default value of `data-click-open`, see https://github.com/zurb/founda

[2016-12-08 10:27] alistairquinn commented on #8771
I've got the same issue with Foundation 6.2.4 on WordPress 5.6.1. The sticky container works as it should on desktop but not on mobile. Please see https://www.turnerandlast.com. Any help would be gratefully received.

[2016-12-08 10:42] LeG3nDz commented on #9470
Hi @ncoden

I've test your Codepen, it don't work on my Mozilla, but work on Chrome.
I use last version off Foundation.

[2016-12-08 10:46] DaSchTour commented on #9438
Maybe switch to TypeScript? Than create a bundle with systemJS? Most of the code is already in ES2015 so the switch should be easy and I could improve the code a lot and help while removing jQuery. With TypeScript working with HTMLElements and all the subclasses is a lot easier.
This may also be a great opportunity to improve integration of foundation with JS/SPA frameworks.

[2016-12-08 10:47] ncoden commented on #9470
Can you give your version number of:
- Foundation (`package.json`)
- Mozilla Firefox

Thanks.

[2016-12-08 11:00] LeG3nDz commented on #9470
I use :
- Foundation 6.2.4
- Mozilla Firefox 50.0.2

Example on my Mozilla, your can see the second click refresh my page :

![submenu](https://cloud.githubusercontent.com/assets/4712791/21007607/dd8748ce-bd3d-11e6-819f-1e8a6d07c55f.gif)

Thank you for your support

[2016-12-08 11:02] brettsmason commented on #8771
@alistairquinn From a quick look it looks like you need to set when the container is sticky.
You need to add `data-sticky-on="small" or `stickyOn: small` to your `data-options`. This defaults to medium: http://foundation.zurb.com/sites/docs/sticky.html#js-options

[2016-12-08 11:08] ncoden commented on #9470
So **the click refresh your page when the dropdown is open**. I still can't reproduce 😕  (https://codepen.io/anon/pen/gLKWgj)

- What about the Copepen you given ?
- Can you provide the HTML markup of your DropdownMenu (in pastebin) ?
- Do you have a link to the current page (or to an other page) on your DropdownMenu ? If yes, you shouldn't.

[2016-12-08 11:14] ncoden commented on #9467
Fixed in [6.3.2-rc2](https://github.com/zurb/foundation-sites/releases/tag/v6.3.0-rc2).

@devanflaherty Is it still an issue ?

[2016-12-08 11:29] LeG3nDz commented on #9470
Sorry, my example is local only.

I can reproduce my problem on your code pen : the second click open my `href`
![submenu2](https://cloud.githubusercontent.com/assets/4712791/21008432/f7598e34-bd41-11e6-9ae8-56d519dd79d4.gif)

[2016-12-08 11:36] ncoden commented on #9470
Ok. This should be on Firefox for Windows only. We'll wait the @brettsmason's test.

[2016-12-08 11:38] alistairquinn commented on #8771
Ah! Thanks. It works perfectly!

[2016-12-08 11:39] ncoden commented on #9466
Hmmm. I didn't found the Gihub issue board. So a tweet will do. https://twitter.com/ncodn/status/806823450782400512

[2016-12-08 11:40] LeG3nDz commented on #9470
I see same problem with Safari 10 (iPad), tested on Codepen only.

[2016-12-08 12:56] ncoden commented on #9424
**Edit**: The second solution would not works. `.s-code code` has a specificity of `011` and `.link` a specificity of `010`. So `.link` will not overwrite the `.s-code code` properties.

And scopes are not really made for that. It is a way to simply apply properties inside a markup with a _particular semantic_, that should not be customized.

In addition the classes proposed above (except `s-code`

[2016-12-08 13:11] brettsmason commented on #9470
@ncoden sorry playing catchup. So its this Codepen that needs testing right? https://codepen.io/anon/pen/gLKWgj

So if I understand this correctly, clicking on the Item 1 link in this Codepen when the submenu is open navigates to that link?

[2016-12-08 13:17] ncoden commented on #9470
@brettsmason  This would be the bug, yes.

[2016-12-08 13:22] brettsmason commented on #9470
@ncoden I tried it in Firefox for Windows (50.0.2) and can't recreate this bug.
I tried your Codepen, and also created a visual test in the RC1 version I have locally, and seems to work correctly.

[2016-12-08 13:26] ncoden commented on #9470
@LeG3nDz With https://codepen.io/anon/pen/gLKWgj, do you have errors in console ?

[2016-12-08 13:58] LeG3nDz commented on #9470
@ncoden No errors in the console :(. I did test my friend, no bug on his side. But, i can recreate the bug on Safari 10 iPad :/

[2016-12-08 17:33] kball commented on #9424
@ncoden I think this makes sense; we want to move towards only applying styles by class, not by selector.

I'm interested in learning more about the idea of `.s-code`... we're still playing with these ideas of scoping modifiers (as discussed in https://github.com/zurb/foundation-sites/pull/9098)... would we use something like that to apply a set of styles on various elements `inside` a code elemen

[2016-12-08 17:35] kball commented on #9464
Yeah I think this is definitely an issue we need to fix. I think we should have both an example and a default... short path will be having both in comments; I'd like SuperCollider to get the actual option value but this may take some time.  @gakimball do you have any thoughts on how we'd do that?

[2016-12-08 17:49] ncoden commented on #9464
*JSDoc provide the actual option value.

[2016-12-08 17:50] Owlbertz commented on #9438
@DaSchTour interesting suggesting, I'd really like to head the ZURBian opinion.

[2016-12-08 18:22] ncoden commented on #9464
I made some more tests. The following code ...
[code]
... stop the compilations of docs. There is no error, but I think SuperCollider or JSDoc crashed. They do not handle the empty `@default` for an array value. (see http://usejsdoc.org/tags-default.html).

[2016-12-08 18:44] kball commented on #9464
Given these are docs updates I think this can be accomplished after 6.3 is out the door.

[2016-12-08 19:26] kball commented on #9470
Hmm... so this appears to be related to touch devices and the `forceFollow` option.  For reasons that I do not understand, it appears that _by default_ if when a dropdown contains a link, on touch devices the second touch will follow that link rather than closing the dropdown.

I'm not sure why this is the case; unfortunately the commit message for the commit adding it is not very communicative e8

[2016-12-08 21:49] devanflaherty commented on #9467
All resolved.
Thanks guys!

[2016-12-08 21:49] #9467 closed

[2016-12-08 22:45] kball commented on #9391
I believe this is now fixed with #9471

[2016-12-08 22:45] #9391 closed

[2016-12-09 07:48] LeG3nDz commented on #9470
Hi @kball

Thank you, `Foundation.DropdownMenu.defaults.forceFollow = false;` work nice !

My Mozilla isn't touch devices, it's on PC. But it work, than you for your support every body :)

[2016-12-09 08:25] andreamk opened #9476 "[BUG][off-canvas 6.3] scrollbars"
[CodePen with Foundation 6.3.0.rc2](http://codepen.io/andreamk/pen/XNYLxq)

**When left offcanvas is open appears the bottom scrollbar**
![fnd-offcanvas-test-open-left](https://cloud.githubusercontent.com/assets/12183989/21042138/dbbfd22e-bdef-11e6-92aa-0b898eabab1d.png)

**When right,top,bottom offcanvas has opened two scrollbars are adjacent**

![fnd-offcanvas-test-open-right](https://cloud.gith

[2016-12-09 11:12] kaktusin commented on #8505
This solved my case: duplicated reveal-overlay divs
https://github.com/zurb/foundation-sites/pull/9166/files

[2016-12-09 11:14] inimist commented on #7033
Wow, this issue is persisting for years now. The custom downloads for foundation components not working.  No easy programming guys at the foundation, the developers of great tool! Poor guys! :(

[2016-12-09 15:06] brettsmason commented on #9476
@andreamk This isn't actually a bug, but the docs for 6.3 are currently incorrect and haven't been updated to give better guidance.

To avoid scroll bars when an off canvas is open, you need to add `data-content-scroll="false"` (or `contentScroll: false` if you are using `data-options`).

You can also add a wrapper round `.off-canvas` and `.off-canvas-content` to remove scrollbars when closing a o

[2016-12-09 15:09] brettsmason commented on #9476
@andreamk Here's an example on your codepen (try the left option): http://codepen.io/brettsmason/pen/XNBdmW

[2016-12-09 20:29] ncoden opened #9483 "[Feature] Classes and mixins for Header styles"
- Add a mixin to generate custom Header styles...
- Add classes for the default headers, like `.h1`, `.h2`, `.h3`...

[2016-12-09 21:51] gitwebdevseo opened #9484 "Dropdown menu not working on touch devices"
A few people seem to have raised this issue on the Forum but no feedback from anyone from Zurb.

Here is a codepen to illustrate the problem (on 6.2.4):
http://codepen.io/Byzantium/pen/oYMbmx

On pc/mac the submenu items are clickable and work as you would expect (except giving a 404 within codepen)

On an ipad, if you
1. Tap one of the parent menu headings the submenu opens
2. Tap one of the subm

[2016-12-10 16:20] daren8888 commented on #7252
So I've figured out how to add a "custom" break-point... HOWEVER, I'm still seeing the FLASH (the forum refers to it as FOUC) on Firefox. Any thoughts on this?

www.switch.web4uinc.com/

A previous post said to upgrade from 6.0.5 to 6.2.1 ( I did that ), in fact I tried 6.2.1, 6.2.3, 6.2.4

what's the CURE to the flash? The flash even happens in Chrome when using jquery-2.2.2. I've upgraded to jqu

[2016-12-11 21:31] ncoden commented on #9483
Hum... I taked a look at typography, and I think it needs a big refactor:
- Reset and features are mixed.
- There is no one single `@mixin`.
- Everything is mixed in one big file, not organized by components.
- Config variables uses too common names and need a namespace.

About `$header-styles`:
- It is a map of properties for each header for each breakpoint (_breakpoint_ > _header_ > _properties_

[2016-12-11 21:41] ncoden commented on #9483
Pouf :boom:. Difficuly- Advenced. Because I have high expectations.

[2016-12-12 01:18] getup8 opened #9489 "Dropdown menu parent hover state lost after navigation to submenu"
The usual behavior of a drop down menu is that on hover, the parent element's `:hover` state is activated and not deactivated until the cursor moves away from either it OR the submenu(s) of that parent.

Currently, the hover state is lost when the cursor moves to the submenu.  Is that expected behavior?

Example where I change the hover color to red so it's more obvious:

https://jsfiddle.net/hoaf

[2016-12-12 04:00] getup8 commented on #9489
Realized I can get the desired effect by moving the hover state from the `a` tag to the `li` tag:

https://jsfiddle.net/ootsLxyp/

Closing this.

[2016-12-12 04:00] #9489 closed

[2016-12-12 21:44] kball opened #9492 "Refactor settings & import approach to allow dist/scss, better dependency management"
Reference: https://github.com/zurb/foundation-sites/pull/9478

@ncoden please add more details

---

Our current workaround to use SCSS dependencies has a lot of problems:
- Dependencies are pushed on Git.
- Dependencies versions are pinned.
- Internal files and relations of dependencies are assumed.
- It is difficult to partially import the components (have to import `/vendor/...` too).

The goal

[2016-12-12 21:46] rafibomb opened #9493 "[Responsive Menu] Allow for JS controlled breakpoints or menu breakpoint"
In the case of a design needing a responsive menu breakpoint that is different that small, medium, large...and the developer doesn't use Sass (no access to breakpoint mixin)

It would be nice to define a separate breakpoint for the responsive menu for those cases.

In one example, for responsive toggle it could be:
`<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="850px"

[2016-12-12 21:54] kball commented on #9438
I'm a little hesitant to move towards Typescript given no one at ZURB is currently using it, however I don't think I know enough at this point to say yes or no. Would be interested in some other opinions... @zurb/yetinauts are any of you on TypeScript?

@DaSchTour can you elaborate a little more on both the step from ES2015 to TypeScript and some more detail on the benefits you see from TypeScript

[2016-12-12 22:40] kball commented on #9483
Broadly speaking, I think this is a good direction.  I think this issue has somewhat metastasized into a few different things that maybe could be split out from each other into either multiple issues or at least possibly independent PRs

1. Separate resets from features within typography (we also need this across other parts of the framework)
2. Split out typography by component (whether this is w

[2016-12-12 22:46] ncoden commented on #9483
I do not understand 5. How would it defer from the current `@mixin foundation-typography` ?

[2016-12-12 22:50] mediabeastnz opened #9494 "Responsive Accordion Deep Linking"
The new responsive accordion doesn't seem to play nice with deep linking.

Events on either Tabs or Accordion only fire when the media query event is triggered on the new plugin.

It would be ideal if these events worked as expected with out having to resize or if deep linking was built into ResponsiveAccordion.

[2016-12-12 22:51] kball commented on #9483
Ah, perhaps I misunderstood your point further above:

`foundation-typography` is fine with me if it's working for you.  by `definitely could use it` I mean that the current implementation... is a little heavy and could use refactoring into the cleaner and more functional approach you outline above.

[2016-12-12 23:00] ncoden commented on #9483
Should I make a PR with the stuff above ? I think it is a little overengeenering. But I do not see an other way to handle a map of properties. At least it is generic :)

[2016-12-12 23:07] kball commented on #9483
I think it would be useful to have a set of `functional` primitives available to work with scss maps... the _filtering_ you describe to me sounds like what I would traditionally call _mapping_ (though I admit that language is confusing when what I would think of as a _hashtable_ is called a _map_ in scss).  From that perspective, it doesn't seem like overengineering but rather introducing a useful

[2016-12-12 23:15] kball commented on #9494
interesting, thanks for trying out 6.3 ahead of the release and filing this!  Will take a look shortly - don't suppose you have an example already coded up I can use to debug?

[2016-12-12 23:31] mediabeastnz commented on #9494
No unfortunately I don't have one that's easy to share (lots of SilverStripe CMS templating logic throughout).

I just copied the example from the 6.3 docs and attempted a few different approaches to enable deep linking as well as attempting to trigger an even when a hash is in the URL but that event only fired when the browser was resized.

[2016-12-12 23:33] kball opened #9495 "Multiselect styles default broken on mobile"
By default Foundation removes the background image on a multiselect (https://github.com/zurb/foundation-sites/blob/develop/scss/forms/_select.scss#L77) which looks find on desktop (where multiselect is expanded) but on mobile this makes the multiselect look like a text input instead of a select.

[2016-12-12 23:34] kball commented on #9495
(cc @happyimadesignr who filed this bug during QA. :))

[2016-12-12 23:46] kball commented on #9494
Oof - accordion doesn't have deeplink support at this moment, so a full solution will require implementing that.

However, I found that if I add `data-deep-link="true"` to the element that has the `data-responsive-accordion-tabs` component, it appears to work for me when the accordion-tabs is in the tabs form... both on changing tabs and then loading a page with the hash url.  The caveat is that w

[2016-12-13 00:46] mediabeastnz commented on #9494
It doesn't seem to work - although if i have:
[code]
and then link that page with the hash #tab3 it highlights the tab but doesn't open the content nor does it do anything when in accordion mode.

[2016-12-13 00:51] kball commented on #9494
Try adding the ids to the hrefs... I'll see about updating the docs, but you can take a look at the testcase I was playing around with here: https://github.com/zurb/foundation-sites/commit/93c39c7e679d02885078899c5e3aa3c2bd46c35b

[2016-12-13 01:18] mediabeastnz commented on #9494
Ahh I see I think we had ID's as well as href's.

So from this...

1. Deep linking is only supported on tabs (if you use accordion for mobile a deep link wont work).
2. Deep linking seems to be stripping the URL back to just the hash e.g. `/my-page#myhash` becomes `/#myhash`

At least we're aware of the limitations of the current version of responsive tabs/accordion :)

[2016-12-13 01:20] kball commented on #9494
number 1 definitely correct... number2 shouldn't (doesn't in the testcase I posted a link to)... can you post your updated code so I can take a look?

[2016-12-13 01:24] mediabeastnz commented on #9494
I just copied your code from [93c39c7](https://github.com/zurb/foundation-sites/commit/93c39c7e679d02885078899c5e3aa3c2bd46c35b)

Only difference is I think i'm using 6.3 RC-1 - don't think that would make a difference though.

It seems to load the correct tab and then 1 second later strip the URL. Weird huh?

[2016-12-13 01:28] kball commented on #9494
Bizarre.  I'm at the end of my day but I'll see if I can dig in more tomorrow, as well as updating the docs with this.  If you have a chance, would love to see if you also see this behavior with RC3...

Oh, one last thing to double check.  Can you post what browser you're testing with?

Thanks for helping track this down

[2016-12-13 02:57] mediabeastnz commented on #9494
Ok I did some digging...
Seems to happen on all recent version just FYI.

If deep linking is enabled there is a statement which does some browser history updates.
[This line here](https://github.com/zurb/foundation-sites/blob/develop/js/foundation.tabs.js#L246) seems to be rewriting the URL to be just `/#myanchor`

The history state seems to be undefined at that stage which might be the issue. If

[2016-12-13 04:24] aflashyrhetoric opened #9496 "[Flex Grid] $width variable in the method signature of the flex-grid-row() mixin is incorrect"
The method signature for the flex-grid-row() method ([link here](http://foundation.zurb.com/sites/docs/flex-grid.html#flex-grid-row)) is:
[code]
However, after pulling in `foundation-sites` from npm (via `yarn`, like so: `yarn add foundation-sites`), I found that the variable is not named `$width` but rather, `$size`. Passing in a $width variable yielded an error mentioning that "no such variable

[2016-12-13 09:43] DaSchTour commented on #9438
@kball TypeScript is simply just ES2015+ with addition of types. First to know is, that every valid JavaScript is also valid TypeScript, so at first there is not much new to learn. The big benefit is, that you get type information and validation before runtime.

So for example if you do something like this `document.getElementsByTagName("img");` you know that there is a NodeList of HTMLImageElemen

[2016-12-13 14:24] ncoden commented on #9483
So, I something that can be usable like this:
[code]

Before I realized this is almost the same thing as jQuery `$elem.data('delay', ...);`: The only difference is jQuery `.data` take HTML5 data attributes as default value.

@kball Should I rather use jQuery `.data` ? I know you planned to drop jQuery, but I don't know why.

[2016-12-13 15:23] zerogeebers opened #9497 "6.2.4 Drilldown menu display bug"
In Foundation 6.2.4, if a sub-menu in a drilldown menu has less slots than the previous menu, part of the previous menu will still be displayed (the part that doesn't get over-written by the sub-menu), i.e. the menu is not properly cleared when the next level is shown.

So let's say the first level of the drilldown menu has 4 slots, the second level has 2 slots, and the third level has 1 slot, as

[2016-12-13 15:34] user58258 commented on #9270
@kball

Once again, now,

FS6 is available via npm installer @ version == 6.3.0.rc2
but via bower only at version == 6.2.4

Is this to be regularly the case? That pkging systems are NOT kept in sync?

Some clarification of simply what to expect would be really helpful.

Different devs use different package mgmt tools; not being able to keep them on the same branch causes problems.

[2016-12-13 15:41] ncoden commented on #9497
This is a duplicate of #9368 and have been fixed in #9473 for `v6.3.0-RC3`.

[2016-12-13 16:04] coreysyms commented on #9438
I am not on TypeScript, and am most likely the old curmudgeon of the group when it comes to things like this. I will say that while I will play that role with my statement, consider it neither an endorsement of something else or deterrent of TypeScript. Feel free to call me whatever silly names  you wish ;)

That being said, my concerns with anything outside, around, or on top of vanillaJS is:
1.

[2016-12-13 16:33] DaSchTour commented on #9438
1. This project already uses babel, so there is already an extra step
2. Compiler can be configured to disallow implicit any. And if any is used it's a good and easy point to improve
3. Bad software is bad not matter which language is used ;)
4. It's annoying. But it leads to more stable product. And you will get the compile errors while typing. So you see problems before you ever run the code. Ri

[2016-12-13 17:21] kball commented on #9494
hmm... I can reproduce the behavior if I change the link to be `/#anchor` instead of `#anchor`, but I think that is an invalid anchor... can you confirm if your links have a `/` in the front of them?

[2016-12-13 17:26] kball commented on #9270
The rcs should only be available with 'beta' tags, they are not true released versions... so in this case bower is actually correct, I'm not sure why npm is making 6.3.0-rc2 available as a non beta.  Looking into it.

[2016-12-13 17:35] kball commented on #9438
My biggest concern on TypeScript vs not is reducing the accessibility to both existing and new contributors... a quick poll of the Foundation twitter audience shows relatively few are actually using TypeScript:

<img width="581" alt="kevin_ball___kbal11____twitter_" src="https://cloud.githubusercontent.com/assets/44007/21151359/12ebf122-c117-11e6-96de-ba5508c45bbb.png">

That said, Foundation has

[2016-12-13 18:11] DaSchTour commented on #9438
@kball well my impression is, that TypeScript helps with modularization and usage of VanillaJS. Which I think are the most important points to create better pluggability. It's a lot easier to create more complex applications and walk through dependent classes. My idea was, that a certain interface definition would help with building the several components and keep them maintainable.

The other poi

[2016-12-13 18:21] ncoden commented on #9483
I've worked on it and the result is:
[code]

I don't know how to factorize it without generating styles by breakpoint _then_ by header :sweat:

[2016-12-13 19:41] kball commented on #9483
Well if you're adding functional methods you could have the breakpoint addition happen in a function instead of at write time, then add a `group_by`, so conceptually this would look something like

`hash |> map (transforms) |> map (breakpoints) |> group_by(breakpoints)`

e.g. something like
[code]

\<\/handwavy-pseudocode\>

[2016-12-13 19:49] ncoden commented on #9483
I do not understand. Can you give an example of how the map would be after of each function ?
With a start map like:
[code]

[2016-12-13 20:59] ncoden commented on #9464
There is also: https://github.com/spacedoc/spacedoc

[2016-12-13 21:34] kball commented on #9483
Hmm... on thinking about it more I think it makes sense to group by and then map into generated scss, and what I was thinking about as a group by when we have a nested hash like this is essentially a fancy inversion... lets call it a 'nested inversion' maybe?  So it would look something like...

[code]
|> map (transforms)
[code]
|> nested_inversion
[code]
|> -zf-code-from-map
[code]

[2016-12-13 21:47] ncoden commented on #9483
I understand the advantages of this approach. Using a map of properties let us moving  and reorganizing it. But in the same time, I want to "Keep It Simple, Stupid".

It's why I was taking about a special object "map of properties" `(...properties...). All the logic is keeped inside. And a "nested inversion" would be only a way to generate a _set of responsive maps_ `( (breakpoint: (...properties.

[2016-12-13 22:10] kball commented on #9438
@DaSchTour I'm doing a bit more research and it definitely seems like given the _scope_ of Foundation it might be helpful to use TypeScript, if not immediately then a little ways down the rode.  I have a couple more questions based on your experience...

- How easy is it to incrementally upgrade to TypeScript?  IE can we start adding types & interfaces bit by bit without causing major headaches in

[2016-12-13 22:12] kball commented on #9483
Yeah...

Curious what @brettsmason and @karland think as they were the ones who did the recent work on `$header-styles`

[2016-12-14 03:37] gakimball commented on #9438
Here are some thoughts on these various issues. No hard solutions, because the current codebase doesn't afford us many easy answers. Some of these things might have to be punted to Foundation 7.

### TypeScript

To jump in on the TypeScript thing, many of its type-checking features are optional. For example, you can configure the compiler to cast any type-less value to `any`, which means "any type

[2016-12-14 04:27] anthonymidili commented on #8210
Can you post your code please?

[2016-12-14 09:01] DaSchTour commented on #9438
@kball short comment on you points:
As @gakimball already said, it's easy to incrementally upgrade to TypeScript. I could create a branch with the first most simple upgrade to TypeScript.
Well that depends on which features you use and how the compiler is configured. If this is a concern, it's also possible to use TypeScript together with Babel.
Well most people that started with TypeScript could

[2016-12-14 10:55] karland commented on #9483
I am reading through this thread and as far as I understand it it deals with three issues:

1. Change of user interface in `_settings.scss`
2. Code refactor
3. Additional functionality
4. So, I am trying to address these issue one after another.

**1. Change of user interface in `_settings.scss`**

Let me summarize my understanding.

The [current solution](https://github.com/zurb/foundation-sites/

[2016-12-14 13:40] kwentworth commented on #9484
I'm seeing this behavior as well.  Comparing 6.2.3 to 6.2.4 I removed the following lines (lines 3909-3911 in foundation.js).:
`if (_this.options.closeOnClickInside) {
              _this._hide($elem);
}`

The menu doesn't hide on click anymore, but at least the link is followed.

[2016-12-14 15:17] gitwebdevseo commented on #9484
It looks to me that this change: https://github.com/zurb/foundation-sites/pull/9472/files
incorporated into the 6.3 release will fix this. I'm not an insider - this is just my personal observation, but it looks like it should do the trick and since 6.3 is out real soon (tomorrow I believe), I'll wait to try that.

[2016-12-14 16:13] forkiven opened #9499 "Simple menu with align right still has left margin"
When using align-right I expected the margin to also switch from left to right, so that last child aligns with the outer edge.

[code]

Perhaps?

[2016-12-14 17:06] ncoden commented on #9483
@karland

**1. Change of user interface in _settings.scss**

I don't think the current solution is better. To add other properties, you can do:
[code]

I do not see any difference. But beyond that personal preference, the main advantage is it is sorted by _components_. You have, for each component, its own responsive behavior. You can work on the list to add or remove headers, or iterate on it to

[2016-12-14 17:20] ncoden commented on #9483
Also, I thought about it a lot, and did not find a better way to generate headers.

In any case, we should provide a set of mixin to let the user generate its own headers (where, when and how ze wants to). The question here is how should we generate the _default_ headers.

The simplest proper way would be:

[code]
... because of it would be simply manually generating a set of _components_ with the

[2016-12-14 17:42] #9427 closed

[2016-12-14 20:16] ncoden commented on #9424
In this case, this is a scope, not a scoping modifier. It is useful, but does not resolve this particular problem. The set of styles would be simple the same, but not applied by default, only inside the scope.

It is because of a website, you do not want to have a background (& cie) on _all_ your `<code>`. Only the ones, for example, inside your `#article` section.

For this issue, I thought about

[2016-12-14 22:23] bflol opened #9501 "[Reveal] Issues with Multiple Reveal Modals"
**How can we reproduce this bug?**

Open multiple reveal modals so one is displayed in front of the other.

Case 1: Click outside both modals and press the escape key.  Both modals are closed instead of just one.
Case 2: After the page loads, press the escape key to close the first modal.  Then click outside the second modal and press escape.  Nothing happens.
Case 3: Close the first modal.

**Wha

[2016-12-14 22:35] berzley commented on #8404
I fixed this in one of my projects with the following change on [Line 220](https://github.com/zurb/foundation-sites/blob/v6.2.0/scss/components/_button.scss#L220)

[code]

I'm sure there's a more optimized way to write it but it works and I've moved on.

[2016-12-15 01:57] qixin2004 opened #9502 "zuru"
**How can we reproduce this bug?**

1. Step one
2. Step two
3. Step three

**What did you expect to happen?**

**What happened instead?**

**Test case:**

Give us a link to a CodePen or JSFiddle that recreates the issue.

- [CodePen with Foundation 6 and MotionUI](http://codepen.io/rafibomb/pen/xVVGOB)
- [CodePen with Foundation 6, Flexbox grid and MotionUI](http://codepen.io/rafibomb/pen/jqqPra)

[2016-12-15 01:58] #9502 closed

[2016-12-15 03:23] jastacdoss opened #9503 "[Dropdown] Dropdown pane will not trigger with data-hover="true""
**How can we reproduce this bug?**
1. Appears to have occurred beginning in version 6.2.4 and has not been resolved as of 6.3.0-rc3
2. Create a dropdown button triggered by hover
3. Hover over the button

**What did you expect to happen?**
Dropdown pane to open

**What happened instead?**
Dropdown pane opens on click, but not on hover

**Test case:**

Give us a link to a CodePen or JSFiddle that r

[2016-12-15 04:11] ejlocop opened #9504 "Foundation Reveal is removing the reveal component from DOM"
Hi, foundation's reveals seems a bit off. because when i tried to instantiate element as reveal component. it instantly removes the reveal from DOM.

i cannot recreate the bugs because i just used the common way and it works on most page but not on page1.

see SO question, i posted it there also.
http://stackoverflow.com/questions/41156167/foundation-reveal-is-removing-dom

[2016-12-15 11:59] abdullahsalem commented on #9438
@gakimball I was thinking the same for Foundation 7. TypeScript already supports the latest features of ES, however it also provides many other features, particularly in terms of modularity and encapsulation.

[2016-12-15 13:42] #8622 closed

[2016-12-15 13:43] #9375 closed

[2016-12-15 14:23] Deckluhm commented on #9504
The reveal element is not removed from the DOM but moved in his overlay.

In your browser inspector you can see a new div with the reveal-overlay class with the reveal element inside it.

Here is the code that moved the reveal inside his overlay: https://github.com/zurb/foundation-sites/blob/develop/js/foundation.reveal.js#L68

[2016-12-15 20:03] ncoden commented on #9496
Hi @aflashyrhetoric,

The name of the variable has been updated at #8570, and it a part of the `v6.3.0` release. When you installed `foundation-sites` from npm, you probably installed a release candidate (`v6.3.0-``rc1`/`rc2`/`rc3`) while the documentation was still for `v6.2.4`.

@kball: It is not the issue here, but it make me think it could be useful to provide a documentation for _several_ ver

[2016-12-15 20:03] #9496 closed

[2016-12-15 20:04] andrewjmead opened #9507 "Version 6.3.0 Breaking Builds"
I noticed that version 6.3.0 no longer has the dist files in the `dist/` directory. These files are now in `dist/js/` and `dist/css/`. This change is breaking webpack builds.

I'm not sure if foundation uses [semver](http://semver.org/), but I was surprised to see a backwards-incompatible change on a minor release. Was this intentional? Thanks!

[2016-12-15 20:12] ncoden commented on #9493
I agree this would be a cool features for _the developer who doesn't use Sass_, but I think we should be consistent about what we support and doesn't. There is plenty of things we could add to the Js if _the developer doesn't use Sass_.

We provide a ready-to-use JS and CSS for the most common use cases. If the developer needs something custom... he have to use Sass. I think it's the best way to g

[2016-12-15 20:21] ncoden commented on #9507
It was intentional, see the [6.3.0 chanlog](https://github.com/zurb/foundation-sites/releases/tag/v6.3.0).

I agree that is we follow semver scrupulously, we should call this version `7.0`. But we make _little breaking changes_ very often and so the version number would not be very useful to understand the amount of changes between two versions.

Like someone said [here](https://gist.github.com/ja

[2016-12-15 20:24] andrewjmead commented on #9507
Thanks for the response @ncoden. I had just tracked down the change here https://github.com/zurb/foundation-sites/pull/9078.

I only opened an issue because I teach web development and this broke some student projects. I'm fine with the change, I just wanted to make sure it was intentional and wouldn't get rolled back in a few days.

[2016-12-15 20:24] #9507 closed

[2016-12-15 20:50] ncoden commented on #9499
I agree this is an issue.

To resolve it, `@mixin menu-simple` should take a `$direction` parameter and use a `@mixin menu-simple-margin` sub-modifier, to be able to generate a margin at the left or right.

Then, there is two solutions to provide a modifier like this in CSS:
- The simpler but not proper solution: `.simple.align-{left|right}` selector (with a specificity of `0.3.1`):
[code]
- The p

[2016-12-15 21:15] aflashyrhetoric commented on #9496
Ahhhh, I see. Thank you for the clarification! I like the way that [Laravel](https://laravel.com/docs/5.3) does it, with a little dropdown in the top right.

[2016-12-15 21:25] ThrowsException opened #9508 "foundation-everything mixin failing to build with webpack sass loader in 6.3"
using the foundation-everything mixin gives me this error when compiling with webpack.

ERROR in ./~/css-loader?sourceMap!./~/sass-loader?sourceMap!./htdocs/sass/default.scss
Module build failed:
undefined
        ^
      Argument `$color` of `red($color)` must be a color

Backtrace:
        node_modules/foundation-sites/scss/util/_color.scss:19, in function `red`
        node_modules/foundation-s

[2016-12-15 21:29] kball commented on #9508
If you're updating an existing project, you'll need to update your _settings.scss file... I believe the issue you're seeing here is the lack of the new `$badge-palette` variable.

[2016-12-15 21:37] ThrowsException commented on #9508
Thank you.

[2016-12-15 22:34] ncoden commented on #9484
@gitwebdevseo v6.3.0 is released. Is it still an issue ?

[2016-12-15 22:38] ncoden commented on #9496
It is automatically generated with SassDoc (inside SuperCollider) from the comments above our Sass mixins and functions. For example for `$size`, see https://github.com/ncoden/foundation-sites/blob/ea91b2a4a1a8f2fdfea9c55995cce00c686eadf8/scss/grid/_flex-grid.scss#L13

[2016-12-15 23:00] #9470 closed

[2016-12-15 23:12] paxperscientiam opened #9510 "Issues pertaining to sass"
**How can we reproduce this bug?**

**site link to `_settings.scss`**
The settings file on zurb.com should include a comment indicating the version it corresponds to -- [link](https://raw.githubusercontent.com/zurb/foundation-sites/master/scss/settings/_settings.scss).

I know it *should* correspond to the latest release, but it is not clear that this is so.

**concerning `app.scss`**
Why isn't [t

[2016-12-15 23:13] kball commented on #9438
@gakimball @abdullahsalem @DaSchTour Do you think switching to TypeScript would help in terms of getting the dependency graph under control? Or are they orthogonal issues?

I'd kind of like a change that large to be in more of a Major release (ie 7, which is tentatively targeted for November 2017), but I think getting our dependency system under control is pretty urgent.

[2016-12-15 23:15] kball commented on #9418
This is a great question, we should definitely continue to publish patch updates to Foundation 5.  I've been too heads down on 6.3 to think about this until now, but going to take a look now.

[2016-12-15 23:16] Erbenos commented on #9310
Same issue here too. Any ideas?

[2016-12-15 23:18] kball commented on #9310
Very odd.  Can you try using a leading 0 on the values that are <1? e.g. `0.66rem` instead of `.66rem` and let me know if it makes a difference?

[2016-12-15 23:20] Erbenos commented on #9310
My version of settings file already has this precaution used, yet it still throws an error.

[2016-12-15 23:24] kball commented on #9310
Ah interesting.  Digging into it more, it looks as though the issue is a difference in setting value between 6.3.0 and 6.2.4.   In 6.2.4, the $closebutton related variables were all scalar, while in 6.3.0 they were moved to be responsive maps...

I'm not sure why you're ending up with the 6.3 settings defaults in a 6.2.4 project, can you explain a little more how you got this set up?

[2016-12-15 23:26] Erbenos commented on #9310
Probably didn't update my npm_modules directory for few weeks, but didn't copy settings file from older  project - instead got a new one from master branch. So there could have been a version mismatch.

Thank you for help.

[2016-12-15 23:27] kball commented on #9496
@ncoden definitely worth considering, though the logistics are somewhat tricky.

[2016-12-15 23:45] kball commented on #9497
Fixed in the 6.3.0 release out TODAY :)

[2016-12-15 23:45] #9497 closed

[2016-12-15 23:56] kball commented on #9476
@andreamk Based on @brettmason's feedback and the new (updated) docs, can we close this issue?

[2016-12-16 00:07] JeremyEnglert commented on #9493
I think this is a great idea.

I see where @ncohen is coming from in regards to staying consistent, but the menu components always seem to clash the most with the default styles, especially if trying to utilize something like a logo as part of the topbar.

We also have to remember one of the motos of Foundation which is "prototype to production" - this feature addresses this as it allows less savv

[2016-12-16 00:09] kball commented on #9414
@stljeff1 Thanks for the report!  I think this is a actually a problem with the docs... these events are not documented clearly at all.  Putting together a PR to try to address this.

[2016-12-16 00:18] kball commented on #9406
This should be fixed now.

[2016-12-16 00:18] #9406 closed

[2016-12-16 00:22] kball commented on #9493
I think there are multiple possibilities for us to explore here...

1. A set of top-bar/nav specific breakpoints
2. Extend our JS media query utility to allow arbitrary breakpoints as well as the existing media queries
3. ELEMENT QUERIES! :D  (seriously, I've seen some polyfills for this out there, interested in potentially exploring this within Foundation

[2016-12-16 00:25] ncoden commented on #9493
I don't like the fact of duplicating Sass styling features in the JS. :/

[2016-12-16 00:29] ncoden opened #9512 "Provide documentation for multiple versions"
Feature request: Provide documentation for multiple versions (`v6.3.0`, `v6.2.4`...), not only the latest.

[2016-12-16 00:34] ncoden commented on #9310
`...isn't a valid CSS value` is not throw by an incorrect value in SCSS, but by a SCSS-only value (map, some strings...) generated as CSS. Because of the bad error handling of Sass, it can appear when you pass a SCSS-only value to an undeclared function.

[2016-12-16 00:44] kball commented on #9404
I suspect this is going to be addressed by https://github.com/zurb/foundation-sites/issues/9438

[2016-12-16 00:47] ncoden commented on #9510
### 1. Site link to `_settings.scss`

I agree we should had a version number in the setting file, with maybe a link to the doc and changelog ?

### 2. `app.scss`

I seen some other packages that provide an index file (like our `foundation.scss`) **and** a "import now" file, which include everything automatically. We have `assets/foundation.scss`, but I don't know if `assets/` is only for the build

[2016-12-16 00:51] ncoden commented on #9270
@user58258 `6.3.0` has been released. Is it still an issue ?

[2016-12-16 00:57] kball commented on #9414
I've fixed this in the docs, @stljeff1 can you take a look at the new docs and if it doesn't make sense to you, reopen this?  This page: http://foundation.zurb.com/sites/docs/dropdown.html#js-events

[2016-12-16 00:57] #9414 closed

[2016-12-16 03:17] memoht commented on #9484
I encountered this issue in https://github.com/zurb/foundation-sites/issues/9293 and thought it was later worked out. The interim fix was to add a `"data-close-on-click-inside" => "false"` to menus. At one point the issue was fixed before 6.3 was released. I just updated to 6.3 and took out this interim fix and the menus aren't working. I just put the fix back in. Really surprised.

[2016-12-16 03:32] memoht commented on #8975
I noted that 6.3 still didn't bump to jQuery 3 yet. Was this delayed for some reason?

[2016-12-16 03:38] paxperscientiam commented on #9510
Hi @ncoden

Broadly speaking, lists of "public" variables, functions, and mixins from each version could be compared in such a way as to infer the deprecation status of said quantities. The resultant matrix could be used in a sass user's build process to inform them that `x`,`y`, and `z` quantities are not supported in version, say, 6.2 and above (corollary: supported in versions 5.2 to 6.1.7).

S

[2016-12-16 09:20] DaSchTour commented on #9438
@kball TypeScript helps a lot with dependencies. The compiler tells you immediately if something is missing or an interface changed. It already saved me many times while refactoring.

[2016-12-16 09:23] DaSchTour commented on #8975
@memoht I think jQuery 3 is supported, but package was not changed. But minimum version should still be jQuery 2

[2016-12-16 13:53] trmjoa commented on #9467
Is this the case for the 6.3.0 release also? I get this error after upgrading to 6.3.0;

[code]

[2016-12-16 14:37] ncoden commented on #9467
@trmjoa I am sorry we could not provide a better way to handle dependencies for v6.3. We are working on a better approach for the next release.

[2016-12-16 16:44] user58258 commented on #9270
@ncoden

well, it wasn't after @kball 's last comment ... the published pkg mgr were all in-sync at 6.2.x after what I presume to have been some fix.

& yes, NOW, they're all at 6.3.0, which is great.  all devs here are now mindlessly upgrading to the *same version* of the latest-n-greatest ;-)  "Once More unto the Breach!"

We'll see what happens when there's an update ...  until I see otherwise,

[2016-12-16 17:50] andycochran commented on #9493
Should this be rolled into #9421?

[2016-12-16 19:19] user58258 commented on #8975
After upgrading my test project to latest jquery

    bower i --save jquery

and FS 6.3.0

    bower i --save foundation-sites

verifying

    bower list
        bower check-new     Checking for new versions of the project dependencies...
        test-site /srv/www/test
        ├── foundation-icon-fonts#afed003521
        ├─┬ foundation-sites#6.3.0
        │ ├── jquery#3.1.1 incompatible with ~2.2

[2016-12-16 19:23] memoht commented on #8975
Considering 6.3 was more than a minor release, I am not comfortable implementing jQuery 3 with Foundation until it gets official support. Still, it would be nice to move forward. This is literally the only thing in my app tied to jQuery 2 still.

[2016-12-16 19:54] user58258 commented on #8975
@memoht Some combination of posts, including

https://github.com/zurb/foundation-sites/issues/8834

led me to understand that it's "Fine(tm)" to use ... and was even kinda-sorta-maybe supported.  ish.  And would be more so with FS >= v630

But since still seeing these warning/complaints, looking for some clarification.

[2016-12-16 20:44] benbabics opened #9515 "SASS Issues Loading normalize-scss/sass/normalize"
I have a fresh install of foundation-sites v6.3.0, and it is bombing out during my build complaining about being unable to load `../_vendor/normalize-scss/sass/normalize`.

Please see output below:

[code]

Any help is much appreciated. Thanks!

[2016-12-16 20:48] ncoden commented on #9515
Hi @benbabics,

How did you installed Foundation ? Do you import the standard Foundation file `scss/foundation.scss`, or did you copied it to your own project to manually import some partials ?

[2016-12-16 20:57] benbabics commented on #9515
Hi @ncoden,

Thanks for the quick reply! I have tried two different ways, both of result in the same issue in my Ember app.

1. Install and manually load the framework:
a. Follow instructions outlined in: http://foundation.zurb.com/sites/docs/sass.html
b. bower install foundation-sites --save
c. Follow instructions from section "Compiling Manually", but do it as outlined in ember-cli-sass (still u

[2016-12-16 21:15] ncoden commented on #9515
I think I understand where the error come from, and I am afraid it will be not easy to resolve. ember-cli-sass is copying all the files from `includePaths` (`bower_components/foundation-sites/scss`) into a temporary directory before compiling, and our scss dependencies in `_vendor` are not copied.

You can try to add 'bower_components/foundation-sites/_vendor' to `includePaths`.

[2016-12-16 21:28] benbabics commented on #9515
Hhmm... good idea. I'll give that a shot and circle back with the result. Thx.

On Dec 16, 2016, 4:16 PM -0500, Nicolas Coden <notifications@github.com>, wrote:

[2016-12-16 22:00] gaurav2887 opened #9516 "Build with webpack failing sass loader in 6.3.0"
I have updated my project to use 6.3.0 and getting error while building. What's the fix for this?

[code]

[2016-12-16 22:06] brettsmason commented on #9516
@gaurav2887 This issue should help you: https://github.com/zurb/foundation-sites/issues/9508
Basically you have a missing variable in your settings file by the look of it.

[2016-12-16 22:21] gaurav2887 commented on #9516
@brettsmason - Thanks. Yeah just found out that I was missing $badge-palette.

[2016-12-16 22:21] #9516 closed

[2016-12-17 13:20] flobauer commented on #7668
I guess, this won't be fixed anytime soon...

[2016-12-17 19:17] ncoden commented on #9464
@kball, So, what do we do for this issue ?

[2016-12-17 19:25] ncoden commented on #7668
@flobauer Hi, sorry for the late reply. We recently released `v6.3.0`, did you tried with this last version ? I remember we fixed some issues with the Dropdown menu.

Poke @kball. There is so many issues with the dropdown menu on touch devices. See #9484, #9464, #9322, #8843

[2016-12-17 23:28] Knight-Yoshi opened #9517 "Wrong Syntax for grid-column()"
So after I updated to 6.3.0 and ran my gulp tasks this error started occurring.

[code]

[2016-12-17 23:42] ncoden commented on #9517
Hi @Knight-Yoshi,

The error come from the `grid-column` function, which take a number or a list as first parameter.

See the documentation:
[code]

Also, there was no change on grid-column You probably called the mixins `grid-column`, `grid-column-offset` or `grid-column-size` with an other parameter.

Could you give more informations about how you uses these mixins and functions ? Could you also

[2016-12-17 23:46] Knight-Yoshi commented on #9517
So I found this is what breaks it.

[code]

It worked fine before with 6.2

[2016-12-17 23:52] ncoden commented on #9517
True. `null` is not a valid value for `grid-column`. You can use:

[code]

[2016-12-17 23:53] Knight-Yoshi commented on #9517
Hmm. Well thanks for that. :D

[2016-12-17 23:54] #9517 closed

[2016-12-18 00:04] ncoden opened #9518 "Incorrect documentation for `@function grid-column`"
The documentation of `@function grid-column` is incorrect. We can read at [scss/grid/_column.scss:15](https://github.com/ncoden/foundation-sites/blob/76717702ee348fb065dc337810b11a2ebe9fe312/scss/grid/_column.scss#L15):
[code]

But `grid-column` takes a _list_ as argument and not a _string_:

[code]

Todo: Fix the documentation or allow to pass strings.

[2016-12-18 01:58] gakimball commented on #9438
@kball I think if the current codebase adopted TypeScript, and *then* we went about our refactor, having a statically-typed codebase would be helpful.

However, I think the initial task of reworking out current module organization will still be just as challenging. There are higher-level, more abstract decisions that need to be made about what goes where, which are relevant regardless of if the co

[2016-12-18 02:44] ncoden commented on #8843
Hi @micschk, sorry for the (very) late reply.

This issue has been reported several time since. There is a discussion open at https://github.com/zurb/foundation-sites/issues/9464, we are working on it.

This is the normal behavior: the link is forced to be followed on the second click on touch devices. See the documentation of the `forceFollow` options:
[code]
[js/foundation.dropdownMenu.js:421](h

[2016-12-18 03:18] weiserma opened #9521 "Expanded button group -- does not expand if only 1 button"
**How can we reproduce this bug?**

[code]

**What did you expect to happen?**

the button should fill the container

**What happened instead?**

button was regular width

**Test case:**

N/a  --- see code above

[2016-12-18 03:56] ncoden commented on #9521
https://codepen.io/ncoden/pen/qqLzmO

[2016-12-18 04:17] ncoden commented on #9521
Hi @weiserma

Thank you for having reported the bug. I am surprised it was not reported before.
I created a codepen for this issue: https://codepen.io/ncoden/pen/qqLzmO. Please provide it the next time, it really help.

I fixed it in https://github.com/zurb/foundation-sites/pull/9522

[2016-12-19 06:36] jamilservicos commented on #9503
@jastacdoss
fixed on 6.3.0 version
see: http://codepen.io/jamilservicos/pen/MbLpva

issue resolved on 6.3.0 version!

[2016-12-19 06:42] jamilservicos commented on #6704
Dropdowns hover is running on version 6.3.0.

[2016-12-19 07:41] idolab opened #9523 "Missing .column-block in flexgrid"
**How can we reproduce this bug?**
.column-block is not working for flex-grid.
(yes, because it just didn't `@include grid-column-margin` at `_flex-grid.scss`)

**What did you expect to happen?**
.column-block should work for both flex-grid and normal grid

**What happened instead?**
it doesn't work for flex-grid.

[2016-12-19 07:55] saqueib commented on #7241
@andycochran @coreysyms @zurbchris  I am facing a similar issue, When I am hiding some of the elements using $('.grid-item').hide(), the sticky element is not recalculating height, but when I resize window by mouse, it's updating and fixing the overlap issue.

Is there any other way I can call some method to do the recalculation, I tried triggering window resize but it's not working.

[code]

[2016-12-19 09:10] alejopj commented on #9508
Still now working for me. `$badge-palette` variable was already in place and I still have the same issue. Even after a clean installation of all the bower components I need. Anyone else?

[2016-12-19 13:29] jastacdoss commented on #9503
Thank you! I tried that version and it didn't work, must have had something else going on as well.

[2016-12-19 13:29] #9503 closed

[2016-12-19 15:50] coreysyms commented on #7241
@saqueib your issue has been addressed here. https://github.com/zurb/foundation-sites/pull/9462 although not merged yet, feel free to pull it down.

[2016-12-19 16:11] phifa commented on #9483
Would be cool we could add color and font-weight to the map in settings.scss as well! Thoughts?

[2016-12-19 16:23] ncoden commented on #9483
@phifa: color and font-weight does not need a specific unit. This is why these properties wasn't in the map, we could not add a special case for each single property.

But by switching to a "map of properties + filter" approach, you can add all the properties you want in the map.

[2016-12-19 16:40] ncoden commented on #9508
Hi @alejopj,

Is your `$badge-palette` variable like this: `$badge-palette: $foundation-palette;` ?
Also, can you provide the result of `@debug $color;` at [scss/components/_badge.scss:57](https://github.com/ncoden/foundation-sites/blob/5573453df250bdf0ce1dec239675cc0375e3e152/scss/components/_badge.scss#L57) ?

[2016-12-19 16:46] ncoden commented on #9390
Fixed in https://github.com/zurb/foundation-sites/pull/9443.

[2016-12-19 16:46] #9390 closed

[2016-12-19 16:47] ncoden commented on #6704
@brianlenz Can we close this issue ?

[2016-12-19 16:50] brianlenz commented on #6704
Sure; we are still using Foundation 5, so we've not had a chance to test on 6.x yet. If/when we upgrade to 6.x, we can deal with any issues separately at that point...

Thank you.

[2016-12-19 16:57] #6704 closed

[2016-12-19 18:05] #9518 closed

[2016-12-19 18:11] user58258 commented on #8975
@ kball @colin-marshall @Owlbertz
ping?

[2016-12-19 19:43] attilah opened #9527 "Feature request: checkbox, radio button, radio button group"
Feature:

Make Foundation Sites' UI components more complete by providing SVG based themeable checkbox and radio button components.

From behavioral perspective they're really similar visually and from DOM perspective they're sharing the same characteristics.

Microsoft Office UI fabric covers all the state and visual requirements for such a component, it can be a great guideline to make it happen

[2016-12-19 19:48] ncoden commented on #9527
Hi @attilah,

I agree this can be useful to provide a way to customize checkbox and radio buttons, with SVG or pure CSS.
@zurb/yetinauts What do you think ?

[2016-12-19 19:52] brettsmason commented on #9527
This sounds like a good idea to me 👍
Also in case this helps the discussion: https://designnotes.blog.gov.uk/2016/11/30/weve-updated-the-radios-and-checkboxes-on-gov-uk/ @andycochran shared this a few weeks ago which ties in with this I think.

[2016-12-19 19:56] ncoden commented on #9527
@attilah Do you already an idea in the way this new feature could be used ?

I think it would be a Sass mixin used to declare a new checkbox/radio button component, with SVG arguments.

[2016-12-19 23:27] kball commented on #9464
Improving the docs is going to be a big focus by @rafibomb and I in the first part of the new year.  @gakimball as the primary author on supercollider & spacedoc, how hard do you think it would be to get those libraries to read the actual value for these variables?

[2016-12-19 23:33] kball commented on #7668
Yeah, there are a ton.  I don't have a bunch of time for debugging this week and I'm off the following week but I'll take these on as a priority for 6.3.1 and tackle them first thing in Jan.

[2016-12-19 23:38] #9521 closed

[2016-12-19 23:50] kball commented on #8975
It should "Just work" - all known conflicts have been removed.  It looks like the bower.json dependency spec got missed (It's at `~2.2.0`, and should be `^2.2.0` like in package.json).  I'll submit a PR to fix.

[2016-12-19 23:52] kball commented on #8975
err, should be >= not ^

[2016-12-20 00:07] kball commented on #9527
Seems like a good idea to me.

Slightly off topic, but I'm also interested in other ways we can/should be thinking about SVGs within Foundation.  I've been playing with a simple plugin for auto-inlining SVGs using data attributes, which then makes them accessible to CSS in page, among many other things (see https://github.com/zurb/foundation-inline-svg)... I think there's a ton of common cases lik

[2016-12-20 00:20] #9523 closed

[2016-12-20 00:27] #8975 closed

[2016-12-20 00:29] attilah commented on #9527
@ncoden In my head it is about pure html + css where these fields can be included as part of Foundation Forms in different layout modes (horizontal, vertical, etc)

I am not entirely sure that we should push it being js components, since that can vary based on what environment you try to use it.

[2016-12-20 00:43] rafibomb opened #9533 "[Card] Card Features and Improvements"
First off, thanks to @DaSchTour and @brettsmason for getting cards into Foundation! We're compiling feature requests for the cards (mostly flex-mode) here and outstanding issues.

### Features
- [ ] Complete Flexbox support of card in flex-mode (`.card-divider`, `card-section`)
- [ ] Add Flexbox documentation section on cards page
  - [ ] Demo equal height cards with flexbox and helper classes
  -

[2016-12-20 01:06] user58258 commented on #8975
@kball @rafibomb
great, thanks.
if this could get merged to _release_ tag, and updates pushed to pkg managers, it'll help with rollout -- without the need for intervention.

[2016-12-20 04:13] rafibomb commented on #9533
'masonry" like wrapper example:
<img width="1248" alt="screen shot 2016-12-19 at 8 10 50 pm" src="https://cloud.githubusercontent.com/assets/5652085/21338060/85e2e4d2-c627-11e6-9f9b-b1c16516dbbe.png">

[2016-12-20 05:09] andycochran commented on #9527
As @brettsmason points out. I'd really like us to follow the gov.uk method. It very well researched and tested.

[2016-12-20 05:16] ncoden commented on #9527
I do not understand. Are you talking about the design, or the way it is implemented ?
https://govuk-prototype-kit.herokuapp.com/docs/examples/elements/radio-buttons-checkboxes

[2016-12-20 06:15] saqueib commented on #7241
@coreysyms I tried pulling updated file from [here](https://github.com/coreysyms/foundation-sites/blob/74556f18dfcf300d7a2c366e2bddd9dcaee9fb8b/js/foundation.sticky.js) and build it, now I am getting this error.

[code]

[2016-12-20 08:08] phifa commented on #9483
sounds cool?

[2016-12-20 11:14] alamowo opened #9535 "Box-sizing inheritance in webkit/blink browsers broken"
`select` Elements that are nested in `details` do not inherit the `box-sizing: border-box;` correctly. All other input elements work because box-sizing is set explicitly.

Tested on Chrome Version 55.0.2883.95 (64-bit) and Safari Version 10.0.1

This is a known bug in Chromium.
[Chromium Issue Tracker](https://bugs.chromium.org/p/chromium/issues/detail?id=589475&q=details%20box-sizing&colspec=ID%2

[2016-12-20 12:14] martinschilliger commented on #8333
Same problem here with Equalizer inside of an orbit. My workaround was to trigger
[code]
after loading the orbit-slide. It was needed to call `resize` two times…

[2016-12-20 12:46] alejopj commented on #9508
Hi @ncoden,

About the first question, yep, it was (before reverting to 6.2.4).
About the second one, give me until EOW, as we are on a freeze for a production deployment on Thursday and we are also short of time. I'll try to make all the front-end team to try to update again and check also the badge component. Ping me again if I forget it please. Thanks!

[2016-12-20 13:31] gitwebdevseo commented on #9484
@ncoden sorry for the delay in replying - been travelling. I have tried it with a fresh local install of 6.3 and it no longer seems to be a problem - i.e. dropdown menu submenu items are selectable on touch devices - well on the ipad I tried with anyway. I would put up a codepen to illustrate but the jsDelivr CDN links (referenced on this page: https://foundation.zurb.com/sites/docs/installation.h

[2016-12-20 13:33] gitwebdevseo commented on #9484
Actually - I will raise a separate request to get the CDN links populated.

[2016-12-20 13:39] gitwebdevseo opened #9537 "CDN Links not populated"
This page in the documentation:
https://foundation.zurb.com/sites/docs/installation.html
refers to CDN links at jsDelivr, but the links referenced for the 6.3 code are not actually there.

[2016-12-20 14:59] coreysyms commented on #7241
@saqueib sorry, I assumed you were on 6.3.0.
Foundation 6.3.0 is a dependency of the #9462

[2016-12-20 15:43] sinspiral commented on #9484
I'm having this issue too with the 6.3.0 version. I have created two codepen's:

- http://codepen.io/sinspiral/pen/ObqbLG
  - This is using v6.3.0 which is broken. On touch devices, the Items 1A-1C don't navigate to its links.
- http://codepen.io/sinspiral/pen/BQbQjX
 - This is using v6.2.1. This version was the last one it was working.

I'm using the same example as on the docs.

As workaround, t

[2016-12-20 16:20] michaelBenin commented on #7266
If you want to use it as a mixin: `@include grid-column-offset($o);`

[2016-12-20 21:43] #9537 closed

[2016-12-20 21:43] ncoden commented on #9537
https://github.com/zurb/foundation-sites/pull/9538

[2016-12-21 00:21] rafibomb commented on #9492
One thing that has confused and created challenges is how to update Foundation. 6.3 is a good example where the settings file is drastically different and without completely pasting in a new one over the old (which would wipe out your custom settings).

It would be nice if there was a way to check the defaults vs changes and apply the new variables into the project.

[2016-12-21 00:23] kball commented on #9492
I'd love it if when we restructured this, we could separate out the concept of the defaults needed to function from the values set by the user, so that in the case of an update like the above brand new variables don't need to be imported by the user into their project in order to upgrade.

[2016-12-21 00:50] ncoden commented on #9492
It already works like that. The default needed variables are defined in the files of each components. Foundation does not require `settings.scss` to compile. So the user can simple create its own empty setting files, and add in it the few changes ze needs.

Maybe we should add comments in `settings.scss` to explain that this file is useful when you needs to change a lot of things, but otherwise yo

[2016-12-21 01:26] gakimball commented on #9464
@kball It should be possible to get what you need (separate examples and defaults) without modifying Supercollider. I'll do some experimentation with tag parsing and see if we can't come up with something less brittle than the current system.

Having an example and a default in the table might make it too crowded, but needing them separate makes sense. An option might have, say, `null` as a defaul

[2016-12-21 01:34] ncoden commented on #9464
@gakimball Thank you for your reply. But the main problem here is how to _get_ the default value. It is not provided in the SuperCollider object, maybe because it is an array value and not a variable ?

[2016-12-21 01:39] gakimball commented on #9464
@ncoden The Supercollider object comes straight from JSDoc and isn't modified in any way. According to the [documentation for the @default JSDoc annotation](http://usejsdoc.org/tags-default.html), it only works with primitive values: string, number, boolean, and `null`. So if a plugin has an array or object as a default value, it won't be picked up.

I'm also wondering if the parser only plucks th

[2016-12-21 01:41] ncoden commented on #9464
So, we will keep the current solution, but with `@default` instead of `@example`. :/

[2016-12-21 01:43] gakimball commented on #9464
What's an example of where the default and the example are different enough that you'd need to show both? And how prevalent do you think such instances are?

[2016-12-21 01:48] ncoden commented on #9464
I never talked about a single example value, but the expected type (keyword, number...) and/or all the possibles values when relevant.

[2016-12-21 04:19] simshaun opened #9543 ""tr { page-break-inside: avoid }" causing Printing problems in Firefox"
**How can we reproduce this bug?**

1. Create a multiple-row table with one row containing multiple pages of text.
2. Open Print Preview in Firefox

**What did you expect to happen?**

The table should be printed cleanly, with no extraneous page breaks.

**What happened instead?**

The row containing pages worth of text is split to a new page.

# Test case:

http://codepen.io/simshaun/pen/rWRvaX

[2016-12-21 05:17] ncoden commented on #9543
Hi @simshaun,

I understand why you expect your table to be split between pages. But when there is a lot of small rows, I personally expect my table to break. See: https://codepen.io/ncoden/pen/zobjWq.

On firefox, with `page-break-inside: avoid;`, the `Message` row is moved to the second page on the first table. But with `auto`, a small row is split where is would be better to not to.

So maybe w

[2016-12-21 06:54] simshaun commented on #9543
I see what you're saying.

A modifier would be fine.

Heh. This isn't a very particular case for us since we often have long rows, but I can see your point of this not being needed in some other projects.

Maybe I'm missing something that should be obvious, but I don't understand how adding this as a print-only modifier would add complexity, though. 1) It's opt-in, so no BC break. 2) Foundation do

[2016-12-21 07:02] ncoden commented on #9543
By "complexity", I mean we cannot add 45000 modifiers for 45000 specific needs. But you are right, this can not really an uncommon case. If you want you can open a PR, otherwise i'll do it.

[2016-12-21 07:19] simshaun commented on #9543
Do you think this should be targeted specifically to `tr` tags to counteract the default behavior only on desired rows?

[2016-12-21 07:30] ncoden commented on #9543
I always say that we should avoid applying properties automatically or from the parent. So yes, I think we should add something like:
[code]
It could be used on `tr`, but also `pre` or `blockquote`.

[2016-12-21 09:59] gitwebdevseo commented on #9537
This is only a very minor thing, but the page
https://foundation.zurb.com/sites/docs/installation.html
under the heading 'CDN Links' states "The folks at jsDelivr host the compressed Foundation CSS and JavaScript for us."
Since the links have been changed to point to Cloudflare you should probably give them the credit now.

[2016-12-21 10:37] gitwebdevseo commented on #9484
Yes - contrary to what I said in my previous post, I agree with @sinspiral that it is still broke. Did my own codepen here:
http://codepen.io/Byzantium/pen/jVXrpR
clicking on submemu items on pc/mac gets a 404 (as expected / intended) but tapping on submenu items on a touch device produces no action except that the submenu gets closed.

[2016-12-21 14:17] jhned opened #9545 "Add Setting To Disable Block Grid CSS"
Hey there,

I find that I don't really use the Block Grid these days-- I usually create a flexbox container with `flex-wrap: wrap`.  As such, I'd like to remove the extra styles that come from the Block Grid, but I can't do that without directly editing the Foundation grid files. Would it be ok to create a setting that can totally enable or disable the Block Grid CSS?

[2016-12-21 16:34] RamanCool opened #9547 "No Gutters class for a row without gutters ( no spaces b/w columns )"
Does zurb have any plan for introducing `.row.no-gutters` like [bootstrap 4 ](https://github.com/twbs/bootstrap/pull/21211)

[2016-12-21 17:07] brettsmason commented on #9547
It looks like what you are talking about is already here, it's just called collapse: http://foundation.zurb.com/sites/docs/grid.html#collapse-uncollapse-rows

[2016-12-21 17:37] RamanCool commented on #9547
I am new to zurb foundation so i didn't knew ... thanks a lot

[2016-12-21 17:37] #9547 closed

[2016-12-21 18:35] IamManchanda commented on #9533
http://codepen.io/IamManchanda/pen/eBoYpM

[2016-12-21 19:08] bfeltman commented on #9515
Same issue here.  Struggling with this for 2 days.  I've added `bower_components/foundation-sites/_vendor` to include path with no luck.

Any other suggestions?

[2016-12-21 19:55] benbabics commented on #9515
@bfeltman I opened another ticket for **ember-cli-foundation-6-sass** codebase; I would recommend not overlooking this suggestion simply because it's an Ember Addon. He outlined that in this case it's a broccoli issue, but outlined a good _temporary_ solution using `.bower-postinstall.sh`.

If you're interested, you can read more about it here: https://github.com/acoustep/ember-cli-foundation-6-sa

[2016-12-21 22:19] kball commented on #8950
Issues 2 and 3 have been addressed in version 6.3, and Issue 1 sounds to me like it is not necessarily an actual bug - the offcanvas component and the drilldown component are independent, closing and opening the off canvas should not impact the drilldown.  If you want the drilldown to reset on close, you can use javascript to listen for the offcanvas close event (`closed.zf.offcanvas`) and then re

[2016-12-21 22:19] #8950 closed

[2016-12-21 23:32] #9484 closed

[2016-12-22 00:14] ncoden opened #9548 "GitFlow"
Move to a better branch management: GitFlow.
See: http://nvie.com/posts/a-successful-git-branching-model/

---

To complete.

[2016-12-22 00:15] ncoden commented on #9515
@benbabics Can we close this issue ?

[2016-12-22 00:16] benbabics commented on #9515
Yes. Thx

[2016-12-22 00:16] #9515 closed

[2016-12-22 00:16] #9543 closed

[2016-12-22 00:25] kball commented on #9438
Quite apart from the TypeScript decision, I think @gakimball's points around actual approach and delivery are pretty important.

### Module Organization
One question I have is... do we need to have a "good" solution for the 'just drop in the files with script tags' for anything other than the "full package"?  IE, what if our answer was... use the full version, use a build system, use the customize

[2016-12-22 00:25] ncoden commented on #9537
You are right. I'll update this.

[2016-12-22 00:31] kball commented on #9123
@coreysyms it sounds like you have a sense of what is going on here - I'm not super familiar with bfcache and how it works... is there an event we can listen for here and trigger a reset?  Are there any other components where this would make sense?

[2016-12-22 00:32] nschwan94 commented on #7386
This has been a wonderful thread to read. But I'm totally lost re: script-loader and importing foundation js.
Thanks to @shtalinberg for posting long code snippets, but I feel like I need the entire files to make sense of it.
And @timaschew I visited your repo but couldn't find anything relating to script-loader and your recommended "import script!jquery" syntax. I'm sure I'm misunderstanding.

In

[2016-12-22 00:32] kball commented on #9136
I believe this was resolved in 6.3, closing.

[2016-12-22 00:32] #9136 closed

[2016-12-22 00:34] kball commented on #9124
This was fixed in #9280,

[2016-12-22 00:34] #9124 closed

[2016-12-22 00:35] kball commented on #9102
Perhaps we can look at this as a part of https://github.com/zurb/foundation-sites/issues/9421

[2016-12-22 00:38] kball commented on #9322
I believe this is fixed for good in #9456, will go out in 6.3.1.

[2016-12-22 00:38] #9322 closed

[2016-12-22 00:39] kball commented on #9371
I believe this has been entirely resolved - please reopen if you are still seeing this.

[2016-12-22 00:39] #9371 closed

[2016-12-22 00:39] kball commented on #9305
This has been fixed

[2016-12-22 00:39] #9305 closed

[2016-12-22 00:46] kball commented on #9082
@andycochran or @ncoden can one of you take a look at this?

[2016-12-22 00:53] kball commented on #9075
Hmm, looking into this I also don't see why `hide()` is called on destruction. This seems to happen in a few different Foundation plugins (see for example what tabs is doing), but doesn't match my expectation of `destroy` to simply teardown all of the things that that the javascript added...

Hmm.

@gakimball @colin-marshall @rafibomb @coreysyms @abdullahsalem @designerno1 @Owlbertz  any of you kn

[2016-12-22 00:56] kball commented on #9067
I believe that this was fixed by https://github.com/zurb/foundation-sites/pull/9296

[2016-12-22 00:56] #9067 closed

[2016-12-22 00:57] kball commented on #9062
Fixed by #8889

[2016-12-22 00:57] #9062 closed

[2016-12-22 00:59] kball commented on #8998
I'm seeing this in current dist files and builds, so closing this... please chime in if you're still having a problem.

[2016-12-22 00:59] #8998 closed

[2016-12-22 01:00] kball commented on #8994
Not sure what to do with this one... @andycochran @brettsmason @ncoden @rafibomb do ya'all have thoughts?

[2016-12-22 01:00] ncoden commented on #9082
Hmm... I'm not sure (because in fact I don't like the way we handle columns margins), but I think @samuells is right.

[2016-12-22 01:02] kball commented on #9053
https://github.com/zurb/foundation-sites/pull/9500

[2016-12-22 01:03] kball commented on #9012
I agree with the response above; this is not a foundation issue but a result of NPM being a clusterF*$#

[2016-12-22 01:03] #9012 closed

[2016-12-22 01:04] ncoden commented on #9082
We should have:
[code]

But there is probably a way to implement it better than this.

[2016-12-22 01:05] kball commented on #8977
@andycochran do you want to move this forward? I think we'll get more interaction & feedback if we make it an actual PR...

[2016-12-22 01:06] kball commented on #8978
I believe this was fixed in #9002

[2016-12-22 01:06] #8978 closed

[2016-12-22 01:11] kball commented on #8900
Fixed in #8948

[2016-12-22 01:11] #8900 closed

[2016-12-22 01:14] kball commented on #8833
@andycochran I know you have opinions about button/input/etc groups... can you take a look at this one?

[2016-12-22 01:17] kball commented on #8813
Based on the above conversation, and the fact we're intending to go LESS into styling elements and more into keeping styles in classes, this seems like this is WONTFIX

[2016-12-22 01:17] #8813 closed

[2016-12-22 01:18] kball commented on #8787
I believe this has been fixed for a while

[2016-12-22 01:18] #8787 closed

[2016-12-22 01:19] kball commented on #8756
This would be worth looking at during https://github.com/zurb/foundation-sites/issues/9421

[2016-12-22 01:22] kball commented on #8784
Totally get the custom plugin request (#8756)... trying to understand the non-plugin case... all of the current plugins (dropdown, drilldown, and accordion) are for nested menus... the menu example you show here has no nesting... is that an artifact of the example?  Or are you wanting to somehow make a non-nested menu responsive into a plugin at some sizes?  Can you help me understand what you're

[2016-12-22 01:23] kball commented on #8797
The issue here is likely to be one of prefixing... make sure your sass build includes autoprefixer.

[2016-12-22 01:23] #8797 closed

[2016-12-22 01:26] kball commented on #8798
I believe this is related to https://github.com/zurb/foundation-sites/pull/9396 - the in-framework build process does not actually reference the settings file (which is a generated file updated on deploy).

We have an open issue to look again at how we handle settings (https://github.com/zurb/foundation-sites/issues/9492), I think I will close this in favor of that.

[2016-12-22 01:26] #8798 closed

[2016-12-22 02:09] ncoden commented on #9492
Also, because of it is a generated file, `settings.scss` should not be in `scss/settings.scss` but rather in `dist/scss`.

[2016-12-22 09:16] DaSchTour commented on #9438
From what I know from working with SystemJS all of this should be possible. It should be possible to create bundles for every module that uses all outside dependencies from global. Than dropping in the script files in the right order should work. But I guess the best would be to say. There is a package with all stuff in it and that's it. jQuery also doesn't offer just some parts and I guess most p

[2016-12-22 09:46] denisahac commented on #9545
Please check the [flexbox](https://foundation.zurb.com/sites/docs/flexbox.html) section of the official documentation.

[2016-12-22 10:19] IamManchanda opened #9551 "Flip Effect for Foundation Cards"
As, Cards is out in Foundation 6.3
I am proposing this flip effect to foundation cards

http://codepen.io/IamManchanda/pen/eBoYpM

**Special Note:** Have proposed similar feature in bootstrap too so sorry for any duplication n all. I Just love and use both frameworks in my projects, so a bit neutral and proposing to both :)

[2016-12-22 16:59] IamManchanda opened #9553 "Micro Animation for Buttons"
Something like this would be great for the framework--> http://semantic-ui.com/elements/button.html#animated

Codepen --> http://codepen.io/IamManchanda/pen/Pbvmxg

[2016-12-22 17:12] coreysyms opened #9554 "Marking site download "everything" Tab-Accordion does not initalize"
Most likely an issue with the customizer on the download page but the JS code compiled does not initialize the new tab accordion.

**How can we reproduce this bug?**

Go to the marketing download page > http://foundation.zurb.com/sites/download.html/
Download "Everything"
Open index.html and drop in the code block for a tab accordion.
The tab accordion does not initialize.

**What did you expect t

[2016-12-22 18:28] kball commented on #8651
The responsive accordion tabs feature has been merged and released in 6.3!

[2016-12-22 18:28] #8651 closed

[2016-12-22 18:30] kball commented on #8662
The callback function has been removed from the docs - listening for the events is the preferred mechanism

[2016-12-22 18:30] #8662 closed

[2016-12-22 18:31] kball commented on #8689
This should get addressed as a part of https://github.com/zurb/foundation-sites/issues/9421

[2016-12-22 18:38] Vuurvlieg opened #9555 "Customerizer wrong default color"
The customer (default settings) has a bug in the last version 6.3.0.

According the the [docs](https://foundation.zurb.com/sites/docs/label.html#sass-variables) the default color of the label is white.

However, the default color right now is `#0a0a0a` after downloading the default custom build.

This is not only for the label, but also but accordion and probably more.
So there is some bug related

[2016-12-22 18:42] kball commented on #9554
Fixed

[2016-12-22 18:42] #9554 closed

[2016-12-22 18:44] kball commented on #8736
Given the PR above has been merged, closing this issue.

[2016-12-22 18:44] #8736 closed

[2016-12-22 18:49] kball commented on #8618
The build processes are slightly different, and the customizer includes the motionUI classes by default in "everything", while the CDN simply loads the compiled `.css` file from the repo which does not include motion UI by default... so that accounts for item 4.

I believe the other three differences have all been addressed, so closing this issue.

[2016-12-22 18:49] #8618 closed

[2016-12-22 19:14] nlap opened #9556 "retina named query"
Any thoughts on changing the pixel ratio for the `retina` named query?

I'm running a 4K display on Windows at 175% scaling. I think it's pretty common to run HiDPI at 150-175% scaling. Would be nice to have Interchange use high res images at those scales too, out of the box. Currently the retina named query is 200%+ scaling:

`only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (

[2016-12-22 19:30] andreamk opened #9557 "Problem with the alignment of the nested rows with flex grid"
You can see here
http://codepen.io/andreamk/pen/xRepeR

[2016-12-22 19:40] andreamk commented on #9476
Yes thanks

[2016-12-22 19:40] #9476 closed

[2016-12-22 21:13] Deckluhm commented on #9553
If you are talking about adding animations to buttons, I don't think it should be in Foundation core.

You can already use libraries like [Motion UI](https://github.com/zurb/motion-ui) (from ZURB) to add animations to some JS components like [Reveal](http://foundation.zurb.com/sites/docs/reveal.html#js-options) or [Toggler](http://foundation.zurb.com/sites/docs/toggler.html#toggle-with-animation)

[2016-12-22 21:58] colinmackinlay opened #9558 "[Forms] Fieldset scss variables over-ridden in _fieldset.scss"
**How can we reproduce this bug?**

Create a fieldset inside or outside a form and with or without a legend

**What did you expect to happen?**
A bordered fieldset box with a legend, customisable by the variables in _settings.scss

**What happened instead?**
border is hidden and variables overridden by _fieldset.scss

**Test case:**

            <form>
                <fieldset>

[2016-12-22 22:38] davicho opened #9559 "faulty documentation"
In trying to implement the **responsive navigation** (no dropdowns in my case) [https://foundation.zurb.com/sites/docs/responsive-navigation.html](https://foundation.zurb.com/sites/docs/responsive-navigation.html)

The doc here under JavaScript Reference [https://foundation.zurb.com/sites/docs/responsive-navigation.html#javascript-reference](https://foundation.zurb.com/sites/docs/responsive-naviga

[2016-12-23 01:47] gakimball commented on #9464
@ncoden When you say "all possible values", I can think of a few scenarios:

One is that a plugin option can accept multiple types. I haven't been in the codebase in a while, but ideally there are as few of those as possible to begin with. If the explanation is too verbose, you might be better off moving that text out of the option table and into the documentation body. For example: "If a number i

[2016-12-23 02:22] gakimball commented on #9438
@kball Y'alls might need to dig in to whatever data you have on usage of the various flavors of Foundation.

I think trading individual package bloat for simpler standalone packages may be worthwhile, though. Consider that network overhead for multiple requests *tends* to be a greater bottleneck than file size, especially on high-latency networks. And we are mobile-first, y'all.

With that in mind

[2016-12-23 05:51] colinmackinlay commented on #9558
It seems that this is deliberate so that the default behaviour is to hide the border of the field set.

The border is reinstated and uses the correct values if the field set has the class .fieldset explicitly set.

..... and it's clearly documented!

DOH!

[2016-12-23 05:51] #9558 closed

[2016-12-23 13:09] DaSchTour commented on #9553
I could try to use animate.css to add animations to buttons.
This is just a short demo as I'm a bit on the rush.
http://codepen.io/DaSch/pen/aBroLw

[2016-12-24 00:01] ncoden commented on #9464
Fixed: https://github.com/zurb/foundation-sites/pull/9562

[2016-12-24 00:47] ncoden commented on #9559
Partially fixed: https://github.com/zurb/foundation-sites/pull/9563

For `foundation.responsiveToogle`, it is not a dependency of `foundation.responsiveMenu` and the current docs template support only one file name (see [foundation-docs:templates/partials/javascript-reference.hbs:8](https://github.com/zurb/foundation-docs/blob/da8388b81b48749ea9fb4e9be398fbd11ba2b889/templates/partials/javascript-

[2016-12-24 01:06] ncoden commented on #9555
Hi @Vuurvlieg,

Since `v6.3.0`, Foundation is using a11y-compliant colors (see #9319). It means that when the background color is too light, we use `$dark` instead of `$white` for text color (see [scss/components/_label.scss:60](https://github.com/ncoden/foundation-sites/blob/develop/scss/components/_label.scss#L60)).

Maybe we should update the docs of all color variable `$*-color`. @andycochran

[2016-12-24 10:30] BicanMarianValeriu opened #9564 "Color of the .button.success"
**How can we reproduce this bug?**

In foundation 6.2.4 the color of the text of the button was white.
Now the color is black.
It should be as it was in the previous version.

**What did you expect to happen?**
.button.success,
.button.success a
.button.success:hover {color:#fff}

**What happened instead?**
With foundation 6.3.0 the text is black unlike other colored buttons.

[2016-12-24 10:33] BicanMarianValeriu opened #9565 "Pre tag overflows the width of the container"
**How can we reproduce this bug?**

Write a long piece of css code for example.
Put that on a column div.
The pre tag will overflow the width of the column container

**What did you expect to happen?**
I expect to see a X axis scrolling bar.

**What happened instead?**
Text overflows the container width.

**Test case:**
pre {overflow-x:auto} will fix that.

[2016-12-24 10:37] BicanMarianValeriu commented on #9553
This will load the framework with features that some users dont need. I dont recommend.
You can always integrate with animate.css or hover.css wich is perfect for your buttons.
Check a demo with animate.css here: http://www.wecodeart.com/

[2016-12-24 11:42] ncoden commented on #9565
Hi @BicanMarianValeriu

I confirm this is is an unexpected behavior. I'll open a PR and add `pre {overflow-x:auto}` to our global styles, because of I think there is no case where we would expect the `pre` content to overflow.

I made a codepen to verify the bug. Next time, please provide one. It really help us. https://codepen.io/ncoden/pen/ENzmwZ

[2016-12-24 12:00] ncoden commented on #9564
See: https://github.com/zurb/foundation-sites/issues/9555

[2016-12-24 12:17] IamManchanda commented on #9553
I Have added the codepen to let you all understand what i am looking for .... in foundation

[2016-12-24 13:47] ncoden commented on #9553
I agree this would be very useful in Foundation. Micro animations are what make a design from good to perfect. However, I do not know Motion UI to know if this should added to Foundation or Motion UI.

[2016-12-24 14:31] ncoden commented on #9556
Hi @nlap,

I agree with you this would be useful. However, websites are probably adjusting the picture they provide to the x2 pixel ratio, and it would be hard for them to migrate. So I think we should extend the breakpoint mixin to support any ratio, and maybe provide several breakpoint names (`retina-1-5`, `retina-2` alias `retina`, and `retina-3`).

@zurb/yetinauts I would appreciate your opini

[2016-12-24 17:50] abdullahsalem commented on #9102
@kball Yes, I agree.
@pine3ree Thanks for the following up, and I'm sorry for the delay in replying. Now, you can follow up with my folks in this relevant issue #9421

[2016-12-24 17:57] pine3ree commented on #9102
Hello @kball , @abdullahsalem .
Should I close this request and move it to https://github.com/zurb/foundation-sites/issues/9421 ?

best regards and merry xmas time.

[2016-12-25 09:16] ncoden opened #9567 "🎄"
 
                                           ![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f384.png)
                                          [🎁](https://www.youtube.com/watch?v=E8gmARGvPlI)  [🎁](https://www.youtube.com/watch?v=dQw4w9WgXcQ)  [🎁](https://www.youtube.com/watch?v=QOAkVCigk5Y)
                                             [🎁](https://www.youtube.com/watch?v=yXQViqx6GMY

[2016-12-25 13:45] ncoden commented on #9557
Hi @andreamk,

I made some tests. The problems you encounter come from two incompatibilities with negative margins ([scss/grid/_row.scss:85](https://github.com/ncoden/foundation-sites/blob/develop/scss/grid/_row.scss#L85)) the nested rows have to handle the paddings of its column.

**1/** Every row has a max width (`75rem`, [scss/grid/_row.scss:62](https://github.com/ncoden/foundation-sites/blob/d

[2016-12-25 14:28] ncoden commented on #9082
Edit: it appears that for:
[code]
... the normal behavior is to create a basic container (centered with a maximum width). I don't like this behavior (that's a row, not a container), but it's works like this for now.

Maybe we could use a  new behavior or option `container` as default (that would be incompatible with the `nest` behavior), and generate `.row` with.

[2016-12-25 16:30] zy4 commented on #8554
This issue is still not resolved. I cannot fix it with the @charset "UTF-8"; trick because I use a build system using Webjars and get a java.nio.charset.MalformedInputException.
I only have trouble with typography (since upgrading to 6.3.0) and accordion.

[2016-12-25 16:48] IamManchanda commented on #9567
merry christmas

[2016-12-25 16:55] Livitan commented on #9567
merry christmas :)

[2016-12-25 17:09] ncoden commented on #8554
@zy4 Is it putting `@charset "UTF-8";` at the top of each file that causes the `java.nio.charset.MalformedInputException` ?

[2016-12-25 21:14] Vuurvlieg commented on #9555
I do not like the ally-compliant colors because even when the background-color is dark enough the read the white text, Foundation think it is too light. So in example even the .button.success is not readable enough Foundation thinks, but it is actually when you use the default white color text.

Is there any way to revert back to the old way of coloring using v6.3.0?

[2016-12-25 21:15] Vuurvlieg commented on #9567
Merry Christmas to all Foundation related Github users :)

![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f384.png)

[2016-12-25 22:48] ncoden commented on #9557
Partial fixes: https://github.com/zurb/foundation-sites/pull/9568

[2016-12-25 22:58] ncoden commented on #9555
There is no way to bypass the contrast check in v6.3.0. But you can always set the same alternative text color like the standard one (`$button-color`, `$button-alt-color`).

@andycochran Should we make a11y optional ?

[2016-12-26 07:40] ncoden commented on #9494
@mediabeastnz Is it still an issue ?

[2016-12-26 07:45] ncoden commented on #9504
@Deckluhm Thank you.
@ejholmes Is it still and issue ?

[2016-12-26 07:47] ncoden commented on #9545
@jhned Is it still an issue ?

[2016-12-26 07:55] ncoden commented on #9510
Maybe I didn't understood what you propose, but I think a well maintained changelog is the best (and simplest) thing we could provide to help to migrate.

[2016-12-26 10:50] ncoden commented on #9211
Hi @CHEWX, sorry for the late reply.

It seems it has been fixed. I close this issue. Please reopen if you think it is not resolved.

[2016-12-26 10:50] #9211 closed

[2016-12-26 10:54] ncoden commented on #9234
Hi @rafalages. Did you opened a PR. Do you want us to open one ?

[2016-12-26 10:54] ncoden opened #9569 "Full grids rework"
I think about a full rework of grids for a while. I open this issue to start talking about it, collect feedbacks and synthesize changes to do. I plan the rework for `v6.4`, because of I personally do not expect a `v6.5` version. However, I started discussions about the utility of our _scheduled_ releases (see see https://github.com/zurb/foundation-sites/issues/9548), so please understand "the next

[2016-12-26 11:32] ncoden commented on #9564
@BicanMarianValeriu  I close. Please reopen if you think this is not a duplicate issue.

[2016-12-26 11:33] #9564 closed

[2016-12-26 13:17] zy4 commented on #8554
I prepared a PR for this: https://github.com/zurb/foundation-sites/pull/9570. Should be fixed with it.

[2016-12-26 13:27] ncoden commented on #9495
It comes from the way `select[multiple]` are showed on mobile. The list of options with auto height was what helped to differentiate a `select[multiple]` from an `input[type=text]`.

I see two solutions:
- Give a unique design to the box of `select` or `select[multiple]`, for both desktop and mobile. It can be a shadow outside (while text inputs generally have a shadow inside) or a grey background

[2016-12-26 15:02] jhned commented on #9545
Sorry, should've replied earlier. as @denisahac pointed out, I believe you can turn off the block grid styles if you're using the Foundation flexbox grid instead. I prefer to use the standard float grid, and use flexbox styles one-off as needed, rather than going full flexbox grid. So yes, I believe having the option to turn off the block grid styles while still using the standard float grid would

[2016-12-26 19:02] paxperscientiam commented on #9567
Happy Hanukkah!

[2016-12-26 20:07] ncoden commented on #9545
@jhned I'll work on this :)

[2016-12-27 00:34] jhned commented on #9545
You the bomb, mate!

[2016-12-27 19:33] capripot commented on #9508
I have the same problem with `$small-only` variable. Might be related to [that commit](https://github.com/zurb/foundation-sites/commit/b2cc0e5ad1c1032f625ad7c75fdbbe33e092e9fd#diff-bf1c44b23206fb646211490bd0d02fffL252)

[2016-12-28 16:27] brock-duncan opened #9572 "Sass error in _gutter.scss after updating to 6.3"
After migrating from 6.2 to 6.3 this is happening.

[code]
I've searched high and low to no avail, any ideas?

[2016-12-28 19:10] bigheed-21 commented on #8681
I'm also having the same problem. Was there a solution?

Same as @baglio upgraded Node and stalling on 'default' task

[2016-12-28 20:27] ncoden commented on #9572
Hi @brock-duncan,

Can you provide:
- Your code at `Content/scss/layout/_case-study.scss:72`.
- The value of `$grid-column-gutter` if you are using your own setting file.

Thank you.

[2016-12-28 20:33] brock-duncan commented on #9572
Ah! I had null in as the padding value in `@include flex-grid-column(7, null);`

Sorry for the waste of time.

[2016-12-28 20:33] #9572 closed

[2016-12-28 22:34] nlap commented on #9556
Good points. I agree that changing `retina` itself could have unintended consequences. I like the idea of adding new breakpoints names, and changing the interchange docs so people start to use them. Changing to vendor-neutral `hidpi` is probably a good call too.

Re. connection speed: Not much I think we can do here. Mozilla has a limited API for connection speed detection, but it's not in any oth

[2016-12-29 08:59] ncoden commented on #9556
There is tools to detect low speed in JS (see http://stackoverflow.com/a/9011781/4317384). Meanwhile I checked the code and didn't found something like this in Foundation or [Interchange](http://foundation.zurb.com/sites/docs/interchange.html). I think this would be a great feature.

@kball What do you think ?

[2016-12-29 12:33] bowmanhost commented on #8681
I'm also having the same problem.  Same results as @baglio and @daneclarkcollins .

Foundation-Zurb-Template works fine. Foundation-For-Sites projects hang.

I originally was running node v7.3.0.
After reading the comments from @kball I downgraded to node v6.9.2 LTS.
I still have the same problem: Foundation-Zurb-Template works fine. Foundation-For-Sites projects hang.

I am running Manjaro Linux.

[2016-12-29 13:51] COLABORATI commented on #8659
meanwhile, did this change? Async loading would be a great feature to use in a mobile framework.

[2016-12-30 05:49] regular-human commented on #9508
The `$label_palette` variable in _settings.scss must also be set.

[2016-12-30 09:08] jimmy72 opened #9575 "[Dropdown] Vertical scrollbar is still visible after dropdown pane is closed"
I added the following style to a dropdown pane to make it scroll vertical in case the content gets too long:

`<div id="j1" style="max-height: 250px; overflow-y: scroll;" class="dropdown-pane" data-dropdown data-auto-focus="false" data-close-on-click="true">`

Everything work as expected but after closing the dropdown, the scrollbar is still visible and does not disappear.

I also tried to add the

[2016-12-30 11:38] ncoden commented on #9508
poke @alejopj

[2016-12-30 11:46] ncoden commented on #9575
Hi @jimmy72,

I can not reproduce the bug you are describing: https://codepen.io/ncoden/pen/YpmMOP.
Can you provide a codepen ?

[2016-12-30 13:10] ncoden opened #9576 "Branches, releases and supported versions"
I have some remarks to make about the Foundation's release process and the way we use git branches. Poke @zurb/yetinauts.

### Scheduled releases

Currently, we we have scheduled releases, you can find them on the [roadmap](https://github.com/zurb/foundation-sites/wiki/Project-Roadmap). The next patch version (`v6.3.1`) is planned for mi-January, the next minor version (`v6.4`) for May, and the ne

[2016-12-30 13:10] #9548 closed

[2016-12-30 13:11] ncoden commented on #9548
See: https://github.com/zurb/foundation-sites/issues/9576

[2016-12-30 13:53] ncoden commented on #9575
There is a bug between `overflow: scoll` and `visibility: hidden`. The component is hidden but not the scrollbar. I was able to reproduce it in [MDN](https://developer.mozilla.org/fr/docs/Web/CSS/overflow-x) but not in codepen, this is weird.

![dec-30-2016 14-51-49](https://cloud.githubusercontent.com/assets/9939075/21566069/94ec341c-ce9f-11e6-8d3f-7e6e98d73247.gif)

I do not know why we use `vis

[2016-12-30 15:59] jimmy72 commented on #9575
Ok I see...

I'll wait for the bug being fixed...

In the meantime I worked around it through jQuery....

$dropdowns.on('show.zf.dropdown hide.zf.dropdown', function(event) {
    event.preventDefault();
    var $thisDropdown = $(this);
    if(event.type == 'show'){
        $thisDropdown.css({
          "max-height": "300px",
          "overflow-y": "scroll"
        });
    }
    if(event.type == '

[2016-12-30 16:34] ncoden commented on #9545
Hi @jhned,

I am sorry, I read your issue quickly and misunderstood it. I agree with you we should be able disable some parts of huge components we do not use. However, I don't know if a single setting would be the good solution, it would not match with the current Foundation approach of component mixins you can manually include or not.

There is already discussions about it at https://github.com/

[2016-12-30 19:41] ncoden commented on #9501
I looked around but I do not know the Reveal enough to solve this issue.

Case 1: We must remember the "front" Reveal (the latest opened) and close only it at [js/foundation.reveal.js:317](https://github.com/ncoden/foundation-sites/blob/a87eb5dc02f714f80bd3648151d2c53185827548/js/foundation.reveal.js#L317).
Case 2: We stop listening on ESC pressing at [js/foundation.reveal.js:394](https://github.c

[2016-12-31 01:39] colinmackinlay opened #9578 "[Abide] CSS from npm build does not work correctly for errors"
**How can we reproduce this bug?**

1. create new Zurb template with "foundation new"
2. npm run start
3. change index.html in pages to be:
`<div class="row">`
`  <div class="large-12 columns">`
`    <form id="test" action="/" method="post" data-abide>`
`      <label>Address line 1:`
`        <input id="childaddress1" type="text" required`
`               name="childaddress1" value="Test" size="25

[2016-12-31 01:43] ncoden commented on #9578
Hi @colinmackinlay,

Can you provide an online diff of the two CSS files using https://www.diffchecker.com/ ? It would be simpler.

[2016-12-31 01:49] colinmackinlay commented on #9578
https://www.diffchecker.com/79BbUxcO
Don't think that helps much!

[2016-12-31 02:54] colinmackinlay opened #9579 "[Abide] Disabled fields not being ignored in validation"
**How can we reproduce this bug?**

1. Use the example abide form code from the documentation
2. Add a disabled attribute to the first required field
3. Submit the form for checking

**What did you expect to happen?**
I expected Abode to ignore the disabled field as it does in  in Foundation 5
**What happened instead?**
The disabled field is highlighted with an error
**Test case:**
http://codepen.

[2016-12-31 03:07] ncoden commented on #9578
The error comes from a merge of the `.is-invalid-label` declaration with an invalid `...::placeholder` declaration (`::placeholder` is not standard yet), making the whole final declaration ignored. I reported it at https://github.com/ben-eb/cssnano/issues/297#issuecomment-269845562.

The only other fix I see for now it is to move [scss/forms/_error.scss:69](https://github.com/ncoden/foundation-sit

[2016-12-31 03:22] ncoden commented on #9579
Hi @colinmackinlay,

I agree with you, we can expect disabled fields to be ignored in form validation, this was requested in `v5` (#4109, 5843). I wonder why this behavior has not been ported to `v6`. @rafibomb Any thought on this ?

[2016-12-31 19:26] colinmackinlay opened #9581 "[Abide] Error problem with input-group"
**How can we reproduce this bug?**

1. Create an input-group as per form documentation
2. Marks as required and put in an Abide form
3. Add span class="form-error" inside label or inside input group

**What did you expect to happen?**
Normal Abide error behaviour with form-error displayed and correctly positioned

**What happened instead?**
error does not display if just inside label. displays but

[2016-12-31 20:11] colinmackinlay opened #9582 "[Forms] Improvement to File Upload Button - request"
It would be nice if the File Upload button also displayed the filename that has been selected. Something like this:
http://codepen.io/colinmackinlay/pen/wgwJqG

Even nicer if it played nicely with Input Groups - I tried but it doesn't!

Fabulous if it also played nicely with Abide :)

[2017-01-01 16:15] Rand0mGuy opened #9583 "[Off-canvas] Foundation 6.3 "$offcanvas-transition-length" Sass variable overlaps the "data-transition-time" plugin option."
**How can we reproduce this bug?**
Setting off-canvas "data-transition-time" plugin option to value other than 500. E.g : data-transition-time="300"

**What did you expect to happen?**
Off-canvas open and close transition time should follow the value set in "data-transition-time" plugin option. In this example, it should be 300ms.

**What happened instead?**
Off-canvas open and close transition ti

[2017-01-01 23:47] feeekkk opened #9584 "[Off-canvas] off canvas broken in 6.3"
I've copied and pasted an example included in the docs for 6.3 in the codepen but it doesn't seem to function.

**How can we reproduce this bug?**

1. Step one
include the proper markup and foundation 6.3 js
2. Step two
click a button to open the off canvas
3. Step three
???

**What did you expect to happen?**
the off canvas' would open

**What happened instead?**
nothing.

**Test case:**
Give us

[2017-01-02 03:37] Rand0mGuy commented on #9584
That's not a bug. It's just that you forgot to include foundation 6.3.0 css in you codepen link. I've included it for you [http://codepen.io/anon/pen/MJgXqx](http://codepen.io/anon/pen/MJgXqxl)

[2017-01-02 05:52] paxperscientiam commented on #9576
I don't have anything to add, @ncoden . I just want to say that I admire your dedication to Foundation. It's inspiring and I loo forward to the discussion around your ideas!

[2017-01-02 09:39] DaSchTour commented on #9553
@IamManchanda I perfectly understand what you are looking for. I know the animations from Semantic UI. As I said, I was in a rush and that was just a fast example to show, that this may simple be done by using existing tools like animate.css

[2017-01-02 10:41] mlang38 opened #9585 "[Sticky 6.3.0] Sticky element doesn't follow its container top position anymore"
As the GIF below shows, since I upgraded from 6.2.4 to 6.3.0, my sticky menu doesn't follow its container top position anymore. As I mentioned in [#9298](https://github.com/zurb/foundation-sites/pull/9298#issuecomment-269330187), changing the sticky element `position` from `absolute` to `relative` can induce problems.

In this video, the sticky container has light blue background. When the sticky

[2017-01-02 16:10] IamManchanda opened #9586 "CSS: Contact Chips or Closable inline component"
**Feature Request - Contact Chips**
I Want zurb to add new feature thats very popular after cards in material frameworks after Cards
But same like cards, chips are awesome for flat design too \
Something like this => http://materializecss.com/chips.html
Codebase => http://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_contact_chips_close

**Special Note**: Have proposed similar feature(s) i

[2017-01-02 16:25] IamManchanda commented on #9553
@ncoden @DaSchTour @zurb
so question that come in mind is
what shall i do this with feature request

1. Keep it open and wait for it to get added in foundation , or
2. Close this ticket and post a ticket in motion ui , or
3. Close this and look out for doing this in animate css ?

Any Help will be appreciated

{ **Special Note : Wow.js is not a option, i want a open source option** }

[2017-01-02 16:41] DaSchTour commented on #9553
Motion UI wasn't updated since nearly a year, so I would raise the question if it's still active. Foundation Apps is also dead. The [roadmap](https://github.com/zurb/foundation-sites/wiki/Project-Roadmap) contains a note about Motion UI for 6.4.
Keep it open and create a PR ;)

[2017-01-02 16:46] IamManchanda opened #9587 "JS: Smooth Scroll: Only for those links which require smooth scroll ( data attribute )"
**Feature Request - Smooth Scroll**
Something like this => http://mdbootstrap.com/javascript/smooth-scroll/
Specially handy for landing pages and Call to action anchor tags

Codepen => http://codepen.io/IamManchanda/pen/VPZMba

Source: CSS Tricks

**Special Note**: Have proposed similar feature in bootstrap too so sorry for any duplication n all. I Just love and use both frameworks in my projects,

[2017-01-02 16:58] IamManchanda commented on #9553
I Would love to do that but i dont have the code to do that :smiling_imp:

[2017-01-03 12:15] IamManchanda opened #9588 "Bordered Buttons : bordered class for foundation"
To be honest,
zurb's best quality i feel is that they are the best when it comes to starting from scratch and modify as you want and surely this feature request isn't that type of use case for sure !!!
but still i purpose a `bordered` class for foundation 6 ( tiny border-radius )

[2017-01-03 14:19] Deckluhm commented on #9588
Foundation's main goal is indeed to give us a set of tools to build our websites / apps "foundation".

Borders are more about **style** than **structure** so I don't think it should be in Foundation core.

It's really important for a framework (and more generally for any product) to stay focus on his main mission (and not to try to do anything to please anyone).

[2017-01-03 14:47] IamManchanda commented on #9588
ohk @Deckluhm no issue .... I really understand that and will be happy closing this but still i would like as a last cry would want to get @zurb's throughts on this request.

**Reason:** Not to please one but many !!!

cc / @hellapixels @ncoden @rafibomb  @brettsmason guys ...

[2017-01-03 16:41] DaSchTour commented on #9588
So basically you would like to have hollow buttons with a defined background? I would suggest to add a third variant to `$button-fill`

[2017-01-03 17:01] ncoden commented on #9588
I agree with @Deckluhm. We cannot add options to support every single CSS property. Tiny border radius require nothing more than a single line of code, there is no reason to add an additional layer with Foundation.

Also, I think we currently have a lot of options to handle properties like this one (for border, background, color...), and should made some cleanup.

[2017-01-03 17:10] ncoden commented on #9587
I think this is a useful feature. We could add it in Foundation like this:
[code]

However, I don't know if we should also provide an option to enable it by default for all, even without `data-smooth-scroll`. Could it create bugs ?

[2017-01-03 17:24] ncoden commented on #9586
This is two useful feature. Dropcaps can be added as a simple CSS utility.

For Chips, I wonder if we could implement it in a more generic way. Not a "contact chip", but only a "closable inline component".

[2017-01-03 17:47] #9584 closed

[2017-01-03 17:49] ncoden commented on #9583
For Foundation 6.3 CDN, see: https://github.com/zurb/foundation-sites/blob/master/.github/ISSUE_TEMPLATE.md

[2017-01-03 17:59] ncoden commented on #9583
`$offcanvas-transition-length` overlap the `data-transition-time` options only when the option is not set or equal to `0` ([js/foundation.offcanvas.js:75](https://github.com/ncoden/foundation-sites/blob/a87eb5dc02f714f80bd3648151d2c53185827548/js/foundation.offcanvas.js#L75)).

The problem is the `transitionTime` option is **never used**. @brettsmason Any thoughts on this ?

[2017-01-03 18:10] brettsmason commented on #9583
@ncoden I'll have a look back through how it used to be handled and worked. My gut would say remove the option completely as I feel like it should be controlled with the variable, but would like to hear what @kball thought too

[2017-01-03 18:50] #9565 closed

[2017-01-03 19:20] IamManchanda commented on #9588
ohk no issue @ncoden @Deckluhm .... thanks ...closing this ....

[2017-01-03 19:20] #9588 closed

[2017-01-03 19:23] IamManchanda commented on #9587
@ncoden I am using this in my company and with a class or id selector just like my example, it dont create bugs, never had any issue but i dont have idea of "data-smooth-scroll" if it create any bugs

[2017-01-03 19:26] IamManchanda commented on #9586
@ncoden are you accepting css transition tickets ( features ) also ?

asking this coz of Mr. IE 9 :smiling_imp: ?

[2017-01-03 19:27] ncoden commented on #9587
@IamManchanda Using `data` attribute to apply JS behavior is proper, because of `.classes` is used for CSS styles and `#IDs` must be unique.

I wonder if there would be bugs with an option to apply smooth scoll by default for all links, because we could apply a smooth scoll where it is not expected.

[2017-01-03 19:34] IamManchanda commented on #9587
No No ..... with a data-smooth-scroll only would be better .... not to every link

@ncoden yes For navbars we can do

Codepen => http://codepen.io/IamManchanda/pen/JEjOmN

[code]

[code]

[2017-01-03 19:44] kball commented on #9102
I think it is reasonable to keep this issue separate so we have a reference list of different items to address from #9421 (which now has a tag in from this). However, if you are opinionated on menus in general, much of the discussion on how to move forward with them is likely to happen in that issue.

[2017-01-03 19:47] ncoden commented on #9587
Your code works, but we must implement it in a way it can be easily used. In your case, `#smooth-scroll-menu` can't be used twice.

[2017-01-03 19:47] ncoden commented on #9587
Do you want to open a PR ?

[2017-01-03 19:49] IamManchanda commented on #9587
Yup exactly thats why i said i am fine with your data-attribute also. Infact would be better.

Yes i want to open a PR but i am new to `git` and even `data-attributes` so can you please do that from mah side buddy ??

[2017-01-03 19:49] ncoden commented on #9586
@kball Do we support IE 9 😈  ?

[2017-01-03 19:54] kball commented on #9082
Yeah, rows currently are their own containers, and there is no separate concept of a container. @gakimball do you know what the reasoning behind that was?

[2017-01-03 19:55] IamManchanda commented on #9586
Nice one :smiling_imp: ....

yes you [support](http://foundation.zurb.com/sites/docs/compatibility.html). But for [Flexbox you dont](http://foundation.zurb.com/sites/docs/flexbox.html) and i am unsure about transitions

[2017-01-03 19:57] ncoden commented on #9586
So yes, you can open an issue about css transition/animations. :)

[2017-01-03 20:01] IamManchanda commented on #9586
Thanks a lot,
But i must say have a thought that even bootstrap removed IE 9,
so how on earth and why on earth is foundation still relying on IE9 Support ?

[2017-01-03 20:04] ncoden commented on #9586
I have no idea. You can open an issue about it too.

[2017-01-03 20:07] IamManchanda opened #9590 "CSS3 Transitions & Micro Animations: Motion UI"
Here are some examples (set of css transitions) to motivate it out and eventually include some of these (if not all) to motion ui !

**Special Note**: All of these micro animations that i am including are only the one that can be useful for most of the modern websites and applications and the one **which make sense to put in on focus**

**Micro Animation for Buttons** #9553
http://codepen.io/IamMa

[2017-01-03 20:07] ncoden commented on #9082
Related to: https://github.com/zurb/foundation-sites/issues/9569

[2017-01-03 20:10] IamManchanda commented on #9586
No thanks, i dont want to load you all up with too many issue requests :wink: :laughing:

[2017-01-03 20:12] ncoden commented on #9586
There is no problem with this. Please open an issue for any bug with Foundation or feature/support request.

[2017-01-03 20:25] IamManchanda opened #9591 "Why Browser Support is still held for IE 9"
Last few weeks, even frameworks like bootstrap have taken this big steps like

1.) Removing IE9 Support
2,) Make it a flexbox only grid system
3.) RIPing out any IE9 Crutches like `X-UA-Compatible`

**We all know that semantic ui also only support IE 11+**

Web is moving forward and i feel like foundation should too ?
This will not only help make foundation better but also this will help the old l

[2017-01-03 20:28] IamManchanda commented on #9586
I have just did that https://github.com/zurb/foundation-sites/issues/9591

Do you want me to remove dropcaps and open a new feature request sir @ncoden ?

[2017-01-03 20:31] ncoden commented on #9586
That would be great, yes :)

[2017-01-03 20:35] IamManchanda opened #9592 "Feature Request: CSS Dropcaps"
**Feature Request - Dropcaps**
Dropcaps are a nice feature and if it can be added in framework with few lines of code then why not!
Codepen => http://codepen.io/IamManchanda/pen/bgbraw

[code]
Also. Your final code might look a bit different than this but thats perfectly ohk . What i want is a add a dropcaps class in foundation

[2017-01-03 20:36] IamManchanda commented on #9592
Forwarded from https://github.com/zurb/foundation-sites/issues/9586 to here

[2017-01-03 20:41] ncoden commented on #9585
@mafrosis @karland Can one of you open a PR ?

[2017-01-03 20:43] RamanCool commented on #9591
You hit the bulls eye !

[2017-01-03 21:11] #9557 closed

[2017-01-03 21:13] kball commented on #9569
@gakimball would very much appreciate your thoughts on this one

[2017-01-03 21:27] kball commented on #9556
Hmm.. that is an interesting idea... essentially the equivalent of a media query but for connection speed... there are definitely some non-obvious decisions to be made (do we test full page load time (which will vary widely by page, site, hosting environment, etc), or provide a way to add a 'known image' load time (which would require adding a new asset)... or do we have a "known quantity" public

[2017-01-03 21:43] kball commented on #8659
The core issue here I believe is actually related to the way Foundation modules (and utils) initialize - much of that is currently done "inline" as the JS is loaded... the refactoring targeted in https://github.com/zurb/foundation-sites/issues/9438 for v6.4 should address that; Better async behavior should be one of the goals of that project.

[2017-01-03 21:43] ncoden commented on #9556
KISS.

All we want to do is to prevent loading retina images on slow connections, because in that _specific case_ the better of the image does not worth the additional waiting time required to load it, no needs for a matrix. So at first, we can simply measure the Foundation js file load time.

Later, we could improve the "connection speed" utility: add helper classes, like `show-` and `hide-` like

[2017-01-03 21:48] kball commented on #8681
So... I just dug into this some more, and it looks like the sites template is currently doing this _deliberately_.  It includes a watch on the sass files to do a recompile, despite not including a server.  I guess it expects you to be serving the content in some other way, but still wants the default to be watching.

This strikes me as very unintuitive behavior... I see 2 potential fixes.

1.  Cha

[2017-01-03 21:49] kball commented on #9438
As highlighted in https://github.com/zurb/foundation-sites/issues/8659 (and I believe in some others) the current in-line evaluation approach does not play nicely with async loading. This rework should make sure to take this case into account.

[2017-01-03 21:51] kball commented on #9591
Certainly v7 should not include IE9 support.  I go back and forth about removing it in v6... my inclination would be more to make the flexbox grid the default but still maintain the ability for folks who need it to enable "compatibility mode".  @zurb/yetinauts what do ya'all think?

[2017-01-03 22:02] kball commented on #9576
@ncoden - I think you have well identified the challenges, and your proposed approach looks good to me.  The one major concern I have is around the level of QA required to prevent regressions, as our automated testing coverage right now is... poor. That said, if we keep the number of changes in a patch version very small and do very rapid iteration releasing new patches, this may not be a huge dea

[2017-01-03 22:16] #9579 closed

[2017-01-03 22:25] brettsmason commented on #9591
I'm conflicted on removing Ie9. I currently have to support it at work due to lots of government clients who are unfortunately still stuck on older versions. If ie9 wasn't supported I would have to find a way to support it, or use something else.

Having said that I would love to move to newer things like flexbox and remove the old, it really is still very client dependent for me though.

I think

[2017-01-03 22:28] kball commented on #9583
@brettsmason The only problem I see with using only sass variable is that it makes it "global" without a builtin way to specify transitions per off-canvas. (you'd need to add classes and target them independently, whereas with the data option you could just do it inline).

The challenge here is that animation seems to bridge between "style" and "behavior"... our general practice is to have (as muc

[2017-01-03 22:38] kball commented on #9553
Overall improving Foundation's microinteraction capabilities, and specifically with animations, are things I've been thinking about a lot, and definitely going to be a focus this year.  I think that reviving, extending, and improving MotionUI is *probably* the right way to do it. I wasn't involved with the original buildout, but looking into it I think it has many of the right building blocks, it

[2017-01-03 22:56] kball commented on #9587
We could probably refactor out the code that handles this behavior for Magellan and turn it into a unique plugin.  See: https://github.com/zurb/foundation-sites/blob/develop/js/foundation.magellan.js#L111

[2017-01-03 23:04] kball commented on #9592
@IamManchanda I know you commented you were new to git on a separate issue, but this is simple enough that it would be a great first PR to try out on. Do you want to give it a go?

The first step would be to try cloning the repository, doing an `npm install` and `bower install` and `npm start` to get a local version of Foundation running... From there, you can try making edits and see how they wor

[2017-01-03 23:07] andreidcm commented on #9508
I was getting the same error but from what I see inside the `_badge.scss` you already have `$badge-palette: $foundation-palette !default;`, also for `$label_palette` in `_label.scss`.

I updated from foundation-sites 6.2.4 to 6.3.0 and in my custom settings file I had:
[code]
Apparently the foreground mixin is no longer defined (at least I couldn’t find it) and the value "foreground($badge-backgro

[2017-01-03 23:16] kball commented on #9556
How would we measure the JS file load time? We don't have anything to start the timer until the file has started to load, at which point we'd already have missed a bunch of time

[2017-01-03 23:16] JeremyEnglert commented on #9591
I don't think removing it from 6 would be a good idea - as we can keep 6 available for users who need to support older browsers even after 7 has been released.

However, I do think the percentage of IE9 users is so low it merits removing it from the next version of Foundation. Especially if this allows us to focus on Flex Box as the primary grid.

[2017-01-03 23:37] oxyc commented on #9492
For our foundation base themes, we've always included `settings.scss` with all variables commented out. Just throwing it out there as an idea–we like this approach as have all the variables at hand, while still being able to separate overrides from defaults.

[2017-01-03 23:57] ncoden commented on #9556
We don't want to measure the _load time_ precisely, but the _load speed_ to recognize _very slow connections_.

[2017-01-04 00:16] nlap commented on #9556
I think the connection speed discussion is important for interchange, but it definitely seems more complicated than the pixel ratio change. Not sure it necessarily needs to block the latter?

I like your suggestion @ncoden, for better named queries that don't break current behaviour.

What's the next step on that? I'm new - I don't want to be presumptuous :) Do we need to discuss the pixel ratio f

[2017-01-04 00:22] ncoden commented on #9583
[code]

[2017-01-04 00:25] ncoden commented on #9583
Only because it is not easy to create your own offcanvas and customize it with modifiers. We could have something like this:

[code]

[2017-01-04 00:28] ncoden commented on #9556
@nlap You can open a PR to provide the small Sass changes. I can open a new issue to talk about an additional "connection speed" feature.

[2017-01-04 00:40] karland commented on #9576
I think @ncoden has some valid points and if one wants to improve on Foundation's setup, it might be helpful to follow a defined and documented release strategy. If you are interested, here is what they do in [Atom](http://blog.atom.io/2015/10/21/introducing-the-atom-beta-channel.html) or [Rust](https://blog.rust-lang.org/2014/10/30/Stability.html). It is claimed that Chrome follows a similar stra

[2017-01-04 00:40] kball commented on #8750
I believe this has been resolved. Please reopen if you are still seeing this.

[2017-01-04 00:40] #8750 closed

[2017-01-04 00:43] kball commented on #9045
Foundation for Sites and Foundation for Apps are not intended to be used together... going to close this an not a valid issue.

[2017-01-04 00:43] #9045 closed

[2017-01-04 01:18] kball commented on #8924
Going to close based on #8871 being merged. Please reopen if you're still running into this issue.

[2017-01-04 01:18] #8924 closed

[2017-01-04 01:27] kball commented on #9068
Definitely the case. It appears to fire continuously on scrolling updates, and I'm seeing it anywhere from 2 to 6 times on clicking an update in the `active-item.html` visual test.

It looks like there's a lot of functionality running each time (including manipulating classes) that really shouldn't be... I think the fix is to either check the class to find current active target, or probably better

[2017-01-04 02:39] andycochran commented on #9508
As of 6.3, `foreground()` has been replace by `color-pick-contrast()`.

[2017-01-04 04:47] IamManchanda commented on #9587
I am totally up for this @kball

[2017-01-04 04:51] IamManchanda commented on #9592
Sure I will try it out @kball

Leave this issue as it is and I will try and open a PR ..... I am up for it .... will do it within a day or two ..... I use Linux so there won't be big issue :p

Thanks for encouraging @kball

[2017-01-04 05:01] IamManchanda commented on #9591
Let's do it for 7 then ..... How about adding this to roadmap ( foundation 7 ) ?
1.) Removing IE 9
2.) Focus on flexbox only grid system
3.) More Focus towards CSS transitions / Animations
4.) Ripping out any IE 9 Crutches within templates or docs

[2017-01-04 05:04] IamManchanda commented on #9591
cc / @kball @brettsmason @ncoden @zurb/yetinauts

[2017-01-04 05:10] IamManchanda commented on #9553
I am on for being part of this  ...... Good on CSS ,  ok on JS

[2017-01-04 05:16] IamManchanda commented on #9551
**Special note** : Work to done on mobile @kball @ncoden .....

User experience - Touch interactions

[2017-01-04 05:32] IamManchanda commented on #9592
Also could you tell me which tags it should target --> Every tag or specifically only ( h1 to h6 and p ) tags

In both cases i think setting font size in percentage would be better than em's

[2017-01-04 05:49] ncoden commented on #9592
We provide an utility to increase the size of the first letter of a block. We do not care if it is a `div` or a `p` or whatever.

I didn't have any idea of whether `em` or `%` would be better. In _theory_, there is no difference. In practice, we can have a different render across different browser when the text size is changed.

-- http://stackoverflow.com/a/132704/4317384

To create this componen

[2017-01-04 05:56] paxperscientiam commented on #9533
@rafibomb Is your "masonry" example just mock-up?

[2017-01-04 06:06] paxperscientiam commented on #9492
@rafibomb

I liked what you suggested in post #6941

Ideally, this hypothetical script would indicate deprecated variables as well.

[2017-01-04 06:08] ncoden commented on #9492
@paxperscientiam This is not really the subject of this issue.

[2017-01-04 06:17] IamManchanda commented on #9587
No No @ncoden i meant i was totally up for the idea of kevin ball

I am not that great at javascript at this moment, still learning its bits and pieces so it will be hard for me to do this assignment so please would urge you to unassign me for this

At the same time i am very happy to have this https://github.com/zurb/foundation-sites/issues/9592 assigned to me and will do my best !

[2017-01-04 06:20] ncoden commented on #9587
Ok. So I'll take care of this issue. 😄

[2017-01-04 06:25] stcp opened #9593 "Foundation Sites 6 Typescript Definition File"
Hi  all,

It's new on Foundation Sites and first time on github. I  have made some modifications on typescript definition file "foundation.d.ts" and not sure here is the right place to post it. Attached is the file and hope someone just may find it useful.

Regards,

Steven
[foundation-sites-6.d.zip](https://github.com/zurb/foundation-sites/files/684046/foundation-sites-6.d.zip)

[2017-01-04 06:42] ncoden commented on #9593
Hi @stcp. Welcome on Github !

I would advise you to create a Pull Request for Foundation.

To help you, here some guides that show how to contribute to Github projects:
- https://akrabat.com/the-beginners-guide-to-contributing-to-a-github-project/ (a very complete guide)
- http://kbroman.org/github_tutorial/pages/fork.html (more concise)
- https://guides.github.com/activities/contributing-to-open