[2017-12-09 19:34] #10495 closed

[2017-12-09 19:34] danclayton50 commented on #10495
Fixed as of 6.4.2

[2017-12-09 20:22] DanielRuf commented on #10798
I still think it is a bug, see https://github.com/zurb/foundation-sites/issues/7983

[2017-12-09 23:27] DanielRuf commented on #10797
Where can we see your codepen or some more info about your code?

[2017-12-09 23:34] atilkan commented on #9789
Solution is not that hard. Even multiple-expand accordions. You just need to keep last opened accordion index.
Make the last opened Accordion active, apply it to Tab.

[2017-12-10 03:16] btn0s opened #10801 "[Installation] ISSUE NAME HERE"
#### How to reproduce this bug:

1. Step one
2. Step two
3. Step three

#### What should happen:

#### What happened instead:

#### Browser(s) and Device(s) tested on:

#### Foundation Version(s) you are using:

#### Test case link:

- [CodePen with Foundation 6.3.1, Float Grid and MotionUI](http://codepen.io/IamManchanda/pen/LWGZxR)
- [CodePen with Foundation 6.3.1, Float Grid with RTL Direction

[2017-12-10 03:16] #10801 closed

[2017-12-10 03:17] btn0s commented on #10801
Opened this on accident. Closed.

[2017-12-10 23:17] maz123 commented on #10797
Link is in the text.... https://goo.gl/ythHWw

[2017-12-11 20:03] Owlbertz commented on #10429
Sorry, I totally forgot about this. I found out the issue lies in a `stopImmideatePropagation()` call that prevents the OffCanvas listener from trapping the focus.

I updated your pen with a fixed version here: https://codepen.io/Owlbertz/pen/rpBPdY and will submit a PR. Please pull the PR down and check if this solves the problem so it can be merged.

[2017-12-11 20:21] dbombine commented on #10429
@Owlbertz, thank you very much! That did fix the issue. However, in the codepen you linked to, the focus goes elsewhere when going in the opposite direction (shift + tab). In my code it just stays trapped on the very first item of the drilldown.

[2017-12-11 20:24] Owlbertz commented on #10429
It now leaves the Drilldown and focuses the element before the Drilldown (i.e. the OffCanvas' close button). Would you consider this new behavior as worse? I feel like it's more consistent this way.

[2017-12-11 20:31] dbombine commented on #10429
It looks like it's behaving correctly when going down the tree (tab), but
doesn't keep the focus trapped in the off-canvas when going back up
(shift + tab) - it just focuses on the Codepen's JS area instead of the
off-canvas close button.

On Mon, Dec 11, 2017 at 3:25 PM Marius Olbertz <notifications@github.com>
wrote:

[2017-12-11 20:35] Owlbertz commented on #10429
For me it jumps from the close button to the last Drilldown element as expected.

![drilldown-focus](https://user-images.githubusercontent.com/4280373/33852515-2dc15e70-debb-11e7-9466-58fd2fd488eb.gif)

[2017-12-11 20:47] dbombine commented on #10429
Must be browser-specific then somehow. Getting this misbehaviour in Safari.

[2017-12-11 20:54] Owlbertz commented on #10429
I tested with Firefox and Chrome. Unfortunately I do not have access to a Safari browser right now - sorry.

[2017-12-11 20:57] dbombine commented on #10429
All good - thanks for the help!

[2017-12-12 09:38] MildTomato commented on #9829
I'm also having problems with this.

`Foundation.reInit(['magellan'])`
`$('[data-magellan]').foundation('reflow');`
and
`Foundation.reInit($('[data-magellan]'));`

all not working

[2017-12-12 09:41] SassNinja commented on #10429
@Owlbertz I've tested you codepen as well (Mac OSX High Sierra):

- chrome (62) works fine, no problems with tab and shift + tab
- firefox (57 / quantum) doesn't work: after having opened the off-canvas the X is focused but the next tab leaves the off-canvas and focuses the 'Open Menu'
- safari (11) works when using tab but fails in the other direction (shift + tab) once the 'One' is focused

[2017-12-12 13:27] dbombine opened #10803 "Drilldown with parent links doesn't allow for proper use of keyboard 'Enter' key"
#### How to reproduce this bug:

1. Create a basic drilldown component with data-parent-link set to true.
2. Add a valid href attribute to a submenu parent item.
3. Navigate to that parent item using keyboard. Press 'Enter'.
4. Navigate to the newly opened submenu parent item with a valid href. Press 'Enter' again.

#### What should happen:
1. When the submenu opens, the focus should be set on the

[2017-12-12 18:21] Owlbertz commented on #10429
@SassNinja - I assume you tested with Firefox on MacOS? I tried it with Quantum on Windows and it works fine.

[2017-12-13 08:21] SassNinja commented on #10429
Yes, tested on Mac OS X (10.13.1 / High Sierra)

[2017-12-13 15:28] Gambero81 commented on #10794
Hi, if anyone is interested i solved the problem with css:
($pnlWidth can be percent or fixed size)

`<div id="pnlAssetHistory" class="off-canvas position-right is-closed" data-content-overlay="false">
...
</div>`

`$pnlWidth: 100%;

    #pnlAssetHistory {
        width: $pnlWidth;
    }

    #pnlAssetHistory.position-right:not(.is-open) {
        transform: translateX($pnlWidth);
    }

    #pnlA

[2017-12-14 08:42] SassNinja commented on #10794
@Gambero81 just wondering why you're using the `#pnlAssetHistory.is-closed` since you've already set the translateX via `:not()`.
However glad you could solve your problem (although it has been done in a very unflexible way)

[2017-12-14 11:50] dospuntocero commented on #10732
mine does not work either... not sure what im doing wrong
https://codepen.io/dospuntocero/pen/NXqGed

[2017-12-14 12:36] brettsmason commented on #10732
@dospuntocero I fixed your CodePen here: https://codepen.io/brettsmason/pen/qpdbQb
Basically you had `data="data-sticky"` instead of `data-sticky` on the main sticky element, and your `data-options` also need to be on the same element.

[2017-12-14 12:37] IamManchanda commented on #10610
I feel that if you are targeting App Frameworks (which is undoubtedly presently and future of web)

I feel ECSS is the right way to go ... Checkout https://tech.io/playgrounds/9924/the-state-of-css-specificity-part-3

I have made a small React app today (just toggles in out cards) ECSS based approach to showcase how a JavaScript App can implement the power of css without any specificity headaches,

[2017-12-14 16:45] ctmaloney commented on #9697
https://github.com/zurb/foundation-rails/pull/251 fixes this for me.  Thanks @jessedoyle

[2017-12-14 23:25] Pharserror commented on #10336
if you are reading this please check #10782 for instructions on how to fix this issue.

[2017-12-15 01:44] nitrokevin opened #10804 "Reveal overlays don't have inertia scrolling on iOS"
#### How to reproduce this bug:

1. Create a reveal overlay with more content than will fit on screen
2. Visit page on iOS device
3. Overlay scrolls but lacks inertia

#### What should happen:

#### What happened instead:

#### Browser(s) and Device(s) tested on:
iOS safari
#### Foundation Version(s) you are using:
6.4.3
#### Test case link:

This can be fixed with
`overflow-y: scroll; /* has to b

[2017-12-15 01:57] StijnKeppens opened #10805 "visibility classes not working when inlining"
#### How to reproduce this bug:

1. Step one
Create an email using foundation that uses the hide-for-large and show-for-large classes.

2. Step two
cmd > npm start
Works fine

3. Step three
cmd > npm run build
Visibility class 'hide-for-large' doens't work

#### What should happen:
The visibility classes work fine when developing in "run start" but hide-for-large seems to fail when running "npm ru

[2017-12-15 02:55] dospuntocero commented on #10732
love you @brettsmason, you saved me hours of headaches.

[2017-12-15 04:08] simongcc opened #10806 "Orbit's timer pause function does not work as expected"
I tried to add a pause button to control the orbit.
I manually create an orbit object. And I use the timer's object pause function to pause the slider.
Like this:

`window.slider = new Foundation.Orbit( $('.orbit'), {
        timerDelay: 500
    });`

However, it does not pause and continue to slide although the console log show that the pause is in `true` status. If you test in local environment

[2017-12-15 10:09] ncoden commented on #10805
Hi @StijnKeppens. Are you using `foundation-sites` or  `foundation-emails` ?

[2017-12-15 10:21] StijnKeppens commented on #10805
Hi,
I'm using foundation-emails.

On 15 December 2017 at 11:10, Nicolas Coden <notifications@github.com>
wrote:

--

Groet,
Stijn
+32 499 94 15 53

[2017-12-15 10:44] guyvanbael commented on #10644
recreate it. First time page is loaded, it works. Moving to another page breaks it. I recorded a screenshot. Look at it at http://phobostestbe.webhosting.be/screencapture/Schermopname.mp4

[2017-12-15 15:07] ncoden commented on #10805
I'm closing this issue. You can create an issue for `foundation-emails` [there](https://github.com/zurb/foundation-emails/issues/new)

[2017-12-15 15:07] #10805 closed

[2017-12-15 16:11] Baedda opened #10808 "XY-Grid Container don't fit next to each other in Edge"
I have got a problem in Microsofts Edge when using the XY Grid with a 13px base font size.

#### How to reproduce this bug:

Use the following Sass settings for the XY grid. It's important to use exactly the same values because with other cases the bug doesn't show up. Settings that I haven't listed below to use their defaults.

1. $global-font-size: 81.25%;
2. $global-width: rem-calc(990);
3. $gr

[2017-12-15 18:59] iceinn opened #10809 "Magellan example doesn't work (Foundation 6.4.3)"
#### How to reproduce this bug:

1. Open CodePen link from https://foundation.zurb.com/sites/docs/magellan.html#sticky-navigation
2. In settings, change Foundation CSS link to https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css
2. In settings, change jQuery link to https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js
2. In settings, change Foundation JS link

[2017-12-15 19:46] #10809 closed

[2017-12-16 15:03] ncoden commented on #9512
Yes

[2017-12-16 15:40] #10673 closed

[2017-12-17 16:18] johnylaravel opened #10810 "Turn off awkward "feedback" when click"
When I **click** on any link(button, tab...) on mobile, it shows some awkward blue feedback on a second, do you know how to **turn that off**?
![untitled1](https://user-images.githubusercontent.com/30267900/34253883-c135a1c6-e649-11e7-8cf1-531a536120ad.png)

![untitled](https://user-images.githubusercontent.com/30267900/34253887-c694938e-e649-11e7-93a4-ab6e632e6120.png)

On this picture is screens

[2017-12-18 02:47] ahoefling commented on #7802
The markup recommended by @Quisp worked for me. I needed to add `data-abide-error` into my span outside of the group and it started working

[2017-12-18 13:39] phifa opened #10811 "Foundation Template Build Time"
is awfully long. Why? Babel? Webpack? My setup is on a SSD, but in larger project the watcher needs up to a minute to transpile and reload the browser. IMHO build time should be <1s to work fast. Performance is one of the USPs of Foundation and being able to quickly develop a prototype. So, what's stopping this? Would like to hear everybody thoughts on this.

[2017-12-19 07:31] DanielRuf opened #10812 "[tabs] add generated data-index to tabs (and accordions)"
It's helpful to get the current active element but also in the core tabs plugin.

I did it like this:
[code]

[2017-12-19 09:50] idolab commented on #10770
unlike grid-margin-x, grid-margin-y actually leave EXTRA space at the end of the grid.

![screen shot 2017-12-19 at 17 47 49](https://user-images.githubusercontent.com/7658690/34150925-c6ae107c-e4e4-11e7-842f-260a056133ce.png)

here's a codepen
https://codepen.io/idolab/pen/XVddgG

[2017-12-19 09:58] DanielRuf commented on #10770
We solved with with the padding grid but the margin variant does not really work with nested grids.

[2017-12-19 16:16] sirianni commented on #10190
Where are the `6.3` version of the docs?  I've spent an hour searching and can't find them...

[2017-12-19 16:16] eXist73 commented on #7835
@grapto Thank you sir, this is what i was loooking for:
`Foundation.reInit('abide')`

Must be run after dynamically adding new elements to a form that require validation.

[2017-12-20 08:56] leo3po commented on #10121
Please update the documentation https://foundation.zurb.com/sites/docs/magellan.html

[2017-12-20 11:26] denisahac commented on #10121
@MauriceBuiten @leo3po  we've renamed the `bar-offset` to just `offset` to simplify the name; see **Magellan** [defaults][Magellan].

[Magellan]: https://github.com/zurb/foundation-sites/blob/develop/js/foundation.magellan.js#L254

[2017-12-20 20:27] KiwiCreative commented on #10520
@arjendejong12 could you possibly explain how you replaced babel with webpack in a way a noob like me could understand. I'm fairy new to web dev, so while I know how to write SASS/CSS, HTML, PHP and basic JS/jQuery, I've never used tools like babel and webpack. And honestly, I have to use CodeKit to compile my SASS as I kept getting errors trying to setup my environment manually per Foundation's i

[2017-12-20 22:17] claudiuTicu opened #10813 "Wrapper for accordion link"
Hello,
I'm using the responsive-accordion-tabs on a project that I'm working.
For my design I would need an extra wrapper on the "a link".
Based on my analysis the issue seems to be from the accordion plugin, due to the fact that you are using
.children() ($elem.children('a')) which takes only the direct children not the nested children(https://api.jquery.com/children/).

Is there any workaround f

[2017-12-22 01:30] mattbag opened #10816 "Foundation new with Zurb template error on start."
This is happening but I cannot find out which step of the build is causing it.

#### How to reproduce this bug:

1. Step one: create a new zurb template
2. Step two: $ gulp
3. Step three: error in javascript

#### What should happen:
gulp starts and watch

#### What happened instead:
error written below

#### OSX tested on:
Sierra 10.12.6 (16G1114)

#### Node 6.10.3 and v8.9.1

#### Foundation Ver

[2017-12-22 15:25] philip-spark5 commented on #10816
Same here - tried on Mac, Fedora and Windows 10.

[2017-12-22 15:33] Xiaoming94 opened #10817 "Recommended setup with TypeScript?"
This is more like a question

I am using foundation currently in a wordpress-theme with Bower as package manager.

I see that you have a typescript declaration file in the package that gets installed with bowerr.

What is there a recommended way of setting up Foundation with TypeScript?
Have been googling for a while, and I haven't find anything useful. So I thought, maybe I could ask you guys dir

[2017-12-22 21:45] mattbag commented on #10816
It works with one of my projects but, I was not able to pinpoint the difference in the source, the package json is the same. I will be able to give another look on the 27th...

[2017-12-23 07:34] Techinfocomp commented on #10816
`Foundation watch` works for my old project, but for new project, i am facing the same issue :(
Can it be resolved soon?

[2017-12-23 11:00] Lazerproof opened #10818 "Responsive gutters for xy-cell() doesn't work as expected."
My settings:
[code]
[code]

This code
[code]
outputs
[code]
I'm not sure is it bug or designed behavior, but based on old float grid behavior, behavior of xy-gutters mixin and some other opened issues, I expected that gutters for xy-cell mixin outside of breakpoint mixin should fallback to the smallest breakpoint instead of the largest.
So I expected to get

[code]
So currently it leads to more co

[2017-12-23 13:45] ncoden commented on #10818
Hello @Lazerproof.

For the following test code:
[code]

I got the following CSS:
[code]

Could you `@debug -zf-size` inside `@mixin xy-cell()` ([there](https://github.com/zurb/foundation-sites/blob/HEAD/scss/xy-grid/_cell.scss#L109) and [there](https://github.com/zurb/foundation-sites/blob/HEAD/scss/xy-grid/_cell.scss#L118)) ? Thank you.

[2017-12-23 15:13] Lazerproof commented on #10818
Hello @ncoden
Thank you for your response.
I put @debug derictive inside xy-cell mixin on  114 line and for this code
[code]
I've got:
[code]
As you can see if $breakpoint == null it falls back to "large" breakpoint.

[2017-12-23 15:23] ncoden commented on #10818
I think I know where the problem comes from.
Could you add `@debug -zf-size;` _just before_ your code (just before `.test-no-bp`) ?

[2017-12-23 15:26] Lazerproof commented on #10818
I got "large".

[2017-12-23 15:27] ncoden commented on #10818
Ok. This is the problem. An internal value is not cleared correctly. I'll fix that.

[2017-12-23 15:54] ncoden commented on #10818
@Lazerproof I made a PR. Please see #10819. This should be merged soon.

[2017-12-23 16:00] Lazerproof commented on #10818
@ncoden
Just tested it with your PR and got
[code]

[2017-12-23 16:01] ncoden commented on #10818
I just seen that ^^. Give me 2mn...

[2017-12-23 16:19] philip-erben commented on #10816
Seems to be a problem with gulp:

`node_modules/gulp/bin/gulp.js -v`

throws the same error..

[2017-12-23 17:58] Lazerproof commented on #10818
@ncoden
Thanks! Looks like issue with $-zf-size is solved, but current implimitation allowes successful compiling even if you specify breakpoint name wich are not in $breakpoints.
So, for
[code]
you will get
[code]
without any errors or warnings.

[2017-12-23 18:01] ncoden commented on #10818
This is not related to the current issue, right ? I'll check.

[2017-12-23 18:06] Lazerproof commented on #10818
Partially. It is caused by your commit for this issue.
In 6.4.4-rc1 you will get warning
[code]

[2017-12-23 19:28] ncoden commented on #10818
For the following code:
[code]

I get:
[code]

[2017-12-23 19:33] Lazerproof opened #10820 "show-for() and hide-for() gap at exact width of breakpoint"
#### How to reproduce this bug:
[code]
At 940px both element are visible. So implementation of hide-for() should be changed to $breakpoint-value - 1.

[2017-12-23 19:35] ncoden commented on #10820
Thank you @Lazerproof for your bug reports ;) .
I'm working on it.

[2017-12-23 20:09] Lazerproof commented on #10818
@ncoden
I have fully re-downloaded FS with your commit and replace my version by it and now I also get warning about not defined breakpoint. So, sorry for confuse.
But now I get
[code]
May I ask you to confirm that you are not getting this warning?

[2017-12-23 20:22] ncoden commented on #10820
See https://codepen.io/ncoden/pen/PEbGYR
This happens when the browser font-size is smaller than 16px. The gap of `1/16em` (so `1px`) between the two breakpoints become `0.625px` and the max limit of the lower breakpoint is round to the upper pixel.

I'll search why the breakpoint sizes are set in `em`, and what unit we could use to avoid this.

[2017-12-23 20:36] ncoden commented on #10818
I can reproduce it. But this is not related to the current issue. I'll open a new PR to resolve it. Thank you.

[2017-12-24 13:36] ncoden commented on #10818
@Lazerproof Please see: https://github.com/zurb/foundation-sites/pull/10821

[2017-12-24 13:44] #10576 closed

[2017-12-24 23:18] ncoden commented on #10693
@fvanderwielen Sorry for the late reply. I cannot reproduce your bug for `expanded` _and_ `stacked` buttons. I tried with BrowserStack on `Firefox v48 for Windows 7`.

Could you test again, or give me your precise version of Windows and Firefox ?

[2017-12-24 23:22] ncoden commented on #10693
I merged https://github.com/zurb/foundation-sites/pull/10703, but I do not close this issue. I'll wait for the reply of @fvanderwielen.

[2017-12-25 11:52] IamManchanda commented on #10576
@repoles Sorry for late reply... This seems fixed by other user

But, for your learning
You should replace `origin` with the remote name you added for your own forked PR `git@github.com:repoles/foundation-sites.git`

---

Normally if you create a PR for a repo that you don't have direct access, You should be doing

1. Fork that repo to your profile... In your case git@github.com:repoles/foundation

[2017-12-25 15:00] denisales commented on #10816
I have the same error.
<img width="570" alt="sem titulo" src="https://user-images.githubusercontent.com/34402631/34340896-87440322-e973-11e7-8de2-96292d6231d1.png">

[2017-12-25 17:50] gricelsepulveda commented on #10816
Same error on mac osx, and isn't working on my pc with windows 10. Extremely slow when I tried to install. Since a week ago...

[2017-12-25 18:18] ncoden commented on #10816
Thanks @gricelsepulveda @denisales @philip-erben @mattbag for the bug reports. I'll take a look at this.

[2017-12-25 19:08] Techinfocomp commented on #10816
@ncoden can you please let us know that, till when we get this in working mode again?

[2017-12-25 21:02] ncoden commented on #10816
Ok, this comes from: https://github.com/gulpjs/gulp/issues/2065

Gulp updated their vinyl version to `v3`, and this break some gulp plugins. I'll make a PR.

[2017-12-25 21:14] ncoden commented on #10816
Fixed I think. See https://github.com/zurb/foundation-zurb-template/pull/76

[2017-12-25 21:15] #10816 closed

[2017-12-27 08:57] #10613 closed

[2017-12-27 20:32] Rand0mGuy opened #10824 "[Reveal] Opening modal create additional scrollbar to body element in Foundation v6.4.4-rc1 (doesn't happen in v6.4.3)"
#### How to reproduce this bug:

1. Create a Reveal component normally (code from docs also applicable)
2. Open the modal

#### What should happen:
Modal open normally

#### What happened instead:
Modal open and add 2 scrollbars to the body

#### Browser(s) and Device(s) tested on:
Chrome Version 63.0.3239.84 and Firefox Version 56.0 (probably all browser)

#### Foundation Version(s) you are using

[2017-12-27 21:46] ncoden commented on #10824
I cannot reproduce it on Firefox & Chrome on macOS, but I can reproduce on Windows.
Also, i have an other bug for Firefox on macOS: the gradient background disapear when the modal is open.

[2017-12-27 22:24] ncoden commented on #10824
This comes from `html.is-reveal-open` and `.reveal-overlay` that both have `overflow-y: scroll`. So a scrollbar is showed on these two elements even if it is not necessary.

However, I seen there was way more complicated issues on this before, like: https://github.com/zurb/foundation-sites/pull/10583. So if the easy solution would be to replace `overflow: scroll` by `overflow: auto`, I don't think

[2017-12-27 22:28] ncoden commented on #10824
For the background bug on Firefox, see https://github.com/zurb/foundation-sites/issues/10791

[2017-12-27 22:39] isapir commented on #10824
@ncoden I don't remember the details and have no time to look deep into this, but given the information that you already know, why not simply add:

[code]

See https://codepen.io/isapir/pen/EoWjdb

[2017-12-27 22:42] ncoden commented on #10791
This does not come from Reveal, but from a browser bug in Firefox:
* with `html { position: fixed; }`, the html is collapsed and no content has to be print
* with `html { width: 100%; }`, the html take the full width, but the body does not print its gradient
* with `body { background: #000; }`, the background is correctly displayed

See: https://codepen.io/ncoden/pen/dJvoqq

[2017-12-27 22:45] ncoden commented on #10824
I am afraid on the `simply` word there. The PR you made should have fixed this bug, and I don't understand everything in it. But in the worst case I'll go the the __too obvious__ idea of `overflow: auto`.

[2017-12-27 22:49] isapir commented on #10824
My tests showed that it did fix the issue, but there are too many factors here (e.g. other patches by other developers) and I really do not remember the details.

I will try to look into it at a later time, but can't ATM.

[2017-12-27 23:07] ncoden commented on #10824
Don't worry, it can wait. And thank you.

[2017-12-28 10:05] #10606 closed

[2017-12-28 19:35] rbrlortie commented on #8684
I seem to be having this issue with _6.4.3_.

Equalizer won't listen to resize when the user starts as small and equalize on stack is set to false unless I set `data-resize` manually on the parent div.

The only way to make it work correctly otherwise seems to use this snipped (as said above.)

[code]

This adds the `data-resize="myEqualizerId` attribute to the element and Foundation's Triggers th

[2017-12-28 21:01] ncoden commented on #10791
I reported this issue at https://bugzilla.mozilla.org/show_bug.cgi?id=1427251

[2017-12-28 21:31] ncoden commented on #10791
I think this was introduced at https://github.com/zurb/foundation-sites/pull/10583, where the `position: fixed` trick was applied to all browser instead of only iOS. The thing is, we had a lot of troube to prevent scroll in modal in all browsers, and I see no way to fix the current issue without high probability of breaking it.

So for now (waiting for https://github.com/zurb/foundation-sites/issu

[2017-12-28 22:14] isapir commented on #10791
I'm sorry, when I looked yesterday I didn't realize that there are 2 html elements in CodePen, one from CodePen website and one from the pen itself.  I will have to look at it with a clear mind.  My mind is currently deep in other code.

What I don't understand though, is how come we didn't see it in the Reveal docs when I submitted the patch?  @kball also confirmed that my patch worked.

[2017-12-28 22:45] ncoden commented on #10808
Tested with BrowserStack:
- Firefox 49: works.
- IE11: works.
- Edge 15: works.
- Edge 16: **don't works** (also tested on my own pc).

This comes from Edge 16 that _round_ numbers to 2 decimal places. So for the width, `calc(50% - 2.3075...rem)` is round to `calc(50% - 2.3)`, same for the margins, and _unluckily_ the cell has a too big width.

It may appears only with your configuration because t

[2017-12-28 23:24] ncoden commented on #10808
Edit: all version of Edge and IE seem to truncate values:
![screen shot 2017-12-29 at 00 17 56](https://user-images.githubusercontent.com/9939075/34425678-7d18b97a-ec2e-11e7-843c-36fcb8833558.png)

While with Firefox, Chrome, etc...
![screen shot 2017-12-29 at 00 20 52](https://user-images.githubusercontent.com/9939075/34425685-9134ed84-ec2e-11e7-9af7-71237f1177e7.png)

[2017-12-28 23:33] ncoden commented on #10808
The only reference I found about value precision in CSS is:

-- [W3C (CSS Values and Units Module Level 3)](https://www.w3.org/TR/css-values-3/#numeric-types)

[2017-12-29 03:44] iapassas commented on #10617
The following worked for me after closing the reveal
if ($('body').hasClass('is-reveal-open')) { $('body').removeClass('is-reveal-open');  }
if ($('.reveal-overlay').length){  $('.reveal-overlay').remove();  }

[2017-12-29 04:01] #10184 closed

[2017-12-29 04:22] iapassas commented on #10617
You may consider the following
    var alrt = new Foundation.Reveal($('#myReveal'));
    alrt.close();
    if ($('body').hasClass('is-reveal-open')) { $('body').removeClass('is-reveal-open');  }
    var bl = $('.reveal-overlay').filter(function() {  return $(this).css('display') == 'block';  });
    $(bl).remove();

[2017-12-29 04:23] iapassas commented on #10626
You may consider the following
    var alrt = new Foundation.Reveal($('#myReveal'));
    alrt.close();
    if ($('body').hasClass('is-reveal-open')) { $('body').removeClass('is-reveal-open');  }
    var bl = $('.reveal-overlay').filter(function() {  return $(this).css('display') == 'block';  });
    $(bl).remove();

[2017-12-29 07:18] marcoValkyriweb commented on #10811
Have you tried using yarn? My project compiles in under ten seconds, though admittedly I do clean up a lot of unnecessary modules (that aren't used in my project). Using yarn start, a change reflects/compiles in 1.1s and browsersync refreshes instantly. This is on a i7 4720HQ.

Using npm, it's 3.2s

[2017-12-29 07:59] Arredatore commented on #10617
I'm sorry but it doesn't work
[Test in mobile view, the second reveal link](https://codepen.io/Arredatore/full/OzpYjr/)

[2017-12-29 11:12] synaesthesia commented on #10777
It's not just "XY Grid", even if you choose to download only the version with "Float Grid" (F6.4 too), you still have flexbox used for example by input-group/input-group-button... I have a problem with that and I think that each component that use "display flex" must have this "browser support warning" in the documentation.

I have tested on iPad iOS 8.1.3, Flexbox are not supported at all. So, th

[2017-12-29 13:30] holisticnetworking opened #10826 "ENOENT: no such file or directory, rename ansistyles"
#### How to reproduce this bug:

1. Attempt to install Zurb Foundation CLI by issuing the following command:
npm install --global foundation-cli
2. Error

#### What should happen:
The Foundation CLI should install without errors

#### What happened instead:
Got the following error message:
npm ERR! code ENOENT

npm ERR! errno -2

npm ERR! syscall rename

npm ERR! enoent ENOENT: no such file or dir

[2017-12-29 18:11] ncoden commented on #10826
I'm working on this.

[2017-12-29 18:18] ncoden commented on #10826
This only happens where we try to install `foundation-cli` twice. But it doesn't seem related to `foundation-cli`. See: https://github.com/npm/npm/issues/17444

Try:
[code]

[2017-12-29 18:27] ncoden commented on #10810
Hello @johnylaravel. I do not see what link or button your are talking about. Could you provide a codepen with the link on it ?
See: https://codepen.io/IamManchanda/pen/EXbGKJ

[2017-12-29 18:27] holisticnetworking commented on #10826
That, along with rebuilding node-sass, seems to be working.

[2017-12-29 18:27] #10826 closed

[2017-12-29 18:44] ncoden commented on #10798
No `outline` should be show when it is not for accessibility reasons, since it is not part of the Foundation design. So when `what-input` detect a mouse, we should have `outline: 0;` on the tab links. This is currently missing, I'll add it.

[2017-12-29 18:52] #10795 closed

[2017-12-29 19:23] ralts00 opened #10828 "Failed to load external module @babel/register with cli"
Help, I start the project with cli, and it gives me this error, in the end if it starts the server but it always gives me this error and I do not know if it's something very bad.

![captura de pantalla 2017-12-29 13 21 26](https://user-images.githubusercontent.com/5034252/34445714-38b19424-ec9b-11e7-811d-95d3d5faabda.png)

[2017-12-30 20:33] Owlbertz commented on #10817
I am not sure whether there is an "official" way, but when I use Foundation with TypeScript I use it like you normally would without TypeScript by including it in the JavaScript and making it available in global scope. I do that by using Webpack.

I guess the answers depends on whether you create the Foundation plugins using JavaScript or if you rely on the HTML attributes.

[2017-12-30 20:36] Owlbertz commented on #10803
Yup, that seems indeed like a bug. I will check this.

[2017-12-30 20:46] Owlbertz commented on #10783
After looking into this I found [where the mixin is defined](https://github.com/zurb/foundation-sites/blob/db0f5ab0699d55f6fd2553bfbabe84f3da8743eb/scss/components/_button.scss#L206) and believe it should be
[code]

[2017-12-30 22:26] ncoden commented on #10783
This seems to be a bug with SassDoc when it encounter `@param [Color]...` instead or `@param {Color}...`.

[2017-12-30 22:28] #10798 closed

[2017-12-30 22:31] DanielRuf commented on #10798
awesome, thanks =)

[2017-12-30 22:54] ncoden commented on #10791
@isapir

[2017-12-31 20:44] #10783 closed

[2017-12-31 21:02] ncoden commented on #10080
Some cleaning and refactor seems required here.
* At first, there is already some logics to generate buttons _styles_ (`solid`, `hollow` and `clear`) classes. We should use reuse it for button groups.
* Also, we should not generate these classes when their styles is already the default one.
* Finally, I think there is some CSS duplication we could remove between buttons and button groups.

And as

[2018-01-01 07:49] gtreviranus commented on #10828
Hmm, interesting. I'm getting the same problem after a fresh install of Foundation CLI and then setting up a new foundation email project. Wasn't expecting this to be so easy to reproduce!

Considering babel has gone through some significant changes in the last year, it wouldn't surprise me if a package previously used in foundation emails isn't available anymore.

[2018-01-01 08:06] gtreviranus commented on #10828
Found a similar issue here: https://github.com/gulpjs/gulp/issues/1631

Looks like `babel/register` is there as a fallback, in case `babel-register` fails to work (which is the default in this case). Just a hypothesis, though, based on that link.

The whole thing ends with this comment for more clarification:
[code]

[2018-01-01 08:24] gtreviranus commented on #10813
Why not add your extra class to the `<a></a>`? Seems to accomplish the same thing, and works in chrome/safari/firefox for me now.

[2018-01-01 08:28] gtreviranus commented on #10813
If you have an exact code example of why you need the extra div to wrap around the link, it would make understanding this use-case a little easier I think.

[2018-01-01 08:31] gtreviranus commented on #10810
I know you're still waiting for a reply @ncoden, but in case this helps: @johnylaravel maybe you can directly manipulate the active state of your button with `:active` CSS selector? I would test that first, and if no dice, then I know Android and iOS both have their own native element selection style that could be worth testing against: https://css-tricks.com/snippets/css/remove-gray-highlight-whe

[2018-01-01 09:16] liamse commented on #10826
It is happen after I try to install rimraf package.
**To solve** the problem, I rename **node_modules** to **node_modules_2** and run `npm install`. this download all packages again but it solve the problem form me. After check that everything is work fine, I remove my corrupted **node_modules_2** folder.

[2018-01-01 15:40] ncoden commented on #10826
@liamse You can simply uninstall then reinstall `foundation-cli`.

[2018-01-01 17:22] ncoden commented on #10828
[code]

[2018-01-01 17:23] #10828 closed

[2018-01-01 21:19] ralts00 commented on #10828
but it is a problem, because an error appears in red, they should eliminate that error in red @ncoden

[2018-01-02 01:11] phated commented on #10828
@ralts00 it's only an issue if you are deathly allergic to the color red.  However, I've opened an issue at https://github.com/gulpjs/gulp-cli/issues/142 to consider changing the color.

[2018-01-02 01:45] featherbelly commented on #10643
Same...

[2018-01-02 04:40] jfurler opened #10832 "Add data-update-history option for magellan deep linking"
The current behaviour for magellan deep linking is to push the browser state, which updates the history. I see that tabs and accordions have an additional `data-update-history` option which defaults to false, which allows you to configure whether or not you want this behaviour. It would be good if this option was also available for magellan.

[2018-01-02 06:09] ralts00 commented on #10828
@phated I thank you very much for taking the comments of the community :)

[2018-01-02 07:20] #10803 closed

[2018-01-02 07:47] ncoden commented on #10643
Thanks for the update @featherbelly. I'll check that;

[2018-01-02 10:03] fvanderwielen commented on #10693
@ncoden I have the behavior as in the above screenshot in firefox 57.0.3 (64-bit) and Chrome 63.0.3239.84 (Official Build) (64-bit), both on Windows 7.

My test setup is using the following checkout of Foundation:
[code]
(which is the last commit of pull request 10693)

What I find strange/unexpected is that, on screens smaller than medium, a div.button-group.stacked-for-medium.expanded does not h

[2018-01-02 15:55] ncoden commented on #10643
Duplicate of https://github.com/zurb/foundation-sites/issues/10276

-- @kball

[2018-01-02 15:55] #10643 closed

[2018-01-02 21:21] Owlbertz commented on #10794
Since the issue has been solved above using CSS and there isn't really active anymore, I will close it.

[2018-01-02 21:21] #10794 closed

[2018-01-02 21:28] ncoden commented on #10727
Globally, this is not recommanded to use different component in a single tag. Properties used by both components may vary and the combo may become incompatible with time without a warning if it was not documented and explicitely stated as supported.

In this case, both `grid-*`/`cell` classes would have no trouble with `flex`, but both uses `margin`/`padding` properties, so bugs might appear. If i

[2018-01-02 21:28] #10727 closed

[2018-01-02 23:16] brgrz commented on #10727
Thanks for the clarifications @ncoden .

[2018-01-03 04:45] nicolasv opened #10836 "Magellan w/ deep linking doesn't clear the hash when there's no longer an active link"
#### How to reproduce this bug:

On a page with with Magellan and `data-deep-linking` enabled and a top-margin greater than `data-threshold` (defaults to 50px) such that there is no active link until you scroll past that top-margin:

1. Load the page (without a hash).
2. Scroll down to the first Magellan-tracked element such that the window's location updates to that element's ID (e.g., `#first-he

[2018-01-03 04:54] nicolasv commented on #10836
I'll have a pull request with a fix up shortly!

[2018-01-03 05:56] nicolasv commented on #10836
The bug is reproducable in the `magellan/active-item.html` visual test (via `npm run test:visual`).

[2018-01-03 09:00] Baedda commented on #10808
Yes this is exactly what our tests showed too. We have tried some other font sizes too and sometimes the bug appeared and sometimes it did not. I couldn't believe that there has not been any other issue like that. I even could not find anything about it on google what made me believe I was stupid because anyone who works with rem sizing and any kind of frontend grids should have seen this issue in

[2018-01-03 09:49] Baedda commented on #10808
I have opened an issue at microsoft for this bug. Maybe they will change the behaviour of Edge.
https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/15305821/

[2018-01-03 10:50] drball commented on #10626
I was having this problem and solved it by removing these animation effects:
`data-animation-in="fade-in-fast" data-animation-out="fade-out"`

[2018-01-03 10:59] liamse commented on #10826
Thanks @ncoden but I don't have `foundation-cli` at all.
I think this is NPM issue, and it happens when we want to install more than one packages with same dependencies, I think dependencies make conflict and NPM think that it has a file that does not exist at all. Uninstalling any package, clear something (that I don't know exactly what) in NPM and this solve issue, and we then can install any ot

[2018-01-03 11:31] iapassas commented on #10617
Running in an emulation mode via IE your test code I noticed that the class "is-reveal-open" is added to html tag as well.
When I removed it in the debugger it appears is working properly

[2018-01-03 16:37] gmclelland commented on #10808
I'm not sure what the solution is, but this kind of problem is discussed here:
- https://www.palantir.net/blog/responsive-design-s-dirty-little-secret
- https://css-tricks.com/build-web-layouts-easily-susy/
- https://johnresig.com/blog/sub-pixel-problems-in-css/

[2018-01-04 08:18] #10836 closed

[2018-01-04 08:50] #10832 closed

[2018-01-04 17:48] gustavokrause commented on #10161
I set this way to avoid a memory issue on Windows:

`exclude: [/node_modules\/(?!(foundation-sites)\/).*/, /node_modules/]`

and it worked, before it was working only on Ubuntu.

[2018-01-04 22:11] #10276 closed

[2018-01-04 22:22] claudiuTicu commented on #10813
Hello gtreviranus,
Thank you for your feedback.
I managed to bypass that issue but still this doesn't offer enough flexibility.
Since this accordion plugin is used in the Responsive Accordion Tabs component is still an impediment for me because I need to add a carousel to the tabs title section.

Please see my example here: https://codepen.io/Cllawz/pen/zpEzvv?editors=1000

Thank you,

[2018-01-04 22:40] ncoden commented on #10776
Hello @ringe. Sorry for the late reply.

For performance reasons, all grids are not availaible at the same time. With Foundation 6.4.3, the "float grid" is disabled by default, and we recommand to use the new XY-grid instead.

To get only the float grid:
* If you use the pre-build Foundation CSS, use `.../css/foundation-float.min.css`.
* If you import the Foundation SCSS, import `.../assets/founda

[2018-01-04 22:40] #10776 closed

[2018-01-05 06:09] IamManchanda opened #10838 "Why `<hr/>` max width is 75 rem instead of 100% width"
<img width="2559" alt="screen shot 2018-01-07 at 11 46 43 am" src="https://user-images.githubusercontent.com/4970624/34647154-b4afda98-f3a0-11e7-96a2-1cdba0d50090.png">

#### Test case link:

https://codepen.io/IamManchanda/pen/KZXQYr?editors=1010

Reproduced in: Apple iMac

[2018-01-05 07:55] webuxr commented on #10190
I too have been looking for 6.3.1 doc pages. Gave up, installed a vanilla copy of F6.3.1, built my own docs locally. Quite the PITA but it worked.

Looking forward to seeing a permanent home for 6.3.x and 6.4.x documentation.

Even better if this permanent home for these doc sites be accessible via Zurb’s current doc site (via the/a version select list).

[2018-01-05 08:00] webuxr commented on #9512
...but still looking for a status. @ncoden and @kball any updates on when we might see version-specific documentation (sites) for 6.3.x and 6.4.x?

[2018-01-05 08:22] webuxr commented on #10763
“I also think if I've already set aria-labelledby, you should leave it be.”

I’ll second that @fburleigh !

[2018-01-05 08:28] webuxr commented on #10826
@liamse Have you tried `npm dedupe` (https://docs.npmjs.com/cli/dedupe)? I’m not sure how this might affect your `package.json` but it may be worth a test.

[2018-01-05 08:48] webuxr commented on #10627
@Owlbertz ...appreciate the bump.

@erutan ...still looking for an update on this. Any notable progress?

[2018-01-05 08:55] ncoden commented on #10763
This may be a duplicate of https://github.com/zurb/foundation-sites/issues/10627. So I'm closing this. Please reopen if you think this is not the same issue.

[2018-01-05 08:55] #10763 closed

[2018-01-05 08:57] ncoden commented on #10812
@DanielRuf I don't understand why this would be useful, how this could be used. Could you give an example ?

[2018-01-05 09:01] webuxr commented on #7033
@LDigital84 - Seems like the only remaining  unchecked box in your original post is now complete (#7820 marked closed). Does this mean #7033 can also be closed?

There’s an a lot of great work in this ticket and I think it would be awesome to see #7033 closed as well.

That is, if the original issue with Foundation download page/options/checkboxes, et. al. have been addressed.

[2018-01-05 09:04] webuxr commented on #10763
@ncoden I just commented on that exact issue before seeing your response here. Thanks for consolidating.

[2018-01-05 09:06] DanielRuf commented on #10812
The problem was that Edge and IE11 have issues to detect changes and the current active element and so I had to track the current active by some value to get the index of the current active element.

So far I saw no option or value in the core tabs plugin to get the current index of the active / shown element / content.

[2018-01-05 09:34] Arredatore commented on #10617
Still doesn't.
I think it is linked to mobile.

[2018-01-05 13:24] Proper-Job commented on #10487
For what it's worth, I was able to mitigate the problem by adding:
[code]
My use case allows for this rule.

[2018-01-05 19:01] geotrev commented on #10813
@claudiuTicu

Now I'm really confused about what you're trying to do based on the original post/OP and now your new codepen.

Can you elaborate a bit on what solution you're striving for here? Seems a bit excessive if all you're doing is adding a div around the `<a>` links.

[2018-01-06 15:23] uehatsu commented on #10375
These reason is not course by the version 3.13.0 of fourseven:scss. I tried to install develop branch of zurb:foundation-sites and re-install fourseven:scss 4.5.4, but error occured.

Next, I try MajidNajafi's patch with fourseven:scss 4.5.4 and zurb:foundation-sites fork version. Then It works.

[code]

But I'm not sure that this is a correct way.

[2018-01-07 02:14] patricklindsay commented on #9512
see https://github.com/zurb/foundation-sites/issues/10190

[2018-01-07 07:38] iamrobert commented on #9208
Here's getting equal heights for headings:

https://codepen.io/iamrobert/pen/eyeyBB

I've looked at cards - but can't work out how to implement equal heights for headings without equalizer.

[2018-01-07 19:19] #10818 closed

[2018-01-07 22:34] ncoden commented on #10627
@erutan @knabe @webuxr @fburleigh Please see https://github.com/zurb/foundation-sites/pull/10840

[2018-01-08 08:42] mwinkelm commented on #10743
I think what you are looking for is the mixin `xy-cell-breakpoints`, see https://foundation.zurb.com/sites/docs/xy-grid.html#responsive-grids

[2018-01-08 08:57] ncoden commented on #10743
@mwinkelm The doc is incorrect about `xy-cell-breakpoints`. See https://github.com/zurb/foundation-sites/pull/10834

@studiobovenkamer You may want to use:
[code]

[2018-01-08 08:57] #10743 closed

[2018-01-08 16:09] antoniogarcez opened #10841 "Email inliner does not work"
#### How to reproduce this bug:

1. Access [https://foundation.zurb.com/emails/inliner.html]();
2. Copy a large HTML string;
3. Click on "Convert Email".

#### What should happen:

After clicking on "Convert Email", your application should return my HTML with inline styles.

#### What happened instead:

Shows the message "Loading...",
![image](https://user-images.githubusercontent.com/5618128/3467

[2018-01-08 18:32] DanielRuf commented on #10841
That is the wrong project. You mean https://github.com/zurb/foundation-emails

[2018-01-08 18:34] DanielRuf commented on #10811
Which node modules do you use in your build setup?

[2018-01-08 18:38] markadrake commented on #10838
Only my opinion, but...

- Please do not style base HTML tags for any other reason than _providing consistency and stability between browsers and devices_.

- The `<hr>` tag, like many others, now has a _semantic meaning_. A responsible and mature frontend framework will avoid mixing styles with semantics. Allow those who manage content and context to do so without worrying about the styling that'

[2018-01-08 19:56] ncoden commented on #10838
I **fully** agree with you.

I simply explained the reasons why `<hr>` _currently has_ these styles. But if we talk about what I think we _should_ do, i'll promote a `.hr` class independant from to the `<hr>` tag. A standalone component without side-effects on the semantic of the document.

This is the idea behind "However, we may should remove this max width and rely on a "container" instead": re

[2018-01-08 21:39] ncoden commented on #9821
I'm closing this since the issue should have been resolved in https://github.com/zurb/foundation-sites/pull/10101

[2018-01-08 21:39] #9821 closed

[2018-01-08 23:47] ncoden commented on #10040
It should be fixed by https://github.com/zurb/foundation-docs/pull/18

[2018-01-09 06:49] ncoden opened #10843 "Improve installation, setup and usage documentation of different Grids"
Some people around me recently reported they did not understand well how Float / Flex / XY Grids can be installed or imported, setup and used. Particullary what grid is included by default and how to get others grids.

[2018-01-09 08:37] phifa commented on #10811
@marcoValkyriweb I am not using yarn. I am literally just using the default setup @DanielRuf and adding a little bit of scss and javascript and it slows down a lot. The build time for production is not what concerns me, more the watch time. HTML changes are detected fast, but JS and SCSS just takes a long time.

[2018-01-09 09:06] DanielRuf commented on #10811
Isn't gulp used by default? Did you try a clean webpack setup? In my experience an incremental webpack build was much faster.

[2018-01-09 09:09] DanielRuf opened #10844 "many old and stale branches"
Currently there are many branches here. Can we clean this up? https://github.com/zurb/foundation-sites/branches

[2018-01-09 09:53] marcoValkyriweb commented on #10811
@phifa my JS and SCSS changes are within half a second of saving, npm is also quite fast though.

To use yarn:
first install global: https://yarnpkg.com/lang/en/docs/install/
in the project root/directory where you run npm start, run yarn once (only for project specific set-up)
Then use yarn start for development and yarn build for production.

https://www.sitepoint.com/yarn-vs-npm/
https://blog.o

[2018-01-09 12:05] antopossegithub opened #10846 "Problem with Sticky Navigation - Foundation 6.4.3"
Hi I wanted to make it known that the Sticky element in foundation 6.4.3 does not work so well. I refer with precision to the sticky navigation. When you scan the page the elements immediately below the navbar snap and hop.

I tested this issue on Firefox, Chrome and Safari in desktop version and It is visible on your own
https://codepen.io/IamManchanda/pen/aWaJpM?editors=1010

[2018-01-09 15:09] ncoden commented on #10846
This seems to come from the navigation bar not having the same height while being sticked or not. When its status change, Foundation will check its height and apply it to the sticky container, so it keep the same height even with its content out of the flow (in `position: fixed;`).

To fix this, we could measure the content height one time to set the container height, and do not change it later wh

[2018-01-09 16:18] antopossegithub commented on #10846
Yes but it's static as a solution!!
It's a shame :(

[2018-01-09 17:04] johnylaravel commented on #10810
@geotrev You are freaking awesome. That's it, problem was webkit selection. **Thank you so much!**

So for anyone, **solution** is to add this peace of code in your css:
[code]

@ncoden Thanks for trying :D

[2018-01-09 17:04] #10810 closed

[2018-01-09 18:14] #10841 closed

[2018-01-09 18:22] colin-marshall commented on #10804
@nitrokevin if you wouldn't mind, could you please create a codepen test case? Thanks!

[2018-01-09 18:27] colin-marshall commented on #10636
@sashabeep I think the solution for now would be for you to keep a local copy of `index.html` that uses the grid you use, and switch it out after you download a customizer build.

[2018-01-09 18:38] colin-marshall commented on #10790
@DanielRuf is correct. It's not redundant, because they install different dependencies. Coincidentally, we actually do need to remove `bower install` from the docs for a different reason altogether. We stopped using bower in 6.4.

[2018-01-09 18:40] colin-marshall commented on #10745
Thanks @denisahac. Closing this one out.

[2018-01-09 18:40] #10745 closed

[2018-01-09 18:48] DanielRuf commented on #10804
We saw the same. See https://github.com/zurb/foundation-sites/issues/10781

[2018-01-09 20:56] ncoden commented on #10790
I am currently updating the installation doc. I'll remove `bower install`

[2018-01-09 21:07] ncoden commented on #10636
Couldn't we use Handlebar templates to generate `index.html` ?

[2018-01-09 21:13] ncoden commented on #10846
Well, the goal of sticky navigation is to allow components to go sticky without affecting the rest of the page, like if the component stayed at the same place.

But at this time, the component is visually _away_. If this component change while being sticky, the page should not be affected.

[2018-01-09 21:29] colin-marshall commented on #10843
Adding to this, the XY grid docs should be more consistent with the order of classes. Some of the examples end with the `cell` class, like this:

[code]

While other examples start with the cell class:

[code]

I think the `cell` class should always be at the end, to keep in line with how the `columns` class always appeared at the end in the float grid. If somebody has a good argument for it being

[2018-01-09 22:16] antopossegithub commented on #10846
Very well, it was just what I wanted to say. We hope to release a future update to solve this problem too.
In your opinion, do I already know about this?

[2018-01-09 22:26] geotrev commented on #10810
Glad to help! Cheers.

[2018-01-09 22:43] ncoden commented on #10846
Hmm... I'm not sure to understand you. Are you asking it we will release this fix soon ?

[2018-01-10 08:19] antopossegithub commented on #10846
Yes I meant to say this, sorry for my english :(

[2018-01-10 08:24] ncoden commented on #10846
Don't worry.
We'll try to fix this for v6.4.4. This release was frozen for months but we began to hardly work on it recently. This could be deployed in 2-4 weeks.

[2018-01-10 11:08] antopossegithub commented on #10846
You're the best :)
So, good work, and thank you!!

[2018-01-10 13:17] SassNinja commented on #10797
@maz123 still not a codepen, but at least we can see some code

I've tested the page but for me the off-canvas toggle works without any problem.
First click opens, second click closes.

Did you also test on a real device or only browserstack?

[2018-01-10 13:20] maz123 commented on #10797
Thanks for your reply @SassNinja ,

There is too much code for a code pen, it's too complex, hence why i sent the link.

Did you test it on iPad Air or iPad Air 2?

Cheers

[2018-01-10 18:24] diniscorreia opened #10850 "[Feature Request] !important rules on 'show-for-sr'"
The only CSS property on `.show-for-sr` with an '!important' rule is `position`. However, there are several cases where it would be more fail-proof to add `!important` to most (all?) properties: if you use this class you definitely want to hide the text, no matter if another class on the same element changes any of these properties.

It also shouldn't be dependent on the cascade – on one of my pro

[2018-01-10 21:24] ncoden commented on #10850
Most of our classes should depends on cascade. Our components must be customizable (in Sass AND in CSS) so their properties must be overridable without having to increase the specificity.

However, I agree that some classes can have a "deterministic and uncustomizable behavior", and so can use `!important` on their properties to ensure that. But we should be careful about this, explicit in the doc

[2018-01-10 22:41] ncoden commented on #10850
@diniscorreia See https://github.com/zurb/foundation-sites/pull/10851

Thank you for having reported this issue 😉

[2018-01-11 06:02] DanielRuf commented on #10838
Why not? The only problem is that it is generally applied and not a component with a better scope like @ncoden writes.

[2018-01-11 08:37] ncoden commented on #10838
This is the problem ;) `<hr>` can be used in a lot of complex contexts where we do not expect it to have the Foundation design.

[2018-01-11 09:02] claudiuTicu commented on #10813
@geotrev
As you can see in my pen, I'm trying to add slick on the tabs titles and remove it when it is changed from tabs to accordion on responsive.

It works fine if we come from accordion to tabs, the slick functionality is ok and the display of the elements is as it should be.
But, when we come from tabs to accordion the titles aren't appended to the correct elements do to the fact that foundat

[2018-01-11 09:02] fmj02 opened #10852 "Using foundation 6 js with brunch and npm instead of bower and webpack"
I managed to create simple foundation 6 configuration in brunch. I installed foundation-sites using npm. However for npm to work with brunch it wants me to use CommonJS and foundation JS files use ES6/AMD and it doesn't recognize it.

I use:

`var Foundation = require('foundation-sites');` in my entry file.

Any recommendation of what should I do? I really like brunch and I prefer it over webpack

[2018-01-11 09:06] ncoden commented on #10852
For now, you can use:
[code]

[2018-01-11 09:08] ncoden commented on #10852
Related to https://github.com/zurb/foundation-sites/pull/10849

[2018-01-11 09:10] fmj02 commented on #10852
It worked, thanks. However this will add all plugins even those I don't wanna use.

[2018-01-11 09:12] DanielRuf commented on #10838
Ok so Foundation Sites is too opiniated in some places atm and this should be prevented in upcoming releases?

[2018-01-11 09:14] ncoden commented on #10852
Sadly yes. We're working on a better build system.

[2018-01-11 09:16] fmj02 commented on #10852
Nice! I will be awaiting. Thank you for the support!  💪

[2018-01-11 09:20] ncoden commented on #10838
If you mean `opinionated` yes, it is.

[2018-01-11 11:49] jitens opened #10853 "Top Bar not showing in Chrome v64 (Beta)"
However if you are viewing the Top Bar in incognito / private browsing mode the Top Bar shows.

Anyone got any ideas for a fix?

#### How to reproduce this bug:

1. Open https://foundation.zurb.com/sites/docs/top-bar.html

#### What should happen:

The Top Bar menu should be visible and functioning

#### What happened instead:

The Top Bar menu disappears, not visible on screen but markup is in so

[2018-01-11 12:28] goerba opened #10854 "[Accordion Menu] $accordionmenu-padding not working properly"
**Foundation version 6.4.3**

The easiest way to check this out, is by going to the [Accordion Menu](https://foundation.zurb.com/sites/docs/accordion-menu.html) page on the Foundation Docs site. Scroll down to an example accordion menu and inspect 'Item 1' with your developer toolbar.

You will see the following:

`.menu a, .menu .button {`
    `line-height: 1;`
    `text-decoration: none;`
    `d

[2018-01-11 12:45] ncoden commented on #10853
Hi @jitens.

I cannot reproduce the bug. Could you provide a codepen, or at least a screenshot ?

Thank you

[2018-01-11 14:06] jitens commented on #10853
Hi @ncoden,

The screen shot below is from Chrome Beta, the Top Bar is not visible just a grey background colour:

![l_1374 tmp](https://user-images.githubusercontent.com/26116231/34829339-4ef81022-f6d8-11e7-9524-1eec56384559.png)

The screen shot below is from Chrome stable, with the Top Bar visible:

![top-bar-visible](https://user-images.githubusercontent.com/26116231/34829447-a0a7d1c8-f6d8-11e

[2018-01-11 14:40] ncoden commented on #10853
Thank you @jitens

[2018-01-11 17:43] bpierson opened #10855 "[Feature request] CSS selector in `data-toggle`"
It seems like the toggle component would be a lot more effective and easy to use for multi-targeting if it allowed CSS standard selectors instead of id values. For example instead of this:

`data-toggle="some-id"`

it would be better to allow syntax like this:

`data-toggle="#some-id, #other-id"`
`data-toggle=".my-class"`

Currently, these both fail with a Sizzle syntax error: "Syntax error, unrec

[2018-01-11 19:36] ncoden commented on #10855
I like this feature. The main problem is to not introduce breaking changes.

Maybe something like this:
* `some-id` -> target `$("#some-id")`
* `some-id another-id` -> target `$("#some-id")` and `$("#another-id")`
* `#some-id ` -> special character delected: target `$("#some-id")`
* `.class a ` -> special character delected: target `$(".class a")`

Or:
* `some-id` -> target `$("#some-id`
* `some-i

[2018-01-11 21:03] ncoden commented on #10853
Hmmm I cannot reproduce with BrowserStack:

Chrome Browser Version 64.0.3282.15 (Beta) (64 Bit) on Windows 10.

Do you have any extension installed ?
Could you give more details about the CSS properties applied on the topbar, that would make its content invisible ?

[2018-01-11 21:09] ncoden commented on #10854
Currently, import in `foundation.scss` are sorted alphabetically.

**This is a very bad idea**.

Import order in Sass matters a lot as the last CSS properties declared will override the first ones. So components should be sorted in a more "generic" to more "specific" components. When a component relies on others (like `accordion-menu` with `menu`), these dependencies should be imported before.

[2018-01-11 22:18] ncoden commented on #10854
@goerba See https://github.com/zurb/foundation-sites/pull/10856

[2018-01-11 22:20] #10627 closed

[2018-01-11 22:34] bpierson commented on #10855
@ncoden the way the selector is right now, it looks like an "element" selector (because it's just the id value without the hash). I suppose this behavior could be maintained as it's unlikely (though not unheard of) that you'd want to collapse a whole set of elements based on their tag name! I like your first set of options. I think the main thing is to allow the "#" and "." without crashing Sizzle

[2018-01-11 22:38] ncoden commented on #10855
That's a solution. But I would like to add more attributes for what is basically the same feature. A lot of things (inside and outside Foundation) relies on `data-toggle`, and we would have to update all that to support both attributes (and make some code duplication).

[2018-01-11 22:43] bpierson commented on #10855
True. I suppose it will be enough work just making it work with (most) CSS selectors. Thanks!

[2018-01-12 02:19] anephew opened #10857 "[Magellan] active class when scrolling to section?"
Hello!

Does the plug-in support the use of the active class when scrolling the page?
Now the class is applied when we click on the menu link only.

Thank you

[2018-01-12 08:41] jitens commented on #10853
Hi @ncoden looks like I've got the Top Bar to load fine, appears to be one of the extensions/plugins causing the page to not render correctly. I've disabled all plugins.

Thank you for your help.

[2018-01-12 08:41] #10853 closed

[2018-01-12 08:45] ncoden commented on #10857
Hello @anephew,

Magellan should currently add a `.is-active` class on the targetted link, on click _and_ on scroll. Could you provide a codepen with the bug you describe ?

Note: from Foundation v6.4.0, `.is-active` in the default classe instead of `.active`.

[2018-01-12 08:59] anephew commented on #10857
@ncoden

https://codepen.io/anephew/full/QarPdr/

[2018-01-12 09:35] ncoden commented on #10857
hmmm There is `.is-active` classes on links when scrolling.
* Were you talking about classes in sections ?
* Otherwise, on what browser & OS are you testing ?

[2018-01-12 09:49] anephew commented on #10857
@ncoden

1) Yes, I'm talking about a "is-active" class, that was not apply when scrolling a page (when click - yes)

2) Vivaldi 1.14.1064.3 (Official Build) (64-bit)

![bug](https://user-images.githubusercontent.com/551514/34869076-de96ef78-f796-11e7-822a-52faaad85d99.gif)

[2018-01-12 09:57] anephew commented on #10857
@ncoden

Yes, in Firefox it works for example...

[2018-01-12 12:19] cucocreative commented on #10640
I too just got confused by this and googling got me here. As @ginocremer said a comment section 3 pointing to section 56 would be helpful. FYI I'm using a fresh install of F6.4.3

[2018-01-12 12:45] SassNinja commented on #10797
iPad Air 2 with iOS 11.2

And as I said, I can't reproduce the issue

[2018-01-12 13:01] craigward opened #10858 "Button Sass reference typo in docs"
I would have corrected it but I can't find where the Sass references are, and it is not on `foundation-sites/docs/pages/button.md`

But on https://foundation.zurb.com/sites/docs/button.html Sass Reference

`@include button-disable);` should be `@include button-disabled();`

[2018-01-12 14:01] ncoden commented on #10858
Duplicate of https://github.com/zurb/foundation-sites/issues/10783
Fixed in https://github.com/zurb/foundation-sites/pull/10830.

Fixed in `develop`, my bad. So the change will be visible on the release of `v6.4.4`, in 2-4 weeks I hope.

[2018-01-12 14:01] #10858 closed

[2018-01-12 21:17] CGTS commented on #10811
I was running into ~30s compile times after every save. I had over 300 pages and a lot of partials but it still seemed excessive.

I ended up adding the following to my gulp pages task
[code]
My page now compiles in about a second or so. The only issue is when you make a change to a partial you will also need to go to the page it is being imported into and save that page as well. It's irritating b

[2018-01-12 23:42] DanielRuf commented on #10811
Like I wrote, Gulp is probably the issue imo.

[2018-01-13 00:53] nickmagee opened #10860 "[Off-Canvas] Width not calculating correctly"
#### How to reproduce this bug:

1. Step one - Generate off-canvas
2. Step two - inject an image/text
3. Step three - see it's not calculating correctly

#### What should happen: Text should not overflow in cell

#### What happened instead: Text overflows cell

#### Browser(s) and Device(s) tested on: Chrome 63, Mac Pro (Mac OS X Yosemite)

#### Foundation Version(s) you are using: 6.4.3

https://

[2018-01-13 14:46] ncoden commented on #10857
I made some research. The problem seems to come from Vivaldi which does not provide `attributeName` in the `MutationRecord` object after a change of `[data-events]` (see  function `Triggers.initializers.addMutationEventsListener`).

[2018-01-13 15:13] ncoden commented on #10860
Off canvas width is not calculated but static (`250px`), is CSS. The problem here is the grid with negative margins (`grid-margin-x`). The quick solution would be to avoid using this in an off-canvas. A better solution (but maybe breaking) would be to ensure prevent any scroll in off-canvas with `overflow-x: hidden`.

[2018-01-14 05:04] npardon opened #10863 "Error after I run founation watch"
I recently installed foundation 6.4.3 on my computer using the foundaton cli, however when I run foundation watch I get this error:

`C:\Users\N. Ardon\Documents\my stuff\foundation-flexbox\myprojects>foundation watch

    at module.exports (C:\Users\N. Ardon\Documents\my stuff\foundation-flexbox\myprojects\node_modules\gulp-sass\node_modules\node-sass\lib\binding.js:13:13)
    at Object.<anonymou

[2018-01-15 12:48] SassNinja commented on #10860
Imo the easiest solution is to simply use `grid-padding-x` instead of `grid-margin-x` to avoid problems with the grid's margin.

Apart from that I agree with @ncoden it's not a calculation issue since the width is not getting calculated.

[2018-01-15 13:01] anephew commented on #10857
@ncoden

Big thank you! I will write about this bug in the Vivaldi bugreport

[2018-01-15 13:06] anephew opened #10865 "[Magellan] Get the section id when we scroll to it?"
Is it possible to get the section id when we scroll to it? Any data in magellan events?

[2018-01-15 13:20] ncoden commented on #10860
@SassNinja  Beside that the question is: do we expect a scroll to appear inside the offcanvas panel ? If I use a component that is too big, should it but "cut" or have scroll ?

[2018-01-15 13:22] ncoden commented on #10865
See the [Javascript Reference](https://foundation.zurb.com/sites/docs/magellan.html#js-events) of Magellan:

[2018-01-15 13:27] #10865 closed

[2018-01-15 13:52] anephew commented on #10865
@ncoden

Error in console:
`$elem.attr is not a function`

Also, I do not see the id in the object. for example:

[code]

[2018-01-15 13:52] phifa commented on #10811
Will Gulp even be needed in the future? @kball  @IamManchanda  @rafibomb? If the next release of Foundation only uses Webpack, I'm happy to ignore it and wait.

[2018-01-15 13:55] ncoden commented on #10865
You can try:
[code]

[2018-01-15 13:55] Baedda commented on #10808
We have an answer from microsoft:

But I guess this workaround will not help in our case,

[2018-01-15 13:55] SassNinja commented on #10860
I can imagine use cases for both (e.g. non responsive content within the off-canvas where horizontal scrolling might be desired – although it's not pretty).

The advantage of scroll is it's more obvious if the developer has done sth wrong (in this case used the grid wrongly). So imo overflow scroll should be preferred.

[2018-01-15 13:59] anephew commented on #10865
@ncoden

`elem[0] is undefined`   8(

[2018-01-15 14:06] anephew commented on #10865
`console.log(elem[0].getAttribute('href'));`

[2018-01-15 14:07] anephew commented on #10865
@ncoden

This work, check it

`$('#magellan').on('update.zf.magellan', function (ev, elem) {
  console.log(elem[0].getAttribute('href'));
});`

[2018-01-15 14:52] anephew commented on #10865
It's bad that the "update.zf.magellan" event happens more than once (4 and more more...) with manual scrolling (not by the menu link). UPD: with click on menu - it happens 2 times..
![image](https://user-images.githubusercontent.com/551514/34947969-d3d1fa0a-fa1c-11e7-918b-cf452c435f21.png)

I have full height section of window. If I do a check on the id section (for example - to show/hide some blo

[2018-01-16 05:59] DanielRuf commented on #10863
You can ignore the babel/register warning which is just a warning from Babel.

Did you try `npm rebuild node-sass --force`?
What does `node --version` say?

[2018-01-16 06:01] DanielRuf commented on #10863
And try `npm install --global --production windows-build-tools` before this so node-sass can be compiled.

[2018-01-16 20:39] ncoden commented on #10843
@colin-marshall Personally, I prefer when `small-4` is _after_ `cell` for the following reasons:
* `cell` is the base, `small-4` modify it. The action of `small-4` comes _after_.
* `cell` properties must be defined before `small-4` properties.
* Almost always in a list of components, the base will be the same while the modifiers change. It is easier to read a list and compare changes when changes

[2018-01-17 16:56] ncoden opened #10867 "[Off Canvas] Off canvas not visible with revealOn option passed without .reveal-on classes"
The Off-canvas `revealOn` option is infered from its class (`.reveal-on-medium` == `revealOn: 'medium',`), but the `.reveal-on` class is not set when  `revealOn` alone is given, while it is required for the off-canvas to be visible.

#### How to reproduce this bug:

* Create an Off-canvas with `[data-revealed="true"]` and `[data-reveal-on=...]`
* Look, and see......

#### What should happen:

The

[2018-01-18 12:34] Nzrad commented on #10418
Hello, I'm encountering exactly the same situation as carolix... But 5 months passed.

Everything looks so neat about Foundation, yet when trying even that simplest step of downloading a template and using with latest CSS release, it doesn't work at all. Do we even know what is causing this ?

Thanks

[2018-01-18 12:57] ncoden commented on #10418
Hello.

Templates at http://foundation.zurb.com/sites/download.html are using the Float Grid. This was replaced in Foundation v6.4 by the new XY Grid. This is why using these templates with a downloaded version of Foundation does not work: the template are out of date.

You can either:
* Replace the float grid (`.row`, `.column`) with the XY grid (`.grid-x`, `.cell`)
* Import the non-flex version

[2018-01-18 12:58] Nzrad commented on #10418
Thanks a lot, I'll dig into this !

[2018-01-18 12:59] ncoden commented on #10418
I'm closing this issue since complete pack / template _work_, but use different versions of Foundation.

[2018-01-18 12:59] #10418 closed

[2018-01-18 17:07] colin-marshall commented on #10843
@ncoden you persuaded me. I agree, `cell` should definitely come first.

[2018-01-18 17:31] colin-marshall commented on #10863
@npardon @DanielRuf this is more than likely the same issue described here:
https://github.com/olefredrik/FoundationPress/issues/1148

`node-sass` 3.x has no binaries for node.js 8.x or newer. To fix it, you need to bump the `gulp-sass` version in `package.json` to `3.1.0`, so it depends on version 4 of `node-sass`.

I think we can bump this in the templates, but will have to test first.

[2018-01-18 18:04] DanielRuf commented on #10863
I don't think that this is the issue. We use node 8.9 and npm 5 and our projects work with the default templates and dependencies.

[2018-01-18 18:13] colin-marshall commented on #10863
@DanielRuf I've actually seen inconsistencies with this where sometimes it worked for me and other times it didn't (using various Node 8+ versions). In the thread I linked you can see that I mention it worked for me.

Also, a contributor to `node-sass` said this:

Source: https://github.com/sass/node-sass/issues/2017#issuecomment-308267657

Why it works sometimes, I have no idea. No matter what, I

[2018-01-18 19:23] DanielRuf commented on #10863
Like I said, on Windows (and many other platforms) you (often) have to build it with node-gyp.
There are not all binaries on GitHub, just a few.

[code]

[2018-01-18 21:02] colin-marshall commented on #10863
@DanielRuf sounds like you are right, however, I don't see any reason to not bump it to 3.1.0. `gulp-sass` 3.1.0 was released just over a year ago. I have a feeling the longer we hold out on it, the more issues like this will pop up.

For the long term, I agree that we should move to webpack to build the Sass as you mentioned in my PR on the template.

[2018-01-19 11:31] #10852 closed

[2018-01-19 12:29] npardon commented on #10863
@DanielRuf sorry I took so long to reply.  My node version is 9.4, my npm version is 5.60. I also tried a fresh gulp sass like you did it did not seem to work I still got an error.

[2018-01-19 12:37] #10863 closed

[2018-01-19 15:50] kentontaylor opened #10869 "For sites with ads (or long window.onload delay), util.triggers init happens far too late"
#### How to reproduce this bug:

1. Place a garden-variety modal (and accompanying button) components on a page that can have a  delayed `window.load` event.  In our particular situation, this delay is caused by the presence of standard display ads (served from Google DFP) on the page, but any delay in `window.load` will yield the same result.
2. View the page
3. Note that the button to trigger th

[2018-01-19 17:55] colin-marshall commented on #10790
@ncoden I realized last night that we are actually still using `bower` in the `foundation-sites-template`. I never use that template and had assumed it was removed in 6.4 when we switched to webpack.

[2018-01-19 18:04] ncoden commented on #10790
So I'll add it back 😜

[2018-01-19 18:05] colin-marshall commented on #10844
I just removed all merged branches. I assume it's safe to remove all the stale, closed branches as well?

[2018-01-19 18:08] ncoden commented on #10844
hmm... these branch doens't bother anyone, and there can always be work in progress in it. So I'll would go for a manual check to clean them.

[2018-01-19 19:06] colin-marshall commented on #10811
@phifa please try making the following changes in your `package.json` and do a before/after comparison to see if you get any speed improvments:

[code]

Bumping `gulp-sass` went from 5s to 3s on a fresh clone of the foundation-zurb-template. Curious to see how much gain there is on larger projects and if it also applies to JS with webpack.

[2018-01-19 19:17] colin-marshall commented on #10811
Also, in FoundationPress we recently had a user switch the JS watch to use webpack's native watcher function instead of gulp and we saw a performance increase.

https://github.com/olefredrik/FoundationPress/pull/1169

Maybe this is something we should look into doing for Foundation to get some performance increase in the short term while we're still using gulp.

[2018-01-19 19:30] fleps opened #10870 "[Accordion] ID set on <li data-accordion-item> element get's duplicated to the <a .accordion-title> and breaks accessibility tests"
Hello
I have a page with multiple accordions and two of them I need ID's manually set on the accordion-items, which shouldn't be a problem as they don't have any ID attributed by foundation, but oddly when I do this I found an issue that breaks accessibility tests.

#### How to reproduce this bug:

1. Create a simple accordion following the template
2. Manually set an ID in one of the `<li data-ac

[2018-01-19 19:58] colin-marshall commented on #10717
Duplicate. Closing in favor of #9191.

[2018-01-19 19:58] #10717 closed

[2018-01-19 20:16] colin-marshall commented on #10619
@danmitchell- sorry for the late response. This thread there are some explanations for the problem:
https://support.mozilla.org/en-US/questions/1193062

Not really anything we can do about it, as it appears to intentionally remove background-images when the override is set to always. You can even see arrows and the search icon removed from the page when you do it on that Mozilla link above. Closin

[2018-01-19 20:16] #10619 closed

[2018-01-19 21:53] colin-marshall commented on #10870
@fleps please see #10871 and let me know if my solution works. Also, what are you using to test accessibility?

[2018-01-20 13:52] #10843 closed

[2018-01-20 13:52] ncoden commented on #10843
Merged https://github.com/zurb/foundation-sites/pull/10866

[2018-01-20 15:11] #10860 closed

[2018-01-20 23:47] DNA-Matt opened #10872 "Stop sticky item from going past a point"
More of a question than issue, is it possible to stop a sticky item from going past a point, for example bottom of a column

[2018-01-21 10:51] udf2457 opened #10873 "SCSS for responsive topbar ?"
Hi,

I'm currently using `$topbar-background` for the topbar background, and that works fine for desktop screens.

However it defaults to black when responsiveness kicks in (e.g when using something like `<ul class="dropdown vertical medium-horizontal menu"  data-responsive-menu="drilldown medium-dropdown"  data-parent-link="true" >`).

[2018-01-21 11:51] ncoden commented on #9576
Working on it.

[2018-01-21 20:58] IamManchanda commented on #10714
@DaSchTour Just had the poll in my circle
and here's what they thought about Webpack - see below
I really think webpack is easy and should be the default stuff
I don't think it's confusing
cc @ncoden

<img width="609" alt="screen shot 2018-01-22 at 2 24 08 am" src="https://user-images.githubusercontent.com/4970624/35198894-a74cdc4e-ff1b-11e7-83df-afaad9aea8aa.png">

[2018-01-21 21:24] ncoden commented on #10846
Hi @antopossegithub

See https://github.com/zurb/foundation-sites/pull/10875

Does it solve your issue ?

[2018-01-21 21:30] ncoden commented on #10846
This is a new feature and not a bug fix. So I delay this to the next minor release `v6.5.0`.

[2018-01-21 21:35] ncoden commented on #10714
@IamManchanda This study seems to have a lot of biais.
* Small sample
* Differents tons and formulations for the proposed answer
* Small number of answer
* Selection biais due to Facebook non-random algorithmes.
* Partiality of the author of the study.

[2018-01-21 21:52] ncoden commented on #10872
Hi @DNA-Matt,

See the first example in the documentation: https://foundation.zurb.com/sites/docs/sticky.html
The sticky element will stop at the bottom of its container set with `[data-sticky-container]`.

Does this answer your questions ? :)

[2018-01-21 22:52] murdoch commented on #10686
Is there update on on the timeline for Foundation 7 yet? Is it still in production? Do you need help with anything in partiular?

[2018-01-21 23:10] ncoden commented on #10686
Hi @murdoch.

There is a good and a bad news.

The bad news is that the roadmap and objectives changed since October. Foundation 7 will not be built on Foundation 6 (like small improvement and new features), but the whole architecture have to change. So this will be take far more time than expected.

The good news is that we're not doing that for nothing. The whole new framework architecture would

[2018-01-22 01:02] grantcarthew commented on #10686
I recently came across frameworks like https://www.iviewui.com/ and evaluated options outside of Foundation. I am using Vue.js. After spending a day looking at this and other Vue.js specific frameworks, I have decided to stick with Foundation. This is a great framework and you guys have done a fantastic job. The JavaScript side of things are a little lacking which I gather is the drive for v7.

Th

[2018-01-22 09:16] phifa commented on #10811
@colin-marshall I changed the lines you suggested. I got a little speed improvement for my scss files. Not significant though. But I don't think scss is the problem.

@CGTS I don't think the html files (partials, layouts, templates) are the problem. The transpile time for the html files is under 1 second.

The Javascript Webpack watching is the main issue. I am working on different projects. I hav

[2018-01-22 09:52] DanielRuf commented on #10811
Mh, what are your node and npm version?

[2018-01-22 10:01] phifa commented on #10811
@DanielRuf

Node.js 8.9.2 (x64)
npm 5.5.1

[2018-01-22 10:03] phifa commented on #10811
I am working on bigger project now, this is how long it takes for JS to transpile:

[code]

[2018-01-22 10:03] antopossegithub commented on #10846
Can you provide a codepen to show your final result.
I've tried your solution but it didn't worked

[2018-01-22 10:16] DanielRuf commented on #10811
Webpack 2.7 is quite old. There is webpack 3 and 4 (beta).
Also 2.8 MB is quite much. Is this the production or dev mode?

[2018-01-22 10:29] phifa commented on #10811
@DanielRuf  yeah I tried @colin-marshall's suggestion on another project, now I also updated this project to webpack 3.10.0, not changing much. I agree, it is a big file, it includes a few libs. Why does Webpack always have to transpile all files, even the libs in node_modules? I am making minor changes in my app.js and still it builds everything from scratch.

[code]

[2018-01-22 10:52] brettsmason commented on #10811
@phifa I've not been part of this discussion so apologies if anything I say has been covered...
Have you tried excluding `node_modules` in your Webpack rules? [Here's an example](https://bitbucket.org/brettsmason/tiptoe/src/ad9ac215d0b7c628152cfab53116d2e94757288c/src/build/webpack.common.js?at=webpack&fileviewer=file-view-default#webpack.common.js-27) of what I mean.

[2018-01-22 11:01] DanielRuf commented on #10811
This should be normally the case with most default rules for the js loaders. Without this webpack checks the whole node_modules directory.

[2018-01-22 12:54] IamManchanda commented on #10714
But still do you really think we should not move to webpack??

on the top of Foundation 7 webpack template we can make various webpack templates for various technologies like angular, react, vue, laravel, wordpress etc etc and ship it over

Kind of https://github.com/vuejs-templates

[2018-01-22 13:37] IamManchanda commented on #10714
Then user can simply do this below and boom

[code]

[2018-01-22 13:38] ncoden commented on #10714
Yeah, we could switch to webpack. I have nothing against that.

[2018-01-22 13:40] ncoden commented on #10846
@antopossegithub Did you disabled the `dynamicHeight` option in Sticky ?

[2018-01-22 13:43] phifa commented on #10714
If we switch to webpack, we need to create resources on how to properly work with foundation and webpack. I am almost daily running into problems. Otherwise many folks will pick BS or other frameworks that are easier to adopt and we loose people. That would suck. At this point the framework is called "foundation" and not "foundation+webpack". Again, I see the advantages of webpack, but we need to

[2018-01-22 13:47] kuzvac commented on #10714
And make webpack loader or something for panini :D

[2018-01-22 13:48] IamManchanda commented on #10714
@phifa @ncoden
Well there is a short course on udemy. (Yup that 10$ beast)
https://www.udemy.com/webpack-beyond-the-basics/

The author of that tutorial Lawrence, apart from being a web developer is a film maker too and thus  has made a great resource for learning webpack with ease. If we can add that link in the docs for same or resources then that will be great

or else, if we can't pinch in som

[2018-01-22 14:26] Kobe opened #10876 "Slider component doesn't work with current jQuery version 3.1.1"
TypeError: this.handles.addTouch is not a function

[2018-01-22 14:50] antopossegithub commented on #10846
Yes but if I deactivate this function, the menu is no longer sticky

`<div data-sticky-container>
  <div class="title-bar" data-sticky data-options="marginTop:0;dynamicHeight:false;" style="width:100%" dynaminHeight="falsw">
    <div class="title-bar-left"></div>
    <div class="title-bar-right"></div>
  </div>
</div>`

[2018-01-22 15:56] #10867 closed

[2018-01-22 16:02] ncoden commented on #10876
Hi @Kobe. Could you provide the whole error stacktrace please ?

[2018-01-22 16:37] kentontaylor commented on #10869
Pull request to address this is ready at https://github.com/zurb/foundation-sites/pull/10877 -- feedback welcome.

Thanks!

[2018-01-22 19:11] fleps commented on #10870
Hi @ncoden

Alright, thanks for the info =)

[2018-01-22 21:08] marvinhuebner commented on #10714
I think if we move to webpack it won't heart newbies from using foundation if we have good toolset around. We should don't remove the basic template. So the basic template will use simple html/css/js without the need of any tooling and the zurb (advanced) template should prepared with a working webpack configuration.

So if anybody who has not much knowladge about webpack but will use the sass ver

[2018-01-22 21:10] #10850 closed

[2018-01-22 21:23] #10870 closed

[2018-01-22 21:46] ncoden commented on #10846
Hi @antopossegithub,

This should be fixed now. I am sorry, I did not tested it correctly (with the `dynamicHeight` option set to `false` _before_ the component is initialized).

[2018-01-23 07:34] mwinkelm opened #10878 "[Improvement] Add align-evenly to the flexbox utility classes"
Hi folks,

I came across a use case where I wanted to use `justify-content: space-evenly`. I recognized that there are some utility classes for this kind of horizontal alignment. See: https://foundation.zurb.com/sites/docs/flexbox-utilities.html#horizontal-alignment
Unfortunately they are not "complete" from my perspective. Maybe there is a reason why this setting is not in the list?

But I think

[2018-01-23 08:34] antopossegithub commented on #10846
Good job 👍
it works properly. Thanks a lot!!

Did you include this fix in the next release?
When will the next release come out?

[2018-01-23 08:35] ncoden commented on #10878
Hi @mwinkelm,

`space-evenly` is only supported by the latest versions of Chrome and Firefox and does not seems to be standard (see https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content).

Also, there is no mention of it in the [W3C flexbox specification](https://www.w3.org/TR/css-flexbox-1/#justify-content-property). So I don't think we should add it in Foundation.

[2018-01-23 08:40] ncoden commented on #10846
The PR will be merged after @colin-marshall reviewed it. Since it adds a new feature, it should be released in Foundation `v6.5.0` in about a month.

[2018-01-23 08:42] DaSchTour commented on #10714
I don't like were this discussion is heading. Webpack should be used as an internal toolset to create a distribution build that can be used with all other toolsets. The worst a framework could to to chain itself to a certain build tool and force others to use a certain toolchain just to use a certain framework.

[2018-01-23 08:43] mwinkelm commented on #10878
Thank you! I **fully** agree with you.

Question can be closed.

[2018-01-23 08:45] Kobe commented on #10876
Sorry, my fault. I ran into side effect. There is no issue with the current jQuery version!

[2018-01-23 08:45] #10876 closed

[2018-01-23 08:57] #10878 closed

[2018-01-23 09:07] brettsmason commented on #10714
I tend to agree with @DaSchTour on this. The good thing about Foundation is its flexible in how the user wants to work and we don't force a way of working upon them.

[2018-01-23 17:05] proov commented on #10686
when i'm working with Vue and Nuxt. I'm using only the SCSS part of Foundation, the breakpoint, rem calc, and others mixins are really great and very modular. The JS part is not very friendly to be used as modules or components. I think Foundation V7 have to be really lighter than V6. I'm using Foundation since the V3, ithink it's time to contribute now :D Is there a tutorial to contribute ?

[2018-01-23 21:46] jordanbommelje opened #10879 "Full-screen Modal on iOS"
#### How to reproduce this bug:

1. Open https://foundation.zurb.com/sites/docs/reveal.html#full-screen on iOS Device
2. Tap on "Click me for a full-screen modal"

#### What should happen:
Expecting it to be full screen like on desktop/laptop

#### What happened instead:
Appended to the end of docs-sticky-top-bar instead of covering this as well

#### Browser(s) and Device(s) tested on:
12.9" iPad

[2018-01-24 12:06] danmilas opened #10880 "[Orbit] doesn't work when placed inside an INTERCHANGE page"
#### How to reproduce this bug:

1. use data-interchange for 2 pages (.php in my example)
2. one of the pages (large) has a slider, the other page has the 2 images on top of each other
3. on the resolution that should display the slider (large) the slider doesn't show at all (height 0)

#### What should happen:
the slider should show in one of the resolutions and the other code in the other

####

[2018-01-24 15:32] Geddo commented on #10811
same for me. The building process with standard "foundation watch" needs apx. 35-40seconds (standard foundation JS + ONE small JS with some scrolling events). Way too long while developing JS-Scripts IMHO
i7@4Ghz, SSD (no M.2 :-() Win10

[2018-01-24 16:05] dioogbento opened #10881 "Dropdown Menu Submenu Alignment"
#### How to reproduce this bug:
1. Dropdown Menu with Submenu
2. Align-right class
3. data-alignment: 'left' option

#### What should happen:
Dropdown Menu aligned to right;
Submenu aligned to left in relation to its parent.

#### What happened instead:
Dropdown Menu aligned to right;
Submenu aligned to right in relation to its parent.

#### Browser(s) and Device(s) tested on:
Firefox, Safari and

[2018-01-24 18:50] colin-marshall commented on #10811
@Geddo is this on the first time building after running `foundation watch` and rebuilding, or just when it rebuilds?

[2018-01-25 06:12] cordial opened #10882 "Foundation 6.4.3 Tabs don't work with pagination?"
hey,

Apologies for posting here, I tried the forums but no replies. This might be a feature request more than an issue (unless something is wrong and it is in fact an issue). My question is - can foundation tabs have pagination out of the box or does this require manual use of AJAX to accommodate? For reference, the site I am making is Wordpress and I have tabs set up correctly to display custom

[2018-01-25 09:34] IamManchanda commented on #9980
btw @kball made a very good point ... we need to explore that area too!

[2018-01-25 12:43] diniscorreia opened #10883 "[Interchange] Support for background images without file extension"
I know this is an edge case, but is there any way to have Interchange support background images without a file extension?

On one of my projects I have to use the company's image server, which returns the images with a URL without an actual file extension. I basically modified the regex on Interchange to match the image server's subdomain.

[2018-01-25 16:55] udf2457 commented on #10873
@ncoden

`$titlebar-background` works when the window is minimised (tested in Firefox).

However neither `$titlebar-background` or `$topbar-background` seem to have any effect in Safari ? It stays black ?

(I tried to Codepen this for you, but I'm a bit of a Codepen noob and can't quite understand where I am supposed to edit the default Foundation SCSS in Codepen ?  I've found the ability to pull

[2018-01-25 21:33] ncoden commented on #10873
Hi @udf2457. I tested it on the following versions:
- Safari 5.1 on Windows 10
- Safari 11/10/9 on macOs (High Sierra, Sierra, El Capitan, Mavericks)
- Safari 7/8/9 on iPhone 5/5s/6/6s, I cannot test on iPhone 7

I'm unable to reproduce the bug. Changing both`$titlebar-background` and `$topbar-background` always change the background color when the topbar is stacked.

Can you check your settings,

[2018-01-25 22:32] udf2457 commented on #10873
Hi @ncoden

OS X High Sierra.

Works on Firefox 57.0.4
Still black on Safari 11.0.3 (13604.5.6)

[2018-01-25 23:22] ncoden commented on #10883
@diniscorreia See: https://github.com/zurb/foundation-sites/pull/10884

[2018-01-25 23:24] ncoden commented on #10873
@udf2457 Can you provide the HTML code you are using ?

[2018-01-27 00:25] DanielRuf opened #10886 "failing unit tests"
jQuery 3.3.0 introduced some deprecations which also cause that 40 unit tests fail because the new implementations of jQuery.type, jQuery.isFunction and so on seem to be wrong.

https://github.com/jquery/jquery/commit/a16339b8933f115da3661f3d3f64854c3fa60bdc causes this.

[2018-01-27 02:24] DanielRuf commented on #10886
cc @ncoden and other Zurbians

[2018-01-27 03:30] JeremyEnglert commented on #10883
@diniscorreia, see @ncoden's message above. It looks like it may meet your needs.

In the meantime, I'm going to close out this ticket. Expanding upon this idea will be considered for the next version of Foundation - thanks for the idea!

[2018-01-27 03:30] #10883 closed

[2018-01-27 03:32] JeremyEnglert commented on #9352
This feature will be considered for the next version of Foundation. I personally think this is a great idea.

[2018-01-27 03:32] #9352 closed

[2018-01-27 03:33] JeremyEnglert commented on #9527
Lets consider this and discuss it for Foundation 7. As part of our clean-up initiative, I'm closing this issue.

[2018-01-27 03:33] #9527 closed

[2018-01-27 03:35] #9545 closed

[2018-01-27 03:35] JeremyEnglert commented on #9551
Lets consider this for F7.

[2018-01-27 03:35] #9551 closed

[2018-01-27 03:36] JeremyEnglert commented on #9553
Lets **seriously** consider this for Foundation 7.

[2018-01-27 03:36] #9553 closed

[2018-01-27 03:37] #9582 closed

[2018-01-27 03:38] #9592 closed

[2018-01-27 03:38] JeremyEnglert commented on #9662
No response from original poster. Closing.

[2018-01-27 03:38] #9662 closed

[2018-01-27 05:14] JeremyEnglert commented on #9675
Lets talk about this for V7.

[2018-01-27 05:14] #9675 closed

[2018-01-27 05:14] JeremyEnglert commented on #9680
We'll look into this for V7 - great suggestion.

[2018-01-27 05:14] #9680 closed

[2018-01-27 05:15] JeremyEnglert commented on #9682
Lets talk about this for V7.

[2018-01-27 05:15] #9682 closed

[2018-01-27 05:16] JeremyEnglert commented on #9715
Lets talk about this for V7.

[2018-01-27 05:16] #9715 closed

[2018-01-27 05:17] JeremyEnglert commented on #9726
Lets get this implemented in V7.

[2018-01-27 05:17] #9726 closed

[2018-01-27 05:17] #9737 closed

[2018-01-27 05:18] JeremyEnglert commented on #9759
I think this is best off as a building block, or something to discuss in V7.

[2018-01-27 05:18] #9759 closed

[2018-01-27 05:20] colin-marshall commented on #10796
Thanks for this feature request. We’re going to close out this ticket, as we will not be adding more features to Version 6, but your request is being considered for Version 7.

[2018-01-27 05:20] #10796 closed

[2018-01-27 05:20] #9765 closed

[2018-01-27 05:21] JeremyEnglert commented on #9800
Tabled for V7.

[2018-01-27 05:21] #9800 closed

[2018-01-27 05:21] colin-marshall commented on #10812
Thanks for this feature request. We’re going to close out this ticket, as we will not be adding more features to Version 6, but your request is being considered for Version 7.

[2018-01-27 05:21] #10812 closed

[2018-01-27 05:22] #9813 closed

[2018-01-27 05:22] #9814 closed

[2018-01-27 05:23] JeremyEnglert commented on #9818
Let's look into this for V7.

[2018-01-27 05:23] #9818 closed

[2018-01-27 05:24] colin-marshall commented on #10775
Thanks for this feature request. We’re going to close out this ticket, as we will not be adding more features to Version 6, but your request is being considered for Version 7.

[2018-01-27 05:24] #10775 closed

[2018-01-27 05:24] #9875 closed

[2018-01-27 05:24] JeremyEnglert commented on #9978
We'll look into this for V7. Great suggestion.

[2018-01-27 05:24] #9978 closed

[2018-01-27 05:26] JeremyEnglert commented on #9980
Lets discuss this for V7. Too many breaking changes for V6.

[2018-01-27 05:27] colin-marshall commented on #10612
@IamManchanda closing out this feature request to be reconsidered in v7.

P.S. Great job on the articles on codeburst.io! I had not seen these yet.

[2018-01-27 05:27] #10612 closed

[2018-01-27 05:27] #10131 closed

[2018-01-27 05:28] colin-marshall commented on #10573
Thanks for this feature request. We’re going to close out this ticket, as we will not be adding more features to Version 6, but your request is being considered for Version 7.

[2018-01-27 05:28] #10573 closed

[2018-01-27 05:28] #10145 closed

[2018-01-27 05:29] colin-marshall commented on #10661
@IamManchanda closing out this feature request to be reconsidered in v7.

[2018-01-27 05:29] colin-marshall commented on #10655
@IamManchanda closing out this feature request to be reconsidered in v7.

[2018-01-27 05:29] #10342 closed

[2018-01-27 05:29] colin-marshall commented on #10633
@IamManchanda closing out this feature request to be reconsidered in v7.

[2018-01-27 05:29] #10633 closed

[2018-01-27 05:30] JeremyEnglert commented on #10454
@brettsmason - should we fix in F6 or wait for F7?

[2018-01-27 05:30] colin-marshall commented on #10508
@IamManchanda closing out this feature request to be reconsidered in v7.

[2018-01-27 05:30] #10508 closed

[2018-01-27 05:32] colin-marshall commented on #10136
Thanks for this feature request. We’re going to close out this ticket, as we will not be adding more features to Version 6, but your request is being considered for Version 7.

[2018-01-27 05:32] #10136 closed

[2018-01-27 05:33] JeremyEnglert commented on #7033
All issues here have been addressed. Closing.

[2018-01-27 05:33] #7033 closed

[2018-01-27 05:34] JeremyEnglert commented on #7246
Sorry everyone. An upgrade guide to go from 5 to 6 most likely isn't going to happen.

But to be honest, there really isn't ever a need to update a project.

[2018-01-27 05:34] #7246 closed

[2018-01-27 05:37] colin-marshall commented on #10547
@IamManchanda closing this out to be considered for v7. WebP sounds very interesting though, I'll have to learn about it!

[2018-01-27 05:37] #10547 closed

[2018-01-27 05:38] JeremyEnglert commented on #7802
@ncoden - should this be fixed in the upcoming version, or should be just update the docs? It seems like the work around listed above works.

[2018-01-27 05:38] JeremyEnglert commented on #7812
No reply. Closing.

[2018-01-27 05:38] #7812 closed

[2018-01-27 05:40] colin-marshall commented on #10701
Looks like this got merged so I'm closing out this issue.

[2018-01-27 05:40] #10701 closed

[2018-01-27 05:40] #8332 closed

[2018-01-27 05:41] #10210 closed

[2018-01-27 05:43] colin-marshall commented on #10556
@SassNinja I like that idea. Something that we will definitely consider for updates in Version 7.

[2018-01-27 05:45] JeremyEnglert commented on #7815
Closing this. We can address this in V7.

[2018-01-27 05:45] #7815 closed

[2018-01-27 05:47] colin-marshall commented on #10886
I don't have time to look into this at the moment, but really appreciate you helping us get to the bottom of this @DanielRuf. Since there is no description for this issue, do we find all info we need about this in the PR you opened on the jQuery repo?

[2018-01-27 05:49] colin-marshall commented on #10855
Thanks for this feature request @bpierson, this sounds useful. We’re going to close out this ticket, as we will not be adding more features to Version 6, but your request is being considered for Version 7.

[2018-01-27 05:54] JeremyEnglert commented on #7940
Looks like this may have been addressed in 6.2 or 6.3, If not, it will have for wait for F7.

[2018-01-27 05:54] #7940 closed

[2018-01-27 05:55] JeremyEnglert commented on #8022
Lets talk about this for F7.

[2018-01-27 05:55] #8022 closed

[2018-01-27 05:57] JeremyEnglert commented on #8082
We'll discuss this for V7.

[2018-01-27 05:57] #8082 closed

[2018-01-27 05:57] #8117 closed

[2018-01-27 05:58] #8123 closed

[2018-01-27 06:01] #8733 closed

[2018-01-27 06:01] JeremyEnglert commented on #8870
No response. Closing.

[2018-01-27 06:01] #8870 closed

[2018-01-27 06:02] JeremyEnglert commented on #8954
No response. Closing.

[2018-01-27 06:02] #8954 closed

[2018-01-27 06:02] JeremyEnglert commented on #9820
No response. Closing.

[2018-01-27 06:02] #9820 closed

[2018-01-27 06:07] JeremyEnglert commented on #9903
This no longer appears to be an issue.

[2018-01-27 06:07] #9903 closed

[2018-01-27 06:09] JeremyEnglert commented on #8420
Is this still an issue? What version of iOS?

[2018-01-27 06:42] colin-marshall commented on #10682
Thanks for this feature request. We’re going to close out this ticket, as we will not be adding more features to Version 6, but your request is being considered for Version 7.

[2018-01-27 06:42] #10682 closed

[2018-01-27 06:45] colin-marshall commented on #8834
Closing this out since we have been using jQuery 3+ for awhile now. Feel free to reopen if you feel I have done so in error.

[2018-01-27 06:45] #8834 closed

[2018-01-27 06:52] #10855 closed

[2018-01-27 06:53] colin-marshall commented on #10767
@DanielRuf that does sound useful. We’re going to close out this ticket, as we will not be adding more features to Version 6, but your request is being considered for Version 7.

[2018-01-27 06:53] #10767 closed

[2018-01-27 06:57] colin-marshall commented on #8756
Closing in favor of #8784, as it covers the same topic and there seems to be more discussion there.

[2018-01-27 06:57] #8756 closed

[2018-01-27 07:02] colin-marshall commented on #9300
This feature request doesn't look like it went anywhere so I'm closing it out. Will revisit for consideration in F7.

[2018-01-27 07:02] #9300 closed

[2018-01-27 10:55] webuxr commented on #10881
I’m running to to the same issue. Posting comment as +1 and subscribing.

[2018-01-27 11:40] DanielRuf commented on #10886
Exactly. I did a `git bisect` and the new deprecations and the (wrong) checks for `isFunction` and `isTyp` are definitely rhe cause that the unit tests (40 in total) are suddenly failing.

[2018-01-27 17:08] JeremyEnglert commented on #7823
Lets open this up for discussion for V7.

[2018-01-27 17:08] #7823 closed

[2018-01-27 17:10] JeremyEnglert commented on #7909
No reply. Closing this issue out.

[2018-01-27 17:10] #7909 closed

[2018-01-27 17:51] JeremyEnglert commented on #7923
No response. Closing.

[2018-01-27 17:51] #7923 closed

[2018-01-27 18:42] JeremyEnglert commented on #8190
It looks like the behavior of tooltips has changed dramatically and this is no longer an issue.

[2018-01-27 18:42] #8190 closed

[2018-01-27 19:55] JeremyEnglert commented on #10872
@ncoden answered this. Closing for now.

Feel free to re-open if the above didn't answer your question.

[2018-01-27 19:55] #10872 closed

[2018-01-27 19:57] JeremyEnglert commented on #10838
I don't think there is anything to resolve here. Let's keep this in mind for V7.

[2018-01-27 19:57] #10838 closed

[2018-01-27 20:02] JeremyEnglert commented on #10820
@ncoden - think we can squeeze this into the upcoming release?

[2018-01-27 20:04] JeremyEnglert commented on #10797
No response in 2 weeks. Closing out this ticket. Please feel free to respond with additional details and I'll be happy to reopen it.

[2018-01-27 20:04] #10797 closed

[2018-01-27 20:10] JeremyEnglert commented on #10784
There are three **core** breakpoints. Which I admit, is a bit confusing. For V7, lets keep an eye on a better way to handle that.

[2018-01-27 20:10] #10784 closed

[2018-01-27 22:40] DanielRuf commented on #10886
https://github.com/jquery/jquery/pull/3956#issuecomment-361017671

Well, I'm not sure but so far the unit tests should be enough or what do they need?
For me it was pretty clear when I did `git bisect` in node_modules/jquery.

Also their other unit tests seem to be wrong.

I need some support with this.
I know that jQuery 3.3 lets the unit tests fail.
I know this is due to the deprecations which c

[2018-01-27 22:45] DanielRuf commented on #10886
Added link to the commit which causes this.

[2018-01-28 02:58] colin-marshall commented on #10886
@DanielRuf for the short term should do you think we should change `package.json` from `"jquery": ">=3.0.0"` to `"jquery": "~3.2.1"` so we can utilize our tests?

@zurb/yetinauts

[2018-01-28 05:02] colin-marshall commented on #8413
#8281, #8292, #8325, and #8409 are all closed. I checked off those boxes which completes the list  so I think it's safe to close this out now.

[2018-01-28 05:02] #8413 closed

[2018-01-28 05:03] colin-marshall commented on #8424
Thanks for this feature request. We’re going to close out this ticket, as we will not be adding more features to Version 6, but your request is being considered for Version 7.

[2018-01-28 05:03] #8424 closed

[2018-01-28 05:05] colin-marshall commented on #8417
@DaSchTour is it safe to close this out since we have other issues/PR's discussing TypeScript and module loading?

[2018-01-28 05:12] colin-marshall commented on #8395
@Boduje sorry for _extremely_ late response. Is this still an issue? If so, please provide us with a reproducible test case using one of the following CodePens:

- [CodePen with Foundation 6.4.1, XY Flexbox grid and MotionUI](http://codepen.io/IamManchanda/pen/EXbGKJ)
- [CodePen with Foundation 6.4.1, XY Flexbox grid with RTL Direction and MotionUI](http://codepen.io/IamManchanda/pen/qjVLoO)
- [Co

[2018-01-28 05:15] colin-marshall commented on #8368
@ncoden @andycochran is it ok to close this old issue out? Thanks.

[2018-01-28 05:16] colin-marshall commented on #8366
@ncoden @brettsmason is it ok to close this one out?

[2018-01-28 05:18] colin-marshall commented on #8357
@ncoden should we just add something about @kball's workaround to the docs and then close this out?

[2018-01-28 08:02] #8357 closed

[2018-01-28 08:07] ncoden commented on #8366
This is generated there: https://github.com/ncoden/foundation-sites/blob/85c4e889ab8b1ab7ebda94fbc723330402191683/scss/forms/_text.scss#L143

I think we should resolve this issue. I'll submit a PR.

[2018-01-28 08:13] #8368 closed

[2018-01-28 08:21] ncoden commented on #10820
Yes. Fixing this issue would require to use pixels instead of em/rem for grids. This is a major change.

[2018-01-28 08:21] #10820 closed

[2018-01-28 08:28] ncoden commented on #7802
@JeremyEnglert You're right. I'll update the docs.

[2018-01-28 09:39] DanielRuf commented on #10886
Definitely. I would lock it to 3.2.x as the highest version.

[2018-01-28 11:07] IamManchanda commented on #9980
This is already for v7 if you check the label!!!

[2018-01-28 11:08] IamManchanda commented on #10661
This is already for v7 if you check the label!!!

[2018-01-28 11:11] IamManchanda opened #10888 "Ensure support of Font Awesome 5"
https://fontawesome.com/how-to-use/svg-with-js

- [ ] We should be making sure that we are compatible with FontAwesome 5
- [ ] I also hereby mean to drop support for Foundation Icons as that is now legacy
- [ ] Also font awesome 5 should be used in the docs instead of foundation icons
- [ ] Webpack config #10714 + some [advanced](https://fontawesome.com/get-started/advanced-options) options would

[2018-01-28 11:12] IamManchanda commented on #10888
PS: This is for v7

[2018-01-28 11:14] IamManchanda commented on #10661
As discussed with Yetinauts,

We can also use JS to detect IE 10 & 11
to make something like https://codepen.io/IamManchanda/pen/BJbzmR & much more to work just like

[code]

[2018-01-28 11:17] IamManchanda commented on #10888
I also here mean to drop support for Foundation Icons

[2018-01-28 11:28] IamManchanda commented on #10714
I agree

I don't agree

[2018-01-28 13:01] IamManchanda commented on #10682
@colin-marshall I express my disconcern regarding this specific issue ... This should be done in v6!

[2018-01-28 13:08] IamManchanda commented on #10547
@colin-marshall I don't know whether this is right direction or not as this type of docs change is not specific to a version.

If webp is beneficial then there is no harm in even considering this for older versions of docs, forget v6!

**But i support your decision to reconsider it for v7 only**

[2018-01-28 13:09] IamManchanda commented on #10655
This is already labelled as v7 only!!!

[2018-01-28 17:38] ncoden commented on #10682
It seems everyone is not on the same page in the core team.

@grantcarthew Please see https://github.com/zurb/foundation-sites/pull/10864
@IamManchanda There is a lot of isseus similar to this one. So we could have closed it with a "duplicate" tag anyway ;)
@colin-marshall No need to reconsider it in v7 now ;)

[2018-01-28 18:15] ncoden commented on #7802
I looked further and I can confirm that this is not a bug. Foundation automatically detect form errors in the same parent than the `<input>`, but we cannot extends this behavior without creating conflicts between fields.

Globally, this is always a good thing to explicitely declare relations between elements. So the recommanded usage is to use `data-abide-error="inputId"` to declare this relation

[2018-01-28 18:51] IamManchanda commented on #10655
It seems like that this is already labelled by v7 and we closed it by mistake so we are reopening it... Thanks!

[2018-01-28 18:52] IamManchanda commented on #9980
It seems like that this is already labelled for v7 and we closed it by mistake so we are reopening it... Thanks!

[2018-01-28 19:25] IamManchanda commented on #10872
@DNA-Matt we are awaiting your reply

[2018-01-28 19:29] IamManchanda commented on #8190
@rianne-o @ghost @markgibbons25

Though not sure but i think this was fixed in #10053
But if you still facing any issues ... let us know and we would be happy to reopen it!

[2018-01-28 19:30] IamManchanda commented on #7923
@Saifadin We are awaiting your reply here
If you still think there is a bug here, let us know
we will reopen

[2018-01-28 19:34] Saifadin commented on #7923
Sorry for not replying. Yes its resolved. The final solution was to wait for angular to render then enabling foundation. Thanks to @zurbchris for his help.

[2018-01-28 19:37] IamManchanda commented on #9300
Sorry @farooqaaa but semantics of foundations doesn't work like this
We had a deep discussion here #9671
and this will not be added in foundation in coming future to my best of knowledge

That said, we may consider some JavaScript Abstraction like https://acss.io/ for F7
but I don't think will happen so adding it as close:invalid

@colin-marshall No need to revisit for f7

[2018-01-28 19:42] IamManchanda commented on #8784
Hi @chrona we working on F7 and we will reconsider for v7

For v6, we have decided to stop work on new features but stay there... Your feature will be considered for v7

[2018-01-28 19:42] #8784 closed

[2018-01-28 19:43] IamManchanda commented on #9671
#9683 will be a breaking change but seems like it's still pending so I am closing this to revisit for f7

[2018-01-28 19:43] #9671 closed

[2018-01-28 19:46] IamManchanda commented on #7909
@gakimball @phifa @matticusfinch Is this issue still remains? For now we are closing this but we will be happy to reopen if this issue is still there
Let us know!

[2018-01-28 19:48] IamManchanda commented on #10682
Seems good to me @ncoden

[2018-01-28 19:52] IamManchanda commented on #9820
@Payam93 We are awaiting your reply if you want us to reopen this issue!

[2018-01-28 19:53] IamManchanda commented on #8954
Hi @hamzehparsi we are awaiting your reply if you want this thread to be reopened
Does this issue still exists??

[2018-01-28 19:53] IamManchanda commented on #8870
@madhanan we are awaiting your reply if you want this thread to be reopened
Does this issue still exists??

[2018-01-28 19:54] IamManchanda commented on #8733
@andrewjschmitt we are awaiting your reply if you want this thread to be reopened
Does this issue still exists??

Also would be great if you can help us with a codepen!

[2018-01-28 19:57] IamManchanda commented on #8123
@anothergituser Does this issue still exists... Please let us know if it does?

[2018-01-28 20:00] IamManchanda commented on #8117
@kball Is there something still pending in there!
Do we need to reconsider anything or shall we close it?

[2018-01-28 20:09] IamManchanda commented on #10210
@taiinaa We are awaiting your reply? Does this issue still exists ... Please let us know!

[2018-01-28 20:11] IamManchanda commented on #8332
@dragthor @mxp83 Are you still facing any issue?
Please let us know

We have closed this for now but feel to let us know and we will reopen

[2018-01-28 20:12] IamManchanda commented on #7812
@imaia Is it still an issue... please let us know?
We are closing it for now but feel free to reopen!

[2018-01-28 20:18] IamManchanda commented on #7246
Sorry everyone but as much it hurts but we don't think 5 to 6 migration guide isn't possible now
That said, we will try to do our best for f7 and surely have a migration guide in the docs for the same!

[2018-01-28 20:21] #9980 closed

[2018-01-28 20:21] JeremyEnglert commented on #9980
V7 requests are being closed for the time being. We have them labeled so we can readdress them in the future.

[2018-01-28 20:22] IamManchanda commented on #10136
@Timoti Thank you for your time. As colin said, we will try to make it a top priority for F7 so this needs serious considerations!

[2018-01-28 20:24] IamManchanda commented on #10454
@JeremyEnglert Seems like we should be fixing this up in v6 :)

[2018-01-28 20:25] JeremyEnglert commented on #10454
I'll leave it up to @brettsmason unless someone else wants to tackle it. This could be seen as a "feature request", as it's functionality that does not currently exist.

[2018-01-28 20:41] IamManchanda commented on #9592
Seems like #9609 is still pending
so we are deferring it to v7

[2018-01-28 20:45] #10556 closed

[2018-01-28 20:48] IamManchanda commented on #10888
V7 requests are being closed for the time being. We have them labeled so we can readdress them in the future.

[2018-01-28 20:48] #10888 closed

[2018-01-28 20:49] IamManchanda commented on #10714
V7 requests are being closed for the time being. We have them labeled so we can readdress them in the future.

[2018-01-28 20:49] #10714 closed

[2018-01-28 20:50] IamManchanda commented on #10661
V7 requests are being closed for the time being. We have them labeled so we can readdress them in the future.

[2018-01-28 20:50] #10661 closed

[2018-01-28 20:50] IamManchanda commented on #10655
V7 requests are being closed for the time being. We have them labeled so we can readdress them in the future.

[2018-01-28 20:50] #10655 closed

[2018-01-28 20:51] IamManchanda commented on #10610
V7 requests are being closed for the time being. We have them labeled so we can readdress them in the future.

[2018-01-28 20:51] #10610 closed

[2018-01-28 20:51] IamManchanda commented on #10545
V7 requests are being closed for the time being. We have them labeled so we can readdress them in the future.

[2018-01-28 20:51] #10545 closed

[2018-01-28 20:51] IamManchanda commented on #10544
V7 requests are being closed for the time being. We have them labeled so we can readdress them in the future.

[2018-01-28 20:51] #10544 closed

[2018-01-28 20:52] IamManchanda commented on #10134
V7 requests are being closed for the time being. We have them labeled so we can readdress them in the future.

[2018-01-28 20:52] IamManchanda commented on #9898
V7 requests are being closed for the time being. We have them labeled so we can readdress them in the future.

[2018-01-28 20:52] #9898 closed

[2018-01-28 22:59] JeremyEnglert commented on #8839
Ensuring Orbit works with _every other_ tool (outside of Foundation) is nearly impossible. However, we will keep this in mind when working on V7.

[2018-01-28 22:59] #8839 closed

[2018-01-28 23:00] #8843 closed

[2018-01-28 23:06] JeremyEnglert commented on #8865
This is particular question is very project specific. Foundation does not come with any HTML. So please reference the necessary files in a way that matches your file structure.

[2018-01-28 23:06] #8865 closed

[2018-01-28 23:07] JeremyEnglert commented on #8881
No response. Closing.

[2018-01-28 23:07] #8881 closed

[2018-01-28 23:08] JeremyEnglert commented on #8896
Better error handling is a discussion for V7. Thanks for this report.

[2018-01-28 23:08] #8896 closed

[2018-01-28 23:09] #8926 closed

[2018-01-28 23:10] JeremyEnglert commented on #8929
Tooltips have been reworked in newer versions. If this is still an issue, feel free to reopen.

[2018-01-28 23:10] #8929 closed

[2018-01-28 23:14] JeremyEnglert commented on #8465
Lets open up this discussion for V7.

[2018-01-28 23:14] #8465 closed

[2018-01-28 23:16] #8494 closed

[2018-01-28 23:19] JeremyEnglert commented on #8504
At this point, this seems like a pretty big rework. Lets open this for discussion for V7.

[2018-01-28 23:19] #8504 closed

[2018-01-28 23:20] JeremyEnglert commented on #8529
Please supply a Codepen example and I will re-open this issue.

[2018-01-28 23:20] #8529 closed

[2018-01-29 12:24] udf2457 commented on #10873
@ncoden

Hmm... went to get the HTML for you today and noticed it seems to be working.

Possibly a caching issue in Safari.

Leave it with me a couple of days to do some more tests and I'll come back and close this issue if that's the case.

[2018-01-29 12:27] udf2457 commented on #10353
@kball

A little nudge to see if you're getting any nearer improving those docs ?  I stumbled across this problem today trying to work with the "new" FontAwesome 5.

Putting `fontawesome-all.js` into `src/assets/js/` doesn't get compiled, I also tried `src/assets/js/lib/` So getting the modern FA5 SVG w/JS is proving to be tedious.

[2018-01-29 17:00] colin-marshall commented on #8356
Thanks for this feature request. We’re going to close out this ticket, as we will not be adding more features to Version 6, but your request is being considered for Version 7.

[2018-01-29 17:00] #8356 closed

[2018-01-29 17:05] colin-marshall commented on #8340
@ncoden do you think this is still necessary to keep open since we switched to webpack? This was also a somewhat unique/custom setup.

[2018-01-29 17:12] colin-marshall commented on #8330
@DusanMilko sorry for the late response. If this is still an issue after verifying what @An1mo16 said, feel free to reopen the issue with the values you are using that result in this error.

[2018-01-29 17:12] #8330 closed

[2018-01-29 17:14] colin-marshall commented on #8303
I think it's safe to abandon this for F6. Will look into doing this for F7 when the time comes.

[2018-01-29 17:14] #8303 closed

[2018-01-29 17:17] colin-marshall commented on #8315
@ghost sorry for the super late response. The test case appears to be down. If this is still an issue, please provide a new test case for us to see. Thanks!

[2018-01-29 17:22] colin-marshall commented on #8304
@kball did #8889 resolve this?

[2018-01-29 17:25] colin-marshall commented on #8301
@Owlbertz @brettsmason can you please take a look at this? I see it was mentioned in #9348 which you guys had heavy involvement in. Thanks!

[2018-01-29 17:30] colin-marshall commented on #8300
Closing this out, as I believe this was resolved by @kball in #8691.

[2018-01-29 17:30] #8300 closed

[2018-01-29 17:37] colin-marshall commented on #8266
We will revisit this feature request for outer labels on switches in F7. Thanks!

[2018-01-29 17:37] #8266 closed

[2018-01-29 17:49] colin-marshall commented on #8225
I expect we will be using a new forum platform in the near future, so I'm going to close this out.

[2018-01-29 17:49] #8225 closed

[2018-01-29 17:54] colin-marshall commented on #8244
@JeremyEnglert I'll let you decide the fate of this issue since you had some prior involvement.

[2018-01-29 18:10] udf2457 opened #10890 "Component styling not functional by default ?"
Foundation-sites 6.4.3

As per `https://foundation.zurb.com/sites/docs/prototyping-utilities.html#component-styling`, it should be possible to use `rounded` to style a button.

However this does not appear to work, the button stays rectangular for me no matter what.  See [this codepen](https://codepen.io/anon/pen/jZOZPw)

[2018-01-29 18:19] skotlinski1 opened #10891 "auto and shrink cells are broken"
### How to reproduce this bug:
Here is a link:
https://codepen.io/skotlinski1/pen/LQYOpN

### What should happen:
On large every cells should be 100% width (large-12) except 4th scenario where second cell on medium should be '3 units' long

### What happened instead:
Big mess instead, click on the link and see :-)

### Browser(s) and Device(s) tested on:
Safari 11.01, Chrome 63, Firefox 57, Opera

[2018-01-29 18:38] Owlbertz commented on #8301
Issue seems to persist, altough as the author said it can be avoided when applying the attributes manually.

I created [this pen](https://codepen.io/Owlbertz/pen/NyWyBw) for any further analysis.
Is this actually a bug (i.e. do we want `reInit()` to take care of these attributes)?

[2018-01-29 19:39] colin-marshall commented on #10890
@udf2457 the prototype classes aren't included by default. Adding this stylesheet after `foundation.min.css` will let you use them:
`https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-prototype.css` to your codepen makes them round.

[2018-01-29 20:08] #10890 closed

[2018-01-29 20:17] IamManchanda commented on #10890
Hi @udf2457 Sorry but the way foundation works (Framework Pledge), we won't make prototype classes default
So marking this as invalid

As colin said you can however use them using `foundation-prototype.min.css` instead of `foundation.min.css` or using Sass variables as mentioned in docs.

Let us know if you have any other issues you are facing for the same!

[2018-01-29 20:45] udf2457 commented on #10890
@IamManchanda @colin-marshall

So you're basically saying for rounded buttons I have to DIY or import some other library ?

Your biggest competitor (Bootstrap) does rounded buttons out of the box ?  I really really struggle to see your thinking here ?

[2018-01-29 20:50] IamManchanda commented on #10890
We just disable Prototype classes by default
https://foundation.zurb.com/sites/docs/prototyping-utilities.html#enabling-prototype-mode

You can reenable it as mentioned in the docs

or using `foundation-prototype.min.css` instead of foundation.min.css
Check https://cdnjs.com/libraries/foundation/6.4.3

[2018-01-29 22:24] colin-marshall commented on #10886
@DanielRuf sorry I missed this earlier:

What can we do to help you?

[2018-01-29 23:30] aaronjpitts opened #10892 "Foundation.toggler.js is causing: `TypeError: Cannot read property '0' of undefined` when using ES6 modules"
When importing foundation plugins using ES6 modules, foundation.toggler.js is causing: `TypeError: Cannot read property '0' of undefined` if input is undefined on line 55 in js/foundation.toggler.js. This is the simple fix:

[code]

[2018-01-30 05:41] colin-marshall commented on #8213
@suntrop sorry for the super late response to this issue. I'm not sure if this applies only to Yeti Launch (which is no longer in development/supported) or if it is also present in all template installs. Since this older I'm going to close it out as we tidy up the open issues. Feel free to reopen if the problem persists for you. Thanks!

[2018-01-30 05:41] #8213 closed

[2018-01-30 06:01] colin-marshall commented on #10890
@udf2457 here's another issue that goes over some history and reasoning:
https://github.com/zurb/foundation-sites/issues/7026

I will admit that there seems to be a void for people like yourself that use the precompiled Foundation CSS and want to use rounded buttons but also don't want to add the bloat of prototype classes.

The workaround is pretty simple thankfully. You can just add only the `.r

[2018-01-30 08:17] brettsmason commented on #8215
Yep this can be closed as it was completely re-written after this.

[2018-01-30 08:17] #8215 closed

[2018-01-30 11:50] udf2457 commented on #10890
@colin-marshall

Thanks for the tip. Guess that'll do !

[2018-01-30 12:37] ncoden commented on #10892
Hi @aaronjpitts.

Thanks for the issue report and the fix. However I would like to make sure that this fix a correct usage of `Toggler`. Could you please describe your usage case ?

[2018-01-30 12:59] ncoden commented on #10774
Fixed in https://github.com/zurb/foundation-sites/pull/10864

[2018-01-30 12:59] #10774 closed

[2018-01-30 13:00] ncoden commented on #10800
Fixed in https://github.com/zurb/foundation-sites/pull/10864. This sould be released in `v6.4.4`.

[2018-01-30 13:00] #10800 closed

[2018-01-30 13:01] ncoden commented on #10336
Fixed in https://github.com/zurb/foundation-sites/pull/10864. This sould be released in `v6.4.4`.

[2018-01-30 13:01] #10336 closed

[2018-01-30 13:01] ncoden commented on #10645
Fixed in https://github.com/zurb/foundation-sites/pull/10864. This sould be released in `v6.4.4`.

[2018-01-30 13:01] #10645 closed

[2018-01-30 13:02] ncoden commented on #10723
Probably fixed in https://github.com/zurb/foundation-sites/pull/10864. This sould be released in `v6.4.4`.

[2018-01-30 13:02] #10723 closed

[2018-01-30 14:02] aaronjpitts commented on #10892
Sure, so I am creating a Vue plugin which simple creates directives for all Foundation javascript widgets (https://github.com/aaronjpitts/vf-directives), I am implementing the toggler Vue directive below.

[code]

[2018-01-30 15:33] skotlinski1 commented on #10891
### Workaround:

I've added to the file _classes.scss in line 86 "xy-cell-base();" and now it works fine :-)

     @for $i from 1 through $grid-columns {
       // Sizing (percentage)
       .grid-x > .#{$-zf-size}-#{$i} {
         @include xy-cell-base(); // <-- ADDED BY ME
         @include xy-cell-static($i, false, $gutter-type: padding);
       }
     }

[2018-01-30 16:39] skotlinski1 commented on #10891
### Second workaround:

Because the first one increased app.css size by 5-8kb, I've added another mixin instead:

    // Reset width of cell on particular breakpoint (and up)

    @mixin dss-reset-cell-width-to-full {
      @include -zf-each-breakpoint() {
        @if not($-zf-size == small) {
          .grid-x > .#{$-zf-size}-width-reset {
            @include xy-cell-base(full);
          }

[2018-01-30 16:44] brettsmason commented on #8825
@colin-marshall @ncoden Does this look like something we could fix? Fro what I understand it would require checking over all the default options for the JS plugins and confirming they match the comments.

[2018-01-30 16:59] brettsmason commented on #8879
As we are now working on Foundation 7, we are stopping maintenance of Foundation 5 so our resources can be used for Foundation 6 and 7. I can only suggest you upgrade to the latest version.

[2018-01-30 16:59] brettsmason commented on #8921
As we are now working on Foundation 7, we are stopping maintenance of Foundation 5 so our resources can be used for Foundation 6 and 7. I can only suggest you upgrade to the latest version.

[2018-01-30 16:59] #8921 closed

[2018-01-30 18:35] colin-marshall commented on #10789
@DanielRuf could you please provide us with a test case of this bug? Thanks!

[2018-01-30 18:44] colin-marshall commented on #9815
@SassNinja I agree. Custom pattern would be best for this rare case. Closing.

[2018-01-30 18:44] #9815 closed

[2018-01-30 18:51] colin-marshall commented on #9794
@paxperscientiam this sounds like an awesome/useful tool for migrating between versions. We will not be able to get this into F6, but this should definitely be something we try to get into F7 so we will reopen and discuss it when the time comes. Thanks!

[2018-01-30 18:51] #9794 closed

[2018-01-30 18:53] colin-marshall commented on #6105
@kellyrmilligan reopening this so we can look into it in the near future.

[2018-01-30 19:17] colin-marshall commented on #9754
@IamManchanda this sounds like a good idea, but low priority for us at the moment. Should we close this out for now and add the Revisit for F7 tag?

[2018-01-30 19:19] IamManchanda commented on #9754
sure @colin-marshall

[2018-01-30 19:19] #9754 closed

[2018-01-30 19:25] paxperscientiam commented on #9794
Thanks @colin-marshall . I haven't thought about this for a while, but I see the solution to the problem as analogous to how `autoprefixer` works with `caniuse`.

[2018-01-30 19:29] colin-marshall commented on #9794
Sounds good @paxperscientiam. Join us on Slack if you have time and would like to get involved with the Yetinauts for F7.

[2018-01-30 19:36] colin-marshall commented on #9793
@paxperscientiam I think this is probably ok to close now. Reopen if you feel I have done so in error. Thanks!

[2018-01-30 19:36] #9793 closed

[2018-01-30 19:38] colin-marshall commented on #9790
@ncoden @abdullahsalem are either of you able to look into this?

[2018-01-30 19:52] colin-marshall commented on #9772
Looks like the double http is fixed but now it's missing the colon. Dead links still present.

[2018-01-30 19:54] colin-marshall commented on #9773
@AdamBarnwell @jagexAllstar we are not adding features to F6, but this will definitely be considered for F7. Closing for now, but will reopen when the time comes to work on F7. Thanks!

[2018-01-30 19:54] #9773 closed

[2018-01-30 20:10] colin-marshall commented on #9787
@christianmagill thanks for the feature request. We won't be adding any features to F6, but we will revisit this request when the time comes to work on Foundation 7. Thanks!

[2018-01-30 20:10] #9787 closed

[2018-01-30 20:18] colin-marshall commented on #9824
@jack-fdrv this sounds useful for certain situations. It is a feature request, and because we are not adding any features to F6, I am going to close this out for now. We will reopen this to revisit when the time comes to work on Foundation 7. Thanks!

[2018-01-30 20:18] #9824 closed

[2018-01-30 20:30] colin-marshall commented on #9756
@ivanjaros please provide a reproducible test case for us. If we don't hear from you in 30 days, we will close out the issue. Feel free to reopen if we close it before you get around to it. Thanks!

[2018-01-30 20:45] colin-marshall commented on #9708
@IamManchanda what do you think the status of this one is?

[2018-01-30 20:51] colin-marshall commented on #9702
@IamManchanda please review the status of this issue and decide its fate. Thanks!

[2018-01-30 21:41] ncoden commented on #8825
@brettsmason This should already be fixed. See https://github.com/zurb/foundation-sites/pull/9562

[2018-01-30 21:41] #8825 closed

[2018-01-30 22:13] #10080 closed

[2018-01-30 22:14] ncoden commented on #10080
#10081 is merged. It should be released in `v6.5.0`.

[2018-01-30 22:15] ncoden commented on #10552
See #10699. It should be released in `v6.4.4`.

[2018-01-30 22:15] #10552 closed

[2018-01-30 23:43] colin-marshall commented on #8077
@seaneble very sorry for the late response to your issue. We are moving on to Foundation 7, and there will be no more development or support for Foundation 5. I am closing this one out.

[2018-01-30 23:43] #8077 closed

[2018-01-30 23:44] colin-marshall commented on #8174
@Risto-Stevcev very sorry for the late response to your issue. We are moving on to Foundation 7, and there will be no more development or support for Foundation 5. I am closing this one out.

[2018-01-30 23:44] #8174 closed

[2018-01-30 23:45] colin-marshall commented on #8378
@depiction very sorry for the late response to your issue. We are moving on to Foundation 7, and there will be no more development or support for Foundation 5. I am closing this one out.

[2018-01-30 23:45] #8378 closed

[2018-01-30 23:46] colin-marshall commented on #8416
Very sorry for the late response to this issue. We are moving on to Foundation 7, and there will be no more development or support for Foundation 5. I am closing this one out.

[2018-01-30 23:46] #8416 closed

[2018-01-30 23:48] colin-marshall commented on #8612
Very sorry for the late response. We are moving on to Foundation 7, and there will be no more development or support for Foundation 5. I am closing this one out.

[2018-01-30 23:48] #8612 closed

[2018-01-30 23:49] #8694 closed

[2018-01-30 23:50] colin-marshall commented on #8753
Closing out all Foundation 5 issues as it is no longer being developed or supported.

[2018-01-30 23:50] #8753 closed

[2018-01-30 23:51] colin-marshall commented on #8956
Very sorry for the late response to your issue. We are moving on to Foundation 7, and there will be no more development or support for Foundation 5. I am closing this one out.

[2018-01-30 23:51] #8956 closed

[2018-01-30 23:53] colin-marshall commented on #10442
@alokpant can you confirm this if is still an issue in Foundation 6 please? Thanks!

[2018-01-30 23:55] colin-marshall commented on #9418
Very sorry for the late response to this issue. We are moving on to Foundation 7, and there will be no more development or support for Foundation 5. For that reason I am closing this out.

[2018-01-30 23:55] #9418 closed

[2018-01-31 00:02] colin-marshall commented on #9611
I believe this can be closed now.

[2018-01-31 00:02] #9611 closed

[2018-01-31 08:58] alokpant commented on #10442
@colin-marshall this was only an issue in Foundation 5.5.3. I have created own breakpoints to solve the problem. Please feel free to close the issue as the problem no longer exists on Foundation 6. Thank you.

[2018-01-31 12:20] #9756 closed

[2018-01-31 14:57] brettsmason commented on #8832
This has now been fixed in the docs along with any other incorrectly listed defaults.

[2018-01-31 14:57] #8832 closed

[2018-01-31 15:02] brettsmason commented on #8933
I'm going to go ahead and close this as its quite an old issue and some users identified a workaround.

[2018-01-31 15:02] #8933 closed

[2018-01-31 15:05] brettsmason commented on #8958
Seeing as the flex grid is now marked as legacy and XY Grid is the new default I'm going to go ahead and close this as I can't see this being added to the legacy grid.

[2018-01-31 15:05] #8958 closed

[2018-01-31 15:08] brettsmason commented on #8977
@andycochran Do you think this is something we should still look at for V6 or push this to V7?
My sense is we will be reconsidering the accessibility side of things for V7 and this is a well thought out suggestion that may influence decisions.

[2018-01-31 15:11] brettsmason commented on #8980
@colin-marshall Any idea if this is still an issue? I know you worked a lot on Sticky.
The test case appears to not function anymore.

[2018-01-31 15:16] brettsmason commented on #8994
I'm going to go ahead and agree with Andy on this one - I think its an edge case and not something that's easily fixed. I will mark this as something to be considered for V7 though to see if it can be addressed.

[2018-01-31 15:16] #8994 closed

[2018-01-31 15:20] brettsmason commented on #9150
This has been addressed in a docs update so closing this.

[2018-01-31 15:20] #9150 closed

[2018-01-31 15:20] brettsmason commented on #9188
This has been addressed in a docs update so closing this.

[2018-01-31 15:20] #9188 closed

[2018-01-31 15:25] brettsmason commented on #9195
I'm not able to reproduce this, but as its actually related to the ZURB site rather than Foundation specifically I'm going to go ahead and close this.

[2018-01-31 15:25] #9195 closed

[2018-01-31 15:27] brettsmason commented on #9234
As the flex grid is now marked as legacy and the XY Grid is the default I'm going to go ahead and close this one.

[2018-01-31 15:27] #9234 closed

[2018-01-31 15:28] brettsmason commented on #9198
Looks like this was actually fixed in 6.2.4 so closing this.

[2018-01-31 15:28] #9198 closed

[2018-01-31 15:30] brettsmason commented on #9175
This has been fixed in a recent docs update so everything should now match.

[2018-01-31 15:30] #9175 closed

[2018-01-31 15:32] brettsmason commented on #9169
This appears to of been a cssnano issue which has since been changed.

[2018-01-31 15:32] #9169 closed

[2018-01-31 15:33] andycochran commented on #8977
My vote is to leave this as-is for v6, and make sure this thread influences the decisions in v7.

[2018-01-31 15:38] brettsmason commented on #9157
I agree that this is probably outside the use case for the classes and the workaround suggested is the way to go. Also as the flex grid is now legacy I'm going to go ahead and close this.

[2018-01-31 15:38] #9157 closed

[2018-01-31 15:39] brettsmason commented on #9137
As this is related to the old legacy float grid and is a bit of an edge case I'm going to go ahead and close this.

[2018-01-31 15:39] #9137 closed

[2018-01-31 15:41] brettsmason commented on #8977
👍 Thanks that's where I was. Closing for that reason.

[2018-01-31 15:41] #8977 closed

[2018-01-31 15:44] brettsmason commented on #9038
This looks like the PR addressing this was successfully merged into core so closing this.

[2018-01-31 15:44] #9038 closed

[2018-01-31 15:47] brettsmason commented on #9017
@Owlbertz Seeing as you were heavily involved in this discussion, do you think its something that should be addressed in V6 or considered for V7?

[2018-01-31 15:49] brettsmason commented on #9053
This was added in the above PR so closing.

[2018-01-31 15:49] #9053 closed

[2018-01-31 15:51] brettsmason commented on #9068
@Owlbertz @coreysyms This looks like something that should be fixed but my JS knowledge is limited.
Any suggestion on what to do with this?

[2018-01-31 15:52] brettsmason commented on #9072
This has been fixed in PR 9073 which was merged.

[2018-01-31 15:52] #9072 closed

[2018-01-31 15:56] brettsmason commented on #9102
Thanks for the feature request. Unfortunately it didn't make it into the menu rework (as that was mainly Sass only). We won't be adding any new features to F6, but we will revisit this request when the time comes to work on Foundation 7. Thanks!

[2018-01-31 15:56] #9102 closed

[2018-01-31 15:59] brettsmason commented on #9180
@colin-marshall I see you closed #9815 which was linked to this.
Any feeling on if you think this should be addressed or not? Never used Abide so I'm in the dark on this one!

[2018-01-31 16:02] brettsmason commented on #9079
@Owlbertz Do you have any idea of why this would be and if/how it would/should be fixed?

[2018-01-31 16:04] colin-marshall commented on #10442
Thanks @alokpant!

[2018-01-31 16:04] #10442 closed

[2018-01-31 16:05] colin-marshall commented on #8980
@brettsmason I'm going to start going through Sticky issues next week. I'll add this to the list.

[2018-01-31 16:07] ar-rm commented on #8980
I just checked on the test case. You're right, something went funny with Codepen.

I just updated it and it works again.

[2018-01-31 16:09] colin-marshall commented on #9180
@brettsmason this one seems more reasonable to test for than `localhost` in the other issue. I'll check it out.

[2018-01-31 16:09] brettsmason commented on #8980
@colin-marshall Thanks - I think there's a lot of them! ;)
@ar-rm Great thanks for updating the CodePen.

[2018-01-31 16:13] brettsmason commented on #9672
Looks like this was addressed in the PR above so closing this!

[2018-01-31 16:13] #9672 closed

[2018-01-31 16:15] brettsmason commented on #8164
This is something I would personally very much like to include in V7 but we aren't adding any new features for V6 going forward.
@karland Thanks again for your input on this - I'm hoping we can do a lot more with V7 on this 👍

[2018-01-31 16:15] #8164 closed

[2018-01-31 20:41] tedivm commented on #5503
Three years later and this still isn't resolved, but even worse none of the workarounds on this page even work.

[2018-01-31 20:44] steoo commented on #5503
I'm still trying to drop foundation out of my project and still paying the
consequences. This is one of the most disappointing project I've ever used

On Jan 31, 2018 21:42, "Robert Hafner" <notifications@github.com> wrote:

[2018-01-31 20:47] tedivm commented on #5503
The fact that they closed this issue, and all of the other issues related to this problem, without bothering to fix it is pretty problematic. I can understand why you'd stop using this project after that.

[2018-01-31 20:52] tedivm opened #10898 "Changing the 'title' property of a tooltip element does not change the tooltip"
#### How to reproduce this bug:

1. Create an element with a tooltip.
2. Change the `title` property of the element.
3. Hover over the element for the tooltip.

#### What should happen:

The new title should be used for the tooltip.

#### What happened instead:

The old title is used for the tooltip.

#### Browser(s) and Device(s) tested on:

Primarily Chrome, although this seems like the defined

[2018-01-31 20:53] tedivm commented on #5503
I opened a new issue, #10898, so lets see if this does somewhere.

[2018-01-31 21:26] steoo commented on #5503
I cannot count the number and variety of problems I had with foundation javascript library and css nonsense approach unfortunately found out only when already commited to it.

[2018-02-01 04:31] tobychin commented on #8333
We ran into this issue, too (a while ago), and got around the errors being thrown by implementing our own function to call when we need to reinit the orbit container. Here's the code we implemented to work around this issue:
[code]
Hope this helps someone.

[2018-02-01 07:29] Owlbertz commented on #9017
I guess what I wrote in https://github.com/zurb/foundation-sites/issues/9017#issuecomment-247533819 still applies and that we should consider having a customizing option for the outline to make it fit the overall page style.

[2018-02-01 07:31] Owlbertz commented on #9079
I guess this requires some debugging using NVDA. I might be able to do that, but not sure when.

[2018-02-01 09:20] ncoden commented on #9339
Merged #9381. This will be released in `v6.4.4`

[2018-02-01 09:20] #9339 closed

[2018-02-01 09:35] ncoden commented on #9493
As this is a new feature (and could change the whole framework relation between Sass/JS breakpoints), I close this issue. It will be considered in Foundation 7.

[2018-02-01 09:35] #9493 closed

[2018-02-01 11:06] ncoden opened #10900 "Components reflow and lifecycle"
It seems that for a lot of Foundation components, `reflow` and `reInit` are not properly supported. I'm making here a list of the issues related to this problem.

* https://github.com/zurb/foundation-sites/issues/9829 Reinit magellan plugin after DOM update (@fchengpc)
* https://github.com/zurb/foundation-sites/issues/8333 Orbit not reinitializing (@olefredrik)
* https://github.com/zurb/foundation

[2018-02-01 13:49] mbellet opened #10901 "Responsive Accordion Tabs: .foundation('destroy') doesn't remove events handler attached to the window element"
I'm working with Responsive Accordion Tabs, if you initialize a element manually and after destroy the initialization with .foundation('destroy') and after that you initialize again the element you will have 2 event handlers attached to the window.
This will execute 2 functions that will cause malfunctions of the plugin.

I think that destroy method should remove the handlers that is attached from

[2018-02-01 16:35] rafibomb commented on #10623
We'll accept a Pull Request for this @onecreative . Do you think you can add that?

[2018-02-01 18:15] ncoden commented on #10901
Hi @mbellet. See https://github.com/zurb/foundation-sites/pull/10902. It should be released in `v6.4.4`.

[2018-02-01 18:43] colin-marshall commented on #10898
@tedivm this should be a pretty easy thing to fix. When the plugin initializes it retrieves the tooltip text from the `title` element and stores it. We need to have it update that value before the tooltip is shown, or add a reflow method that you would call on the element to update it in your JS after the DOM change.

[2018-02-01 21:26] colin-marshall commented on #10900
I think you can add #10898 to that list. Probably something we should make a goal for 6.5?

[2018-02-01 22:09] glennphilp opened #10904 "Missing configurations for xy-grid-container()"
#### Source
https://foundation.zurb.com/sites/docs/xy-grid.html#xy-grid-container

1. There are missing properties for the xy-grid-container mixin, like $padding.

[2018-02-01 22:43] brentdodell commented on #6060
@rafibomb I assume this functionality has never been added?

My use-case would be that we need to move our top nav into a right off-canvas for small & medium breakpoints, but once the browser is resized to a large breakpoint, the off-canvas should be closed because the top nav links are shown.

[2018-02-01 22:47] JeremyEnglert commented on #8818
@andycochran - in the spirit of closing out issues, I think we should revisit this idea for V7. This seems like an edge case.

[2018-02-01 22:47] #8818 closed

[2018-02-01 22:52] JeremyEnglert commented on #8816
Safari 9 is not supported in V6 anymore. This does not appear to be an issue in Safari 10.

[2018-02-01 22:52] #8816 closed

[2018-02-01 22:53] JeremyEnglert commented on #8814
Can you submit this with a CodePen example?

I'm going to close this. But I'm happy to reopen if you can add an example.

[2018-02-01 22:53] #8814 closed

[2018-02-01 22:55] JeremyEnglert commented on #8812
This seems like an edge case and the example above should fix it in these instances. Thanks @adnhack!

[2018-02-01 22:55] #8812 closed

[2018-02-01 22:59] JeremyEnglert commented on #8790
We'll consider this for V7. V6 is now in a feature lock.

[2018-02-01 22:59] #8790 closed

[2018-02-01 23:02] JeremyEnglert commented on #8782
I agree with the above fix. If this still does not work for you, let me know and I'll reopen the ticket.

[2018-02-01 23:02] #8782 closed

[2018-02-01 23:03] JeremyEnglert commented on #8771
This appears to have been resolved.

[2018-02-01 23:03] #8771 closed

[2018-02-01 23:05] JeremyEnglert commented on #8734
This will be considered for V7.

[2018-02-01 23:05] #8734 closed

[2018-02-01 23:06] JeremyEnglert commented on #8725
Looks like a PR was merged to fix this. Thanks @flyingL123!

[2018-02-01 23:06] #8725 closed

[2018-02-01 23:07] #8689 closed

[2018-02-01 23:08] JeremyEnglert commented on #8689
Closing this in favor of #9421.

[2018-02-01 23:11] JeremyEnglert commented on #8664
@colin-marshall - should this be closed, or is this important enough to address in V6?

[2018-02-01 23:17] JeremyEnglert commented on #8647
@phifa please let me know if the above does not fix your issue and i'll reopen this ticket.

[2018-02-01 23:17] #8647 closed

[2018-02-01 23:21] JeremyEnglert commented on #8638
@Owlbertz @ncoden - is this a bug or simply a point of confusion? If the latter, we can close.

[2018-02-01 23:23] JeremyEnglert commented on #8602
This seems like an edge case and not a framework bug. Closing out.

[2018-02-01 23:23] #8602 closed

[2018-02-01 23:24] JeremyEnglert commented on #8591
Closing. This appears to be fixed.

[2018-02-01 23:24] #8591 closed

[2018-02-01 23:28] JeremyEnglert commented on #9421
This is an interesting issue, as many other button and menu related issues reference it. But at this point in V6 - I'm assuming we aren't going to re-write the menus, right?

[2018-02-01 23:29] ncoden commented on #9421
@JeremyEnglert If we go for a SMACSS architecture, yes we will.

[2018-02-01 23:32] JeremyEnglert commented on #8552
We'll consider this for V7. Thanks!

[2018-02-01 23:32] #8552 closed

[2018-02-01 23:33] JeremyEnglert commented on #8540
Looks like this was fixed.

[2018-02-01 23:33] #8540 closed

[2018-02-01 23:51] JeremyEnglert commented on #10882
I think this is an extreme edge case. But let me see if I can point you in the right direction.

- You can query all posts and then load them into tabs (for example, 10 posts per tab). This will take a bit of PHP knowledge.
- You could use the WP API to query posts and then dynamically add them to tabs using JS.

Hope this gets you going in the right direction!

[2018-02-01 23:51] #10882 closed

[2018-02-02 00:05] colin-marshall commented on #9667
@liyaodong very sorry for the late response to your issue. We are moving on to Foundation 7, and there will be no more development or support for Foundation 5. I am closing this one out.

[2018-02-02 00:05] #9667 closed

[2018-02-02 00:08] rafibomb commented on #10793
Seems to work here: https://codepen.io/rafibomb/pen/mXeaZK

Is this specific to the RC version?

[2018-02-02 00:22] rafibomb commented on #10686
@proov that's awesome! https://github.com/zurb/foundation-sites/blob/develop/CONTRIBUTING.md

[2018-02-02 00:23] rafibomb commented on #10686
@grantcarthew glad to hear it, thanks!

[2018-02-02 00:33] garrett-eclipse commented on #9978
Sounds good, thanks @JeremyEnglert & @IamManchanda. I'll take a stab at this sometime this month

[2018-02-02 02:05] colin-marshall commented on #9663
@ncoden can you please revisit this issue when you have time? Thanks!

[2018-02-02 02:07] colin-marshall commented on #9657
I believe @jmp1548 took care of this with #9757, so I'm going to close this out.

[2018-02-02 02:07] #9657 closed

[2018-02-02 02:25] colin-marshall commented on #9641
@ncoden @IamManchanda is this worth keeping open?

[2018-02-02 02:27] colin-marshall commented on #9639
@ncoden is this something that could be done for 6.5?

[2018-02-02 02:30] colin-marshall commented on #9623
@IamManchanda any idea if this still applies?

[2018-02-02 03:02] colin-marshall commented on #9618
@ncoden @IamManchanda I think this might fall outside of the scope of F6 due to our feature freeze. Should we close it and Revisit for F7?

[2018-02-02 03:07] colin-marshall commented on #9614
@ncoden @IamManchanda what's the status here? Thanks!

[2018-02-02 03:09] colin-marshall commented on #9612
This is the direction we are looking to head in for F7. Closing this out.

[2018-02-02 03:09] #9612 closed

[2018-02-02 03:12] colin-marshall commented on #9608
@IamManchanda what's the status of this? Thanks.

[2018-02-02 03:26] colin-marshall commented on #9590
@IamManchanda closing this one out to possibly revisit in F7.

[2018-02-02 03:26] #9590 closed

[2018-02-02 03:29] colin-marshall commented on #9586
@IamManchanda good idea! Let's get this in 7!

[2018-02-02 03:29] #9586 closed

[2018-02-02 03:58] colin-marshall commented on #9576
@ncoden did #10784 close this out?

[2018-02-02 04:07] colin-marshall commented on #9466
@ncoden this one good to close?

[2018-02-02 04:12] colin-marshall commented on #9512
@ncoden are going to be able to get to this before F7?

[2018-02-02 04:13] colin-marshall commented on #9325
Paging @rafibomb

[2018-02-02 07:04] Owlbertz commented on #8638
For me it's a point of confusion that we should avoid in future releases, e.g. by introducing an option called slideInDirection or similar.

[2018-02-02 08:35] ncoden commented on #9641
It's a problem with Foundation Docs.

[2018-02-02 08:36] #9618 closed

[2018-02-02 08:38] ncoden commented on #9576
@colin-marshall If you means https://github.com/zurb/foundation-sites/pull/9665 and https://github.com/zurb/foundation-sites/pull/10874, yes.

[2018-02-02 08:38] #9576 closed

[2018-02-02 08:40] #9569 closed

[2018-02-02 08:41] ncoden commented on #9614
@colin-marshall I take care of it.

[2018-02-02 08:45] ncoden commented on #9639
Yes ;)

[2018-02-02 08:48] ncoden commented on #9512
@colin-marshall I'll try to ;)

[2018-02-02 09:17] EduardoAC commented on #8664
@kball @JeremyEnglert I am good to close it because this solution gave me at least consistent spacing.

However, I don't if the icons customization is relevant in the new version.

[2018-02-02 09:17] #8664 closed

[2018-02-02 09:34] RiZKiT commented on #10537
I have the same problem with a different setup, when I use `@import "foundation-sites/scss/settings/settings"`. I think `@import "util/util";` in that file should be `@import "../util/util";` regardless of the setup, because it is in another directory.

My current and [the suggested solution](https://github.com/zurb/foundation-sites/blob/develop/meteor-README.md#3-overwrite-foundation-settings) is

[2018-02-02 09:36] RiZKiT commented on #10541
If someone else stumbles upon this issue, take a look at this: https://github.com/zurb/foundation-sites/blob/develop/meteor-README.md#3-overwrite-foundation-settings

[2018-02-02 16:01] andycochran commented on #10226
I'm going to close this. But let's definitely consider all this input for v7.

[2018-02-02 16:01] #10226 closed

[2018-02-02 18:12] andycochran commented on #10223
Closing this. As kball mentions, it should be resolved with the new version(s). Please reopen if you're still experiencing this issue.

[2018-02-02 18:12] #10223 closed

[2018-02-02 18:23] andycochran commented on #10213
Tested this in BrowserStack `os=android&os_version=4.4&device=Samsung+Galaxy+Tab+4&device_browser=chrome` and Off-canvas and its links seem to work fine. Closing.

[2018-02-02 18:23] #10213 closed

[2018-02-02 18:31] andycochran commented on #10211
This is interesting. But it won't most designers would want a their layouts to print at a specified breakpoint, not one that is device-specific? Paper is typically a specific size (e.g. A4/Letter), not fluid like screen size. Perhaps in v7 we could consider some sort of printing module that is configurable.

[2018-02-02 18:31] #10211 closed

[2018-02-02 18:35] andycochran commented on #10208
Since we're not sure that this is a bug, I'm going to close this issue. But let's make sure to consider this for v7, making sure that the docs clearly explain what's best practice and what's required with aria values.

[2018-02-02 18:35] #10208 closed

[2018-02-02 18:38] andycochran commented on #10201
Let's consider this input for v7, making sure that our animations work for all supported browsers.

[2018-02-02 18:38] #10201 closed

[2018-02-02 18:41] andycochran commented on #10198
Absolute black buttons are an edge case. But you're right, the color change of the button background should be easily configurable. Let's make sure we do this right in v7.

[2018-02-02 18:41] #10198 closed

[2018-02-02 20:22] coreysyms commented on #9068
this is not fixed. just tested. I can push a PR something to fix it.

[2018-02-02 21:04] coreysyms commented on #9068
If someone would like to double check this, please do.

[2018-02-02 21:29] oxyc commented on #10198
Fix would be to use `smart-scale()` rather than `scale-color()` directly.

[2018-02-02 21:33] andycochran commented on #10178
Is this still an issue in 6.4.3?

[2018-02-02 21:37] andycochran commented on #10176
Is this still an issue in 6.4.3?

[2018-02-02 22:07] ncoden commented on #10190
Closing this in favor of https://github.com/zurb/foundation-sites/issues/10190

Also @airtonix, I fully agree with you about semver. I pushed in this direction one year ago in https://github.com/zurb/foundation-sites/issues/9576, and we are now taking care of the changes we are releasing in patch versions.

There is two versions planned for now:
`v6.4.4` should contains only non-breaking bug fixes

[2018-02-02 22:07] #10190 closed

[2018-02-02 22:09] ncoden commented on #9512
I don't know the stack behind the docs site and how it is updated, but I think that keeping a list somewhere of the git references (commit/branch/tag) to clone & install (in their own folder) would not be a bad idea.

[2018-02-02 22:57] #9466 closed

[2018-02-02 23:05] andycochran commented on #10170
Are you still seeing this in version 6.4.3?

[2018-02-02 23:19] andycochran commented on #10169
Can anyone confirm if this is still an issue in 6.4.3?

[2018-02-02 23:22] andycochran commented on #10162
Closing. Not a bug.

[2018-02-02 23:22] #10162 closed

[2018-02-02 23:37] andycochran commented on #10154
Looks like the docs now contain `foundation.util.box.js`. 🎉

[2018-02-02 23:37] #10154 closed

[2018-02-02 23:43] andycochran commented on #10148
@garrett-eclipse Could you create a pull request with your patch? It'd be great to get this into the next release.

[2018-02-02 23:46] andycochran commented on #10147
Looks like the docs now mention this. 🎉

[2018-02-02 23:46] #10147 closed

[2018-02-02 23:47] garrett-eclipse commented on #10148
@andycochran I'll take a stab this month while I tackle a few other F7 items on my list. You can assign this to me

[2018-02-03 00:59] colin-marshall commented on #9434
Closing this one out since it sort of falls out of the scope of our support. Also, we're not using bower anymore so I'm not sure if it still applies.

[2018-02-03 00:59] andycochran commented on #10155
We should close this issue by correctly camelCasing all the events, and duplicate the incorrectly cased events so that they log a console message that the event name has been changed. Let's get this in 6.5. /ht @colin-marshall for the fix

[2018-02-03 01:00] #9434 closed

[2018-02-03 01:41] andycochran commented on #10143
Do we support this version of iOS Safari?

[2018-02-03 05:58] #9504 closed

[2018-02-03 06:07] colin-marshall commented on #9492
@ncoden is this something we should get to by 6.5? @kball's solution to just have all the settings commented out seems simple enough.

[2018-02-03 06:09] colin-marshall commented on #9455
Closing this out since there was no response from @michaelBenin. Feel free to reopen if it's still of concern.

[2018-02-03 06:09] #9455 closed

[2018-02-03 06:22] colin-marshall commented on #9409
@lspoor is this still an issue?

[2018-02-03 06:26] colin-marshall commented on #9404
@kball @DaSchTour @IamManchanda was this addressed in #9438? Thanks.

[2018-02-03 06:28] #9378 closed

[2018-02-03 10:02] jomesili commented on #10826
Using npm dedupe solved this issue for me

[2018-02-03 13:12] lspoor commented on #9409
No idea tbh, I use the CLI whenever I'm using Sites now and don't recall any issues with the current version(s)

[2018-02-03 13:12] #9409 closed

[2018-02-03 17:53] colin-marshall commented on #9409
Thanks for responding!

[2018-02-03 18:29] colin-marshall commented on #9160
Related issue on cli repo: https://github.com/zurb/foundation-cli/issues/41

[2018-02-03 18:43] colin-marshall commented on #9160
@IngoVals @alen12345 sorry for the late response! Can you please confirm this is still an issue? Please provide your current Node version, npm version, and OS version as you previously did.

Also, if the issue is still present, please run `npm install -g npm@next` and see if that resolves the issue. Thank you!

[2018-02-03 18:48] colin-marshall commented on #10634
We're not adding features to F6, but this seems like a fairly simple request that could possibly accommodated in F6.

@ncoden @brettsmason @JeremyEnglert thoughts?

[2018-02-03 18:50] colin-marshall commented on #10389
@rafibomb was this taken care of? Or does it really matter at this point with the changes ahead?

[2018-02-03 21:41] #9492 closed

[2018-02-03 22:00] amclin commented on #10389
This was fixed, but now the Foundation 4.3 docs are completely broken. Stylesheets and Javascript aren't loading:
https://foundation.zurb.com/sites/docs/v/4.3.2/components/visibility.html

[2018-02-03 22:01] JeremyEnglert commented on #10634
If the original poster can send in a PR, I can see it being useful.

But it also brings up the question: should all components have a similar event? It could lead us down a path of (even more) inconsistency.

Also, beyond the case listed above, are there many instances where this event would be useful?

[2018-02-03 22:03] isapir commented on #10634
@JeremyEnglert I can submit a PR

[2018-02-03 22:20] colin-marshall commented on #10634
@JeremyEnglert yes all components should probably have a similar event. We already need to fix inconsistency in event casing, as described in #10155. These could both be addressed in a cleanup of events for 6.5.

[2018-02-03 23:03] #10901 closed

[2018-02-03 23:07] #8366 closed

[2018-02-03 23:11] kball commented on #10781
This seems like it should be relatively straightforward to solve. @DanielRuf do you want to take a pass at a PR?

[2018-02-03 23:18] kball commented on #10892
I think the fix is not correct, because the use case here is not quite right - toggler as designed is supposed to listen for the toggle event and simply toggle a class. Calling it without a class as an argument should not be valid!

However, I *do* think it should accept that class as an option and not only as a data attribute, which would allow us to wrap it up more nicely in a vue directive

[2018-02-03 23:19] colin-marshall commented on #10389
@amclin I don't think the redirects were actually fixed:
http://foundation.zurb.com/docs/v/4.3.2/components/forms.html

And ya that is not good that the docs aren't showing stylesheets/JS.

[2018-02-03 23:38] kball commented on #10700
I think this is a legitimate bug... we have 2 explicit cases for block grid with margin & not, but conceptually, don't see any reason why we shouldn't support a block grid with neither margin nor padding.

[2018-02-04 14:28] MehryarS opened #10909 "how can I find when form is valid?"
I want to find when a form is valid, run a function as a callback (like going to next page or something like this).
Is there any function to return true or false for validation form?

[2018-02-04 16:41] Deckluhm commented on #10909
This is what you are looking for: https://foundation.zurb.com/sites/docs/abide.html#event-listener

[2018-02-04 19:38] bonovski opened #10910 "Couldn't find preset "es2015" relative to directory"
I get an error compiling foundation-sites with gulp with the babel-preset-env.
It worked fine with the babel-preset-es2015 before:

The complete error:

[code]

All other packages compile fine, though.

[2018-02-04 23:12] ncoden commented on #10910
Hi @bonovski

This should be resolved by https://github.com/zurb/foundation-sites/issues/10910: we should now export Foundation as transpiled UMD modules instead of ESM modules.

See also https://github.com/zurb/foundation-sites/pull/10903 and https://github.com/zurb/foundation-sites/pull/10911.

I'm closing this for now. Please reopen if it is not resolved in the next release.

[2018-02-04 23:12] #10910 closed

[2018-02-04 23:15] ncoden commented on #10909
Thanks @Deckluhm

[2018-02-04 23:15] #10909 closed

[2018-02-04 23:16] #10904 closed

[2018-02-05 09:55] DanielRuf opened #10912 "adding own event listeners on drilldown parent links does not work"
It seems all events are removed and prevented except the foundation events.
Might be useful to have the parent link feature also there instead of making the parent link accessible on the next view.

[2018-02-05 10:18] bonovski commented on #10910
Hi, thanks for the links but that is not the solution with gulp.
I figured it out after some trial and error.

**You have to change the preset in "node_modules/foundation-sites/package.json" from _es2015_ to _env_.**

Hope that helps people with similar problems.

[2018-02-05 13:30] GildedHonour opened #10913 "Uncaught TypeError: e.indexOf is not a function -- jquery 3.3.x"
In the ecommerce template there's an error when using jquery 3x:

![screenshot_2018-02-04_17-39-34](https://user-images.githubusercontent.com/2032888/35806809-be7aa3be-0abb-11e8-9a35-f445b35dea06.png)

[2018-02-05 16:48] onecreative commented on #10623
@rafibomb Kind of embarrassing, but I haven't submitted a pull request before. I'd love to contribute, but I'll need guidance the first time.

[2018-02-05 17:46] colin-marshall commented on #10913
Related to #10886.

[2018-02-05 20:52] andycochran commented on #10132
Let's revisit this for v7.

[2018-02-05 20:52] #10132 closed

[2018-02-05 20:55] andycochran commented on #10113
Was this addressed in the [move to webpack](https://github.com/zurb/foundation-sites/pull/9965) and v6.4? Please reopen if this is still an issue.

[2018-02-05 20:55] #10113 closed

[2018-02-05 20:57] andycochran commented on #10111
@IamManchanda, is this something you still wanna work on?

[2018-02-05 20:59] andycochran commented on #10108
@kball, is this something you still want to work on for v6? Or should we revisit this for v7?

[2018-02-05 21:19] andycochran commented on #10076
I can't replicate this either. Going to close this for now. Please reopen if you can provide more detail as to how we can replicate this.

[2018-02-05 21:19] #10076 closed

[2018-02-05 21:27] andycochran commented on #10066
This seems like an edge case. I'm not sure I'd recommend mixing labels that have `for` parameters with Tooltips. We should not change the default behavior of the label, which in this case is to change the checkbox value. I would recommend a different UI, perhaps an ℹ️ icon following the label which triggers the Tooltip.

[2018-02-05 21:27] #10066 closed

[2018-02-05 21:31] andycochran commented on #10040
Closing, as this was addressed in the doc repo.

[2018-02-05 21:31] #10040 closed

[2018-02-05 21:38] andycochran commented on #10025
@IamManchanda Is this issue still relevant? Looks like 1 and 3 have been resolved. And 2 is handled in a separate repo. Are you using this issue just to round up the three other issues? Can we close this?

[2018-02-05 21:44] andycochran commented on #10015
This isn't a valid map. The first value must be 0 and each following value should increase in size. This should work if you remove `small` and `medium`.

[2018-02-05 21:44] #10015 closed

[2018-02-05 21:48] andycochran commented on #10008
Let's revisit this for v7.

[2018-02-05 21:48] #10008 closed

[2018-02-05 21:56] andycochran commented on #10005
Is anyone able to reproduce this in a codepen?

[2018-02-05 21:57] IamManchanda commented on #10025
sure @andycochran

[2018-02-05 21:57] #10025 closed

[2018-02-05 22:16] Aetles commented on #10005
I remember having lots of trouble with this last year (and ultimately using jquery-match-height above instead). But now when I look [at the example](http://dcwork.designchief.ie/tests/equalizer-test-01.html) designchief posted I can't reproduce it in Safari anymore (not in High Sierra nor in El Capitan). Maybe this was a Safari bug that got fixed?

[2018-02-06 09:00] ncoden opened #10916 "[OffCanvas]: RegExpEscape is undefined"
As reported by @abdullahsalem, `RegExpEscape` is `undefined` in OffCanvas when using plugin entries like the documentation (instead of using the main bundle `foundation.js`).

[code]

This is caused by `RegExpEscape` not being exported as a webpack external in the`javascript:plugins` gulp task.

[2018-02-06 09:52] DanielRuf opened #10918 "Support more or all properties in $header-styles"
So far $header-styles only uses 'font-size', 'line-height', 'margin-top' and 'margin-bottom'.

It makes probably sense to support more or all properties to prevent duplicate declaration of header styles in more scss files which are not supported [here](
https://github.com/zurb/foundation-sites/blob/develop/scss/typography/_base.scss#L320-L360)

https://github.com/zurb/foundation-sites/blob/develop

[2018-02-06 10:10] vincentvermeer opened #10919 "drilldown doesn't show all submenu-LIs on iPad"
#### How to reproduce this bug:
[code]

#### What should happen:
When i click on a navigation point with subnavigation in the drilldown menu, i want to see the back button and ALL subnavigation points

#### What happened instead:
The first navigation is shown correct, but when i click on a navigation point with children, i see only a few or no subnavigation points (only the "back"-button) on an iP

[2018-02-06 10:46] DanielRuf opened #10920 "udocumented click.zf.drilldown"
It seems there is `click.zf.drilldown` internally used but not documented.

Can this be listened on using jQuery or is it just internal?

[2018-02-06 15:14] fleps commented on #7865
Hey guys

I know this is old but I have a similar issue and can't understand how to fix it.

Basically I have a side navigation that will stick to the top as soon as the header disappears, and this works fine.

The problem is that over time the navigation got more and more items and now when I'm on a laptop screen the height of the navigation is bigger than the viewport, so what happens is that it

[2018-02-06 15:24] ncoden opened #10922 "[Tooltip] Allow to display tooltip by default"
Feature request: Allow to display a tooltip without any interactions required, with all interactions ignored.

This could be controlled with a new `data-show` option like in the following example:
[code]

The above tooltip would:
* be visible by default on medium+ breakpoints
* ignore hover events

[2018-02-06 15:28] ncoden commented on #10918
See https://github.com/zurb/foundation-sites/issues/9483 and https://github.com/zurb/foundation-sites/pull/9500.

There was a lot of discussions about the subject, and I don't remember end up agreeing on something. The main problem is that `$header-styles` is a tool to help to quickly create header styles. With too many options or supported properties, it became easier to advise people to create t

[2018-02-06 18:05] kball commented on #10108
This was actually included in 6.4. This has been fixed

[2018-02-06 18:05] #10108 closed

[2018-02-06 20:19] fleps opened #10923 "[Sticky] Cannot change data option after init"
Hello guys

I've being searching a lot about this on the issues and tried many things (and also saw many bugs on sticky that are still open) and cannot figure out.

I have a side nav that is sticky to te top when I open the page that is initialized with [data-sticky] way and some data options, and it works fine.

The issue is that the side nav have many items and on laptops it will be longer than

[2018-02-06 20:22] ncoden commented on #10923
Part of https://github.com/zurb/foundation-sites/issues/10900

[2018-02-06 21:02] fleps commented on #10923
To add more information, I was able to change from top to bottom like this:

`$('#main-nav-wrapper').foundation('destroy')
    .data('stickTo', 'bottom')
    .attr('data-sticky','')
    .foundation()
    .foundation('_calc', true)
;`

But not only this looks odd and ugly, when for example nav.height() < viewport.height() and I trie to restore to stickTo = top, it will ignore the "anchor" and will

[2018-02-06 21:50] #9334 closed

[2018-02-06 22:13] Owlbertz commented on #9306
So address this (better later than never), I created an [updated pen](https://codepen.io/Owlbertz/pen/MQjVmK).
However, please note that setting background via CSS is not part of Foundation's responsibilites as we can only work with values inside SCSS.
What is indeed one of the frameworks responsibilities is to ensure readable and thus accessible default values. What's also in scope is a proper wa

[2018-02-06 22:31] ncoden commented on #9306
I agree with @Owlbertz. We can only control the design and accessibility of the components we generated ourselves. If a component design is changed in CSS, we can only expect the developer to also take care of the hover/active/disabled states design and accessibility by himself.

About the text color of a disabled button, I would like to add 2 things:
* Having the text color of a disabled button m

[2018-02-06 23:02] phifa commented on #10430
@IamManchanda how are we doing with the BEM plans? will this be for v7?

[2018-02-06 23:09] JeremyEnglert commented on #10430
Closing this issue out. We can reopen for discussion in V7.

[2018-02-06 23:09] #10430 closed

[2018-02-06 23:11] JeremyEnglert commented on #10566
Unfortunately support for V5 has been dropped. However, if you find a workaround, please post for future reference.

[2018-02-06 23:11] #10566 closed

[2018-02-07 02:14] cannanso commented on #10643
Why is this still in the doc?
https://foundation.zurb.com/sites/docs/xy-grid.html#responsive-grids

[2018-02-07 07:39] bitbruder opened #10924 "Orbit "White Flash" Visual Bug in Firefox 58"
#### How to reproduce this bug:

1. Open the Orbit Docs in Firefox 58
2. Scroll to the example
3. Click the Arrows, see the "white flash"

#### What should happen:

There should be a seamless animation between the images.

#### What happened instead:

There is a white flicker / flash between the animations. Its also happening with the HTML Content Examples. Its not a Image only problem.

#### Brow

[2018-02-07 07:58] guci0 commented on #10643
to remember I think so... Big update is coming?

[2018-02-07 09:33] ncoden commented on #10643
@cannanso The doc is not up to date with master. We'll correct that soon.

[2018-02-07 09:41] reestyle-it commented on #7899
I also found a work-around for the problem. There is a property in the `.data('zfPlugin')` called `.bottomPoint`. This sets the lower point to where it may scroll. I'm using jQuery ($) as tool of preference.

[code]

There is no need to re-initialize anything. Feel free to shoot me for this solution being hackish, but it worked for me.

_A note: Using `height()` may not take margins or padding int

[2018-02-07 19:50] ncoden commented on #10920
`click.zf.drilldown` is not triggered by Foundation. This is a jQuery `click` event on the drilldrown element that we listen using the `zf.drilldown` namespace to clear it when the drilldown is destroyed. So there is no reason to document it.

[2018-02-07 19:50] #10920 closed

[2018-02-07 20:14] DanielRuf commented on #10920
Ah ok, so this is a completely internal event.

So far we have to add custom elements to catch click events and prevent bubbling. Because splitting the next button and link does not work as the href is removed.

[2018-02-07 20:30] Owlbertz commented on #9306
Maybe we should move away from the opacity solution in general, as this has side effects with the background color. Imo we could easily mimic the current design using SASS functions (is there a way to reduce saturation or do similar color manipulation while keeping the initial base color?) and avoid opacity to indicate the disabled state.

[2018-02-07 20:33] ncoden commented on #9306
Yes, and it's what I expect. To be less visible, so darker on a dark background and lighter on a light background.

[2018-02-07 20:35] Owlbertz commented on #8810
@mparker11 @michaelwayneharris87 I am currently digging through the accessibility issues of Foundation and would like to ask you if the behavior you reported as broken still exists in the latest version?

[2018-02-07 20:51] DanielRuf commented on #10913
No, this is not directly related.

[2018-02-07 20:51] DanielRuf commented on #10913
[code]

[2018-02-07 20:52] DanielRuf commented on #10913
[code]

[2018-02-07 20:54] folamola commented on #7648
Hi, try this instead of Magellan.

http://jsfiddle.net/dizel3d/1eamwt4e/

[2018-02-07 20:54] DanielRuf commented on #10913
https://stackoverflow.com/a/40252711/753676

[2018-02-07 20:55] DanielRuf commented on #10913
This was already fixed: https://github.com/zurb/foundation-sites/pull/10729

[2018-02-07 20:59] DanielRuf commented on #10913
Foundation 6.0.0: https://codepen.io/DanielRuf/full/gvLoJr/

[2018-02-07 21:02] DanielRuf commented on #10913
Foundation 6.4.3: https://codepen.io/DanielRuf/pen/BYQYBp

[2018-02-07 21:13] Owlbertz commented on #9306
Ok, but disabled !== less visible.

[2018-02-07 21:15] ncoden commented on #9306
Yes, but this is according to me the best way to indicate "no interactivity".

[2018-02-07 21:22] ncoden commented on #10913
@

[2018-02-07 21:22] #10913 closed

[2018-02-07 21:34] ncoden commented on #10919
Hi @vincentvermeer. I don't understand the problem. Could you provide screenshots or a codepen ?

[2018-02-07 22:14] ncoden commented on #9495
Update ! I made some research and I think that the best solution would be to detect the user-agent and disable `select[multiple]` specific styles on mobile.

We can use a library (like https://github.com/mckamey/cssuseragent, but that would add an external dependency) or implement our own "mini-detector".

[2018-02-07 22:32] Owlbertz commented on #9306
Ok, maybe we can get some more opinions involved.

[2018-02-07 23:22] mparker11 commented on #8810
Thanks for checking back in. The project I was working on is out of my jurisdiction now, and I'm not doing anything with accessible drop-downs at the moment.

[2018-02-07 23:25] ncoden commented on #8810
@Owlbertz I worked a bit with screen readers for Abide accessibiity. I can take care of this issue if you want.

[2018-02-08 01:17] kball commented on #10898
I ran into this issue as well. @colin-marshall your proposed fix sounds good to me.

A hacky workaround (this uses internals, shouldn't be counted on to keep working over time): Assuming `el` is the element you want to update the title for, you can force the tooltip to change by adding an additional line of code:

[code]

[2018-02-08 07:26] vincentvermeer commented on #10919
Page on a (small) desktop:
![desktop](https://user-images.githubusercontent.com/3296055/35960235-367558fc-0ca9-11e8-9bd1-2c1594632dac.jpg)

The same page on Desktop (with chrome device toolbar 'ipad') OR on native iPad:
![ipad](https://user-images.githubusercontent.com/3296055/35960268-58c45ee4-0ca9-11e8-8544-37acff2972db.jpg)

The subnavigation points are there, but they aren't shown.
I think bec

[2018-02-08 14:32] eXist73 commented on #8822
This seems to still be an issue in foundation.

[2018-02-08 20:23] colin-marshall commented on #9306
I am no accessibility expert, so take what I say with a grain of a salt.

I personally think the combination of a 0.5 opacity with `cursor: not-allowed` gets the point across. I do see how it is kind of difficult to read due to contrast issues. What if we made it so that on hover, the disabled buttons go to a higher opacity? You still have the not-allowed cursor to let you know it's disabled. Or d

[2018-02-08 20:25] ncoden commented on #9306
I think it does yes.

[2018-02-08 22:28] #10916 closed

[2018-02-09 13:11] gaialabs commented on #10924
Discovered that bug too. Published a post in the Foundation forum, no answer. But the video I made is here :-) It fails since version 58.0b3 of Firefox. The bug is still there with version 59b3, but a bit "less" visible.

[2018-02-09 15:40] scottshuffler commented on #10353
Same issue as @udf2457

[2018-02-09 21:43] #9641 closed

[2018-02-09 22:44] ncoden commented on #10353
@scottshuffler @udf2457 @Moonbase59 I updated the docs. See https://github.com/zurb/foundation-sites/pull/10925.

Does it solves your problem ? Is the docs clear enough now ?

[2018-02-10 01:24] JeremyEnglert commented on #10005
Closing this out as it does not appear to be 100% Foundation specific (and we're trying to clean up some of these older tickets). Feel free to carry on the discussion.

[2018-02-10 01:24] #10005 closed

[2018-02-10 01:31] #9996 closed

[2018-02-10 01:36] JeremyEnglert commented on #10001
Confirming this is still an issue with 6.4.3.

[2018-02-10 01:38] JeremyEnglert commented on #9993
This appears to be working fine in your pen: https://codepen.io/rlhawk1/full/ybgbyV/

Closing.

[2018-02-10 01:38] #9993 closed

[2018-02-10 01:41] JeremyEnglert commented on #9991
https://foundation.zurb.com/sites/docs/off-canvas.html#combining-with-title-bar

The title bar is more of an add-on components in F6. So it's treated as such in the docs.

We'll be better about this in F7.

[2018-02-10 01:41] #9991 closed

[2018-02-10 01:43] JeremyEnglert commented on #9986
A cell can also be made to shrink, by adding the .shrink or .[size]-shrink class. This means it will only take up the space its contents need.

https://foundation.zurb.com/sites/docs/xy-grid.html#auto-sizing

[2018-02-10 01:43] #9986 closed

[2018-02-10 01:45] JeremyEnglert commented on #9970
Can you clarify what you're trying to do?

Please reopen if this is still an issue.

[2018-02-10 01:45] #9970 closed

[2018-02-10 01:49] JeremyEnglert commented on #9957
This is something that will be a lot more consistent and improved in F7. However, I can't see this being added to F6. Closing and labeling this to reopen for F7 discussion.

[2018-02-10 01:49] #9957 closed

[2018-02-10 01:51] JeremyEnglert commented on #9940
Lets discuss this for F7.

[2018-02-10 01:51] #9940 closed

[2018-02-10 01:54] JeremyEnglert commented on #9922
We'll discuss this for F7.

[2018-02-10 01:54] #9922 closed

[2018-02-10 01:54] JeremyEnglert commented on #9920
Can you provide a CodePen example with what you're trying to do? i'll be happy to reopen this ticket.

[2018-02-10 01:54] #9920 closed

[2018-02-10 01:55] JeremyEnglert commented on #9914
Looks like the fix for this was merged. Closing.

[2018-02-10 01:55] #9914 closed

[2018-02-10 01:58] JeremyEnglert commented on #9910
Looks like a fix for this was merged.

[2018-02-10 01:58] #9910 closed

[2018-02-10 02:00] JeremyEnglert commented on #9905
Looks like this has been fixed. Closing.

[2018-02-10 02:00] #9905 closed

[2018-02-10 02:01] JeremyEnglert commented on #9902
We'll look into ways to natively support this in F7.

[2018-02-10 02:01] #9902 closed

[2018-02-10 02:03] JeremyEnglert commented on #9889
Marking this as a feature request for F7.

[2018-02-10 02:03] #9889 closed

[2018-02-10 02:07] JeremyEnglert commented on #9886
Looks like an answer was provided for this. Closing.

[2018-02-10 02:07] #9886 closed

[2018-02-10 02:08] JeremyEnglert commented on #9884
Looks like this was fixed in 6.3.1. Please reopen if this is now the case.

[2018-02-10 02:08] #9884 closed

[2018-02-10 02:09] JeremyEnglert commented on #9883
Sounds like this wasn't a bug. @adrianwhite, feel free to submit a docs update if you think it's worthwhile (we'd love it!).

[2018-02-10 02:09] #9883 closed

[2018-02-10 02:11] JeremyEnglert commented on #9873
Closing this as a test case was not provided.

[2018-02-10 02:11] #9873 closed

[2018-02-10 02:14] JeremyEnglert commented on #9872
This is working in 6.4.3. Testing on iPhone X using Browerstack.

Closing.

[2018-02-10 02:14] #9872 closed

[2018-02-10 02:16] JeremyEnglert commented on #9869
This is working right in 6.4.3.

https://codepen.io/MateriellJeremy/pen/XZMEXQ

[2018-02-10 02:16] #9869 closed

[2018-02-10 02:18] JeremyEnglert commented on #9867
Adding as a Feature Request.

[2018-02-10 02:18] #9867 closed

[2018-02-10 02:20] #9861 closed

[2018-02-10 02:21] JeremyEnglert commented on #9860
Agree with @Deckluhm. Please provide more details and I'll reopen this issue.

[2018-02-10 02:21] #9860 closed

[2018-02-10 02:23] JeremyEnglert commented on #9856
No test case provided. Closing.

[2018-02-10 02:23] #9856 closed

[2018-02-10 02:24] JeremyEnglert commented on #9855
No response after 6+ months. Closing.

[2018-02-10 02:24] #9855 closed

[2018-02-10 02:34] JeremyEnglert commented on #9847
This is still an issue with 6.4.3.

[2018-02-10 02:35] JeremyEnglert commented on #9844
Can you provide a CodePen link? This makes it much easier to test/fix.

Closing. Will reopen if a CodePen link is provided.

[2018-02-10 02:35] #9844 closed

[2018-02-10 02:38] JeremyEnglert commented on #9830
Looks like this was fixed. Closing.

[2018-02-10 02:38] #9830 closed

[2018-02-10 09:50] DanielRuf commented on #10924
Summoning @hiikezoe

[2018-02-10 09:57] DanielRuf commented on #10924
cross referencencing https://bugzilla.mozilla.org/show_bug.cgi?id=1437272

[2018-02-10 10:00] DanielRuf commented on #10924
For other testers, try mozregression https://github.com/mozilla/mozregression/releases

[2018-02-10 20:11] #7802 closed

[2018-02-10 21:01] ncoden commented on #10891
Hi @skotlinski1. I finally had enough time to investigate your issue. At first, thank you for the CodePen you provided. It help us _a lot_ to test everything and understand what's wrong. 👍

All the bugs you found comes from two little mistakes: we forgot to reset `flex-shrink`, `flex-grow` and `flex-basis` it some responsive modifiers of the XY grids. So "it works" when you re-apply "xy-cell-base"

[2018-02-10 21:41] udf2457 opened #10926 "Enhancement: Interchange plugin and SVG ..."
You know what would be really cool.....

If Interchange would automagically use SVG where supported (and img available) and png/jpg where not....

[2018-02-10 21:57] ncoden commented on #10926
Hi @udf2457. This is a great idea. Unfortunally, we began to work on F7 and froze new complex features implementation for F6. So I'm closing this issue, and we will consider it in F7.

[2018-02-10 21:57] #10926 closed

[2018-02-10 22:00] ncoden commented on #10891
@skotlinski1 See https://github.com/zurb/foundation-sites/pull/10927.

Does it solves your issue ?

[2018-02-11 00:01] DanielRuf commented on #10924
Can anyone confirm that this still happens in Firefox 59 and 60? https://bugzilla.mozilla.org/show_bug.cgi?id=1425213#c26

[2018-02-11 01:33] ncoden commented on #10924
This is still present in Firefox Nightly 60.0a1 (2018-02-09)

[2018-02-11 03:39] JeremyEnglert commented on #10607
Can you provide more details on what you're trying to achieve and provide a test link? I'll be happy to reopen this ticket.

[2018-02-11 03:39] #10607 closed

[2018-02-11 03:40] JeremyEnglert commented on #10604
A fix was submitted for this. Closing.

[2018-02-11 03:40] #10604 closed

[2018-02-11 03:41] #10596 closed

[2018-02-11 03:42] #10595 closed

[2018-02-11 03:56] JeremyEnglert commented on #10560
I think this needs to be handled on a case by case basis. The exact side of the margin will depend on how large the icon is. We'll think of better ways to implement this in F7.

[2018-02-11 03:56] #10560 closed

[2018-02-11 03:56] JeremyEnglert commented on #10557
Thanks @mattbag! Closing.

[2018-02-11 03:56] #10557 closed

[2018-02-11 03:57] JeremyEnglert commented on #10548
@mandimey - would you like to submit a Pull Request to fix this?

[2018-02-11 04:01] JeremyEnglert commented on #10542
We'll consider this for F7.

Check out the Sass version. You can easily adjust these.

[2018-02-11 04:01] #10542 closed

[2018-02-11 04:01] #10539 closed

[2018-02-11 04:04] JeremyEnglert commented on #10532
@johnylaravel, can you provide a new test link and an explanation of what you're trying to do?

[2018-02-11 04:04] #10530 closed

[2018-02-11 04:09] JeremyEnglert commented on #10520
This was solved in the JointsWP repo. You have to load the responsive accordion tabs after the other JS files.

https://github.com/JeremyEnglert/JointsWP/issues/273

[2018-02-11 04:09] #10520 closed

[2018-02-11 04:10] JeremyEnglert commented on #10516
https://github.com/zurb/foundation-sites/pull/10925

Closing.

[2018-02-11 04:10] #10516 closed

[2018-02-11 04:12] #10496 closed

[2018-02-11 04:18] JeremyEnglert commented on #10481
We're always happy to accept PR's to improve the docs. In F7 the docs will be vastly improved.

https://foundation.zurb.com/sites/docs/responsive-navigation.html#responsive-menu

This could be improved. Would make for a great first pull request! ;)

I believe those classes are added via JS when the page loads, so they are not needed in the markup.

[2018-02-11 04:18] #10481 closed

[2018-02-11 04:23] JeremyEnglert commented on #10455
No response. Closing.

[2018-02-11 04:23] #10455 closed

[2018-02-11 10:49] DanielRuf commented on #10924
New binaries at https://bugzilla.mozilla.org/show_bug.cgi?id=1437272#c8

At least transitions are often used and the behavior before Firefox 58 was totally ok.

Not sure why the change was done.

[2018-02-11 19:40] DanielRuf commented on #10886
I have a reproducible test case:
https://github.com/jquery/jquery/issues/3955#issuecomment-364768805

reproducible testcase:
https://github.com/DanielRuf/mocha-jquery-test

try it with `npm install && npm run test`
then `npm install jquery@3.2.1 && npm run test`

Ok, here are my test results:

`$html = $('<form data-abide novalidate></form>').appendTo('body');`

The issue starts at the `append` an

[2018-02-12 02:44] mzunigau commented on #10826
not working:
Unistalling / reinstalling
installing node-sass , gulp-sass
npm dedupe
reinstalling nodejs
so sad, i think i'm gonna quit foundation cli...

[2018-02-12 06:54] ncoden commented on #10826
@mzunigau This is not a problem with Foundation CLI.

Can you try deleting the global `foundation-cli` folder ? Use `npm ls -gl foundation-cli` to find where it is installed.
[code]

[2018-02-12 13:31] phifa opened #10931 "Mixin XY Grid - How to create simple semantic Grid with margin-x / gutter?"
This is what I write regularly:
[code]

How can I achieve this semantically?
When I do this, `margin-x` seems to be missing:

[code]

[2018-02-12 13:45] brettsmason commented on #10931
@phifa You just need to add `@include xy-gutter($negative: true)` to the `.news__wrapper` and that should add the correct negative margins to the grid element. That was a bit of an oversight when creating the mixins for the grid.

[2018-02-12 14:10] phifa commented on #10931
@brettsmason nice! Thank you, and when I want to add margin-y? I tried doing this, but no success:

[code]

[2018-02-12 15:19] brettsmason commented on #10931
@phifa Do you mean as well as `margin-x` or instead of?
If you could explain the desired result I might be able to help a bit more.

[2018-02-12 15:25] phifa commented on #10931
Yeah I need additional margin-y in my current case, like so:

[code]

[2018-02-12 15:34] brettsmason commented on #10931
So you want a margin on top and bottom too?
In that case I'd probably write it something like this:

[code]
That's assuming you want the margin on the `.news__wrapper` rather than the cell. If you wanted the top and bottom margin on each cell, then you can use the `$gutter-position` arguement on the [`xy-cell` mixin too].(https://github.com/zurb/foundation-sites/blob/develop/scss/xy-grid/_cell.scs

[2018-02-12 16:04] phifa commented on #10931
ah ok, i will try this. weird, i hard trouble understanding the docs here.

[2018-02-12 18:31] JeremyEnglert commented on #10918
Closing this as it is a duplicate of an existing ticket.

I think this is something we should definitely discuss for F7.

[2018-02-12 18:31] #10918 closed

[2018-02-12 18:40] DanielRuf commented on #10918
Right. I'll subscribe to the other two issues.

[2018-02-12 20:37] scottshuffler commented on #10353
@ncoden LGTM

[2018-02-12 20:58] #10353 closed

[2018-02-12 23:48] colin-marshall commented on #9424
@ncoden please check the status of this when you have a minute. Thanks.

[2018-02-12 23:50] colin-marshall commented on #9370
@simshaun is this still an issue?

[2018-02-12 23:51] colin-marshall commented on #9343
@simshaun do you know if this was corrected in later versions? Thanks.

[2018-02-12 23:52] ncoden commented on #9424
hmmm this may be resolved by https://github.com/zurb/foundation-sites/pull/10907

[2018-02-12 23:54] colin-marshall commented on #9326
@paxperscientiam closing this feature request out to be revisited in F7. Sounds like it would be a nice addition!

[2018-02-12 23:54] #9326 closed

[2018-02-12 23:57] colin-marshall commented on #9320
@coreysyms can you please review the status of this issue when you have a moment? Thanks!

[2018-02-12 23:58] ncoden commented on #9370
@colin-marshall  I think it would be faster to figure it out by ourselves than to wait a reply on an issue from 18 months ago ;)

[2018-02-12 23:59] colin-marshall commented on #9370
Haha true. I was going to come back to this one if I didn't hear from him in a day or two.

[2018-02-13 00:00] ncoden commented on #9370
The example seems to works perfectly btw. @simshaun please reopen if I'm wrong.

[2018-02-13 00:00] #9370 closed

[2018-02-13 00:03] colin-marshall commented on #9297
Closing this out. @jripmeester @beldougie feel free to reopen if this is still an issue.

[2018-02-13 00:03] #9297 closed

[2018-02-13 00:04] simshaun commented on #9370
Working fine now.

[2018-02-13 00:07] colin-marshall commented on #9281
Closing this out since we don't use browserify, there is no reason to add babelify to our `package.json`.

[2018-02-13 00:07] #9281 closed

[2018-02-13 00:12] colin-marshall commented on #9313
@andrewhinde I'm closing this out, feel free to reopen if it is still an issue. Thanks.

[2018-02-13 00:22] colin-marshall commented on #8305
@nikolasgd @dpassarini were you able to resolve this?

[2018-02-13 00:22] simshaun commented on #9343
The issue appears to have been fixed. http://simshaun-static.s3-website-us-east-1.amazonaws.com/foundation/6.4.2/

[2018-02-13 00:22] #9343 closed

[2018-02-13 00:24] colin-marshall commented on #9260
@ShadowRadiance wasn't the import order already changed?

See:
https://github.com/zurb/foundation-sites-template/blob/master/scss/app.scss#L23-L27
https://github.com/zurb/foundation-zurb-template/blob/master/src/assets/scss/app.scss#L24-L28

[2018-02-13 00:24] colin-marshall commented on #9343
Thank you!

[2018-02-13 00:25] colin-marshall commented on #9268
@andycochran would you care to resolve this one if you have time? Thanks!

[2018-02-13 00:26] simshaun opened #10934 "Customizer generates XY-grid example HTML when Flex grid chosen"
Was trying to reproduce #9343 on a more recent version of Foundation and found this issue.

#### How to reproduce this bug:

1. https://foundation.zurb.com/sites/download/
2. De-select all components
3. Choose Flex Grid
4. Download

#### What should happen:

Example HTML should use Flex grid.

#### What happened instead:

Example HTML uses XY grid (which isn't included in the generated download).

[2018-02-13 00:29] ncoden commented on #9260
@colin-marshall This is also related to https://github.com/zurb/foundation-sites/pull/10856

[2018-02-13 00:33] colin-marshall commented on #9260
@ncoden I'll review that soon. This one looks good to close, right?

[2018-02-13 00:36] ncoden commented on #10934
Duplicate of https://github.com/zurb/foundation-sites/issues/10934

[2018-02-13 00:36] #10934 closed

[2018-02-13 00:37] ncoden commented on #10449
Duplicate of https://github.com/zurb/foundation-sites/issues/10934

[2018-02-13 00:37] #10449 closed

[2018-02-13 00:37] ncoden commented on #10636
poke @colin-marshall

[2018-02-13 00:40] colin-marshall commented on #10636
@ncoden this seems low priority to me. Maybe revisit the idea for F7?

[2018-02-13 00:40] ncoden commented on #9268
hmmm... We often assume in the code that a breakpoint is always greater than the previous one in the `$breakpoints` map. This should be made more clear in the documenation.

Sadly, we cannot customize the `settings.scss` file since it is generated. This is not the first time I run into this issue, we should be able to add some intos in the settings file. Should be begin to update `settings.scss` m

[2018-02-13 00:41] ncoden commented on #9260
It is.

[2018-02-13 00:41] #9260 closed

[2018-02-13 00:43] renatonascalves commented on #7914
Wow! Two years to update the documentation. Really?!

[2018-02-13 00:44] #10636 closed

[2018-02-13 00:44] ncoden commented on #10636
@colin-marshall agreed. Done.

[2018-02-13 00:45] simshaun commented on #10934
@ncoden Did you mean to close both this one and #10449?

[2018-02-13 00:49] ncoden commented on #7914
@renatonascalves  Sorry for the late reply, some old issues got "lost" as we were working on the lastest. We are currently making a pass on all the Foundation issues to prepare the v7.

Also, this should be resolved in See https://github.com/zurb/foundation-docs/pull/24 ;)

[2018-02-13 00:49] #7914 closed

[2018-02-13 00:52] rafibomb commented on #10880
Probably need to re-initialize orbit. Detailed here: https://foundation.zurb.com/sites/docs/javascript.html#adding-content-to-plugins

[2018-02-13 00:55] ncoden commented on #10934
I meant https://github.com/zurb/foundation-sites/issues/10636 sorry.

[2018-02-13 00:55] rafibomb commented on #10891
@skotlinski1 This seems to be the fix. How did it work for you? Just trying to make sure we can merge this in.

[2018-02-13 01:12] clcrutch opened #10935 "Failing Unit Tests - develop Branch"
#### How to reproduce this bug:

1. Execute `npm test`

#### What should happen:

* Unit tests should pass

#### What happened instead:

[code]

#### Browser(s) and Device(s) tested on:

* Node.js v8.9.4
* Windows 7 64 bit

#### Foundation Version(s) you are using:

* develop branch.

[2018-02-13 01:19] colin-marshall commented on #9264
Closing this out since there was no reply. @AidamUnlimited feel free to reopen if you still have issues. Thanks.

[2018-02-13 01:19] #9264 closed

[2018-02-13 01:51] colin-marshall commented on #9237
Since this is from an older version of Foundation and the test cases are no longer up, I'm going to close it out. @sanderha feel free to reopen if it's still an issue.

[2018-02-13 01:51] #9237 closed

[2018-02-13 05:04] colin-marshall commented on #9200
@RobLoach we're not adding any features to Foundation 6 so I'm closing this out. Since this is just docs, if you want to put in a PR for it for F6, we can reopen the issue and get it in. If not, we'll revisit for F7 when the time comes. Thank you.

[2018-02-13 05:04] #9200 closed

[2018-02-13 05:07] colin-marshall commented on #9228
@ncoden does this tie into #10900 at all?

[2018-02-13 06:51] DanielRuf commented on #10935
See https://github.com/zurb/foundation-sites/issues/10886

We are aware of it and I am currently working on a solution.

[2018-02-13 06:52] DanielRuf commented on #10935
If you want to run the unit tests, try `npm install jquery@3.2.1 && npm run test`

[2018-02-13 06:53] bjornet commented on #10660
This is fixed in the documentation on the as stated above by @denisahac, tnx for pointing out. What fogged my view was that – I use a offline documentation which updates monthly/weekly. But Zurb seems to have missed to update this part of the docs in both places (for the online and the offline docs). (The offline docs I refer to is read through Dash, I don't know exactly where they are fetched fro

[2018-02-13 06:55] DanielRuf commented on #10924
https://bugzilla.mozilla.org/show_bug.cgi?id=1437272#c8 seems to be fine.

[2018-02-13 07:09] ncoden commented on #9228
@colin-marshall  No. The problem here is not _how to reflow_ but _could be reflow asynchronously_ ?

[2018-02-13 07:58] skotlinski1 commented on #10891
Yes, thank you, now everything works great :-)

[2018-02-13 08:33] #10891 closed

[2018-02-13 09:00] phifa commented on #10931
@brettsmason i found a bug:
when using this
`@include xy-gutters($gutter-position: 'top bottom');` the following happens:
`margin-left right: -1rem;` That cannot work 😄 So the browser ignores it.  I use only `bottom` that works like a charm.

[2018-02-13 12:25] DanielRuf commented on #10886
I guess we should switch to puppeteer, chromeless or some other solution. We can also try to use a pure phantomjs 2 for testing.

At least I have ported the testsuite (just as an example, I know that js-tests.js is generated) to jasmine as mocha is also looking for maintainers.

https://github.com/DanielRuf/foundation-sites-unit-tests

[2018-02-13 15:52] tw-maustin commented on #10482
as a workaround I believe you can change your 'href' attribute to 'data-tabs-target'
```<a :data-tabs-target="'#'+tab.tabkey" aria-selected="true">{{tab.name}}</a>```

[2018-02-13 16:17] colin-marshall commented on #9190
@ncoden according to the docs this isn't true for _all_ form fields, like text inputs, right?

[2018-02-13 17:03] colin-marshall commented on #9191
This is something to tackle when we revisit the events in #10155

[2018-02-13 18:03] clcrutch commented on #10935
This occurs even after running `npm install jquery@3.2.1`.  I just want to confirm that this is still a duplicate.

[2018-02-13 18:09] DanielRuf commented on #10935
Hm not sure as this is another bug as it seems. Is this the current head and what is your system setup (node, npm, ...)?

I'll try to reproduce it but I doubt that it is reproducible on my machines (node 8, npm 5).

[2018-02-13 18:14] colin-marshall commented on #8585
@sassanh was this resolved somewhere?

[2018-02-13 18:18] sassanh commented on #8585
@colin-marshall Unfortunately I'm not using foundation anymore, it's been 2 years so I guess this issue is stale. I bet lots of things related to this has changed in foundation.

[2018-02-13 18:29] ncoden commented on #9190
@Lazerproof @denisahac @kobrix See the documentation:

This is true for all validated input. Abide will look for `form-errors` next to them and explicitly defined errors `[data-form-error-for]`.

[2018-02-13 18:44] ncoden commented on #9190
hmmm, actually that's a bug, I did not read the issue correctly at first.