[2017-06-11 16:38] corysimmons commented on #10167
[code]

needs to be

[code]

Cell margins should be `* 2` whatever the container's negative margin is.

[2017-06-11 17:14] oxyc commented on #10140
@JeremyEnglert for an example you can check the `zurb/foundation-zurb-template` repo:

- Import it all https://github.com/zurb/foundation-zurb-template/blob/v6.4/src/assets/js/app.js#L6
- Individual plugins https://github.com/zurb/foundation-zurb-template/blob/v6.4/src/assets/js/lib/foundation-explicit-pieces.js

[2017-06-11 20:11] octlabs opened #10170 "iOS: scroll to accordion li > a top on open"
We could see a very strange behavior with the event trigger down.zf.accordion under iOS:

The $target (called "event") does not provide the DOM element (LI), which is clicked by event.currentTarget.activeElement, but returns to the BODY.

    $(document).on('down.zf.accordion', function (event) {
      let $link = $(event.currentTarget.activeElement);

      // XXX we tried to fix this as follows:

[2017-06-12 05:53] abrahamvelazquez commented on #7296
Thanks @seanmavley, but since you can use `data-use-m-u-i="false"` and get it work out of the box, I'd suggest switching to that as the default, then mentioning that advanced functionality requires Motion UI.

[2017-06-12 08:08] IamManchanda commented on #10134
As per the discussion with other yetinauts in a DM
=> **Dropping IE11 is not looking a possibility due to its corporate usage and this will stay even 6 months from now.**

So, In my personal views (and also as per the discussion i had with @kball while back)
Here are the options we are left with

1. Apart from `grid-x` and `grid-y` of flex grid
We can have a new grid type `grid-xy` aka css grid
an

[2017-06-12 08:17] Deckluhm commented on #10155
The issue isn't with the JS file but with the `formatJsEventName` Foundation Docs helper: https://github.com/zurb/foundation-docs/blob/master/lib/handlebars/javascript.js#L109

And actually, this isn't even the problem.

--

The problem is some events are camelCased (`down.zf.accordionMenu`, `up.zf.accordionMenu`) but some other aren't (`show.zf.dropdownmenu`, `hide.zf.dropdownmenu`).

This is som

[2017-06-12 08:26] IamManchanda commented on #10155
Camel Case is the right case for JS... No questions about it
I concur with @Deckluhm !

[2017-06-12 08:27] jovpet commented on #10155
@Deckluhm great clarification of the issue. I didn't notice that some events were camelCased and others weren't. Consistency should be applied, and my vote for camelCase as well!

[2017-06-12 11:42] brettsmason commented on #10167
@simshaun Thanks for the bug report, its appreciated!

@IamManchanda Will take a look at your PR tonight, thanks!

@corysimmons Its actually correct (your first example). The issue is responsive gutters (which are a massive headache!), so if you did for example:

`<div class="small-4 cell">`

On small screens the default gutter is 20px, and 30px on medium. So if we don't add a `medium-` or `large-

[2017-06-12 12:52] IamManchanda commented on #10167
Same here :smile:
If you can provide some goodie about it then that will be great cory :)

[2017-06-12 13:29] rossb commented on #10140
I'm also having trouble figuring out how to import -- the "Import it all" example above is straightforward, but when it comes to importing and initialising a single plugin I'm at a loss.

I'm thinking something like:

[code]

Where am I going wrong? This is throwing the error "plugins/foundation.core" doesn't export Foundation, which I can see is the case by looking at that file -- however I also

[2017-06-12 15:06] brettsmason commented on #10141
@arjendejong12 Thanks again for the feedback - I'll definitely get those docs fixes added.
I also [created a PR](https://github.com/zurb/foundation-sites/pull/10171) with a new mixin: `xy-cell-breakpoints` based on your suggestion. I decided to add it as a new mixin for now, though I'm not sure if it should be part of the `xy-cell` mixin or not.

@kball what control do we have over mixin order? I'

[2017-06-12 15:07] brettsmason commented on #10141
@JeremyEnglert Agreed - @kball can you help me out with that one?

[2017-06-12 15:34] getvijayji commented on #10158
Thanks I got that info in other tag and the foundation site.

[2017-06-12 16:08] Yanchek99 commented on #10169
@IamManchanda Cool I will have to check it out.  Right now I am getting foundation from https://github.com/zurb/foundation-rails so I'll have to suggest a branch for the 6.4.0 changes

[2017-06-12 16:22] kball commented on #10167
This is odd - the responsive gutters appear to have completely disappeared in the latest build. Blargh... looking into it.

[2017-06-12 16:35] kball commented on #10167
huh turns out it disappeared pre-RC when we were renaming things to XY, and somehow we didn't catch it.  Definitely feeling a need for better tests on XY.  PR up: https://github.com/zurb/foundation-sites/pull/10172

[2017-06-12 16:40] kball commented on #10140
@rossb Definitely confusing there, using entries for 2 different things at the moment, which is confusing and my bad.  Other than the plugins file (which is kind of an experiment at a unified entry point, and probably should include Foundation core) the other files in `entries` are being used by our internal process to build compiled files.

In your case, if you change `import { Foundation } from

[2017-06-12 16:49] kball commented on #10141
@brettsmason you mean in the docs? I believe that is correct, order within the partial and probably order of files in the front matter in the docs as well (I believe you can do an array not just a wildcard)

@JeremyEnglert yes will see what I can put together on `cell-block` and `cell-block-container`

[2017-06-12 18:05] lukedanielson commented on #9892
Experiencing the same behavior that @Ateker is experiencing; refresh on non-large screen when scrolled down the page, the sticky element drops near the bottom of the page with the 'top' css declaration.

Guess it is not quite correctly interpreting the position of the element specified in `'data-top-anchor="element_id:bottom"`

[2017-06-12 18:56] brettsmason opened #10174 "XY Grid - vertical grid with padding wraps"
Noticed a bug with the vertical grid using padding gutters. See the kitchen sink visual test to see what happens. This doesn't happen with margin, so is likely a specificity issue. Setting `flex-wrap` to `nowrap` solves the issue, but we need to decide if this is the right behaviour or not.

[2017-06-12 20:57] jainmukul opened #10175 "Wrong import in scss/settings"
Path: `scss/settings/_settings.scss`

At line number 62 there is an import `@import 'util/util';` which wrong as util is outside settings folder.

This is the first time I am using webpack and sass together, I am using start kit by Corry House for redux-react, I include Foundation in index.js using

`import  '../node_modules/foundation-sites/assets/foundation.scss';`

But continuously gave error *

[2017-06-12 21:08] hassanbinsafdar opened #10176 "foundation 6.3.1drilldown jquery plugin is not working like in documentation"
I try to use foundation 6.3.1 drilldown js plugin not full foundation js so i added according to your documentation but auto height is not working when i use full foundation.js its working fine but when i only use plugin height is not working. you can check my pen here. So you will understand that autoheight and back to top functions are not working in plugin file.

https://codepen.io/hassanbinsaf

[2017-06-13 04:30] corysimmons commented on #10167
@brettsmason Oh yeah, those responsive gutter things look tricky.

@IamManchanda
I've been using AVA to do unit tests (i.e. making sure that what's compiled matches what was compiled before, so if variable `x` changes to fix one thing, it doesn't break other things).

I ended up making [some custom testing function](https://github.com/corysimmons/postcss-ant/blob/master/test/index.js#L6-L41) so I

[2017-06-13 05:10] IamManchanda commented on #10167
Sounds a gooddiee
@kball what you think?

[2017-06-13 08:16] developer-lindner commented on #10080
[code]

Same goes for this part. And there will be more i guess. Could you please consider this in the next release ?!

Thanks for all!

[2017-06-13 08:28] thatvideowebguy opened #10177 "using foundation CLI build"
Hi,
I'm using foundation to create a website and I'm new with the command line tool and functions.

For now I can Watch and compile all my files but I was wondering how at the end of the project I'll be able to Build (There's a function for that but nothing append, it's seems to have the same effect as Watch function) the project and get only the necessary files to upload on the production server.

[2017-06-13 11:20] Lazerproof opened #10178 "PositionClass option is ignored by Dropdown 6.3.1"
'this.options.positionClass' is set to the value of _getPositionClass without checking for the prior existance of the option during init of Dropdown

#### How can we reproduce this bug?

1. Set the positionClass option
2. It has no effect

#### What did you expect to happen?
The position should respect the positionClass option

#### What happened instead?
The position is regexed from the classname

[2017-06-13 14:35] mabuidev2 opened #10179 "foundation scss doesn't work"
i'm trying to run my project but every time i type foundation watch in my console i'm getting this error and my scss doesn't work

Message:

    bower_components\foundation-sites\scss\util\_unit.scss

Error: Undefined operation: "Infinity times 2rem".

        on line 89 of bower_components/foundation-sites/scss/util/_unit.scss

   ------------^

[2017-06-13 14:37] IamManchanda commented on #10134
But i have to say that IE 11 is blocking us to not use css grids but more importantly **CSS Variables**

[2017-06-13 15:07] IamManchanda commented on #10177
Although this thread should be moved here
https://github.com/zurb/foundation-zurb-template/

But you raised a very important question... current docs lack that!

[2017-06-13 15:10] IamManchanda commented on #10177
or wait
http://foundation.zurb.com/sites/docs/starter-projects.html#zurb-template

[2017-06-13 15:14] IamManchanda commented on #10177
BTW the heart of the matter is
you should be using `npm run build`

I hope your issue was resolved?

[2017-06-13 16:14] tim5chneider commented on #8500
[code]

[2017-06-13 16:28] IamManchanda commented on #8500
@Wurstholger / @tim5chneider
Can you provide codepen ??

---

Fork from these below to provide codepen?

- [CodePen with Foundation 6.3.1 and MotionUI](http://codepen.io/IamManchanda/pen/LWGZxR)
- [CodePen with Foundation 6.3.1, Flexbox grid and MotionUI](http://codepen.io/IamManchanda/pen/zZrBEv)

[2017-06-13 16:55] oxyc opened #10180 "XY Grid - align-stretch has no effect with grid-margin-y"
#### How to reproduce this bug:

1. Create a horizontal grid with vertical margins: `grid-x grid-margin-y`.
2. Add `align-stretch`.

#### What should happen:

The cells height should stretch.

#### What happened instead:

The height is enforced to by `.grid-margin-y > .cell` and therefore do not stretch.

#### Browser(s) and Device(s) tested on:

Chrome

#### Foundation Version(s) you are using:

[2017-06-13 17:07] IamManchanda commented on #10180
See @brettsmason, that's why i said we need to integrate flex alignments with the grid ( #10117 )
This way we will get to know the bugs too!

[2017-06-13 17:16] IamManchanda commented on #9614
Poke @kball @BicanMarianValeriu awaiting reply ??

[2017-06-13 17:25] kball commented on #10179
hi @mabuidev2 can you share your settings file? This looks like maybe something may be getting a value it doesn't expect.

[2017-06-13 18:51] Lazerproof opened #10181 "ResponsiveAccrodionTabs plugin doesn't init correctly"
I want to use responsiveAccordionTabs with custom classes and initialize it programmatically.
Here is a pen [https://codepen.io/Lazerproof/pen/GEqLyW](url)

As you can see tabs are not initialized correctly on page load, but if you resize the window to smaller than 1024px (large breakpoint in my case ), tabs change to accordion and work as expected. Then resize back to larger that 1024px and tabs

[2017-06-13 19:20] tim5chneider commented on #8500
look at codepen:

https://codepen.io/tim5chneider/full/pwbmWz/

[2017-06-13 19:40] tim5chneider commented on #8500
yes, look at the pen!

[2017-06-13 19:42] tim5chneider commented on #8500
sorry, should have write that this is the solution.

[2017-06-13 19:51] brettsmason commented on #10141
Also noticed today whilst trying out mixins that `xy-cell-layout` is going to need the responsive treatment, just like the PR for `xy-cell-breakpoints`. If we can work out how to code this then it will apply to a few of the mixins. Some of the mixins may even be better merged. Don't have any time until Friday to look at anything now though unfortunately.

[2017-06-13 21:00] getvijayji opened #10182 "aria-expanded not accepatble with role="menuitem" with F6 drilldown menus"
I am using Foundation 6 Drilldown menus for off-canvas. It seems that foundation6 is injecting the ARIA attributes dynamically, where it is putting aria-expanded and role="menuitem" together in "li" element which have a "ul" element as its sub element. But role="menuitem" and aria-expanded is not allowed togather by the ARIA spec. Is there any fix for this?

I have seen that there is fix done for

[2017-06-14 02:21] oxyc commented on #10141
A few notes while I'm building a site with the new grid:

1. First off I love the margin grid as it's way easier to align edges without having the side gutters on the grid itself. Before I had to wrap basically every piece of content on the page in a grid to get the content to align. One consequence of having no padding on the outer sides of the grid is that once your viewport becomes smaller than

[2017-06-14 03:04] idolab opened #10184 ".progress-meter should use $progress-radius instead of $global-radius"
in _progress-bar.scss line22. Using $global-radius result in odd appearance of progress bar.

#### How to reproduce this bug:

1. Set $global-radius = 0
2. Set $progress-radius = .5rem
3. Make a progress bar on html

#### What should happen:
beautiful border-radius appears

#### What happened instead:
odd square with round progress bar appeared

#### Browser(s) and Device(s) tested on:
Chrome

###

[2017-06-14 04:51] gregwhitworth commented on #10134
@IamManchanda I'm sorry if I'm confusing our discussion from twitter - but to aid in that discussion, here is a starting [gist](https://gist.github.com/gregwhitworth/23db671ea517d416e3ca8d65ee093e74) for discussing fallbacks

[2017-06-14 08:09] mabuidev2 commented on #10179
//  Foundation for Sites Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Breakpoints
//   3. The Grid
//   4. Base Typography
//   5. Typography Helpers
//   6. Abide
//   7. Accordion
//   8. Accordion Menu
//   9. Badge
//  10. Breadcrumbs
//  11. Button
//  12. Button Group
//  13. Callout
//  14. Card
//  15. Close Button
//  16. Drilldown
//  17.

[2017-06-14 08:10] mabuidev2 commented on #10179
@kball  this one you mean ?

[2017-06-14 08:57] brettsmason commented on #10179
@mabuidev2 I just tried compiling using your settings and it worked fine in a Foundation Sites template.
Are you using `rem-calc` anywhere else? I'm pretty sure it will a dodgy use of `rem-calc` somewhere.

[2017-06-14 10:40] brettsmason opened #10186 "[Dropdown Menu] - $dropdownmenu-submenu-padding is not specific enough"
I noticed when using the RC that the variable `$dropdownmenu-submenu-padding is getting overridden by the more specific `..dropdown.menu a` styling.

To get round it I think [this line](https://github.com/zurb/foundation-sites/blob/develop/scss/components/_dropdown-menu.scss#L242) should be changed to:
`.dropdown & a {` which would then make it more specific. Haven't checked to see if there would

[2017-06-14 11:31] mabuidev2 commented on #10179
yes i'm using rem-calc in my custom scss file is it not working or should i replace it @brettsmason

[2017-06-14 13:17] brettsmason commented on #10179
@mabuidev2 `rem-calc` works fine but it sounds like you have an unsupported use of it in your custom scss files somewhere. Could you take a look and see how you have used it, or even put a link to it somewhere so we can see what's going on?

[2017-06-14 13:24] mabuidev2 commented on #10179
okay here is my custom scss file please check it @brettsmason

[2017-06-14 13:24] mabuidev2 commented on #10179
h2 {
    color: $primary-color;
    font-size: rem-calc(42);
    margin: rem-calc(20 0);
}
/* Off Canvas */

div.off-canvas {
    height: 100%;

    a, h3 {
        color: $white;
    }
    .is-drilldown-submenu {
        background-color: darken($primary-color, 20);
    }
}

.promo-video,
.promo {
    position: relative;

    #overlay {
            position: absolute;
            top: 0;

[2017-06-14 13:30] joeworkman commented on #10134
Are you still against my fallback css idea? https://github.com/zurb/foundation-sites/issues/10134#issuecomment-306196702

[2017-06-14 14:22] brettsmason commented on #10179
@mabuidev2 This bit looks like your issue:
[code]
You have a `,` in there. Try and remove that.

[2017-06-14 14:54] mabuidev2 commented on #10179
i've removed it but still scss doesn't load and giving me the same issue in my console

[2017-06-14 15:58] IamManchanda commented on #10134
I am not against it ...
I just feel it's equal to desktop first media queries way back when responsive era began

Also,
We need to do lot of overrides which concerns me
Correct me if am wrong on overrides @brettsmason?

I repeat,
For eg Gutters
For flex, we need to add gutters by margin and padding
CSS Grid have this inbuilt in them aka `grid-gap` so i guess we need override the margin and padding

[2017-06-14 16:09] IamManchanda commented on #10134
Greg I will let you know once I reach home... Currently on travel

[2017-06-14 16:13] joeworkman commented on #10134
I can agree that its less than ideal. However, in your plan of attack, you are still implementing both a CSS Grid and a Flexbox grid. Unless I misunderstood... Therefore, its not much extra work to support both at the same time with this approach, no?

[2017-06-14 18:28] brettsmason commented on #10141
@oxyc thanks for your continued feedback, I really appreciate it! To answer your points:

1. I've been wondering about how to handle this too. The trouble with adding padding around the `.grid-container` is the grid wont align with items that arent in a `.grid-container`. An example is if I wanted a full width grid of images and dont want any padding on the sides. I think adding padding could work

[2017-06-14 19:04] oxyc commented on #10141
True. Your suggestion would work for me but I do see the possibility for cases where user want text content to have a padding, while grids of images shouldn't. Both types of grids might still have use for the `max-width` of `grid-container` though.

There are two primary use cases. First is there entire page layout where I want the header and the footer to _shrink_ while the content area in betwee

[2017-06-14 19:24] tristant opened #10189 "Orbit doesn't work in 6.4-RC3"
#### How to reproduce this bug:

Copy Orbit example from the documentation

#### What should happen:

- You should be able to navigate back and forth through the slides
- Automatic slide should go through all images

#### What happened instead:

- Gets stuck on second slide
- Can't navigate back and forth

#### Browser(s) and Device(s) tested on:

Latest FF & Chrome

#### Foundation Version(s) you

[2017-06-15 01:55] airtonix opened #10190 "Missing docs for old versions..."
Trying to find documentation for `6.2.3`. but you've deleted it.

Might I suggest that you leave documentation around not just for major versions `6.x.x` but also for minor versions `6.2.x`

technically speaking the `minor` in semver shouldn't change existing functionality. but looking through your changelog, there is quite a lot of functionality changed in existing modules withing a `minor` relea

[2017-06-15 04:06] IamManchanda commented on #10189
Maybe we need to update docs example because codepen (edit in browser) example is working for 6.4 RC3
https://codepen.io/IamManchanda/pen/rwMgxX?editors=1100

[2017-06-15 05:38] IamManchanda commented on #10189
Dang you forgot to add motion ui
Here is working example ... i forked your codepen and just included motion ui from settings - css
https://codepen.io/IamManchanda/pen/BZLgQg

Closing this and marking this as resolved... Feel free to reopen/reply if you still having issues :)

[2017-06-15 09:29] brettsmason commented on #10141
@kball I've been having a look at the docs and trying to update the order the mixins are listed.
I've put:
[code]
Into the docs partial, but its still listing cell mixins first, so I'm assuming its doing it alphabetically.
Is there any way around this?

[2017-06-15 10:20] aaronjpitts opened #10191 "How to use new ES6 modules for Responsive Accordion Tabs in 6.4"
I'm using 6.4rc-3 to work on a Vue integration with webpack, it's working well. For a tabs component I have made, I use the below in Vue.js which works fine:

[code]

My question is how could I get this component to work with Responsive Accordion Tabs? As I see I would need to import `foundation.responsiveAccordionTabs.js` and `foundation.accordion.js`? How can I import them to work with the `Foun

[2017-06-15 16:18] getvijayji commented on #10182
any update on this, please?

[2017-06-15 17:21] matthewhegarty commented on #7815
I am getting this issue in 6.3.1 when viewing the orbit on iphone safari browser only.  Other platforms are ok.  The snippet posted by @ooksanen fixes the issue, so this bug is still present.

[2017-06-16 02:27] HeidiEkenstam commented on #9816
I submitted a PR for this using the article @IamManchanda recommended, hope I did everything correctly and the issue gets resolved.  PR #10193

[2017-06-16 04:05] IamManchanda commented on #9816
Great... Will surely look into it

[2017-06-16 06:04] IamManchanda commented on #10190
I think this is a very valid point and we should start from now
Aka 6.3-6.4 ( if possible other 6.x also)
cc @kball

[2017-06-16 06:15] rafibomb commented on #10184
Sounds like it should be changed - can you submit a Pull Request for this and we'll merge it in

[2017-06-16 06:17] rafibomb commented on #10182
Sounds good to me! Are you able to help with a PR on this @getvijayji ?

@Owlbertz What do you think?

[2017-06-16 06:21] rafibomb opened #10194 "XY Grid - grid-margin-x on parent row overrides children"
.grid-margin-x on .row is applying negative margin even when not nested.

Example pen https://codepen.io/rafibomb/pen/QgGBPE?editors=1000
See that there are no outer margins on content cells.

Issue here:
<img width="1118" alt="screen shot 2017-06-16 at 9 13 10 am" src="https://user-images.githubusercontent.com/5652085/27214447-2f500732-5275-11e7-8e48-d6c151713ebf.png">

[2017-06-16 07:01] rafibomb commented on #10194
@brettsmason @kball This fixes it but There is for sure a better way to do it https://github.com/zurb/foundation-sites/issues/10194

[2017-06-16 07:22] Owlbertz commented on #10182
I guess that for Drilldown the same rules apply as for the AccordionMenu, i.e. that it should have a role of tree. If so, than the changes from #10064 would need to be applied for Drilldown, which would solve this issue here.

[2017-06-16 10:42] brettsmason commented on #10194
@rafibomb Sorry I dont' understand.

Is your issue that there is a negative margin on `.grid-x` and so is no left/right margin on the end cells? If that's the case then that is the correct behaviour. Margin grids aren't the same as padding grids - they should align flush. If you wanted a space either side then adding padding to the grid would be the correct approach.

See [this comment](https://gi

[2017-06-16 11:15] brettsmason commented on #10194
@rafibomb Sorry re-read it and checked the CodePen again and see the problem. However this isn't a problem with the `develop` branch, so is likely something that's been fixed since RC3.

[2017-06-16 12:33] tobireif commented on #10162
Perhaps one quick improvement would be to add the link http://foundation.zurb.com/sites/docs/button.html#basics
inside the button demo section:
http://foundation.zurb.com/sites/docs/kitchen-sink.html#button

[2017-06-16 12:38] brettsmason commented on #10179
@mabuidev2 I tried with your custom code above and got the same error you got. Then I removed that like and it compiled just fine. Can you double check you have removed the comma? Unless you have any other `rem-calc` declarations in your code with a comma in, this should be the problem.

[2017-06-16 12:46] BernhardWebstudio commented on #10097
I was able to reproduce the bug on my Lumia as well as on a Surface tablet, where the slider works using the mouse, but not using touch.

[2017-06-16 13:07] pablopaul opened #10196 "[Starter Project - Zurb Template] Cache Bust Assets"
I was wondering how do you cache bust assets in the official Zurb Template Starter Project and came up with the following solution via https://github.com/zurb/panini/issues/121#issuecomment-308880914:

Install `gulp-cache-bust`: `npm install --save-dev gulp-cache-bust`

Import it in `gulpfile.babel.js`: `import cachebust from 'gulp-cache-bust';`

Add a new function:

[code]

and call that function

[2017-06-16 13:08] pablopaul commented on #10196
I am closing the issue since it is resolved, maybe it will be reference for somebody searching for a similar solution in the future.

[2017-06-16 13:08] #10196 closed

[2017-06-16 13:19] tristant commented on #10189
Fair enough, but shouldn't it be included in the foundation.min.css ?
The JS utility is included in the "Foundation everything" javascript file, I assumed it would be for the CSS too.
If including it isn't a good idea, maybe put clearly in the documentation that one shouldn't expect the css to be included too, only the JS ?

[2017-06-16 13:32] IamManchanda commented on #10189
Fair enough doing it now!
(Adding an alert on motion ui requirement)

[2017-06-16 13:58] #9816 closed

[2017-06-16 14:34] oxyc opened #10198 "button-background-hover should use smart-scale by default"
#### How to reproduce this bug:

1. Set `$button-background: #000`

#### What should happen:

The hover effect should increase the lightness of the background.

#### What happened instead:

The hover effect decreases the lightness.

#### Foundation Version(s) you are using:

`develop`-branch

[2017-06-16 14:34] IamManchanda commented on #10134
@joeworkman @gregwhitworth
Greg your above simple gist is a nice example to show my concern

[code]

What if i say you that i dont need that width and height ...
For adding one, i will be adding two overrides!

So it would become

[code]

which concerns me a bit here though i am not against it. The perfect would be

[code]

[2017-06-16 15:38] tsquez opened #10199 "Numerous JS issues in Google Dev Tools"
Hi all,

Decided to take v6.4.0 RC3 for a spin today in hopes of putting things in place to make the update to my WordPress theme WP-Forge easier.

Love the new XY grid by the way...great job guys!

All is going well however I did notice that in Google dev tools it's showing the following js issues:
[code]
I do not use sass or anything like that. Basically here is what I do when I use a RC: I down

[2017-06-16 15:55] brettsmason commented on #10199
@tsquez Glad you like the new grid 👍
I think this will be a question for @kball - it will no doubt be to with the huge amount of work and changes that went into the JS for this release. I've switched to compiling it using Webpack with my WordPress theme so I haven't tried the raw dist files myself.

[2017-06-16 16:45] oxyc commented on #10167
I think this still has issues. I'll try and open up an issue with a test case later at some point. Glancing at the code I'm assuming it has to do with `and map-has-key($grid-margin-gutters, $-zf-size)` conditional which doesn't apply if a breakpoint is skipped and inherited from a smaller variant.

[code]

[2017-06-16 17:21] artursopelnik commented on #10161
+1

[2017-06-16 18:54] denisahac commented on #10121
Is the issue present in **develop** branch, or the **6.4.0-rc1** tag? Which of the two should I test it against?

[2017-06-16 19:03] IamManchanda commented on #10121
Though i dont know as i didnt tested it @rafibomb did ... but i guess yes present in develop!
As develop is updated to 6.4.0 RC3 aka the latest! @denisahac

[2017-06-16 19:42] brettsmason commented on #10194
@rafibomb I've checked with your example in the develop branch and it works correctly so going to close this.

[2017-06-16 19:42] #10194 closed

[2017-06-16 19:46] denisahac commented on #10121
Tested against **v6.4.0-rc3** adding **data-offset** on **SmoothScroll** module is working as expected.

Also, I'd suggest, that on the documentation right sidebar magellan navigation, we should increase the data-offset; as you click on the link section, the title of the page section is covered by the Search bar. Adding **data-offset="100"** solves the usability issue.

[2017-06-16 19:49] getvijayji commented on #10182
yes the same fix will work. but as far as submitting a PR is concerned, i guess i will not be able to submit a PR for this.
@Owlbertz , Can you help is by submitting this as a PR against the develop branch?

[2017-06-16 22:11] CGTS opened #10201 "Reveal and Velocity.js"
Is it possible to use velocity.js to animate a foundation 6 reveal? I have a good number of clients on IE9 and need to provide them with a similar experience. While we're at it is it possible to do the same for the orbit slider?

[2017-06-16 22:48] pgnd commented on #10140
@rafibomb

I'm hoping to walk through an existing site update -- from F6/gulp/bower/Symfony30 to F6/webpack/yarn/Symfony33.

Are there F6 docs yet available for the migration to webpack ? Or even a new deploy?

Useful to follow/evaluate if there are ...

[2017-06-17 12:06] Owlbertz commented on #10182
Yep

[2017-06-17 17:24] megakoresh commented on #10137
Same issue. Adding any content via inserting HTML does not work with the reInit function.

[2017-06-17 18:00] tsquez commented on #10199
I'm sure it will all be cleared up once 6.4 is officially released....I hope.....lol

[2017-06-17 18:20] #10186 closed

[2017-06-17 18:26] kball commented on #7815
Thanks for the report @matthewhegarty, reopening this.

[2017-06-17 18:27] kball commented on #10190
👍  will put this together as a part of packaging up 6.4... we will definitely have 6.3 and 6.4 versions, but I'll see if I can get a 6.2 version as well.

[2017-06-17 18:35] IamManchanda commented on #10190
Great @kball...

[2017-06-17 18:38] kball commented on #10097
@zurb/yetinauts anyone have windows touch device they can use to debug & track this down?

[2017-06-17 21:49] JeremyEnglert commented on #8800
I don't think the idea was to emulate the F5 topbar (although that is possible). A lot of work has been done on the topbar since this issue has been opened. Please feel free to re-open if you feel the docs are still incorrect.

[2017-06-17 21:49] #8800 closed

[2017-06-17 22:01] JeremyEnglert commented on #8855
I agree with @andycochran. This is something that will have to be handled at the app/site level. Hard to handle this with the framework.

[2017-06-17 22:01] #8855 closed

[2017-06-17 22:07] #8459 closed

[2017-06-17 22:09] JeremyEnglert commented on #9023
@sababys, feel free to reopen this. But as mentioned above, it appears you're getting a JS error, not a Sass/CSS error.

[2017-06-17 22:09] #9023 closed

[2017-06-17 22:17] JeremyEnglert commented on #8486
Having a hard time replicating this as well. Off-canvas has received many updates since this issues was opened. Feel free to re-open if you're still having issues.

[2017-06-17 22:17] #8486 closed

[2017-06-17 22:23] JeremyEnglert commented on #9101
This appears to be working as expected now. Please re-open if you're still having issues.

[2017-06-17 22:23] #9101 closed

[2017-06-18 03:56] JeremyEnglert commented on #8909
@dioogbento - there are many ways to do it. It will really depend on your setup.

But if you're using the ZURB template, simply comment out the components you don't need from the config file.

https://github.com/zurb/foundation-zurb-template/blob/master/config.yml

[2017-06-18 03:56] #8909 closed

[2017-06-18 03:59] JeremyEnglert commented on #10131
I think this should be part of "prototype mode". Seems like an extremely specific use case.

[2017-06-18 04:06] JeremyEnglert commented on #10134
I'm strongly against supporting two grids. We did that with Foundation 6 (now we're supporting 3) and it creates a ton of extra work and confusion. We need to decide on a grid and stick to it (which is why I'm glad the "Flex Grid" and "Float Grid" are now considered legacy).

It's hard because we need to find the balancing point between flexibility and ease of use. But when it comes to the grid, w

[2017-06-18 04:10] IamManchanda commented on #10134
@JeremyEnglert In that case... What you think of feature queries?

[2017-06-18 04:11] IamManchanda commented on #10134
And also
Apart from grid-x and grid-y of flex grid
We can have a new grid type grid-xy aka css grid
and to treat it the same way we treat Native Progress or Native Meter ?

[2017-06-18 04:14] IamManchanda commented on #10131
Why want to handle this differently than Hollow buttons??

[2017-06-18 04:14] JeremyEnglert commented on #10134
Does IE 11 support feature queries yet? I'd be nervous to drop IE support completely.

I think we should also test that components work with "native" items such as CSS Grid.

But supporting multiple grids can be a nightmare.

[2017-06-18 04:20] IamManchanda commented on #10134
That is where my this point comes in

Apart from grid-x and grid-y of flex grid
We can have a new grid type grid-xy aka css grid
and to treat it the same way we treat Native Progress or Native Meter ?

[2017-06-18 04:22] JeremyEnglert commented on #10131
Honestly, I'd be okay with hollow moving into the prototyping features as well.

I guess we have to decide where we draw the line. These types of "quick styling" classes could become endless.

My other concern would be accessibility. It would be hard to find a light colored background that is WCAG compliant with the default Foiundation colors.

[2017-06-18 04:24] IamManchanda commented on #10131
Hmmnn cc @kball

[2017-06-18 08:15] JeremyEnglert commented on #10140
The compiled files in /dist/js/plugins seem to conflict with other jQuery.

In 6.3.x, almost all JS functions started with `function($)` - which caused them to not to conflict with other jQuery plugins. This doesn't appear to be the case in 6.4.

[2017-06-18 08:55] jashwant opened #10202 "Uncaught SyntaxError: Unexpected token import at line import $ from 'jquery';"
I was including few javascript plugins of `foundation 6.3` in my website with my custom gulp, I have setup for my website.

Since, I need not to support ie 9 anymore, I updated foundation to `6.4.0-rc3`.

Now, page is throwing error `Uncaught SyntaxError: Unexpected token import` at line  `import $ from 'jquery';`

Is it because of the new webpack build system ?

Is there anyway to fix this with g

[2017-06-18 12:43] jashwant commented on #10199
@brettsmason , can you share your webpack file, or guide me about using foundation webpack in wordpress ?

[2017-06-19 09:48] aaronjpitts opened #10203 "[Drilldown Menu] not working at all in 6.4"
http://foundation.zurb.com/sites/6.4.0-rc/docs/drilldown-menu.html drilldown is not working at all in 6.4.

[2017-06-19 11:10] aaronjpitts commented on #10191
Ok so basically I only have to include `foundation.core.js` and `foundation.responsiveAccordionTabs.js` as `foundation.responsiveAccordionTabs.js` includes the necessary `foundation.tabs.js` and `foundation.accordion.js` but unfortunately this plugin just does not work at all.

[2017-06-19 15:19] aaronjpitts commented on #10140
Hi guys, so the following plugins don't seem to work at all with the ES6 imports and using through webpack:

- Tooltip
- Interchange
- Responsive Accordion Tabs

An example would be the below, setting them as directives in Vue.js. Only the toggler works, the other two set some aria attributes correctly but just don't seem to function, i.e. nothing happens.

The syntax is all correct for Vue and I'

[2017-06-19 16:09] gregwhitworth commented on #10134
@JeremyEnglert IE11 does not support feature queries, but that in of itself allows you to utilize outside feature queries your fallback for IE11- and your fallback for browsers that don't support `display: grid`. Make sense?

@IamManchanda I get your worry about needing to duplicate all of the code, but I think you should convert one component and see if it's truly as bad as you think. At any rate

[2017-06-19 17:02] kball commented on #10161
I traced this to a config issue... to import the ES2016 modules you need to configure babel to not ignore them (blendid defaults to ignoring node_modules for babel)...

I changed `config/task-config.js` to do this in this way:
[code]

Going to leave this open for now until we add this to docs, but please confirm this resolves for you @artursopelnik @ryanjavens

[2017-06-19 17:16] kball commented on #10202
HI @jashwant Can you clarify how you're building & importing? From the error it looks like you're probably not using babel... probably the simplest if you're not needing the module imports is just to simply drop in the compiled JS from `dist`...

Can you paste your gulpfile so I can take a look?

On flex grid, it will be supported through the 6.X series but not continued through in Foundation 7. C

[2017-06-19 17:29] IamManchanda commented on #10203
Thanks @aaronjpitts ... i dont know when it happened... Quite sure this was not with the first drilldown menu release ... Let me check

[2017-06-19 17:45] #10174 closed

[2017-06-19 17:45] #10180 closed

[2017-06-19 17:53] JeremyEnglert commented on #10199
The raw dist files do have issues with WordPress. @kball is aware and looking into them.

Although, I'd also be interested in seeing how @brettsmason addressed the issue with Webpack. :)

[2017-06-19 17:54] kball commented on #10199
@tsquez I've seen a few of these reports with wordpress so I think there's definitely something going on here, still trying to straighten it out... Thank you for the backtrace, it helped me trace down one possibility and I've found a potential fix here: https://github.com/zurb/foundation-sites/pull/10206

I'm going to try to turn around a new RC this afternoon/evening, would you be able to test th

[2017-06-19 17:55] kball commented on #10191
@aaronjpitts can you explain a little more what does not work and/or provide a codepen or git repo demonstrating? Would very much like to track this down pre-release

[2017-06-19 17:58] kball commented on #10140
@aaronjpitts thanks for the bug report... this is helpful, and the common thread through these plugins is they all use the MediaQuery utility which may not be initializing properly in the new world... I'll look into a fix, but to make sure can you try importing `MediaQuery` and running `Foundation.MediaQuery._init();` ?

[2017-06-19 18:15] aaronjpitts commented on #10140
@kball I just tried, imported MediaQuery and tried running `Foundation.MediaQuery._init();`, it gives undefined. So hopefully this will help you track down the problem :) I hope this helps with the older github issues you just replied to also. It seems they may be related to MediaQuery, yes. I'm very excited to get all this working and I'm currently working on a Vue.js integration that I'd like to

[2017-06-19 18:17] kball commented on #10140
aaronjpitts Would it be possible for you to pull down the `media-query-init-problem` branch and see if it resolves your issue?

[2017-06-19 18:23] #8131 closed

[2017-06-19 18:35] aaronjpitts commented on #10140
@kball I haven't tested all the plugins yet, but from what I can see, yes it they all seem to function fine now with this `media-query-init-problem` branch :) thank you very much!

[2017-06-19 18:55] aaronjpitts commented on #10140
@kball also a question, for a framework like Vue.js, to integrate Foundation, do you think it's best to set all Foundation javascript plugins as global directives in Vue.js or to use them as components? I am using components for things such as Reveal because I think modal windows will often need to be opened programmatically. Just wondering your thoughts.

[2017-06-19 19:19] brettsmason commented on #10199
@JeremyEnglert @jashwant sorry been away for a few days.
So [this is my gulpfile](https://gist.github.com/brettsmason/414936a60eb35ddc943e3acf613f0c89) and [this is my theme JS file](https://gist.github.com/brettsmason/7d9955256f81a6cb9dd6128e9b43ead2).

Hope that helps. Its based off [the 6.4 Zurb stack](https://github.com/zurb/foundation-zurb-template/tree/v6.4).

[2017-06-19 19:22] JeremyEnglert commented on #10199
@brettsmason - super helpful! I'm going to give that a shot.

[2017-06-19 20:13] jaarong opened #10208 "Reveal accessibility"
I'm hoping someone here will help me figure this out, because I'm not really sure what WAI-ARIA standard Foundation conforms to and therefore don't know what the correct answer is.  My assumption is that the button that opens a reveal modal should have the aria-haspopup="dialog" value not aria-haspopup="true" ([according to WAI-ARIA 1.1](https://www.w3.org/TR/wai-aria-1.1/#aria-haspopup).  True wo

[2017-06-19 20:37] ryanjavens commented on #10161
@kball you rule! It looks like it fixed it on my end. Thank you so much!

[2017-06-19 21:34] kball commented on #10208
cc @Owlbertz

[2017-06-19 21:38] SalahAdDin commented on #8131
:+1:

[2017-06-19 21:47] #10203 closed

[2017-06-19 22:42] JeremyEnglert commented on #10199
@kball - i pulled down your fix and it appears to have corrected the problem. 👍

[2017-06-19 22:44] aaronjpitts commented on #10191
#10207 fixes this

[2017-06-19 22:44] #10191 closed

[2017-06-19 23:48] kball commented on #10199
OK, the fix in #10206 has been packaged up in RC 4 here: https://github.com/zurb/foundation-sites/releases/tag/v6.4.0-rc4

@tsquez can you verify if this resolves your issue as well to make sure it was the same as @JeremyEnglert's issue?

[2017-06-20 00:52] Timoti commented on #10134
@gregwhitworth , @JeremyEnglert  - yes most non-cssgrid fallbacks can't quarantine legacy fallback code from modern browsers. On a recent project using cssgrid I used an 'unframework' mixin to reset within the supports(display:grid) query - and that approach isn't too bloaty IMO.

In the grand picture, I am super keen to be using cssgrid more _today_, but increasingly I've come to ponder how much

[2017-06-20 02:08] dgt41 commented on #10140
[code]
This is hideous, either use ES6 or ES5 or jquery. By the way why is jquery a dependency in 2017? Are you supporting IE8?

[2017-06-20 02:44] taiinaa opened #10210 "Issue with Magellan scroll bar on small screen"
I currently have a fixed magellan nav menu, however when viewing the page on a smaller screen, I can't scroll through my nav menu's content. Is there a way to implement an overflow: scroll or something similar?

[2017-06-20 03:27] kball commented on #10140
@dgt41 100% agree we shouldn't need to have jquery as a dependency moving forward, that is the plan for F7, however F6 is deeply entangled with jQuery (partially due to support back to IE9 and old Android).

The change to use true ESmodern dependency management is the first step to stripping out the jQuery dependency by giving us a framework to separate out that entanglement and create a clean dom

[2017-06-20 06:06] Owlbertz commented on #10182
Should be closed with #10204.

[2017-06-20 06:06] #10182 closed

[2017-06-20 06:08] Owlbertz commented on #10208
Well I guess as Foundation aims at being the most advanded framework, we should adapt to the latest specification, therefore I think yes, you are correct and we should go with`aria-haspopup="dialog"` here.

[2017-06-20 07:27] JeremyEnglert commented on #10141
Since XY is the new default grid, and based on Flexbox, should `global-flexbox` be set to 1rue`by default?

[2017-06-20 08:09] Clijsters opened #10211 "pages aren't responsive when printing"
#### How to reproduce this bug

1. Create a multi column page (see codepen link at the end)
2. Print the page

#### What should happen (IMHO)

As the complete page layout is responsive, the printed page should fit to the pages width like it would do on a small/medium device.

#### What happened instead

The columns don't use the full page width. They lay side-by-side like on the Desktop breakpoint

[2017-06-20 10:16] aaronjpitts opened #10212 "'TypeError: Foundation.GetYoDigits is not a function' when interchange is not given an ID - 6.4"
When you don't explicitly give an interchange element an ID, it doesn't work and gives the following error: `TypeError: Foundation.GetYoDigits is not a function`

[2017-06-20 12:35] giantleif commented on #7831
This is what worked for me:

`body.is-reveal-open {
  overflow: auto;
}`

[2017-06-20 12:36] dgt41 commented on #10140
@kball are you planning to use web components or custom elements for the components that require javascript?
I've played a bit with that concept and seems the right way to implement such components.
you can check it out [here](https://dgt41.github.io/bs4-custom-elements/)

[2017-06-20 13:48] getvijayji commented on #10182
Thanks @Owlbertz

[2017-06-20 14:33] brettsmason commented on #10141
@JeremyEnglert I asked the exact same thing to @kball the other day.
I think the answer was yes - I'll do a PR later for that.

[2017-06-20 14:35] getvijayji opened #10213 "foundation 6 Off Canvas and it's Links not working as expected on Samsung Galaxy Tab 3"
I see issues on this device with mega menu/Hamburger menu, Zoom page, Click event etc issue in the whole site.

Need your help in resolving or a solution for the current problem that we are facing, we have used the foundation 6 offcanvas and it seems to be not working on samsung tab 3, and links are not working..

It works on all other devices except samsung tab 3... Looking forward to your suppor

[2017-06-20 15:00] jaarong commented on #10208
Thanks, but I wouldn't take my word for it.  I have literally made a change across the board to our theme one day and reverted the commit the next after reading new information.

For instance, this [W3 dialog modal example page](http://w3c.github.io/aria-practices/examples/dialog-modal/dialog.html) is using a button to open the window (which we have found is more screen reader accessible for this

[2017-06-20 15:06] Timoti commented on #10134
That said I just noticed that rachel andrew demonstrates that unfloating and unclearing isn't necessary for fallaback, here - https://rachelandrew.co.uk/css/cheatsheets/grid-fallbacks

[2017-06-20 16:11] BernhardWebstudio commented on #10097
The bug seems to be related to the flags set in [about:flags](about:flags). After reseting them to default, the slider seems to work as it should on my devices. It is especially the flag _Enable touch events_ which has to be set to - somewhat counterintuitive - _always disabled_.

[2017-06-20 16:30] janslu commented on #10141
I'm playing with the new grid, and I think I found a specific case where something isn't working ok.
My goal was to create a grid with one column shrinked to the width of a thumbnail and a second column expanding to the rest of the width. It works fine with shorter titles but then the columns would stack on each other whenever the title in the expanding column would be wider than the remaining spa

[2017-06-20 16:46] tsquez commented on #10199
Hey guys sorry, was away and just now got back. Yes I will test the above and let you know. Thanks for the effort.

[2017-06-20 16:53] davestyp opened #10215 "Link to building blocks tutorials are broken"
Where is this tutorial slash building block?
http://zurb.com/building-blocks/top-bar-with-off-canvas

Referenced here from official source:
http://foundation.zurb.com/sites/docs/off-canvas.html

This is probaly the case with all links to building blocks since it was redone but I'm primarily most interested in that one right now :)

[2017-06-20 16:54] tsquez commented on #10199
Yep all the issues are gone so far as I can tell....smooth sailing so far. Thanx guys. I appreciate all you do.

[2017-06-20 17:00] kball commented on #10199
👍

[2017-06-20 17:00] #10199 closed

[2017-06-20 17:09] IamManchanda commented on #10215
Though i am not sure but this might help you
http://foundation.zurb.com/building-blocks/blocks/multilevel-offcanvas-menu.html

[2017-06-20 17:18] kball commented on #10211
Hi @Clijsters - I don't think that we have a way to know at render time the size of the pages being done for print. *However*, when you set up your site you can specify how you want it to render for print by specifying the `$print-breakpoint`... printing should then lay things out as if it were for that breakpoint.

[2017-06-20 17:19] kball commented on #10212
Good catch! Will fix

[2017-06-20 17:25] kball commented on #10140
@dgt41 plans are still getting finalized... we have some experiments underway... With the custom elements, what's the browser support on the polyfill look like?

[2017-06-20 17:40] dgt41 commented on #10140
@kball Browser support is very good and depending on the polyfiill used for the unsupported browsers can be either > IE11 or > IE9.
The 2 polyffils are:
from Google https://github.com/webcomponents/custom-elements
or https://github.com/WebReflection/document-register-element (used by Google in AMP)

The only thing with custom elements is that their natively ES6 and if you need to target <IE11 then

[2017-06-20 18:03] #10212 closed

[2017-06-20 18:05] IamManchanda opened #10218 "[6.4 RC] Accordion menu getting unwanted styling in develop branch"
![menu-getting-styling](https://user-images.githubusercontent.com/4970624/27348267-121730d8-5611-11e7-9ed8-8c0eab5acfed.png)

[2017-06-20 18:24] brettsmason commented on #10218
@IamManchanda This is actually tied to the submenu toggle that I and others introduced in a PR. This is tied to the `.accordion-menu` class, which is added and removed using the responsive menu plugin. If using an accordion menu by itself then its not needed if that makes sense.

This was all to do with the styling for the submenu toggle: https://github.com/zurb/foundation-sites/pull/9348

Cant re

[2017-06-20 18:29] IamManchanda commented on #10218
Its coming from here ( this should be null by default )
https://github.com/zurb/foundation-sites/blob/develop/scss/components/_accordion-menu.scss#L29-L31

Its getting called here BTW
https://github.com/zurb/foundation-sites/blob/develop/scss/components/_accordion-menu.scss#L76-L88

[2017-06-20 19:13] tsquez opened #10220 "Accordion Menu in Off-Canvas v6.4.0 RC4 - Submenu flashes menu items inline"
I added the new v6.4.0 RC4 release, which corrected a lot of issues and I did add the accordion menu menu to the Off-Canvas Menu.

However when you look at it mobile, the sub menu items flash inline before display properly. Hope that makes sense.

If you like I uploaded the v6.4.0 RC4 WP-Forge to its site. You can view it here https://themeawesome.com/themes/wpforge/ (switch to mobile view) and yo

[2017-06-20 19:28] brettsmason commented on #10220
@tsquez This is down to this issue: https://github.com/zurb/foundation-sites/issues/10150
I'll put a PR together really quickly to address this so it gets included in 6.4 final.

[2017-06-20 20:05] Owlbertz commented on #10208
Yeah, it's a shame that there are so many interpretations/implementations out there.
However, I still feel like we should stick to the (imo) most relevant standard which is the one you linked to.

What does @kball think?

[2017-06-20 20:12] #10175 closed

[2017-06-20 21:07] davestyp commented on #10215
@IamManchanda That's a real nice menu, thanks!

[2017-06-20 21:16] #10218 closed

[2017-06-20 21:19] #10150 closed

[2017-06-20 21:19] #10220 closed

[2017-06-20 21:28] kball commented on #10167
@oxyc I've just tested through the original case (3x `small-4`) along with a number of others with the most recent RC  (RC4) and am not seeing any problems, the responsive gutters all appear to be applying properly and everything is lining up appropriately. If you're still seeing issues can you add a repro case? We're running low on time so sooner the better, thanks!

[2017-06-20 22:12] kball commented on #10141
@janslu this is a really interesting testcase, and a definite bug thank you! I've traced this to an overly generalized reset introduced in #10164. Gonna put together a PR to address it.

[2017-06-20 22:13] tsquez commented on #10220
Sorry about that...I checked if an issue existed and didn't see anything.

[2017-06-20 22:50] oxyc commented on #10167
@kball just tested again with the latest rc and it does work now.

[2017-06-20 23:04] kball commented on #10167
Excellent, going to close this then.

[2017-06-20 23:04] #10167 closed

[2017-06-21 10:01] brettsmason commented on #10213
@getvijayji Is this purely for the link you mentioned, or also on the docs? http://foundation.zurb.com/sites/docs/off-canvas.html

What about off canvas isn't working? Can you be more specific?

[2017-06-21 14:52] jashwant commented on #10202
Updating to 6.4.0-rc2 and using `webpack` and `webpack-stream` ( like foundation-zurb-template-6.4 ), fixed the issue.

About flex grid, transition was easier from float to flex grid.  There was no need to change class names.

Also, it appears to me that x-y grid has more css rules than flex grid and also x-y grid seems complex to maintain. I do not need `y-grid` and `margin-grid` ( though I see t

[2017-06-21 14:52] #10202 closed

[2017-06-21 14:57] jashwant commented on #10199
@brettsmason , the 6.4 Zurb stack link was very helpful. Solved the problem. Thanks.

Any idea, how can I import `masonry` or other wordpress library through webpack ?

I am including wp version of masonry by  `wp_enqueue_script('masonry');`

[2017-06-21 15:15] scoland opened #10223 "Version 6.3.1 on NPM doesn't match up with version tagged 6.3.1 on GitHub"
When installing version 6.3.1 of foundation-sites from NPM I'd expect to get the codebase from the version of foundation-sites on GitHub tagged 6.3.1 (https://github.com/zurb/foundation-sites/tree/6.3.1), yet the two codebases are different.

As an example, I'm trying to use the deep linking accordion functionality added in the following PR [#9664](https://github.com/zurb/foundation-sites/pull/966

[2017-06-21 15:22] brettsmason commented on #10202
@jashwant Yeah I wrote the main Sass mixin so that elements could be easily included or not, as like you I dont need `grid-y` for most projects.

Long term it should be far better than the current flex grid, promise 😄

If you want to mimic the current flex grid, all you need is `.grid-x`, `.grid-padding-x` and `.grid-container` and you should be good to go. It may seem more complex, but I think yo

[2017-06-21 15:23] brettsmason commented on #10199
@jashwant I'm sorry I'm new to Webpack myself and haven't fully got my head around its use yet. I'm hoping the docs on this will be improved as I struggle with it too at the moment.

[2017-06-21 15:50] electrascope commented on #7770
Brett on Mar17 has the best solution! Any progress on getting the sub-level-2 menu arrows to toggle?

[2017-06-21 16:01] benjaminkohl commented on #7802
I'd definitely like to see a fix for this where we can do something like this on the input:
`data-abide-form-error="#myFieldFormErrorContainer"`

[2017-06-21 16:46] stevewinni-cc commented on #8590
We have found the same issue, when creating complex styled forms the validator works but it does not show the error messages;

<form data-abide novalidate action="thank-you-check.php" method="post" enctype="multipart/form-data">
    		<h2>Check if you qualify for funding…</h2>
    		<div class="step-1">
    			<h3><span class="reveal-step">Step 1</span> – enter your details:</h3>

    				<input n

[2017-06-21 17:32] IamManchanda commented on #8590
Hey @stevewinni-cc please use markdown like this below for next time

[code]

See
- https://guides.github.com/features/mastering-markdown/
- https://help.github.com/articles/creating-and-highlighting-code-blocks/

I have edited your comment for this time :)

[2017-06-21 19:20] netobr05 opened #10225 "Forget put rem in line 1666"
.menu > li > a {
    display: block;
    padding: 0.7rem 1rem;
    line-height: 1;
}

[2017-06-21 20:14] IamManchanda commented on #10225
@netobr05 can you be more brief
i mean the version you are using and whats missing ??

[2017-06-21 20:16] netobr05 commented on #10225
Hi

/**
 * Foundation for Sites by ZURB
 * Version 6.3.1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */

Line: 1666

.menu > li > a {
    display: block;
    padding: 0.7rem 1rem;
    line-height: 1; }

[2017-06-21 20:18] IamManchanda commented on #10215
@davestyp I am glad i could help ... Closing this

but also poke @kball .... is there any way those old building blocks can still be used/redirected ??
(though i was not around at that time or have any idea so i dont know the full matter)

[2017-06-21 20:18] #10215 closed

[2017-06-21 20:18] netobr05 commented on #10225
Hi

/**
 * Foundation for Sites by ZURB
 * Version 6.3.1
 * foundation.zurb.com <http://foundation.zurb.com/>
 * Licensed under MIT Open Source
 */

Line: 1666

.menu > li > a {
    display: block;
    padding: 0.7rem 1rem;
    line-height: 1; }

// forget rem ->  line-height: 1rem;

[2017-06-21 20:30] netobr05 commented on #10225
Forget... sorry my mistake.

[2017-06-21 20:32] glennphilp opened #10226 "Incorrect usage for the Cite element"
#### How to reproduce this bug:

When using a blockquote or q element the developer should include a cite attribute or cite element. However, the current usage for [cite](http://foundation.zurb.com/sites/docs/typography-base.html#blockquotes) by Foundation is incorrect.

#### What should happen:

According to: [MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/cite) and [HTML 5 Doctor

[2017-06-21 20:42] #10225 closed

[2017-06-21 22:14] earksiinni commented on #8956
@datenimperator I had this exact same problem. Changing the `data-tab` attribute to `data-tabs` fixed it.

[2017-06-21 22:22] Seanom commented on #10052
I think those floats need to be `$global-left | $global-right` I've just encountered a similar issue with RTL enabled.

Otherwise the push and pull use the wrong side to calculate its position.

[2017-06-21 22:36] earksiinni commented on #8956
This appears to be a bug in jQuery. Newer versions don't have this behavior.

[2017-06-21 22:44] earksiinni commented on #8956
Specifically this: https://github.com/jquery/jquery/issues/2824

[2017-06-22 04:56] canterberrie opened #10227 "Close button doesn't work in 6.4.0-rc3"
#### How to reproduce this bug:

Copy Close Button example from docs, or try to close the examples from the docs: http://foundation.zurb.com/sites/6.4.0-rc/docs/close-button.html

#### What should happen:

Callout should close when I click on the close button

#### What happened instead:

Nothing

#### Browser(s) and Device(s) tested on:

Firefox & Chrome

#### Foundation Version(s) you are using:

[2017-06-22 09:20] IamManchanda commented on #10227
@canterberrie i think by mistake you added a wong codepen :)

[2017-06-22 09:29] IamManchanda opened #10229 "[Menu] Bug - Menu Text not working properly"
Menu Text is just not working properly in develop branch / 6.4 RC

#### How to reproduce this bug:

1. Start [Visual Regression Tests](https://github.com/zurb/foundation-sites/wiki/Testing-Guide#visual-regression-tests)

2. Visit
   - http://localhost:3000/menu/menu-text-flex.html

#### What should happen:
![menu-text-working](https://user-images.githubusercontent.com/4970624/27426978-f0e9fb02-575

[2017-06-22 09:45] IamManchanda opened #10230 "[Menu] Bug/Broken - Horizontal menu in float grid just not working!"
Horizontal menu in float grid just not working aka broken in develop branch / 6.4 RC

#### How to reproduce this bug:

1. Start [Visual Regression Tests](https://github.com/zurb/foundation-sites/wiki/Testing-Guide#visual-regression-tests)

2. Visit
   - http://localhost:3000/menu/horizontal-menu-alignment-float.html
   - http://localhost:3000/menu/horizontal-dropdownmenu-alignment-float.html

####

[2017-06-22 10:44] IamManchanda opened #10231 "[Drilldown Menu] Buggy(Not Broken) - Blue outline while open/close in MAC Safari"
https://drive.google.com/file/d/0B4EN5uGMUjoZZ2ZrbHA0SFpKRTg/view
https://drive.google.com/file/d/0B4EN5uGMUjoZVmhuV2xRYUg1Rm8/view

Is this a bug... I am not sure ??
If yes can we solve this @kball / anyone ??

[2017-06-22 11:16] IamManchanda commented on #10231
Please note that this is related to safari ... i just now tested in chrome and it works!

[2017-06-22 12:01] brettsmason commented on #10231
I'm not sure I can see what you are talking about? The Blue outline?
I notice a lot of outlines on components but I'm not sure they should be there or not.

[2017-06-22 12:03] IamManchanda commented on #10231
Why only on safari and not in chrome etc for mac ,,, This makes me think though ??

PS: Even i am not sure that this is a bug or not :stuck_out_tongue_winking_eye:

[2017-06-22 12:05] IamManchanda commented on #10231
Please note that i have not mentioned this in the **QA** as more or so a Browser Reset Issue!

[2017-06-22 12:22] IamManchanda opened #10232 "[Build System] Foundation Float scss is not working for visual tests"
While working on #10230... me and @brettsmason found out that `foundation-float.scss` is not working and there is issue with build system!

[2017-06-22 12:25] IamManchanda commented on #10230
Gonna close it as me and @brettsmason found out that `foundation-float.scss` is not working and this is not a bug can confirm .... I will mark this as resolved!

[2017-06-22 12:25] #10230 closed

[2017-06-22 12:53] jashwant commented on #10199
Now, I understand that I would either need `weback` or `browserify` or something like that.
`babel` can only convert javascript, but does not do any `require` or `import`.

I have removed `webpack` and using `browserify` instead.

To use `window.jQuery` provided by wordpress core, and and avoiding latest `jQuery` from npm. I used `browserify-shim`.

**package.json:**

[code]

**gulpfile.babel.js**

[2017-06-22 13:02] IamManchanda commented on #10232
@kball
I had tested all these float pages for **menu** in various browsers already ( Chrome (Mac,Win,Ubuntu), Firefox (Mac,Win,Ubuntu), Safari(Mac), and Edge) ... but now i am unmarking all of these pages as this will be unfair to the community :)

**But i will be awaiting your reply and fix so that i can retest it again on these pages :wink:**

[2017-06-22 14:16] canterberrie commented on #10227
@IamManchanda Whoops, I was using another codepen that had the 6.4 as a template and forgot to save :P it's updated.

[2017-06-22 16:43] IamManchanda commented on #10232
Fixed in #10234... closing this!

[2017-06-22 16:43] #10232 closed

[2017-06-22 18:02] IamManchanda commented on #10134
Hmmnnn https://codepen.io/rachelandrew/pen/YZeqMB

[2017-06-22 19:16] IamManchanda commented on #10117
Closing this as major points covered in #10224

[2017-06-22 19:16] #10117 closed

[2017-06-22 20:00] brettsmason commented on #10199
@jashwant Thanks a lot for posting this, that's really helpful! 👍
I may look into using browserify myself rather than webpack, as it seems overly complicated for my requirements.

[2017-06-22 20:03] #10229 closed

[2017-06-22 20:07] kball commented on #10215
We can definitely redirect and/or port them.... in fact I think @rafibomb was going back through and porting some.  If you notice more missing items like this maybe open that on the BB repo?

[2017-06-22 20:23] kball commented on #10231
Interesting... I don't see this on safari 9 either, so it's pretty browser specific... and I just verified the current 6.3.1 has the same behavior for safari 10, so this is a browser reset issue, but not a regression so I think it can slip out past release

[2017-06-22 20:41] #10227 closed

[2017-06-22 21:30] pgnd commented on #10141
@oxyc @brettsmason
Following your discussion about about grid-container gutters, I've set up a simple example for myself with just

[code]

and

[code]

I can vary width of the 'grid-container' at will ... and see the results track.

What I can't figure out is how to *center* that grid in the viewport.

Any combination of the usual margins, padding, etc. that I've tried simply leaves the container

[2017-06-22 23:14] kball commented on #10223
@scoland it looks like there is an issue and mistake - we're about to be releasing 6.4.0, and will follow up quickly with a 6.3.2 patch release with the bugfixes, so hopefully that will resolve.

[2017-06-23 10:00] brettsmason commented on #10141
@pgnd You can use the `grid-container` mixin which accepts a width (uses `$grid-container` by default).
Your container just needs `margin: 0 auto` to align it centrally.

Does that help?

[2017-06-23 11:47] brettsmason commented on #10109
Think we can close this now as the PR was merged adding the ordering classes as flexbox utilities!

[2017-06-23 11:47] #10109 closed

[2017-06-23 13:47] Harti opened #10238 "Sticky doesn't work correctly if used within an iframe in Firefox"
#### How to reproduce this bug:

1. Use Mozilla Firefox
2. Use the Sticky plugin within an iframe that's `display:none`
3. `_setSizes `will throw an exception because `window.getComputedStyle()` returns null.

#### What should happen:
The sticky plugin should work within the iframe

#### What happened instead:
Media queries plugin is messed up and displays smallest breakpoint for the stickied elem

[2017-06-23 14:37] pgnd commented on #10141
@brettsmason

Closer ...

I've now _explicitly_ included the mixin (required?) and the margin spec.

My intention is to define a main grid container that's 95% viewport width.

Where, styles:

[code]

and, markup:

[code]

I see a centered grid container, at width exactly = 1200px, not 95vw (currently expected == 95 x 1/100 * 2100px)

which I assume comes from '_global.scss' or '_settings.scss':

[2017-06-23 14:50] brettsmason commented on #10141
@pgnd You have stumbled across a bug!
See here: https://github.com/zurb/foundation-sites/blob/develop/scss/xy-grid/_grid.scss#L15
Whatever value you pass to `$grid-container` gets parsed through `rem-calc`. I'll put together a PR now to remove this. Then you should just be able to set `$grid-container: 95vw;` and use the built in `.grid-container` class.

[2017-06-23 15:05] slepets-a opened #10240 "New Mastercard cards do not pass validation of the Abide plugin"
Hey, guys.
Mastercard had released new cards starting with 2. Current regex don't let them pass ATM.

Place to fix -> https://github.com/zurb/foundation-sites/blob/develop/js/foundation.abide.js#L538

Thanks.

[2017-06-23 15:09] pgnd commented on #10141
@brettsmason

Thanks for the bug ref.

You committed to 'develop' branch?  Atm, I don't see it -- likely takes a bit.

Re:

I find that I must add the mixins to some element

[code]

Which is not explicitly called out in the docs:
[code]

If I do not, i.e. just
[code]

then gulp whines
[code]

which is a red-herring / nothing to do with what's actually on line 1.

cref:  https://github.com/oddbird

[2017-06-23 15:19] brettsmason commented on #10141
@kball (and anyone else) do you think we need to include a class for padding a `.grid-container` if using margin grids? Following on from [this discussion](https://github.com/zurb/foundation-sites/issues/10141#issuecomment-308300758).

[This should illustrate my issue](https://codepen.io/brettsmason/pen/weqPYp) - Notice the content? I dont want that flush to the edge, I want some padding, but I do

[2017-06-23 15:23] brettsmason commented on #10141
@pgnd [Here is the pull request](https://github.com/zurb/foundation-sites/pull/10239).
I'm a bit lost on what you are trying to do - I'll take a look later.

[2017-06-23 15:26] darolo commented on #8416
The correct selector is **a[href*="#"]**. Change it yourself in magellan script.

[2017-06-23 15:34] pgnd commented on #10141
@brettsmason

thx

Pretty simple, in theory: to end up with an xy-grid contained in a grid container that encompasses 95% of viewport width, is responsive, and is centered.

[2017-06-23 15:38] brettsmason commented on #10141
Sorry I understood that bit, just not how you were going about doing it 😄

[2017-06-23 15:44] pgnd commented on #10141
TBH, I don't care much -- other than as simply as possible!

IIUC that^ needs to start with grabbing your commit ... which I'll get to as soon as I get myself straightened out on the @include syntax.

[2017-06-23 16:12] kball commented on #10141
@brettsmason I think your padding solution makes sense. I know you're traveling, would you like me to implement it?

[2017-06-23 16:25] kball commented on #10240
Thanks for the report @slepets-a! Would you like to submit a PR to fix?

[2017-06-23 16:28] slepets-a commented on #10240
@kball Yeah, sure

[2017-06-23 16:32] IamManchanda commented on #10240
I think this regex fix not only should be 6.3.2 and 6.4
But also this should be documented a fix for earlier versions

[2017-06-23 19:40] slepets-a commented on #10240
I hope I did it right. I'm not sure about ?: at the start of the group. I've tried to figure this out, but it didn't help.
Online regex tester helps me with understanding that "?:" must be added.

[2017-06-23 19:50] brettsmason commented on #10141
@kball would you mind? Only have my phone and might be a bit difficult :)

I was thinking 2 variables - one to control the padding (defaults to the gutter map) and one to set the width where the padding applies up to? Defaults to global width.

I don't know if it would be better as a max width media queries, or just from the variable width above the left/right padding gets set to 0, and the paddin

[2017-06-23 21:17] adamthedeveloper commented on #9197
I'm using 6.3+ and this still isn't working for me. Have you confirmed that this works currently for top bars with title, left, and right? Can you look at this example?

`<div class="top-bar">
    <div class="top-bar-title">
        <button class="menu-icon dark hide-for-medium" type="button" data-open="leftOffCanvas"></button>
        <strong>BRILLIANT</strong>
    </div>
    <div class="show-for

[2017-06-23 22:24] diaboloshogunate commented on #8896
+1

[2017-06-24 00:21] andrewfrankel opened #10242 "iPad Sticky Misaligned on is-stuck"
#### How to reproduce this bug:

1. Pull up sticky example on iPad: http://foundation.zurb.com/sites/docs/sticky.html
2. Scroll until any sticky activates
3. See position of element jump

(also reproduced in local site dev)

#### What should happen:

when sticky, item should keep horizontal position.

#### What happened instead:

item jumps horizontally

<img width="1097" alt="screen shot 2017-06-

[2017-06-24 05:43] jashwant commented on #10141
1. Websites usually have spaces between columns and rows. So, shouldn't it be included by default ?
From what I understand, I need to add `grid-x` and `grid-margin-x` ( or `grid-padding-x` ) to every row now.  I think spacing ( gutter ) should be included by default ( like previous versions of foundation )  and there should be a class like `grid-margin-0` to remove spacing between columns.
May be

[2017-06-24 06:41] overlapjho opened #10243 "var_dump with xdebug won't show the result"
#### How to reproduce this bug:

1. After you create a simple layout
2. use var_dump() inside <html>
3. inspect element on the blank space area

#### What should happen:

it should show the result of the var_dump

#### What happened instead:

created a blank wide space

#### Browser(s) and Device(s) tested on:

pc, google chrome, firefox

#### Foundation Version(s) you are using:

foundation 5

[2017-06-24 06:51] brettsmason commented on #10141
@jashwant I'm on holiday at the moment with limited access so apologies if this reply is a little vague:

1. We made the decision to have no spacing (gutters) by default as this allows the user to make a choice - do they want margin or padding, without having to first remove one or the other. I stand by this decision and think its the correct one.

2. `.grid-container` is for wrapping your grid to

[2017-06-24 07:43] Deckluhm commented on #10243
[`var_dump()`](http://php.net/manual/en/function.var-dump.php) being a server side function, I don't see how this can be a Foundation bug?

Or maybe I'm missing something.

[2017-06-24 08:27] overlapjho commented on #10243
it might not be a bug directed to the foundation but it is incovenient to use var_dump with foundation because it wont show the result unless the default value for overflow css of <pre> is visible

Sent from Yahoo Mail on Android

  On Sat, Jun 24, 2017 at 3:43 PM, Arnaud Thomas Desessarts<notifications@github.com> wrote:
var_dump() being a server side function, I don't see how this can be a Found

[2017-06-24 15:28] oxyc opened #10244 "[XY-Grid] responsive auto classes do not evenly distribute the space."
#### How to reproduce this bug:

1. Create a `grid-x`
2. Add 2 cells, both with `large-auto` classes.
3. Add varying content to the cells.

#### What should happen:

They should split 50/50 just like `auto` does.

#### What happened instead:

The cell with longer content takes up more space than the other.

#### Browser(s) and Device(s) tested on:

Chrome 59

#### Foundation Version(s) you are usi

[2017-06-24 16:05] oxyc commented on #10244
Added another bug where `auto` overrides any cell count specified on a larger breakpoint. Meaning you can't do `cell medium-auto large-4`. I'm guessing this is related.

[2017-06-24 20:19] IamManchanda opened #10248 "[Menu] IE11 specific - text input not working with menu form!"
This is very IE11 specific. Text input not working properly with menu form!
I am not facing this in  other IE/Edge

#### How to reproduce this bug:

1. Start [Visual Regression Tests](https://github.com/zurb/foundation-sites/wiki/Testing-Guide#visual-regression-tests)

2. Visit
http://localhost:3000/menu/menu-form-float.html

#### What should happen:

https://i.imgur.com/PKS9lxq.png

#### What hap

[2017-06-24 20:31] IamManchanda opened #10249 "[Menu] IE9 - Responsive menu not working - float grid - Fully Broken!"
Visit http://localhost:3000/menu/responsive-menu-float.html
( Visual Testing )

[2017-06-25 04:44] mikeevstropov commented on #8590
I'm always using JS that force to show error message.

[code]

[code]

[2017-06-25 08:35] broros commented on #10249
This is just pissing me off....

![screen shot 2017-06-25 at 1 30 54 am](https://user-images.githubusercontent.com/598228/27514686-624c5712-5946-11e7-9662-93ba9aaedeec.png)

[2017-06-25 08:45] IamManchanda commented on #10249
**@broros This is unrelated to the issue i mentioned after the cross browser testing we are having for the tuesday release for 6.4.**

But i would like to help you
It Seems like (from the url) that you are using an old version of foundation
Can you download the latest release => https://github.com/zurb/foundation-sites/releases
and let us know if the issue still exists and which browser ??

[2017-06-25 15:38] IamManchanda commented on #10243
@overlapjho ... can you send some code (maybe a zip or a github repo).... maybe i would be able to help you!

[2017-06-25 19:08] Vuurvlieg commented on #10249
Who cares about IE9 anyway

[2017-06-25 22:51] tbaraniecki commented on #10015
`$breakpoints: (
  small: 0,
  xsmall: 380px,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
) !default;`

And still got: WARNING: breakpoint(): "xsmall" is not defined in your $breakpoints setting.

[2017-06-26 04:58] IamManchanda commented on #10249
I also now don't care with browser usage being frankly zero, but the thing is we need to keep it till 6

Legacy Float Grid (and even legacy flex grid) will be removed in F7
That being said @kball... Can't we have a dep notice now and remove it in 6.5?

[2017-06-26 05:25] broros commented on #10249
I am using version 6.3.1, I think this is the latest version, I also downloaded the flex grid option.

[2017-06-26 05:48] IamManchanda commented on #10249
@broros Yup the top bar issue https://github.com/zurb/foundation-sites/issues/9871

I [fixed](https://github.com/zurb/foundation-sites/pull/10056) this actually, it mainly a wrong flexbox example of a top bar. The html for flex version of a top bar is this => https://codepen.io/IamManchanda/pen/OmBVZE?editors=1100

[2017-06-26 06:06] IamManchanda commented on #10244
Oh dang this Bug fix https://github.com/zurb/foundation-sites/pull/10222/files
created a bug!

==> https://drive.google.com/file/d/0B4EN5uGMUjoZWlNEeTNDdHE1T28/view

[2017-06-26 06:42] IamManchanda commented on #10119
https://github.com/zurb/foundation-sites/pull/10122#issuecomment-310976107

[2017-06-26 06:42] #10119 closed

[2017-06-26 07:16] hari03 opened #10252 "[Off-canvas] Foundation 6.3.1 : Non Sticky Top Bar inside Off Canvas Content"
I have been trying to make the `title-bar` or any element for that instance to be `sticky` inside my `off-canvas-content` container.

#### How to reproduce this bug:

1. Copy the `off-canvas` boilerplate code from [Zurb F6 Off Canvas Documentation](http://foundation.zurb.com/sites/docs/off-canvas.html)
2. Inside the `<div>` with `class = "off-canvas-content"` , copy paste the **_Sticky Navigation_

[2017-06-26 07:35] mattbag commented on #10134
I will attach a point that appears important to me: while compiling the current version for --production, @supports not () is trashed by uncss. (I couldn't find a way to exclude)

[2017-06-26 08:53] IamManchanda commented on #10252
Let me check and get back to you!

[2017-06-26 10:15] stevewinni-cc commented on #8590
Update - After looking at this it appears that Abide wanted all of the Inputs surrounded by labels not just the ones which were being validated against. once all inputs were enclosed with labels the error messages showed correctly...

[2017-06-26 13:16] Clijsters commented on #10211
You do'nt have to know the print width at render time; a construct like
[code]
should also do the trick, but it seems to be a thing by design in foundation.
Thanks for clarifying.

[2017-06-26 13:39] Odaeus opened #10254 "[Forms] Unnecessary background color on <legend>?"
A styled `fieldset > legend` element currently [has the background color set to `$body-background`](https://github.com/zurb/foundation-sites/blob/develop/scss/forms/_fieldset.scss#L35). This is confusing as I don't expect a legend to pick up the page background colour. The form may be in an area with a different background colour, for example.

#### How to reproduce this bug:

1. Add a `<div>`
2.

[2017-06-26 13:58] IamManchanda commented on #10134
Only thing i can say you to all you guys @Timoti @gregwhitworth @joeworkman @JeremyEnglert @Baedda and also @zurb/yetinauts that how can IE just stop the such advancement of the web where you feel like you are using frankly **maths** and/or **paintbrush** to design a web rather than the codes!

![css-grid-paintbrush](https://user-images.githubusercontent.com/4970624/27542463-f0345dd6-5aa4-11e7-9df

[2017-06-26 14:01] IamManchanda commented on #10134
@kball @brettsmason I mean just compare this few line of code with hardwork you guys have put in for frame grid (if i am understanding correctly)

[code]
Source: https://codepen.io/IamManchanda/pen/zzEmXp?editors=1100

[2017-06-26 14:32] IamManchanda commented on #10134
Another very big reason why css grid should be used
is the **Nested Grid** => https://codepen.io/rachelandrew/pen/NqQPBR

Currently we are hacking like this

[code]
and what we are getting

[code]

Instead with **css grid**, **without any hack** we can just do

[code]

[2017-06-26 15:06] IamManchanda commented on #10134
One another very big reason why css grid and flexbox should be used **together** is that they share the same [**Box Alignment Module**](https://rachelandrew.co.uk/css/cheatsheets/box-alignment) which powers them both

-----

@JeremyEnglert

I admit it sucks to support multiple grids but if we not going to support css grid, how will the web move forward... You cant just say no to web enhancement be

[2017-06-26 15:21] rafibomb commented on #10254
Makes sense since padding is creating the spacing that background can be set to none. Are yo able to submit a PR for it?

[2017-06-26 15:38] Odaeus commented on #10254
@rafibomb will do! :)

[2017-06-26 15:43] rafibomb commented on #10254
Awesome! I'll look for it then we'll merge it in!

[2017-06-26 17:19] rafibomb commented on #10249
This issue is about this problem:
![screen shot 2017-06-26 at 10 17 44 am](https://user-images.githubusercontent.com/5652085/27551567-c8f622c8-5a58-11e7-9a19-cf3d0d197448.png)

The sub-menu items are not hidden by default nor vertical.

[2017-06-26 17:20] IamManchanda commented on #10249
Yup! @rafibomb ... sorry for not having a screenshot ... i forgot :disappointed:

[2017-06-26 17:27] rafibomb commented on #10249
Looks like it's not a CSS issue as both Flex and Float version have similar issue. There was some recent work to update this plugin and could have been introduced there: https://github.com/zurb/foundation-sites/commit/d9b2a5cbf242d68ca3165c8878c99c7a5f32db18

@kball can you take a look?

[2017-06-26 17:29] IamManchanda commented on #10249
Just for the records : I didnt check flex grid and marked it as **N/A** on QA as flex version doesnt support IE 9!

[2017-06-26 18:34] natewiebe13 commented on #10223
@scoland, @kball, we are experiencing this as well. It is due to having a `6.3.1` tag and a `v6.3.1` tag. For now, we are referencing commit `fc578179ab1718c18216f88b2ff5b04c70532d53`. @kball, can this not just be resolved by removing the incorrect tag, or would this cause more issues?

[2017-06-26 18:48] kball commented on #10244
Bother... so it looks like the situation is that the `:not` values from #10222 are actually adding specificity, which makes that fix far less useful. I believe we were operating under the assumption that they would not do that. Need to dig into alternatives.

[2017-06-26 19:48] #10249 closed

[2017-06-26 19:56] #10161 closed

[2017-06-26 19:56] #10248 closed

[2017-06-26 19:56] #10189 closed

[2017-06-26 20:24] kball commented on #10223
@natewiebe13 that will not resolve it for npm unfortunately, but we should resolve this very soon. 6.4.0 coming out TOMORROW and should be able to get 6.3.2 out pretty quickly following that

[2017-06-26 20:33] #10244 closed

[2017-06-26 20:47] kball commented on #10211
That's an interesting point and idea... we should consider updating print functionality. I'm not sure it makes sense to automatically support all of the breakpoints - you don't always want print to work the same as web - but perhaps allow you to specify a list of breakpoints?

[2017-06-26 20:48] kball commented on #10211
cc @anselmdk, @ncoden, and @andycochran  - what do you think about making the print styling breakpoints even more flexible?

[2017-06-26 23:20] rafibomb commented on #10249
yeah - what I'm trying to do is locate the issue - since the js is not hiding the submenus it is a JS issue

[2017-06-27 08:25] anselmdk commented on #10211
I'm pretty happy with the way printing works since we did the print refactoring. @Clijsters I usually tend to adjust page-specific styling afterwards. Maybe I'm not completely understanding your problem? Could you send a screenshot of what you're experiencing, and one of what you'd expect?

[2017-06-27 13:17] matthewhegarty opened #10263 "F6 blog.html template pagination links in wrong place in mobile viewport"
#### How to reproduce this bug:

Visit [this page](http://foundation.zurb.com/templates-previews-sites-f6/blog.html) in mobile browser view.  Scroll down until you see the pagination links

#### What should happen:
I think the pagination links should appear after the blog posts

#### What happened instead:
The pagination links appear after the right hand side panel.

#### Browser(s) and Device(s)

[2017-06-27 18:18] Moonbase59 opened #10265 "Sites 6.4.0 -- Install messages & warnings; shows F6.4.0-rc5 docs on localhost from _build"
Hi everyone, thanks for putting so much effort into F6.4 and xy-grid!

If you’re interested, I just git cloned (hopefully the correct release, it shows the same cloning link on all branches/tags?) and here are a lot of warnings. I just include all terminal messages from "git clone" on.

Funny enough, when doin "npm start", it shows "foundation-sites@6.4.0-rc5 start …" and then (in the browser) the

[2017-06-27 18:32] kball commented on #10265
Hi @Moonbase59

It took me a few minutes to merge over into the `develop` branch after publishing, I think that's what you're seeing with the 6.4.0-rc5... try pulling from `develop` and see if you still have issues

[2017-06-27 19:36] Moonbase59 commented on #10265
Trying `develop` now.
Which would be the correct branch for the stable 6.4.0 release (for production)? `master`?

[2017-06-27 19:43] Moonbase59 commented on #10265
@kball: First results here, still errors. Guess I should call it a day, let you do your work and come back tomorrow … :-) [9:43 pm here]

[code]

[2017-06-27 20:33] kball commented on #10265
This is very odd - the dependencies don't appear to be building properly in linux... @IamManchanda you are on linux, no? Can you take a look?

[2017-06-27 20:38] IamManchanda commented on #10265
Sure i can surely take a look... not right now but very soon
Thanks for reporting @Moonbase59 ... { I am amazed btw }

[2017-06-27 20:39] klihelp commented on #9858
Is this resolved and made it into the 6.4?
https://github.com/zurb/foundation-sites/releases/tag/v6.4.0

[2017-06-27 22:58] Moonbase59 commented on #10265
Please keep me (us) updated … I’m solely developing on Linux, mostly Ubuntu and Linux Mint.
Cheers for the support @kball @IamManchanda

[2017-06-27 23:00] colinmackinlay opened #10271 "Sites 6.4.0 ResponsiveAccordionTabs when updating"
#### How to reproduce this bug:
1. 6.3.1 project
2. Update foundation sites dependency in bower.json: "foundation-sites": "~6.4.0",
3. bower update / foundation update / npm update -g foundation-cli
4. npm build

#### What should happen:
should build with no errors
#### What happened instead:
fails because config.yml still contains - "bower_components/foundation-sites/js/foundation.zf.responsiveAc

[2017-06-28 06:45] HaakonME commented on #7815
I am working on a Portfolio widget with the modes "Modal", "Card" and "Orbit" based on Foundation 6 for inclusion in user webpages created with Hubzilla, a decentralized and privacy respecting publishing solution. The idea is to allow an automated and hands-off portfolio for painters, photographers and other artists, with flexibility for web developers.  I am nearly done, so this will be included

[2017-06-28 08:05] aaronjpitts opened #10272 "Accordion options for Responsive Accordion Tabs not working when passing them as an object programmatically"
When using Responsive Accordion Tabs programmatically and passing the accordion options as an object, they are not used. For example the below doesn't implement these options.

[code]

[2017-06-28 08:45] Moonbase59 opened #10273 "6.4.0 ZURB Template missing dependencies on "foundation new""
Trying another approach to getting F6.4.0 installed today:

Using Ubuntu 14.04.5 LTS/node 6.11/npm 5.0.4/foundation-cli 2.2.3.

Doing a `foundation new` and selecting the ZURB Template states it has installed the bower components (jquery, motion-ui, what-input) but doesn’t. (motion-ui 1.2.3 is installed as a node-module, though.)

Manually running 'bower install' fails due to missing 'bower.json'.

[2017-06-28 09:20] Chillwabbitt opened #10274 "Error in plugin webpack-stream"
Hi

I've just installed the newest version of foundation-cli, when using it with my existing project I don't seem to have an issue, however after creating my new project, I cannot use the commands build or watch without receiving an error as follows:

#### How to reproduce this bug:
1. Open terminal
2. cd to sites directory
3. exec foundation new
4. ? What are you building today? **A website (Foun

[2017-06-28 09:30] sn0rcha opened #10275 "Error building with WebPack"
#### How to reproduce this bug:

1. type npm run build

#### What should happen:
Build file for production

#### What happened instead:
Displays an error:
ERROR in static/js/vendor.752b0ac1e9cb80c50795.js from UglifyJs
Unexpected character '`' [./~/foundation-sites/js/foundation.util.core.js:24,0][

Anyone else had this - Use to compile foundation 5 no probs.

Cheers,
Ben

[2017-06-28 09:40] Chillwabbitt commented on #10274
I did notice that the command foundation watch still works on my existing projects that I ran update on.

[2017-06-28 09:50] Vout commented on #10274
I noticed the watch command isn't available in the gulp file anymore.

Add the following lines to the gulpfile and it should work again,

`gulp.task('default',
  gulp.series('build', watch));`

and

`// Watch for changes to static assets, pages, Sass, and JavaScript
function watch() {
  gulp.watch(PATHS.assets, copy);
  gulp.watch('src/scss/**/*.scss').on('all', sass);
  gulp.watch('src/js/**/*.js

[2017-06-28 09:51] Moonbase59 opened #10276 "6.4.0 mixin xy-cell-breakpoints gone?"
I’m about to try the xy-grid for a new site, using semantic HTML and as few "presentation classes" as possible. Meaning, I try to pack most of it into the CSS using SASS.

A few days ago, I could find (and was happy about) a mixin "xy-cell-breakpoints" in the docs (http://foundation.zurb.com/sites/docs/xy-grid.html#responsive-grids), but it seems to have gone:

[code]

What’s the status of this on

[2017-06-28 09:58] Chillwabbitt commented on #10274
That didn't work for me and my files look identical.

[2017-06-28 10:49] Chillwabbitt opened #10277 "foundation update"
I suspect foundation update command not working as intended

#### How to reproduce this bug:

1. cd into a project created with the previous version of Foundation (6.3.1)
2. run command foundation update

#### What should happen:
The foundation project should be updated to 6.4.0

#### What happened instead:
unsure but when trying to use the new xy mixin I got the following error:

Message:
    src

[2017-06-28 10:56] Vout commented on #10274
I tried your steps, and you are correct. Solved it however by doing the following,

`npm install jquery`

Then the next error will come up... what-input so,

`npm install what-input`

Foundation build and watch are properly running again.

[2017-06-28 10:57] ttyson99 commented on #10274
+1 on that solution

[2017-06-28 11:00] Chillwabbitt commented on #10274
Thanks @Vout that got it sorted.

[2017-06-28 11:00] #10274 closed

[2017-06-28 11:01] sebastiansulinski opened #10278 "[Reveal] new instance of Foundation.Reveal (docs)"
I think you might have a typo in your docs referring to `Reveal` [http://foundation.zurb.com/sites/docs/reveal.html#js-class](http://foundation.zurb.com/sites/docs/reveal.html#js-class)
- it says that in order to instantiate it you need to use:

[code]
which I believe should be

[code]
(but I might be wrong?)

[2017-06-28 11:02] Chillwabbitt commented on #10273
Check the solution in #10274 see if that works for you.

[2017-06-28 11:03] sebastiansulinski commented on #10278
Hmm - seems like you're using it for all components - didn't seem to work for me until I changed to the actual class name?

[2017-06-28 12:02] relwiwa commented on #10275
I also run into this error message, when running webpack -p:
ERROR in bundle.9ee204eb21bbc5e1172c.js from UglifyJs
Unexpected character '`' [bundle.9ee204eb21bbc5e1172c.js:10400,124]

There is an ES6 template literal at this line of code:
return Math.round((Math.pow(36, length + 1) - Math.random() * Math.pow(36, length))).toString(36).slice(1) + (namespace ? **\`-${namespace}\`** : '');

I don't u

[2017-06-28 12:36] Utakka opened #10279 "Error: Base-level rules cannot contain the parent-selector-referencing character '&'"
I try to use Foundation 6.4 (sass) with xy grid.

Error message:

`Error: Base-level rules cannot contain the parent-selector-referencing character &.
on line 311 of lib/foundation/scss/xy-grid/_classes.scss, in xy-vertical-grid-classes
from line 449 of lib/foundation/scss/xy-grid/_classes.scss, in foundation-xy-grid-classes
from line 10 of css/main.scss`

System:

Windows 10
Ruby
Sass 3.4.24

[2017-06-28 13:01] relwiwa commented on #10275
So I figured out what was going on:

Foundation files aren't transpiled to ES5, according to its documentation:

I had excluded the node_modules folder for babel-loader, so Babel did not transcompile the Foundation files.

It now works, after changing the config from exclude to include like this:
rules: [{
test: /\.js$/,
use: 'babel-loader',
include: [
  path.resolve(__dirname, 'src'),
  **path.re

[2017-06-28 13:10] matthewhegarty opened #10280 "Zurb Template: 'ENOENT no bower.json present' documentation issue?"
If you follow the [instructions to install the Zurb Template](http://foundation.zurb.com/sites/docs/installation.html) then the `bower install` step fails.

The Foundation Sites installation documented on the same page works ok.

#### How to reproduce this bug:

1. Step one

Create a Zurb Template project following the steps [here](http://foundation.zurb.com/sites/docs/installation.html)

2. Step

[2017-06-28 13:15] genesis-wp opened #10281 "[Welcome to Foundation 6] full width"
Hello!
I'm tring display full width image, but work not. Have is it some code for help me this? Look the img below:
http://prntscr.com/fp5v06

My code:
#banner-homepage {width: 100%; padding-left: 0; padding-right:0!important;margin-left:0;margin-right:0 !important; }

[2017-06-28 13:22] ahdigital commented on #9151
This is still an issue in version 6.4.

[2017-06-28 13:32] Moonbase59 commented on #10280
Duplicate of #10273 ?

[2017-06-28 13:36] Moonbase59 commented on #10273
Thanks @Chillwabbitt that’s what I said above—same solution.

[2017-06-28 13:50] stephane-r opened #10282 "$grid-column-gutter return isn't a valid CSS value"
I community,

I would like compile scss source of latest Foundation 6.4.0, but i've this error :

[code]

My **_settings.scss** :

[code]

#### Foundation Version
6.4.0

#### Node version
8

Anyone have idea ? I've been import util module :

`@import '~foundation-sites/scss/util/util';`

Thank you !

[2017-06-28 14:03] lukeyouell opened #10283 "Reveal animation issue"
#### How to reproduce this bug:

1. Create Reveal modal with animation
2. Open modal
3. Attempt to close modal

#### What should happen:

1. Animations should be visible
2. Modal should be closable

#### What happened instead:

2. No animations visible
3. Cannot close modal

#### Browser(s) and Device(s) tested on:

Chrome, iMac

#### Foundation Version(s) you are using:

6.4.0

[2017-06-28 14:07] WnP opened #10284 "Vertical slider with two handles doesn't behave as expected"
#### How to reproduce this bug:

1. Create a "two handles" slider like discribed in [foundation 6 documentation](http://foundation.zurb.com/sites/docs/slider.html#two-handles)
2. Add `vertical` class and `data-vertical="true"` as describe in [foundation 6 vertical slider documentation](http://foundation.zurb.com/sites/docs/slider.html#vertical)

#### What should happen:

"Two handles" should behav

[2017-06-28 14:44] stephane-r commented on #9310
@rafibomb Same issue in 6.4.0, but with `$grid-column-gutter`

[2017-06-28 15:00] marvinhuebner commented on #10141
Is there something from float/flex grid?

[code]

With the xy-grid i would write something like this:

[code]

Would be cool if i could save the two extra divs.

[2017-06-28 16:03] #10254 closed

[2017-06-28 16:10] IamManchanda commented on #10265
@Moonbase59 Seems like your issue is resolved #10273 and #10274 ... Are you still facing any issues... do you still want me to check ... if yes please let me know ??

[2017-06-28 16:15] IamManchanda commented on #10265
and sorry for late reply but i was able to get at github right now only after my above comment last night :D

[2017-06-28 17:12] IamManchanda commented on #10283
You must be missing **motion ui**

For installing motion ui, here are the options
1. If you are using zurb template, motion ui is already included
2. If you are not using zurb template, download motion ui from here https://github.com/zurb/motion-ui
3. Use a web cdn https://cdnjs.com/libraries/motion-ui

[2017-06-28 17:16] IamManchanda commented on #10284
Updated your codepen to 6.3.1 (you were using 6.2.4)
https://codepen.io/IamManchanda/pen/YQYrNx

Yes the issue exists seems like... (cc @kball )

[2017-06-28 17:26] IamManchanda commented on #10280
Thanks @matthewhegarty but seems like this is already been requested.. i am gonna close it but feel free to reply with any concerns!

[2017-06-28 17:26] #10280 closed

[2017-06-28 17:34] IamManchanda commented on #10278
Yeah if remember it correctly, it was `Foundation.Reveal` , `Foundation.Accordion` etc only before

Poke @kball - Was it changed ??

[2017-06-28 17:34] kball commented on #10141
Hi @marvinhuebner - for a padding grid, you can actually combine the container with the grid... so something like
[code]

[2017-06-28 17:36] tsquez opened #10285 "Still Getting Errors in Google Dev tools console"
I am using the complete version offered at http://foundation.zurb.com/sites/download.html/ in my WordPress theme WP-Forge and I am still getting JS errors in Google dev tools console.

`Uncaught TypeError: __WEBPACK_IMPORTED_MODULE_1__home_deployer_sites_node_foundation_customizer_node_foundation_customizer_foundation_sites_js_foundation_core__.a.addToJQuery is not a function
    at Object.<anonym

[2017-06-28 17:39] kball commented on #10282
Hi @stephane-r - can you post more of a backtrace? It looks a little like somewhere the `$grid-column-gutter` variable is being used directly for a CSS value rather than as an input to a mixin (which is the typical behavior within the framework), but the backtrace posted shows only the place where the variable declared

[2017-06-28 17:40] IamManchanda commented on #10141
This is enough i guess for me

[code]

[2017-06-28 17:44] kball commented on #10279
Interesting, this appears to be a real bug, but node-scss did not catch it (silently doing the "right thing" by outputting a top level class. Putting together a PR to fix it, we'll get out a patch release soon once we have any more items like this straightened out

[2017-06-28 17:44] IamManchanda commented on #10276
cc @kball @brettsmason ?

[2017-06-28 17:48] kball commented on #10278
Bother, this is a docs and autogenerated JS docs issue. _setup should be internal, the correct way to instantiate is `new Reveal($element,  options)` (or if using global namespace, `new Foundation.Reveal($element, options)`)

I'll fix this later today.

[2017-06-28 17:56] kball commented on #10276
Bother I think this made it into the docs at some point but the final PR for this was never merged as we did not get it working with responsive gutters yet (handling responsive gutters with the margin-based grids is unfortunately quite complex).

@Moonbase59 would you be interested in helping get PR across the line? (https://github.com/zurb/foundation-sites/pull/10171)

[2017-06-28 17:57] kball commented on #10272
@designerno1 would you be able to take a look at this?

[2017-06-28 18:01] kball commented on #10271
Thanks for the report @colinmackinlay! Will update release notes later today, as updating the JS from 6.3.X to 6.4.0 definitely has a couple nonobvious pieces - I don't think simply commenting this out is sufficient.

For a reference for now check out how we're handling the JS build now in the 6.4.0 template: https://github.com/zurb/foundation-zurb-template/blob/master/gulpfile.babel.js#L112

[2017-06-28 18:19] nordanfors commented on #9797
Is this fixed or even looked at yet? I'm having the same issue and my client is not impressed to say the least. Is there any workaround to get it working somehow?

[2017-06-28 18:25] coetry commented on #10279
The same thing happens on line 65 of /scss/components/_accordion-menu.scss in 'zf-accordion-menu-left-right-arrows'

[2017-06-28 18:29] kball commented on #10279
@coetry good catch... @IamManchanda @brettsmason within drilldown and dropdown the arrows are included only within parent classes (`.drilldown` and `.is-dropdown-submenu-parent` respectively)... do you think that should be the case for accordion menu as well?

[2017-06-28 18:32] kball commented on #10285
@tsquez I believe the external declarations as they are today may assume access to `$`... we can almost certainly resolve this, but to check can you try running `window.$ = window.jQuery` in a script just before you include the foundation js?

[2017-06-28 18:36] kball commented on #10285
Actually, looking once again at our config I wouldn't expect that to be a problem. Hmm... To track this down, previously you were testing against the build from the dist folder in the package... can you see if that JS works for you? I'm wondering if there's something going on with the way the customizer is generating the js...

[2017-06-28 18:38] IamManchanda commented on #10279
Yes it should be ... let me see! @kball

[2017-06-28 18:43] tsquez commented on #10285
@kball - OK I used the js from the rc4 dist folder I had and everything works now and there are no errors in GDT.

[2017-06-28 18:44] kball commented on #10285
Interesting... ok, so it sounds like the customizer JS isn't working in your case... digging into it

[2017-06-28 18:48] Assiel commented on #9380
yo hice todo eso y tranquilo el problema que me da es que esta enviando mas veces el ajax,
ejemplo: de entrada si le doy guardar guarda una sola vez y entra en el ajax una sola vez, si le vuelvo a dar guardar me guarda 2 filas mas tomando lo que tengo seteado en los campos, nuevamente si le doy guardar me guarda 3 filas y asi sucesivamente

[2017-06-28 18:48] tsquez commented on #10285
sounds good, but actually let me do this. I am going to download the github files and see if that js file works. I normally don't download the complete.zip - I usually use the distro from the repo. let me do that real quick and see what happens.

[2017-06-28 18:51] kball commented on #10285
Found it! Fixing

[2017-06-28 18:53] tsquez commented on #10285
YOU DAH MAN!!!

[2017-06-28 18:55] tsquez commented on #10285
Yeah I downloaded the latest version from here and used the files from the distro folder and everything works great. Glad you able to narrow it down. I am going to close this.

[2017-06-28 18:55] #10285 closed

[2017-06-28 18:57] kball opened #10287 "Global Foundation.MediaQuery reference in foundation.core"

[2017-06-28 19:00] kball commented on #10285
Customizer fixed. Thanks again for the report and helping track this down quickly @tsquez!

[2017-06-28 19:07] tsquez commented on #10285
Anytime amigo

[2017-06-28 19:54] Deckluhm commented on #9380
@Assiel can you please write your comment in english?

[2017-06-28 20:02] #10279 closed

[2017-06-28 20:04] colin-marshall commented on #10127
I tried to reproduce and could not with the latest version of node (8.1.2). Is this still a problem @michaelfriedman?

[2017-06-28 20:06] Assiel commented on #9380
ya lo resolvi, el problema era que le habia agregado el evento click al boton submit y agregue el codigoo de formvalid

[2017-06-28 20:09] Moonbase59 commented on #10276
@kball I might be able to offer some testing maybe, but still consider myself quite a Foundation beginner, especially regarding the xy-grid.

[2017-06-28 20:15] Moonbase59 commented on #10265
@IamManchanda If you have time, you _could_ have a quick look if it really only was the missing fsevents (only needed for Darwin, not for Linux/Win).

I could get my test project working as per #10273 so it’s not really high priority now.

[2017-06-28 20:18] #10240 closed

[2017-06-28 20:20] kball commented on #10273
Added in https://github.com/zurb/foundation-zurb-template/commit/dbb54764b20bec3ca2c666de51318c7ea656f8c4

[2017-06-28 20:20] #10273 closed

[2017-06-28 20:22] kball commented on #10275
There are ES5 versions included in the `dist` folder, with no module environment but rather bundled for the browser... does that match your needs?

[2017-06-28 20:25] colin-marshall commented on #10277
@Chillwabbitt you probably need to manually update your `app.scss` file to include the new XY grid. This doesn't get automatically updated when you run `foundation update`. Copy over the latest version of `app.scss` to your project:
https://github.com/zurb/foundation-zurb-template/blob/master/src/assets/scss/app.scss

Let me know if this fixes it for you.

[2017-06-28 20:56] sn0rcha commented on #10275
I managed to get around this by including the foundation js folder in my babel-loader config, works like a charm now ;)

[2017-06-28 21:15] relwiwa commented on #10275
The dist versions wouldn't help, as I'm really happy about Foundation's support of ES6 modules and also managed to make it work.

I was wondering what the reason behind distributing the modules with ES6 and not ES5 syntax is. I never ran into this issue with Babel Loader/UglifyJS before. So I assume that all the other NPM modules are (still) transpiled to ES5 before being distributed.

[2017-06-28 21:22] kball commented on #10275
@relwiwa that decision predates my involvement with the project.. @gakimball do you have more of the backstory there?

[2017-06-28 21:52] Moonbase59 opened #10289 "6.4.0 sticky doesn’t stick (no .is-stuck)"
Sticky doesn’t set `.is-stuck` and thus doesn’t work currently.
Sticks when setting `.is-stuck` manually in the browser (Firefox 54.0).

Same page works fine in Foundation 6.3.1.

Simple test case:

[code]

[2017-06-28 22:55] kball commented on #10278
This turns out to be tricker than I thought it would be... there's a lot of jsdoc magic going on here, and it's not properly handling the class inheritance added in 6.4.0. I can brute force it, (did a couple like this in this branch: https://github.com/zurb/foundation-sites/compare/master...fix-autodoc-for-js?expand=1) but I think the real answer is to dig into how jsdoc handles ES2015 classes and

[2017-06-29 03:11] hireahenchman opened #10290 "6.4 Release icon-top doesn't appear to work"
#### How to reproduce this bug:

The icon-top doesn't appear to work. It's not working in the foundation 6.4 documentation either so I can only assume it's a bug in the release?

#### What should happen: Icon should be on top

#### What happened instead: icon is left aligned

#### Browser(s) and Device(s) tested on: Mac Safari & Chrome

#### Foundation Version(s) you are using: 6.4

[2017-06-29 03:50] kball commented on #10289
Hi @Moonbase59,
Can you give me a little more detail about the way you're building and instantiating the Foundation javascript?

I'm seeing sticky work and set `.is-stuck` properly in our visual tests and docs. That said, it is highly possible there's a way to build or instantiate that is not getting it to initialize properly, and that flow has changed quite a bit under the covers from 6.3 to 6.4

[2017-06-29 03:53] kball commented on #10290
I'm seeing this as well... will put together a PR to fix and we can include it in 6.4.1, which I think will turn around later this week as we see more issues come in from the wider audience on 6.4

[2017-06-29 04:00] kball commented on #10290
Actually, looking at this now I think this might have been a change that didn't make it into the docs... it looks like we now expect the `.menu` to have `.icons` to declare some general icon styles and then an `.icon-left` or `.icon-top` to position.

My guess would be that this would be to improve our css structure & lower specificity, which was a large motivation behind the menu rework.

@bretts

[2017-06-29 08:01] BernhardWebstudio commented on #10279
I am facing the same issue. What do I have to do to get npm to fetch the newest, fixed version?
`npm update` seems not to be ready yet...

[2017-06-29 08:23] lukeyouell commented on #10283
I'm using the bundled version which *should* have motion ui included (the last version did) unless something has changed in that regard?

[2017-06-29 10:26] norman-pixelkings opened #10293 "javascript error on brand new foundation 6.4.0 stack template"
After installing the full stack I run `foundation watch`. But pages giving me this error in the browser

app.js:123 Uncaught TypeError: (0 , _jquery2.default)(...).foundation is not a function
    at Object._typeof (app.js:123)
    at __webpack_require__ (app.js:20)
    at Object.<anonymous> (app.js:10356)
    at __webpack_require__ (app.js:20)
    at module.exports.module.deprecate (app.js:66)

[2017-06-29 16:03] someyoungideas opened #10295 "Updating jQuery Dependency to 3.x Should Cause Major Version Update"
In the recent `v6.4.0` release all dependencies to jQuery were bumped from `>=2.2.0` to `>=3.0.0`. Seeing that this is a MAJOR version release in a dependency I was wondering why Foundation's release was not considered a MAJOR version release?

This change in Foundation caused some breaking changes in our site once the jQuery version updated with this release. This is more looking for thoughts why

[2017-06-29 16:17] kball commented on #10279
We're going to package up fixes for this and a couple others either later today or early tomorrow

[2017-06-29 16:17] #10287 closed

[2017-06-29 16:27] kball commented on #10293
Thanks for the bug report... @norman-pixelkings

A couple quick questions for you, as I'm currently unable to reproduce...

How did you install the full stack? Were you using the cli?

What versions of node and npm are you using?

Thanks!

[2017-06-29 16:32] kball commented on #10283
Hi @lukeyouell can you clarify how you installed/downloaded Foundation?

The bundles from the customized downloads should include motion UI, and I've just double checked that they are... That said, if you downloaded *right* after the release maybe try again, as we fixed some issues in the customizer yesterday

[2017-06-29 16:42] norman-pixelkings commented on #10293
Hi kball, thanks for your reply. I did a cli install `foundation new --framework sites --template zurb`
I just updated npm to 3.10.10. Error still exist. But then I did a complete new cli install and all errors are gone!
Thanks you sir! 👍

[2017-06-29 16:51] kball commented on #10293
ok interesting... I'm about 90% certain this has to do with the way npm pre v3 installed things nested instead of flat. Gonna run down that road and see if I can get the template working for npm 2 series

[2017-06-29 17:07] kball commented on #10293
Hmm... I'm not able to reproduce this with npm 2 series... I'm wondering if this was related to https://github.com/zurb/foundation-zurb-template/commit/dbb54764b20bec3ca2c666de51318c7ea656f8c4

@norman-pixelkings do you happen to know when you did the install above that showed the error? Was it right around when you filed the issue, or earlier in the day and potentially before the referenced chang

[2017-06-29 18:21] Moonbase59 commented on #10289
@kball Let me see if I can find a clean way to reproduce it, the first days after a release are always a little turbulent. I’m sure we’ve all been testing a lot. I _think_ on this one I just did a plain vanilla "foundation new" and selected the ZURB tamplate, then added jquery and what-input as per #10273 . Plain vanilla, no extra changes or custom SASS or custom JS.

I’ll come back to you after t

[2017-06-29 18:46] Moonbase59 commented on #10289
@kball:
Here’s the setup:

- Ubuntu 14.04.5 LTS
- node 6.11.0
- npm 5.0.4
- foundation-cli 2.2.3
- copy above "stickytest.html" into new project at src/pages/stickytest.html

Findings as per today:
- No more missing dependencies (#10273 was closed and works)
- Sticky with above test page works.
- Today’s new project installed jquery 3.2.1, what-input 4.2.0, same as mine yesterday.

The only appare

[2017-06-29 19:29] IamManchanda commented on #10145
@kball Awaiting Reply on this!

[2017-06-29 19:38] IamManchanda commented on #10295
cc @kball

[2017-06-29 20:50] stuartstarrs opened #10297 "XY Grids with grid-margin-x causing horizontal scroll, flush to container and viewport"
In the new XY Grid, there may be need to nest grids, with grid-margin-x applied to all.
The margins of the nested grid(s) go out of the bounds of the parent grid, and any grid-container that might be wrapped in.
If flush against the viewport edge, this will result in a horizontal scrollbar.

#### How to reproduce this bug:

1. Add a grid-x with grid-margin-x to a margin:0 and padding: 0 <body>
2.

[2017-06-29 21:00] Moonbase59 commented on #10297
Out of curiosity: Did you contain a grid within a grid or is the inner grid contained with a CELL of the outer grid? (Makes a big difference, at least with padded grids.)

[2017-06-29 21:29] kball commented on #10297
@brettsmason I want to tag you into this

[2017-06-29 23:13] rafibomb opened #10299 "[Docs] Update Compatibility page based on 6.4"
Update supported browsers based on , add IE Edge

[2017-06-29 23:41] bgarrant opened #10300 "Codekit wont compile with XY Grid"
For some reason this will not compile when I enable the XY Grid imports?  Do I need to disable some others?

Error:

Libsass: Error: Properties are only allowed within rules, directives, mixin includes, or other properties.
        on line 1 of Applications/MAMP/htdocs/srmt-nsn.dev/scss/master.scss

   ^

[code]

[2017-06-29 23:42] bgarrant commented on #10300
do I need to disable these or something?

[code]

[2017-06-29 23:43] kball commented on #10300
You shouldn't need to disable those... hmm... do you have more of a backtrace you can share?

It may be related to https://github.com/zurb/foundation-sites/issues/10279

We're going to turn around a patch release tomorrow that has fixes to the above.

[2017-06-29 23:46] bgarrant commented on #10300
The issue is definitely in `@include xy-grid;`.  If I comment that one out it works

[2017-06-29 23:55] kball commented on #10300
Hmm... as a way to narrow in on if it's likely the same issue, can you try doing

`@include foundation-xy-grid-classes($vertical-grid: false)`

and see if it still errors?

[2017-06-30 00:03] bgarrant commented on #10300
Yes that works fine that way.  Compiles as it should

[2017-06-30 00:04] kball commented on #10300
Ok, I'm almost 100% sure this is due to the same underlying issue as #10279 and is fixed with https://github.com/zurb/foundation-sites/pull/10286

We'll have a patch update out tomorrow with that fix in. I'll leave this open until we're able to confirm

[2017-06-30 00:05] bgarrant commented on #10300
Great.  Thank you.

[2017-06-30 00:20] bgarrant commented on #10300
I tried that fix and it did not seem to help.  We will try it again tomorrow after you  put out the patch.

[2017-06-30 03:08] devanflaherty opened #10301 "Base-level rules cannot contain the parent-selector-referencing character '&'."
Just upgraded my rails project to use Foundation 6.4.
It was a new project I hadn't modified any code so replacing the settings.scss was easy and I was previously only selecting what components  I wanted to load in.

I thought it would be seamless but I'm getting this :
`Base-level rules cannot contain the parent-selector-referencing character '&'.`

It's showing me this error for `@include founda

[2017-06-30 05:59] BernhardWebstudio commented on #10301
Possible duplicate: [Issue 10279](https://github.com/zurb/foundation-sites/issues/10279)

[2017-06-30 06:23] IamManchanda commented on #10301
Yup duplicate but different code and this need to fix too

[2017-06-30 07:31] brettsmason commented on #10297
So this isn't actually to do with nesting. If you do any full width grid with margin then it's going to overflow. This is caused by the negative margin on the grid which is what allows the grid to line up correctly.

This was discussed in detail during development - there are basically 2 solutions to this. You can either have margin on left only, so no split gutters. This doesn't cause overflow. H

[2017-06-30 07:36] marvinhuebner opened #10302 "XY Grid uncollapse classes"
With the new XY-Grid it is not possible to uncollapse a grid at a certain breakpoint.

If i want a collapse my grid on small and a uncollapse my grid on medium i have no possibility (unless i write my own scss for this) to uncollapse the grid.

Would be really helpful to have these utility classes available.

When we could do something like this:
[code]

[2017-06-30 08:01] lungati opened #10303 "Add external css to sass build process"
I have a similar issue to [https://github.com/zurb/foundation-cli/issues/21/](url).. Trying to add a 3rd party css to my project.. but its not straight forward, and the solution in issue 21 doesn't work for me.

Appreciate any help.

Thanks.

[2017-06-30 08:11] stuartstarrs commented on #10297
@brettsmason you're right on the nesting, I see that. And margins are margins and nothing can be done about that.

The margin gutters are really useful though, I can see them being used to create spaced-out coloured blocks without too much markup. I'm just hoping that with this issue a consistent standardised Foundation approach can be decided (or baked in).

Agree that `overflow-x: hidden` on the

[2017-06-30 08:13] brettsmason commented on #10141
@kball sorry for the late reply.

Personally I never understood the need for combining a row and column - they are 2 separate elements and should stay like that in my opinion.

However what @IamManchanda pointed out will of course work. The grid should be modular enough to be able to combine classes for the desired behavior :)

Alternatively if using Sass you could change the grid container paddin

[2017-06-30 08:27] kudlatyamroth commented on #10300
I think its by @include xy-grid, as this mixins is:
`@mixin xy-grid(
  $direction: horizontal,
  $wrap: true
) {
  $direction: if($direction == 'horizontal', row, column);
  $wrap: if($wrap, wrap, nowrap);

  display: flex;
  flex-flow: $direction $wrap;
}`

think that for building foundation with xy-grid system we need only to include:
`@include foundation-xy-grid-classes;
@include foundation-fle

[2017-06-30 08:38] brettsmason commented on #10300
Yep that looks like an error in the docs, you are right it shouldn't be listed at the top and should just be the classes mixin. @kball or @IamManchanda could one if you remove that from the top of the docs page? I'll be home and back to normal from Sunday :smile:

[2017-06-30 10:30] bgarrant commented on #10300
So to use XY Grid and flex classes it should be this correct?

[code]

[2017-06-30 10:31] bgarrant commented on #10300
can I also comment out the `@include foundation-flex-grid;`?

[2017-06-30 10:35] brettsmason commented on #10300
@bgarrant yep comment that out too as the flex grid is the legacy flexbox grid which you don't need. And yep looks fine otherwise.

[2017-06-30 10:42] bgarrant commented on #10300
Works great now. Just need to fix the docs. Also the setup example for Sass does not have the new XY class entry in the list in the docs.

[2017-06-30 10:44] bgarrant commented on #10300
The component list needs updating on this page http://foundation.zurb.com/sites/docs/sass.html

[2017-06-30 11:26] oxyc commented on #10141
I used to have that in my projects but in the end it caused more harm because i was using it as a prototyping utility and when the project changed we easily ignored making it into a real grid and gutters would be applied twice.

Nowadays (already outdated though) I use always wrap it as a grid if it could potentially become a grid in the future. For components where I need gutters to space out con

[2017-06-30 13:43] Chillwabbitt commented on #10277
@colin-marshall that broke my design completley, there are no errors but the site renders without any style now.

[2017-06-30 13:51] klihelp opened #10304 "Manage dynamic z-index for multiple open off-canvas"
#### How to reproduce this bug:
1. Have two off-canvas panels; add triggers inside off-canvas contents to trigger each-other
2. Open first-off-canvas; with any trigger from the page
3. From off-canvas content trigger the second-off-canvas
3. Second-off-canvas is  open,  from it's content trigger back the first-off-canvas

#### What should happen:
4. Last triggered off-canvas should be on top by ch

[2017-06-30 14:43] OndrejVasicek opened #10305 "Grid-margin doesn't work with grid-frame"
#### How to reproduce this bug:
1. Set up grid-y with some children
2. Add class `grid-frame` to spread the size to 100% of the screen
3. Add class `grid-margin-y` to add margin gutters between the children

I used grid-y, because the class `grid-frame` has bigger meaning here. When using grid-x the width is 100% by default already. But the bug is present in grid-x as well.

#### What should happe

[2017-06-30 16:20] kball commented on #10289
Sounds good, thanks @Moonbase59

[2017-06-30 16:20] #10289 closed

[2017-06-30 16:47] kball commented on #10301
@IamManchanda can you find where in `foundation-button-group` might be triggering this? I'm not seeing anywhere in the code for button group where we have `&` outside of a selector

[2017-06-30 16:53] kball commented on #10301
I just tested with ruby sass against develop and am not seeing errors in the main compile (including button group, as well as menu/xy where we were seeing some ruby sass problems before).

I am seeing an error with rubysass if I include the prototype classes:

[code]

@IamManchanda do you have time to look into that? If not I'll get it after some teaching but before I package up 6.4.1 today

[2017-06-30 17:04] oxyc opened #10308 "grid-container-padded variables are missing from settings.scss"
The following variables are defined in [xy-grid.scss](https://github.com/zurb/foundation-sites/blob/v6.4.0/scss/xy-grid/_xy-grid.scss#L32:L33):

[code]

But missing from [settings.scss](https://github.com/zurb/foundation-sites/blob/v6.4.0/scss/settings/_settings.scss#L849:L860).

Same in both v6.4.0 tag and develop branch.

Also this doesn't work that smoothly around the `$global-width` transition

[2017-06-30 17:15] oxyc opened #10309 "@breakpoint mixin doesnt take into account $global-font-size"
#### How to reproduce this bug:

1. Change `$global-font-size: 18px`;
2. Add a grid with a `.grid-container-padding` class.

#### What happened:

The CSS outputed uses em, rather than rem `@media screen and (min-width: 78.75em)`

#### What should happen:

Either the `min-width` needs to take into account the `$global-font-size` or not convert to `em` at all. I don't really know the reasoning behin

[2017-06-30 17:18] gakimball commented on #10275
@relwiwa @kball Honestly, we just didn't fully understand how tools like Babel, Webpack, etc. all fit together when we shipped that code. Most Webpack configs ignore `node_modules` assuming that all dependency code is already ES5 (and because compiling all your dependencies would take forever).

In our Gulp-based build process, which had a more old-school way of manually compiling + concatenating

[2017-06-30 17:29] devanflaherty commented on #10301
Hey guys, more info on my bug.

For some testing I removed button group and then the error moved to the
following included component.

So for some reason it's just showing me the error starting at button group.
But I can't be sure that's where it's originating.

It's real weird.

On Fri, Jun 30, 2017 at 10:54 AM Kevin Ball <notifications@github.com>
wrote:

[2017-06-30 17:45] IamManchanda commented on #10301
@kball @devanflaherty

Oh Jesus, Seems like the problem is here
https://github.com/zurb/foundation-sites/blob/develop/scss/prototype/_typescale.scss#L9-L20

http://foundation.zurb.com/sites/docs/prototyping-utilities.html#typescale

[2017-06-30 17:46] gakimball commented on #10278
@kball The issue is that the `_setup` method in every plugin is being annotated as if it's a class. So the "class name" it extracts is `_setup`, instead of `Abide`.

[code]

Now that every plugin inherits a base class, I assume they're all guaranteed to have the same constructor signature of `element`, `options`. My suggestion would be to edit the page template in `foundation-docs` and just hardco

[2017-06-30 17:48] IamManchanda commented on #10300
This seems fixed in #10307 ... I am closing this!

[2017-06-30 17:48] #10300 closed

[2017-06-30 17:55] jashwant commented on #10297
_If I am not wrong_,  bootstrap is dealing with it from the very start by setting a max-width on `container` > current breakpoint - (2 * ( negative margin on row )).
e.g.

[code]
In case of full width ( fluid ) container, `container-fluid` contains `padding` = negative margin on row.

You cannot have `row` without a `container` or `container-fluid` , hence it always works.

I think same can work h

[2017-06-30 18:10] kball commented on #10302
cc @brettsmason

[2017-06-30 18:15] IamManchanda commented on #10302
Just a note. If you thinking on doing this, we need to refactor the responsive code with binding into a variable just like how i did with prototyping and flexbox utilities!

[2017-06-30 19:09] kball commented on #10278
Thanks for the quickfix @gakimball - agree we should rework this, we need to deal with events fired from core plugin class as well, but having a quick workaround to unbreak this base use is very helpful

[2017-06-30 19:33] thewebmastercom commented on #10271
I just had this error. Confirmed that commenting out the line in the config.yml solved the problem.

Looks like it should refer to: /bower_components/foundation-sites/js/foundation.responsiveAccordionTabs.js ?

[2017-06-30 19:55] kball commented on #10305
Thanks @brettsmason - this is not actually sufficient - the outcome is about the same as we only have 1 gutters worth of spacing but the height calc is taking into account 2 gutters worth...

I *think* this may actually be a related problem to https://github.com/zurb/foundation-sites/issues/10297

For the margin grid to work properly we may need to insist on having a container which containers the

[2017-06-30 19:57] kball commented on #10305
I've started a branch to work on this with a simple visual test using the codepen code here: https://github.com/zurb/foundation-sites/tree/fix-grid-frame-with-margin

[2017-06-30 20:48] kball commented on #10271
Updated the release notes here: https://github.com/zurb/foundation-sites/releases/tag/v6.4.0

[2017-06-30 20:48] #10271 closed

[2017-06-30 20:52] jacobarriola commented on #10140
Hi all,

I got this working for me. Simple example to cherry pick `Reveal` only.

One issue I had was having to add the `Foundation.MediaQuery = MediaQuery` declaration. the `addToJquery()` method calls for it in the file but it is not imported.

I'm def still learning webpack, so feel free to make any corrections/suggestions.

// foundation.js
[code]

// index.js
[code]

[2017-06-30 21:04] #10308 closed

[2017-06-30 21:09] kball commented on #10275
Seems like we should potentially add a module wrapper around the distfiles - I've seen that done such that if you're in a browser environment they apply globally and outside create exportable modules.  The one potential hangup is adding them to the global Foundation object in the browser env for backwards compatibility, but I think we should be able to make that work.

@relwiwa would you be intere

[2017-06-30 22:36] kball commented on #10293
Closing this as it was resolved for @norman-pixelkings. If someone else is experiencing and can give me steps to reproduce please reopen so I can dig in more.

[2017-06-30 22:36] #10293 closed

[2017-06-30 22:38] kball commented on #10301
@devanflaherty I've just published 6.4.1, which resolved the known issues associated with this outside of the opt-in prototyping helpers, so for a base install should "just work".  Can you try it out and verify this is resolved for you?

[2017-06-30 22:43] kball commented on #10140
@jacobarriola - Thanks for posting your solution! The MediaQuery reference as a bug fixed here: https://github.com/zurb/foundation-sites/pull/10292

[2017-06-30 22:52] colin-marshall commented on #10277
Can you please put your old app.scss in this thread so i can have a look at what is different? Thanks!

[2017-06-30 22:58] jacobarriola commented on #10140
Ahh! Sweet @kball - I'll keep an eye out to see when that fix gets merged in.

Thanks! 👍

[2017-06-30 23:37] kball commented on #10140
@jacobarriola it is! It was included in the 6.4.1 patch release we pushed out about an hour ago

[2017-07-01 07:21] sebastiansulinski opened #10312 "[docs] OffCanvas autoFocus"
In docs it says that `autoFocus` / `data-trap-focus` is set to `false` by default but it appears it is actually set to `true` - I had to manually disable it when instantiating the class to make sure it doesn't focus on the first item in the container:

[code]

I've checked `foundation.offcanvas.js` and on line `519` found:

[code]

[2017-07-01 11:35] codetheorist commented on #10312
Hey @sebastiansulinski

Had a look at the docs and code base of 6.4.1 this morning and 'data-auto-focus' and 'data-trap-focus' are not the same.

`[data-auto-focus]` merely forces the focus to the off-canvas on open.

`[data-trap-focus]` triggers optional focus trapping when opening an off-canvas, automatically setting tab index of [data-off-canvas-content] to -1 for accessibility purposes.

The d

[2017-07-01 14:52] relwiwa commented on #10275
@kball Sure, I can give it a try, but I will have to explore Foundation's build process and NPM package further. Currently on a few days off with just my mobile around, will do when I'm back

[2017-07-01 14:58] hari03 commented on #10252
Any update on resolving the issue?

[2017-07-01 18:00] IamManchanda commented on #10252
Oh dang sorry i got busy in other stuff after adding test case.
Now also busy with some stuff... But i will look into it... in coming week...
Appologies for the delay!

[2017-07-01 18:15] ncoden commented on #9614
`<pre><code></code></pre>` does not make any sense. Let's try to not use HTML tags to "get this or that result".

I told above what are the meaning behind `pre` and `code`. `code` is inline so it should be able to wrap, `pre` is a block so it should be able to have a horizontal scrollbar.

So basically, we have something like:
[code]

This is the default behavior we could expect from these tags. H

[2017-07-01 18:23] ncoden commented on #9614
@IamManchanda You can create a PR for that and poke me. 😉

[2017-07-01 18:38] januszm opened #10315 "Range slider triggers change event on load"
This is essentially very similar to issue https://github.com/zurb/foundation-sites/issues/6606 with Foundation 5 label. And it's mentioned in this thread: http://foundation.zurb.com/forum/posts/48357-how-to-disable-a-range-sliders--initital-movement . It seems like undesirable behaviour. `changed.zf.slider` and `moved.zf.slider` events should be emitted on actual user interaction, not on page load

[2017-07-01 18:45] IamManchanda commented on #9614
@ncoden so basically you are saying this below ?? is it so

[code]

[2017-07-01 20:34] AleeBadara opened #10316 "Class small-centered not working v6.4.1"
this code below used to work when i was using foundation-sites 6.3.1. the column is well centered with the class **small-centered**.

    <div class="row">
      <div class="columns medium-6 large-4 small-centered">
       <p>Test</p>
      </div>
    </div>

But since i update to version 6.4.1, the column is no longer centered. the class **small-centered** has no effect.
Am i missing something?

[2017-07-01 22:24] ncoden commented on #9614
[code]

[2017-07-02 01:31] devanflaherty commented on #10301
Working great!
On Fri, Jun 30, 2017 at 4:39 PM Kevin Ball <notifications@github.com> wrote:

[2017-07-02 09:14] erredeco commented on #10297
I had the same issue with the simple setup:
[code]
where the horizontal bar is always present, and:

[code]
where it appears when resizing. In this case it can be avoided by adding  `.grid-container-padded` but then it should be the standard.
BTW: It is just my opinion, yes, but I don't feel I like the new approach with the "grid-container" wrapper (too much similar to TW Bootstrap); I find that t

[2017-07-02 09:33] IamManchanda commented on #10297
@jashwant I dont know whether this comment is needed or not
as i havent played with XY Grid too much right now (though plans to do it)

but on the container/container-fluid/section part what folks from bootstrap do is simply this

https://github.com/twbs/bootstrap/pull/21211#issuecomment-265346365

**This is no rocket science but this is what they do and this is how this should be done!**

[2017-07-02 10:27] IamManchanda commented on #10297
If i am understanding `this.issue` and https://github.com/zurb/foundation-sites/issues/10141#issuecomment-311686892 issue correctly

For both margin and padding grid,

1. For fixed layouts,

[code]

2. For fluid layouts,

[code]

3. For 100% width layouts (mostly for backgrounds), its simple just dont anything
the below code will just work https://codepen.io/IamManchanda/pen/mwxxwj?editors=1100

[

[2017-07-02 10:29] IamManchanda commented on #10297
Also Poke :wink: @brettsmason

[2017-07-02 14:51] erredeco opened #10318 "Foundation 6.4.1 mixin xy-grid/_collapse.scss wrong padding collapse"
When using for example "medium-padding-collapse" you will end with `margin-left:0; margin-right:0`

#### How to reproduce this bug:

1. use the class `medium-padding-collapse`

#### What should happen:

It should reset the padding

#### What happened instead:

It resets the margin, instead

#### Browser(s) and Device(s) tested on:

Chrome (latest on Mac)

#### Where goes wrong?

mixin xy-grid/_col

[2017-07-02 15:11] cybi33 commented on #10318
Yes you are right... And this is not the only one. F6.4 should never released with so many bugs !!! Has anyone at zurb tested this version ???

[2017-07-02 15:46] brettsmason commented on #10316
@AleeBadara Seems to be working OK for me with a blank CodePen: https://codepen.io/brettsmason/pen/Ogvwwq

The grid was changed to use XY grid by default from 6.4 so the float and old flex grid are not the defaults. How are you using Foundation? Is using Sass you need to [make sure you set the correct grid includes](http://foundation.zurb.com/sites/docs/sass.html#adjusting-css-output).

[2017-07-02 15:59] brettsmason commented on #10318
@erredeco Can you post a CodePen with this?
I've just setup a quick demo and all appears to be working correctly for me. Those details in the mixin that you posted are correct - we reset the margin of the grid itself (margin grids have negative margin on the grid, padding grids have negative margin on nested grids) and then remove padding from the child cells (or margin for margin gutters).

@cybi

[2017-07-02 16:03] brettsmason commented on #10302
@kball I think this needs to be a Zurb decision if you want this included or not, as I think you know my view on collapsing/uncollapsing at every breakpoint 😄

It adds a lot of bloat, and If you really need to do stuff like that then mixins should be the way to go. Just my personal opinion though and its felt that it should be included then fair enough.

[2017-07-02 16:33] brettsmason commented on #10297
I think we are in a different position to Bootstrap as they use a padding only grid (though never used it so could be wrong!). Dealing with a margin grid has its own quirks (but ultimately quite a few plus points too).

We have a few scenarios to cover - [this CodePen](https://codepen.io/brettsmason/pen/WOzgbQ) should showcase the common layout requirements, at least for me anyway.

Adding a simpl

[2017-07-02 18:28] IamManchanda commented on #10297
@brettsmason on BEM
[code]

[2017-07-02 18:31] marvinhuebner commented on #10302
The extra bloat is a good point.

As i mentioned above this could easily achieved with some own css at the actual use point there it's needed.

But I'm a little bit confused, why there are `$breakpoint-padding/margin-collapse` classes available and the uncollapse classes not? (Beside the extra bloat)

[2017-07-02 18:33] brettsmason commented on #10297
Why the need for fixed/fluid though? 'grid-container' isn't required if you want a full width grid, only if you want it contained (your fixed).

[2017-07-02 19:57] smithjoelt commented on #10281
What browser is displaying this image?

[2017-07-02 20:52] erredeco commented on #10297
@brettsmason  see my answer to https://github.com/zurb/foundation-sites/issues/10318 there is the reason why you can't add `grid-container` directly to a `grid-x grid-padding-x`

[2017-07-02 20:52] erredeco commented on #10318
@brettsmason  ok I've seen the problem (https://codepen.io/erredeco/pen/zzWMVd) I added `grid-container` to the same `div` as `grid-x` (as suggested here https://github.com/zurb/foundation-sites/issues/10141#issuecomment-311732468)

[2017-07-03 08:10] sebastiansulinski commented on #10312
Oh I see - you're right. Thanks @codetheorist.

[2017-07-03 08:10] #10312 closed

[2017-07-03 09:38] lungati commented on #10303
https://github.com/zurb/foundation-apps/issues/590

[2017-07-03 09:38] #10303 closed

[2017-07-03 09:45] Snorvarg opened #10320 "large-pull not working anymore?"
Hi!
I am not an expert at zurb foundation, so please bear with me.

I was using Zurb foundation 6.3.1 but has updated to 6.4.0.

Successfully converted from "row" to "grid-container". But I cannot seem to find where large-pull and push went?

Old html looks like this:

[code]

On large the sidebar comes on the right side and the maincontent on the left.
On medium the sidebar take upp full width, a

[2017-07-03 10:47] dobromir-hristov commented on #9892
Still buggy 😄 Just came into it.

[2017-07-03 11:31] kyoshidajp opened #10321 "Border of Accordion disappears when .hide is specified as the last item"
Hi.

I am using foundation-rails, and I would like to chage dynamically display the item in Accordion.

For several reasons, I decided to enable all items display in Accordion by template engine. Next, added .hide class into specified items just before rendering finish.

However, border of Accordion disappeared when .hide is specified as the last item.

I think this would be CSS setting. But I hav

[2017-07-03 11:46] codetheorist commented on #10312
No problem @sebastiansulinski, happy to help.

[2017-07-03 11:48] codetheorist commented on #10321
Foundation version in the Rails gem is 6.3.1 at this time, rather than 6.4.0

[2017-07-03 12:37] kyoshidajp commented on #10321
@codetheorist Thanks. Fixed it.

[2017-07-03 12:40] codetheorist commented on #10321
I feel this works as intended and any workaround would be 'hacky' as the border of the bottom accordion item is set using :last-child. The only option would be to use `:not(.hide):last-child:not(.is-active)`, however the CSS selector 4 specs do not currently allow such functionality, nor is any such functionality drafted to be included in the near future.

The only 'automatic' workaround would be

[2017-07-03 12:40] codetheorist commented on #10321
How did you work around this @kyoshidajp?

Can this issue be closed now?

[2017-07-03 12:43] codetheorist commented on #10320
As far as I'm aware, the new XY Grid doesn't utilize the `large-pull-` classes, but it does use the `large-offset-` classes.

[2017-07-03 12:48] kyoshidajp commented on #10321
@codetheorist OK, thank you for your reply.

[2017-07-03 12:48] #10321 closed

[2017-07-03 13:00] codetheorist opened #10322 "package.json devDependencies"
I forked and pulled a fresh copy of foundation-sites yesterday and when I ran `npm install`, it failed installing gulp-postcss. It seems that gulp-postcss 6.4.1 has been removed from the NPM repo.

![gulp-postcss-6 4 1-error](https://user-images.githubusercontent.com/22813671/27793953-00b40384-5ff8-11e7-8bdf-a662235c1647.jpg)

The problem can be replicated by simply pulling a fresh copy of foundat

[2017-07-03 13:10] codetheorist commented on #10322
Pull request has now been submitted [here](https://github.com/zurb/foundation-sites/pull/10323).

[2017-07-03 13:35] codetheorist commented on #10281
@genesis-wp This does require more information, possibly a working link.

Have you put the image inside a row or container of some sort? Does the image have a max-width? Does the body have padding on? The list of possibilities with this are endless.

[2017-07-03 13:39] codetheorist commented on #10290
By looking at the code, it looks like this is the intended functionality as @kball states.

[2017-07-03 13:42] codetheorist commented on #10127
I'm with @colin-marshall, I've tested using Node 8.1.2 and unable to reproduce the issue.

Maybe node-uuid dependency has been updated in the package that depends on it?

[2017-07-03 14:06] OndrejVasicek opened #10327 "Wrong link in Off-canvas docs"
#### How to reproduce this bug:

1. Open the Off-canvas page in docs (http://foundation.zurb.com/sites/docs/off-canvas.html)
2. Check the section Responsive Off-Canvas (http://foundation.zurb.com/sites/docs/off-canvas.html#responsive-off-canvas-putting-it-all-together-)
3. Click on the link http://zurb.com/building-blocks/top-bar-with-off-canvas

#### What should happen:
Open proper page in buildi

[2017-07-03 15:26] brettsmason commented on #10290
@kball Sorry for the delay. I've put together a [quick CodePen](https://codepen.io/brettsmason/pen/RgyGQz) based on the visual tests we have which shows them working OK. I cant remember if markup requirement has changed from 6.3 or not (did older docs versions get added anywhere in the end? I remember seeing something about it...).

Maybe the docs examples need updating based on this.

[2017-07-03 15:35] codetheorist commented on #10327
Had a look at the building blocks page and I can't see a page that this should link to either.

[2017-07-03 15:39] rafibomb opened #10328 "[Off-canvas] Docs - open nested off-canvas push does overlap instead."
Click example here:
http://foundation.zurb.com/sites/docs/off-canvas.html#nested-off-canvas
open nested off-canvas push

Overlaps instead of pushes

[2017-07-03 15:56] brettsmason commented on #10328
@rafibomb This is a docs not being clear enough issue. If you see the callout in that section it mentions nested is only possible for overlap (if set to push it will force it to a push). [See here](https://github.com/zurb/foundation-sites/pull/10003#issuecomment-307249884) for details on why this was done.

So the functionality is right, but the docs example is possibly misleading. cc @kball

[2017-07-03 16:48] IamManchanda commented on #10322
Closing this as added in #10325 :+1:

[2017-07-03 16:48] #10322 closed

[2017-07-03 16:55] IamManchanda commented on #10327
@OndrejVasicek @codetheorist Would anyone of you want to submit a PR

A goodie link that could replace this would be http://foundation.zurb.com/building-blocks/blocks/multilevel-offcanvas-menu.html

[2017-07-03 17:01] IamManchanda commented on #10290
@codetheorist @hireahenchman Would anyone would like to submit a PR for this ??

---

BTW thanks @brettsmason for looking into it :wink:

[2017-07-03 17:02] IamManchanda commented on #10290
:+1:

[2017-07-03 17:21] IamManchanda commented on #10318
@cybi33 We tested it a lot but its a new grid!

[2017-07-03 17:25] codetheorist commented on #10327
YES! I hadn't seen that layout yet but that looks amazing.

@IamManchanda A PR has now been submitted.

[2017-07-03 17:43] codetheorist commented on #10290
Had a look at this and the only available class to change the layout is `.icon-top`.

@IamManchanda I've just submitted the PR however, if the other layout-changing classes are not going to be implemented, would it be better to move `display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex;` to the `.icon-top` class?

[2017-07-03 17:45] codetheorist commented on #10290
Ignore me, new PR coming very soon!

[2017-07-03 18:04] OndrejVasicek commented on #10327
You were faster :) Thank you.

[2017-07-03 18:14] kball commented on #10320
@codetheorist is exactly correct. Push and pull are a bit of a hack solution necessary for Float based grids, but the XY grid is a flexbox based grid which allows you to explicitly order things by breakpoint. Check out the offset classes here: http://foundation.zurb.com/sites/docs/xy-grid.html#offsets

[2017-07-03 18:16] IamManchanda commented on #10290
@codetheorist **We just need to add `display:flex;`, Autoprefixer does the rest**

On the question, i will be hesitant to move `display: flex` from icons to `icon-top` etc
Let update the docs with `.icons.icon-top`

But yes for backward compatibility, i dont think that
This bit will be bad https://codepen.io/IamManchanda/pen/vZjxJP

But please bind it with a variable where user can remove this bac

[2017-07-03 18:17] kball commented on #10127
Sounds like this was fixed downstream. Closing.

[2017-07-03 18:17] #10127 closed

[2017-07-03 18:18] IamManchanda commented on #10320
@Snorvarg Seems like what you are looking for sits right here
http://foundation.zurb.com/sites/docs/flexbox-utilities.html#source-ordering

[2017-07-03 18:19] codetheorist commented on #10290
As mentioned, it was my own error making me believe that `.icon-top` was the only available layout class, this was incorrect information on my part.

I have submitted a PR for the docs with examples, etc.

There is indeed 4 layout classes available.

[2017-07-03 18:21] IamManchanda commented on #10327
Its amazing that all of you new guys are coming up with your skills :+1:
Keep coming up with your feedback... Its great for the framework's future! :)

[2017-07-03 18:23] codetheorist commented on #10327
@IamManchanda I'm sorry to say I'm an old guy, I just haven't been active for a while due to other issues. It's great to be able to contribute again.

[2017-07-03 18:53] brettsmason commented on #10318
@ebargtuo The issue is you are using a `collapse` class too, which removes the margin on the `grid-x`, and as a result removes the `auto` added by `grid-container`. Basically it was designed to require a wrapper container around `grid-x` in order to function correctly. I know it may not be quite as convenient as the old `row` and `column`, but it provides a lot more flexibility in the long run.

@

[2017-07-03 18:55] kball commented on #10318
Well I think we have a legit collapse bug... see https://github.com/zurb/foundation-sites/pull/10319

[2017-07-03 18:58] brettsmason commented on #10318
@kball Yeah saw that, but I dont understand the bug... It looks correct to me.
I guess the only thing you could argue is the removal of margin on padding isn't needed for non-nested level, but it is needed on nested padding grids (we set negative on nested padding so it aligns correctly).

[2017-07-03 19:09] Snorvarg commented on #10320
@IamManchanda, I cannot find "medium-order-" when I search among the css-files.. I use 6.4.0, but downloaded and searched the files for version 6.4.1, nowhere to be found..?

[2017-07-03 19:09] kball commented on #9797
Umm I'm confused as the linked fiddle does not contain any Foundation JS at all... it is using html5 validation attributes which are not cross-browser consistent. If you want to use Abide you will need to

1. Include Foundation
2. disable default html5 validation (`novalidate` on form)
3. Add abide to the form (`data-abide` on the form).

I've just verified the examples in the docs work just fine

[2017-07-03 19:10] brettsmason commented on #10318
Just to clarify this in detail:

- No padding is ever set directly on `grid-padding-x`, just `grid-padding-x > .cell`
- The margin reset is basically for nested padding grids, as they set negative margins on the grid itself

The grid is designed to require a `grid-container` as a wrapper to the grid. unofficially it will work on padding grids as long as you aren't using `collapse` classes (as this

[2017-07-03 19:10] #10318 closed

[2017-07-03 19:13] IamManchanda commented on #10320
@Snorvarg No its in there

If you are talking about this line
Its in here => https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/css/foundation.css
[ Line 5401 ]

If talking about repo, it's here in sass stuff https://github.com/zurb/foundation-sites/blob/develop/scss/components/_flex.scss#L107-L113

[2017-07-03 19:13] Snorvarg commented on #10320
@codetheorist, could I use a negative offset with large-offset- ? Maybe I don't get your point, how would I make the two columns switch place with large-offset ?

[2017-07-03 19:15] IamManchanda commented on #10320
@Snorvarg @codetheorist @kball I have used these classes
Offset is not the right classes for this
Source ordering is the right classes for this!

[2017-07-03 19:18] IamManchanda commented on #10327
hahaaa in that case i am a newbie (which i am though :wink: )

[2017-07-03 19:22] IamManchanda commented on #9797
@cranst @nordanfors I am closing this as per above comment by @kball but **feel free** to reply if you are still facing issues

[2017-07-03 19:22] #9797 closed

[2017-07-03 19:23] brettsmason commented on #10320
@Snorvarg Just to confirm, the correct markup based on your example would be:

[code]

[2017-07-03 19:26] IamManchanda commented on #10320
Yes exactly
@brettsmason Do we need some docs copy here ??

[2017-07-03 19:27] IamManchanda commented on #10318
I concur with @brettsmason !!!

[2017-07-03 19:27] brettsmason commented on #10320
@IamManchanda Maybe we need a small section with a demo then point to the flexbox utilities listing for it for more details. Something along the lines of you need to include the flexbox utilities in order to do this etc etc.

[2017-07-03 19:28] IamManchanda commented on #10320
Ohk let me dig in :smile:

Reopening

[2017-07-03 19:33] Snorvarg commented on #10320
@IamManchanda, you are right, it's there! I think I somehow got v6.4.0, and there it is not. I did a file compare, it is added in 4.6.1.
Now it is working.

Thanks for the great work guys, zurb is great to work with! (Fully aware of the tremendous work with keeping the docs up to date)

[2017-07-03 19:37] IamManchanda commented on #10320
Yeah we added in 6.4.1 ... me only did that so i remember... :smile:

The problem was that those were situated in this file https://github.com/zurb/foundation-sites/blob/develop/scss/grid/_flex-grid.scss
which basically was only adding this in legacy flex grid ... :smile:
But now its working ... sigh !

[2017-07-03 19:38] IamManchanda commented on #10320
:+1:

[2017-07-03 19:43] IamManchanda commented on #10320
Ohk added PR on docs update => #10318

[2017-07-03 19:53] IamManchanda commented on #10281
@genesis-wp I am sorry but i will close this
Please move this thread to http://foundation.zurb.com/forum

As we like to keep this place for feature requests and bug fixes!

[2017-07-03 19:53] #10281 closed

[2017-07-03 20:04] erredeco commented on #10297
I hope you will forgive me for being a bit disputatious, but... to have the same result:
Version 6.3:
[code]
Version 6.4:

[code]
Do you see why I feel somehow perplexed?
The good thing is that now you can write:
[code]
And have margins instead of paddings, and you'll end up with a bit larger container (1200px instead of 1170)

[2017-07-03 20:06] IamManchanda commented on #10297
@erredeco This will work fine too!

[code]

[2017-07-03 20:15] erredeco commented on #10297
@IamManchanda of course! But  for my experience, usually designers want to have an effect like this https://codepen.io/erredeco/pen/NgMjVz so it's better to think of each row as a separate module that contains itself, instead of having a global wrapper :)

[2017-07-03 20:17] IamManchanda commented on #10297
I know it sucks but margin grid needs a `container` wrapper unfortunately

[2017-07-03 20:20] IamManchanda commented on #10297
See https://github.com/zurb/foundation-sites/issues/9875#issuecomment-302500023

[2017-07-03 20:30] erredeco commented on #10297
It is just difficult to accept that I need all this just to align the title to the container below :(
[code]

[2017-07-03 20:31] IamManchanda commented on #10297
WIth {Margin Grid} Unfortunately yes!!

[2017-07-03 20:35] IamManchanda commented on #10297
For me best bet would be this above :arrow_double_up: https://github.com/zurb/foundation-sites/issues/10297#issuecomment-312483154

[2017-07-03 20:44] erredeco commented on #10297
you can spare some div just putting:
[code]
But it is a workaround...

[2017-07-03 20:48] erredeco commented on #10297
I still think that another way to go could be to use only a right-margin add a class to the last element that resets the margin. (see susy  - `@include span(3 last); `)
Usually the situation when you don't want to add it by hand is the "gallery" when you have an unknown number of elements, but they are all identical, and I think you can calculate the correct margins with math

[2017-07-03 21:39] erredeco commented on #10297
my last 2 cents for tonight (BTW: nice discussion, I appreciate it) I am sure you have already noticed that the padding-grid and the margin-grid are misaligned (See: https://codepen.io/erredeco/pen/pwVreN)
I asked myself what happens when I get rid of the negative margins.
Answer: https://codepen.io/erredeco/pen/RgyZxm

[2017-07-03 22:55] kball commented on #10328
@sassninja would you be able to take a pass on improving the docs here?

[2017-07-03 23:06] #10320 closed

[2017-07-03 23:12] QWp6t commented on #10295
Does Foundation use any of jQuery 3's API that isn't available in 1 or 2? If not, then it's API-compatible and therefore doesn't require a major version update, but Zurb should consider changing dependency to `>= 1.12` or something similar.

Bootstrap went through a similar issue here: https://github.com/twbs/bootstrap/pull/17494

In that PR, they raised dependency to 2.x. WordPress developers poi

[2017-07-03 23:56] kball commented on #10295
This is a good point... we do in fact work with older versions of jquery (there are plenty of folks using foundation with Wordpress)... however we strongly encourage later versions.  Perhaps the right solution would be to reduce the minimum value in the framework while having the templates consistently push for latest and greatest? I'm by no means a dependency expert - would love other voices here

[2017-07-04 07:04] aHxShUM opened #10333 "Error on `rounded` prototype when breakpoint is enabled"
#### How to reproduce this bug:

1. `settings.scss`
[code]

2. Step two
[code]

#### What should happen:

#### What happened instead:
[code]

#### Browser(s) and Device(s) tested on:

#### Foundation Version(s) you are using:
6.4.1

[2017-07-04 08:48] ferronsw opened #10334 "Javscript error Foundation 6.4 (MVC)"
Hello,

I've added foundation 6.4 to my mvc application. I've deleted bootstrap and change the _layout.cshtml (menu) to a foundation menu. Some of the style component are loaded, but not the one initiated with js.
When I inspect the site I see this error:

foundation.js:11621 Uncaught TypeError: __WEBPACK_IMPORTED_MODULE_1__home_deployer_sites_node_foundation_customizer_node_foundation_customizer_

[2017-07-04 09:02] voogieJames opened #10336 "jQuery.foundation() is not a function"
I am using foundation-sites plugins in my existing project, and after updating foundation to 6.4.1 `$(document).foundation();` returns an 'is not a function error'.
But issue was solved by calling` Foundation.addToJquery($);` beforehand.
So question: is it a bug or a feature?

[2017-07-04 12:12] zitrusblau opened #10337 "[Installation] No update on older projects possible, no bower components when installing via CLI or manually, different node modules"
First I try a update from version 6.2.4 to 6.4.1, terminal saying update was sucessfull but cannot see any modifications in the files, version here stills 6.2.4
Then try to install a new instance at first manually and get:
bower                           ENOENT No bower.json present
then with CLI and get:
You're all set!
 ✓ New project folder created.
 ✓ Node modules installed.
 ✓ Bower components

[2017-07-04 12:14] pine3ree opened #10338 "Foundation Docs mobile browsers crashes"
Hello,

when I open the site docs in latest FF and Chrome for iPad, the browser just crashes. No crash with Safari.
Does this happen to anyone else?

kind regards

[2017-07-04 14:34] tsquez opened #10339 "Menu Flash or Menu Display Delay"
I have just recently noticed this....not sure if it's an issue (I think it may be on my end) however I just noticed it and now that I have it's irking the hell out of me...lol

There seems to be a menu flash when you load the page. Well more of like a delay I suppose. Take a look here https://themeawesome.com/themes/wpforge/ and you will see the menu takes a little bit longer to load than everythi

[2017-07-04 14:55] JarvisH opened #10340 "Resize events for dynamically added elements using data-interchange not working"
#### How to reproduce this bug:

1. Add image with data-interchange attr. after main $(document).foundation() call
2. Call ".foundation()" on added element or document
2. Resize window

#### What should happen:
Image src should change

#### What happened instead:
Nothing

#### Cause:
The interchange plugin now listens for resize event directly on element instead of on window.
This was changed in "

[2017-07-04 14:57] IamManchanda commented on #10333
Thanks for the bug report @aHxShUM

[2017-07-04 15:02] #10333 closed

[2017-07-04 15:04] IamManchanda commented on #10333
Hey @aHxShUM This is fixed #10335

@rafibomb I think when you changed component styling classes ... you forgot this responsive class maybe but now fixed

@rafibomb @kball Can we get a patch version of this release soon (of course with some xy bug solved) :wink:

[2017-07-04 15:14] IamManchanda commented on #10327
Closing this as fixed in #10329 !

[2017-07-04 15:14] #10327 closed

[2017-07-04 16:12] codetheorist commented on #10338
Just tested it now and I'm unable to reproduce the issue. It maybe a cache issue with the browser perhaps.

![19748883_1786558024719566_2446906235696144072_n](https://user-images.githubusercontent.com/22813671/27837408-f64681c6-60db-11e7-8ccd-ec1bb91ff4d7.jpg)

[2017-07-04 16:16] IamManchanda commented on #10338
Sometimes the devices are the issue ... it happens in my old mobile also ... Sony Xperia C

[2017-07-04 16:18] codetheorist commented on #10339
For a start, I would definitely try using minified versions of the CSS files, foundation.css and fonts.css that are being loaded on the page are taking 500ms each. I'd maybe try it with caching too, but remembert turn it off again if your developing.

[2017-07-04 16:31] tsquez commented on #10339
@codetheorist I def thought of that, however I am developing a new theme, built the same as WP-Forge and it uses the minified versions all on one stylesheet and the menu still has that same flash.

this is the order they are in: Font-Awesome (minified), Foundation(minified) and then the regular WP styles (not minifed, not yet) and no caching.

I mean I really don't care that it flashes. What bothe

[2017-07-04 16:47] codetheorist commented on #10339
Haha, I'm exactly the same!

There's a cloudflare JS that is dynamically injected that could also be causing the issue, but I see jQuery Migrate is also in use, which does slow down the execution somewhat. I would advise to try and build the theme with the correct version of jQuery rather than using jQuery Migrate.

It's quite easy to de-queue jQuery in Wordpress and en-queue an up to date version

[2017-07-04 16:52] tsquez commented on #10339
Yes that demo site uses cloudflare, however my local dev does not and it still flashes.

The jQuery migrate is part of WordPress, I call the jquery version that ships with WP and that migrate file is loaded automatically. Good idea though. I did a search and found this:

https://isabelcastillo.com/remove-jquery-migrate-script-wordpress

I'm gonna give it a try and see what happens

[2017-07-04 16:58] tsquez commented on #10339
Tried it but no difference...grrrrr.....lol 😆

[2017-07-04 17:04] codetheorist opened #10342 "[feature request] Material design elevation classes"
So lately I've been using Vuetify, which comes with some super-handy elevation classes for adding the box shadow stuff for DOM element elevation, to give the appearance of separate layers.

I think it would be awesome if Foundation had something similar baked into core. What do you guys think?

I'm up for working on a pull request if you guys think it's a good idea.

@IamManchanda @kball @rafibomb

[2017-07-04 17:07] codetheorist commented on #10339
I'm stumped...

[2017-07-04 17:09] brettsmason commented on #10339
@tsquez I'll be around in 2 hours then I'll help you get this sorted out :thumbsup:

[2017-07-04 17:17] codetheorist commented on #10337
@zitrusblau As far as I'm aware, all of the dependencies in the CLI projects are now NPM modules. Foundation is still available on the Bower ecosystem, however for a CLI generator, it doesn't make sense to have the dependencies spread across multiple package ecosystems.

[2017-07-04 17:20] IamManchanda commented on #10342
This is an interesting feature request ( sorry yeti's for being biased to VUE again)

-----------------

But, our current plans for F7 till date is

-  Environment Agnostic CSS… so that people can use their own JS Implementation if they want to.
- Themes & extensibility. Should be able to have a ‘bootstrap theme’, ‘material theme’, etc. Any design language should be relatively implementable in Fou

[2017-07-04 17:25] IamManchanda commented on #10342
BTW @codetheorist I am learning Vue too ... As a personal favour It will be great, if you can guide me with some goodie links :wink:

[2017-07-04 17:26] tsquez commented on #10339
@brettsmason thanks amigo, I appreciate the help

[2017-07-04 18:06] codetheorist commented on #10342
To be honest, I'm still learning it myself. I picked up about general SPA's with state control, but getting the hang of server side rendering is what I'm struggling with.

One tutorial I've followed which is quite useful is [here](https://www.youtube.com/watch?v=ZSPwx0keJ5Q). This tutorial is Drupal & Vue.JS, but the concepts of the Vue.JS side of things apply to any Rest API endpoint you setup. I

[2017-07-04 18:12] IamManchanda commented on #10342
@codetheorist I have this link only with me right now
https://laracasts.com/series/learn-vue-2-step-by-step/

Have Just started it ... Gone through first 11 tuts only ... made some components by those tuts (message, modal, tabs) too but still digging into vue!

[2017-07-04 18:27] ncoden commented on #10342
@IamManchanda @codetheorist Issues are not chat rooms. Please keep post in it public messages about Material design elevation classes or related, and more globally that interest the future visitors of this topic. ;)

[2017-07-04 18:37] IamManchanda commented on #10342
@codetheorist Extending on my above **[Issue Related](https://github.com/zurb/foundation-sites/issues/10342#issuecomment-312922550)** comment above

Checkout this very latest blog post http://zurb.com/blog/the-framework-bill-of-rights :wink:

[2017-07-04 19:20] Lunatig commented on #10301
@include foundation-prototype-typescale;

 You may not @extend an outer selector from within @media.
You may only @extend selectors within the same directive.
From "@extend h1" on line 15 of node_modules/foundation-sites/scss/prototype/_typescale.scss

[2017-07-04 19:41] klloe commented on #10336
I've the same issue, your fix doesn't work either @voogieJames.

[2017-07-04 19:44] brettsmason commented on #10339
@tsquez OK had a look at the site and there doesn't appear to be anything too obvious going on.

I see you are using WP Rocket - could you try disabling that? I have a hunch that its this causing the weird behaviour. If that doesn't help then we can go from there.

[2017-07-04 20:30] brgrz opened #10343 "XY Grid with gutters incorrect at various breakpoints in custom download"
When customizing the download and selecting XY grid, the custom gutters don't get applied at certain breakpoints - they are being reset back to the default 1.875rem although we specifically set 1.25rem total for gutters.

Please see the attached photo showing the overrides at certain breakpoints.

![xy-grid-gutters](https://user-images.githubusercontent.com/193816/27842233-6fa831fa-6108-11e7-9624-

[2017-07-04 21:53] tsquez commented on #10339
@brettsmason  I thought about that as well, however on my local system I do not have cloudflare or any caching whatsoever and I still get the same menu delay

[2017-07-04 23:19] JeremyEnglert commented on #9148
Hi everyone,

Guidelines can be found here: https://github.com/zurb/foundation-code-standards

Feel free to make specific recommendations in that repo.

Big thanks!

[2017-07-04 23:19] #9148 closed

[2017-07-05 00:15] JeremyEnglert opened #10344 "Dropdown Arrow Position Issues when using Responsive Navigation"
When you use a class such as `vertical medium-horizontal dropdown menu`, the dropdown arrow is mis-positioned. It appears the styles from `vertical` override the default horizontal styles.

#### What should happen:
The dropdown arrow should remain to the right of the navigation items on medium+.

#### What happened instead:
The dropdown arrows are showing to the left of the navigation item.

####

[2017-07-05 08:03] zitrusblau commented on #10337
@codetheorist Sure this make no sense.
But it would make a big sense to document such essential changes. So that a simple templater like me must not search hour for hour to understand how to get this working.

However, I still don't know how to update existing projects. After bower update in a project folder the bower_components still the same as before update. There is no section in documentation

[2017-07-05 08:05] ffogarasi commented on #9697
Hi,
Can this timestamp be disabled? It breaks pre-signed Amazon S3 image urls. As they fail validation because of the extra get parameter.

[2017-07-05 08:27] AleeBadara commented on #10316
Thank you @brettsmason. I use npm to install foundation-sites and webpack to bundle all my files. I think it's me. I'm missing something. I'll have a look.

[2017-07-05 08:33] voogieJames commented on #10336
@klloe, before that I've updated jQuery to make sure its version is **>= 3**.. and also 'npm update -g'

[2017-07-05 09:33] klloe commented on #10336
@voogieJames Already use the CDN version

[2017-07-05 10:11] Moonbase59 opened #10346 "6.4.1 – Flex items break printing, i.e. lost paragraphs, wrong page breaks, empty pages"
I’m doing a very minimalistic lyrics & stories page right now, using Foundation 6.4.1/SASS with the XY-Grid (on Ubuntu 14.04.5, foundation-cli 2.2.3, Node 6.11.0, npm 5.0.4).

Kudos to ZURB for remembering **@media print** and all the good stuff in there, which comes in very handy!

**BUT … either I make a stupid mistake or pagebreaks (within a cell consisting of mainly `<p>` with text) don’t work

[2017-07-05 10:12] hikouki commented on #10343
Hi! @brgrz
Are you changing `$grid-column-gutter` not `$grid-margin-gutters` ?
Please try following ✈️

[code]

[2017-07-05 11:13] brgrz commented on #10343
@hikouki Neither. I was changing the Total Gutter value at Customize Foundation download page: http://foundation.zurb.com/sites/download.html/

[2017-07-05 11:25] codetheorist commented on #10339
The local issues may just be down to the dev environment. I would recommend clearing up the issues on the page that we can see first, so we know how to help you best.

[2017-07-05 11:32] Moonbase59 commented on #10346
Another interesting insight: I just tried the exact same page on a Windows 7 machine, using IE11 (11.0.9600.18665).

The page preview here shows:
- about 3 completely lost paragraphs between page 1 and 2
- text on page 1’s bottom is "chopped off"
- _no_ missing text between page 2 and 3

![f641-print-no-pagebreak-preview-ie11-1](https://user-images.githubusercontent.com/3706922/27862583-3809495e-6

[2017-07-05 11:46] klihelp commented on #8452
Maybe can be done with the new OffCancas II in Foundation 6.4?

[2017-07-05 13:20] agoradesign commented on #10069
btw, this bug still exists in 6.4.1

+1 for committing the fix I've linked in a previous comment. I've used this already in a few projects now, with both 6.3.x and 6.4.x - this seems to really solve the problem. I haven't seen this bug anymore, and I haven't experienced any negative side effects

[2017-07-05 13:23] hikouki commented on #10343
I see.

[2017-07-05 14:06] hikouki commented on #10343
@kball @IamManchanda

It seems like a bug in Customize Foundation download page.
Also, It seemed not to be managed in this repository.
Could you fix it?

[2017-07-05 14:43] mmikitka opened #10348 "Accessibility conformance commitment level"
I am working on some sites for a public institution which must satisfy WCAG 2.0 AA, and I am wondering whether the Foundation community would consider striving for a minimum WCAG 2.0 conformance level for all components, and publish WCAG 2.0 conformance test results based on the [WCAG Evaluation Methodology](https://www.w3.org/TR/WCAG-EM/).

It seems as though accessibility-related legislation is

[2017-07-05 15:02] tsquez commented on #10339
@codetheorist yes I know how the process works, been doing this a long time. I can say with all certainty that it's something in the theme 😉

[2017-07-05 15:12] brettsmason commented on #10339
@tsquez Have you tried loading 6.3 CSS/JS to confirm its nothing to do with 6.4?

[2017-07-05 15:16] tsquez commented on #10339
I can do that if you would like me to. I think I will do it anyway...lol gimme a few

[2017-07-05 15:22] tsquez commented on #10339
OK I switched to 6.3.0 and the flash is still there...grrrrr...lol

[2017-07-05 15:26] IamManchanda commented on #10343
Thanks guys let me see
will look into it soon

[2017-07-05 15:27] IamManchanda commented on #10343
I remember similar bug reported few days back

[2017-07-05 15:28] kevin-lesterius opened #10349 "6.4.1 - Block grids"
Hi,

I started working on a project with the 6.3 version.
I switched to 6.4 using npm and then I saw that some parts of the website was broken.

After some search, I found that the styles selectors was different on some components of Foundation.
Block grids is an example, but I got styles lost also on the arrow of a accordion menu.

The docs still ask for .column as children of block grids. but th

[2017-07-05 15:47] cunhaax commented on #9892
@dobromir-hristov implementing another grid system was more important than fixing bugs... this tells me a lot about the future of Foundation... http://foundation.zurb.com/forum/posts/38374-so-long-and-farewell

[2017-07-05 16:18] hikouki commented on #10340
Proposal the following.

[code]

[2017-07-05 16:21] Deckluhm commented on #10349
XY Grid is now the default Grid in Foundation 6.4 (it was the now called Float Grid before this release).

You should read the 6.4 changelog: https://github.com/zurb/foundation-sites/releases/tag/v6.4.0

[2017-07-05 16:24] IamManchanda commented on #10349
If you were using the default version aka float grid
Then this link might be just you looking for
https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/css/foundation-float.min.css

[2017-07-05 16:28] codetheorist commented on #10339
@tsquez I know you may be able to say with certainty, but for anyone to be able to help you properly, we need to see what you are seeing.

If you don't want to mess with the live version, could you setup a staging copy on a sub-domain or something? Maybe even setup a tunneling proxy to your dev server?

[2017-07-05 16:43] tsquez commented on #10339
@codetheorist **0_o** - um you can install the theme yourself and it will do exactly the same thing. I know you're trying to be helpful but you are "seeing what I am seeing" and "setting up a staging area and yada yada yada" isn't going to help.

Sorry but I think I will just leave it alone. Thanks for trying to help though, I appreciate it 😉

[2017-07-05 17:00] tsquez commented on #10339
@codetheorist - here is a site that doesn't have any plugins activated, no caching whatsoever, nothing....zip, zero, ziltch. Except of course flashing menu 😉

[2017-07-05 18:31] jcordial commented on #8156
Since the PR is merged, should this ticket be marked closed?

[2017-07-05 18:49] kball commented on #10334
Hi @ferronsw, thanks for the report!

I think this is related to a bug that was fixed in the 6.4.1 patch release that went out last Friday. I realized upon your filing the report that the downloader had not been updated properly, so I just updated it - can you try redownloading with Foundation 6.4.1 and see if the error persists?

[2017-07-05 19:11] kball commented on #10301
@IamManchanda any thoughts on resolving this prototyping scss issue?

[2017-07-05 19:16] kball commented on #9697
Hi @ffogarasi,
The mechanism for this was changed in https://github.com/zurb/foundation-sites/pull/9990, which is released in the 6.4 series (latest 6.4.1) and will be released in 6.3.2 once we get that patch release packaged up.

[2017-07-05 19:27] kevin-lesterius commented on #10349
Ok thanks you, my bad. I though it was still possible to use float grid by default.

[2017-07-05 19:49] #10344 closed

[2017-07-05 20:08] IamManchanda commented on #10301
@kball Can we just move typescale from prototyping helpers to typography part but still keep it disabled by default??

[2017-07-05 20:15] kball commented on #10301
We can move it, but does that resolve the @extend/@media issue?

[2017-07-05 20:16] IamManchanda commented on #10301
Yes if we move it here... this will most probably resolve the issue
See https://github.com/zurb/foundation-sites/blob/develop/scss/typography/_base.scss#L332

[2017-07-05 20:17] kball commented on #10301
@IamManchanda lets try it - move it over and then test with ruby sass once you have (or if you prefer I can test it)

[2017-07-05 20:19] IamManchanda commented on #10301
Yeah doing it now ... you test it as i dont use/know ruby(Me and my love of Php) ... so you test it ... doing a PR shortly :wink:

[2017-07-05 21:13] kball commented on #10336
Hey @voogieJames @klloe I'd like to help track this down - how are you downloading and installing Foundation? What does your build look like? And are you using the built dist files or importing from the sourcefiles?

[2017-07-05 21:18] #10301 closed

[2017-07-05 21:44] foxwoods369 opened #10352 "Choose between focus and active for buttons & links"
By default it seems that foundation uses ':focus' instead of ':active' for styling when a link or button is active (i.e. has just been clicked). This seems to mean that when a user hits back, if the last control they clicked was a link or button, it will continue to be highlighted as if it was just clicked (only tested on firefox & android). There doesn't seem to be a good way to configure this fu

[2017-07-05 21:45] Moonbase59 commented on #10346
**A solution?!**

I think at least Firefox and IE don’t behave well when using `display: flex;` elements (somehow understandable, for print).

The solution seems to be to redefine all `flex` elements as `display: block;` (for print only).

I could make Firefox 54 and IE11 work (i.e., print) correctly again by adding this to my `@page` for the `@media print` style:
[code]

Interesting side note: Fi

[2017-07-05 21:54] IamManchanda commented on #10346
Sounds Good... Will dig it in soon maybe tomm

[2017-07-05 21:55] Moonbase59 commented on #10346
Would be good if someone more knowledgeable than I am check it for any possibly unwanted side effects! Cheers for the help!

[2017-07-05 22:04] kball commented on #10069
@agoradesign thanks for following up - that fix is in a PR here https://github.com/zurb/foundation-sites/pull/9881 and I was concerned it might not be the right answer, but given the original submitter has not responded to qs and feedback, and that you're reporting no issues or side effects, will go ahead and merge that for now.

[2017-07-05 22:04] #9788 closed

[2017-07-05 22:11] kball commented on #10348
Hi @mmikitka,
Foundation absolutely is dedicated to accessibility, was rebuilt in 6.0 to allow automatic aria manipulation for all JS components, and in fact in 6.3 change default color pallets to meet WCAG 2.0 AA standards (see https://github.com/zurb/foundation-sites/pull/9319 and https://github.com/zurb/foundation-sites/issues/7387)

If we're falling short on any areas of compliance, we certain

[2017-07-05 22:30] Moonbase59 opened #10353 "6.4.1 – `src/assets/js/custom.js` not included anymore like in 6.3.1?"
The docs still say that all custom javascript files in `src/assets/js/` automatically get included into `app.js` (6.3.1 did) but it seems not to? Anything changed due to webpack?

[F6.4.1/SASS on Ubuntu]

[2017-07-05 22:38] kball commented on #10343
This was indeed a bug in the customizer page, it wasn't appropriately handling the new grid gutters... I've done a basic fix, so if you redownload it should work as expected. Would love to extend and improve that customizer... it's currently not open but I think we should be able to open source it, will figure out what needs to be done to do so when a little more time opens up.

[2017-07-05 22:38] #10343 closed

[2017-07-05 22:52] klloe commented on #10336
@kball I'm using the basic template and load all the necessary scripts via CDN

[code]

[2017-07-05 23:00] kball commented on #10336
Hi @klloe,

Using that exact pasted script, I see the following error:
[code]

If I cut out the integrity hash it loads and works fine... I'm not an expert in how the integrity pieces work, but it seems like the issue is the foundation JS isn't loading at all

[2017-07-05 23:01] rabimx opened #10354 "Menu invisible in iPad and iPhone"
I made a mockup of a site that I'm designing. The navigation works fine everywhere... except in iPad and iPhone. The issue is not reproducible in a browser emulator. I don't have any idea of what is happens.
This is the url of the mockup:
http://purosulloa.com/colimafutbol
I'm not sure if is a Foundation's bug or an ios issue. Any help will be appreciated.

[2017-07-05 23:02] kball commented on #10339
I suspect this to be an issue with either the responsive toggle plugin or its configuration...

[2017-07-05 23:28] kball commented on #8156
👍

[2017-07-05 23:28] #8156 closed

[2017-07-05 23:28] tsquez commented on #10339
that's what I was thinking earlier, something to do with the "no-js". I remember there was an issue of some kind due to flashing and the fix was to add this to the css:

`.no-js [data-responsive-toggle],
.no-js .top-bar {
  display: none!important;}

[data-responsive-menu] ul {
  display: none;}`

Like I said it's no biggie, just bugging me because I don't know what's causing it.

[2017-07-06 00:13] kball commented on #10353
Hi @Moonbase59 - can you clarify, are you talking about in the ZURB stack? If so, the answer is yes it has shifted b/c it's moved to using true module dependency, and we need to update the docs. Can you highlight the ones in particular you're seeing the outdated info on? Thanks!

[2017-07-06 01:22] Moonbase59 commented on #10353
@kball http://foundation.zurb.com/sites/docs/starter-projects.html#javascript-compilation

Any easy way to do this correctly in 6.4.1, a link maybe?

[2017-07-06 01:42] andycochran commented on #10348
Yeah, I'd love to work on any specific areas where Foundation isn't meeting AA requirements. Please create issues for anything you notice.

[2017-07-06 02:40] kball commented on #10353
@Moonbase59 essentially you'll want to simply import/require the files you want to include. I believe webpack allows you to do either node style require/exports (http://openmymind.net/2012/2/3/Node-Require-and-Exports/) or ES6 modules: http://exploringjs.com/es6/ch_modules.html

Will hopefully have time to update docs soon, but if you get things working well and want to submit a PR to update those

[2017-07-06 05:56] agoradesign commented on #10069
@kball thank you very much! I can't judge whether or not that is the rigth answer. And not seeing any issues doesn't mean that there aren't ones. But at least, and that's for sure, it's work way better this way! Because honestly without that, Orbit was more or less useless atm. Having no transitions looks a bit cheap, and turning it on caused problems...

Great to see this in now, and btw thanks f

[2017-07-06 05:57] ferronsw commented on #10334
Hi @kball,

I've found the 6.4.1 version on cdnjs, but i'm glad it's now also available on the site.
Thanks for the information!

p.s. 6.4.1 fixed the problem.

[2017-07-06 06:49] Deckluhm commented on #10349
@kevin-lesterius I haven't tested Foundation 6.4 but from what I can see (in sources/docs), you can still use the Float Grid like you use to do before (even using NPM).

The Float Grid docs is now here: http://foundation.zurb.com/sites/docs/grid.html

[2017-07-06 07:56] kevin-lesterius commented on #10349
@Deckluhm loading foundation.css 6.4.1 from NPM, I found that you can't use anymore the float grid, it doesn't include the styles for the .row class.

However it's still possible to use the float grid using the foundation-float.css.

I don't understand why the foundation.css(XY grid) bring styles like ".medium-up-1 > .cell" for the old block grids(float) as long as there is no more block grids def

[2017-07-06 08:15] JeremyEnglert commented on #10134
No one *wants* to support IE, but it still has too much usage to abandoned. This could change by November, but I can't imagine us being in a spot to fully drop IE support even then. But, who knows!

[2017-07-06 11:32] wfehr commented on #10096
So I upgraded to the new version 6.4.1 of foundation (previous used version was 6.3.1) and now technically the deep-linking of the accordion would work.

But: When I link to an accordion (e.g. mysite.com/#foo) I get the following JavaScript error:

[code]

[2017-07-06 12:52] IamManchanda commented on #10349
I think we need to reopen this as we miss docs

[2017-07-06 14:08] mmikitka commented on #10348
I appreciate the quick response and enthusiasm.

It seems as though the current approach to accessibility conformance testing is ad-hoc: if you stumble across something, then log it. However, I am proposing a more controlled approach, inspired by the (WCAG Evaluation Methodology)[https://www.w3.org/TR/WCAG-EM], to (a) discover non-conformance at a intra-component and inter-component level, (b) reg

[2017-07-06 15:22] rabimx commented on #10337
Additionally, now I don't know how to select and exclude libraries. Someone know what is the new method? I think that I have to configure /node_modules/foundation-sites/webpack.config.js, but I don'n know how.

[2017-07-06 16:32] IamManchanda commented on #10134
Unfortunately IE 11 will stay for some time (specially corp usage)
See
- https://www.w3schools.com/browsers/browsers_explorer.asp
- https://www.microsoft.com/en-in/windowsforbusiness/end-of-ie-support

------------------

Also https://rachelandrew.co.uk/archives/2017/07/01/you-do-not-need-a-css-grid-based-grid-system

----------------

Yes its true that we should not use the grid spec the same way

[2017-07-06 16:59] kball commented on #10334
Excellent, thanks for following up @ferronsw

[2017-07-06 16:59] #10334 closed

[2017-07-06 17:06] #10284 closed

[2017-07-06 17:14] kball commented on #10337
The simplest way to update while still using one of the older builds approaches is to skip the webpack build entirely and use the compiled javascript files from `/node_modules/foundation-sites/dist/js`.

Alternatively, you could update your build system to look similar to the new zurb stack... see

[2017-07-06 17:17] kball commented on #10339
@tsquez it's 100% due to that, as that will result in the top bar not showing *until* the JS runs on the page... I think there's probably a better way to fix the flashing you were seeing before, do you want to try putting together a codepen to reproduce it?

[2017-07-06 17:24] tsquez commented on #10339
@kball I KNEW IT!!!...lol - I would love to try and get it fixed as this could possibly help other WP devs who use F6 and are experiencing the same thing. One thing though: How do I do a codepen...lol if you can please email me some instructions, my email is part of my profile.

[2017-07-06 17:24] roysix commented on #10349
If I may ask, specifically about block grids: So, is support being dropped for the block grid [CSS classes (e.g. "small-up/medium-up/large-up" classes) ](http://foundation.zurb.com/sites/docs/grid.html#block-grids)in the new xy grid? Is it possible to add them back in? This is a bit of an issue for me at the moment to upgrade from the 6.3 float grid to the 6.4 xy grid.

I see there[ is support for

[2017-07-06 17:34] kball commented on #10349
Hi @kevin-lesterius,
The block grid classes exist in in the XY grid. You should be able to simply add `small-up-n`, `medium-up-n`, and `large-up-n` to a `grid-x` or `grid-y` and have it work as you'd expect.

I believe @IamManchanda is working on adding this to the docs right now.

[2017-07-06 18:00] #10349 closed

[2017-07-06 18:03] IamManchanda commented on #10349
This is fixed guys ... We missed the docs ... now added

Also if you care, #9776 proves why flex is better than float for block grid

[2017-07-06 18:23] IamManchanda commented on #10349
**Update**: This is [Deployed!](http://foundation.zurb.com/sites/docs/xy-grid.html#block-grids)
Thanks for reporting @kevin-lesterius

[2017-07-06 18:39] tsquez commented on #10339
@kball - OK I think I got the pen down...lol https://codepen.io/tsquez/pen/BZPEwv
I hope this correct if not please let me know.

[2017-07-06 18:50] brettsmason commented on #10305
@kball I think I've worked out a fix (atleast a CSS solution - not sure how to handle with mixins).
Take a look at this CodePen: https://codepen.io/brettsmason/pen/LLBoNB
Basically we can set the height using `calc()` at `100vh + gutter`.

What do you think?

[2017-07-06 18:57] rafibomb commented on #10354
I haven't been able to reproduce this on any of my sites.

The [Foundation forum](http://foundation.zurb.com/forum/) would be a great place to seek some help with troubleshooting what might be going on here. If it turns out to be a defect, you'll have some more info to provide here which will help prioritize and get it fixed.

We're trying to keep the issue list focused on confirmed defects in Fou

[2017-07-06 18:57] #10354 closed

[2017-07-06 19:05] IamManchanda commented on #10305
@brettsmason That's dope!

[2017-07-06 19:10] IamManchanda commented on #10080
@developer-lindner Would you like to do a PR ??

[2017-07-06 19:11] brettsmason commented on #10297
@erredeco Sorry for the delay in replying! Agreed - great discussion and the feedback is definately valued 😄

I was a long time Susy user and am quite familiar with it. I dont think we are really in a position to make such a potentially huge change to the grid when we have just launched it, though I understand where you are coming from. I think reliance on `first/last` for CSS users would be too a

[2017-07-06 19:12] IamManchanda commented on #10265
Closing this!

[2017-07-06 19:12] #10265 closed

[2017-07-06 19:44] shonin opened #10358 "Cannot implement an xsmall breakpoint v6.4.1"
I am unable to add an xsmall breakpoint to the list of breakpoints. Anything other than `small: 0` seems to fail.

Seems related to [issue 10015](https://github.com/zurb/foundation-sites/issues/10015)

#### How to reproduce this bug:

make your breakpoint settings like this

[code]

#### What should happen:

I should have an xsmall breakpoint as the lowest breakpoint

#### What happened instead:

[2017-07-06 20:08] erredeco commented on #10297
Thank you for your feedback; IMHO there are 2 priorities
1) resolve the issue reported here (I admit I went a bit off-topic) :) and I fear that the only option would be adding a `container-full` or `container-fluid` wrapping div (sigh)
2) see if it could be possible to simplify the markup in case you have only 1 content that spans 12 cells
`<div class="grid-container standalone">` I dunno....

[2017-07-06 20:38] Vuurvlieg commented on #10358
I'm using a xsmall breakpoint for all of my project too and ran into the same issue. Thanks for reporting!

[2017-07-06 21:11] tsquez commented on #10339
With the help of @kball we seem to have possibly corrected the issue by changing the following

[code]

to

[code]

@kball stated in an email

Seems to work for now until a definite fix can be applied. Thanks for all the help. It's greatly appreciated.

[2017-07-06 21:19] kball commented on #10305
Looks great to me, you're the man @brettsmason! Want to put together a PR?

[2017-07-06 22:44] BondoS commented on #10316
@AleeBadara  I'm facing the same issue, have you fix it?

[2017-07-07 07:54] zitrusblau commented on #10337
@kball
For me this is really not simple!
I was trying to update the foundation framework within an existing WordPress theme via bower_update which doesn't work. The terminal result you can read in my first post here. **I got no foundation-sites folder within the node_modules!**

[2017-07-07 08:28] jashwant commented on #10297
@stuartstarrs ,

Your issue will be fixed by adding `grid-container-padded` class to `grid-container`.
[https://codepen.io/jashwant/pen/owPWgd](https://codepen.io/jashwant/pen/owPWgd).

However, I do think that there should be a padding in `grid-container` by default ( without adding `grid-container-class`.

[2017-07-07 08:49] brettsmason commented on #10297
So I've been taking all the feedback on board and have been experimenting with possible solutions with the grid container. Take a look at this CodePen for what I'm thinking: https://codepen.io/brettsmason/pen/zzLQbm

If everyone could take a look and give me feedback that would be appreciated. Then I can put a PR together to solve this. To confirm, this would include removing the current `grid-con

[2017-07-07 10:17] stuartstarrs commented on #10297
@brettsmason just not clear on one thing. Are you suggesting `grid-container-padded` be incorporated into  `grid-container` as its default behavior?

[2017-07-07 10:18] mattbag commented on #10121
Hello, it seems like the active class is not assigned on scroll, latest foundation 6.4.1 build (picking plugins only smoothscrolling and magellan). Am I missing something (due to basic docs, and old version) or would it be a bug? I couldn't find a codepen with v6.4, I'll try to make one asap.
Cheers

[2017-07-07 10:35] brettsmason commented on #10297
@stuartstarrs Yeah exactly that. This has the benefit of working with the margin grid (plus applying negative margin to padding grids by default too) so that both line up correctly as per the comment made by @erredeco.

The only other thing I'm not 100% clear on is the `grid-container-full` behaviour. I want to be able to have full width content with no gutters on the sides, and I think use of `ov

[2017-07-07 11:16] jashwant commented on #10297
@brettsmason  .

I think, `overflow: hidden` should be `overflow-x: hidden` in `grid-container--full`.
Also, if we are going to use BEM,  there should be a way to use custom class names for grid elements.

Everything else is great. Excellent work.

[2017-07-07 11:21] brettsmason commented on #10297
@jashwant re BEM - sorry that was habbit after having discussed with @IamManchanda (Foundation 7 architecture changes). It will probably be `grid-container-full` (or maybe just `full` - not sure yet) until Foundation 7.

The overflow is a tricky one - if you look at the last demo I have set `grid-margin-y` too. If I only set `overflow-x: hidden` then there is a scrollbar for the grid - give it a t

[2017-07-07 12:35] voogieJames commented on #10336
Hi @kball
So I am using _npm_(npm v. 5.1.0) for installing _foundation-sites_. Below is a part of my packages.json file:

[code]

In my _index.js_ file I import all necessary foundation modules, like so:

[code]

And the mentioned problem (foundation is not a function) occurs when I try to call `$(document).foundation();` function.

But as I mentioned before, if I run `Foundation.addToJquery($);`

[2017-07-07 13:19] matt-moon opened #10361 "Was the Mac binary published for 6.4.1? Getting a 'no binary' error when attempting to add the package."

[2017-07-07 14:35] narkan opened #10362 "[Tabs] Example code incorrect"
Example code below doesn't work:
http://foundation.zurb.com/sites/docs/tabs.html

[code]

Second href is **#/tabs/panel2**
Tabs don't work.

Change it to **#panel2** and it works.

[2017-07-07 14:51] kitsimons opened #10363 "6.4.1: Foundation.MediaQuery.current empty when including foundation.util.mediaQuery separately"
I'm importing `foundation.core` and `foundation.util.mediaQuery` separately. Subsequently using `Foundation.MediaQuery.current` returns an empty string.

If I import `foundation` (everything) rather than the components, using `Foundation.MediaQuery.current` returns the current breakpoint as expected.

So this;

[code]
[code]
Returns an empty string.

Whereas this;

[code]
[code]
Returns the curren

[2017-07-07 14:55] IamManchanda commented on #10297
Sorry going off topic, but
@brettsmason On BEM/BEMIT,  Do you think this is the right time to create a new thread regarding the same for feedback and knowing people on whether they will love 😍 it or hate it ?

[2017-07-07 14:57] brettsmason commented on #10297
@IamManchanda Yep definitely a good idea. Maybe give examples of possible class naming structures.

[2017-07-07 15:34] narkan opened #10364 "[Tabs] : Tabs not working in Foundation 6"
I have taken the below code from the Tabs page example:
http://foundation.zurb.com/sites/docs/tabs.html

But it doesn't work. Three hours later...

There are actually two problems on this example (I just reported the first one earlier):

`<li class="tabs-title"><a data-tabs-target="#panel2" href="#/tabs/panel2">Tab 2</a></li>`

Should read:

`<li class="tabs-title"><a href="#panel2">Tab 2</a></li>

[2017-07-07 15:35] narkan commented on #10362
Solved in #10364

[2017-07-07 15:35] #10362 closed

[2017-07-07 15:39] IamManchanda commented on #10364
Thanks let me have a look

[2017-07-07 18:05] kball commented on #10337
I think I'm a little confused about what's happening here... are you attempting to update the *framework*, the *template*, or both?  Unfortunately the templates themselves are not really set up well to be updated after you've set up a project - they're templates, not libraries - so if that's what you're doing that may well be the problem.

If you're updating an older project, it probably would mak

[2017-07-07 18:05] brentdodell opened #10366 "Default <button> cursor should be configurable via _settings.scss"
Should [default `cursor`](https://github.com/zurb/foundation-sites/blob/develop/scss/_global.scss#L205-L217) be a pointer (or a value configurable by `_settings.scss`), indicating that the button is clickable?

#### How to reproduce this bug:
Hover over a `<button>` element.

#### What should happen:
Default `cursor` should be a pointer (or a value configurable by `_settings.scss`), indicating tha

[2017-07-07 18:06] stuartstarrs commented on #10297
@brettsmason I agree with everything you said originally and more so after seeing all these examples. Since posting this I'm using padding gutters for everything anyway (so far) and as of now I'd probably apply hidden overflow to body as per your original suggestion.

With your latest examples and the -full -fluid concepts – I'm trying to think of pros and cons.

The biggest pro is that we get to

[2017-07-07 18:09] IamManchanda commented on #10297
@brettsmason @kball @All others
What i simply want us to fetch from bootstrap is simply this
https://codepen.io/IamManchanda/pen/rwZqjw?editors=1000

I upvote for `grid-container--full` too apart from these two!

[2017-07-07 18:13] kball commented on #10121
From what I'm seeing it looks like this is resolved... closing, please reopen if you're still seeing problems.

[2017-07-07 18:13] #10121 closed

[2017-07-07 18:18] IamManchanda commented on #10366
:+1:

[2017-07-07 18:20] kball commented on #10336
Hi @voogieJames I think this is a documentation problem, that we need to figure out how to address... and possibly improve on. I'd love your feedback and help to figure out how to best document this, or if there's a better way to approach this...

The root of the issue is that we wanted the module imports to be side effect free (for the backstory, see the discussion starting here: https://github.c

[2017-07-07 18:34] IamManchanda commented on #10366
Thanks ... Added a safe PR #10367

[2017-07-07 18:35] brettsmason commented on #10366
Not sure if this is advisable or not - a quick search seems to suggest a button shouldn't have a pointer, eg: https://medium.com/simple-human/buttons-shouldnt-have-a-hand-cursor-b11e99ca374b

[2017-07-07 18:44] IamManchanda commented on #10366
@brettsmason I didnt add `pointer` ... i just binded auto into a variable if anyone wants to change it!
That being said ... i think we can consider `cursor: default` too

[2017-07-07 18:45] brettsmason commented on #10316
@AleeBadara @BondoS The `small-centered` class is [part of the float grid](http://foundation.zurb.com/sites/docs/grid.html#centered-columns) which is no longer the default grid.

By default with 6.4 the variable `$global-flexbox` is set to `true`, which will set it to use the xy grid (or legacy flex grid). In order to use the float grid set this to `false` (assuming you are using `@include foundat

[2017-07-07 18:46] brettsmason commented on #10366
@IamManchanda Yeah no problems just wanted to flag up that its generally not best practice to set to pointer that's all, and that was the original question 😄

[2017-07-07 18:46] #10364 closed

[2017-07-07 18:47] IamManchanda commented on #10364
Fixed @narkan in #10368

[2017-07-07 18:47] kball commented on #10363
Hi @kitsimons
Good catch - the distfile for MediaQuery is not running init right now... it should, as the distfiles are intended to give "drop in" functionality. For now you should be able to workaround by adding `Foundation.MediaQuery._init()`

[2017-07-07 18:48] IamManchanda commented on #10366
@brettsmason `default` or `auto` ??

[2017-07-07 18:49] brettsmason commented on #10366
@IamManchanda Looks like `auto` is the default, so I'd go with that.

[2017-07-07 18:58] brentdodell commented on #10366
Thank you both @IamManchanda & @brettsmason.

I understand that it may not a best practice, but it seems many people do it ([Foundation buttons even do it](https://github.com/zurb/foundation-sites/blob/v6.4.1/scss/components/_button.scss#L83-L111)) and I do think it would be useful to have it in the settings.

Also, @brettsmason I do not say this to contradict you, but I found it humorous that the

[2017-07-07 19:00] brettsmason commented on #10297
@stuartstarrs Thanks that was a really helpful response!

Completely agree with your thoughts on margin vs padding for gutters - its why we were keen to implement margin in the first place.

I also agree on the use of overflow on the container, I dont think we can realistically do it as its going to cause issues down the road like you pointed out, so I will remove this.

Therefore I'm thinking we

[2017-07-07 19:00] brentdodell commented on #10366
I wasn't aware of that. Thank you!