[2017-04-19 23:46] kball commented on #9782
@Owlbertz do you want to tackle this one?

[2017-04-19 23:50] canterberrie commented on #9901
@BicanMarianValeriu If you take a look at this example: https://codepen.io/canterberrie/pen/wdMYJX?editors=1100
.shrink columns are working as expected inside of a .row.column

In your original example you have a .row nested directly inside of a .row, and a .column directly inside of a .column, which is incorrect use of the grid. Going to close this issue, but if have a good use case for using the

[2017-04-19 23:50] #9901 closed

[2017-04-19 23:56] kball commented on #9766
This is definitely a bug. The code appears to presuppose a single unchanging anchor and uses that for positioning, rather than pulling the current anchor off of the event trigger.

The fix will involve keep track of the triggering anchor and using that for positioning... @hfinnlz or @IamManchanda do either of you want to take a crack at this?

[2017-04-19 23:57] rafibomb commented on #9662
The centering docs for the float (default) grid can be found here: http://foundation.zurb.com/sites/docs/grid.html#centered-columns

The flex grid centering classes can be found here: http://foundation.zurb.com/sites/docs/flex-grid.html

[2017-04-19 23:57] kball commented on #9696
This was fixed in #9707, should be working in 6.3.1

[2017-04-19 23:57] #9696 closed

[2017-04-20 00:01] kball commented on #9591
@IamManchanda for new features you are welcome to exclude IE9, so long as you indicate it and the degradation is reasonably graceful.

Other than that, I've added removing IE9 and IE10 support to the roadmap for 7, and going to close this issue.

[2017-04-20 00:01] #9591 closed

[2017-04-20 00:01] kball commented on #9593
Closing this based on the discussion in #9616

[2017-04-20 00:01] #9593 closed

[2017-04-20 00:01] kball commented on #9619
Closing this based on lack of response

[2017-04-20 00:01] #9619 closed

[2017-04-20 00:03] kball commented on #9614
I'm not sure what the current status is on this. @IamManchanda do you want to look into it?

[2017-04-20 00:05] kball commented on #9586
@IamManchanda are you still interested in tackling this?

[2017-04-20 00:10] kball commented on #9583
@brettsmason did we have a conclusion on this? Would like to get it resolved for 6.4

[2017-04-20 00:11] rafibomb commented on #9662
I searched the 6.3.1 download with flex grid enabled and see the classes for centering vertically and horizontally. Was there a particular behavior you are missing? What were you trying to do that didn't work @ivanjaros

[2017-04-20 00:12] kball commented on #9575
I also don't know why we use visibility hidden instead of display:none.. i think I encountered a different bug related to this the other day. Will take a crack on this for 6.4

[2017-04-20 00:15] kball commented on #9492
@zurb/yetinauts would really like to get a better solution to this for 6.4.

My current inclination is to move to having almost all settings commented out by default, with additional commenting & information about how to use. Anyone else feel opinionated?

[2017-04-20 04:46] IamManchanda commented on #9586
@kball Yup interested ... thanks for assigning me .... sorry i missed this before .... will look into it soon .... maybe this weekend ... or early next week!

[2017-04-20 04:49] IamManchanda commented on #9591
@kball Wow IE10 also .... great!!!

[2017-04-20 05:36] Moonbase59 commented on #9946
@Deckluhm Cheers for the heads-up!
@IamManchanda Yepp, fixed.
@kball Can stay closed, thanks.

[2017-04-20 10:29] captain-xu opened #9968 "select icon in chrome"
There two icons in chrome  , the select should add -webkit-apperance: none

[2017-04-20 10:30] brettsmason commented on #9672
@kball I've removed this in my branch and am putting together a PR.
Where do you think would be suitable on the off canvas page to add a migration notice/are there any similar examples?

[2017-04-20 12:40] Deckluhm commented on #9968
As stated [here](http://foundation.zurb.com/sites/docs/sass.html#autoprefixer-required), vendor prefixes aren't included in Sass sources.

[2017-04-20 13:41] brettsmason commented on #9875
Question for everyone. Is there still value in the responsive gutter stuff? I've never used it myself so interested if its worth keeping. It adds a lot of bloat and (in my opinion) not needed complexity.

I'm busy working on putting something together at the moment for this!

[2017-04-20 14:39] corysimmons commented on #9875
I think responsive gutters are definitely useful.

Off the top of my head, the syntax could look like:

[code]

I don't think responsive gutters should be the default dist. But the [generator](http://foundation.zurb.com/sites/download.html/#customizeFoundation) should offer this kind of functionality in a dynamic way.

I've made a billion PoC of this kind of stuff, so implementation won't be a pro

[2017-04-20 15:00] brettsmason commented on #9875
Thanks @corysimmons. I think part of the problem is the current grid is just so unnecessarily complicated, where I don't think it needs to be (its hurting my head reading through it all!).

Another issue I've come across with using margin based grids plus `calc()` is if we include a `.collapse` class like the current grid to remove margins from columns within a row.

That's maybe more to do with t

[2017-04-20 15:48] corysimmons commented on #9875
I completely get that. The overwhelming amount of [settings](https://github.com/zurb/foundation-sites/blob/develop/scss/settings/_settings.scss)/spaghetti involved with these big CSS frameworks is the reason I, and a lot of other devs, avoid them.

How integrated is the grid stuff with components? If it is, it shouldn't be, and components should be scoped using vanilla flexbox.

The concept of a "

[2017-04-20 15:52] andycochran commented on #9786
I do like the idea of consistency in method, the helper powering the grid gutters too.

But I usually just do something like this:

[code]
…which has the advantage over the proposed mixin of being able to control which breakpoints to use and which gutter value each breakpoint gets.

That's not possible with `@include space($top:true,$bottom:true);`. At least not without making the arguments messy.

[2017-04-20 16:04] kball commented on #9968
We can if necessary to fix a bug... can you put in a reproduction codepen?

[2017-04-20 16:20] designerno1 opened #9970 "[DrilldownMenu] open active"
Is it possible to open the active drilldown menu

[2017-04-20 16:31] kball commented on #9672
@brettsmason I was actually thinking more a migration note for the release notes... That said, the off-canvas docs page already has a migration section for migrating to 6.3, you could add a note in there as well.

[2017-04-20 16:32] kball commented on #9527
@ncoden are you still thinking to implement this?

[2017-04-20 16:35] #9713 closed

[2017-04-20 16:50] #9583 closed

[2017-04-20 17:21] Deckluhm commented on #9968
The bug is only visible if you use the Sass version of Foundation (since there is no vendor prefixes in sources) and as far as I know, there is no easy way to import a full Sass project in CodePen.

I reproduced the bug @captain-xu is talking about by using Foundation CSS version and by setting `select` `-webkit-appearance` to the default WebKit value (`menulist`):

https://codepen.io/anon/pen/EmK

[2017-04-20 17:22] IamManchanda commented on #9614
@kball I tend to concur with nicolas here

`<pre><code></code></pre>` should be used to not wrapping content
=> http://codepen.io/IamManchanda/pen/mmPRyK

But yes there's a way to get this fixed as suggested by nicolas codepen
https://codepen.io/ncoden/pen/WRQLOL

But i think same like stack overflow .... i feel people should be encouraged to use `<pre><code></code></pre>` for non-wrapping content

[2017-04-20 17:23] andycochran commented on #9875
Keep in mind, margin-based grids cause the body to scroll horizontally unless its padding is greater than the negative `margin-right` of the row. If you want your grid flush with the edges of the page, you need a padding-based grid (or a left side only, single-sided, margin-based grid).

[2017-04-20 18:34] corysimmons commented on #9875
Or `body { overflow-x: hidden }`

[2017-04-20 20:05] Ateker commented on #9892
@scottsawyer, I have the same issue with a site I'm building. Everything functions fine until you refresh the page on a non-large screen from anywhere but page top. Then the contents of `data-sticky-container` move to the bottom of the page and looking like they disappear.

I can't put this site into production without a patch. I've dug into the CSS and JS a bit but it's over my head. Any word on

[2017-04-20 20:07] IamManchanda commented on #9922
Poke @kball @brettsmason !

[2017-04-20 20:22] kball commented on #9892
Would like to get this fixed for 6.4 (roughly 1 month out). @colin-marshall can you take a look, or shall I?

[2017-04-20 20:23] kball commented on #9892
(assuming the fix doesn't require major restructuring we'll also backport it for a 6.3.2 patch)

[2017-04-20 20:25] Ateker commented on #9892
@kball Thanks for the quick update. Please let us know if it will require a major restructure so we can hack around it.

[2017-04-20 23:57] prkirby commented on #9320
Was this implemented for Orbit Slider? I am running 6.3.1, and have an equalizer inside of an orbit slider that is collapsing to 0 for everything but the first slide.

`$ourProcess.on('slidechange.zf.orbit', function() {
      setTimeout(function() {
        Foundation.reInit($ourProcess.find('.process-info'));
      }, 200);
    });`

The code above works after waiting for orbit to finish its mut

[2017-04-21 00:10] prkirby commented on #8333
@martinschilliger I'm having the same issue. Although using `.trigger('resize')` on my element for some reason breaks if I try to navigate backwards through the slides or loop to the beginning. Ended up using `Foundation.reInit($myElement)` but you can see it jump, and it's not a good solution.

[2017-04-21 01:55] captain-xu commented on #9968
@Deckluhm that's right,   there are no problems if use the css. And I think, the select -webkit-appearance show be 'none'

[2017-04-21 04:04] ricardo-lewis commented on #9869
Foundation JS is forcing the width of the dropdown to be the same as the browser window width.

[2017-04-21 07:21] martinschilliger commented on #8333
Oh, meanwhile I had some problems also and changed it to the following:
[code]
It works quite good now that way. Maybe it will help you also?

[2017-04-21 08:29] IamManchanda commented on #9778
Closing this as seems like already fixed (above comment) ... !

If in case this isn't the case ... feel free to revert and tell us ... thanks !

[2017-04-21 08:29] #9778 closed

[2017-04-21 08:56] BicanMarianValeriu opened #9975 "Flex: Menu items overflowing container if to many"
#### How to reproduce this bug:

Make a menu with many items
Put that menu in a container that has a smaller width than the items
Menu will overflow the container

#### What should happen:
Menu items should start a new row if they can't fit on just one (i guess)

#### Browser(s) and Device(s) tested on:
Chrome/Android/IE/EDGE
#### Test case link:
https://codepen.io/wecodeart/pen/oWxazj

Sorry for

[2017-04-21 09:01] IamManchanda commented on #9975
@BicanMarianValeriu Bro, i must say you love wrapping :D

cc / @brettsmason

[2017-04-21 09:05] IamManchanda commented on #9938
Closing this as added in building blocks !

[2017-04-21 09:05] #9938 closed

[2017-04-21 11:08] brettsmason commented on #9875
@corysimmons Thanks that really helped clear things in my mind.

I wanted to pick your brains on single sided margin grids again if you don't mind, as I like the fact it doesn't cause overflow etc.

I forked a Masonry demo and edited it to use a single sided margin: http://codepen.io/brettsmason/pen/JNXwVq - as far as I can see it works OK, though I will admit I haven't had to use Masonry or an al

[2017-04-21 13:42] ob7 opened #9976 "How to check version?"
I can run foundation -v to get the command line version, but where in the framework is the version of the framework defined?

[2017-04-21 13:46] corysimmons commented on #9875
Again, I really think you should avoid single-sided grids. I know how sexy the markup is, but *even if you aren't using masonry, users should have an option to plop one-off cells within a container*.

Lost is nice. It ended the need for the "context" stuff that Susy and Jeet have. It's maintained _really well_ by Peter nowadays. That said, postcss-ant is probably the most interesting thing I've do

[2017-04-21 13:53] brettsmason commented on #9875
Stupid question, but what do you mean by the bit in bold? Just want to understand what you mean (example might help), but I totally take on board what your saying so we will go with split, especially as its what users are used to anyway.

In terms of moving to PostCSS - I think it might of been discussed very briefly but not in any detail. I'd be interested to know more about it, as I'll confess t

[2017-04-21 13:57] IamManchanda commented on #9976
Look for `package.json`

[2017-04-21 14:00] brettsmason commented on #9975
So this is coming from the `.horizontal` classes having `flex-wrap: nowrap;`.
To be honest I have no idea why that's there - @rafibomb any reason you know of why that can't be changed to `wrap`?

[2017-04-21 14:01] IamManchanda commented on #9875
First they release there v4.0.0-beta! (2 yrs of development)

[2017-04-21 14:33] IamManchanda commented on #9870
Yup why not @kball but how do i apply it ..... in codes
Looking for something like

[code]

[2017-04-21 15:00] andycochran commented on #9875
Well I see use cases for each method being "better." But it seems to me like most designs need both.

Margin for spacing multiple things inside containers:

![image](https://cloud.githubusercontent.com/assets/409279/25282769/783bffc2-267f-11e7-8d34-b801d6da513a.png)

And padding for defining containers that divide space:

![image](https://cloud.githubusercontent.com/assets/409279/25283039/69f71ca2

[2017-04-21 16:18] kball commented on #9968
@IamManchanda I think this is similar to the fix you did in https://github.com/zurb/foundation-sites/pull/9868 - do you want to take a pass on it?

[2017-04-21 16:22] IamManchanda commented on #9968
Ohk @kball will take a look!

[2017-04-21 16:42] Owlbertz commented on #9976
You can also run `Foundation.version` in your browser's dev tools console.

[2017-04-21 16:59] garrett-eclipse opened #9978 "Feature Request: Add hover to toggler similar to data-toggle-focus"
Hello,

I would love to see the toggler expanded to include hover actions;
http://foundation.zurb.com/sites/docs/toggler.html

Currently, it supports focus so hover would be an additional item I'd like to see, and I don't think I'm alone;
http://foundation.zurb.com/forum/posts/47695-can-data-toggler-act-on-hover

Thank you

[2017-04-21 17:04] kball commented on #9870
There's a couple ways you could do it... you could address the general problem (change abide's `data-validator` option to accept logical sets of validators, and handle that...) or you could simply apply the specific problem by writing a pattern that responds to the 'test' method (either a regex or an object with a test method that does what you want.  You can see how these are being applied here:

[2017-04-21 17:10] IamManchanda commented on #9976
Closing this issue now with above 2 comments as reference ....

@ob7 Please feel free to revert if something's left!

[2017-04-21 17:23] corysimmons commented on #9875
@brettsmason

https://codepen.io/corysimmons/pen/GmoWGr

Basically, single-side grids (or "nth-grids" as I call them) **need** the CSS to define the number of elements in each row. With double-sided (or "negative-margin", "masonry" grids) you don't need to care about how many elements are in a row as long as they add up to 100% width.

Regardless of whatever memes people are spewing about PostCSS,

[2017-04-21 17:51] IamManchanda commented on #9875
`in.scss -> out.css -> PostCSS -> out.posted.css`

Love it!

[2017-04-21 17:54] kball commented on #9875
I think we should move PostCSS discussion to another issue, but I think it is definitely worth pursuing - have some ideas related to it as well, but lets move to an independent thread. @corysimmons do you want to start it?

[2017-04-21 18:22] brettsmason commented on #9875
So based on all the feedback and comments as well as a discussion with @kball, I've been working on a sort of proof of concept. You can view it here: http://codepen.io/brettsmason/pen/GmZaxv

Basically I think it would be good to be able to offer the choice between a margin or padding grid (with margin as default imo). The code is a bit on the messy side at the moment, but I'd really appreciate ev

[2017-04-21 18:36] corysimmons opened #9980 "PostCSS with Sass Integration?"
Carrying on the conversation from https://github.com/zurb/foundation-sites/issues/9875#issuecomment-296194753

Proposal for Foundation to migrate to PostCSS.

Thread theme music is https://www.youtube.com/watch?v=sh6V1zMmbuU

[2017-04-21 18:38] corysimmons commented on #9875
@kball https://github.com/zurb/foundation-sites/issues/9980

@brettsmason Pen is broke. I guess you're working on it right now. If you share a pen, care to fork off it immediately after to guarantee the shared one works, and for posterity's sake?

[2017-04-21 18:38] IamManchanda commented on #9980
Nice Music!

[2017-04-21 18:39] brettsmason commented on #9875
Sorry fixed now and yes was tinkering, will fork instead!

[2017-04-21 18:44] corysimmons commented on #9980
## Pros:

- All the power of JS instead of a subset of misc functions (for instance, Sass will never have `pow`—which is really handy for working with ratios).
- Works with every CSS preprocessor AND vanilla CSS, so we're no longer ostracizing Stylus/LESS users.
- Super fast.

## Cons

- Docs aren't perfect. We could help with that though.
- It's a huge undertaking.
- The syntactic sugar libs (e.g

[2017-04-21 18:45] corysimmons commented on #9875
Thanks. :)

Also, can you start putting `body { padding: 30px }` so we can see where overhangs are happening?

[2017-04-21 18:48] brettsmason commented on #9875
Done!
At the moment most of the demos have a `.grid-container` which limits the width to 1200px - would you prefer I got rid of that?

[2017-04-21 18:54] corysimmons commented on #9875
This max-width is fine, but not necessary for testing purposes.

It looks like you're on the right track now. It seems like you're having fun with it. Do I smell another grid enthusiast?!

A couple things to solidify an approach (and some docs) on:

1. Setting background color to a flush container. (just a single cell within a container—it'll produce a lot of markup, but should be a good approach

[2017-04-21 19:08] kball commented on #9980
Another interesting thing I was thinking about postcss for was related to Container Queries.  We did some experiments with container queries using https://github.com/ausi/cq-prolyfill that are REALLY COOL! However the prolyfill doesn't work well with scss which would make it hard to integrate container queries into the framework itself... UNLESS we move to postcss and set up our own handling of it

[2017-04-21 19:08] brettsmason commented on #9875
Yep! - as @kball will tell you I tend to get pretty heavy into whatever I work on (off canvas was the last thing). I like working on things that I feel could be made a lot better.

Not sure what you mean with 1. - do you just mean add a `<div>` within the cells and colour those instead?

Re vertical sizing - do you mean eg setting the grid to `flex-direction: column` and how that would work? Almos

[2017-04-21 19:42] corysimmons commented on #9980
I don't see how PostCSS (compiles to valid CSS) has anything to do with a polyfill (requires JS at runtime).

I think element queries are amazing and https://github.com/eqcss/eqcss has been trying to get the W3C to pay attention to his [spec](https://tomhodgins.github.io/element-queries-spec/element-queries.html) for it for a while...

I'm all about progressive enhancement but almost everything on

[2017-04-21 19:45] corysimmons commented on #9875
Sure. Experiment with a couple ways to do this and see which one is the easiest to convey to potential users.

Something like that. I'm not sure of the implementation, but just thinking about sizing vertically as well—like, if I wanted a 500px tall container, and wanted 3 elements in it that were 1/3 with a gutter between them.

It might be silly to implement since Grid Layout will crush whatever

[2017-04-21 19:45] andycochran commented on #9833
@DaSchTour we could fix this by changing the internal (internal is inaccurate) color vars in `_global.scss` to something like:

[code]

[2017-04-21 19:48] kball commented on #9980
The JS polyfill is the runtime; the way to specify the container/element queries use some extensions on CSS that caused SCSS preprocessors to barf when I was playing with them, which makes it hard to use in a systematic way within the framework. Was thinking that PostCSS might give us a way to work around that.

[2017-04-21 20:03] IamManchanda commented on #9978
cc / @kball .... can we look into this.

[2017-04-21 20:05] corysimmons commented on #9980
Ah, weird. I'm not sure I'd break SCSS for people so I could use element queries though. Personally, I use Sass for sugar and some polyfill acting weird would upset me. That said, I'm sure we could dev a PostCSS prolyfill that would work well with Sass.

[2017-04-21 20:11] kball commented on #9978
There's two pieces here to look at.. one is the triggers utility, which is how a `toggle` is triggered... the second is the `toggler` (note the additional `r`) plugin which wraps up some common ways to handle a toggle. I think the request here would actually be implemented in the triggers... see for example how toggle-focus is handled here: https://github.com/zurb/foundation-sites/blob/develop/js/

[2017-04-21 22:27] #8508 closed

[2017-04-22 00:08] LaurelBCodin commented on #9836
resolved with #9982

[2017-04-22 00:08] #9836 closed

[2017-04-22 06:15] soulcreate commented on #9890
I fix it! my solution:
[code]

[2017-04-22 06:15] #9890 closed

[2017-04-22 10:54] ob7 commented on #9976
My package.json generated by foundation-cli does not actually list the version of the framework itself.
I believe I'm using Foundation 6.3.1.
As for running Foundation.version, that will only work if you are also using javascript, but I'm only using the CSS.

[2017-04-22 11:10] IamManchanda commented on #9976
Reopening the issue
Can you brief about your workflow???

[2017-04-22 13:46] IamManchanda commented on #9870
PR is up #9984 .... thanks @kball for your kind help!

[2017-04-22 14:18] Deckluhm commented on #9976
`bower_components/foundation-sites/bower.json` is what you are looking for.

The version can also be found at the top of these files:
- Any unminified file in `bower_components/foundation-sites/dist/css`
- `bower_components/foundation-sites/scss/foundation.scss`

[2017-04-23 02:03] ivancp commented on #9895
Thank you

[2017-04-23 06:20] Moonbase59 commented on #9813
@christianmagill I agree that it might be a nice feature to have—for a very few cases, like @kball said. I also agree with @DaSchTour regarding its overuse.

Eventually, I’d vote for having it, just in case. :+1:

[2017-04-23 07:34] ob7 commented on #9976
Thank you Deckluhm all others.   The responses cover about every way to get the version.  My  specific need was answered by Deckluhm by showing me where I can find the foundation version in plain text throughout the files.

[2017-04-23 07:34] #9976 closed

[2017-04-23 09:24] BicanMarianValeriu opened #9986 "Column .shrink + .small/medium/large-# class behaviour"
#### How to reproduce this bug:
I have a container with .column.small-12.shrink class
If there is a medium-expand class or large-expand why there is not a .medium-shrink or .large-shrink or there is one and I don't know. Should it be like it is or is a bug?

#### What should happen:
--
#### What happened instead:
--
#### Browser(s) and Device(s) tested on:
not the case
#### Test case link:

No pen

[2017-04-23 10:15] BicanMarianValeriu commented on #9986
In my opinion .shink class should be:

.shrink:not(class^="small"):not(class^="medium"):not(class^="large")

[2017-04-24 02:13] Quisp commented on #7802
Not sure if this is a proper fix, but keeping the span inside the label but adding data-abide-error attribute to it seems to fix the issue?

`                    <label>Email Address<sup class="required">*</sup>
                        <div class="input-group">
                            <span class="input-group-label"><i class="fi-mail"></i></span>
                            <input	class="input

[2017-04-24 06:43] DaSchTour commented on #9833
@andycochran well there is already a `add-foundation-colors()` function to add the deprecated variables with values from `$foundation-palette`.
With #9683 there also will be major changes to color handling. So I'm not sure if there is any need to change something.
I think the problem here is, that removing what is called state-colors in #9683 may break generation of buttons, callouts and so on. So

[2017-04-24 10:36] sebastian-marinescu commented on #7246
I would also be interested in a migration-guide!

Right now I stumbled upon the reveal-component: In FS5 it was opened like
`$modal.foundation('reveal', 'open');`

Now in FS6 it's a little different:
`$modal.foundation('open')`

Maybe this helps someone.

[2017-04-24 15:25] IamManchanda opened #9989 "[Tooltip] Considering Tether type functionality?"
I think my comment was missed so here it is ??

https://github.com/zurb/foundation-sites/issues/9618#issuecomment-292786762

[2017-04-24 15:31] IamManchanda commented on #9989
if this is a stupid idea or can be done through current JS then let me know!

[2017-04-24 18:34] xanview commented on #6944
Does anyone have a fork of the latest version with this fix? - It seems like a critical bug and it's a shame it won't be fixed. It makes Foundation 5 completely unusable on IE and Firefox and there are still no upgrade docs to 6 :(

[2017-04-24 19:07] brettsmason commented on #9875
So I've been working on putting together the mixins this afternoon and it bought up a few questions.

What should a single `.column` class behave like? For the live flex grid they take up available space and dont stack like the float grid does. My gut feeling is this should be changed so its 100% width without sizing classes applied. We can then offer some `.auto` classes or something that add the

[2017-04-24 19:54] corysimmons commented on #9875
Sorry @brettsmason

I'd like to keep nerding out on this but no one is paying me to. Going to go study some in-demand tech instead.

You seem to be on the right track with all this stuff so I'm not sure how much more help I could be at this point. Try bouncing these ideas off some html/css-centric co-workers to see how they _feel_ about using your solutions.

I wouldn't worry too much about the ve

[2017-04-24 20:41] kball commented on #9875
@brettsmason I agree with your assessment on 100% width and then having auto sizing be explicitly applied... the behavior in the current flex grid (and its difference from the float grid) is a constant source of confusion.

On the vertical front, that seems like a reasonable approach. Do gutters then apply vertically rather than horizontally as well?

[2017-04-24 20:51] brettsmason commented on #9875
@corysimmons no problem and thanks for all your help with this :thumbsup:

@kball cool thanks for confirming, I'll go with 100% then.

Not sure on gutters. My initial thought was yes to apply vertical gutters, but not sure - I never used Apps so not sure on layouts that would typically be created. I know it has other uses though other than app style layouts.

Is there any way to get some of the Ap

[2017-04-24 20:54] IamManchanda commented on #9875
Your example showed horizontal grid nested within vertical

Flexbox should be either used horizontal or vertical... but not in combination

For Two dimensional grid system => CSS Grids is the correct approach and flexbox shouldnt be used!

[2017-04-24 20:57] kball commented on #9875
@brettsmason with regards to app grid, check out the work in this WIP PR: https://github.com/zurb/foundation-sites/pull/9487

@IamManchanda in 2018 CSS Grid is the correct approach... hopefully by late 2017 even... but the target with this grid is something that moves us forward and is actually usable for production projects today.

[2017-04-24 20:57] brettsmason commented on #9875
@IamManchanda not everyone has the luxury of being able to use css grid, including me :smile:

[2017-04-24 21:02] IamManchanda commented on #9875
I am not saying to use CSS grids right now
Check my above comment.... infact I am requesting to delay f7 to early 2018

I am just saying that....just meant that lets not look for a combination and keep it simple
Aka One way traffic!! @kball

[2017-04-24 21:04] IamManchanda commented on #9875
Same here @brettsmason... even I dont have :D

[2017-04-24 21:06] brettsmason commented on #9875
@kball i was actually referring to these: http://foundation.zurb.com/apps/page-templates.html it would be nice to see them working so I have a better understanding of how everything fits together (the docs in the PR don't really give me an idea of the layouts it's for).

There's bound be a lot of overlap between the grids, just wondered how much and if they needed to be separate or not.

[2017-04-25 00:48] tomByrer commented on #9980
I like PostCSS; they have modules to process some things SCSS, people use it anyway for Autoprefixer, & other PostCSS modules are handy.

[2017-04-25 15:24] Mojtaba-Reyhani commented on #9934
@siddharthashok: Thank you so much for your help and reply, You are right.

[2017-04-25 16:20] rafibomb commented on #9702
@IamManchanda That would make a nice Building Block! The same thing is represented here: http://foundation.zurb.com/building-blocks/blocks/topbar-sticky-shrink.html

The `.is-stuck` class generated by the sticky plugin is ideal for changing elements inside when sticky is activated.

[2017-04-25 16:22] IamManchanda commented on #9702
Great @rafibomb

[2017-04-25 16:54] rafibomb commented on #9867
Let me start of by saying that I love the use of mixins and I don't agree that we should add more compiled CSS to Foundation. Keeping it lightweight is a goal, and keeping the styles to a minimum (like a wireframe) is what differentiates us from other frameworks.

Originally (during Building of F6) we thought .callouts would make a great base for cards and inherit most of the styling there. Turned

[2017-04-25 17:07] IamManchanda commented on #9867
@rafibomb i tend to concur with you
but then everybody using things like foundation is not a designer/front end dev ,,,,, and they like to get things as simple as possible (aka simple classes) ....
and for that .... i would urge you to look into my this comment once => https://github.com/zurb/building-blocks/pull/149#issuecomment-296440516

PS: I am with you guys on the framework's motive to be as

[2017-04-25 17:55] paxperscientiam commented on #9980
Just for reference, node-sass can be combined with post-css nicely.

EG:
[code]

[2017-04-25 18:07] rafibomb commented on #9875
@brettsmason I think the grid is looking good! One thing that people have asked for and Flexbox can do well is a Block Grid - but with various width columns like: http://bulma.io/documentation/grid/columns/#multiline

I can add this in - where would be the best place to collaborate with you on the flex grid code?

[2017-04-25 18:22] brettsmason commented on #9875
@rafibomb I'm in the process of putting together mixins so I can put everything together correctly.
Once that's done I'll stick a branch online for you to take a look at.

I'm not sure I fully understand the difference with the multiline thing - isn't it just a row with `flex-wrap: wrap` on it?

[2017-04-25 18:36] rafibomb commented on #9875
@brettsmason Basically! I think a lot of it will be documenting the cool use cases which is where I can help as well.

[2017-04-25 19:08] brettsmason commented on #9867
I agree with @rafibomb on this, I dont see the need for the extra colour classes as I dont think they would be useful for 99% of users (I dont ever remember seeing a coloured card).

Mixins would be the way to go IMO.

[2017-04-25 21:01] #9870 closed

[2017-04-25 21:43] kball commented on #9676
These warnings are implemented using `console.warn`; if you wish to disable console warn in production, there are ample mechanisms for doing so (see http://stackoverflow.com/questions/1215392/how-to-quickly-and-conveniently-disable-all-console-log-statements-in-my-code)

Going to close this as wontfix, as at this time I'm pretty confident we should still be warning on usage that can result in unex

[2017-04-25 21:43] #9676 closed

[2017-04-25 21:45] kball commented on #9672
@brettsmason did you end up making this change as a PR? I thought I saw it but now I'm not finding it

[2017-04-26 04:32] RLHawk1 commented on #9932
@kball I can try! Just submitted #9990.

[2017-04-26 08:26] Proper-Job opened #9991 "Documentation for Title Bar component is missing"
There is a mixin called `foundation-title-bar` located in foundation-sites/scss/components/_title-bar.scss.  However there is no documentation related to that component.

[2017-04-26 11:55] Owlbertz commented on #9934
@Mojtaba-Reyhani I consider this one as solved. If there are any additional questions, please re-open.

[2017-04-26 11:55] #9934 closed

[2017-04-26 15:57] #9961 closed

[2017-04-26 18:36] kevinklinegargar opened #9992 "fourseven:scss conflict with angular2-compilers package"
Hi Guys,

I'm new to meteor and angular2 development. I have this app that I will use foundation(zurb) and angular2 framework. But when I install the foundation using this command (meteor add zurb:foundation-sites) and run the app I got a package conflict See the error messages:

I tried to remove the fourseven:scss package but it also gives me an error `"fourseven:scss is not a direct dependency

[2017-04-26 19:23] Deckluhm commented on #9992
That looks more like a Meteor "issue" (not a Foundation / Angular one).

Note that GitHub issues aren't generally the good place for help / support (most open-source projects use GitHub issues for bugs and feature requests).

I see that you already opened a topic on the Meteor forum, you will have more chance there!
And if not already done, check [their documentation](https://docs.meteor.com/).

[2017-04-26 22:42] #9932 closed

[2017-04-26 22:42] kball commented on #9932
Fixed in #9990. Will be included in 6.4 and 6.3.2

[2017-04-27 01:58] kevinklinegargar commented on #9992
Ah yes, I thought this is from meteor packages repo. I will close this issue now.thanks

[2017-04-27 01:58] #9992 closed

[2017-04-27 02:19] RLHawk1 opened #9993 "Orbit scroll issue"
#### How to reproduce this bug:

1. Create more than one orbit with auto-play on the same page in a way where they won't both fit entirely on the screen
2. Scroll until they're both partially in view

#### What should happen:
They should auto scroll as usual

#### What happened instead:
The screen jumps up to put the top of the top orbit into view.

#### Browser(s) and Device(s) tested on:
Google

[2017-04-27 12:27] bernhardsturm opened #9994 "Printing Issues with Edge / IE11"
#### How to reproduce this bug:

1. Create a nested class="row" sequence (NOTE: flex-box is used a layout grid method)
2. Add a lot of content in the second class="row" construct
3. Print the page with Microsoft Edge or Internet Explorer 11

#### What should happen:
All content should be printed on multiple pages

#### What happened instead:
Only the first and last page is being printed. Some cont

[2017-04-27 12:57] IamManchanda commented on #9994
cc / @andycochran @rafibomb

[2017-04-27 16:16] kball commented on #9438
#9965 has been merged! This issue can be closed. Super excited about the possibilities this opens up.

[2017-04-27 16:16] #9438 closed

[2017-04-27 16:18] kball commented on #7386
We've just merged #9965 which moves all of Foundation's javascript to true module dependency, and actually uses webpack for our internal builds, so this will be well and truly fixed in the 6.4 release, scheduled for mid to late May.

[2017-04-27 16:18] #7386 closed

[2017-04-28 01:58] MDOR opened #9995 "Tooltip is not working on mobile devices, disabled touch and click"
# Description
When the user clicks/tap a tooltip and is using/emulating a mobile device I can see the tooltip's message but he isn't not able to close it.

[code]

#### How to reproduce this bug:
1 - Open [http://codepen.io/MDOR/pen/aWJOaj](http://codepen.io/MDOR/pen/aWJOaj)
2 - Open Chrome Developer Tools and set the emulator to responsive to 922 * 551 or less
3 - Click on the index item.

#### W

[2017-04-28 02:13] MDOR commented on #9995
As far as I can see:
1 - The tooltip enter to  'focus.zf.tooltip' event, it hasn't reason to do it (I removed the handlers for touch and click handler, the only handler is the hover and mobile hasn't hover).
2 - Besides it enter to the 'focus.zf.tooltip' event, it never change the `_this.isActive` value to false, that's why it never hide the tooltip once is open.
3 - Debugging the code you'll see

[2017-04-28 02:35] corysimmons commented on #9980
If you guys do PostCSS, I can port my ratio method from postcss-ant to Foundation, allowing for these types of layouts: https://alistapart.com/article/content-out-layout

Then people could do something like: https://codepen.io/corysimmons/pen/wdJKrq?editors=1100

Designers want to use ratios, but keep having to work with simple fractions. It'd be something unique to your grid.

[2017-04-28 07:15] tomByrer commented on #9980
Looks great @corysimmons; I'd love me some Golden Ratio!

But I'd imagine backwards compatibility + more complex core codebase would be an issue; could a ratio plugin be better?

[2017-04-28 07:55] corysimmons commented on #9980
Oops, I added what it might look like in Sass while simultaneously promoting PostCSS. Fail.

tbh, I'm not sure how to approach it in Sass off the top of my head. It can _probably_ be done. I suppose some crazy loop stuff would work, but taking gutters into account and such, bleh... it just always seems Sisyphusy.

It just bothers me to think of weird loop hacks to workaround Sass' shortcomings...

[2017-04-28 08:37] Aaasaasa opened #9996 "cli build of tab-content has no definition for display."
splitted node in content in tab  (e.g. medium-x large-x) not render hight correctly.

#### What should happen:
.tab-content{ display: inline-grid; } // or inline-block

#### What happened instead:
content overflow border
 no definition
#### Browser(s) and Device(s) tested on:
 ie, ff
#### Test case link:

Foundation 6.3.0 and 3.3.1

[2017-04-28 09:07] Owlbertz commented on #9995
Hi @MDOR, maybe I got this wrong, but there is no such option as `data-disable-for-touch`.
If you could rephrase what you are trying to achieve then we can see if there is a way to make it work as expected.

[2017-04-28 09:22] Deckluhm commented on #9996
That may be just me but I have a hard time understanding your issue.

Can you explain more in depth what you are trying to achieve, show us the code you tried (using a CodePen or anything similar) and be clearer about the issue encountered?

Thanks!

[2017-04-28 12:25] MDOR commented on #9995
Hi @Owlbertz , There is not an option into the documentation (the only option is supposed to be **data-click-open**), but please take a look to the next scenarios.

Removing the `data-disable-for-touch` property:
![image](https://cloud.githubusercontent.com/assets/7268268/25528002/1161b7b2-2be1-11e7-90bf-62ba05d73831.png)
The property disableForTouch is **false**

Keeping the `data-disable-for-tou

[2017-04-28 16:09] kball commented on #9980
tag @brettsmason if you haven't seen this I'd love your thoughts in here.

With regards to versions, I don't think this makes sense for 6.4 (intended to come out mid to late next month) but we can definitely explore for 6.5

[2017-04-28 16:37] labr1005 commented on #9789
**Similar problem with data-allow-all-closed="true".**

**How to reproduce this bug:**

Add data-allow-all-closed="true" option.

`<ul class="tabs" id="demoTabs" data-responsive-accordion-tabs="accordion medium-tabs" data-allow-all-closed="true">`

**What happened:**

Close all contents on small.
Resize to medium.
No tab is active an all contents are hidden.

**What should happen:**

The first tab

[2017-04-28 17:00] rafibomb commented on #9937
I think it's more of a Pizza issue - closing here thanks!

[2017-04-28 17:00] #9937 closed

[2017-04-28 17:06] rafibomb commented on #9919
Thanks for the report! There is already an issue open for this here: https://github.com/zurb/foundation-sites/issues/9047

Please add any suggestions or supporting details there. Closing this one in favor of https://github.com/zurb/foundation-sites/issues/9047

[2017-04-28 17:06] #9919 closed

[2017-04-28 18:16] corysimmons commented on #9980
Any ETA on 6.5? Might not make sense to change the grid's API just to have a new one in a couple months.

The PostCSS stuff would be cool (especially if it were built with React/Vue in mind), but it's ambitious and I'm sure would make a lot of Sass devotees angry at first.

Not sure I have anymore arguments for it, so just ping me if you want to go through with it and I can help get someone up-and

[2017-04-28 18:43] brettsmason commented on #9980
I'm completely open to the idea of moving to PostCSS. Having said that, I know very little about it to be honest and dont know what would be involved at all. Cory knows his stuff so I trust what he says and it does sound good. I would of thought 7.0 would be a better option though, as I get the sense it might take a bit of work and be quite an adjustment...

I think you need opinions from more exp

[2017-04-28 18:54] IamManchanda commented on #9980
:+1:

[2017-04-28 19:33] rafibomb commented on #9551
@IamManchanda Yes a building block, yes an animation mixin for generic components

I think to work well on mobile it needs JS - motion UI can handle this?

As far as a class core to the framework - no

[2017-04-28 20:50] tomByrer commented on #9980
Yes, drastically changing build tooling sounds more like a Major Version change, unless PostCSS will run parallel to Sass?  I think PostCSS can do most Sass processing, but folks may have other Sass dependencies that may not be compatible.

[2017-04-28 22:26] tsquez opened #9998 "Off-Canvas Flashing on Page Load"
I just noticed something strange, the Off-Canvas menu seems to flash and disappear on page load.

You can see it happen here https://themeawesome.com/themes/wpforge/

Any idea why it would do something like this? It's never happened before. I have been looking into it but can't figure it out?

Ideas? Any help is greatly appreciated.

[2017-04-29 00:24] corysimmons commented on #9980
Yeah it'd be a huge breaking change across the board.

[2017-04-30 06:40] IamManchanda commented on #9998
cc / @brettsmason

[2017-04-30 22:22] SalahAdDin opened #10000 "Scss file appears in dist folder"
#### How to reproduce this bug:

1. Remove dist folder
2. Start npm
3. Review new dist folder

#### What should happen:
Dist folder haven't `scss` folder.

#### What happened instead:
`scss` folder appears in dist folder.
![seleccion_334](https://cloud.githubusercontent.com/assets/5034215/25568470/35a8a48c-2e0c-11e7-8458-1f0349aca6d8.png)

#### Browser(s) and Device(s) tested on:
x86_64 Linux 4.10

[2017-05-01 00:05] ncoden commented on #10000
# ⭐️ ⭐️ ⭐️  #10000 ⭐️ ⭐️ ⭐️

[2017-05-01 02:01] IamManchanda commented on #10000
Congrats @SalahAddin for being no 10,000!

Coming to your request, can I know your workflow?
Are you facing this within zurb template, basic template or something else?

[2017-05-01 07:28] Kosmonaft opened #10001 "Dropdown menu close-on-click (second click) doesn't work on touch screens"
Hi everyone,

I'm having problem with the dropdown menu on touch screen devices.
The second click on the menu option is not closing the dropdown.
I'm using Foundation zurb 6.3.1

#### How to reproduce this bug:
1. Create a dropdown menu and add the following option to it: `data-options="clickOpen:true;closeOnClick: true"`
2. Open it on device with touch screen
3. Click to open the dropdown menu
4.

[2017-05-01 10:24] IamManchanda commented on #9991
@Proper-Job Do you mean `top-bar-title` ??

[2017-05-01 10:41] SalahAdDin commented on #10000
I'm working within Zurb Starter Template, i create mi project using Foundation CLI 2.1.0.

Where is my award? ✌️

[2017-05-01 14:25] rafibomb commented on #9996
Thanks @Deckluhm! @Aaasaasa Here is a blank codepen to share what the issue is: http://codepen.io/rafibomb/pen/wddYLB

[2017-05-01 14:42] Deckluhm commented on #10000
The issue has already been reported (https://github.com/zurb/foundation-cli/issues/47) and a pull request opened (https://github.com/zurb/foundation-zurb-template/pull/57).

[2017-05-01 15:03] denisahac commented on #9978
A very welcome addition. 👍

[2017-05-01 16:14] HeleenE commented on #7446
Did anybody manage to find a fix or workaround for this?

[2017-05-01 17:33] Aaasaasa commented on #9996
OK, sorry that I wrote it so confused but I haven't have enought time :)
Tomorrow I have more time to better explain what I thought.
Tanks... I have put basic code on codepen

[2017-05-01 18:02] BicanMarianValeriu opened #10002 ".menu.nested vs dropdowns while on medium/large screens"
#### How to reproduce this bug:

See the menu in the pen!

#### What should happen:
When you have a dropdown in your menu, it will add a margin to the sub-items ul and will not look ok for large screens.

#### What happened instead:
It should add the margin only for small devices.

#### Test case link:
https://codepen.io/wecodeart/pen/xddBZz

[2017-05-02 06:38] Proper-Job commented on #9991
@IamManchanda No, I don't mean top-bar-title.
In several places the ``.title-bar`` class is mentioned, for instance in:
- [Sticky Navigation](http://foundation.zurb.com/sites/docs/sticky.html#sticky-navigation)
- [Off-canvas](http://foundation.zurb.com/sites/docs/off-canvas.html#combining-with-title-bar)
- [Kitchen Sink](http://foundation.zurb.com/sites/docs/kitchen-sink.html#title-bar)
- [Respons

[2017-05-02 12:48] Aaasaasa commented on #9996
Hier is it:
http://codepen.io/Aaasaasa/pen/MmomXK
floating elements in content of tabs

[2017-05-02 13:14] Deckluhm commented on #9996
You need to nest your `.columns` inside a `.row` and everything will work as expected.

Here is a quick example:
[code]

Take time to (re)read Grid basics if needed: http://foundation.zurb.com/sites/docs/grid.html

[2017-05-02 13:32] Aaasaasa commented on #9996
Thanks Deckluhm, you're right. But if I have simple floating elements like this:
http://codepen.io/Aaasaasa/pen/ybXXvo
is it not safer if I set the parent tabs container to inline-block?

[2017-05-02 14:06] Deckluhm commented on #9996
I also recommend to use grid for that use case because your images will be more nicely aligned (thanks to grid gutters) but if you really want to use float classes, don't forget to use `.clearfix` on the parent container as described in the [documentation](http://foundation.zurb.com/sites/docs/float-classes.html).

[2017-05-02 19:58] szyam commented on #6474
I'm using Version 6.2.4 and this is still happening. Is it still in the works to have this work? Thanks

[2017-05-03 02:05] IamManchanda commented on #10002
@BicanMarianValeriu would you like to create a PR for this ??

[2017-05-03 03:05] IamManchanda commented on #9871
No flex-container only adds `display:flex` and not `flex:auto` by which both top bar left and right are positioned into right

When 'flex:auto` its works as expected but still has a bug on mobile
Reported here => https://github.com/zurb/building-blocks/pull/182#issuecomment-298813144

[2017-05-03 06:29] Owlbertz commented on #9782
Should be solved via #9977.

[2017-05-03 06:29] #9782 closed

[2017-05-03 11:23] IamManchanda commented on #10000
Thanks @Deckluhm .... closing this in favour of orignal!

-----------------------------------------------------------------

cc @kball :stuck_out_tongue_winking_eye:

[2017-05-03 11:23] #10000 closed

[2017-05-03 11:56] designchief opened #10004 "Table border not working"
#### How to reproduce this bug:

I updated Foundation on a project from 6.2.4 to 6.3.1 and my table borders did not display any more.
I also tried a fresh version of 6.3.1 and added the default table markup and got the same result - no border even though a 1px border is specified in the settings:

$table-border: 1px solid smart-scale($table-background, $table-color-scale);

#### What should happen

[2017-05-03 14:15] designchief opened #10005 "Equalizer elements wrong height until page is resized"
Updated to 6.3.1 from 6.2.4 but I am still seeing equalizer elements appearing too high on initial load of page. They contract to the correct height when the page is resized.

This issue seems to be only happening on webkit browsers. Safari on mac is affected but not Chrome & Firefox.

Also, there are no images in the Equalizer panels, just a header and paragraph.

#### How to reproduce this bug:

[2017-05-03 14:24] Deckluhm commented on #10005
Can you reproduce the issue in a CodePen please? You can fork [this one](http://codepen.io/IamManchanda/pen/LWGZxR).

[2017-05-03 15:58] ivanjaros commented on #9483
Hi, I have Foundation 6.3.0 and I would like to add color or other styles to the header-styles. Since it is not working for anything else but font-size, is there another way to do this without writing new mixins or other logic?

[2017-05-03 16:00] rafibomb commented on #10004
Can you please share an example where this is happening? Here is a codepen with Foundation: http://codepen.io/rafibomb/pen/YVxpGQ

[2017-05-03 19:46] zacksmash commented on #8442
Super late to the party, but I am still having issues with this. I came up with an incredibly lame workaround, if anyone is interested and doesn't have much time to dump into this.

[code]

Definitely need a better solution natively, though. It's not uncommon to have input fields in modals.

[2017-05-04 07:57] vedran-milic opened #10006 "Breakpoint (down) error"
When setting up custom media queries in settings file, I've changed medium media query from 640px to 480px.
Now when I use <code>@include breakpoint(medium down)</code> i expect it to be <code>@media screen and (max-width: 479px) or 29.9375em</code>, but instead I <code>get @media screen and (max-width: 639px) or 39.9375em</code>.
Should this work this way?

[2017-05-04 10:53] designchief commented on #10005
I have not been able to reproduce the issue in a codepen - here is [my example](http://codepen.io/designchief/pen/dWzOmV).

But I am seeing the issue in a new test I have created. I am not sure how Codepen renders the pages but I am seeing different results in codepen on Safari as opposed to viewing the page directly in Safari.

Anyway, from my tests I have isolated the issue to the inclusion of w

[2017-05-04 10:59] brettsmason commented on #10006
I can confirm this. I just tried changing any of the breakpoint defaults using the `down` keyword, but they appear to default to the values in `_breakpoint.scss`.

[2017-05-04 11:09] designchief commented on #10004
Here is my [example pen](http://codepen.io/designchief/pen/RVZvyx).

In the settings file, the table has a 1px border specified:
$table-border: 1px solid $light-gray;

Which outputs the following CSS:
`table thead,
  table tbody,
  table tfoot {
    border: 1px solid #e6e6e6; }`

But this is having no effect on the table, I have had to add:
`table {
	border: 1px solid $light-gray;
}`
to get a bord

[2017-05-04 13:20] SassNinja commented on #9815
@rocbar I'm wondering if it's a bug at all?
In my opinion http://localhost/ isn't a valid url on  a common website so it's fine to mark it as invalid.

If you really need an input for localhost URLs I'd rather recommend creating a custom pattern for this instead of extending the default url pattern to support localhost without a TLD.

@jellisii no, the alternative regex doesn't match this url eith

[2017-05-04 13:55] Deckluhm commented on #10005
I'm not using a Mac so I can't really help you understand why it is rendered like this on Safari (probably related to the way fonts are loaded by Safari) but that makes me think of what we call [FOUT (**F**lash **O**f **U**nstyled **C**ontent)](https://en.wikipedia.org/wiki/Flash_of_unstyled_content).

Back to your issue: this is not Foundation responsibility to handle custom fonts loading but you

[2017-05-04 14:02] Owlbertz commented on #9068
Bump @kball

[2017-05-04 14:05] IamManchanda commented on #10005
Closing this with above comment!
Again @Deckluhm to rescue on helping out an issue ... Thanks for all your good work Arnaud!

[2017-05-04 14:25] IamManchanda commented on #10004
Eureka found the issue http://codepen.io/IamManchanda/pen/gWxVpp

[code]

@designchief thanks for reporting... as you reported would you like chime in and create a PR for this fix.
Creating a PR is easy as 1 2 3 =>https://akrabat.com/the-beginners-guide-to-contributing-to-a-github-project/

[2017-05-04 15:27] IamManchanda commented on #9898
@RamanCool i like your opinion but i think of it as a color switcher

Some cool Examples
1. Color Switcher's found in templates
2. [New] New youtube design with an optional dark theme! Go Black or white with a click of a button (switch)

[2017-05-04 15:35] rafibomb opened #10008 "[Forms] input type="range""
The native input type range had great support now http://caniuse.com/#feat=input-range

The styles should be updated to look like the Foundation Range Slider.
JS version
![screen shot 2017-05-04 at 8 34 30 am](https://cloud.githubusercontent.com/assets/5652085/25711761/8d7ef540-30a4-11e7-8d56-36b7df752be6.png)

Native
![screen shot 2017-05-04 at 8 34 36 am](https://cloud.githubusercontent.com/asse

[2017-05-04 18:50] designchief commented on #10005
The FontFaceObserver fix worked great for me, thanks for the suggestion.

[2017-05-05 09:55] designchief commented on #10004
@IamManchanda thanks for that. I had added that border-collapse to my own project to fix the issue.
I have now created a pull request #10009  as you suggested, hope it’s in the correct place etc..

[2017-05-05 11:53] brettsmason commented on #9998
@tsquez I'm not sure this is an issue with off-canvas.
My gut is telling me its some kind of caching on your site that's causing it. It looks like you are using Cloudflare - could you try disabling that (and any other caching plugin/service) and see if it then works as expected? I think there's a delay in your stylesheet loading, as there's also a flicker on the headings and some other elements.

[2017-05-05 13:45] tsquez commented on #9998
I believe you are correct sir. I didn't even think about that....der!!! See that's why you get paid the big bucks :stuck_out_tongue_winking_eye:

Thanks again for looking into that amigo, greatly appreciated.

[2017-05-05 13:45] #9998 closed

[2017-05-05 16:06] kball commented on #9068
@Owlbertz thanks for prodding - been slammed with some other stuff, do you have time to take a look?

[2017-05-05 18:36] #10004 closed

[2017-05-06 02:31] mctd opened #10012 "Orbit bug when using js changeSlide on the current slide"
#### How to reproduce this bug:

1. Set up an Orbit carousel with two slides with random content.
2. Put a button with an onclick action : $(id-of-orbit).foundation('changeSlide', true, $('id-of-slide-one'));
3. Wait until orbit displays the slide with the content id ("id-of-slide-one")
4. press the button

#### What should happen:
Nothing (we're asking Orbit to go on a slide it's already on)

###

[2017-05-06 05:07] IamManchanda commented on #9875
@brettsmason => http://codepen.io/IamManchanda/pen/NjwKJO?editors=1100
@corysimmons => Can't this be a possibility `.row>.columns>.columns>.columns>*` and so on ??

PS: I am looking at this as a user of the grid!

[2017-05-06 15:10] corysimmons commented on #9875
`space-around/between` will never work with margins. I fought with this for a month with every hack in the book.

![image](https://cloud.githubusercontent.com/assets/224636/25773488/169c066c-324c-11e7-9941-e8759f2e4afd.png)

`.row` could be thought of as `.apply-a-negative-margin`, and `.column` as `.put-a-margin-on-each-side`.

I really think Brett's simple flexbox mixin (I'd stick with horizonta

[2017-05-06 15:52] IamManchanda commented on #9875
@corysimmons I added `space-around` for styling purpose ....
Here it is with `flex-start` => http://codepen.io/IamManchanda/pen/ybPORw?editors=1100

I am not a coding geek like you
but can't gutters be calculated (maybe `calc`) to make it work ??

**PS: Again i am looking on it as a user!**

[2017-05-06 18:46] j000 opened #10013 "foundation.min.css is not packaged for 6.3.1 on github, so cdnjs.com is broken"
#### How to reproduce this bug:
1. Download https://github.com/zurb/foundation-sites/raw/v6.3.1-rc1/dist/css/foundation.min.css
2. Download https://github.com/zurb/foundation-sites/raw/v6.3.1/dist/css/foundation.min.css
3. Check for changes

OR
    Go to https://github.com/zurb/foundation-sites/tree/v6.3.1/dist/css and look for prev changes for .min.css files
#### What should happen:
Files should

[2017-05-06 18:55] IamManchanda commented on #10013
Yup seems true cc @kball !

![631rc](https://cloud.githubusercontent.com/assets/4970624/25775130/906e6baa-32bb-11e7-8d0a-28d0b65daaec.png)

[2017-05-06 19:04] j000 commented on #10013
I'm a noob, completly new to Foundation...
There are no changes there: https://github.com/zurb/foundation-sites/compare/v6.3.1-rc1...zurb:v6.3.1

My issues are unrelated: https://github.com/zurb/foundation-sites/issues/8618#issuecomment-268864659

Sorry about that.

[2017-05-06 19:24] j000 commented on #10013
Not sure why reopen, so let me put it more clearly.
Only *foundation-flex.css* got changed between 6.3.1-rc1 and 6.3.1 and minified version is different too.
Other *.css* files were unchanged, except version number in comments, so *.min.css* are exactly the same.
Most changes between this two versions were in javascript.

I'm new to Foundation, but I'm sure about this.

*data-closable="slide-out-r

[2017-05-06 19:42] IamManchanda commented on #10013
Yup @j000 seems like there no changes
(as there was only one css change in b/w and that was with flexbox which doesn't include these two files)
Maybe this isn't an issue and wont hurt anything!
But,
Seems like we forgot to add them in the release commit.

Poke @kball but maybe we dont have to do anything here and keep thing as it is and this most probably will be closed without any actions!

[2017-05-07 01:27] corysimmons commented on #9875
[code]

![image](https://cloud.githubusercontent.com/assets/224636/25777146/669c01c0-32a2-11e7-98bb-04c5035cce75.png)

Notice the inner columns aren't aligned flush with the original grid.

This is why you need to do: `.row > .column` every time you nest.

This extra markup is the price you must pay in exchange for not having to count columns per row.

[2017-05-07 03:12] IamManchanda commented on #9875
Oh these gutters... Damn!

Ohk just for my personal knowledge
When I don't need gutters... Is this a good way to go about?

[2017-05-07 04:24] IamManchanda commented on #10013
Update: This just maybe how git works (no changes so didn't add in commit) ... This might not be an issue at all!

[2017-05-07 05:02] corysimmons commented on #9875
Sure, but I think you'd better serve yourself, and your team, by agreeing to use 1 technique rather than mixing-and-matching—especially when the payoff is as minimal as a few less `<div>`s.

Terse markup seems thrown out the window with React, and React is curbstomping everything, so maybe terse markup doesn't matter after all.

Honestly, Brett has this already.

[2017-05-07 10:09] IamManchanda commented on #9875
This is exactly why i cant wait for css grids to take over because it has gutters `grid-gap` inbuilt in them
https://codepen.io/enxaneta/pen/YZjJaW?editors=1100

[2017-05-07 20:19] corysimmons commented on #9875
Yeah, it took them a while to figure out this was a huge problem, but in the next few years markup will become really logical and terse.

Until it hits 90% global I won't use it.

Alright, I'm outta here again. Good luck team. Ping me if you have a direct question.

[2017-05-08 11:11] lspoor opened #10014 "Argument `$map` of `map-has-key($map, $key)` must be a map"
I've just updated one of our Laravel builds from 5.3 to 5.4 and at the same time moving Foundation Sites from 6.2.3 to 6.3.1.

I've ensured I've updated my _settings.scss file and obviously using the 6.3.1 files from node_modules.

I'm importing it like so:

[code]

I'm getting an error when trying to compile... see below. Can anyone shed some light as to whats gone wrong here?

[code]

[2017-05-08 12:30] markadrake commented on #9995
This thread is a little tough to interpret. :)

Going by the first couple of lines in the description - looks like the tooltip plugin isn't mobile / touch friendly. @MDOR either is confused on how to use it, or it's use doesn't work as intended.

@Owlbertz I know the documentation does not show a data attribute for touch, but the code shows that there is indeed a variable being checked for it. htt

[2017-05-08 17:00] Deckluhm commented on #10014
Note that GitHub issues are only for feature requests / bug reports.

If you need help, use [Foundation forum](http://foundation.zurb.com/forum) or [Stack Overflow](http://stackoverflow.com).

That being said, can you show us your `_settings.scss` file?

[2017-05-08 17:05] #10013 closed

[2017-05-08 21:25] designerno1 commented on #9970
any way to do this or workaround or building block?

[2017-05-08 21:40] yesjoar opened #10015 "Not able to change the Breakpoints"
In version 6.2.4 of foundation sites I simply changed the breakpoints in my variable with this peace of code. As you can see... the small and medium value was still a workaround there. Without these two breakpoints it doesn't work also.. What I got was my four breakpoint classes like xs-2, lg-offset-4, and so on.

[code]

With the latest version (6.3.1) nothing of them worked anymore. At least I g

[2017-05-09 09:27] monosize opened #10016 "font-weight isn't set in scss/forms/_select.scss"
If you change the `$input-font-weight`, there is no effect in select fields, because the font-weight isn't set:

It's missing  `font-weight: $input-font-weight;`

[2017-05-09 15:41] coreysyms commented on #9884
First, apologies for the delay in my response.
So the big thing with the subTree is the children changing of whatever node is listening for a change. It's really all in how people use it. I intentionally changed in subTree to "true". But these things come with only so much testing. I could make up some examples of an accordion nav block in a sticky right side rail that will bomb out if subTree is

[2017-05-09 19:26] gpspake commented on #9884
Thanks for the response! Makes sense. How about this, then... if I _did_ want to set that value to false on a per project basis, what would the the best approach be? Because right now it's hardcoded which is a little too fragile for comfort. If somebody updates and rebuilds without taking this in to consideration, it will be overwritten. So, this might just be a js question, but is there a mechani

[2017-05-09 19:38] 49h4DhPERFECT opened #10018 "Magellan and WOW.js conflict"
#### How to reproduce this bug:

1. Use Magellan for dynamic active state
[code]
2. Add WOW.js library
[code]
3. Add animation with MotionUI
[code]

#### What should happen:
On scroll menu's items must be highlighted

#### What happened instead:
The second section "Unikátní léčba" seems to disappear for Magellan.

#### Browser(s) and Device(s) tested on:
Latest Chrome and Opera

#### Test case lin

[2017-05-09 19:43] IamManchanda commented on #10016
`input-font-weight` is in https://github.com/zurb/foundation-sites/blob/develop/scss/forms/_text.scss
Not `_select.scss`. This is not intended to work on Select(till date).

[2017-05-10 01:22] xinspire opened #10019 "Opening AJAX reveal modal by keyboard with data-open in link fails"
#### How to reproduce this bug:

1. Go here: https://codepen.io/rafibomb/pen/kXEwWq?editors=1010
2. Add `data-open="reveal1"` to the button tag.
3. Now click outside the button in the preview area, and press `Tab` on the keyboard so that the button gets the focus, and then press Enter to "click" the button.

#### What should happen:

The modal should pop up with "I'm loaded with Ajax!" and a pictu

[2017-05-10 06:27] grantcarthew opened #10020 "Magellan distroy() not removing all events"
#### How to reproduce this bug:

1.   Clone the [vue-foundation](https://github.com/vue-foundation/vue-foundation) repository.
   `git clone https://github.com/vue-foundation/vue-foundation`
2.   Change directory into the new clone.
   `cd vue-foundation`
3.   Install dependencies.
   `npm install`
4.   Run the project.
   `npm start`
5.   Open a browser to `http://localhost:8080`
6.   Open the de

[2017-05-10 06:34] grantcarthew commented on #10020
I should add that the [vue-foundation](https://github.com/vue-foundation/vue-foundation) project is using Vuejs components.

The Vuejs component with the initialization code and tear down is located here:
https://github.com/vue-foundation/vue-foundation/blob/master/src/components/Magellan.vue

You will notice in the `<script>` section of the `.vue` file that I am using the `mounted()` and `destroy

[2017-05-10 06:42] monosize commented on #10016
It's working ( tested in Chrome, Firefox and Safari)

![image](https://cloud.githubusercontent.com/assets/1583746/25886104/667c3ba8-355c-11e7-814a-c38d51b1b02b.png)

![image](https://cloud.githubusercontent.com/assets/1583746/25886139/8776b482-355c-11e7-8a05-ebf1dd84d33d.png)

[2017-05-10 07:04] Owlbertz commented on #10019
Hi @xinspire, thank you for that detailed issue.

I also think that the [keydown listener](https://github.com/zurb/foundation-sites/blob/develop/js/foundation.reveal.js#L151-L159) here is causing the AJAX click handler to not fire.

A possible workaround until this is patched would be to unbind this specific listener using
[code]

[2017-05-10 10:59] ltmail commented on #9054
Hi currently i am using data-interchange for images on different breakpoints,
issue is when i am not giving any image source to small screen(tablet),
and when i am resizing the window from tablet to desktop or tablet to mobile i am getting source unknown for desktop and mobile in-spite of having images for both the breakpoints
could anyone help me out in resolving the issue.

[2017-05-10 14:12] coreysyms commented on #9884
There is no setting for triggers, but triggers is its own js file, so you could compile the js files you needed for your particular install with one “set aside” triggers js file.

[2017-05-10 22:34] xinspire commented on #10019
Thanks!

[2017-05-11 05:36] Owlbertz commented on #10019
Hi again @xinspire,
I just notices something while attempting to fix this issue.
As you do manually open the Reveal in your AJAX callback, you could easily just remoe the `data-open` attribute from your button. This way the listener will not behave the wrong way and interrupt the event propagation.

[2017-05-11 05:44] xinspire commented on #10019
Ah, yes.  That was my initially solution before you commented, but wasn't sure if it was considered "hacky."  Does that mean that data-open doesn't really serve a purpose when reveal is used in AJAX mode?

[2017-05-11 05:53] Owlbertz commented on #10019
I guess with the current implementation you are correct as the event listener interfere. But even if it would work out as expected, I think for most use cases I'd recommend not opening the Reveal via `data-open` but instead manually as you did. Otherwise the modal would flash with empty content, whereas using your code it will wait for the AJAX to complete before opening.

I would say my first pur

[2017-05-11 17:27] coreysyms commented on #9068
Hey fellas, just ran into this issue and solved it for me by doing this. Not sure if it is the best solution for the rest of the world, but wanted to share to see if it perked anyone else's mind. I basically just use the logic that is in place to my advantage, which in _updateActive states. Take all hrefs and removed the active class, then apply active to the one that is currently calculated as ac

[2017-05-11 20:16] kball opened #10022 "sticky data-top-margin and data-bottom-margin should accept non em values"
Will fill out with a codepen link shortly, but want to capture this while I noticed it working on the new docs... sticky has a top-margin and bottom-margin which help when you have e.g. padding offsets and fixed elements... but they currently only accept spacing in ems, which is not always what is desired.

They are also poorly documented and could use more examples.

[2017-05-12 00:02] xinspire commented on #10019
Sounds good.  Thank you!

[2017-05-12 16:07] MildTomato commented on #7252
why is this issue closed?

[2017-05-12 19:55] daren8888 commented on #7252
@MildTomato I agree 100%! FOUC is still an issue! Granted FireFox is the worst offender, but it happens in all PC browsers - it's worse with menus that have drop downs. But's it's still visible in sites w/o drop downs.

www.web4uinc.com ( no drop down )
www.thealignmentcenter.com ( with drop down )

[2017-05-12 20:26] ainsophical commented on #7252
@MildTomato @daren8888

the fact that this has not been rectified in over a year and passed off as a non-issue by zurb developers (at least when I tried getting a solution from them last april) is one of the biggest reason I stopped developing mobile apps in html and went straight to c#/xamarin.

i know this framework is free but it's simply unacceptable for production...

[2017-05-12 20:28] tsquez commented on #7252
I agree, still a major issue and needs to be corrected

[2017-05-12 20:31] daren8888 commented on #7252
@ainsophical @MildTomato @tsquez I agree - There seems to be no Cure for FOUC at this point ( while using Foundation ). I'm about to go back to Bootstrap. It's been over 20 months and like @ainsophical said - it's just passed off as a non-issue -

Ya - try telling your client - oh - just forget about the noise in your new shiny car, that's how they come these days - Ya - NOT!

[2017-05-12 20:37] SalahAdDin commented on #7252
I think the same, still is a major issue.

[2017-05-12 20:50] jinch commented on #7252
Hmmmm - Personally I'm not experiencing this since the above fix worked for my specific issue. Of course, things are never as clear cut as that seeing many factors are unique to your specific build.

It may be worth a separate post outlining the specific issue you are facing along with an example.

Are you using the latest 6.3 release?

[2017-05-12 21:23] daren8888 commented on #7252
@jinch would you mind sharing a link so I can see it work properly?
I'm not using 6.3.1 in ALL my sites, but I'm using it in www.web4uinc.com and www.thealignmentcenter.com

[2017-05-12 21:56] jinch commented on #7252
Hi Daren - you can see on the kitchen-sinks examples (http://foundation.zurb.com/sites/docs/kitchen-sink.html) its working without FOUC issues. I can't share the personal site example as that has been handed off to a backend developer and is not ready for public view.

The examples you shared though I do not see FOUC issues on this end viewing in Firefox v52.1.1. What browser are you seeing the pr

[2017-05-12 22:59] daren8888 commented on #7252
Hi jinch - I see the issue in IE, FF, Chrome, Safari - PC Win 7

[2017-05-12 23:28] jinch commented on #7252
Ok, that helps narrow it down. I'm on a mac so I can't see the issue minus running a windows emulator so I will have to take your word. I did check my site before launch though in an emulator and those browsers and did notice any FOUC issues. Can you confirm if this may be a MAC / PC thing? What version browsers are you seeing the issue? Foundation should work smoothly with the exception of IE8 do

[2017-05-13 06:15] #10018 closed

[2017-05-13 06:31] siddhant92 opened #10024 "Setting properties for all the tooltips"
Hello all,

I am trying to add properties to all the tooltips present on the page. According to the documentation, the Foundation.Tooltip instance only affects the first tooltip on the page. How do I get it to affect all the tooltips without having to go through a foreach loop?

[code]

In Foundation 5.3, they suggested something like this but having tried that it gives a console error that we can

[2017-05-13 11:07] Owlbertz commented on #10024
Hi,

you could go with something like this to set global options:
[code]
See [this pen as an example](http://codepen.io/Owlbertz/pen/wdjjqE?editors=101).

[2017-05-13 13:11] IamManchanda opened #10025 "Flexbox - Responsive Toggle & Menu Issues"
1. https://github.com/zurb/foundation-sites/issues/9871
2. https://github.com/zurb/building-blocks/pull/182#issuecomment-298813144
3. https://github.com/zurb/foundation-sites/pull/10021#issuecomment-300921192

[2017-05-13 13:14] IamManchanda commented on #10025
With 6.4 being flexbox first.... this needs to get resolved ... asap!
Some docs correction also maybe!

[2017-05-14 03:27] IamManchanda commented on #10020
cc / @kball

[2017-05-15 05:08] rafibomb commented on #9038
I don't think there is any flex mode set up for this component. Should be straight forward to add it though.

[2017-05-15 10:25] adrianwhite commented on #9883
@kball, apologies for being quiet for a while. I'm very busy at the mo.
I agree and will look into creating a PR for a documentation update. Should I leave this issue open until that has been created and accepted?

[2017-05-15 12:19] denisahac commented on #10016
I think the `select` form element should have its `font-weight` property applied according to `input-font-weight` value, since it is technically a form element and to have the `font` properties be applied across form elements.

Not just this specific property, any `font` declaration that are not present in a particular form element, but present on the other should get applied throughout.

Let me k

[2017-05-15 15:04] rafibomb commented on #8781
Thanks @Yanchek99
Closing!

[2017-05-15 15:04] #8781 closed

[2017-05-15 15:06] rafibomb commented on #8512
Also - for 6.4 the class should be renamed to `.stack-for.small` to match other components.

[2017-05-15 15:07] rafibomb commented on #8512
@gremmie Yes a PR would be awesome! We'll merge it in. The desired behavior should be to show the thead on stack.

[2017-05-15 17:13] BicanMarianValeriu commented on #10002
Not capable of properly fixing this. Someone with better knowledge about F core should do it. Sorry for late answer.

[2017-05-15 18:24] kball commented on #10024
I think @Owlbertz's answer addresses this. Closing. Please reopen if this did not address your issue

[2017-05-15 18:24] #10024 closed

[2017-05-15 18:34] IamManchanda opened #10028 "[Reveal] Focus Ring Bug"
Using Ubuntu - Getting Blue line on focus

https://codepen.io/IamManchanda/pen/vmrQwL?editors=1000

**User agent stylesheet**
[code]

![blue-line-focus](https://cloud.githubusercontent.com/assets/4970624/26072960/f9a2bce6-39ca-11e7-8df3-f83a4dc0a63c.png)

[2017-05-15 18:42] Deckluhm commented on #10028
http://www.outlinenone.com

This website explains perfectly why:
- It's not a bug
- It's important

[2017-05-15 18:47] IamManchanda commented on #10028
Thanks but its seems like we forgot to add what-input to the templates while making pens
But thanks @Deckluhm
BTW updated & resolved codepen => https://codepen.io/IamManchanda/pen/vmrQwL?editors=1000

[2017-05-15 18:48] #10028 closed

[2017-05-16 14:04] brettsmason commented on #9875
@corysimmons Sorry to bother you, I'm trying to get my head around a question with margin grids.
I've mainly used padding grids in the past, so struggling with the way to handle this.

A typical use case would be a solid coloured, full width background container, within this is our grid container, centred and contained to a max width. Then within that would be our columns etc.

Currently with a pa

[2017-05-16 15:15] andycochran commented on #9875
I don't see a way to use `max-width` with `margin-auto` on margin-based grids without an extra container. Yuck. But if you only need one background color for the whole row, there's no reason to use a margin-based grid.

Again, I'd advise against letting the "gutter" interchangeably be `margin` OR `padding`. Define them both explicitly. Then, for this use case, you create a grid with x padding, 0 m

[2017-05-16 15:37] brettsmason commented on #9875
@andycochran After discussion with @kball I was planning on making the gutter margin only.
However I'm experimenting with real world situations/layouts and see how it would work.

So what you are suggesting is a way for a grid to have no gutter, margin and/or padding?
The complication is no gutters and padding don't need `calc()`, but margin does. Struggling to understand fully how that could work

[2017-05-16 15:50] brettsmason commented on #9875
@andycochran Actually, I think: http://brettmason.co.uk/grid/ nearly does what you described. All I need to do is remove the `.padding-gutters > [size]-[number]` specificity and keep it on the margin option, as those widths are overwriting the margin based widths.

I'll put a demo together tonight and see what you think.

[2017-05-16 18:38] corysimmons commented on #9875
Can I get a CodePen for the background problem?

[2017-05-16 22:34] kball opened #10031 "Responsive menu small to medium broken in 6.3.1"
This appears to be a regression introduced in 6.3.1 from 6.3.0.  If you set up a responsive menu with drilldown on small, then dropdown for medium up, and resize to small and then back to medium the dropdowns will not work.

See this example:

https://codepen.io/kball/pen/GmBYjx?editors=1000

[2017-05-16 22:44] kball commented on #10031
This is related to this commit: https://github.com/zurb/foundation-sites/commit/893a5d71589a77505c4aefb2f6639c4a97024dbe

and a workaround is here: https://codepen.io/kball/pen/rmrqWO?editors=1010

Thanks to @ttyson99 for the report. Will get this fixed for 6.4 & 6.3.2

[2017-05-17 05:41] stereobooster commented on #8164
There is related work on typographic baseline https://github.com/michaeltaranto/basekick, maybe it will be helpful

[2017-05-17 14:21] ar-stackrox commented on #9980
@kball How does cq-prolyfill conflict with scss? I've been using it with Foundation 6 for over a year. It has support for preprocessor syntax - https://github.com/ausi/cq-prolyfill/blob/master/docs/usage.md

[2017-05-17 15:39] designchief opened #10032 "6.3.1 Off-Canvas not working as expected in IE9"
#### How to reproduce this bug:
1. Install 6.3.1
2. Add new off-canvas markup from docs (or use old off-canvas 6.2.4 markup)
3. Off-canvas doesn’t hide on load, it is visible. Cannot close off-canvas either.

#### What should happen:
Off-canvas should be hidden on page load.

#### What happened instead:
Off-canvas is visible and will not close.

#### Browser(s) and Device(s) tested on:
IE9

#### T

[2017-05-17 17:04] TiagoDeSousa opened #10034 "[Responsive Accordion Tabs] On mobile accordions don't expand"
I simply downloaded the complete version of foundation from the download page and pasted the markup for responsive accordion tabs showned [here](http://foundation.zurb.com/sites/docs/responsive-accordion-tabs.html).  What happens is that the tabs become accordions on the medium grid however those accordions don't open when clicked. Can you fix? Thanks.

This is the markup I copied from the demo pa

[2017-05-17 17:23] IamManchanda commented on #10034
Hmmmnnn... There must be a conflicting id because
I can't reproduce => http://codepen.io/IamManchanda/pen/PmdpvJ?editors=1010

or you maybe missing Jquery or maybe
you didn't add `$(document).foundation();`

[2017-05-17 17:27] IamManchanda commented on #10034
Or wait you are right the docs html sample that you added not works well
=> http://codepen.io/IamManchanda/pen/aWaWbO?editors=1010

Ohk i am fixing this!

[2017-05-17 17:38] IamManchanda commented on #10034
Update: Had some more tweaks
If you remove the extra calling id's .... then it gets fixed ....
See here => http://codepen.io/IamManchanda/pen/pPOPJG?editors=1010

So is this is a bug with the component itself ??
cc / @kball

[2017-05-17 21:20] digitalgnome opened #10037 "[Welcome to Foundation 6] No Share on Twitter button"
#### How to reproduce this bug:

1. Go to [http://foundation.zurb.com/sites/docs/](http://foundation.zurb.com/sites/docs/)
2. Locate Github Star button
3. According to Raffi in the Introduction to the docs video there should be a Share on Twitter button

#### What should happen:
See a Share on Twitter button
#### What happened instead:
No visible Share on Twitter button
#### Browser(s) and Device(

[2017-05-17 21:34] kball commented on #9871
@IamManchanda do you want to take a pass on fixing this?

[2017-05-17 21:35] kball commented on #10037
This was removed in a later design iteration... @rafibomb can you take on updating that section of the video?

[2017-05-17 21:37] kball commented on #10020
I think the assessment of this as a likely cleanup issue is correct.  @DaSchTour, @Owlbertz, or @coreysyms do any of you have time to tackle this before the 6.4 rc? (next 2 weeks)

[2017-05-17 21:39] kball commented on #9038
@rafibomb I see you added help wanted so going to assume assigning it to yourself doesn't mean you don't want someone to take it... @marcusmoore would you like to take a crack at a PR to address this?

[2017-05-17 21:40] kball commented on #9883
Sounds good, thanks @adrianwhite

[2017-05-17 22:11] kball commented on #9980
@ar-stackrox Good catch! I may have missed that when I was playing around with it... awesome.

[2017-05-17 22:12] kball commented on #10032
@brettsmason can you take a look?

[2017-05-17 22:18] ar-stackrox commented on #9980
@kball No problem! I also have a really advanced responsive typography solution using container queries. I plan to write a medium blog about it, but if you're interested in studying it for inclusion with Foundation, I can also share it with you guys at some point.

[2017-05-18 00:24] corysimmons commented on #9980
Can we migrate the element query stuff to another issue since it's not PostCSS related (or is it?)?

[2017-05-18 07:36] bjornbjorn opened #10038 "[Card] - docs issue"
http://foundation.zurb.com/sites/docs/card.html

The "Edit in Browser" link under "Card Divider" links to https://codepen.io/ZURBFoundation/pen/XRBZyM?editors=1000

.. which is a slider example, not a card divider example.

[2017-05-18 08:50] brettsmason commented on #10032
@designchief thanks for raising this issue.
After inspecting your link in IE9 and some other projects I've worked on I've found the issue.
Off canvas should work just fine in IE9, but it seems like Autoprefixer isn't adding the needed `-ms-translateX...` to all of the transforms. In the mean time if you need a quick fix, go through your stylesheet and add `-ms-transformX` versions of all the trans

[2017-05-18 08:57] designchief commented on #10032
Thanks, I had seen that the -ms- prefixes were not there so I had checked an older version 6.2.4 and the css prefixes looked pretty much the same.

Would the prefixing issue affect any other foundation elements in IE9 do ye think? Just ran a recent update and thankfully hadn’t deployed before snagging this. My client uses IE9 only so they informed me!

[2017-05-18 09:08] brettsmason commented on #10032
Prior to 6.3 off canvas didn't use transforms, so the issue wouldn't be present.
There may well be other prefixes missing too. How are you using Foundation - one of the Zurb stacks or something else? I have noticed a few mentions of cssnano causing prefixing issues so I'll test that out.

[2017-05-18 09:10] IamManchanda commented on #10038
Thanks for reporting
Will fix it soon!

[2017-05-18 09:11] designchief commented on #10032
Ok, I will try your fix and let you know.

My test link is a Zurb Stack command line install.

[2017-05-18 09:23] brettsmason commented on #10032
So I've just ran a test with a personal project. I created 2 files, one not passed through cssnano (.css), and one goes through it (.min.css).

The version that isn't passed through cssnano has the prefixes there, but the version that goes through cssnano doesn't have the prefixes.

So I switched out cssnano for clean-css (https://github.com/scniro/gulp-clean-css) and setup the task like so: `.pip

[2017-05-18 10:03] brettsmason commented on #10032
Looks like this is an issue with the distributed css files to:
https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.css
vs https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css
The `-ms-` prefixes are missing in the minified file.

At a glance this will be effecting:

- Off canvas
- Orbit
- Progress bar
- Reveal
- Slider
- Tooltips
- Accordion
- Drilldown

[2017-05-18 10:08] designchief commented on #10032
Ok, thanks for that.
I would need to update this correctly as I have most of those components running.
So I would need to install clean-css via npm I assume,
and is that the only line I need to change in the gulp file?

Do you recommend I try this or wait to hear about best way to fix?

[2017-05-18 10:31] brettsmason commented on #10032
Yep that's correct, just install via NPM: `npm install gulp-clean-css --save-dev`
Then in your `gulpfile.babel.js` file you need to change this line: https://github.com/zurb/foundation-zurb-template/blob/master/gulpfile.babel.js#L89
to `.pipe($.if(PRODUCTION, $.cssClean({compatibility: 'ie9'})))`

If you wanted to get this working now I would go for it, as a fix wont be available until the next Fo

[2017-05-18 11:41] denisahac commented on #9935
I love the new Foundation for Sites docs. Awesome work guys. Closing this.

[2017-05-18 11:41] #9935 closed

[2017-05-18 13:13] IamManchanda commented on #9935
Thank you

[2017-05-18 13:25] designchief commented on #10032
Added and installed gulp-clean-css via npm.
Then added the line suggested to gulpfile.babel.js.
But when I try to run "npm run build" I get this error:

TypeError: $.cssClean is not a function.

Full log:
[14:21:07] TypeError: $.cssClean is not a function
    at sass (gulpfile.babel.js:209:30)
    at bound (domain.js:280:14)
    at runBound (domain.js:293:12)
    at asyncRunner (/Users/kieran/Docu

[2017-05-18 13:35] brettsmason commented on #10032
Sorry typo in my code, it should of been:
`.pipe($.if(PRODUCTION, $.cleanCss({compatibility: 'ie9'})))` (got the words the wrong way around 😄 )

[2017-05-18 14:29] marcusmoore commented on #9038
@kball Unfortunately I don't have the time right now. I can take a look in a few weeks if it's still open but I can't commit to it right now.

[2017-05-18 15:52] diniscorreia opened #10040 "[Responsive Navigation] Documentation errors on JavaScript reference"
The Responsive Navigation component includes examples of both the responsive menu and responsive toggle - but on the JavaScript reference section it only states that `foundation.responsiveMenu.js` is required.

It should be clarified that `foundation.responsiveToggle.js` is required for the toggle menus.

[2017-05-18 16:16] fulldecent opened #10041 "h1 > small > abbr does not look good"
#### How to reproduce this bug:

Sample code:

[code]

#### What should happen:

`abbr` is given appropriate weight and color.

#### What happened instead:

Rendering:

![screen shot 2017-05-18 at 12 13 10 pm](https://cloud.githubusercontent.com/assets/382183/26212452/9a8ee9dc-3bc3-11e7-8764-807efed7595a.png)

#### Browser(s) and Device(s) tested on:

macOS / Chrome

#### Test case link:

http://c

[2017-05-18 16:35] IamManchanda commented on #9871
@kball @Yanchek99
I think the current docs example and with some tweak to `top-bar-title` fixes this .... What you say ??

Current docs example (float) => https://codepen.io/IamManchanda/pen/LymroM?editors=1000
Example with Title bar tweaks (flex)  => https://codepen.io/IamManchanda/pen/OmBVZE?editors=1100

What you guys say ??

[2017-05-18 16:52] jinch opened #10043 "Accordion + Sticky"
I have noticed using the 'Accordion' along with the 'Sticky' feature generates a few rendering issues. If you expand the accordion menu the row underneath will overlap. It seems as though the height is not recalculated when expanded and the sticky positioned menu only remembers the initial height of when it is first loaded. I have heard the .sticky feature may be getting a full re-write to address

[2017-05-18 17:04] IamManchanda commented on #10038
FTFY #10044

[2017-05-18 17:18] #10038 closed

[2017-05-18 17:43] drnkwati opened #10045 "More helpers"
Sometimes simples tasks such as removing borders around containers like callouts, cards etc is really a pain.
Can borders be moved to a separate mixin and only added to containers when necessary?
Or a helper class such as no-border be provided for removing borders on any container

[2017-05-18 17:46] RobDesideri commented on #9281
Hi, same error here, in a _gulp_ environment.
If you install babelify, everything works.
@colin-marshall could it be good to put babelify as a dependency directly in the `package.json`?

[2017-05-18 18:22] brettsmason commented on #9875
@corysimmons Sorry for the delay. Here's a quick CodePen: https://codepen.io/brettsmason/pen/ybRONQ
Basically with the margin grid we need an extra div in order to contain the width of elements within. I guess that's going to be the one main downside of margin grid compared to padding, but it also has a lot of positives.

[2017-05-18 18:29] IamManchanda commented on #9875
If its just about adding a container ... Man i dont see it as a big issue !

[2017-05-18 18:52] corysimmons commented on #9875
Yeah I think a wrapping element to an entire set of blocks is cheaper than what you'd have to do with current solutions.

https://codepen.io/corysimmons/pen/MmPyvd?editors=1100

Pretty much every padding grid does this thing where they assume no one wants actual margins between elements, and it's all faux. So when situations like this pop up, you can't just say "Just wrap the whole thing in a `.bg

[2017-05-18 18:54] IamManchanda commented on #9875
@brettsmason @corysimmons not quite css guru like you guys
But what's the problem with `margin: 0 -1rem;` instead of `margin: 0 auto;`
https://codepen.io/IamManchanda/pen/bWmpax?editors=1100

[2017-05-18 18:56] brettsmason commented on #9875
@IamManchanda the `auto` centres the element in the viewport. In your example everything is left aligned.

[2017-05-18 23:20] corysimmons commented on #9875
@brettsmason Not sure why he asked that, but just to be clear, `.container` _should_ be its own class, right?

[2017-05-18 23:50] kball commented on #10031
Just was checking into this, it turns out it is already fixed for 6.4 and 6.3.2 in this PR: #9949
Both should ship middle of June.

[2017-05-18 23:50] #10031 closed

[2017-05-19 08:08] Deckluhm commented on #10045
Because classes like `.no-border` aren't semantic, it goes against CSS good practices (and for that reason, we don't want this kind of stuff in the core framework).

That said, if you want that kind of "helpers" for prototyping only (I don't do prototyping but I understand why this kind of classes can be really helpful for quick prototyping), you may want to read that issue about adding separate p

[2017-05-19 10:54] designchief commented on #10032
Thanks @brettsmason - that seems to have fixed the issue for me

[2017-05-19 11:54] eu-slack commented on #7183
There's another issue:

**medium-centered** adds on last **column**:
[code]
but for **large-centered** adds only:
[code]
so last column will **not** align correctly.

I think the last _uncentered_ column needs also:
[code]

Here's a simple example with the suggested solution: https://codepen.io/eu-slack/pen/gWBjrB

[2017-05-19 12:32] orangedaisy commented on #10043
In your example, the sidebar overlaps because it has a higher `z-index` than your footer row. To avoid this issue, you could either [control the applied range of the sticky element](http://foundation.zurb.com/sites/docs/sticky.html#advanced), or increase the z-index of your footer row with something like

[code]

[2017-05-19 13:31] adrtbks commented on #9790
I've got the same issue. Everything builds fine using the (manual) workaround.

[2017-05-19 13:50] eu-slack opened #10052 "Uncenter not working properly in Foundation 6"
#### How to reproduce this bug:

1. Add the class ``small-centered`` or ``medium-centered`` to a set of ``columns`` in a ``row``
2. Add the class ``medium-uncentered`` or ``large-uncentered`` to the latters

#### What should happen:
The ``columns`` should be aligned when _uncentered_
To achieve that, I think the _uncentered_ columns need also a ``clear:none;``:
[code]
then the last one needs a ``f

[2017-05-19 14:55] ncoden commented on #9898
Maybe it should be settings/config/tools/utils/core instead of "Activate" https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/

[2017-05-19 15:03] IamManchanda commented on #9898
Fan of SMACSS @ncoden
But yes this is debatable...

Plus I am a fan about caring your code and create a pattern out of it
Not sure what I am talking about?
Look into the sidebar and then the code
Look 3-4 times you will understand

[2017-05-19 15:37] IamManchanda commented on #9898
BTW i have talked with @kball on this .... and he told me that a theming part can be very useful if we incorporate it to things like material design via "**theming**" approach (Ofcourse default is what foundation uses from start and will use forever.)

http://codepen.io/prestopasto/pen/oLmgqm?editors=1100

[2017-05-19 17:37] IamManchanda commented on #9586
Dang i missed this .... Ohk lets see if i can click this out this coming weekend!

[2017-05-19 17:46] brettsmason commented on #9875
@corysimmons Yes definately its own class. At the moment with the live grid its built into the `.row` class, which is a mistake.

[2017-05-19 17:57] IamManchanda commented on #9875
It's better to correct mistakes
Instead of creating more mistakes due to an old created mistakes

[2017-05-19 17:59] brettsmason commented on #10032
@designchief Thanks for confirming.
@kball Did you want me to create a new issue for this or is this enough to go on? My suggestion would be to move to clean-css.

[2017-05-20 02:45] ompmega commented on #9989
Support! Please implement this, or if there's a way to implement it ourselves, that would be awesome! +1

[2017-05-20 03:41] IamManchanda commented on #9989
cc @kball!

[2017-05-20 08:44] IamManchanda commented on #9989
@ompmega We have started work on it but with current resources instead of tether!
Thanks for the shoutout!

[2017-05-20 22:20] TiagoDeSousa commented on #10034
Look at my example. I downloaded the full package of foundation and pasted the tabs markup as shown in foundation docs page http://nqubo.com/foundation-6.3.1-complete/

[2017-05-21 05:48] IamManchanda commented on #10034
Use this example for time being
https://codepen.io/IamManchanda/pen/mmKQVN?editors=1000
This will be soon updated in the docs too (Merged PR)
cc @kball for deploying it live #10036

Besides that,
Yes i confirm that there is a problem when there are extra id's which are not getting called,
http://codepen.io/IamManchanda/pen/aWaWbO?editors=1010
There is a bug with the component itself and we need to

[2017-05-21 07:39] IamManchanda opened #10055 "[Responsive Menu] Bug with Drilldown Accordion Combo"
Another Regression : Similar to #10031

If you set up a responsive menu with accordion on small, then drilldown for medium up, and resize to small and then back to medium the accordions will not work.

**Update**:
Bug: https://codepen.io/IamManchanda/pen/mmQXWO
Bug Patch: https://codepen.io/IamManchanda/pen/BRGJGL

[2017-05-21 08:03] brettsmason commented on #10055
That's a weird issue. Looking at inspector on your CodePen, the submenu is getting the class `.invisible` which is hiding the submenu. I think that comes from the drilldown menu, and isn't being removed by the responsive menu plugin on resize, or possible when the drilldown is destroyed. @kball does that sound correct?

[2017-05-21 08:19] IamManchanda commented on #10055
@brettsmason Yup and here is the fix
https://codepen.io/IamManchanda/pen/BRGJGL

[code]

Maybe we need to do similar to accordion and dropdown
what's been done here in drilldown #9949 (https://git.io/vHUXn)
cc @kball @designerno1

[2017-05-21 12:17] ompmega opened #10057 "[Tooltip] Change default max-width to 100% instead of 10rem"
**Problem:** Tooltips currently have a max-width of 10rem by default, and you cannot change it from within the _settings.scss. Because of this, tooltips with at least 5 words are overflowing to the next line, and therefore making the tooltip unnecessarily "fatter" than it should be.

**Possible Solution:** Setting the default max-width to 100% instead of 10rem.

[Before & after screenshots](http:/

[2017-05-21 13:55] IamManchanda commented on #10057
I can reproduce
Current State => https://codepen.io/IamManchanda/pen/vmQrLL?editors=1100
Max width 100 => https://codepen.io/IamManchanda/pen/rmQKaq?editors=1100

But i think we should insert it in a variable!

[2017-05-21 13:56] IamManchanda commented on #10057
@ompmega would you like to create a PR for it ??
https://akrabat.com/the-beginners-guide-to-contributing-to-a-github-project/

[2017-05-21 14:16] IamManchanda commented on #10045
Yes and i might add that there is a PR too #9738 (Disabled by default, not harming the purists)
But then, i didn't add a `no-border` class so i am now thinking about it!

[2017-05-21 15:06] kball commented on #10055
The actual bug is the same underlying bug as https://github.com/zurb/foundation-sites/issues/10031 and has been fixed in develop and the 6.3.2 release line, so no need for additional bugfixing. The workaround looks right.

[2017-05-21 15:12] IamManchanda commented on #10055
Ohk @kball .... If it is so .... closing .... BTW do you recommend adding 1-2 more responsive combo's to docs instead of just the one combo there is in the docs??

[2017-05-21 15:12] #10055 closed

[2017-05-21 15:18] kball commented on #10055
@IamManchanda more examples are probably good. If you want to add some, great! That said, as a follow up to the docs release @rafibomb and some of the other ZURBians did an audit of the current state of the content and are following through with more/updated written content for all of the pages over the next few weeks (and videos - we got better as we went, so the later vids are better than the ea

[2017-05-21 23:05] ctcpip opened #10061 "Accordion Menu -- 'aria-multiselectable' is not an allowed attribute for aria role 'menu'"
The accordion menu adds `role="menu"` for the `<ul>` and adds the `aria-multiselectable="true"` attribute, which is not allowed for the 'menu' role.

See: https://www.w3.org/TR/wai-aria/states_and_properties#aria-multiselectable

[2017-05-21 23:31] ctcpip commented on #10061
It also gets applied elsewhere.  It appears the attribute should not be added on any of these:

https://github.com/zurb/foundation-sites/search?utf8=%E2%9C%93&q=aria-multiselectable&type=

[2017-05-22 07:22] #10045 closed

[2017-05-22 08:07] IamManchanda commented on #9968
@captain-xu @Deckluhm
I couldn't reproduce in the sass build codepen!
https://codepen.io/IamManchanda/pen/wdQVoB

Apart from that i have added test case here (where also i cant see the bug)
https://github.com/zurb/foundation-sites/pull/10063
Can you pull it and let me know with screenshot and browser details ??

[2017-05-22 09:07] IamManchanda commented on #10061
Dang!!
cc @kball @Owlbertz

[2017-05-22 09:12] IamManchanda commented on #10061
@ctcpip An accordion is a `tablist` btw .... just that being used in menu.
Marius what do you think about this ??

[2017-05-22 09:25] IamManchanda commented on #10019
@Owlbertz Shall we close this one ??

[2017-05-22 09:54] Owlbertz commented on #10019
Yeah, I think so. If there are any further issues, please re-open this one @xinspire.

[2017-05-22 09:54] #10019 closed

[2017-05-22 12:02] Owlbertz commented on #10061
Refering to [my comment for a pending PR](https://github.com/zurb/foundation-sites/pull/9348#issuecomment-300390820), in my opinion `menu` is the wrong role for that case. If `tree` would be used as I suggested, `aria-multiselectable` would be working as intended.

[2017-05-22 12:27] IamManchanda commented on #10061
In that case @kball .... Shall we make a point fix for 6.3.2 if that PR and suggestion will take some time??

[2017-05-22 16:33] rafibomb commented on #10052
Thanks for the report! Is this codepen example a representation of how you're using the grid nesting? Is it necessary to nest in this case?

[2017-05-22 16:37] rafibomb commented on #10043
@orangedaisy Right on! @jinch Changed your example to demonstrate : http://codepen.io/rafibomb/pen/ZKVLOg?editors=1000

Closing this as it is not a bug - thanks!

[2017-05-22 16:37] #10043 closed

[2017-05-22 16:38] rafibomb commented on #10041
So it should inherit the font weight and color?

Makes sense to me - are you able to submit a PR for this so we can add it to the framework?

[2017-05-22 16:39] rafibomb commented on #10040
Good call! That should be fixed with the 6.4 release coming soon. Can you add a Pull Request for this?

[2017-05-22 16:40] rafibomb commented on #10061
6.4 is the next release - so it would be best to make this a separate update to use the `role="tree"`

@Owlbertz Are you able to submit this as a PR against the develop branch?

[2017-05-22 16:45] jinch commented on #10043
Thanks, @orangedaisy, @rafibomb - this is helpful.

I'll apply this workaround to my project though not exactly what I was hoping this should do the trick. Probably not possible but ideal it would be great if the height can be made dynamic and restrict the range based on the expanded content. ~ this does the trick for now though / thanks.

[2017-05-22 16:53] Owlbertz commented on #10061
Yeah.

[2017-05-22 16:58] #9955 closed

[2017-05-22 17:01] rafibomb commented on #10061
Sorry - @IamManchanda has it right - for the 6.3.2 release since it's not a breaking change

[2017-05-22 17:11] rafibomb commented on #10043
@jinch Might be good for a feature request for sticky - I know sticky is getting worked on for a nearby release. That's something you can post separately :)

[2017-05-22 17:13] rafibomb commented on #10055
@IamManchanda Yes there should be - I've noted this in our audit thanks to your comment :)

[2017-05-22 17:14] IamManchanda commented on #10055
@rafibomb i already have a PR for it
https://github.com/zurb/foundation-sites/pull/10058

[2017-05-22 17:26] rafibomb commented on #9968
@Deckluhm Hmm, as far as I know, Autoprefixer is running on the ZURB Stack and Basic Template. You can see it here,
https://github.com/zurb/foundation-zurb-template/blob/master/gulpfile.babel.js#L84
https://github.com/zurb/foundation-sites-template/blob/master/gulpfile.js#L17

If you are not auto-prefixing, then manually adding the vendor prefixes would be good.

I am also seeing the correct decla

[2017-05-22 17:26] #9968 closed

[2017-05-22 17:44] #10032 closed

[2017-05-22 17:46] ctcpip commented on #10061
Wow.  Awesome response time!  Looking forward to the fix.  Didn't want to submit a PR because there are different ways to resolve this.  Thanks everyone.

[2017-05-22 17:49] #8512 closed

[2017-05-22 18:06] Deckluhm commented on #9968
Sorry if I wasn't clear enough, here are my thoughts about the issue reported:
- It's not a bug
- It only appears on Sass version without Autoprefixer, basically anything except ZURB Stack (e.g. `foundation-rails` gem)
- As [stated in the docs](http://foundation.zurb.com/sites/docs/sass.html#autoprefixer-required), unless you are using the ZURB Stack (that already includes Autoprefixer), you must

[2017-05-22 18:13] IamManchanda commented on #9968
@Deckluhm you are correct ..... Go ahead and add a PR :)

[2017-05-22 18:42] IamManchanda commented on #10061
Thanks @ctcpip
Yes We are `Yetis` and Yetis are awesome! :wink:

[2017-05-22 18:44] rafibomb commented on #10061
PR merged thanks @Owlbertz !

@ctcpip Thanks for the report and No worries - you can submit a pr and we'll offer suggestions or you can offer a suggestions and we'll guide you!

[2017-05-22 18:44] #10061 closed

[2017-05-22 21:55] kball commented on #9799
@SassNinja fyi working on this in #10053. If you're interested in taking a look/helping push it forward, I'd be happy for the help

[2017-05-23 13:17] eu-slack commented on #10052
@rafibomb the codepen it's just a sample, but similar to a real-world application... Necessary or not, it's not working as expected, isn't it? :)

[2017-05-23 16:09] #10020 closed

[2017-05-23 16:49] rafibomb commented on #10052
That's a question of, should we make hard rules for using the grid where this issue would never come up, or make so flexible it can be used in many different ways? Handling all those use cases may make the grid more complex.

Anyways, since you've highlighted a possible fix, it would be good to see it in a Pull Request so we can test it and hotfix for 6.3.2. Is that something you can do?

[2017-05-23 19:16] LandOfToz commented on #10034
Found a similar issue with nested accordion-tabs.  When resizing the browser window, the inner accordion fails to open. e.g. https://jsfiddle.net/Lab9855u/

[2017-05-23 19:20] IamManchanda commented on #10002
Fixed in #9670 ..... See this [comment](https://github.com/zurb/foundation-sites/pull/9670#issuecomment-303499741)
Hopefully in 6.4 ..... sorry i dont think i will be able to create a patch for 6.3.2!

[2017-05-23 20:00] IamManchanda commented on #7554
As per discussion at https://github.com/vue-foundation/vue-foundation/issues/18#issuecomment-303289269
@kball Any updates on this ??

[2017-05-23 20:23] kball commented on #7554
Hmm... I don't have any updates right now, but I can definitely take a look at it this week before 6.4 rcs... @IamManchanda do you have a codepen/testcase that repros?

[2017-05-23 20:50] roba91 commented on #7301
I'd still like to see an option to close the dropdown on second touch…

[2017-05-23 20:56] roba91 commented on #10001
Related: https://github.com/zurb/foundation-sites/issues/7301

[2017-05-23 21:41] robsdedude opened #10066 "[js] Tooltip for lables should prevent default on touch"
To open a tooltip on a touch device one needs to touch the tooltip trigger. If this trigger is a label the touch event causes the default action of the label (i.e. click the input the label belongs to).

#### How to reproduce:

Consider this HTML
[code]
1. Touch the label

#### What should happen:
Just the tooltip should pop up

#### What happened instead:
The tooltip pops up and the checkbox chan

[2017-05-23 22:03] fulldecent commented on #10041
PR sent, https://github.com/zurb/foundation-sites/pull/10067

[2017-05-23 23:23] #10041 closed

[2017-05-23 23:30] rafibomb commented on #10041
You rock!

[2017-05-24 00:24] blynnc opened #10069 "[Orbit] Disappears when changing window widths on desktop"
#### How to reproduce this bug:

ORBIT GOES INTO ORBIT : Disappears when changing window widths on desktop

1. row with two  6 column on desktop - as stated above
2. orbit slide show in the right column
3. Pulling browser window narrower then wider two or three times the Orbit slide show finally disappears on pulling window wider

#### What should happen: It should not disappear.

#### What happen

[2017-05-24 00:44] blynnc opened #10070 "FLIP CARD (building blocks) Through the Looking Glass"
#### How to reproduce this bug:

1. Go to Foundation Building Blocks
http://foundation.zurb.com/building-blocks/containers.html

2.Go to Containers > Flip Card
3. Click SEE CODE
4. You will notice that the card title in desktop mode doe snot beahve the same as in mobile mode.
For example: Before clicking.  ROLL TO A HOT SPOT
After clicking:  Title Remains on Card and is backwards - Alice through t

[2017-05-24 03:39] blynnc commented on #10069
More info.

Testing with the Custom Build with everything checked including the Motion UI CSS.
Not using SASS but CSS for now.

[2017-05-24 03:44] blynnc commented on #10069
Yet More Info - Browser: Firefox 53.0.3

[2017-05-24 08:08] Deckluhm commented on #10070
You should open this issue in the Building Blocks repository: [zurb/building-blocks](https://github.com/zurb/building-blocks) (and close this one since this repository is for Foundation for Sites core framework only)

[2017-05-24 10:23] SassNinja commented on #9672
I've fixed this in my PR https://github.com/zurb/foundation-sites/pull/10003, precisely in commit https://github.com/zurb/foundation-sites/pull/10003/commits/0130a3fdec4cc08f1bb236e05386790b157a697f

@brettsmason so there's probably no need to remove the shadow. The only downside is that you have to adjust the new inner shadow values if the default value of `$offcanvas-shadow` was changed.

But I

[2017-05-24 10:24] designchief commented on #10005
Hi all, I need to re-open this issue as I thought it was resolved but no...

The FontFaceObserver fix did work I thought, but there is a problem on devices that do not allow webfonts, as the page never gets initialised and therefore many elements do not work. My client (call centre) have all got IE9 browser with webfonts disabled.

So, I am stuck with not using the FontFaceObserver fix and because

[2017-05-24 10:29] designchief opened #10072 "Equalizer and web fonts causing layout issues in Safari"
Hi all,

Is it possible to re-open #10005 as I cannot get the problem resolved, i have left a new comment in that issue but not sure if it will be seen...

Need some urgent help if anyone can help, the issue is too advanced for my head,
and new updates/deployment is waiting on a resolution to this...

Thanks, Kieran.

[2017-05-24 10:58] sashabeep opened #10073 "[Orbit] external bullets and controls"
Docs page doesn't contain any information about external orbit controls.
How to move bullets outside of orbit wrapper and make it work?

[2017-05-24 11:05] eu-slack commented on #10052
The question is very hard to answer...  :confused:

I agree

I've never done it before, but I guess I can do it! :wink:

[2017-05-24 13:43] asecondwill commented on #8059
I'm having same issue.  can't get .scroll or .table-scroll to work when using flex grid. I've turned off all of my own styles.

[2017-05-24 14:37] IamManchanda commented on #10072
I reopened that, closing this one...

[2017-05-24 14:37] #10072 closed

[2017-05-24 14:38] IamManchanda commented on #10005
cc @kball

[2017-05-24 16:45] IvanCookies opened #10074 "[Installation] NORMALIZE-SCSS AND SASSY-LISTS ARE NOT INCLUDED"
#### How to reproduce this bug:

1. Create or open .NET asp project
2. Add Foundation 6.3.1 via Nuget
3. Compile foundation.scss and you will see the mentioned error.

#### What should happen:
Compile foundation.scss correctly

#### What happened instead:
Error: File to import not found or unreadable: ../_vendor/normalize-scss/sass/normalize.
       Load path: C:/PROJECTS/website/lib/foundation-si

[2017-05-24 16:47] kball commented on #10005
@designchief can you clarify what the issue is that you're seeing, or what the outcome you're trying to achieve is? I'm looking at the test link on a few different browsers and not seeing an obvious problem.  (See below screenshot on IE9)

![dashboard_and_allianz_ireland](https://cloud.githubusercontent.com/assets/44007/26415028/ec8762fe-4065-11e7-8992-6fc99ed27fd5.png)

[2017-05-24 16:48] kball commented on #10069
@blynnc are you able to put up a codepen example, send a link to the site, or give access to a repo showing the problem?

[2017-05-24 17:06] IamManchanda commented on #9991
Sorry... this got missed...
So you basically want the docs for the container of the hamburger menu ??

https://codepen.io/IamManchanda/pen/LymroM?editors=1100
[code]

[2017-05-24 17:10] kball commented on #8059
@asecondwill see the workaround in https://github.com/zurb/foundation-sites/issues/9658

[2017-05-24 17:11] kball commented on #9658
tap @brettsmason and @rafibomb - any reason not to add max-width:100% to `.column` in flex mode? Even with the new grid in 6.4, would be great to get this fixed for 6.3.2

[2017-05-24 17:20] IamManchanda commented on #9658
Why not `min-width: 0` instead of `initial`??
http://codepen.io/IamManchanda/pen/qmgeQo

[2017-05-24 17:55] brettsmason commented on #9658
@IamManchanda That's already the case in develop: https://github.com/zurb/foundation-sites/commit/dc25d9666fad02478274dc3c9f1421caba9bc01f

@kball Yep that looks like a good fix to me.

[2017-05-24 18:05] IamManchanda commented on #9658
@brettsmason  ... Applogies .... didn't test out locallly ... just codepen!
Yup i think  #9846 fixes this .... and should be in `6.3.2` !!

[2017-05-24 18:05] brettsmason commented on #9658
Yep will be fixed in 6.3.2/6.4 so closing this. Any problems though please re-open!

[2017-05-24 18:05] #9658 closed

[2017-05-24 18:09] designchief commented on #10005
@kball - I will try to explain.

I saw an issue with a recent update in Safari, where my layout was rendering with gaps in the layouts on initial load like these screenshots:

![screen shot 2017-05-24 at 18 46 14](https://cloud.githubusercontent.com/assets/3732548/26418132/0b155bc0-40b3-11e7-81b9-9f005aad816c.png)
![screen shot 2017-05-24 at 18 46 23](https://cloud.githubusercontent.com/assets/373

[2017-05-24 18:10] #9575 closed

[2017-05-24 18:12] kball commented on #9575
Fixed in #10049. Will be in both 6.4 and 6.3.2

[2017-05-24 18:12] kball commented on #9945
Overflow/scrollbar issue should be fixed by #10049, which will be in both 6.4 and 6.3.2. Positioning improvements are also coming for 6.4 with #10053

[2017-05-24 18:12] #9945 closed

[2017-05-24 18:33] #9042 closed

[2017-05-24 19:46] IamManchanda commented on #10070
@blynnc sorry can't reproduce .... can you tell which browser you are using??

PS: Also if you can move this thread to building blocks repo then that will be great!

[2017-05-24 20:51] Proper-Job commented on #9991
@IamManchanda thanks for getting back to me.
It would be nice to have a section explaining what the Title Bar component does and when it should be used.  Hints are scattered throughout the docs, but like I said, searching for "Title Bar" yields no results.
For instance there are the ``.title-bar-left`` and ``.title-bar-right`` classes that, I assume, align content left and right.  However, this in

[2017-05-24 20:57] IamManchanda commented on #9991
cc @kball .... shall we have it??

PS: I also think the same that we should have it!

[2017-05-24 21:17] blynnc commented on #10070
Browser used Firefox 53.0.3 - latest version for Mac OSX.

I'm not sure how to move thread to building blocks repo. Please explain how. i am going through the building blocks and have found a few more issues.

[2017-05-24 21:22] blynnc commented on #10070
Ok. i figured out how to add it to Building Blocks repo.

[2017-05-24 21:23] IamManchanda commented on #10070
Great closing this!

[2017-05-24 21:23] #10070 closed

[2017-05-24 21:25] IamManchanda commented on #10070
Just create issues here
https://github.com/zurb/building-blocks/

[2017-05-24 21:26] blynnc commented on #10069
I'll put up some screen shots. Site under development.

[2017-05-25 02:06] blynnc opened #10076 "FOUNDATION CSS FILE - FIREFOX 53.0.3 - indicating some css style issues"
I'm not sure if this is a viable issue or not. But Firefox is showing some css issues in the MOTION UI CSS.

Line 4275
Expected RBRACE AT 4286 COLUMN 24

Line 4286
Expected RBRACE AT 4286 COLUMN 23

Line 4221
Expected RBRACE AT Line 4221, COL 26

Line 4222
Expected RBRACE AT Line 4222, COL 26

Line 4202
Expected RBRACE AT 4202, COL 25

Line 4203
Expected RBRACE AT 4203, COL 25

Line 4195
Expected

[2017-05-25 02:10] blynnc commented on #10076
I think it's a good idea to get it right in css first -- then switch.

[2017-05-25 03:09] ompmega commented on #10057
@IamManchanda Thanks for the suggestion! Closed PR since it caused an issue when tooltips have long sentences. Will create a new PR with original max-width of 10rem instead, but leaving in the variable.

[2017-05-25 03:15] IamManchanda commented on #10057
You could have done that in that same PR
Just make changes and `git push origin HEAD`

[2017-05-25 03:18] ompmega commented on #10057
@IamManchanda Oops my bad. Still trying to figure out all this PR stuff :-)

[2017-05-25 16:57] bgarrant opened #10079 "IE11 image resizing bug using Cards and Flexbox"
I just launched a site with Foundation 6.3.1 and when doing testing in IE11, we have noticed a bug when using the card component and flexbox.  It appears that the images and not collapsing even though visually they look correct.  There is extra added space under each image that happens to match the original image size.  The bug looks like it may be same as this one: https://github.com/philipwalton

[2017-05-25 18:59] bgarrant commented on #10079
@IamManchanda ever seen anything like this?  I can't figure out why it is happening.

[2017-05-25 19:05] IamManchanda commented on #10079
@bgarrant Will surely look soon .... Currently busy with some other tasks!

[2017-05-25 19:06] rafibomb commented on #10079
Thanks for posting this! I haven't seen it before which is odd. Looks like that flexbug you linked to is the reason - looks there is a workaround in the post or using smaller images might help. Since it's not directly repeated to a Foundation component we'll close this here.

[2017-05-25 19:39] bgarrant commented on #10079
The fix in that link did not work for me.

[2017-05-25 19:40] bgarrant commented on #10079
I also tried running postcss-flexbugs-fixes with no luck

[2017-05-25 20:19] bgarrant commented on #10079
This seems to fix the issue, but it seems like we may need a card wrapper element for images to avoid this IE11 issue.  We have `card-section` and `card-divider` and maybe we need `card-image` with this simple code:

[code]
[code]

[2017-05-25 20:22] bgarrant commented on #10079
I can confirm that adding a `.card-image` class will resolve the issue

[2017-05-25 20:28] IamManchanda commented on #10079
I don't right now whether the above comments helps or not... But reopening based on above comments
Will look into it soon!

[2017-05-25 20:30] bgarrant commented on #10079
@IamManchanda Let me know what you think

[2017-05-25 20:32] IamManchanda commented on #10079
I will surely let you know... Will test it out tomm and let you know!

[2017-05-25 20:37] IamManchanda commented on #10079
In the meantime if you can provide a codepen example then that will be great!

[2017-05-25 20:39] bgarrant commented on #10079
I am not sure how to do that @IamManchanda.  This code above should reproduce the issue on F 6.3.1.  Can you use it?

[2017-05-25 22:22] blynnc opened #10080 "[Feature Request] Hollow button group"
#### How to reproduce this bug:

1. Step one

Create a BUTTON GROUP - The docs provide for All basic types of coloring - Alert, warning etc.
However - an important basic button coloring --  "HOLLOW" is not available for the BUTTON GROUP.

IT IS AVAILABLE for granular button - which is cool, But it would be nice to be able to
assign it to entire button group also if desired without having to insert

[2017-05-26 07:27] agoradesign commented on #10069
Sounds like https://github.com/zurb/foundation-sites/issues/9788

There you'll find the following proposal to fix the problem: https://github.com/dwt47/foundation-sites/commit/d3605d96ca410e3001447d5a3fab544556668e5e

I have already tried that in one of our projects. It seems to work. I couldn't trigger that problem anymore. And I haven't heard complaints so far - however that site is still not pu

[2017-05-26 09:00] designchief commented on #10005
Hi all, does anyone know what might be going on here?
I understand the issue only happens with the introduction of webfonts which is not a part of foundation etc, but this was working prior to 6.3.

Thanks

[2017-05-26 09:06] Deckluhm commented on #10080
I already encountered the situation when I needed this and I agree that could be useful!

The only thing is we probably need some fine tuning about the 1px margin that separates buttons since it looks weird with hollow buttons (or that's probably just me but I'd like to have other people opinion about that).

Here is a CodePen for comparison: https://codepen.io/anon/pen/bWJgWr?editors=1100

(@blyn

[2017-05-26 17:59] IamManchanda commented on #10080
@blynnc @Deckluhm This sounds reasonable (no-gutter proposal also)
Any one of you both want to give it a go and have a PR ??

Just note that we are just nearby 6.4, first RC on coming thursday so make it soon as possible :smile:

[2017-05-26 19:52] bgarrant commented on #10079
@IamManchanda Any chance to look at this Harry?  The fix seems to work but not sure if best way.

[2017-05-26 20:11] IamManchanda commented on #10079
Oh sorry i missed the last comment ....
Can you fork this codepen and provide a codepen with the fix
=> https://codepen.io/IamManchanda/pen/zZrBEv ??

[2017-05-26 20:39] bgarrant commented on #10079
Please check out this fix in the CSS.  If you add that class to wrap images it fixes the IE11 bug.

https://codepen.io/bgarrant/pen/QvPVjZ

[2017-05-26 21:00] IamManchanda commented on #10079
Yup just tested in IE11
and see the bug https://codepen.io/IamManchanda/pen/MmRqvN

We dont have a `.card-image` in our framework untill now
I think the best way to go around this to create one
and in the docs the information about the bug and using `.card-image`
What do you think @kball ??

[2017-05-26 21:03] bgarrant commented on #10079
Glad we were able to find a fix.

[2017-05-26 21:06] bgarrant commented on #10079
@IamManchanda do you have a way to test in IE10 just so we know it works with all the browser Foundation supports?

[2017-05-26 21:09] IamManchanda commented on #10079
No within IE10 ... this is not the bug

![screenshot from 2017-05-27 02-38-01](https://cloud.githubusercontent.com/assets/4970624/26512748/a0c8007c-4285-11e7-8bfa-2daf90abb04a.png)

[2017-05-26 21:12] bgarrant commented on #10079
Good. Just an IE11 issue then.

Bryan Garrant
Garrant Consulting LLC
518-327-5159

[2017-05-27 03:45] Yanchek99 commented on #9871
I don't think I follow? This is an issue whenever I use the components. Am I understanding the fix to just be a fix on the foundations documentation? Looking at code pens i would expect the docs to mention the custom css needed for the responisve-menu?  Maybe I am not understanding the fix?

[2017-05-27 03:57] IamManchanda commented on #9871
I see it as "Docs didn't had the correct examples for the top bar that fits for both flexbox and float?

[2017-05-27 16:28] Yanchek99 commented on #9871
I saw the issue being in the advanced top bar with responsive menu, which is discussed in the documentation here http://foundation.zurb.com/sites/docs/top-bar.html.

Looks like the bug is still present in the latest foundation-sites. https://codepen.io/anon/pen/vxZWed

The Doc code examples posted seem to be using a top bar interchanged with a titlebar?

[2017-05-27 17:59] IamManchanda commented on #9871
@Yanchek99 Yes in latest because that PR is not been merged yet

If you Run my PR Locally, i have updated the docs example!
https://github.com/zurb/foundation-sites/pull/10056

----------------------------------------------------------------------------------------------

I by mistake said .... current docs example
I should have said current codepen example
If you click this link => http://foundat

[2017-05-27 19:01] JeremyEnglert commented on #10076
I'm having a difficult time replicating this. Where are you seeing these errors? When I pop open the web console in Firefox, I see a few CSS related errors, but none related to the above.

[2017-05-27 21:02] orangedaisy commented on #10080
Gutter-less wouldn't work very well if you had different colored buttons in your group.

[2017-05-28 02:51] IamManchanda commented on #10080
@orangedaisy You have a very good point but we can have `.no-gutters` class in there and tell In the docs on when to use and when to not?
What do u think??

[2017-05-28 06:58] IamManchanda commented on #10080
Sorry but @blynnc @Deckluhm ,,,,, as we are running out of time for 6.4
I have decided to take this up myself .... Hope you are ohk with it!

[2017-05-28 10:09] IamManchanda commented on #10079
Ohk i added a PR #10082 ....

[2017-05-28 19:00] IamManchanda commented on #7554
No...

[2017-05-29 07:50] drnkwati opened #10083 "Several type errors after initializing foundation on doc ready"
I get eight type errors in my console
TypeError: this.empty(...).Each is not a function
After initializing foundation. I traced it to foundation plugin instantiation but could not figure out why.
Am using build 6.3.1
Have anyone​ had this issue.

[2017-05-29 09:46] Owlbertz commented on #10083
Hi @drnkwati, could you copy us the whole stack trace so we can see the line numbers?
If possible, please create a CodePen example that reproduces the issue, you can use [this template](http://codepen.io/IamManchanda/pen/LWGZxR).

At a first glance I can only say that `Each()` should most likely be `each()` (with lower case).

[2017-05-29 10:04] Deckluhm commented on #10080
To be honest I was about to take this one but I realized that this wasn't as easy as it seems.

I used "shared borders" in my no-gutter example just for visual comparison but there is one problem with this approach: when you hover a button, the left border color doesn't change as expected (this happens for every buttons except the first one).

The hollow no-gaps example of your PR doesn't have thi

[2017-05-29 10:40] dimbak opened #10084 "[The Grid] Block grids missing column class"
Hi, in your [docs ](http://foundation.zurb.com/sites/docs/grid.html#block-grids)you missed mentioning that the 'column' class is required for block grids to work/activated.

Please correct me if i am wrong.

Thanks

[2017-05-29 12:25] Owlbertz commented on #10084
Well, the example reads `<div class="column column-block">` so that should be fine. The text above the example references the "regular" grid and tells you to add the `.column-block` class accordingly.

[2017-05-29 13:10] drnkwati commented on #10083
Hi i figured out it happens when am trying to include just the plugins i need in my build system.
When i include foundation.js or the minified version the errors go away. It happens no plugin is initialized when i use just a few as explained in the docs. As for the Each in uppercase it's the github editor attempting to correct my grammar.
For the moment i am going with the default foundation.min.j

[2017-05-29 13:27] dimbak commented on #10084
if you don't add the 'column' the size-up is not activated, if i am not mistaken, the 'column-block' is used 'apply a bottom margin equal to the width of gutters'

no?

[2017-05-29 15:25] IamManchanda commented on #10080
@Deckluhm Hmmnnn... Sounds Good .... Happy to take a PR and close my PR for the sake of same!
Please have a go if you have a better solution!

Yes we can wait .... just that i added the PR coz of my unavailability (mostly) from 7th-16th June due to my exams :smile:

[2017-05-29 18:32] blynnc commented on #10080
Can someone translate PR ?  What does it stand for?

[2017-05-29 18:37] IamManchanda commented on #10080
@blynnc
1. That PR adds a button group with `hollow` as an option too as requested by you
2. Add a class `no-gaps` based on @Deckluhm proposal https://codepen.io/anon/pen/bWJgWr?editors=1100

[2017-05-29 18:39] blynnc commented on #10069
It's definetly happening using both Flex and the CSS version.
With 2 columns pulling desktop window wider and then narrower a few times - The slides in orbit disappear. Also just leaving the slideshow running - after several loops - the slides disappear.

I've been tied up with a few things --- I'll post an example at end of next week.

[2017-05-29 18:42] IamManchanda commented on #10080
Dang you mean PR full form ... Its a Pull Request
=> https://help.github.com/articles/about-pull-requests/

[2017-05-29 18:44] blynnc commented on #10076
Try Real Time Preview -

[2017-05-29 18:48] IamManchanda commented on #10076
@blynnc Can you share the screenshot with us ??

[2017-05-29 22:10] Spankyed commented on #9507
He really does care ;()

[2017-05-29 22:24] Deckluhm commented on #10080
In short, a "pull request" is a way to submit contribution to a repository.

It offers way to easily review code and (if approved) merge code.

[2017-05-30 10:36] drnkwati commented on #10083
Sorry guys the errors came as a result of a function i copied from the locotus project,
And registered it on the jquery object as a plugin.
It was over riding a jquery function used by the foundation tooltip plugin.
As a result unexpected results gave those errors.
Thus it's not a Foundation issue.

[2017-05-30 10:36] #10083 closed

[2017-05-30 15:48] developer-lindner commented on #10080
I'd like to add the following: The auto-Setting of the button mixins should be variables. Encountered an issue when trying to use css4 color variables for $button-color in settings.scss.

Would be nice if you could have this in mind for the next release ;)

[2017-05-30 15:50] IamManchanda commented on #10080
:arrow_double_up: cc @kball

[2017-05-30 16:53] #7770 closed

[2017-05-30 17:24] mcifani opened #10087 "Jquery >= 3.0.0 (Security issue)"
There is various security issues with the current Jquery version (2.2.4) any reason not been updated?  Could we have a release to update this dependency?

Thank You

https://nodesecurity.io/advisories/328

[2017-05-30 20:32] kball commented on #10087
with 6.3 we upped the allowed but maintained permitted back below, I think there's enough changing in 6.4 on the JS side definitely makes sense to up the required to 3.0+ if there's security concerns

[2017-05-30 22:36] rafibomb commented on #10084
I think the documentation here can be updated. Explicitely mentioning the use of `.column` as your content container would be nice.

Separating the `.column-block` example to another section would be better too.

@dimbak It would really be awesome if you can submit these updates to docs. Can you help us with that?

[2017-05-31 09:10] MaartenvanSpil opened #10090 "Docs tabs Deep linking example problem"
In the docs for the foundation sites tabs (http://foundation.zurb.com/sites/docs/tabs.html#deep-linking) is an example with
 data-deep-link-smudge="true" data-deep-link-smudge="500"

The second smudge attribute should be:   data-deep-link-smudge-delay="500"

[2017-05-31 16:09] mcifani commented on #10087
Thanks @kball, any eta on the 6.4 release with this bump?

[2017-05-31 18:33] #9736 closed

[2017-05-31 20:28] #9871 closed

[2017-05-31 21:17] kball commented on #10087
We're doing the first release candidate tomorrow @mcifani

[2017-05-31 21:20] JeremyEnglert commented on #10076
Real Time Preview appears to be a Adobe Dreamweaver feature - maybe there's an issue there. I looked at the specific lines of code referenced in your original post and did not see the missing RBRACE.

[2017-05-31 21:23] JeremyEnglert commented on #9852
Looks like this was fixed and merged. Closing this issue.

https://github.com/zurb/foundation-sites/pull/9983

[2017-05-31 21:23] #9852 closed

[2017-05-31 22:14] JeremyEnglert commented on #7462
Looks like this issue was fixed (https://github.com/zurb/foundation-sites/issues/9253).

Closing.

[2017-05-31 22:14] #7462 closed

[2017-05-31 22:49] #10002 closed

[2017-05-31 22:51] #10079 closed

[2017-05-31 23:22] kball commented on #9492
Unfortunately don't think we'll have time for this for 6.4, pushing to 6.5.

[2017-05-31 23:23] #10087 closed

[2017-05-31 23:41] kball commented on #9823
OK, so the issue here is that dropdown is closing on a click outside the dropdown itself, and the dropdown event listener doesn't seem to be distinguishing between a touch drag and a simple touch.

Unfortunately with the current touch event handling it is not at all obvious to me how to fix this...

This is a point in favor of replacing the current touch handling with Hammer.js or a similar.

For

[2017-05-31 23:51] kball commented on #9811
I'm not able to reproduce this bug... I've tested the current docs, a checked out version of 6.3.0, and the current state of develop, using a range of devices in browserstack... going to close, but if you're still seeing and can set me up with more exact reproduction instructions please reopen.

[2017-05-31 23:51] #9811 closed

[2017-06-01 00:03] kball commented on #9841
This is due to a browser limitation, which is then codified cross browser by jquery (see https://bugs.jquery.com/ticket/11382 and https://bugs.jquery.com/ticket/11764)

Disabled elements literally do not trigger the hover/click events, so there's no way for us to tap into them to show the tooltip.

The workaround is to remove the `disabled` attribute, just use the `disabled` class for the display

[2017-06-01 00:03] #9841 closed

[2017-06-01 00:13] kball commented on #9821
Unable to reproduce this with recent builds... I'm wondering if this is a difference in node-sass version... a little googling shows the interactions of %placeholders% and media queries to be a _hot_ topic.  I don't have anything more specific at this point, but as we're updating the dependencies in the next release and we can't seem to repro, going to close.  Feel free to reopen if still seeing t

[2017-06-01 00:18] kball commented on #10014
This looks like an issue with the definition of `$header-styles` in `_settings.scss`.  See the migration notes in https://github.com/zurb/foundation-sites/releases/tag/v6.3.0

If you can post your settings file we can help debug

[2017-06-01 00:20] kball commented on #9799
Implemented and merged in #10053

[2017-06-01 00:20] #9799 closed

[2017-06-01 00:21] kball commented on #9741
For 6.4 we just merged explicit positioning in dropdowns, which should make it straightforward to resolve this. See: https://github.com/zurb/foundation-sites/pull/10053

[2017-06-01 00:21] #9741 closed

[2017-06-01 00:24] kball commented on #9688
I believe this was fixed with #9950

[2017-06-01 00:24] #9688 closed

[2017-06-01 00:30] kball commented on #9724
Broadly I think the issue here is that `.drilldown` and `.horizontal` are colliding and causing problems... you can resolve this here by changing your menu class to from `.horizontal` to `vertical.medium-horizontal`

in 6.4 with the menu rework from https://github.com/zurb/foundation-sites/pull/9670 you would be able to just remove `.horizontal` completely and it would "just work" defaulting to ve

[2017-06-01 00:30] #9724 closed

[2017-06-01 06:39] dimbak commented on #10084
Sure no problem : )

[2017-06-01 06:44] jt4000 opened #10095 "General Questions"
Hello, I have some general questions regarding foundation...

1. Is foundation-sites the same as bootstrap? Any differences?
2. Is there any example or prototype that I can test a website using foundation sites?

Thank you!

[2017-06-01 08:12] lspoor commented on #10014
Hey guys, apologies for the delay. Yup appears kball is right I figured it out not too long after, I'd updated my foundation-sites build not realising the `_settings.scss` had been updated which caused the errors, thanks for the help!

[2017-06-01 08:12] #10014 closed

[2017-06-01 08:12] lspoor commented on #10095
A simple read of the documentation would explain everything you need to know.

[2017-06-01 08:38] Deckluhm commented on #10095
They are both open-source, highly maintained front-end frameworks but the philosophy is different.

- Foundation main goal is to help you build the structure/foundations (as the name suggests ;)) of your project, providing a super simple and easy to customize design (using Sass or simple CSS) that makes it easy to write your own
- Bootstrap default design is less neutral (which can be a pro or con

[2017-06-01 08:41] lspoor commented on #10095
Following on from Deckluhm, a big difference between the two at the moment is Flexbox too. Bootstrap 4 (currently in development) will support it but as of now Bootstrap is without.

I myself couldn't not use Flexbox now.

[2017-06-01 10:59] wfehr commented on #10090
The same mistake is in the doc for the accordion (http://foundation.zurb.com/sites/docs/accordion.html#deep-linking).

[2017-06-01 11:38] wfehr opened #10096 "[Accordion] Documentation errors"
The doc for the [accordion](http://foundation.zurb.com/sites/docs/accordion.html) has a section "[Deep Linking](http://foundation.zurb.com/sites/docs/accordion.html#deep-linking)". When I download the newest .tar.gz of foundation-sites it doesn't have this feature inside of dist/js/. The source JavaScript files under js/ are having the code needed for it.
I looked at the changelog for v6.3.1 and I

[2017-06-01 13:56] doublesidedstickytape opened #10097 "[Slider] Windows Phone (Edge) - Cannot slide, can only tap to get to value"
#### How to reproduce this bug:

1. I'm using a Lumia 550 and a Lumia 950 (latest build/update of Windows 10 Mobile)
2. Open Microsoft Edge
3. Navigate to the Slider Docs (http://foundation.zurb.com/sites/docs/slider.html)

#### What should happen:
Should be able to touch the square and slide between left and right

#### What happened instead:
In Edge, it does not respond. I can only tap a blank a

[2017-06-01 15:06] IamManchanda commented on #9736
Nate... Cheers man... Done!
Thanks for the help.

[2017-06-01 15:42] IamManchanda commented on #9991
https://github.com/zurb/foundation-sites/pull/10056#issuecomment-305307281

[2017-06-01 15:45] IamManchanda commented on #9980
@corysimmons Yes we sure can!

[2017-06-01 17:37] kball commented on #9821
It appears to be build specific... just got another report of this from someone using webpack's sass-loader... have a potential fix that appears to be working for them. Reopening and will submit that fix.

[2017-06-01 18:49] IamManchanda commented on #8024
Yes Yes, we changed our mind :wink: .... Added in #10017

[2017-06-01 19:09] kentjas1 opened #10105 "Reveal mixins don't correctly style when trying to use my own CSS class"
#### How to reproduce this bug:

Per the [Reveal Docs](http://foundation.zurb.com/sites/docs/reveal.html#sass-mixins), I should be able to use my own semantic CSS class for the Reveal Modal styling.

What I tried
[code]

Doing this first gave me a compile error
[code]
I ended up having to [move these lines](https://github.com/zurb/foundation-sites/blob/master/scss/components/_reveal.scss#L146-L152

[2017-06-01 19:57] kball commented on #8024
@gakimball wasn't wrong... the logic around responsive gutters and responsive collapse for margin classes is pretty darned confusing... but it works. Will see if we can simplify it as we dig into this more.

[2017-06-01 19:57] IamManchanda opened #10106 "[Prototyping] Docs: No such docs on responsive breakpoints"
Current docs is short on documentation about responsive breakpoints
Step 1. https://git.io/vHIki
Step 2. https://git.io/vHII8
Step 3. https://git.io/vHII1

Assigning myself to do the same in coming days!

[2017-06-01 22:30] kball opened #10107 "prototype css not packaged in dist for 6.4.0-rc1"
It builds just fine, but somehow got missed in setting up the dist folder.

[2017-06-01 22:43] kball commented on #10016
I believe this was fixed in https://github.com/zurb/foundation-sites/pull/9681.

This was a part of a broader change, and so not likely to be backported to 6.3 series, but is in 6.4 (in fact, if you want to try it out early, we just packaged up the first release candidate. Check it out: https://github.com/zurb/foundation-sites/releases/tag/v6.4.0-rc1

[2017-06-01 22:43] #10016 closed

[2017-06-01 22:58] kball opened #10108 "Add default npm entry for new foundation approach"
Essentially the foundation everything entry, but in dist with appropriate paths and set up for automatic import. See how bootstrap does it https://github.com/twbs/bootstrap/blob/v3.3.7/dist/js/npm.js and https://github.com/twbs/bootstrap/blob/v3.3.7/package.json#L23

[2017-06-01 23:31] corysimmons commented on #8024
???

https://codepen.io/corysimmons/pen/NgKYRZ?editors=1100

[2017-06-01 23:54] kball commented on #8024
Responsive gutters => a map of gutters sizes per breakpoint:

e.g.
[code]
ie for small sizes have 20px gutters, medium and up have 30px gutters.

Since the grid sizes have to include the gutter, that means that that for e.g.
`.small-1` you need to redefine the size for each breakpoint where there exists an entry in the gutters map

[2017-06-02 00:07] kball opened #10109 "Order classes on XY grid"
Responsive ordering classes (`small-order-1`, etc) should either get moved out of the flex-grid (it's generic flexbox, no?) or added explicitly to the new XY grid.

I'm leaning towards the former, just make them generic flex helpers. Thoughts @brettsmason @rafibomb?

[2017-06-02 00:54] JeremyEnglert commented on #7241
This no longer appears to be an issue. Closing.

[2017-06-02 00:54] #7241 closed

[2017-06-02 01:15] JeremyEnglert commented on #7547
The issue is with the template, not the framework.

Change `data-hide-for="small"` to `data-hide-for="medium"`

[2017-06-02 01:15] #7547 closed

[2017-06-02 01:32] JeremyEnglert commented on #7668
This is no longer an issue on devices I tested. Please re-open if anyone notices otherwise.

[2017-06-02 01:32] #7668 closed

[2017-06-02 01:40] garrett-eclipse commented on #10096
@wfehr I've also recently come across this, was odd that the download from several places didn't have it.

I tried downloading from github, along with;
https://github.com/zurb/foundation-sites/releases/
AND
http://foundation.zurb.com/sites/download.html/

But it's not evident in any of these packages so must have been missed on compile or something.

Anyway I just grabbed the .js file directly fro

[2017-06-02 01:46] JeremyEnglert commented on #10095
Great answers everyone! I'm going to close out this issue for the time being. But feel free to continue the discussion.

[2017-06-02 01:46] #10095 closed

[2017-06-02 01:49] JeremyEnglert commented on #8102
I understand the issue here, but I also think this is something that is easily handled on a case-by-case basis. It also looks like other changes to how the menu works has improved on issues mentioned here.

Closing this.

[2017-06-02 01:49] #8102 closed

[2017-06-02 06:10] corysimmons commented on #8024
Ahhh, gotcha 👌

[2017-06-02 07:25] IamManchanda opened #10111 "[Codepen] Add codepen examples for Prototyping Utilities"
Assigning this to myself
cc @kball for giving me a build codepen (proto specific) for the same!

[2017-06-02 07:30] IamManchanda commented on #10107
Yup can't find it here :disappointed:
https://cdnjs.com/libraries/foundation/6.4.0-rc1

[2017-06-02 07:49] IamManchanda opened #10112 "[Codepen] Add codepen examples for Smooth Scroll"
Taking this up... will do it tonight IST

[2017-06-02 07:54] htto opened #10113 "Foundation relies on auto-globalization of the Foundation object"
Foundation-sites relies on the Foundation object being automatically put into global object space, when added to the window object. Thus in each plugin foundation-sites just does
[code]
,though actually the object was created within an anonymous function with
[code]
so that there technically is an assignment to the window object and not the global space. Thus one should probably use that assigned

[2017-06-02 09:01] brettsmason commented on #10109
@kball Yep agreed, they should be part of the flex helpers rather than the grid directly (though maybe an example on the grid page would be good).

Should they be something like `[size]-first/last` though, or do we include more than just 2 possible order values?

[2017-06-02 10:20] IamManchanda commented on #9989
Added in #10053 .... closing this!

[2017-06-02 10:20] #9989 closed

[2017-06-02 12:10] IamManchanda commented on #10109
I have a vision around all of this... Will give a brief tonight IST once I reach home.

[2017-06-02 14:18] oxyc opened #10114 "Variables listed in _settings.scss are outdated"
During the rework of the menu styling in #9670 the variables in `_settings.scss` were not updated.

Currently in master `_settings.scss`:

[code]

While `components/_menu.scss` defines:

[code]

[2017-06-02 14:21] oxyc commented on #10114
Actually it seems to go beyond `_menu.scss`, there's several variables missing from `_global.scss` as well. eg. `$global-menu-nested-margin`.

I'm guessing it's partly because https://github.com/zurb/foundation-sites/issues/9492 was postponed to 6.5

[2017-06-02 14:29] brettsmason commented on #10114
@oxyc I assume you are talking about 6.4 rc1? If so I'm guessing the new settings file wasn't generated before packaging it up. Poke @kball does that sound correct?

[2017-06-02 14:34] oxyc commented on #10114
Yes, 6.4 rc1.

[2017-06-02 14:39] IamManchanda commented on #10114
Dang!

[2017-06-02 14:52] brettsmason commented on #10114
Hmm I've just downloaded [rc1 from here](https://github.com/zurb/foundation-sites/archive/v6.4.0-rc1.zip) and all of the variables you mentioned are in the settings file. How did you get rc1, is it definitely that version you are using?

[2017-06-02 14:56] oxyc commented on #10114
Damn sorry my bad. I was copying them from the `develop` branch not the `6.4.0-rc1` branch. I apologize.

[2017-06-02 14:56] #10114 closed

[2017-06-02 14:57] brettsmason commented on #10114
@oxyc No worries glad you got it sorted 😄
Had me worried there that we had messed up 😉

[2017-06-02 15:23] IamManchanda commented on #10114
I was same worried too brett :smile:

[2017-06-02 15:48] kball commented on #10114
Sorry that was confusing. Just merged the release branch back into develop.

[2017-06-02 15:52] kball commented on #10113
@htto this was very much the motivation behind https://github.com/zurb/foundation-sites/pull/9965

We're addressing this in 6.4. You can see & try out the first release candidate here: https://github.com/zurb/foundation-sites/releases/tag/v6.4.0-rc1

We need to fix the default import but you should be able to get what you're looking for with

`import 'foundation-sites/js/entries/foundation';`

[2017-06-02 16:59] IamManchanda commented on #9765
@kball ... What are your opinions ??
Is it possible or shall we shelve it and close ??

[2017-06-02 17:29] IamManchanda opened #10117 "Vision - Flexbox Utilities (XY Grid)"
Since the rework of grid .... i was very certain that the docs need to improve with grid and its integration with flexbox helper classes. But at the same time, working with prototypes I have realized that these flexbox helper classes are not good css practices and really they are just only one step away from inline styles.
At the same time, flexbox is not supported in every browser and for css onl

[2017-06-02 18:19] brettsmason commented on #10117
@IamManchanda You raise some good points here. I'll properly go through this in more detail tomorrow when I'm a bit fresher...

1. Agreed
2. Why not just rename the partial to `flexbox-utilities.scss`?
3. Don't understand, but I havent caught up on your excellent work on the prototype stuff yet 😄
4. As long as it doesn't add bloat then I think there may be use in doing that
5. There's a bit of gri

[2017-06-02 18:48] IamManchanda commented on #10117
@brettsmason

Yes possible but for me they need to be separated as firstly we want to add more classes, Moreover it can help people to enable disable specific helpers ... just like [prototypes](http://foundation.zurb.com/sites/6.4.0-rc1/docs/prototyping-utilities.html#enabling-prototype-mode) . Specific file for alignment classes (both [horz](http://foundation.zurb.com/sites/docs/flexbox.html#hori

[2017-06-02 19:10] IamManchanda opened #10119 "Discussion on naming convention of prototype utilities"
Poke =>  @tdhartwick, @lgcallahan , @canterberrie , @rafibomb, @kball

My first reactions!

[Margin](http://foundation.zurb.com/sites/6.4.0-rc1/docs/prototyping-utilities.html#margin-helpers) - `m-a-0`, `m-x-0`, `m-y-0`, `m-l-0`, `m-r-o`.. etc
[Padding](http://foundation.zurb.com/sites/6.4.0-rc1/docs/prototyping-utilities.html#padding-helpers) - `p-a-0`, `p-x-0`, `p-y-0`, `p-l-0`, `p-r-o`... etc
[

[2017-06-02 19:11] #10112 closed

[2017-06-02 19:14] tdhartwick commented on #10119
Awesome!
I think that the `a` is implied similar to how it's written in CSS, so i'd drop that:

[code]

[2017-06-02 19:18] IamManchanda commented on #10119
`I think that the a is implied similar to how it's written in CSS, so i'd drop that:`

Agreed! Let drop it!

Other class to look at which should be modified is this

[Separator](http://foundation.zurb.com/sites/6.4.0-rc1/docs/prototyping-utilities.html#separator) `separator-left` =>  `sep-left` ...

Other classes good for me as classes like `display-none`, `position-static`, `overflow-scroll` foll

[2017-06-02 19:20] zey91 opened #10120 "Off canvas left menu top li bug"
Hi, I'm newbie here. Whenever I opened the left off canvas menu and i hover outside of the top 'About' Iink, a bottom border line appears. I was just wondering if its a bug or its just how it works. I would like to remove the line if its possible though. Could you help me with this please? Thanks! #Foundation4life :)

<img width="385" alt="screen shot 2017-06-03 at 3 30 52 am" src="https://cloud.g

[2017-06-02 19:21] IamManchanda commented on #10119
https://github.com/zurb/foundation-sites/pull/10017#issuecomment-305882408

Thank you @canterberrie but there are many more. Infact which really excites me actually are not classes but mixins like [Relational Mixins](http://foundation.zurb.com/sites/6.4.0-rc1/docs/prototyping-utilities.html#relational-mixins-aka-nth-child-mixins-)

[2017-06-02 19:34] IamManchanda commented on #10117
Here is the bloat btw which is currently happening => https://git.io/vHgmX

[2017-06-02 19:41] IamManchanda commented on #10120
@zey91 Can you share code .... Fork one of the below codepen, add your code and we will love to help you resolve the issue even if its not a bug incase :wink:

- [CodePen with Foundation 6.3.1 and MotionUI](http://codepen.io/IamManchanda/pen/LWGZxR)
- [CodePen with Foundation 6.3.1, Flexbox grid and MotionUI](http://codepen.io/IamManchanda/pen/zZrBEv)

[2017-06-02 19:47] IamManchanda commented on #10120
:+1:

[2017-06-02 20:26] tdhartwick commented on #10119
🤔 hmmm that's an interesting one. I think the format that I think of for the classes are `abbreviated css rule | modifier (like x,y) | value`

Butttt for the `.separator-left` that's an interesting on since it's not an actual css rule so abbreviations would probably be less understood immediately. I'm thinking if it's not a css rule it should be spelled out?

[2017-06-02 20:34] tdhartwick commented on #10119
Referring to @corysimmons https://github.com/zurb/foundation-sites/pull/10017#issuecomment-305896731

I think these helper classes are meant to only work in prototyping. I'm wondering if we'd want to include a linter or alert when `watching` that would warn people they're using prototyping classes.

Also on `npm run build` we could convey a more firm message if there are still prototyped classes?

[2017-06-02 20:47] rafibomb opened #10121 "[6.4 RC1] data-offset not working in smooth scroll"
Adding data-offset does not offset page - example:

[code]

[2017-06-02 20:48] IamManchanda commented on #10119
Sure @tdhartwick .... same thoughts ... 100% sir ....
@kball can you help us here in these build messages ??

[2017-06-02 20:52] IamManchanda commented on #10119
But these messages should be only for classes.
For mixins, it shouldnt be there!

[2017-06-02 20:52] tdhartwick commented on #10119
Agreed!

[2017-06-02 20:55] IamManchanda commented on #10119
@tdhartwick so what's the final verdit on `separator` ... ??
Reason i put it like this is because i have seen `sep` in some themes for the same or around similar purpose!

[2017-06-02 21:05] IamManchanda commented on #10121
cc @denisahac @kball

[2017-06-02 21:06] tdhartwick commented on #10119
I would vote for keeping `separator`. `sep` isn't easily guessable even though it's easier to type.

[2017-06-02 21:29] corysimmons commented on #10119
Match syntax to Emmet?

But also, how will `.m-7` work? Shouldn't it be something like `.m-sm`?

[2017-06-02 21:32] IamManchanda commented on #10119
`m-7` ... sorry but very careful here to not add many classes ... `m-0` to `m-3` only by default! (but can be customized)

[2017-06-02 21:33] IamManchanda commented on #10119
I like your idea but
No because we use sm (small) for responsive breakpoints!

[2017-06-02 21:35] IamManchanda commented on #10119
Added a PR  #10122

[2017-06-02 21:41] kball commented on #10119
So... I may be an outlier here, as I'm not really the target audience for prototyping classes, but I find these super terse classnames pretty aversive and hard to read.

Can we clarify a little who our target audience is for these?  Are we expecting these to only be used by power users like @tdhartwick? Or is this intended for beginners?

[2017-06-02 21:45] IamManchanda commented on #10119
Yes i understand this .... Yup a tough line to walk ... i have added a PR ... happy to get that PR rejected too!

Its for both ... power users and beginners!

[2017-06-02 21:46] rafibomb commented on #10117
Maybe instead we move them into the Prototyping separation? I would use them to rapid prototype then move to CSS for production.

See answer 1

Yes, but this will require a migration (breaking changes), so we'll need to support bith classnames at least for one version - or Foundation 7

Yup, same as prototype separation update

I agree we can save some bloat by allowing these prototype classes to

[2017-06-02 21:50] kball commented on #10119
Hmm... would like some more opinions on this... @lgcallahan, @LaurelBCodin as some of our newer coders at ZURB what do you think?

Also lets tag in folks involved in the original prototype PR and issue... @IllusionPerdu @natewiebe13 @brettsmason @DaSchTour

[2017-06-02 21:52] IamManchanda commented on #10119
I am liking the sound of this the most.

-----------------------------------------------------------------------------------------------------------------

Hey i am Newbie,
`margin-horizontal-0` ... so cool lets use it !

Hey i am Harry/@tdhartwick /@rafibomb  ,
`margin-horizontal-0` ... oh its so bad ... so long to type!
Lets correct this up

[code]

[2017-06-02 21:52] rafibomb commented on #10117
@IamManchanda Here is the description of responsive breakpoints for helper classes.
![screen shot 2017-06-02 at 2 49 47 pm](https://cloud.githubusercontent.com/assets/5652085/26746135/db81ba92-47a2-11e7-8226-8dde6d55312b.png)

Are we on the same page:
- these classes are important
- should be part of prototyping classes
- grid based modifier classes should be shared with flex utilities

[2017-06-02 21:58] tdhartwick commented on #10119
The situation I use these is early in a client project to convey nicer scaffolds quicker. Instead of having to do the correct steps of thinking about naming conventions, creating partials, and loading into `_app.scss` it's more effective to get stakeholder buy-in early on visually (at least in our workflow at ZURB).

Also maybe I didn't understand the helper classes as far as the values, how does

[2017-06-02 22:05] IamManchanda commented on #10117
Yes very important ... specially looking at current state of flexbox

Not right now ... as we need this to be enabled by default!
By the way, they are a prototyping classes only!

Yes because if we want to get on par with this then yes => http://frowcss.com/frow-shortcuts.html
Example Codepen =>  https://codepen.io/IamManchanda/pen/WONvGz?editors=1000

[2017-06-02 22:09] zey91 commented on #10120
I not really sure if I've forked on your codepen but i think i did. haha Let me know if you've got it! Cheers

[2017-06-02 22:11] IamManchanda commented on #10119
@tdhartwick A lot has been discussed here on this ( #9671 )
Right way is the color pallete instead => #9683

------------------------------------------------------------------------------------------

[code]

See http://sass-lang.com/documentation/Sass/Script/Functions.html#scale_color-instance_method

[2017-06-02 22:32] IamManchanda commented on #10119
`$prototype-spacers-count: 3 !default;`

[2017-06-02 23:34] kball opened #10123 "Grid frame not working properly in Safari"
Reported by @zurbrandon via twitter. Reproduced it on https://codepen.io/kball/pen/vZBeLy

[2017-06-03 00:29] corysimmons commented on #10119
https://github.com/zurb/foundation-sites/issues/10119#issuecomment-305917859 seems like it would be a nice accessory library (for power users).

[code]

tbh, I'd just avoid this. Let Tachyons serve that crowd and Foundation serve everyone else.

[2017-06-03 04:20] kball commented on #10123
So this appears to be due to a difference in the way Safari is handling height calculations of flex children.... the grid is being sized appropriately to fit in the space, but the child cells with `.medium-cell-block-y` are not, they end up too big and thus don't scroll internally, and we've deliberately disabled externals scroll in this situation (that's what

I think it is tied into this bug: ht

[2017-06-03 04:21] kball commented on #10123
Tagging @corysimmons based on his extensive flexbug experience to also review my thinking and if there's another way to address this that he happens to know

[2017-06-03 04:51] zey91 commented on #10120
Hey man, its fixed! I styled the outline: none;
Thanks though :)

[2017-06-03 04:59] IamManchanda commented on #10120
I am glad it was resolved... Closing this but feel free to have your say if you need more help :)

[2017-06-03 04:59] #10120 closed

[2017-06-03 10:09] IamManchanda commented on #10119
@corysimmons
On http://foundation.zurb.com/sites/6.4.0-rc/docs/prototyping-utilities.html

I have my 3 cents

1. **I might be wrong but i am getting a little feeling (with your Tachyons example you gave) that you might not concur with the development which has happended regarding prototypes.**

   I want to clear that first, I fully understand very well that these helper classes are a bad css prac

[2017-06-03 13:35] mozaffar opened #10125 "In RTL mode align-right is not set correctly"
When you generate a customized css in RTL mode the value for class ".align-right" is not set correctly:

Currently:
`.align-right {
     -ms-flex-pack: end;
      justify-content: flex-end;
}`

and It should be:
`.align-right {
     -ms-flex-pack: start;
      justify-content: flex-start;
}`

Because the content should be started from right and be stick to the right side of the container ;)

[2017-06-03 14:08] IamManchanda commented on #10125
cc @abdullahsalem

[2017-06-03 14:27] IamManchanda commented on #10117
@rafibomb ... sorry last night i just read your last comment and not before that ... human error!

In that case here is option 2

For 6.4, Lets Add depreciation notice for [Flexbox Helper Classes](http://foundation.zurb.com/sites/docs/flexbox.html#helper-classes) and [Vanilla Flexbox Helper Classes](http://foundation.zurb.com/sites/docs/flexbox.html#vanilla-flexbox-helper-classes)

For 6.5,
Just d

[2017-06-03 18:04] michaelfriedman opened #10127 "Error after upgrading to Node 8.0.0"
#### Error after upgrading to Node 8.0.0
[code]
**This could be related to the deprecation of node-uuid which is not compatible with 8.0.0.**

#### How to reproduce this bug:
Install Node v >= 8.0.0
foundation new
web site
zurb template
yarn
foundation watch

#### What should happen:
Server should boot on localhost:8000

After switching to Node 7.10.0 using NVM I was able to build successfully.

#

[2017-06-03 18:34] IamManchanda commented on #10127
First of all, thanks for letting me know ... that Node 8.0 has arrived ... wasn't aware ... :)

On the issue, cc @kball !

[2017-06-03 18:45] IamManchanda commented on #10097
Yup i confirm i tested it ... seems like an issue ...
cc @Owlbertz

[2017-06-03 18:48] IamManchanda commented on #10074
cc @kball

[2017-06-03 18:58] IamManchanda commented on #10107
Fixed in RC2 ... closing this, Cheers!
https://cdnjs.com/libraries/foundation/6.4.0-rc2

[2017-06-03 18:58] #10107 closed

[2017-06-03 20:27] kball commented on #10127
A quick lookthrough makes me believe this is coming through the sassdoc dependency... will try updating that on Monday, unless someone wants to get to it before me

[2017-06-03 20:44] kball opened #10129 "Keyboard nav in dropdown menus broken in 6.4 RC"
Attempting to use keyboard nav in the dropdown menus in the visual test /dropdown-menu/left-aligned-dropdown-menu-inside-top-bar-right.html is missing the first item, appears to be unable to find it.

Possibly related, we currently have 3 failing javascript tests associated with dropdown menus.

@Owlbertz can you take a look? Thanks

[2017-06-03 20:59] corysimmons commented on #10119
Man, I appreciate the effortpost, but this is so much to read and I keep catching myself doing free consulting. Can someone please ban me from this repo/org so I can focus on getting a job?

[2017-06-03 21:02] corysimmons commented on #10123
Sorry man, I need to focus on getting a job. Unsubscribing from all this stuff.

fwiw, I have cross-browser success with the panel stuff via padding grid.

[2017-06-03 22:08] michaelfriedman commented on #10127
@IamManchanda @kball  Yes, and NPM 5 is also released! Thanks for the quick reply... Enjoy the weekend.

[2017-06-04 05:26] IamManchanda commented on #10119
No issue, I understand... Thanks for all you have done with helping out get us ideas with new grid.

[2017-06-04 07:48] IamManchanda opened #10131 "[Feature Request] Inverted Buttons"
https://codepen.io/IamManchanda/pen/KqKbdM

Credits: [jgthms/bulma](https://github.com/jgthms/bulma)

[2017-06-04 07:58] IamManchanda opened #10132 "[Revisit] List Group components"
I think we should to revisit PR #9947 for the [list group component](http://foundation.zurb.com/building-blocks/blocks/list-group.html) to push it into core instead.

Reasons:

1. Super uselful for sidebars, off-canvas, or mobile menus.
2. Generic Component instead of handful tasks!
3. [Bootstrap](https://v4-alpha.getbootstrap.com/components/list-group/) have it.
4. [Bulma](https://github.com/jgth

[2017-06-04 08:15] brettsmason commented on #10132
Isn't this just a vertical menu with borders? Could we simply not have a modifier class for menu to apply the correct borders, eg 'menu-bordered' or something? Not sure this needs be another new component, but just my opinion :smile:

[2017-06-04 08:29] IamManchanda commented on #10132
Dang no issue @brettsmason ...

Yup `.menu-bordered` combined with [Active](http://foundation.zurb.com/sites/docs/menu.html#active-state) ... is an another option too ....
But there is one issue in that scenario,
**List groups are mostly for menu but not just for menu!**

[2017-06-04 08:41] IamManchanda commented on #10132
List group can be useful for stuff's like where things like cards or panel is so popular
Example: Notification Panel

[2017-06-04 16:02] Owlbertz commented on #10129
@kball, the issue is caused by the fact that the first link has no `href`-attribute and thus is not focus-able. We would either need to force a `href="#"` or to go with using `tabindex`  I guess.

[2017-06-04 16:07] Owlbertz commented on #10097
@IamManchanda how were you able to reproduce? Any chance doing that via emulation? I do not own a Windows-Phone and using emulation in with Lumia 950 in Edge works fine as far as I can see.

[2017-06-04 16:14] SassNinja commented on #9799
@kball sorry for my late reply (I was quite busy with the nested off-canvas feature and lost track on this one)

Thanks for taking care of the dropdown improvement!
Explicit positioning looks good :+1:

[2017-06-04 16:36] IamManchanda opened #10134 "[XY Grid] Foundation 7 - 2 Dimensional Grid System - Using Feature Queries/CSS Grid and discussion on whether to fully DROP IE or not?"
I know there are some who have proposed to let user code CSS Grid
But here is what i think,

For **Foundation 7**,
It has been decided to drop support for IE9 & IE10 ... I propose to drop support for IE11 also.
Whoever need to support IE, should use **foundation 6**

### What are the benefits ??
Well we can use [feature queries](https://hacks.mozilla.org/2016/08/using-feature-queries-in-css/) comb

[2017-06-05 07:31] JeremyEnglert commented on #10134
I like this idea (a lot), but we need to remember that IE 11 has more global usage than Edge 14, 15 and Safari 10 combined. However, I'm assuming that IE 11 usage will drop.

Also, I'm much more in favor of the "decisions over options" methodology (to some extant). When it comes to something like the grid, which is used across almost every component, we should make a decision to which grid system

[2017-06-05 07:44] JeremyEnglert commented on #8407
I'm fairly certain this was fixed in an update as I can not reproduce and the test link is working correctly.

[2017-06-05 07:44] #8407 closed

[2017-06-05 07:44] JeremyEnglert commented on #8500
@Wurstholger, feel free to open this if you are still having issues.

[2017-06-05 07:44] #8500 closed

[2017-06-05 07:49] #8568 closed

[2017-06-05 07:51] JeremyEnglert commented on #8796
This appears to have been resolved.

[2017-06-05 07:51] #8796 closed

[2017-06-05 08:28] JeremyEnglert commented on #10132
I think this may be best as part of the new prototyping classes. In fact, it's perfect for that.

A big part of the reason Foundation is popular is because it ISN'T Bootstrap or Material. Foundation gives you a much cleaner canvas to start from. If we start providing too many of these design related elements, a big reason for using Foundation is lost.

[2017-06-05 10:32] Tralapo commented on #10134
I like the idea, but as long as IE 11 is still included in Windows 10 and still set as default browser in corporate environments (like in the company I work) it's probably too early for a move this big.

The consumer market is totally different and dropping support for IE 11 wouldn't hurt much there.

[2017-06-05 13:13] Timoti opened #10136 "[Feature Request] Sass-centric Docs & Pens"
Given Zurbians are (rightly) big on promoting a semantic sass approach, why is it that the sass help and now the pens too are the poor cousins of the class-ridden non-semantic-markup approach.  Mixins are bundled together down the bottom, rather than with code examples = in fact they have no  code examples.  Same with the pens.

Case in point: the new X-Y grids - I'm really excited by this – parti

[2017-06-05 13:50] brettsmason commented on #10136
@Timoti Thanks for the very constructive feedback. As a user who uses primarily Sass myself rather than the classes I'd agree it could use some love. I'll label this and make sure its discussed and see what we can do. Do you have any suggestions or thoughts on what you would like to see?

Also I'd really appreciate your feedback on the XY grid seeing as how you expressed an interest! Would you min

[2017-06-05 14:08] joeworkman commented on #10134
I have not played with feature queries at all. But can you not just do this and have the best of both worlds?

[code]

[2017-06-05 14:40] MarineLB opened #10137 "Cannot reInit sticky after ajaxComplete"
Hello,
I have been trying to reInit the sticky module after an ajax reload for quite some time now.
To be clear : my header is supposed to be sticky all the time. It's sticky on a normal page load, but when navigating through the site, and loading another page (with ajax) the menu isn't sticky anymore.
I have tried to call `$(document).foundation()`, with no luck, then also `Foundation.reInit($('[

[2017-06-05 15:25] rafibomb opened #10138 "[XY Grid] Unexpected wrapping issue."
Just setting a basic `.grid-x` revealed an unexpected behavior.

Using this markup
[code]
Results in this
![5ydznka4ce](https://cloud.githubusercontent.com/assets/5652085/26770397/68caf20a-496b-11e7-8907-92926c947a90.gif)

But what is expected is
![aowda3ez6s](https://cloud.githubusercontent.com/assets/5652085/26770432/ac52307e-496b-11e7-9603-99c0071d90a1.gif)

[2017-06-05 15:31] brettsmason commented on #10138
@rafibomb Can you try with padding gutters and see how that works? I'm going to hazard a guess its to do with margin and `calc()` use, but not sure without testing. I'll try and look this evening.

[2017-06-05 15:44] rafibomb commented on #10138
Ahh - could be.

Here is a pen https://codepen.io/rafibomb/pen/zzxPaB?editors=1100

padding or margin both work the same here

[2017-06-05 15:45] brettsmason commented on #10138
Here's a CodePen for this: https://codepen.io/brettsmason/pen/gRbXXK
Found the issue. The `.auto` classes are receiving the flex property: `flex: 1 1 auto` but they should have `flex: 1 1 0px`.

[2017-06-05 15:45] rafibomb commented on #10138
yes good catch! flex: 1 1 0;

[2017-06-05 15:47] rafibomb commented on #10138
Confirmed that's it by comparing to previous flex grid - do you want me to PR or you got it?

[2017-06-05 15:53] #10138 closed

[2017-06-05 16:01] rafibomb commented on #10136
@Timoti Right on! Luckily - this is on the docs roadmap. There is a technical hurdle with the way the Sass docs are auto generated but it should be do able. We have working Sass codepens. We can figure out how to add the pens into the Sass docs.

We'll need help creating the pens, would you be able to help with some of those?

[2017-06-05 16:03] daren8888 commented on #8407
www.sanjoselearningcenter.com the above link was for dev. It's live now

[2017-06-05 16:10] IamManchanda commented on #10136
Sorry to be a villain :smile:
but, Sass Imported Codepen's are very slow because so much code already there in it!
I have faced this issue so i am sure about it ...

https://blog.codepen.io/documentation/editor/limitations/

[2017-06-05 16:14] rafibomb commented on #10136
Hmm, that is something to consider. Right now the Sass pens we have made take about 4 seconds to refresh. I think it could work if people know and expect that.

[2017-06-05 16:17] IamManchanda commented on #10136
I have 30-50 mbps connection and its still takes atleast 10sec ... The reason would be maybe because the server in US and for a cdn also ... they are using cloudflare instead of aws or akamai ... so its not great for every part of the world!

[2017-06-05 16:32] IamManchanda commented on #10132
@JeremyEnglert

Hmmmnnn... sounds good but i am not sure about that
@kball @rafibomb can i get a word from one of you before doing an action ??

[2017-06-05 17:56] IamManchanda commented on #10134
@joeworkman I hope this would be an option.... but this is clearly a bloat
This is exactly what desktop first media queries
We knew this wasnt the right way but as media queries wasnt fully supported in **IE** back then,
we decided to go to desktop first media queries

For eg Gutters
For flex, we need to add gutters by margin and padding
CSS Grid have this inbuilt in them aka `grid-gap` so i guess

[2017-06-05 18:16] kball commented on #10129
OK... we can prob enforce/require the href... can you see if the failing dropdown menu JS tests are related?

[2017-06-05 18:24] rafibomb opened #10140 "[webpack Module Integration] Release Candidate Feedback thread"
Good news! Foundation 6.4 has shifted to a new ES2016 module-based architecture powered by webpack. **This means speed!** Super fast JS compilation on top of being more pluggable into more environments! If you are using webpack or another module bundler, you can now import Foundation modules quick and easy resolving a major pain point of the previous architecture.

**It would be awesome if you cou

[2017-06-05 18:25] brettsmason opened #10141 "XY Grid - Feedback and Discussion"
Now that the new XY Grid has been merged and is included in the RC lets keep all discussion surrounding this in one place, and gather as much feedback to improve it as much as possible before the full release.

You’ll find a Codepen to the new grid here:
https://codepen.io/ZURBFoundation/pen/owvqYp?editors=1000

And the docs:
http://foundation.zurb.com/sites/6.4.0-rc1/docs/xy-grid.html

For previo

[2017-06-05 18:25] kball commented on #10132
This almost sounds more like a building block, no?

[2017-06-05 18:26] brettsmason commented on #10141
Currently the plan is to rename `margin/padding-gutters` classes to `.grid-margin/padding` classes.
However feedback on how we can make this more flexible (eg allow padding to be added on all 4 sides, margin on bottom too etc) would be welcomed!

[2017-06-05 18:34] rafibomb commented on #10141
Padding to create vertical spacing in the grid - my opinion is that padding as a "gutter" might now be obsolete so combining the `.grid-margin` with `.grid-padding` might be the way to achieve this - using the `$global-padding` variable

[2017-06-05 19:07] brettsmason commented on #10123
I've looked this over and the logic behind this makes sense. I think we can assume this would be for app style layouts, and setting this to `nowrap` for the child grid sounds perfectly reasonable for this sort of layout. 👍

[2017-06-05 19:56] #10123 closed

[2017-06-05 23:32] Timoti commented on #10136
Dang! But sass pens would still be valuable if we have some  control over _when_ code compiles (not sure if that's an option) .  FWIW, when I started with sass I was getting 40sec  compiles in ruby / susy - (yeah that did get fixed.. eventually :( ) so I have a sense of relativity here. But even that was still SOME use.

Conversely if Codepen folks knew that  was a dealbreaker or at least cripplin

[2017-06-05 23:58] joeworkman commented on #10134
60% of IE users are still using IE11. That number is obviously trending downwards. Just 4 months ago, that number was 70% according to https://www.w3schools.com/browsers/browsers_explorer.asp

So it really depends on the timetable for F7. If it was today... I would vote _no way_. That may be a different story 6 months from now.

[2017-06-06 07:38] Owlbertz commented on #10129
Well as far as I can see the tests use a template that has a `href` present for each link, so it is probably another issue.

[2017-06-06 08:48] Baedda commented on #10134
I think dropping IE11 support is not an option yet. What about fallbacking feature queries with modernizr? Maybe there is a way to detect the support for @supprts in first place and then include modernizr to detect other missing features and fallback css grid to flex grid?

[2017-06-06 08:53] AmritGurung opened #10143 "Select Box - Dropdown arrow not appearing normally on iOS6/Safari"
How to reproduce this bug:
1. Setup a basic html layout with foundation.
2. Insert a select box with few options.
3. View on iOS6/Safari.

What should happen and what happened instead:
The dropdown arrow should appear on the right hand side but it appears on the top left hand corner.

#### Browser(s) and Device(s) tested on:
Tested on iOS6.1.6/Safari

![img_0087](https://cloud.githubusercontent.co

[2017-06-06 09:02] AmritGurung commented on #10143
I think this bug was introduced while trying to fix [Fix overlapping select arrow #8704](https://github.com/zurb/foundation-sites/pull/8704).

The select box appears fine if we get rid of the $form-spacing, added in commit [af121b1](https://github.com/zurb/foundation-sites/commit/af121b1c8320b43e21e807d3d62a58ccc39ba473).
![img_0088](https://cloud.githubusercontent.com/assets/29224950/26821604/b03

[2017-06-06 14:32] kball commented on #10143
@AmritGurung Thank you for the bug report. Is this using Foundation 6.3.1?

[2017-06-06 14:37] MarineLB commented on #10137
Anyone ? :)

[2017-06-06 15:08] kball commented on #10137
Unfortunately this is a known issue that has lingered too long. See https://github.com/zurb/foundation-sites/issues/9047

Would you be interested in taking a crack at fixing it?

[2017-06-06 15:31] MarineLB commented on #10137
Weirdly this is a relief, I hadn't found any evidence of someone having the same problem yet...
I would definitely love to, but unfortunately it is way above my javascript level !

It seems, in the thread you referenced, that the issue happens only inside of the content that's loaded by ajax ? (In my case anyway, the header is not inside the dynamically generated content, so technically it shoudn'

[2017-06-06 15:37] IamManchanda opened #10145 "[Docs] Feature Request: Improve docs by adding Add remove columns/boxes"
I think we should be having the same thing in docs like the below video example in both Grid and Relational Mixins examples
Video Example: https://goo.gl/bCwVVT

cc @kball

Credits where its due: [jgthms/bulma](https://github.com/jgthms/bulma)

[2017-06-06 15:45] IamManchanda commented on #10119
Hey @tdhartwick @kball ... do we have a consensus on it ??

[2017-06-06 22:35] nladd opened #10147 "[Tabs] Missing documentation for required attributes"
The F6 docs for tabs do not start that the data-tabs and id attributes are required on the element with the .tabs class not that the data-tabs-content attribute is required on the element with the .tabs-content class.

As written the documentation seem to imply the only thing necessary to use tabs is to apply the .tabs, .tabs-title, .tabs-content, and .tabs-panel classes but other attributes are r

[2017-06-06 23:04] garrett-eclipse opened #10148 "Deeplinking to another accordion within an accordion on the page closes first accordion and doesn't close second"
#### How to reproduce this bug:

1. Create Two Accordions set-up for Deeplinking.
2. Within a content block on the first accordion add a deeplink to one of the second accordion items
3. Load Page
4. Open second accordion to a section other than the one that's deeplinked from the first.
4. Open first accordion to section with deeplink
5. Click deeplink
6. Note the first accordion will close, the se

[2017-06-07 00:19] canterberrie commented on #10119
I'm all for margin & padding helpers, but personally I've never felt the need for height & width classes. Doesn't the grid already do this? 🤔

[2017-06-07 01:05] rafibomb commented on #10119
I've only used the margin-bottom classes before for prototyping.

Example:
[code]

Don't think I'd use any others.

[2017-06-07 04:03] IamManchanda commented on #10119
The way it's coded you are allowed to choose  which helper classes you want and which you don't want

[2017-06-07 04:04] IamManchanda commented on #10119
It's already mentioned in the docs on how to choose specific utilities

[2017-06-07 04:07] IamManchanda commented on #10119
But yes sizing classes are debatable!

[2017-06-07 04:56] AmritGurung commented on #10143
@kball Yes, it is using Foundation 6.3.1

[2017-06-07 07:47] MissXueBB opened #10149 "Seeking Help: A brief survey of handover process in Github"
Sorry for interrupting you and we are so sorry to raise questions that are not relevant to development here.

We have e-mailed questionnaires to @mrsweaters:mrsweaters@users.noreply.github.co, @mhayes: mark@deployfx.com, @zurbchris:chris@zurb.com,  @gakimball:geoff@geoffkimball.com, @rafibomb:rafi@zurb.com, @kball:kmball11@gmail.com. You can also reply us through email if you are interested in our

[2017-06-07 10:15] dioogbento commented on #8690
Sorry to post on a closed topic. I've had a similar issue and arrived here while searching for a possible solution. I'm no expert in javascript and would like to understand why the equalizer event has to go before the foundation initialization. Thanks!

[2017-06-07 17:25] LichP commented on #6606
A similar problem occurs when the change originates from an input linked via the display_selector setting:

[code]

Invoking `set_value` causes a reflow which calls set_ui for all sliders and triggers the change events for every slider on the page, meaning that the change event of the target control is always triggered _after_ the change of some other slider if it isn't the first slider on the pag

[2017-06-07 18:15] brettsmason commented on #10143
Hmm I've looked into this. This appears to be an issue specific to version 6 of Safari. Basically it doesn't support writing a background position like `right -1rem center` so is putting it top left instead. See https://stackoverflow.com/questions/16542051/css3-background-position-issue-with-safari-only

Not sure how to go about finding a solution for this...

[2017-06-07 18:41] brettsmason opened #10150 "[6.4 RC] Menu flex wrap"
I've been testing out 6.4rc2 on a project and noticed 2 potential issues with the new menu styles.
I think we have the horizontal and vertical `flex-wrap` properties mixed up.

See https://github.com/zurb/foundation-sites/blob/develop/scss/components/_menu.scss#L163
I think horizontal should wrap, so that menu items nicely stack when there isn't enough space, and vertical should be set to `nowrap`

[2017-06-07 19:15] garrett-eclipse commented on #10148
To get Accordion Deeplinking to work when there's two accordions and the contents of the first deeplink into the second and vice versa I had to make the following changes;

1. Properly target the link,
Previous - `var $link = this.$element.find('[href$="'+anchor+'"]'),`
Fixed - `var $link = this.$element.find('.accordion-title[href$="'+anchor+'"]'),`
*This makes sure you are targeting the accordio

[2017-06-07 19:27] oxyc commented on #10140
It's somewhat ugly that you have to init the plugins, there is no way to do this on import somehow?

Would be awesome if you could do like with `lodash-es`:

[code]

[2017-06-07 20:05] garrett-eclipse commented on #10148
I had to do one final tweak to get the scrollto working onload as well as onpage. To do that I added a window.loaded check, if true just scrollto otherwise wrap the scrollto in a window.load.
Gist - https://gist.github.com/garrett-eclipse/de2e312ff8cda86ad9eb93e18d5a3f13

[2017-06-07 20:17] kball commented on #10140
@oxyc Great question, I've been stewing on this, so maybe you could help me think through it...

One item I'm thinking is to build a couple global entry points that you could import from... the one I'm confident we want is an entry that includes and initialized everything and returns the Foundation (Basically what is in `foundation-sites/js/entries/foundation.js` except returning the Foundation ob

[2017-06-07 20:21] kball commented on #10140
Another way we could take this is create an entrypoint that dynamically requires the modules you want. So you'd do something like:

[code]

The core issue/question here is that we want including the modules themselves to be side effect free, but we also want to make it super simple to get started with the currently *expected* side effects (such as setting up the jquery helper with the set of plugi

[2017-06-07 20:34] kball commented on #10148
@garrett-eclipse do you want to submit a PR with this change?

[2017-06-07 21:04] oxyc commented on #10141
Is this a bug? https://codepen.io/anon/pen/owjYyR?editors=1100

[code]

Seems something isn't getting overridden correctly as the grid overflows the container.

Also, would be great if this would add vertical gutters only between the cells (not above or below the grid itself). I often use such a pattern to separate teasers in a content listing where I dont want any trailing whitespace.

[2017-06-07 21:18] kball commented on #10141
@oxyc can you specify browser? It looks fine in Chrome, but I'm seeing an issue in Safari that looks like this:

![xy_grid_gutters___foundation_6_4_docs](https://user-images.githubusercontent.com/44007/26901910-380261c6-4b8c-11e7-8a8f-c10351a779ea.png)

@brettsmason can you look into it?

[2017-06-07 21:21] oxyc commented on #10141
In your screenshot you can see that the cells background color is not aligned with the heading, which I think it should be.

[2017-06-07 21:24] kball commented on #10141
Ah, yes, I see it. The left-right negative margin from margin gutters is getting applied even though this is a vertical grid. Good catch!

[2017-06-07 21:26] kball commented on #10141
@oxyc with regards to the vertical gutters not applying on the outside, I believe that actually is working but the h4 has a margin-bottom that is offsetting. Can you verify?

[2017-06-07 21:33] oxyc commented on #10141
Another common pattern I use is a combination of `grid-x` and the way I described `grid-y` above. Basically it would add gutters on all sides of the cells, but still align the cell content with the container. Demo https://codepen.io/anon/pen/QgjGRO?editors=1100

[2017-06-07 21:34] oxyc commented on #10141
Yes, sorry, you're correct.

[2017-06-07 21:37] kball commented on #10141
I think this is what @brettsmason @andycochran, and I have been going back and forth about in with regards to positioning gutters on multiple sides in https://github.com/zurb/foundation-sites/pull/10017

Question for you - In this situation how would you expect the gutters to behave on the bottom of the container? Would you expect the grid to be flush with the bottom, or have a gutter beneath it?

[2017-06-07 21:52] oxyc commented on #10141
I would not expect a gutter. For example I might want to wrap the grid in a `<div class="padding-2 bg-primary"></div>` where I expect the double padding to apply all around the grid. If there was a gutter below, the vertical spacing wouldn't match the horizontal. Demo https://codepen.io/anon/pen/YQyNEp?editors=1100

[2017-06-07 22:11] oxyc commented on #10140
Yes this is not ideal. Would be great if you could have a single import/init list where you just comment out the modules you dont need. If you need to maintain that list in two places you will for sure forget something and end up having to manually count the plugins you have active.

[code]

Not sure how to fix it properly, I was trying to make a POC but my webpack setup kept including all plugins

[2017-06-07 22:44] kball commented on #10140
@oxyc I think we could get it to work if we did the 2nd approach where we imported a global Foundation object and then called our imports within the actual function of the initialization... should let webpack statically analyze our imports and only pull in the ones we want. I'll take a stab at this later today or tomorrow

[2017-06-07 23:01] kball opened #10152 "y-grid margin-gutters bad reset"
As highlighted in https://github.com/zurb/foundation-sites/issues/10141#issuecomment-306924371 the `.y-grid` with margin-gutters is still getting negative margin on left and right...

I think this can be taken care of as a part of the margin/padding gutter changes we've been talking about @brettsmason - `.grid-margin-x` and `.grid-margin-y` should be responsible for those negative margins, regardl

[2017-06-07 23:54] kball commented on #10140
Hmm... taking a pass at this @oxyc it looks like I was wrong. Imports are hoisted so we can't do the import inside the function.

I also did a pass on wrapping up all of the plugins and re-exporting them to see how webpack treats it... it looks like webpack is properly identifying which ones are not needed (labeling them in the generated JS as unused harmony reexport, but there's some configuratio

[2017-06-08 06:58] brettsmason commented on #10141
@oxyc Thanks so much for your valuable feedback! I'm going to take a look at some changes this evening to address this.

[2017-06-08 06:59] brettsmason commented on #10152
@kball So I think what I've gathered is we want to do:

`.grid-margin/padding-x > .cell` and `.grid-margin/padding-y > .cell` - these classes would purely apply margin/padding to the cells. This would also apply negative margins to the grid in that axis (for margin grids anyway) so that the cells line up flush.

Then `.grid-x`/`.grid-y` would just be responsible for setting the width or height of

[2017-06-08 09:18] Daniel-Wiedemann opened #10154 "[Drilldown Menu] Missing infos for initializing a new Drilldown Menu"
In the documentation for the Drilldown Menu, in the section for initializing a new Drilldown Menu, there is missing a js library. To work alone, you have also to add the **foundation.util.box.js** plugin.

So you need:

foundation.core.js
foundation.util.keyboard.js
foundation.util.motion.js
foundation.util.nest.js
foundation.util.box.js
foundation.drilldown.js

#### How to reproduce this bug:

Fo

[2017-06-08 09:25] jovpet opened #10155 "JS events should be properly camelCased"
Hello, I've noticed a typo error in dropdown-menu component documentation regarding events.
In documentation it is marked:

instead events should be without CamelCase like this:
**show.zf.dropdownmenu** and **hide.zf.dropdownmenu**

[2017-06-08 11:14] oxyc commented on #10152
Sounds like that would solve it yes. 👍 Great work on this new grid btw, it'll solve a lot of the earlier pains I lets me drop 3-4 grid helpers I don't need anymore.

[2017-06-08 18:44] rafibomb commented on #10155
Thanks for this report! Are you able to submit a Pull Request so we can update this quicker? Or hit https://github.com/zurb/foundation-sites/edit/master/docs/pages/dropdown-menu.md

[2017-06-08 19:33] brettsmason commented on #10152
@oxyc I've put together a PR to sort this out. If you get a chance could you try it out and see if it works for you? https://github.com/zurb/foundation-sites/pull/10157
Don't worry if not 😄

[2017-06-08 20:45] garrett-eclipse commented on #10148
Made another update to the Gist as it didn't support IE.
https://gist.github.com/garrett-eclipse/de2e312ff8cda86ad9eb93e18d5a3f13

I had grabbed the original source rather than the distribution code which goes through some gulp tasks to convert the classes to functions for IE support.

[2017-06-08 21:34] getvijayji opened #10158 "aria-expanded not accepatble with role="menuitem""
I am using foundation6 data-accordion-menu, and the accordion is working fine too. but it seems that foundation6 is injecting the ARIA attributes dynamically, where it is putting aria-expanded and role="menuitem" together in <li> elements which  isn’t allowed by the ARIA spec. Is there any fix for this. And also when i am putting the role="none" in my code, this is overridden when code gets render

[2017-06-09 08:24] jovpet commented on #10155
Hello @rafibomb. I've tried to use the link you sent, but **Preventing FOUC**
is the last section in `dropdown-menu.md`. The typo I've noticed is in the **JavaScript Reference / Events** section. Where could I find that part to edit and make a PR?

[2017-06-09 11:02] brettsmason commented on #10158
@getvijayji thanks for reporting this. Can you let me know how this should be setup in order to pass?

[2017-06-09 11:12] brettsmason commented on #10158
@getvijayji Having looked at this again I can see its actually been fixed in the upcoming 6.4 release, see here: https://github.com/zurb/foundation-sites/pull/10064. I'm going to close this.

[2017-06-09 11:12] #10158 closed

[2017-06-09 13:48] ryanjavens opened #10161 "Unexpected character '`' when building using Blendid and Foundation 6.4.0-rc"
Hi everyone!

I'm having an issue with compiling Javascript using 6.4.0-rc-x. I've narrowed the issue down to something that the newest version of Foundation is causing, but I'm not sure if it is an incompatible script on Blendid's behalf or if it is an issue in Foundation. I hope you don't mind that I've posted this bug in both Blendid's repo and here to see what answers I can get.

#### How to r

[2017-06-09 15:33] IamManchanda commented on #10132
I feel this like a component rather than a prototype utility first and foremost
But I don't concur that it doesn't deserve to be in the core component sections!

Secondly I personally think for f7 to {theme up}
We would want components of material design to be a part of the components in the core section (of course as a flat design) like this one and #9645 ??

[2017-06-09 16:38] tobireif opened #10162 "Buttons should be button elements"
For example at

http://foundation.zurb.com/sites/docs/kitchen-sink.html#button

the buttons are coded as

[code]

instead of

[code]

The element named "button" would be the right element for buttons, and works nicely, see eg the button at
https://tobireif.com/posts/observing_changes_using_ES6_proxies/
(near the bottom)

I also suspect it would be much more accessible, because screens readers etc

[2017-06-09 17:37] kball commented on #10161
HI @ryanjavens
Thank you for the report... I just checked out your repository and it appears to be working properly (results of my build posted below). And looking at the app.js the page is loading, it seems to have all of the Foundation JS in there... I'm not familiar with blendid, just cloned your repository and did `yarn install` followed by `yarn blendid --build`, is there anything else I shou

[2017-06-09 17:54] ryanjavens commented on #10161
Hey @kball!

I appreciate your reply! Would you be able to run your build again by using `yarn blendid -- build` to see if you can recreate my error? Blendid is really nitpicky and threw me off the first time too, but the space after the two dashes is how Blendid handles arguments.  `yarn blendid --build` opens a dev environment whereas `yarn blendid -- build` will try to create production assets.

[2017-06-09 17:58] rafibomb commented on #10162
Hmm, I understand what you're going for. An anchor can look like a button but still be a link, right?

We explain the difference here:
http://foundation.zurb.com/sites/docs/button.html#basics

Is there still an error?

[2017-06-09 18:01] kball commented on #10161
@ryanjavens Thanks, now I am able to reproduce the issue. I'll see what I can figure out.

[2017-06-09 18:02] rafibomb commented on #10155
Oh - gotcha. It's in the auto generated docs, so you can do this through traditional PR in the JS file:
https://github.com/zurb/foundation-sites/blob/develop/js/foundation.dropdownMenu.js#L310

[2017-06-09 18:05] IamManchanda commented on #10162
I strongly believe that
`<button>` ,
`<button class='button'> ,
`<button class='button primary'>

Should work equal

[2017-06-09 18:16] joeworkman commented on #10162
It has always bothered me. `<button>` should not be the same as `<button class="button">`

A `<button>` is standard HTML5 element that I feel should be used for anything that could be used as a button. For example, the close button on a lightbox. If we style `<button>` the same as `<button class="button">` we are giving designer zero freedom to use then button tag for anything else other than a st

[2017-06-09 18:27] kball commented on #10162
For 7 I think we should separate all styling to classes - elements should be reset and have no styles attached to element

[2017-06-09 18:29] IamManchanda commented on #10162
I personally don't think it's bad
But maybe you have a point!

[2017-06-09 18:39] brettsmason commented on #10152
Closing as this is now included 😄

[2017-06-09 18:39] #10152 closed

[2017-06-09 19:11] tobireif commented on #10162
I think the problem came from when I inspected the button demo

http://foundation.zurb.com/sites/docs/kitchen-sink.html#button

and (each time I checked) found that the respective button (in the Kitchensink demo section named "Button") was coded using an <a/> element.

Perhaps it would lessen the confusion of people new to Foundation if you'd have only <button/> buttons in the kitchen sink section

[2017-06-09 21:19] rafibomb commented on #10162
@joeworkman Foundation 5 styles the `<button>` tag but in F6 there is no Foundation styles added to a `<button>` unless the `.button` class is added.

@tobireif looks like there is mix of both in the example and they are commented.
![screen shot 2017-06-09 at 2 15 57 pm](https://user-images.githubusercontent.com/5652085/26994840-6cf5dac8-4d1e-11e7-9abf-56f54bc0f23f.png)

We're not opposed to a cha

[2017-06-09 21:21] joeworkman commented on #10162
@rafibomb 🎸 ⭐️

[2017-06-10 11:32] arjendejong12 commented on #10141
What are the XY grid equivalents of the Sass mixins `@include flex-grid-row()` and `@include flex-grid-columns()`?

[2017-06-10 21:02] brettsmason commented on #10150
A CodePen example of the issue: https://codepen.io/brettsmason/pen/OgNMdB along with the fixed versions. I'll put a PR together for this tomorrow.

[2017-06-10 21:07] brettsmason commented on #10141
@arjendejong12 Currently the mixins are `xy-grid` (https://github.com/zurb/foundation-sites/blob/develop/scss/xy-grid/_grid.scss#L23) and `xy-cell` (https://github.com/zurb/foundation-sites/blob/develop/scss/xy-grid/_cell.scss#L100). With the complexity of the class requirement with the new grid, the mixins have been problematic and I've struggled to find users who use mixins to get feedback.

If

[2017-06-10 23:26] arjendejong12 commented on #10141
Thank you, it seems I was right about those mixins. I was confused by the documentation about `xy-cell($size)` only accepting `full`, `auto`, and `shrink`, while I was looking for `xy-cell()` to provide me with the number of columns I'd want, just like `flex-grid-columns()`, but it seems `xy-cell()` also accepts numbers. So it works now and I also changed `xy-cell($gutter-type)` to `padding`, whic

[2017-06-10 23:33] JeremyEnglert commented on #10141
I think we need to add some docs about cell-block and cell-block container. There's information about the mixins, but it may deserve it's own section in the XY docs.

[2017-06-11 01:04] JeremyEnglert commented on #10140
I'm slightly confused by which files should be imported - however, this may just be because I'm not super familiar with Webpack yet.

There are a lot of similar JS files.

**foundation-sites/dist/js/plugins** - I'm assuming this is the non-webpack JS files.
**foundation-sites/js/entries/plugins** - These look like the files to import into Webpack.
**foundation-sites/js/** - Not sure what these are

[2017-06-11 09:49] simshaun opened #10167 "[XY Grid] Cells improperly wrap when relying on cell size inheritance from smaller screens"
**v6.4.0-rc3**

CodePen: https://codepen.io/simshaun/pen/rweyxg

Coming from the flex grid, I'm used to being able to declare the column width for the smallest effective screen size, and the larger screens would simply inherit from the smaller. e.g. `.row>.small-8.columns+.small-4.columns`. I'm trying to do the same thing with a grid-x, grid-margin-x grid. e.g.

    <div class="grid-x grid-margin-

[2017-06-11 10:13] IamManchanda commented on #10167
Thanks for the bug report ... Added a PR #10168

[2017-06-11 10:15] IamManchanda commented on #10167
@simshaun i hope this was what you were looking for

![screenshot from 2017-06-11 15-44-59](https://user-images.githubusercontent.com/4970624/27010222-03bad270-4ebd-11e7-9d92-4a394f670ae9.png)

[2017-06-11 15:42] Yanchek99 opened #10169 "[6.3.1][Sticky] Sticky navigation does not stick in iOS Safari for iPhone"
#### How to reproduce this bug:

1. Must either view pen on an iPhone Safari browser or using macOS Safari in Responsive Design Mode set to any of the iPhone models.
2. Execute code pen or documentation and note that the sticky navigation is no longer sticky.
3. Works as expected for tablets and desktops

Can also reproduce against the documentation http://foundation.zurb.com/sites/docs/sticky.htm

[2017-06-11 16:10] IamManchanda commented on #10169
Hmmn... can confirm :)

[2017-06-11 16:16] IamManchanda commented on #10169
@Yanchek99 Off late you have been helping us really out with flex bugs
Would be great if you have some feedback/bug report for our upcoming new grid (flex) - XY Grid
http://foundation.zurb.com/sites/6.4.0-rc/docs/xy-grid.html

You can create the pen from these cdn files in here https://cdnjs.com/libraries/foundation/6.4.0-rc3